[2016-06-04 14:51] tonysurma opened #799 "Go Live Release Scenario"
This is an overall issue to document the scenario we are trying to go live with in June.

The key requirements are collecting data from getasmokealarm, the organizer workflow for itinerary type events, volunteers interaction with itinerary type events and tracking status of requests (incomplete, complete, pending, etc.)

[2016-06-04 16:32] tonysurma opened #800 "Build Failure: Need to fix ASAP"
https://github.com/HTBox/allReady/pull/757

[2016-06-04 19:33] #782 closed

[2016-06-05 00:09] robrich commented on #706
@tonysurma: on today's stand-up you clarified that a task was a unique set of skills, time, and place.  In the bullets above, it notes only skills and time.

[2016-06-05 00:22] robrich commented on #618
http://allready-d.azurewebsites.net/Campaign/9 -> click on "Installs" -> blows up loading http://allready-d.azurewebsites.net/Event/1.  I'm not able to reproduce this locally either.

[2016-06-05 00:31] robrich commented on #193
The homepage no longer contains a zip code box.  Close this?

[2016-06-05 00:32] robrich commented on #508
As it's superceded by #709, should we close this?

[2016-06-05 00:48] robrich commented on #314
https://github.com/HTBox/allReady/blob/master/appveyor.yml#L34 puts the version into version.json on every appveyor build.  How are builds deployed to allready-d.azurewebsites.net?

[2016-06-05 15:10] tonysurma commented on #314
Azure website  auto deployment from GitHub.

Perhaps we need to duplicate that to deploy cmd or similar

[2016-06-05 15:11] #193 closed

[2016-06-05 15:13] tonysurma commented on #618
Hmmm so only happens on the deployed site?

[2016-06-05 15:15] #702 closed

[2016-06-05 15:17] tonysurma commented on #706
That is cuz place isn't ' real thing' in our system (and shouldn't be) so that one is more a use concept while skills and time exist in our system

[2016-06-05 17:06] VishalMadhvani commented on #618
The exception is thrown if a Task in the Event has a RequiredSkill owned by an Organisation.

The code is currently serialising the Skill's Entity so I've introduced a SkillViewModel without navigation properties that will get serialised instead.

See PR #807

[2016-06-06 07:24] stevejgordon opened #808 "Add page to create an itinerary for an event"
Breakout item from issue #799

A basic page is needed which allows an organizer to create a new itinerary for an event. The itinerary will be bound to a specific date on which any attached requests are expected to be completed.

Requests can be added to an itinerary if they are not already completed or attached to an existing future itinerary.

A team of volunteers can be selected from the availab

[2016-06-06 07:24] stevejgordon commented on #808
@tonysurma Please assign to me

[2016-06-06 10:32] mgmccarthy commented on #800
@tonysurma, I can take a look this morning.

[2016-06-06 12:35] stevejgordon opened #809 "Add initial Itinerary DB Model schema"
Links to master issue #799

In order to persist itineraries into the database we need some additional models to define the database schema and the relationships.

I'm proposing at this stage we create an Itinerary model which stores the date an itinerary is scheduled to occur. An event can have 0 or more itineraries.

I propose we then have a many to many relationship between requests and itinerar

[2016-06-06 13:21] tonysurma commented on #809
Quick  answers from phone: Yes, yes, assumed from task

[2016-06-06 13:33] stevejgordon commented on #809
@tonysurma Thanks, that should get me going. I'll try to get a PR in with the initial bits so it can be sanity checked as I go.

[2016-06-07 01:55] rmcc13 commented on #787
Here is an overview of what I am working on. The last commit included unit tests for success verifying expected behavior. Each test made two assertions: 1) Make sure the `TaskSignup` object has the expected `TaskStatus` value and 2) make sure the handler's `Handle` method published a `TaskSignupStatusChanged` notification once, and only once.

#### Current tests from last commit:

- Setting `TaskS

[2016-06-07 11:08] mgmccarthy commented on #787
@rmcc13, thanks for the update. I'll take a look at the code to make sure all the tests you're going to write need to be written.

I'll also try to get to that code review for you last commit on this Issue today at some point.

[2016-06-07 11:49] rmcc13 commented on #787
OK cool, thanks

[2016-06-07 13:15] stevejgordon opened #812 "Display itineraries on Event Details admin page"
Breakout item from issue #799

The event details page should display a list of the itineraries that have been created for the event.

This should only be shown if the event type is an itinerary managed event

[2016-06-07 13:15] stevejgordon commented on #812
@tonysurma I've started work on this and will hopefully get an initial PR in for it later today

[2016-06-07 13:20] stevejgordon opened #813 "Request should map to Event"
The Request DB model needs a navigational property to link it to an event.

A request can link to a single event. An event can have many requests.

[2016-06-07 15:14] stevejgordon opened #814 "Latitude property is misspelt on Request"
Lattitude currently has three t's but should have two - i.e. Latitude

[2016-06-07 15:27] robrich commented on #314
Let's see if https://github.com/HTBox/allReady/pull/815 solves it.

[2016-06-07 15:29] stevejgordon commented on #809
@tonysurma I tagged the PR incorrectly (always seem to do that) so this didn't auto close!

[2016-06-07 15:31] tonysurma commented on #813
Did you cover this in the last PR?

[2016-06-07 15:37] tonysurma commented on #809
@stevejgordon no worries 😄

[2016-06-07 15:37] #809 closed

[2016-06-07 15:40] #314 closed

[2016-06-07 15:44] stevejgordon commented on #813
@tonysurma No this needs a small extra PR. You can assign this and #814 to me. I have a PR in my head, just need to type it out when I get home.

[2016-06-07 15:46] stevejgordon commented on #814
@tonysurma Since I'll be adding a migration for #813 I'll include this issue in that PR later.

[2016-06-07 15:53] tonysurma commented on #314
It's alive!
![snip_20160607105154](https://cloud.githubusercontent.com/assets/5067595/15864748/ec297d7e-2c9d-11e6-8130-fee49afe7d24.png)

[2016-06-07 16:03] robrich commented on #314
In my eagerness to avoid the third copy of the 1.0.0 version number, I pulled that line from version.json too, yielding a blank product version.  https://github.com/HTBox/allReady/pull/816 should solve this.  https://github.com/HTBox/allReady/pull/817 also shortens it from the full hash to the first 7 digits -- a bit less overwhelming for the non-techie who I'm sure said "get that big squashed bug

[2016-06-07 16:18] #800 closed

[2016-06-07 16:26] robrich commented on #618
https://github.com/HTBox/allReady/pull/807 solves this ... together with @tonysurma flashing the database.  Well done.  We can close this.

[2016-06-07 16:29] robrich commented on #482
I like this syntax as well.  I've been using http://www.fluentassertions.com/ (https://github.com/dennisdoomen/FluentAssertions) which has been ported to .net core.  Fluent Assertions also makes incredibly awesome test fail messages.

[2016-06-07 16:55] stevejgordon commented on #482
I've recently been using fluent assertions on a few work projects and do prefer the syntax and readability of the assertions. Glad to here it has a .net core port. Does that support RC2 when we are ready to move forward with a migration? Although we now have RTM date for 27th June so perhaps we skip straight to RTM.

[2016-06-07 16:56] stevejgordon commented on #740
RTM date is June 27th so perhaps we wait and skip straight to that to avoid two sets of work?

[2016-06-07 18:18] #618 closed

[2016-06-07 18:49] stevejgordon opened #820 "After Activity to Event Areas/Admin/Features/Activities folder was not renamed"
Activities folder should be renamed to Events

[2016-06-07 18:49] stevejgordon commented on #820
@tonysurma Once the other PRs which touch files in this folder are merged I can submit a PR to rename this.

[2016-06-07 19:14] #812 closed

[2016-06-07 19:36] #820 closed

[2016-06-07 20:23] stevejgordon opened #823 "Add Itinerary details page"
Breakout from issue #799

Create an initial page to view the itinerary details.

This page will be linked from the Event Details page, itineraries list. This page will initially provide very basic itinerary details.

We will extend to add ability to manage the team and requests.

[2016-06-07 20:24] stevejgordon commented on #823
@tonysurma Working on this now before the create itineraries page

[2016-06-07 20:55] #813 closed

[2016-06-07 20:55] #814 closed

[2016-06-07 21:06] stevejgordon opened #825 "Add tests for ItineraryDetailQueryHandlerAsync"
Follow up from issue #823

Reminder to add some tests for the query logic in the ItineraryDetailQueryHandlerAsync

A stub test class already exists with some in memory seed data.

[2016-06-07 21:50] #823 closed

[2016-06-08 01:04] mgmccarthy commented on #787
@rmcc13, thanks for the contribution. This PR looks solid. @tonysurma, when you get a chance, go ahead and accept the PR

[2016-06-08 03:25] tonysurma commented on #787
Probably missing something but where is the PR? Thx

[2016-06-08 03:34] #796 closed

[2016-06-08 12:17] mgmccarthy commented on #787
@tonysurma, I see this commit above: https://github.com/rmcc13/allReady/commit/a1fe5b25bcef6b65099db61658ace74110ecc236, but I don't see a PR.

@rmcc13, did you mean to create a PR for this work, or are you waiting to create a PR when the rest of the tests are done?

If you're waiting, it's easier on the code reviewers/owners to do reviews of small PR's rather than large ones. Let us know.

[2016-06-08 14:51] #825 closed

[2016-06-08 16:56] stevejgordon opened #829 "Event edit fails"
This page is currently failing. It looks like an issue with the use of the EventTypes enum which has been renamed to EventType

[2016-06-08 16:57] stevejgordon opened #830 "Display linked team members on Itinerary details page"
Display a table of the assigned / linked team members for an Itinerary

[2016-06-08 16:57] stevejgordon commented on #830
I'm working on this currently

[2016-06-08 18:04] stevejgordon opened #832 "TaskSignup Status is possibly brittle"
At the moment the TaskSignup status is stored as a string created from an enum.

It might be better to add the enum to the model rather than a string.

[2016-06-08 18:12] #808 closed

[2016-06-08 18:12] #829 closed

[2016-06-08 18:45] stevejgordon opened #834 "Itinerary Details breadcrumb incomplete"
The breadcrumb doesn't display the prior links to the campaign which might be useful.

The links will need to be built up and the model extended to include the campaign id and name

[2016-06-08 18:48] stevejgordon opened #835 "Add ability to add team members to itinerary"
We need to be able to select from potential team members and add them to an itinerary. The following rules must apply.

They must be assigned (and accepted) to a task from the same event. That task must occur on the same date as the itinerary is scheduled for. Only users who are not part of an itinerary for that day already should be shown.

@tonysurma I'm working on this currently.

[2016-06-08 21:51] rmcc13 commented on #787
I was waiting to create a PR, but I can do one now. I wasn't too sure of your workflow.

[2016-06-08 23:00] mgmccarthy commented on #787
@rmcc13, you can create as many PR's as you want to against this issue. Makes the review process a little easier.

[2016-06-08 23:02] rmcc13 commented on #787
OK sounds good, thanks!

[2016-06-09 12:43] stevejgordon commented on #835
Update - Worked on this in the morning. Getting close so hope to have something I can check in soon.

[2016-06-09 16:38] #830 closed

[2016-06-09 18:34] stevejgordon opened #838 "Add tests for AddTeamMemberCommandHandlerAsync"
Per PR #837 we need tests around this mediator handler to validate the query logic and behaviour.

[2016-06-09 18:38] stevejgordon opened #839 "Enhance quick add team member UX"
Follow up from PR #837

At the moment the structure of the AddTeamMember action and the form which calls it from Itinerary Details does not provide UI feedback in the case of a failure.

We should implement the form post via ajax and handle better display of any errors.

We should enhance the AddTeamMemberCommandHandlerAsync to return details of any failures so that an appropriate error response c

[2016-06-09 18:46] stevejgordon opened #840 "Validate if new users are required to complete their name"
This is required so we can display their name on itineraries and within the application.

@tonysurma - A couple of questions around this

1. Currently name is a single field. Would this be better if split to forename and surname?
2. Should we prevent task signups until someone has provided their name? A downside would be a slighter bigger barrier to entry for volunteers. An alternative is we promo

[2016-06-09 18:47] stevejgordon opened #841 "Show user's name on itinerary"
On the team member list, shown the user name if provided

[2016-06-09 22:21] #835 closed

[2016-06-09 22:24] tonysurma commented on #840
1. Yes
2. I think we need to enforce name or we prompt but don't enforce

@OhMcGoo, @adedonato what do you think?

[2016-06-09 22:40] adedonato commented on #840
1. Yes, I think splitting the name into forename and surname field would be best.
2. I think we should enforce names.

[2016-06-09 22:47] tonysurma commented on #840
Thanks @adedonato !

[2016-06-10 04:06] SteveKennedy opened #842 "Mobile-App Events Page Lists Fake Events"
The events page on the TACO (Tools for Apache Cordova) project appears to have a number of false event entries immediately following real one(s). They are labelled with "Missing Date" as shown in first attached image.

![events](https://cloud.githubusercontent.com/assets/12101125/15953925/4e68ddbe-2e96-11e6-8ddc-7b6c54bb5e51.png)

Remove the extraneous events and the screen should look something l

[2016-06-10 12:00] stevejgordon commented on #840
Thanks @adedonato and @tonysurma - For a regular signup this should be quite simple as we can expose the name fields on the register form as required.

I need to double check the signup flow from Facebook etc where this may not always have this data available. I think the flow brings them to a page to complete their account so this could be quick simple. I need to setup my dev machine with Faceboo

[2016-06-10 12:03] stevejgordon opened #846 "Split User "name" property"
We currently have a name property on the user. This should be broken up into Forename and Surname and any uses of name updated.

Any forms where the user can add their name will need to be adjusted also.

[2016-06-10 12:20] stevejgordon opened #848 "Request Status and History"
Currently we the following possible statuses for a request:

New,
Assigned,
Completed,
Canceled

These belong to the request object.

In the context of a single request to itinerary mapping these feel reasonable but in the case where a request is assigned to Itinerary 1 but not completed (door not answered) it should go back into the pool for assignment to a new itinerary.

This means we need to e

[2016-06-10 12:21] stevejgordon opened #849 "Display assigned requests on Itinerary Details"
Provide a list of the currently assigned requests on the Itinerary details

[2016-06-10 12:21] stevejgordon commented on #849
Working on this

[2016-06-10 12:23] stevejgordon commented on #848
Thinking about it further it might be useful for future dashboard reporting to have a select list of common reasons for failure (as listed above) which the volunteer selects from. That way we can record failures in a table somewhere and use that to allow organizers to review the number of failed requests in a graph? Might be useful for understanding how plans need to be adjusted or where time is l

[2016-06-10 13:24] stevejgordon opened #851 "Add request to itinerary"
Implement a lister of available requests with some method to add them to the itinerary.

v1 will be quite simple but could be extended to include searching and location grouping etc.

When a request is added it's status should be updated to assigned.

[2016-06-10 13:24] stevejgordon commented on #851
I'll work on this next

[2016-06-10 13:28] stevejgordon commented on #848
Further thoughts!! We may need to store some of the status info such as missed etc against the request-itinerary assignment, since that status / history will be relevant in the context of that request only. We would want to be able to see the completion/failure  of requests within the particular itinerary. For example:

Request assigned to itinerary 1. Homeowner not available. - Shows as incomplet

[2016-06-10 13:32] stevejgordon commented on #848
Further, further thought! The concept above of dropdown of possible failure reasons might be difficult since each event may have very different activities and therefore failures. Homeowner not available would make sense for smoke alarm installs but not for campaigns geared around putting up warning signage.

If we want this, perhaps the campaign organizer would have to setup potential failure opti

[2016-06-10 13:47] stevejgordon commented on #851
@tonysurma When a request is assigned to an itinerary are we requiring the ability to set planned start time and end time against each request? This feels like it might be useful for organizers to manage the planning? If it is something we expect this may add quite a lot of extra behavior and logic so it would be useful to know if it's key for this initial release or more of a future requirement t

[2016-06-10 13:52] tonysurma commented on #851
Not key for this, maybe someday.

What would be good for now is ordering of requests in itinerary so can specify first second etc

[2016-06-11 13:50] #834 closed

[2016-06-11 13:50] #841 closed

[2016-06-11 13:53] tonysurma commented on #842
fixed by #843

[2016-06-11 13:53] #842 closed

[2016-06-11 14:02] tonysurma commented on #848
Okay I am going to try and review these Deep Thoughts by @stevejgordon (tm) later today 😄

[2016-06-11 14:04] tonysurma commented on #787
Thanks again @rmcc13.  I have invited you to the repo so I can assign this and other tasks to you etc.  Thanks!

[2016-06-11 14:08] #735 closed

[2016-06-11 14:09] tonysurma commented on #753
closed by #756

[2016-06-11 14:09] #753 closed

[2016-06-12 07:24] stevejgordon commented on #851
@tonysurma Sounds good. Cheers

[2016-06-13 00:53] #849 closed

[2016-06-13 09:17] stevejgordon opened #853 "Unable to Create Event"
Currently creating/editing an event seems to be failing with a validation that name is required. However the name field has been populated correctly.

![image](https://cloud.githubusercontent.com/assets/3669103/16002524/0410f974-3150-11e6-90e4-bd493331ab9e.png)

[2016-06-13 12:24] stevejgordon commented on #853
Found the issue. Working to refactor the models a little.

[2016-06-13 12:49] #853 closed

[2016-06-13 14:47] tonysurma commented on #848
To your first thought, yes that sounds reasonable/right and table for history will really help seeing what happened when with the request.

"thinking about it further" yes I could see a future requirement for a reason (either choice or perhaps just text entry)

Further thoughts - yes it would be good for the history table to have a itinerary id or similar so status update history entries can indic

[2016-06-13 15:52] mgmccarthy commented on #846
@stevejgordon, we're talking about making this change on `AllReady.Models.ApplicationUser`?

[2016-06-13 15:55] stevejgordon commented on #846
Yes I think so.

Sent from my Windows Phone
________________________________
From: Michael McCarthy<mailto:notifications@github.com>
Sent: ‎13/‎06/‎2016 16:52
To: HTBox/allReady<mailto:allReady@noreply.github.com>
Cc: Steve Gordon<mailto:sgordon@hotmail.co.uk>; Mention<mailto:mention@noreply.github.com>
Subject: Re: [HTBox/allReady] Split User "name" property (#846)

@stevejgordon, we're talking a

[2016-06-13 16:02] mgmccarthy commented on #846
@stevejgordon, I'll take this and work on it. I'll reach out to you with any questions, thanks

[2016-06-13 18:56] mgmccarthy commented on #846
@stevejgordon, I'm hung up on my work b/c of dnx ef migration stuff. Even though I fixed it once on this machine before, and when I check my PATH environmental variables there is an entry for dnx, I can't get a cmd prompt or powershell prompt to recognize "dnx ef".

I THINK I need a migration for `ApplicationUser`, b/c that's the entity I'm changing. However, this inherits from `IdentityUser`, so

[2016-06-13 19:09] mgmccarthy commented on #846
@stevejgordon, never mind. Got it working

[2016-06-13 20:22] mgmccarthy commented on #846
@tonysurma @stevejgordon  do we want these fields called "Forename" and "Surname", or "First Name" and "Last Name"?

[2016-06-13 20:25] tonysurma commented on #846
We have no hard requirements one way or other and there is no clear worldwide solution for the naming of 'names' that I can identify.  Pick one and we can edit later if needs be.

[2016-06-13 20:50] stevejgordon commented on #846
I'm out currently but perhaps can chat tomorrow if you still have issues? Was it when creating a migration or trying to update database with the new ones?

As for naming, I personally prefer forename / surname but I don't think it matters too much. Both are pretty clear.

Sent from my Windows Phone
________________________________
From: Michael McCarthy<mailto:notifications@github.com>
Sent: ‎13/‎

[2016-06-14 12:27] mgmccarthy opened #857 "ViewModel organization under "ViewModels" directory"
first off, this is low priority, but I wanted to record it while I was thinking of it.

we currently have come classes in here (AccountViewModels) that contain multiple ViewModel classes for the same controller.

We should organize the ViewModels folder to have the name of the controller as a directory, and then all relevant ViewModel classes go under that directory. The View folder is organized i

[2016-06-14 12:29] stevejgordon commented on #857
@mgmccarthy Yep, I very much agree. We're starting to build up a lot of models for the various areas. I've actually started doing this with some of my itinerary pieces

[2016-06-14 12:37] mgmccarthy commented on #857
seems that some of our ViewModels are shared. I'm not a big fan of this as I'd rather deal with discreet ViewModels that are targeted to specific controller actions rather than "shared" ViewModels used across controllers.

Sharing ViewModels encourages the class to become a dumping ground for things that do not belong there, such as business rules, db/mediator code etc...

This pattern really brea

[2016-06-14 14:25] tonysurma commented on #857
Feels like this could be labeled jumpin or am I crazy?

[2016-06-14 14:29] tonysurma commented on #840
Could we do Option 1 and redirect to the validation screen if they provide a phone or is that too crazy?

Alternatively Option 2 could work but it feels 'less slick' than Option 1 and more painful as you said.

Lastly yes, mobile phone number should be required.  at this point that shouldn't be a huge impediment for near turn scenarios and we can always adapt/relax this in the future

[2016-06-14 16:19] mgmccarthy commented on #857
@tonysurma, could be labeled as such. I guess any ViewModels that are shared between more than one controller should be put into a Shared folder and any ViewModels that are not really tied back to any controller could be left directly under the existing /ViewModels folder.

I have ReSharper installed on my system, so I could probably knock this out today if you want to assign it to me

[2016-06-14 16:39] tonysurma commented on #857
done

[2016-06-14 19:45] #846 closed

[2016-06-15 01:29] mgmccarthy opened #860 "write unit tests for NotifyAdminForSignup"
@tonysurma please label with "jump-in". Part of Issue #620

[2016-06-15 01:29] mgmccarthy opened #861 "write unit tests for NotifyAdminForTaskSignupStatusChange"
@tonysurma please label with "jump-in". Part of Issue #620

[2016-06-15 01:30] mgmccarthy opened #862 "write unit tests for NotifyAdminForUserUnenrolls"
@tonysurma please label with "jump-in". Part of Issue #620

[2016-06-15 01:32] mgmccarthy opened #863 "write unit tests for CampaignSummaryQueryHandler"
@tonysurma please label with "jump-in". Part of Issue #620

[2016-06-15 01:32] mgmccarthy opened #864 "write unit tests for OrganizationContactQueryHandler"
@tonysurma please label with "jump-in". Part of Issue #620

[2016-06-15 01:33] mgmccarthy opened #865 "write unit tests for OrganizationDetailQueryHandler"
@tonysurma please label with "jump-in". Part of Issue #620

[2016-06-15 01:34] mgmccarthy opened #866 "write unit tests for OrganizationEditQueryHandler"
@tonysurma please label with "jump-in". Part of Issue #620

[2016-06-15 01:35] mgmccarthy opened #867 "write unit tests for OrganizationSelectListQueryHandlerAsync"
@tonysurma please label with "jump-in". Part of Issue #620

[2016-06-15 01:35] mgmccarthy opened #868 "write unit tests for AssignTaskCommandHandlerAsync"
@tonysurma please label with "jump-in". Part of Issue #620

[2016-06-15 01:37] mgmccarthy opened #869 "write unit tests for EditTaskQueryHandler"
@tonysurma please label with "jump-in". Part of Issue #620

[2016-06-15 01:37] mgmccarthy opened #870 "write unit tests for TaskListQueryHandler"
@tonysurma please label with "jump-in". Part of Issue #620

[2016-06-15 01:38] mgmccarthy opened #871 "write unit tests for UserQueryHandler"
@tonysurma please label with "jump-in". Part of Issue #620

[2016-06-15 02:27] #857 closed

[2016-06-15 03:27] tonysurma commented on #871
thx for all of these, done in one big swoop 💪

[2016-06-15 11:04] mgmccarthy commented on #871
@tonysurma, I've had a compiled list on my machine of all missing unit tests for awhile now, I just needed to get them into allReady. I figured our "jump-in" labels have been attracting new programmers that have been doing an excellent job on unit tests, so might as well just create all of them.

That being said it is a lot to look at on the Issues page, but at least they're in the system now.

[2016-06-15 20:54] mgmccarthy commented on #867
I am currently working on this

[2016-06-15 20:57] mgmccarthy commented on #871
I am currently working on this

[2016-06-15 22:53] rmcc13 commented on #787
@tonysurma @mgmccarthy Just wondering if you guys think anything else needs to be done or if I can pick up another issue.

[2016-06-15 22:58] mgmccarthy commented on #787
@rmcc13, there were a bunch of jump-in issues added last night, mainly around handler testing. Feel free to pick any of them.  Thanks!

[2016-06-15 23:28] tonysurma commented on #787
Those are good to look at as well as any P1-P3 issue in either of the June go live milestones in the issue list as those are the ones high priority for users.  Thanks!

[2016-06-16 08:04] stevejgordon opened #873 "Instrumentation, Logging and Analytics"
As we get closer to a real deployment of allReady I'm starting to think about things like instrumentation, logging and analytics. I realise that probably make me seem dull! :smile:

It would be really useful as we start to have allReady used by real users to have the ability to understand how it's used, how it performs and when it errors. That way we can build up data to drive future issues and en

[2016-06-16 08:35] stevejgordon opened #874 "Notify volunteer if assigned/unassigned to an itinerary"
We should notify a volunteer if they are assigned or unassigned to an itinerary.

There are already some classes handling notifications within the current code so perhaps we can base this code off of those / reuse?

[2016-06-16 13:12] mgmccarthy commented on #874
@stevejgordon, if you want me to have a crack at this, I will. I'm assuming we want to know if we should reuse the current handling classes though... would that be something @MisterJames @BillWagner  or @tonysurma could give us guidance on?

[2016-06-16 13:16] stevejgordon opened #876 "Ability to re-order requests in an itinerary"
We need to be able to do basic request ordering on the itinerary management page.

The schema includes an orderindex column which we'll use to do this.

[2016-06-16 13:16] stevejgordon commented on #876
@tonysurma You can assign to me please as I have a small start on this

[2016-06-16 13:17] stevejgordon opened #877 "Ability to unassign requests"
We need to be able to unassign a request from the the Itinerary management page.

This will remove the assignment mapping and change the status.

In a future feature this should also update the itinerary / request history.

[2016-06-16 13:18] stevejgordon commented on #877
@tonysurma I also have a piece of code which starts this off so please assign to me.

[2016-06-16 13:18] tonysurma commented on #874
I would reuse and @MisterJames should be your contact for that

[2016-06-16 13:19] stevejgordon opened #878 "ItineraryController (admin area) tests"
We need some tests around the logic and behaviour of the new actions added for the ItineraryController in the admin part of the site.

[2016-06-16 13:19] stevejgordon commented on #878
@mgmccarthy Perhaps something you can look into and create some stubs for others to be able to pick up?

[2016-06-16 13:20] stevejgordon opened #879 "AddRequestsCommandHandlerAsync tests"
We need some tests to validate the behaviour of adding requests via this handler.

[2016-06-16 13:21] mgmccarthy commented on #878
@stevejgordon, I'll work on stubbing out the test names for the controller, then we can add an jump-in label to a new issue.

[2016-06-16 13:22] stevejgordon commented on #874
@mgmccarthy Yes please have a go at this one. I've not looked at the existing ones in detail myself but  can do if you need any advice as you dive into it.

[2016-06-16 13:23] #851 closed

[2016-06-16 13:34] stevejgordon commented on #878
@mgmccarthy Thanks. If you have any questions about the logic I've tried to implement just let me know. I think the controller is reasonable straightforward. I left some comments in my latest commited code as well.

[2016-06-16 15:15] stevejgordon opened #880 "Missing changes"
PR #875 has gone a bit wrong and doesn't look to have been rebased correctly so it has overwritten some prior commits.

Please assign to me as I'll be unpicking my mistake a little later.

Apologies to all!

[2016-06-16 19:46] stevejgordon opened #883 "Manage your account"
First name and Last name display names needed.

Currently does not show the labels with the spaces.

![image](https://cloud.githubusercontent.com/assets/3669103/16130908/467ce678-3403-11e6-86fe-b12cf3ce9458.png)

@mgmccarthy Not sure if this is resulting from my earlier mess. I don't think so as I reverted everything. I didn't notice this previously though. Perhaps just need some display name attr

[2016-06-16 19:56] tonysurma opened #884 "Volunteer link does nothing and gets a js error"
http://allready-d.azurewebsites.net/Event/5

![js error](https://cloud.githubusercontent.com/assets/5067595/16131165/6a8e1f04-33d2-11e6-9770-89a8fd8bca56.png)

quick note to list it and steve is looking at it

[2016-06-16 20:14] stevejgordon commented on #884
So far I've been able to replicate this locally by setting up an event with a task that has a skill linked to it. If you then try to click volunteer and have no skills assigned to you, this error seems to occur.

I then added a matching skill to my user and tried again. This time the event details page blows up with a Json.Net self referencing error. This seems to be because the EventViewModel whi

[2016-06-16 21:05] mgmccarthy commented on #883
@stevejgordon, I did put attributed on both of those do displa with a space. If they're not there o can add them once you get a clean build and submit a Pr

[2016-06-16 21:09] mgmccarthy commented on #883
@stevejgordon, what page is this?

[2016-06-16 21:15] mgmccarthy commented on #883
@stevejgordon, there seems to be something funky going on with my master branch... it's somehow picking up changes I've made to other branches I've created from it... and that does't make sense.

Until I can find a way back to what my master branch used to be, I might not be able to push to allReady

[2016-06-16 21:18] dpaquette commented on #884
I think I fixed this problem although I can't say for certain whether or not it is currently implemented they way it was intended. The problem was because the SkillViewModel class was missing an Id property. I have added that and now the "Matching" tag shows up as expected if your skills match the skills required for the task. The user also able to Volunteer without errors.

[2016-06-16 23:02] tonysurma commented on #884
So I can volunteer now - good news.
I can't go to a task after I volunteered - bad news.

![js error 2](https://cloud.githubusercontent.com/assets/5067595/16135964/84ae51e6-33ec-11e6-8aa3-13fc04fa5dc0.png)

[2016-06-16 23:04] tonysurma opened #886 "Viewing a task after you volunteered gives you an error"
cc @stevejgordon and @dpaquette

So I can volunteer now - good news.
I can't go to a task after I volunteered - bad news.

![js error 2](https://cloud.githubusercontent.com/assets/5067595/16135964/84ae51e6-33ec-11e6-8aa3-13fc04fa5dc0.png)
bridged from #884

[2016-06-16 23:06] tonysurma commented on #886
actually I can't look at any of those tasks on that campaign now

I can look if I am not logged in so think it has to do with the same skills matching stuff that @dpaquette looked at maybe

[2016-06-16 23:57] dpaquette commented on #886
Oh yeah, @stevejgordon did mention this part but I didn't get that far after fixing the first part. Let me see if I find a quick fix

[2016-06-17 00:08] dpaquette commented on #886
@tonysurma How do you "go to a task"? I can see the tasks on the event page. I can also view and edit the tasks in the admin section. I must be missing something.

[2016-06-17 01:32] mgmccarthy commented on #883
@stevejgordon, this was my fault.

I didn't fetch/merge/rebase between the SplitUserNameProperty branch and commiting the OrganizeViewModelBranch. The OrganizeViewModel branch lost the Display(Name...) attribute on FirstName and LastName on the IndexViewModel, which is why the two fields are in the UI w/out a space between them.

PR #887 will fix this.

[2016-06-17 10:47] mgmccarthy commented on #874
@stevejgordon, I'm assuming the place in the system where a voluteer is assigned or unassigned a to an itinerary is the IntineraryController's AddTeamMember action method?

[2016-06-17 10:53] mgmccarthy opened #890 "ViewModel folder organization under AllReady\Areas\ (low priority)"
this is low priority

- the Models folder should be renamed to ViewModels
- We should organize the ViewModels folder to have the name of the controller as a directory, and then all relevant ViewModel classes go under that directory.
- this is a similar refactoring to #857

[2016-06-17 12:22] stevejgordon commented on #874
Assignment occurs from AddTeamMember, that's correct. I haven't managed to put in a remove team member flow yet. It's on my list!

[2016-06-17 13:12] tonysurma commented on #886
fixed now, thx all

[2016-06-17 13:12] #886 closed

[2016-06-17 13:12] #880 closed

[2016-06-17 13:21] #883 closed

[2016-06-17 13:21] #867 closed

[2016-06-17 15:05] #878 closed

[2016-06-17 19:16] dpaquette commented on #884
This can be closed, right?

[2016-06-17 19:22] mgmccarthy commented on #874
@stevejgordon, after poking around a bit, I'm a little confused about what some of the variable names actually mean here. For example, we take a `selectedTeamMember` in the `AddTeamMember` action method on `ItineraryCotroller`, yet that gets set to a `TaskSignupId` on the `AddTeamMemberCommand`...

so how, in the context of `AddTeamMemberCommandHandlerAsync`, would I get a list of volunteers that

[2016-06-17 19:36] mgmccarthy commented on #874
@tonysurma any idea of what the subject/body of this SMS/Email notification should contain?

[2016-06-17 19:38] tonysurma commented on #884
thought I closed it already

[2016-06-17 19:38] #884 closed

[2016-06-18 07:25] stevejgordon commented on #874
@mgmccarthy No worries on the questions at all. This piece of functionality crosses a few areas so it's not super clear what's happening.

At a high level we have the event which can have one or more tasks and one or more itineraries created against it. Under those tasks, users can volunteer and when they do they are added to the TaskSignup table. Users can/will be able to be assigned to a task vi

[2016-06-20 02:23] mgmccarthy commented on #874
@stevejgordon, here is my high level plan:
- add new MetiatR notification (IAsyncNotification) to the system, `VolunteerAssignedToItinerary`
- this will be published from `AddTeamMemberCommandHandlerAsync`
- the handler for `VolunteerAssignedToItinerary` will query `TaskSignup` by `TaskSignupId`, and then attempt to use the `PreferredEmail` and/or the `PreferredPhoneNumber` in order to construct a

[2016-06-20 11:52] stevejgordon commented on #874
@mgmccarthy Your plan sounds good to me. While we will probably only have one subscriber for now, I can see potential to have another work we might do when a new team member is added. If the overhead and complexity is not much higher, leaving it more extensible with pub/sub feels like a good approach for these type of events.

In regards to querying for the TaskSignup, you should be able to use ju

[2016-06-20 12:11] stevejgordon commented on #799
@tonysurma I still have more to do on the Org Admin journey, but have started thinking on the next steps. For the volunteer stage of this story and initial release are we safe to assume that any volunteer added to an itinerary as a team member, should then have permission to view the request details for any assigned requests and also update the request status (completed / failed etc)?

[2016-06-20 12:13] mgmccarthy commented on #874
@stevejgordon @tonysurma any idea on what the sms/email body and email subject should say?

[2016-06-20 12:24] mgmccarthy opened #891 "Gaurd clauses in class constructors... do we really need them? (low priority)"
Looks like some of our code uses guard clauses for dependencies passed in to our constructors. I don't really see the benefit of this extra code.

If an instance of the dependency is not provided at runtime, we'll receive and exception anyhow that should be descriptive enough that would allow us to figure out what is wrong.

Same thing for unit testing, if we're writing a test and pass in a null v

[2016-06-20 16:49] dpaquette commented on #891
@mgmccarthy can you link to an example of this?

[2016-06-20 18:06] mgmccarthy commented on #891
@dpaquette  I've seen it here most recently b/c I'm helping @stevejgordon with a messaging handler that is going to be invoked from a command sent from this controller:
https://github.com/HTBox/allReady/blob/d0923120d66a3711796c2fe73355ee4b705a1465/AllReadyApp/Web-App/AllReady/Areas/Admin/Controllers/ItineraryController.cs

but I've also seen them elsewhere in controller, ViewModel and sometimes e

[2016-06-21 12:34] mgmccarthy opened #894 "Remove PreferredEmail and PreferredPhoneNumber on TaskSignup/EventSignUp"
this results in handlers needing to first check if PreferredEmail/PreferredPhoneNumber is null, and if it is, to include User into the query in order to get at ApplicationUser's Email and PhoneNumber values (which also could be null).

We go through an email vaildation for ApplicationUser email (there is EmailConfirmed field) to validate the user's email, but do we also validate email's/phone numb

[2016-06-21 16:11] dpaquette commented on #891
I would agree that these are probably not necessary

[2016-06-21 16:31] stevejgordon commented on #891
I've personally tended towards checking for the nulls / out of expected range on parameters explicitly on public methods to be sure that nothing within the method may occur before we reach the null and end up with something in a bad state. Happy to go with the majority as it may be overkill in some of the cases.

[2016-06-22 00:06] tonysurma commented on #874
sorry for delay, when the assign/unassigned happens do we have a link for the volunteer to see the itinerary they are on?  That will guide the content of the email/sms.  Thanks @mgmccarthy

[2016-06-22 02:08] mgmccarthy commented on #874
@tonysurma @stevejgordon. We could build a url to put into the message to bring the user to the Details view of IntineraryController. Not too sure what else the body should say... and for an email, we'll need a subject.

[2016-06-22 05:26] stevejgordon commented on #874
@mgmccarthy @tonysurma At the moment we don't have a non admin view of an itinerary.

[2016-06-22 11:27] mgmccarthy commented on #874
@stevejgordon do you want me to build one? I actually watched the standup YouTube vid link you sent yesterday, and it looks like the overall plan here is have a dashboard for each volunteer where when they log in, they can see information like this aggregated across the site into one page.

I can start by building the simplest possible thing... controller that takes itineraryId and returns a view

[2016-06-22 11:34] tonysurma commented on #874
For now lets **not** build a non-admin way to view an itinerary.

For the messages lets go with the ones below - we can always edit.

And separately, if you want to start working on a volunteer dashboard showing what they have volunteered for and/or itineraries they are in etc - please do.  I will dig it up but we have an issue somewhere for that.  And I like your idea of starting small and then b

[2016-06-22 11:36] mgmccarthy commented on #874
@tonysurma, thanks for the feedback. I'll get to work on those messages for the assignment/un-assignment handlers...

[2016-06-22 11:39] tonysurma commented on #891
pinging @MisterJames and @BillWagner for thoughts as well

[2016-06-22 11:59] stevejgordon commented on #874
@tonysurma @mgmccarthy I do have some code in flight for the MyEvents page which was to close out #376

I'd put it on the backburner since the itinerary stuff was taking priority. I need to load it up, but I think it was mostly there (al-be-it) quite ugly and basic. It was just listing out events that the user had volunteers for (taskSignups).

I can quickly review it and see if it's good enough t

[2016-06-22 12:04] mgmccarthy opened #895 "Finish unit test for ItineraryController"
finish unit tests for #878 (stubs provided). Unit tests live in ItineraryAdminControllerTests. Please reach out to me with any questions

[2016-06-22 12:07] tonysurma commented on #874
cool @stevejgordon the itinerary stuff is definitely the priority (I am going through and reprioritizing/populating the milestone as well) but if you have a start so you or @mgmccarthy can build on that, that's great.

and yeah something like VolunteerDashboard would be great.  We will likely want to also create a short redirect like /v for SMS codes (like above)

[2016-06-22 12:11] stevejgordon commented on #874
@tonysurma I'll try and check it out tonight when i get home and if it looks good enough get a PR in so at least we have the page we can start to enhance.

Also I'm hoping to chat to @OhMcGoo with regards to UX/design. I think it might pay to think about how the user needs to interact with things on the dashboard to be able to give direction for the items we need to display etc. Ultimately that wi

[2016-06-22 12:21] stevejgordon opened #896 "Virtual url action with redirect for SMS"
To support short SMS links we should have a route such as:

allready.com/v?id=f6HGx8

which can map and redirect a user to the full page. We could probably approach this in a couple of ways.

1. We create an action and route for each page we'll shorten and then store a unique id against the record which the action can use to build up it's redirect. In that scenario we might have one for volunteer

[2016-06-22 12:33] mgmccarthy commented on #874
I'll keep the itinerary notifications at top of my list for now. @stevejgordon, if there are pieces you need help with for itinerary work that are not based around notifications, I can help with those first instead of working on the notifications.

I'm thinking @tonysurma should accept my outstanding PR #892, even though I'm half-way done my work with the notification of assign/unassign for itiner

[2016-06-22 12:46] tonysurma commented on #874
@mgmccarthy so accept now and you'll keep working on next steps of notifications in another PR?

[2016-06-22 12:50] mgmccarthy commented on #874
here is the to-do list and where I am as far as getting this Issue closed

- [ ] notify on assignment to itinerary
- [ ] notify on unassignment to itinerary
- [x] @tonysurma:I need verbiage for the SMS/Email body and the email subject for both assign and unassign
- [ ] unit tests for newly added handlers/changed code

[2016-06-22 12:51] mgmccarthy commented on #874
@tony yeah, let's do that. I moved my to-do list out of the PR and into this Issue (where is belongs). This issue should be handled across multiple PR's.

[2016-06-22 13:42] stevejgordon commented on #874
@mgmccarthy Sounds good. I'll rebase my branches later (hopefully) and see if I can at least check in the bone of what will become the VolunteerDashboard.

I've got about 3 branches on the gone with the itinerary bits (delete, reorder and a view page). Those are part done but need a few hours on each I think. I'll probably get them in without tests etc in the interests of speed and seeing if the f

[2016-06-22 13:46] stevejgordon commented on #840
@mgmccarthy Perhaps this is something you could look at. I think first part would be to ensure that after a social (Facebook) registration that the page where they provide their email as username also requires first and last names? At least then our registration flows would ensure we should have this data. It may even negate the need to complete option 1 above. That said; we probably need to revie

[2016-06-22 13:47] mgmccarthy commented on #896
:+1: for number 2 sms "router" idea.

Could we instead just store controller name/view name using nameof() in a static dictionary with the "smsShortLink" as the key?

(I'm just spitballing here)

[code]

This way, the compiler lets us know about breaking name changes and we don't have to involve the database. If we put this info into the database, then the compiler won't catch the name change at d

[2016-06-22 14:05] stevejgordon commented on #896
@mgmccarthy That sounds pretty reasonable to me. We just need to consider the route data such as the id's etc. In my first thoughts (and the reason I was thinking db) was to create a unique route id that maps to a specific itinerary such as /itinerary/2 and itinerary/3 etc.

You're approach would still need us to pass those I guess as additional querystring items to be able to direct onto the corr

[2016-06-22 14:13] mgmccarthy commented on #840
@stevejgordon I can take a look.

@tonysurma My two cents on what should be required at registration is only email address. The phone number is not something we need, but w/out a legit way to communicate with the volunteer, then the site will not be that useful.

I might be saying this out of turn, b/c I don't know enough about the volunteers to know if expecting them to all have smartphones that

[2016-06-22 14:25] mgmccarthy commented on #896
@stevejgordon I see what you're saying now in supporting the id's...hmmm...

with the id append to the end of the url, we could still use the lookup dictionary and SmsRouterController entry point. After the route was found in the dictionary, would redirect still carrying the id ,and then do the lookup via mediator using id in the appropriate action method.

but now our "short" link just got longer

[2016-06-22 14:45] stevejgordon commented on #896
@mgmccarthy I think primarily it would be SMS length.

@tonysurma What were your thoughts on this?

[2016-06-22 18:54] #376 closed

[2016-06-22 19:50] tonysurma commented on #896
will type more later but in short, was just thinking if we could have a simple short url for volunteerdashboard so the link could be '/v'

For SMS, yes less messages means less costs to sender and receiver.  Also if you can keep it under one message you don't have to worry about out of order stuff as that is funky accross senders and receivers.

So for now a simple controller or route (or even url

[2016-06-23 02:12] mgmccarthy commented on #874
@stevejgordon. It looks like there is a `NotifyVolunteerForEventSignup` class that does sms/email notification for an event.

Just so I understand... a volunteer volunteers for an event, and they get this sms/email communication as a confirmation of them volunteering.

What I'm building is another sms/email communication the volunteer receives when an "admin" of some sort assigns/un-assigns the vo

[2016-06-23 02:18] mgmccarthy commented on #874
@tonysurma. for the messages you listed above:

is the date shown in these messages the StatusDateTimeUtc of the TaskSignup or the Date of the Itinerary?

[2016-06-23 02:52] BillWagner commented on #891
I'm generally a fan of "failing fast" to help developers using an API find their mistakes quickly. I think that leads to adding the guard clauses. (As @mgmccarthy points out, sometimes it's just extra code with no benefit.)

[2016-06-23 03:08] tonysurma commented on #874
Itinerary

[2016-06-23 10:01] stevejgordon commented on #896
@tonysurma Oops, I went off at a bit of a tangent. A simple redirecting action should be fine.

[2016-06-23 11:55] mgmccarthy commented on #896
@stevejgordon @tonysurma. I'm not too familiar with routing, especially b/c it has changed in asp.core 1.

I did manage to get a "/v" trailing slash working for clicking on a link and landing them in the VolunteerController's Dashboard action method. I added another Route attribute to the action method on the controller like this:

[code]

this is the simplest possible thing that could work, and I

[2016-06-23 12:01] tonysurma commented on #896
No worries on tangent :) and simple solution sounds great. Thx

[2016-06-23 12:11] stevejgordon opened #900 "Request management"
Do we need to consider functionality to allow admins to create/edit the details of a request inside the site UI?

I can see the potential for editing since we might want to update a status directly or even correct an address / phone number etc.

cc / @tonysurma @MisterJames

[2016-06-23 12:16] stevejgordon opened #901 "Request ordering not applied in Itinerary details page"
The requests should be displayed in the order they are added but currently sort by ID.

This should be fixed and will be required once we add the ability to re-order requests.

[2016-06-23 12:27] stevejgordon opened #903 "Admin organization list should include the name"
The organization lister on the admin page only shows the name if no logo is added. This should always been shown for clarity.

[2016-06-23 12:34] stevejgordon opened #905 "Include org logo on the public org details page"

[2016-06-23 12:36] stevejgordon opened #907 "Update public organization page to show logos"
This page should include the logos of the organizations and be a little more attractive

Suggest initially we create basic tiles which we then can tidy up with help of front end designer input

[2016-06-23 12:38] stevejgordon opened #908 "Add org privacy policy link field"
We should include a field which allows a privacy policy link to be provided for an organization.

We should validate that either the link or the privacy policy content are provided when saving an organization.

On the public pages we should render the link if available or a link to the custom privacy policy page on allReady instead

[2016-06-23 12:39] stevejgordon opened #909 "'Make org admin' button is not working"
On the user management screen clicking the make org admin button to upgrade a user to an organization admin is currently not working.

[2016-06-23 12:39] stevejgordon opened #910 "Create/Edit campaign - Copy contact errors if user is site admin"
We should hide this option for a site admin

[2016-06-23 12:41] stevejgordon opened #911 "On public organization details page show the address"

[2016-06-23 12:42] stevejgordon opened #912 "Add description field for organizations"
We need a field in the database to store a description for an organization.

We should add to the create/edit org UI so that this data can be managed.

We should ensure that the description is included on the public org details page.

[2016-06-23 12:44] stevejgordon opened #913 "Enhance featured provider UI"
Featured Campaign on Home Page -
Also show dates and some call to action button

@tonysurma Any thoughts on what the call to action should say and where it should take the user? Does it need to be configurable?

[2016-06-23 12:45] stevejgordon opened #914 "Show the org logo on the admin org details page"

[2016-06-23 12:46] stevejgordon opened #915 "On the event page show needs (how many more volunteers needed) within tasks"

[2016-06-23 12:47] stevejgordon opened #916 "UI - Arrows on task list get funky when you search"
![image](https://cloud.githubusercontent.com/assets/3669103/16303543/1558a320-3949-11e6-859e-2ce35aa43228.png)

[2016-06-23 12:48] stevejgordon opened #917 "Time issue on event page"
Currently shows times correctly for local time zone at top of event page but shows them wrong (in GMT?) for tasks

[2016-06-23 12:48] stevejgordon opened #918 "Create event"
In create event, during create second date box should default to first date box date

[2016-06-23 12:49] stevejgordon opened #919 "Events - Remove concept of volunteers req at event level"
Only tasks should require input of the volunteer amounts required.

[2016-06-23 12:50] stevejgordon opened #920 "Message All from Task"
Also have message all for task level (is there for event)

[2016-06-23 12:53] stevejgordon opened #921 "Public campaign lister - Show org name and logo"
User Campaign List - show org name (& little logo) for which orgs the campaigns are with

[2016-06-23 12:54] stevejgordon opened #922 "Campaign/Event Headlines"
Allow org admins to specify a "headline" such as 'Currently looking for more electricians...' to generate interest.

[2016-06-23 13:08] stevejgordon commented on #919
@tonysurma Do we also want to remove the enforce volunteer limit at this level and put all control over this purely within the tasks?

[2016-06-23 13:11] stevejgordon opened #924 "My assigned tasks"
On the event details page only show the "My assigned tasks" section if the user actually has some tasks assigned.

![image](https://cloud.githubusercontent.com/assets/3669103/16304199/497d247a-394c-11e6-968a-805b98ce1235.png)

In this case it should be hidden.

[2016-06-23 13:28] stevejgordon commented on #896
@mgmccarthy Sorry, read your comment after popping in a quick PR for this. I just added an action with the /v route and a redirect to action on that. Your approach probably worked also, although I suspect it left the url in the browser with just /v showing?

[2016-06-23 13:33] mgmccarthy commented on #896
it did the the /v in there... which is not as nice as seeing the real url. When I rebase I'll make sure to pick your changes. Thanks

[2016-06-23 14:54] stevejgordon commented on #922
@tonysurma I started a part of this during my lunch break earlier. Did you have views on where we'd surface this on the site? For example, would including it under the campaign/event name in listers be useful?

Would limiting the length to around 150 chars be enough do you think so it doesn't too complex to display in smaller spaces?

Note: I'm thinking during redesign we loose the list views on t

[2016-06-23 14:58] stevejgordon opened #927 "AllReadyTask model naming"
It's always bothered me a little that the class name and table name for tasks is AllReadyTask, when every other object does not prefix with AllReady. Any reason not to update the model and db schema to make this just Task? If we're going to do it, before we have live data is the best time.

@tonysurma - What do you think?

[2016-06-23 15:14] dpaquette commented on #927
I suspect this was due to an annoying naming collision with System.Threading.Tasks.Task which is referenced anywhere we do async/await.

[2016-06-23 15:16] stevejgordon commented on #927
@dpaquette Very good point. We now have event also but have gotten away with that one. I'll just try to stop getting mildly annoyed by it for no valid reason! :smile:

[2016-06-23 15:23] stevejgordon opened #928 "Select requests screen missing data"
Currently not showing the city, address or date added

[2016-06-23 15:23] stevejgordon commented on #928
@tonysurma I have a partial lunchtime fix for this I'll try to commit later.

[2016-06-23 15:25] stevejgordon opened #929 "Enhance select requests screen"
Add ability to filter based on the date added and possibly a keyword. This will make finding requests a little easier. We would later probably try and do some address radial filtering also to find requests within a specific area.

@tonysurma Please assign this one to me. I suspect it's lower priority initially?

[2016-06-23 16:58] #927 closed

[2016-06-23 19:18] mgmccarthy commented on #920
@stevejgordon, looks like there is NotifyVolunteerForEventSignup for single volunteer for an event.

Are you looking for a way to message all volunteers that are currently associated with a Task?

Looks like there is a "Message All" button at the Event level.
![image](https://cloud.githubusercontent.com/assets/2428993/16316688/b17086cc-3955-11e6-88b8-be6e9adf7be7.png)

[2016-06-23 19:32] stevejgordon commented on #920
Yep I think that's the goal. So we'd have a similar button on the task which would then send out to all volunteers assigned to that task.

Sent from my Windows Phone
________________________________
From: Michael McCarthy<mailto:notifications@github.com>
Sent: ‎23/‎06/‎2016 20:18
To: HTBox/allReady<mailto:allReady@noreply.github.com>
Cc: Steve Gordon<mailto:sgordon@hotmail.co.uk>; Mention<mailto:m

[2016-06-23 20:48] mgmccarthy opened #933 "write unit tests for ItineraryVolunteerListUpdatedHandler"
@tonysurma please label jump-in

[2016-06-23 20:49] mgmccarthy commented on #919
@stevejgordon, if this is something @tonysurma wants to do for the upcoming launch, I'd be happy to volunteer

[2016-06-23 21:08] mgmccarthy commented on #920
@tonysurma please assign to me

[2016-06-23 21:31] tonysurma commented on #919
YES! Please remove this.  Makes no sense.  If you wanted to show an event level amount which is total of tasks that is cool but not necessary.  Went ahead and presumptively assigned you @mgmccarthy 🔮

[2016-06-23 21:37] tonysurma commented on #922
I think 150/tweet length is a good idea.  the idea was to put it on the featured list and under the campaign/event names where they appear so it gives a headline of what is needed/motivation/whatever  Thanks

[2016-06-23 21:42] tonysurma commented on #907
I think @stevejgordon hit some/all? of this with PR #906

[2016-06-23 21:46] #905 closed

[2016-06-23 21:50] tonysurma commented on #918
I just looked at the PR and that works partially.  The further solution (if we could do it and I note that we didn't articulate that) is to update the end date on exit of the start date by the user so it will be the same (or a day later) as whatever they entered.  Like an airline website does.  Thanks.

[2016-06-23 21:51] #896 closed

[2016-06-23 21:51] tonysurma commented on #896
@mgmccarthy @stevejgordon I merged it.  Thanks.

[2016-06-23 21:53] #928 closed

[2016-06-23 21:56] #903 closed

[2016-06-23 21:58] #901 closed

[2016-06-23 22:11] #877 closed

[2016-06-23 22:13] #924 closed

[2016-06-23 23:27] mgmccarthy commented on #920
@tomysurma, do you have a "P" label for his one so I can prioritize?

[2016-06-23 23:37] tonysurma commented on #920
Sorry did this one from mobile, P3

[2016-06-24 02:00] tonysurma commented on #840
Based upon the Usage scenario we need first and last email and phone as required.

In fact if we were to drop anything it would be email from a usage scenario point of view - we aren't doing it but just pointing out for showing how key sms is.  Thx

[2016-06-24 05:38] stevejgordon commented on #918
Now you're getting fancy @tonysurma! I'm sure a little JS can do it for us. I'll need to research. If anyone wants to jump in that's cool too. I'll try and take a look this weekend.

[2016-06-24 07:16] stevejgordon commented on #929
Having chatted to @OhMcGoo filtering by postcode/zipcode would be a good first version of this until we get more clever with map based selections.

[2016-06-24 07:19] stevejgordon commented on #907
I have started something basic on today's commute so you can re-assign back to me if you want.

[2016-06-24 11:04] mgmccarthy commented on #840
@tonysurma @stevejgordon I'll be working on this one next b/c it's P2. I have #919 and #920 on my "backlog" b/c they're P3, but any developer should be able to work on those two if they want to. Up to you if you want to "unassign" me.

There is also #921 which is P2, so that should probably be worked on before #919 and #920.

Do we have a P2 "date"?

It might take me awhile to figure out how to ge

[2016-06-24 11:55] #874 closed

[2016-06-24 11:56] #876 closed

[2016-06-24 12:39] stevejgordon opened #939 "Task start and end times nullable on Model"
Currently the db model for tasks defines the start datetime and end datetime as optional. This then cascades for the need to check these have values before assigning them in the system to our other models and views.

I can't see a good reason to keep these optional. In fact our validation on the create/edit side, forces these to be completed and valid.

Anyone against me tweaking the db schema / m

[2016-06-24 12:40] stevejgordon commented on #697
@tonysurma Do you think with the items we've added so far that we have met this requirement in the UAT version?

[2016-06-24 12:51] mgmccarthy commented on #840
@tonysurma please assign me to

[2016-06-24 13:53] mgmccarthy commented on #840
@tonysurma, registration page is done requiring first name, last name and phone:

![image](https://cloud.githubusercontent.com/assets/2428993/16339550/573ffac4-39f1-11e6-9599-29b2688d0f6b.png)

If you want, I can submit a PR and get this into the codebase.

However, I just tried to start looking into the Facebook login:
![image](https://cloud.githubusercontent.com/assets/2428993/16339479/e28c403e-

[2016-06-24 14:03] stevejgordon commented on #840
@mgmccarthy There's a few things you'll need to do to get Facebook login setup in dev.

1. You'll need to setup an application under Facebook in the developer area.

![image](https://cloud.githubusercontent.com/assets/3669103/16339843/c279329e-3a1c-11e6-8d91-3f79d834a252.png)

You'll then need to register some appSecrets or environment variables locally which set the appSecret and appId. These are

[2016-06-24 14:04] stevejgordon opened #942 "Startup config registers AddEnvironmentVariables twice"
Looks like a redundant repetition of the AddEnvironmentVariables call.

![image](https://cloud.githubusercontent.com/assets/3669103/16339897/09b8a752-3a1d-11e6-8b55-47ddd803b48e.png)

[2016-06-24 14:07] mgmccarthy commented on #840
@stevejgordon, if we have time, I'd like to try to get the facebook auth set up locally. Since I've never done it before, I'd like to learn.

[2016-06-24 14:07] stevejgordon commented on #942
I have a PR for this, just waiting to ensure this isn't by design and that appSecrets should override env vars.

[2016-06-24 14:12] stevejgordon commented on #840
No worries. Happy to chat through it if you need further support. I think user secrets changed a bit between rc1 and rc2 so I ended up using environment variables on my dev machine at home.

[2016-06-24 14:23] tonysurma commented on #942
I am not seeing the duplication, where is it?  I see only one call for that and one for a config.{environment}.json like config.dev.json (at least in the screenshot above)

Also user secrets should override which is how you can override stuff in your dev box without putting them in config.json and getting them accidentally checked in. (I learned this during our last on campus hackathon)

[2016-06-24 14:27] tonysurma commented on #939
Unless someone else has a reason, go for it.  They shouldn't be optional.

[2016-06-24 14:32] stevejgordon commented on #942
Oops! I screenshotted my fixed version!

![image](https://cloud.githubusercontent.com/assets/3669103/16340570/c5894d1c-3a20-11e6-9327-7bd0d20271af.png)

In the original it adds them before and after the user secrets. So really it should be one or the other.

[2016-06-24 14:38] tonysurma commented on #942
Whew, my world makes sense again.  The second one (below the if(env.IsDev)) should be removed

[2016-06-24 14:51] stevejgordon commented on #942
Cool, I'll push that in shortly as I have code prepared.

[2016-06-24 14:52] stevejgordon commented on #912
I have started on this one.

[2016-06-24 14:56] #942 closed

[2016-06-24 14:57] #922 closed

[2016-06-24 15:38] #912 closed

[2016-06-24 15:39] #909 closed

[2016-06-24 15:42] #918 closed

[2016-06-24 15:42] #917 closed

[2016-06-24 15:42] #915 closed

[2016-06-24 15:43] #921 closed

[2016-06-24 15:43] #914 closed

[2016-06-24 16:10] mgmccarthy commented on #840
@tonysurma @stevejgordon

two things I've seen so far.

One:
When registering via the regular sign-in form on AllReady, we are not sending a message out to verify the phone number provided (we are sending out an email verification for the email provided when registering). Do we also want to send out the verification of the phone number when registering as well? Right now, the user can verify their

[2016-06-24 17:34] #911 closed

[2016-06-24 18:09] tonysurma commented on #840
Great research and thanks for digging in.

One: yes we should do phone as well.

Two: IF the email is provided by the provider (facebook, twitter, etc.) then we SHOULD NOT ask for verification.  However (if memory serves correctly)I think one or two of them do not provide email address and therefore we will need to ask for it and verify in that case.  So the code there may not have differentiated

[2016-06-24 18:12] mgmccarthy commented on #840
@tonysurma  Sending verification for phone number during AllReady user registration should be easy to add, I'll to that in another PR.

For the external auth providers, right now, the code in the external auth section is vendor agnostic, so I'd need to do research into each of the external auths we're supporting in order to make sure the code runs correctly. I've only successfully run it using Fac

[2016-06-24 18:18] tonysurma commented on #740
As @stevejgordon and I talked before, RTM is on Monday so soon after that we should start an investigative thread to see what the impact is for our application - the major assumed/known aspect so far will be migrations but I am sure there will be more.

[2016-06-24 18:20] mgmccarthy opened #946 "SendAccountSecurityTokenSmsHandler and SendSecurityCodeSmsHandler do the same thing..."
both send sms security code to user's phone number...

this action should be consolidated to one handler and refactor to use single command/handler.

[2016-06-24 19:29] mgmccarthy commented on #946
@tonysurma you can assign this to me

[2016-06-24 20:03] mgmccarthy commented on #840
@tonysurma looks like Twitter API does not give out user email, but Facebook does. I'll see if I can pick up implementation for more of these providers next week.

[2016-06-24 20:19] mgmccarthy opened #948 "Get External Auth working with Twitter"
@tonysurma please assign to me.

I'm currently working on this.

[2016-06-24 20:20] mgmccarthy opened #949 "Get External Auth working with Microsoft"
@tonysurma please assign to me.

I'm currently working on this.

[2016-06-24 20:20] mgmccarthy opened #950 "Get External Auth working with Google"
@tonysurma please assign to me.

I'm currently working on this.

[2016-06-25 12:49] mgmccarthy commented on #840
@tonysurma, just to clarify the functionality of what was merged in #945. Currently, when authenticating via Facebook, we are NOT sending out a message to confirm email or confirm phone. For regular AllReady registration, we're sending out both messages at the point the user registers.

For Facebook auth, after authenticating, the First, Last, and Email fields are all prepopulated, and the user on

[2016-06-25 13:29] stevejgordon commented on #908
I've got something going on this one.

[2016-06-25 14:49] stevejgordon opened #951 "Display issue for org logo on admin pages"
A large org logo overlaps the details content for an organization currently.

![image](https://cloud.githubusercontent.com/assets/3669103/16357362/60d9a21e-3aec-11e6-8db4-00712c0e02ef.png)

I thought I had this working okay when I added the logo so I'll check if perhaps I missed checking in some css.

[2016-06-25 15:40] stevejgordon opened #953 "Select requests screen not limiting results to current event"
Criteria doesn't include an event id so all requests are being returned.

[2016-06-25 15:40] stevejgordon commented on #953
Working on it!

[2016-06-25 15:55] #953 closed

[2016-06-25 15:59] tonysurma commented on #766
included in #910

[2016-06-25 15:59] #766 closed

[2016-06-25 16:01] stevejgordon commented on #910
@tonysurma Looking at this very briefly, shouldn't this still work for site admins, as the functionality would be to copy from the event's owning organization contact I believe?

I haven't seen or used this feature before so I may be misunderstanding the intended functionality.

[2016-06-25 16:05] tonysurma commented on #910
site admin = admin of all of allready (so not an option)
org admin = admin of an org

so in short should work and be allowed for everyone except for site admins

[2016-06-25 16:11] mgmccarthy opened #955 "Send Email and Sms confirmation messages when authenticating using external providers"
@tonysurma, please assign to me.

this is an Issue that grew out of #840, I've moved my final comment from the last thread on #840 and broke it out into this issue.

@tonysurma, just to clarify the functionality of what was merged in #945. Currently, when authenticating via Facebook, we are NOT sending out a message to confirm email or confirm phone. For regular AllReady registration, we're sendin

[2016-06-25 18:23] tonysurma commented on #955
Agree on approach.  If there was a way to detect the email was prepopulated and therefore not send verification for the email that would be even nicer but not required.

[2016-06-25 18:45] VishalMadhvani commented on #772
This can be closed.

[2016-06-25 19:33] VishalMadhvani opened #956 "NullReferenceException when viewing manage account page (/Manage)"
Logged in as Administrator@example.com
When viewing the account management page http://localhost:48408/Manage
A NullReferenceException is thrown.

I assume this is test data related as no exception is thrown on http://allready-d.azurewebsites.net/Manage

@tonysurma This can be labelled Jump In

[2016-06-25 20:32] #772 closed

[2016-06-25 21:23] cj-taylor commented on #895
Caught the standup this morning and now looking for a place to jump-in. Mind if I start here just to get acquainted/ramped-up or would you prefer I start elsewhere?

cc: @mgmccarthy @tonysurma

[2016-06-25 22:37] tonysurma commented on #895
Thanks for jumping in.  This would be a great place to start.

[2016-06-25 23:00] tonysurma commented on #951
should be closed now per the PR

[2016-06-25 23:00] #951 closed

[2016-06-25 23:16] mgmccarthy commented on #895
@cj-taylor, the unit tests are a great way to start getting familiar with the source code, so please jump in!

If u have any implementation questions, feel free to reach out to me.

[2016-06-25 23:19] mgmccarthy commented on #955
"If there was a way to detect the email was prepopulated and therefore not send verification for the email that would be even nicer but not required."

@tonysurma, I'll break that out into another issue and you can assign priority.

[2016-06-26 20:17] cj-taylor commented on #838
I'm taking a gander at this one.

[2016-06-26 21:11] tonysurma commented on #838
thx, @cj-taylor I just invited you to the repo (through GitHub) so I can assign it to you

[2016-06-26 22:04] cj-taylor commented on #916
Taking a look at this one.

[2016-06-27 10:53] mgmccarthy opened #965 "automatically verify email (do not send confirm email message) when registering via external auth providers that provide email"
@tonysurma, please verify this "requirement" looks correct.

broken out from final comment by Tony Surmar on #955. (" If there was a way to detect the email was prepopulated and therefore not send verification for the email that would be even nicer but not required.")

If the external auth provider being used gives us access to the user's email address (example: Facebook gives us the email address

[2016-06-27 11:15] #916 closed

[2016-06-27 11:23] #895 closed

[2016-06-27 13:17] mgmccarthy commented on #659
ping @MisterJames...

this one has been "floating" out there for awhile. Any idea on what we should be doing in the code here?

[2016-06-27 15:02] mgmccarthy opened #967 "SendResetPasswordEmailHandler and SendResetPasswordEmailHandlerAsync do the same thing"
I'm currently working on this. Please assign to me

@tonysurma @MisterJames @BillWagner. Can we get a decision on the "verbiage" here and I can refactor out the duplicate code?

`SendResetPasswordEmailHandlerAsync` handles `SendResetPasswordEmail` via this this code:
`await emailSender.SendEmailAsync(message.Email, "Reset allReady Password",  $"Please reset your allReady password by clicking here:

[2016-06-27 15:09] mgmccarthy commented on #965
@tonysurma please assign to me

[2016-06-27 17:43] tonysurma commented on #740
From today's announcements for reference here:
[.net core annoucement](https://blogs.msdn.microsoft.com/dotnet/2016/06/27/announcing-net-core-1-0/)
[visual studio update 3](https://www.visualstudio.com/news/releasenotes/vs2015-update3-vs)
[asp.net core announcement](https://blogs.msdn.microsoft.com/webdev/2016/06/27/announcing-asp-net-core-1-0/) _has a section on migration from RC2_
[ef core annou

[2016-06-27 17:46] tonysurma commented on #740
also good news is that rtm is up on azure web apps already so we should have no problems deploying to that

[2016-06-27 19:27] #838 closed

[2016-06-28 07:26] stevejgordon commented on #740
Time permitting I plan to take a branch and have a go at moving it over to RTM as I'm keen to see what's involved. The changes between RC1 and RC2 where the biggest, with RTM it looks less complex. I know @shawnwildermuth wrote a great post about his experience migrating so happy to take direction from an expert or just watch and learn!

[2016-06-28 11:17] mgmccarthy commented on #919
looks like @vishalmadhvani is going to pick this up. @tonysurma, can you re-assign?

[2016-06-28 13:38] cj-taylor commented on #956
@tonysurma I'll be looking into this one.

[2016-06-28 16:28] BillWagner commented on #740
I like the idea of a "Day 1" migration if it does not affect any existing data.

If I understand correctly, that would mean developers would need to delete any local DBs, and recreate them with the new version. We (HTBox admin) would need to do the same in our Azure subscriptions.

@tonysurma can you verify those assumptions?  if correct, I'm good.

[2016-06-28 18:18] tonysurma commented on #740
Correct and the sooner the better

[2016-06-28 18:41] #908 closed

[2016-06-28 21:23] mgmccarthy opened #970 "Exception on loading a Task from the Event details page"
@tonysurma, please assign this to me. I'll be trying to get a PR in for this tonight.

Clicking on any existing seeded Task in any seeded Event (also happening on creating new Campaign/Event/Task) from this page:
![image](https://cloud.githubusercontent.com/assets/2428993/16432758/9d92092a-3d54-11e6-88f1-e871b86df308.png)

results in an exception being thrown on this page:
![image](https://cloud.g

[2016-06-28 21:47] VishalMadhvani commented on #970
Yeah I missed this :oops:

[2016-06-28 21:49] VishalMadhvani opened #972 "Build Razor Views"
The CI build should also build razor views.
I know it was possible on the old big fat ASP.NET, not sure about Core.

[2016-06-28 22:00] dpaquette commented on #972
yes, it is possible. The documentation is lacking at the moment. I will try to dig something up from the aspnet GitHub repos

[2016-06-28 23:32] mgmccarthy commented on #970
@VishalMadhvani, no problem. I don't even want to know how many exceptions my insane refactorings have caused since I've joined the project :stuck_out_tongue_winking_eye:

[2016-06-29 00:28] mgmccarthy commented on #920
@stevejgordon, it looks like this already exists in the system. I added a couple volunteers for one of the seeded Tasks:
![image](https://cloud.githubusercontent.com/assets/2428993/16436709/1e02f57e-3d6e-11e6-8cbb-d1384ea7bade.png)

You can see as soon as there are some volunteers that need to be "approved" by admin, we can see the "Message All" button. When clicking the button:
![image](https://c

[2016-06-29 07:00] stevejgordon commented on #929
Update: I've nearly completed this on my morning commute. I took a slight change of direction and have now implemented this server side. I have to test it a bit more, tidy up the ui and then I can put in a pr.

[2016-06-29 14:50] stevejgordon commented on #910
@tonysurma What should actually happen when this button is used?

[2016-06-29 15:26] mgmccarthy opened #974 "Finish CampaignViewModel unit tests"
@tonysurma please assign to me

[2016-06-29 15:36] mgmccarthy opened #976 "Get External Auth working with Facebook"
@tonysurma please assign to me.

I'm currently working on this.

[2016-06-29 15:41] mgmccarthy opened #977 "pull email and name from Twitter external login provider"
@tonysurma please assign to me.

I'm currently working on this.

[2016-06-29 15:50] dpaquette commented on #977
I was under the impression that twitter didn't provide email addresses.

[2016-06-29 16:13] mgmccarthy commented on #977
@dpaquette, it doesn't. But, apparently, there is some extra work involved to fetch it. I've been following this blog to see if it's possible:
http://www.bigbrainintelligence.com/Post/get-users-email-address-from-twitter-oauth-ap

It is a good amount of extra work, and I don't know if it's feasible for AllReady.

We can always throw this Issue on the backlog with low priority, or it will never be

[2016-06-29 19:23] VishalMadhvani commented on #919
Started looking at this yesterday. Just wanted to confirm this means deleting the following from the Event Model.

[code]

And hence remove all functionality around volunteers on events?

[2016-06-29 19:50] mgmccarthy opened #978 "write unit tests for TaskSignupViewModel"

[2016-06-29 22:29] dpaquette commented on #977
I was hoping you had found an easy way to get the email address. I'm having this same problem on another project right now.

[2016-06-30 10:51] mgmccarthy commented on #410
@dpaquette, I have a VERY simple spike of a "provider" that wraps up a lot of the duplicate code here:
https://github.com/mgmccarthy/allReady/tree/DateTimeOffsetProvider

Again, this is just a baby step towards a better DateTime solution. This spike does not address the duplicate code that has leaked into [TimeTagHelper.cs](https://github.com/HTBox/allReady/blob/53c7f60facfaaf7d016265087eadc13ac77

[2016-06-30 11:33] stevejgordon opened #982 "Resource Based Authorization"
I spent a bit of time yesterday reading up on Resource Based Authorization which is part of the ASP.NET Core authorization stack.

In short this provides a standardised way to authenticate that a user has permission to perform an action on a specific resource. Within allReady we do this often to ensure that admin users have permission to modify only the objects which belong to their organization.

[2016-06-30 11:53] stevejgordon commented on #848
@tonysurma I've started a little stub of code around this if you want to assign to me. Will be a bare bones piece to begin with which we can extend where needed.

[2016-06-30 18:05] mgmccarthy commented on #977
update on this, apparently, [LinqToTwitter](https://github.com/JoeMayo/LinqToTwitter) is not compatible with asp.net core, at least, not yet. I checked the repository, and there is an open issue for it, but nothing from the project owner as to when he'll be updating the library (if he updates it at all).

Which means I might need to dive into building the OAuth requests myself using HttpClient. Al

[2016-07-01 19:31] shawnwildermuth commented on #740
I'm happy top tale this one and resolve them this weekend

[2016-07-01 19:32] shawnwildermuth commented on #740
Unless someone else is working on it

[2016-07-01 19:45] BillWagner commented on #740
I assigned it to you @shawnwildermuth
If anyone wants to help out, ping @shawnwildermuth

[2016-07-01 22:11] tonysurma commented on #740
Great, I will try to review and merge as many PR's as possible by tomorrow am so we don't have many open across the upgrade.  @billwagner can you post in slack this will happen this weekend so folks know if they start or are working on a pr?  I think the real conflict we will want to manage would be migrations primarily

[2016-07-01 23:16] shawnwildermuth commented on #740
Awesome!

[2016-07-02 08:12] stevejgordon commented on #740
Hey @shawnwildermuth - When are you thinking of working on this? I've got quite a hectic weekend but would love to pair / watch / assist with the steps if you'd be up for that. I'm unavailable today but should be able make some time tomorrow. Don't want to hold things up though, so not to worry if it's not possible. Also I'm in the UK so it may be that time differences make it more difficult still

[2016-07-02 10:33] shawnwildermuth commented on #740
I've upgraded most of the project, just trying to fix about 200 tests I broke. Luckily we have tests for that. Some APIs changed and we might want to revisit how we implement some things (where UserManager and SignInManager needs to be injected into a lot more places than it used to).

[2016-07-02 15:13] #970 closed

[2016-07-02 15:13] #939 closed

[2016-07-02 15:14] #974 closed

[2016-07-02 15:16] #978 closed

[2016-07-02 15:16] #907 closed

[2016-07-02 15:24] tonysurma commented on #740
I have merged all immediately mergable PRs and verified none of the open ones have migrations for EF so we should be good to move on this.  Thanks all for helping out.

@shawnwildermuth if you have done some work already (which it looks like you have and thanks!) than, as you know, please rebase off of the current master to pick up changes from those merged PRs.

[2016-07-02 15:26] tonysurma commented on #919
@VishalMadhvani double check with @stevejgordon but that seems right as there is no real concept of volunteers at event level other than a sum of needs and who signed up so far for the tasks.

also I just invited you to the repo so I can assign you to issues.  thanks.

[2016-07-02 15:31] tonysurma opened #985 "build error Event is a namespace but is used like a type - high priority"
3579‍C:\projects\allready\AllReadyApp\Web-App\AllReady.UnitTest\ViewModels\Campaign\CampaignViewModelShould.cs(102,68): DNX,Version=v4.5.1 error CS0118: 'Event' is a namespace but is used like a type
 3580‍C:\projects\allready\AllReadyApp\Web-App\AllReady.UnitTest\ViewModels\Campaign\CampaignViewModelShould.cs(102,81): DNX,Version=v4.5.1 error CS0118: 'Event' is a namespace but is used like a type

[2016-07-02 15:35] tonysurma commented on #985
line of code is
_var campaign = new Models.Campaign { Events = new List<Event> { new Event { Id = 1} }};_

looks like conflict of Event from _AllReady.ViewModels.Event_ and the class name

[2016-07-03 11:53] stevejgordon opened #987 "Site Exception in Startup.cs"
ArgumentException on the Path property (type is PathString) with the current value "api/request"

Seems to relate to this issue where it states that PathString expects an opening forward slash - https://github.com/aspnet/HttpAbstractions/issues/251

I will put in a PR to fix if @MisterJames can confirm this is a suitable solution.

I notice the http://allready-d.azurewebsites.net/ site is failing

[2016-07-03 16:57] stevejgordon commented on #919
@VishalMadhvani - Those look correct. I'm sure we'll have quite a few uses of these across various view models and the handlers related to them. We will also be able to remove some of the database columns storing this data for Events as well. That will require a migration which would be best after the RTM stuff is merged in.

We'll just need to ensure anything coming from the task level remains in

[2016-07-03 21:37] shawnwildermuth commented on #740
I've rebased it, but we have an issue with some of the assumptions of the database have changed in RTM. What is our plan going forward on migrations? I can try to fix up migrations or we can take the big pill now and delete all the migrations and start fresh now that we're at a stable build.  Opinions?

[2016-07-03 22:31] shawnwildermuth commented on #740
I'd also like to talk about maybe reviewing our creation and running of Migrations during the site. I've moved away from doing this in code, and just using the "ef database update" instead so I can debug it right and not some random build to the release server inadvertently updating the database in ways we don't want.

[2016-07-04 02:11] tonysurma commented on #740
No need to fix migrations, we should just do a new "day one" migration now on rtm.

And I do auto migrate on dev site that auto deploys from github and for prod sites I run the cmd so we are aligned there already

[2016-07-04 02:12] tonysurma commented on #740
Thx @shawnwildermuth

[2016-07-04 11:17] shawnwildermuth commented on #740
Sweet.  I'm working through some of the tests that were put in to test EF bugs, hope to have that done tomorrow night.

[2016-07-05 11:12] mgmccarthy commented on #982
This looks great. My favorite part here is the centralization of calls like `User.IsOrganizationAdmin` that is spread all over the controller code. This centralization allows us to write tests for the given policy ONCE, instead of having to "drag" that setup code around our controller unit tests.

Pretty cool that MS decided to build this as part of the framework... if not, we'd have to write/wire

[2016-07-05 15:08] stevejgordon opened #991 "Mark request completed"
Add functionality to allow requests within an itinerary to be marked completed.

@tonysurma Would adding this initially on the org admin itinerary management page suffice for the pilot? I've got some time to kill at the office tonight before a .net meetup so thought I'd have a go at this.

[2016-07-05 15:11] tonysurma commented on #991
Yes it would, and later we can figure out a plan for the volunteers on the itinerary to be able to do it.  Thx

[2016-07-05 15:12] stevejgordon commented on #991
Thanks. I'll try and get something done on this later.

[2016-07-05 20:40] VishalMadhvani commented on #982
Be interesting to see if this could be wired up as an attribute.

[2016-07-06 07:28] stevejgordon commented on #982
I'd taken a look at the attribute option. From what I'd read attributes might be a bit tricky since attribute evaluation occurs prior to data binding and before any code runs within the action. I suspect this means that route data is also might be available (although I didn't conclusively see an answer to that so far). I'd prefer attributes in some respects but the approach MS seem to guide us on

[2016-07-06 14:59] mgmccarthy opened #993 "Remove InMemoryContextTest from OrganizationControllerTests"
Currently, we're inheriting from InMemoryContextTest on AllReady.UnitTest.Areas.Admin.Controllers.OrganizationControllerTests. This controller does not do any data via AllReadyContext. It uses mediator as it should. List of overall changes:

- OrganizationControllerTests no longer inherits from InMemoryContextTest
- tests were added to ensure message were being sent via the mediator with the corre

[2016-07-06 15:00] mgmccarthy commented on #993
@tonysurma, please assign to me. I'm currently working on this

[2016-07-06 17:44] mgmccarthy opened #994 "Refactor data access code out of extension methods"
extension methods are a bad place to do data access and some of our extension methods are doing just that.

If the extension method is only used in one place, we can do the refactoring easily. An example of an extension method being invoked from one place is in `OrganizationEditCommandHandler`. Is uses `ContactExtensions.UpdateOrganizationContact` extension method.

For extension methods being use

[2016-07-06 21:35] #929 closed

[2016-07-06 21:35] #991 closed

[2016-07-06 22:33] mgmccarthy opened #996 "Use Fody and ConfigureAwait NuGet Packages to automate .ConfigureAwait(false)"
this issue was created by breaking out @SeanFeldman's comments about Fody from Issue #892

Fody: https://github.com/Fody/Fody/
ConfigureAwait: https://github.com/distantcam/ConfigureAwait

Although this does use IL weaving, it might be worth adding these libraries so we can use an attributes to decorate handler classes (where must of .ConfigureAwait(false) calls are made) so we don't have a bunch

[2016-07-07 05:29] SeanFeldman commented on #996
ATM there's no support for .NET core, but it will be coming shortly.

[2016-07-13 00:19] mgmccarthy opened #1000 "is CampaignApiController.GetCampaignsByPostalCode(string zip, int miles) used anymore?"
the api route path is: "api/campaign/search", and I do see that used in campaigns.js, but I remember we removed searching by miles/zip when we PostalCodeGeo refactoring?

or maybe not?

[2016-07-13 11:01] stevejgordon commented on #1000
I seem to recall similar as I think the whole geo-searching thing may not be needed in the current version (at least in it's old form).

@tonysurma Was it on the roadmap to re-implement this as part of the future requirements?
@robrich Were you planning to use this for anything you're working on for the Google Maps piece?

[2016-07-13 12:13] nedruk commented on #340
Hi team, apologies ahead if I've done something wrong - my first commit/push on git. The update is tiny, but I want to make sure you are ok with the approach before I go ahead with it. Please have a look and let me know what you think. Thanks for the patience.

[2016-07-13 18:23] mgmccarthy commented on #530
@tonysurma, is there a reason we can't make PostalCode a required field when creating a Campaign? If the reason is the PostalCodeGeo lookup will fail, then my question to that is, what is PostCodeGeo table used for? Is it to generate this map?
![image](https://cloud.githubusercontent.com/assets/2428993/16814357/6d92d348-4903-11e6-8fcf-28fb17e7c5e6.png)

If that's the case I guess a couple things:

[2016-07-14 09:27] stevejgordon commented on #340
@nedruk Thanks for your first contribution. Small, focused updates are good. It makes reviewing and merging easier for the project owners. I've taken a quick look and it seems you've followed the correct approach based on the requirements for this.

It might be worth making a formal PR with your code and then it can be reviewed there (might get a bit lost down the bottom of this issue). A couple o

[2016-07-14 11:50] nedruk commented on #340
Thanks for the detailed feedback, @stevejgordon.

Re Constant class - my idea was to propose this as an approach - store constants in a single place instead of having them scattered around the solution. But i see your point, better to follow the general pattern.

Re config change - that shouldn't have been committed. My bad.

Thanks for advice about PR. There is still quite a learning curve ahead

[2016-07-14 12:00] stevejgordon commented on #340
@nedruk You're very welcome. I was new to it all about 7 months ago. There's a little learning curve but it starts to sync in pretty quickly.

I wrote up a blog post about my early experience at http://stevejgordon.co.uk/contributing-to-allready which might help.

@dpaquette also put up a really handy post on PR's http://www.davepaquette.com/archive/2016/01/24/Submitting-Your-First-Pull-request.as

[2016-07-15 13:42] mgmccarthy commented on #340
can we please change the title of this Issue to "Introduce nameof() for 'magic strings'". We don't want to use constants, we want to use nameof().

[2016-07-15 20:17] mgmccarthy opened #1002 "Are there plans to enable Sessions for AllReady?"
so we can use things like TempData and Session? Right now, looks like AllReady does not configure it Startup.

[2016-07-15 20:19] MisterJames commented on #1002
I was looking into this. I want TempData so we can convert to PRG.

I want to incorporate [this](http://jameschambers.com/2014/06/day-14-bootstrap-alerts-and-mvc-framework-tempdata/) into AllReady.

[2016-07-15 20:27] mgmccarthy commented on #1002
we already do PRG in some places, but we're "going back to the well" (aka, the database) way more than we have do. TempData is a GREAT tool to offload db redundant db queries into memory and really helps with PRG

as far as the article goes, we have the SAME exact thing wired up where I work. We can drop warnings and errors into TempData and let it do the work for us.

It's super useful for "confi

[2016-07-19 14:50] mgmccarthy commented on #967
I'm currently working on this. @tonysurma, can you please assign to me?

[2016-07-19 23:26] VishalMadhvani opened #1008 "Review and potentially refactor EditCampaignCommandHandler"
There were a few bugs in ```EditCampaignCommandHandler``` specifically around managing the Campaign's Primary Contact. These were fixed in PR #1006.

```EditCampaignCommandHandler``` could use a review as there may be more bugs lurking.
Having briefly looked at the test's I'm not convinced we have full coverage so a review of all tests for this handler would also be useful.

I also noticed the han

[2016-07-19 23:36] mgmccarthy commented on #1008
:+1: for pulling datataccess code out of extension methods. Extension methods should not be doing that kind of work, and if the code is used in only one place (the handler), it makes sense to pull it into the handler. There are other extension methods that could be wiped out this way,

I'm currently working on getting moving the code out of `EventViewModelExtension.WithUserInfo` into `ShowEventQue

[2016-07-20 01:40] mgmccarthy opened #1010 "Move code out of EventViewModelExtension.WithUserInfo into ShowEventQueryHandler"
I am currently working on this. @tonysurma please assign to me.

moving code into handler b/c the extension method is only called from the handler. I'll update ShowEventQueryHandler unit tests to reflect the move

[2016-07-20 12:28] stevejgordon opened #1011 "Campaign Seed Data has MinValue dates"
Our SeedDataGenerator doesn't set dates on most campaigns which creates issues when trying to add events.

[2016-07-20 13:19] stevejgordon opened #1013 "Creating an event fails with an EF error"
Error is:

DbUpdateConcurrencyException: Database operation expected to affect 1 row(s) but actually affected 0 row(s). Data may have been modified or deleted since entities were loaded. See http://go.microsoft.com/fwlink/?LinkId=527962 for information on understanding and handling optimistic concurrency exceptions.

I've already had a look and it seems to be related to the use of context.Update (

[2016-07-20 14:06] mgmccarthy opened #1015 "EventViewModel unit tests"

[2016-07-20 14:14] mgmccarthy opened #1017 "Finish unit tests for ShowEventQueryHandler"
@tonysurma, please label "jump-in".

Some tests are already completed, and the rest are stubbed out in ShowEventQueryHandlerShould

[2016-07-20 19:00] stevejgordon opened #1018 "Create task page blows up."
Clicking create task on an event causes the following error.

![image](https://cloud.githubusercontent.com/assets/3669103/16999144/7758bdf0-4eb4-11e6-96ab-64827ecf9879.png)

👷 Working on it

[2016-07-20 19:36] stevejgordon opened #1020 "Save (new task) fails"
Similar to #1013 trying to save a new task fails

[2016-07-20 20:37] #840 closed

[2016-07-20 20:38] #993 closed

[2016-07-20 20:39] #1011 closed

[2016-07-20 20:44] #1013 closed

[2016-07-20 20:46] #1010 closed

[2016-07-20 20:46] #1015 closed

[2016-07-20 20:47] MisterJames commented on #955
closed via #969

[2016-07-20 20:47] #955 closed

[2016-07-20 20:47] MisterJames commented on #976
closed via #969

[2016-07-20 20:47] #976 closed

[2016-07-20 20:47] MisterJames commented on #976
closed via #969

[2016-07-20 20:47] MisterJames commented on #950
closed via #969

[2016-07-20 20:47] #950 closed

[2016-07-20 20:48] MisterJames commented on #949
closed via #969

[2016-07-20 20:48] #949 closed

[2016-07-20 20:48] MisterJames commented on #948
closed via #969

[2016-07-20 20:48] #948 closed

[2016-07-20 20:54] #1018 closed

[2016-07-20 20:54] #1020 closed

[2016-07-21 12:45] mgmccarthy opened #1022 "Constrain choice of End Date on Task creation UI to the end date of the Event"
When going to create a new Task, the user has to choose a Start Date and an End Date:
![image](https://cloud.githubusercontent.com/assets/2428993/17022853/64dc0104-4f1e-11e6-9bba-1c842f2d808a.png)

The user is left to pick the start and end date on their own that looks like it defaults to DateTime.UtcNow or DateTimeOffset.UtcNow?

Either way, the user is allowed to pick any end date using the cale

[2016-07-21 12:58] mgmccarthy commented on #894
@tonysurma, any time to look at why we're supporting a Preffered Email and Phone number on Tasks when a user is forced to provide both to use when they register with the site? I don't think users can volunteer for a task unless they're registered with the site, correct?

[2016-07-21 13:42] VishalMadhvani commented on #1022
I like option two.
I'm not sure which date picker we are using but they generally have minvalue/maxvalue properties for this exact use case.

Another thing.. if i'm not mistaken a task can not span across multiple days.
So in reality we need three fields here:
Date: which must be between event,startdate and event.enddate
Start Time.
End Time.

[2016-07-21 14:43] mgmccarthy commented on #1022
@VishalMadhvani, "if i'm not mistaken a task can not span across multiple days."... I think that is correct. I'll defer to @stevejgordon to see if that indeed is true. He's done a whole bunch of work lately around Tasks and Events

[2016-07-21 14:46] stevejgordon commented on #1022
I think it's only itinerary task which is single date bounded. While there was some text that said all taks where single day bounded, but on one of the standups I checked and rally events can be longer.

@tonysurma might be able to confirm I didn't dream this / or whether business rules have changed

[2016-07-21 14:47] stevejgordon commented on #1022
I put in logic to check that an itinerary task should be no longer than a day

[2016-07-21 17:23] mgmccarthy opened #1023 "Move code from TaskViewModelExtensions to TaskApiController"
part of ongoing effort in Issue #994

- moved .ToModel method code out of TaskViewModelExtesnsions and into the only place that called the method, TaskApiController's .Post action method
- moved .ToViewModel out of TaskViewModelExtesnsions  and into AllReadyTask. Deleted other .ToViewModel method b/c it was not being used anywhere.
- deleted TaskViewModelExtensions class

[2016-07-22 12:49] mgmccarthy commented on #965
waiting on merge of PR #1009 so I can rebase and then submit a PR for this issue

[2016-07-22 14:03] mgmccarthy commented on #946
@tonysurma @MisterJames @BillWagner (r u still on the project?) I can't conslidate this code until there is a decision about the content of the message.

`SendAccountSecurityToken/Handler`
- sent from `AccountController` and `ManageController`
- contains this code: `$"Your allReady account security code is: {message.Token}")`

`SendSecurityCodeSms/Handler`
- sent from `AdminController`
- contains

[2016-07-22 14:19] mgmccarthy opened #1026 "SendConfirmAccountEmailHandler and SendAccountConfirmationEmailHandler do the same thing..."
I'm currently working on this

@MisterJames @tonysurma @BillWagner please assign to me

this is another is a series of issues (#946 and #967) where we have two different handlers doing the exact same thing, but with different context in the message

`SendConfirmAccountEmailHandler` contains this message:
`await emailSender.SendEmailAsync(message.Email, "Confirm your allReady account", $"Please con

[2016-07-22 18:39] mgmccarthy opened #1027 "Home Page shows no Campaigns when there are campaigns seeded"
when loading HomeController/Index, the page is displaying with no Campaigns
![image](https://cloud.githubusercontent.com/assets/2428993/17067034/df403164-5017-11e6-833c-f41228872f10.png)

looking at the view model before it's sent back to the view, there are six campaigns that were populated from a query handler:
![image](https://cloud.githubusercontent.com/assets/2428993/17066816/c195549c-5016-11

[2016-07-22 20:24] mgmccarthy commented on #622
@BillWagner @MisterJames @tonysurma @stevejgordon @VishalMadhvani

as I continue to work with AllReady, I'm starting to see `IAllReadyDataAccess` as a problem. We should be injecting `AllReadyContext` directly into handlers that need it in order to do query ops. Since we can now rely on EFCore's in-memory provider, our unit tests are moving in that direction, so the database abstraction is not eve

[2016-07-23 01:58] VishalMadhvani commented on #622
👍 agreed.
I suggest we mark it obsolete to prevent future usage and refactor it out piece by piece.

[2016-07-23 02:01] VishalMadhvani commented on #1027
Any ideas as to why this broke after the rtm update?
IIRC the organisation page also does not display data.

[2016-07-23 02:10] BillWagner commented on #622
I think this is a great idea.

This project started before the in memory EF context was supported. Now that it is here, it is a better solution.

I'd like to defer to @tonysurma and @OhMcGoo on timing. No of us wants to have a bad customer experience because this is in progress, and we have a regression.

@mgmccarthy Do you have a proposal for a set of tasks and ordering that would make this safer

[2016-07-23 02:14] BillWagner commented on #946
I'm still here. (Lots of travel last week.)

On this issue, I'll defer to @MisterJames This is not an area of the code I've looked at.

[2016-07-23 13:36] mgmccarthy commented on #1027
Again, my guess is something with our version of knockout and RTM? Just a gues. I'd  check to see if the org page uses knockout, and if it does, check to see if there is data coming back on the model from the query handler.

[2016-07-23 19:44] ofirgeller commented on #743
I tested this by adding spaces before and after the email and I can't make it fail. looking at the http request shows the email has been trimed.

![image](https://cloud.githubusercontent.com/assets/4271135/17079908/d0fa3374-5126-11e6-9f48-e7f2fbafa2f5.png)

Are we talking about a different form? or has this been fixed without the issue closing?

[2016-07-23 23:06] mgmccarthy commented on #622
@BillWagner I don't know the rollout schedule. Understanding that would help me come up with a set of tasks that made sense to minimize risk in conjunction with the rollout. Maybe it makes sense to do this after the rollout?

@VishalMadhvani I say we mark the interface obsolete now. That will let other devs know to stay away/not use it.

[2016-07-29 16:19] dpaquette commented on #622
@mgmccarthy We had been slowly working to remove `IAllReadyDataAccess` as we felt it was the wrong abstraction (as you pointed out). We were doing this slowly while still trying to deliver on new features which is always a challenge. I haven't looked at it in a while but will try to review the status over the weekend.

[2016-07-30 02:51] OhMcGoo opened #1031 "Building Itineraries in allReady"
This is my attempt to describe the Itinerary creation process including needed features. In a separate issue, I will detail Rally Event creation.

As requests for services are provided to allReady (or created within the application), organizational admins should have the ability to group these requests into itineraries for fulfillment.

**Requests**
A request is received from a third party applica

[2016-07-30 03:40] OhMcGoo opened #1032 "SMS/MMS, voice and e-mail communications with service Requesters"
Organizations should have the ability to communicate with requesters of their services by SMS/MMS, voice and e-mail from the time a request is made until after it is fulfilled. This issue is an attempt to describe the different types of communications and when and how they may be used.

An organizational admin should have the ability to create four different types of communications:

- A basic tex

[2016-08-01 02:32] mgmccarthy opened #1033 "question: do we need unit tests for "read" based handlers with a single path of execution?"
Here is an example of a simple read-based handler:

[code]

this is LYNC that returns a ViewModel. There aren't any conditionals/multiple paths of execution... so on something this simple, I can't see a reason to write a uni test for this handler. LINQ works (Microsoft already tested that)...

On a read handler like [ShowEventQueryHandler](https://github.com/HTBox/allReady/blob/a536049c2c7691bcd8b

[2016-08-01 02:35] mgmccarthy commented on #622
@dpaquette under \AllReady\Features\Events, there is extension usage of `IAllReadyDataAccess`... let me know if you want my help with the refactoring or any tasking that needs to take place in an order which would minimize impact/risk to the existing system.

[2016-08-01 02:42] mgmccarthy opened #1034 "Updating HomeController to make both mediator actions async on Index action method"
I'm currently working on this

[2016-08-01 12:34] stevejgordon opened #1036 "Itinerary Details Page Fails To Load"
Since migrating from RC1 to RTM the Itinerary Details page fails to load with the following error:

The error stems from the PotentialItineraryTeamMembersQueryHandlerAsync.cs handler. The specific line "where" line causing the issue is .Where(x => x.Task.Event.Id == message.EventId)

Behaviour within EF Core 1.0.0 seems to have changed and trying to filter by the id on the event (a child of the ta

[2016-08-01 12:47] stevejgordon opened #1038 "Create Itinerary Fails"
Since RTM, creating a new itinerary fails.

The modal displays a general failure error message as we currently catch the exception and do not throw it (modal tries to post via ajax so displays a more friendly error should anything not work).

The error is caused by the RTM EF Core changes whereby it seems that Update cannot be called for new objects any longer.

[2016-08-01 16:56] mgmccarthy commented on #1033
@VishalMadhvani, good point. We're really testing that the filters used by the LINQ query are written correctly so we get the data we're expecting.

[2016-08-02 11:47] danielepo commented on #1027
The problem seams be caused is caused by the fact that, in 1.0.0, MVC uses camel case names by default as announced here:

https://github.com/aspnet/Announcements/issues/194

the easiest change would be to change:

`services.AddMvc()`
to
`services.AddMvc().AddJsonOptions(options => options.SerializerSettings.ContractResolver = new DefaultContractResolver());`

as described by the article. But I th

[2016-08-02 12:12] mgmccarthy commented on #1027
@danielepo, thanks for tracking that down!

If you could check those other views to see if they are impacted, that would be really helpful. If any of them are impacted, please open a PR with the fix to the StartUp.cs class like you mentioned above.

As far as this Issue is concerned, I already have an open PR that fixes the problem by getting rid of knockout and using MVC. Since it's such a simple

[2016-08-02 12:33] stevejgordon opened #1041 "Add Tests for Admin Itinerary Controller (MarkIncomplete Action)"
Add some tests to validate expected behaviour of the MarkIncomplete action within the admin ItineraryController.

[2016-08-02 12:41] stevejgordon opened #1043 "Add Tests for Admin Itinerary Controller (MarkComplete Action)"
Add some tests to validate expected behaviour of the MarkComplete action within the admin ItineraryController.

[2016-08-02 12:53] VishalMadhvani commented on #1027
+1 "to change the case used and follow the new MVC standard." over reverting to pre rtm Json serialization behavior.

[2016-08-03 16:07] stevejgordon opened #1045 "List Requests For An Event (Admin Area)"
To lay the groundwork for high-level features defined in #1031 I propose we include a page which lists all requests for an event.

This page will later include links to edit those requests and to manually create new ones.

For this issue I suggest we limit the requirement to specially displaying the requests, with further issues to be added to expand on the functionality. This will make the change

[2016-08-04 10:50] mgmccarthy commented on #622
@BillWagner @dpaquette I say we can slowly retire the usage of `IAllReadyDataAccess` as we go through code building new functionality or refactoring existing code. Easiest would be to start with those methods on the interface that are not used in many places.... if you want more of a detailed "plan" I can spend the time to figure out the easiest to change to the most difficult to change...

just n

[2016-08-04 11:33] danielepo commented on #1027
@mgmccarthy I did the PR as you suggested because the problem was spread in every view that used knockout. Now that there is a global fix for the knockout binding problem, do you think PR https://github.com/HTBox/allReady/pull/1028 it's still necessary? I my opinion even if the Home/Index view is simple enough to don't require knockout, the use of it is still consistent with other views on the sit

[2016-08-04 12:21] stevejgordon opened #1048 "Remove AddOrUpdate usage in SkillEditCommandHandlerAsync"
Based on guidance from https://github.com/aspnet/EntityFramework/issues/6217, we can simplify the code a little and avoid the use of AddOrUpdate in this handler.

[2016-08-04 12:29] mgmccarthy commented on #1027
@danielepo

First, thank you for you contributions. I appreciate you jumping in and doing the research for this as well as submitting a PR.

As far as deleting PR #1028, I'm probably the wrong person to ask because I believe frameworks like knockout should only be used when it's warranted. Warranted to me means there is some type of dynamic UI functionality on the page which MVC would not be good

[2016-08-04 13:01] stevejgordon opened #1050 "Ractor Update usage in EditOrganizationHandlerAsync"
Since RTM the behaviour of Update in the EF Core RTM code has changed. This is resulting in errors when trying to Update new records.

Per https://github.com/aspnet/EntityFramework/issues/6217 we have a suggested improved pattern for this code.

[2016-08-04 13:09] stevejgordon commented on #1008
@VishalMadhvani @mgmccarthy I would 100% agree with pulling the code into the handlers and making each one responsible to update all related records as necessary. The extensions just seem to make things more complicated.

I'm torn on AutoMapper. I've used it once and thought it was somewhat useful, but I'm not too concerned with having to explicitly set the properties directly. It does make it cle

[2016-08-05 01:59] BillWagner commented on #622
@mgmccarthy I'd consider marking `IAllreadyDataAccess` and its methods with the `Obsolete` attribute. Configure the warning message so that anyone working on the project can see what should be done, and can also know what time frame we want for removing it.

Thoughts?

[2016-08-05 08:02] danielepo commented on #1027
@mgmccarthy that's actually a good point, thank you for the explanation, the project I'm currently maintaining overuses Knockout so I couldn't understand it before. I'm also not used to this open source thing :)

[2016-08-05 10:40] mgmccarthy commented on #1027
@danielepo keep in mind my comment above is my **opinion** about using a framework that doesn't need to be used in a specific case.

We'll let the project owners weigh in on it. Looks like they have a good amount of PR's to work through and merge as well, so they have their work cut out for them :wink:

[2016-08-05 17:25] #1038 closed

[2016-08-05 17:25] #1036 closed

[2016-08-05 17:26] #1050 closed

[2016-08-05 17:26] #1048 closed

[2016-08-05 17:27] #1027 closed

[2016-08-05 17:32] #1023 closed

[2016-08-06 09:48] stevejgordon opened #1052 "Unnecessary code in LockUnlockCampaignCommandHandler"
After further review of the EF Core code we don't need to the context.Update command in this handler since the campaign is already being tracked after querying the object from the database.

[2016-08-06 15:34] cecilia-donnelly opened #1055 "Receive request from smoke alarm portal"
@MisterJames opened https://github.com/redcross/smoke-alarm-portal/issues/196 in the "get a smoke alarm" repo, and this is the corresponding half of that work:
1.  An endpoint we can hit with each new smoke alarm request that comes in.  This endpoint would receive a request object with these fields:

[code]

and respond with a status and a boolean indicating whether or not AllReady will handle thi

[2016-08-06 16:17] gftrader commented on #1043
@tonysurma Pull #1044 seems to have resolved this.

[2016-08-06 16:25] gftrader commented on #1017
I'll give this one a shot

[2016-08-06 16:42] tonysurma commented on #1043
@stevejgordon is bitten by the space after the # doesn't make a reference issue again :)

[2016-08-06 16:42] #1043 closed

[2016-08-06 16:46] seanepping commented on #1055
@tonysurma I will take a look at this one

[2016-08-06 17:02] mheggeseth opened #1056 "Can't Log Off From Views in Admin Area (and other things)"
Don't know when this changed, but it looks like the area of a controller action will default to the current view's area if you don't specify an area for a controller action. This means that several links to non-Admin views are broken when you are in Admin views (most notably, you can't Log Off) because they get routed to controllers in the Admin area that don't exist.

[2016-08-06 17:03] mheggeseth commented on #1056
I'm fixing this. @tonysurma Assign me.

[2016-08-06 17:18] gmford opened #1057 "Error received when trying to navigate to any /Admin/* pages"
I am able to log in as Administrator@example.com and organization@example.com. However, an error is displayed when I try to navigate to any page under /Admin.

![adminerror](https://cloud.githubusercontent.com/assets/20876231/17458176/c8162048-5bcf-11e6-89d7-0a0a789c810b.png)

I do not get the error when logging in as User@example.com.

Version: 1.0.0.0 ddb2198

[2016-08-06 17:42] gmford opened #1058 "The link to 'Humanitarian Toolbox' in the page footer should open a new window/tab"
The page footer includes "Powered by Humanitarian Toolbox". Suggest making the link open a new window/tab. Picky, I know, but if you're taking a user to a different website, they won't lose their place on allReady.

Version: 1.0.0.0 ddb2198

[2016-08-06 18:02] binaryjanitor commented on #784
@tonysurma Working on this

[2016-08-06 18:06] seanepping commented on #1055
@tonysurma  Summing up out conversation:

We want to move the latter part of the above description into a new story/issue

We also discussed that we need to have a way for a user, when registering for an api key, could add a status change endpoint.  This would be a known status url that can be called when the status of the request changes and can be looked up internally.

Did I miss anything?

[2016-08-06 18:10] seanepping commented on #1055
I will be adding an ExternalId that will correspond to the serial portion of the request payload; this should allow us to support more unique ids from varied systems and allow us to work into a status change callback mechanism into external systems with the unique ids that they use.

I will am thinking about how the id for the above status endpoint will be received as part of the request.  I belie

[2016-08-06 18:19] tonysurma commented on #784
okay after you accept my invite we will assign to you

[2016-08-06 18:24] TheTopher commented on #784
I thought that I did.  Stop by.

[2016-08-06 18:26] gmford opened #1059 "When viewing campaigns, all dates are followed by 'Central Standard Time'"
I assume that it is selecting the time zone based on the logged in user. However, we're currently in Central Daylight Time.

The user selects their time zone on the 'Manage your account' page:
![usertimezone](https://cloud.githubusercontent.com/assets/20876231/17458522/f2864110-5bd8-11e6-8581-37ecb65586ab.png)

When viewing a campaign, could we just display the time zone of the user without adding

[2016-08-06 18:47] #1056 closed

[2016-08-06 18:59] mheggeseth opened #1061 "Make "Log Off" a proper submit button"
The Log Off link currently uses goofy javascript to initiate the `LogOff` post action to `AccountController`. It should just be a proper `<button type="submit">`.

[2016-08-06 19:00] mheggeseth commented on #1061
I'm going to fix this now.

[2016-08-06 19:24] mheggeseth commented on #985
@tonysurma This can be closed. Wasn't auto-closed by PR because software.

[2016-08-06 19:29] tonysurma commented on #985
because software is hard

[2016-08-06 19:29] #985 closed

[2016-08-06 19:29] #1061 closed

[2016-08-06 19:30] #1017 closed

[2016-08-06 19:30] #1052 closed

[2016-08-06 19:36] tonysurma commented on #1057
Talked with @mheggeseth and I am also not sure if these are exceptions and they are getting swallowed by the code and not logged out anywhere for us to view

[2016-08-06 19:39] tonysurma commented on #1022
@stevejgordon is correct only itinerary tasks are constrained to a single day

[2016-08-06 19:48] tonysurma commented on #1008
I will defer to @OhMcGoo I think that could be helpful over time but no hard requirement just yet.

as for AutoMapper @MisterJames @BillWagner interested in your thoughts.  I am have happily used it in many other apps but have no strong opinion on value of that for this use case

[2016-08-06 19:50] tonysurma commented on #1000
for me this is on 'long' hold due to the whole geo searching thing being a mess/on hold for this

It is not for the mapping as that was for requests for itinerary building

[2016-08-06 19:53] tonysurma commented on #982
pinging @MisterJames and @BillWagner for thoughts

[2016-08-06 19:55] tonysurma commented on #697
yes it is

[2016-08-06 19:55] #697 closed

[2016-08-06 20:01] gftrader commented on #1041
@tonysurma it looks like these tests were completed in pull #1042. Github is showing a note next to that commit saying this will close once #1042 is merged into the master.

[2016-08-06 20:15] #1041 closed

[2016-08-06 20:17] mheggeseth opened #1065 "Event Detail View Crashes When User Not Logged In"
![image](https://cloud.githubusercontent.com/assets/775229/17458802/1e33ec84-5be5-11e6-871b-f530302e6edb.png)

[2016-08-06 20:17] mheggeseth commented on #1065
I'll fix this.

[2016-08-06 20:30] tonysurma opened #1066 "Errors on admin pages due to views"
![image](https://cloud.githubusercontent.com/assets/5067595/17458915/80c211e6-5bea-11e6-8323-4a420b4e2250.png)
![image](https://cloud.githubusercontent.com/assets/5067595/17458917/94927364-5bea-11e6-95e2-ad6749d4d59d.png)
![image](https://cloud.githubusercontent.com/assets/5067595/17458920/9e5a0574-5bea-11e6-9d92-a0a57a688e4f.png)
![image](https://cloud.githubusercontent.com/assets/5067595/1745892

[2016-08-06 20:30] tonysurma commented on #1066
@mheggeseth is this related to what you saw with views elsewhere I wonder?

[2016-08-06 20:47] mheggeseth commented on #1065
Never mind. This was fixed by #1062.

[2016-08-06 20:47] #1065 closed

[2016-08-06 20:51] mheggeseth commented on #1057
@tonysurma This can be closed. Superseded by the more specific #1066.

[2016-08-06 20:57] gordanac commented on #743
this appears to be browser specific -got error in  IE but not in Chrome

[2016-08-06 20:59] gftrader commented on #1066
Initially, I was only seeing this problem on the Azure deployment, but have since been able to login and navigate to the Admin pages successfully. Has this been resolved or is the problem intermittent?

[2016-08-06 21:08] tonysurma commented on #1066
yep I just fixed this on the azure deployment the whole Areas directory was missing...  more slop from the RC to RTM deploymnent mess

[2016-08-06 21:08] #1066 closed

[2016-08-06 21:20] mheggeseth commented on #956
@tonysurma I can't reproduce this. Looking at the code, the only way this could have happened is if `var user = GetCurrentUser()` returns null which then causes `user.ToViewModel()` to blow up. However, this should never happen because the `[Authorize]` attribute at the top of `ManageController` ensure no action should enter unless a user is logged in. I suggest closing because there's really noth

[2016-08-06 21:20] #956 closed

[2016-08-06 21:21] #1057 closed

[2016-08-06 21:24] tonysurma opened #1067 "on home page log off link is blue"
but only on the home page

![image](https://cloud.githubusercontent.com/assets/5067595/17459134/33b67b8c-5bf2-11e6-878f-0cd843645c34.png)

[2016-08-06 21:27] jonatwabash commented on #684
@tonysurma could I take this one? I'm pretty sure I can get a couple of tests done this weekend.

[2016-08-06 21:30] mheggeseth commented on #260
@tonysurma Can close this as dupe of #972.

[2016-08-06 21:41] mheggeseth commented on #1067
This is because `_LayoutMainPage.cshtml` doesn't cache-bust with `asp-append-version="true"`. I'll fix it.

What _should_ happen is that `_LayoutMainPage.cshtml` should die and we should only have `_Layout.cshtml`. I'll write up a separate issue for that.

[2016-08-06 21:43] gmford opened #1069 "Admin - Remove Address1 and Address2 fields for Itinerary on Create Event page"
You can probably keep City and State.

A Rally, on the other hand, would need the address fields.

Source: App review.

Version: 1.0.0.0 ddb2198

[2016-08-06 21:54] mheggeseth opened #1071 "Combine _LayoutMainPage.cshtml and _Layout.cshtml"
`_LayoutMainPage.cshtml` (used only for `/Home/Index`, the home view of the app) has the same purpose as `_Layout.cshtml` and is more or less a duplication of it with some non-essential differences. Reduce maintenance malarkey by combining them into one layout view.

[2016-08-06 21:57] gmford opened #1072 "Add the autofocus attribute to the Email field on the Login page"
This will make it consistent with the login page on Crisis Check-In.

Version: 1.0.0.0 ddb2198

[2016-08-06 22:10] #260 closed

[2016-08-06 22:11] #1067 closed

[2016-08-06 22:33] mheggeseth opened #1073 "App Needs Status Code Pages"
The app needs [status code pages](https://docs.asp.net/en/latest/fundamentals/error-handling.html) (most notably a 404 page).

[2016-08-06 23:32] tonysurma commented on #684
sure, thanks

[2016-08-06 23:50] mheggeseth opened #1074 "Dead Event-Related Code"
There's a bunch of event-related dead code that should be deleted:
* `Views/Event/Event.cshtml` - this was the event detail page before it was replaced by `EventWithTasks.cshtml`. In fact, `EventWithTasks.cshtml` seems to be a modified copy of `Event.cshtml`.
* `Views/Event/Events.cshtml` - this was a view for listing all events from all unlocked campaigns, but it's no longer linked to by anything

[2016-08-06 23:50] mheggeseth commented on #1074
I'm on it.

[2016-08-07 13:07] #1074 closed

[2016-08-07 13:09] #1034 closed

[2016-08-07 13:44] gordanac commented on #1069
I will take a look at this one

[2016-08-07 14:09] binaryjanitor commented on #1072
@tonysurma Working on this

[2016-08-07 14:18] digitaldrummerj opened #1076 "Cordova Build - unable to find the sax module"
Build Error with Cordova Project

[code]

Error troubleshooting link:

[https://msdn.microsoft.com/query/dev14.query?appId=Dev14IDEF1&l=EN-US&k=k(BLD401);k(TargetOS-8.1)&rd=true](https://msdn.microsoft.com/query/dev14.query?appId=Dev14IDEF1&l=EN-US&k=k(BLD401);k(TargetOS-8.1)&rd=true)

[2016-08-07 14:21] tonysurma opened #1077 "Geocode addresses on requests as they are imported via CSV"
If there isn't a lat, long supplied geocode and add this to the request

- [ ] check for lat long incoming
- [ ] update request model for lat, long
- [ ] geocode address to lat, long
- [ ] persist this as we import

[2016-08-07 14:22] tonysurma opened #1078 "Geocode addresses on requests as they are posted to the external API"
If there isn't a lat, long supplied geocode and add this to the request

- [ ] check for lat long incoming
- [ ] update request model for lat, long
- [ ] geocode address to lat, long
- [ ] persist this as we import

will reuse work from #1077 as this is same work but from two entry points

[2016-08-07 14:24] mheggeseth commented on #1077
I'll work on this today. Do we have a specific geocoding API in mind? Otherwise, I'll ask the internet.

[2016-08-07 14:24] tonysurma opened #1080 "Display geocoded requests on build itinerary screen"
once we have #1077 and #1078
- [x] display requests on map as pins
- [x] vary display of pins based on status
- [ ] filter by status and other items already on screen
- [ ] tools for visual selection (lasso, click individual)
- [ ] order the list of selected items as optimized route (given start address)

[2016-08-07 14:24] tonysurma commented on #1080
cc @gftrader

[2016-08-07 14:25] tonysurma commented on #1077
@mheggeseth chat with @gftrader and others over 'here' as they were talking APIs a moment ago

[2016-08-07 14:26] tonysurma commented on #1069
thx @gordanac

[2016-08-07 14:26] digitaldrummerj opened #1081 "Cordova - upgrade to the latest Cordova and Ionic versions"
For Cordova the project is 5.1.1 and the latest version is 6.3

For Ionic is it using 1.0.1 and the latest version is 1.3,1

[2016-08-07 14:29] digitaldrummerj opened #1082 "Cordova - convert to a true ionic project"
Right now the project is a Cordova Tools project that has ionic added into it but it is not a true ionic project.  The ionic framework has a great cli that provides functionality like converting sass to css, theming support, serve with live reloading.

TACO is fully compatible with an ionic framework project that is generated from the ionic cli.

[2016-08-07 14:34] tonysurma commented on #1069
To clarify this, and agree/disagree @OhMcGoo the goal was to remove address 1 and 2 from being required and NOT remove the fields.  This will allow either
1313 mockingbird ln, schaumburg, il 90210 OR
Schaumburg, IL 90210 as both being valid

[2016-08-07 14:42] binaryjanitor commented on #1073
@tonysurma Working on this

[2016-08-07 14:50] gordanac commented on #1069
@tonysurma thanks for clarifying

[2016-08-07 15:09] gmford opened #1083 "Change the page title on all pages to use 'allReady'"
Modify the `<title>` tag on all pages to use 'allReady' rather than 'AllReady'.

This will make the branding consistent throughout the site.
![pagetitle](https://cloud.githubusercontent.com/assets/20876231/17463238/5846fba8-5c87-11e6-95e1-fe5faf87b302.png)

Found in Version: 1.0.0.0 ddb2198

[2016-08-07 15:46] tonysurma opened #1084 "Messaging Updates for AllReady Volunteer Communication"
- [ ] Requestor can specify communication preferences (text, voice) for communications
- [ ] Promote text and fall back to voice
- [ ] Upon adding a request to an itinerary send a "scheduled for [date] notification with "Y" response for setting request to confirmed, "N" for setting request to unassigned
- [ ] Daily Web Job for 7 days before scheduled date "scheduled for next week on [date]"
- [ ]

[2016-08-07 15:49] tonysurma commented on #1084
ping @OhMcGoo

[2016-08-07 15:57] gmford opened #1085 "The version number in the page footer is not updating dynamically"
It shows the same version number as yesterday, even though newer versions have been pushed.

Discovered in Version: 1.0.0.0 ddb2198 (which is incorrect, obviously). :)

[2016-08-07 16:02] tonysurma opened #1086 "git version is not being published during azure deploy"
make change to project.json to include version.json inside of the publish options section

[2016-08-07 16:04] ofirgeller commented on #743
tnx, ill take another look

On Sat, Aug 6, 2016 at 4:57 PM, gordanac <notifications@github.com> wrote:

[2016-08-07 16:08] gmford commented on #1085
This can be closed. Superseded by the more technically succinct #1086.

[2016-08-07 16:09] OhMcGoo commented on #1084
![allready communications workflow](https://cloud.githubusercontent.com/assets/4147733/17463624/58a55bfa-5c8f-11e6-9f62-1ecff34faad5.jpg)

[2016-08-07 16:18] digitaldrummerj opened #1087 "Solution architecture guide prerequisites are out of date"
At [https://github.com/HTBox/allReady/wiki/Solution-architecture](https://github.com/HTBox/allReady/wiki/Solution-architecture) in the "Get Started with the allReady solution" the prerequistes need to be updated to list ASP.NET Core 1.0 instead of ASP.NET 5 RC1.

The guide also does not mention Update 3 is needed.

[2016-08-07 16:23] digitaldrummerj opened #1088 "Solution architecture guide - update ASP.NET 5 an EF 7 to their core names"
AT [https://github.com/HTBox/allReady/wiki/Solution-architecture](https://github.com/HTBox/allReady/wiki/Solution-architecture) there are a few places that still mention ASP.NET 5,  ASP.NET MVC 6 and Entity Framework 7, these should be renamed to the .NET Core names.

Entity Framework 7 = Entity Framework Core
ASP.NET 5 = ASP.NET Core 1.0
ASP.NET MCVC 6 = ASP.NET Core MVC 1.0

[2016-08-07 16:38] #1085 closed

[2016-08-07 16:45] tonysurma commented on #1055
Keeping this open so we can do further work as needed as well as validate this 'works' from the getamokearlarm side

[2016-08-07 16:57] seanepping commented on #1084
@tonysurma I am looking into this

[2016-08-07 17:20] gmford opened #1089 "On the Admin Create and Edit Organization pages, standardize 'URL' in field labels"
Please capitalize all references to 'URL'. This will make it consistent with other field labels:
![adminorgurl](https://cloud.githubusercontent.com/assets/20876231/17463977/35c4fabe-5c99-11e6-9416-2c88636a9f8a.png)

Discovered in Version: 1.0.0.0 8a77b3a

[2016-08-07 17:35] gmford commented on #1089
Similarly, here's a change for the Admin Organization list page:
![adminorglisturl](https://cloud.githubusercontent.com/assets/20876231/17464067/73e2af2e-5c9b-11e6-8cb7-77a2fc5abf6e.png)

[2016-08-07 17:41] tonysurma opened #1091 "Update Mobile App for Current Functionality Requirements"
- [ ] Volunteer has mobile app to view volunteer dashboard (similar to website)
- [ ] Volunteer can see itinerary they are scheduled on next/today
- [ ] For today's itinerary volunteer can view requests, order of request and details of each item
- [ ] Volunteer can mark request complete on today's itinerary
- [ ] Volunteer can mark request incomplete on today's itinerary with note

[2016-08-07 17:41] tonysurma commented on #1091
- [ ] Volunteer can view and edit profile data on mobile app

[2016-08-07 17:42] gmford opened #1092 "On the Admin Organization list page, make the organization website URLs clickable"
Open the link in a new tab/window, since you're taking the user away from allReady:
![adminorglisturl](https://cloud.githubusercontent.com/assets/20876231/17464114/4df1be76-5c9c-11e6-83c2-1a33c1ec32e6.png)

Discovered in Version: 1.0.0.0 8a77b3a

[2016-08-07 17:49] gmford commented on #1089
And the Admin Organization Details page:
![adminorgdetailsurl](https://cloud.githubusercontent.com/assets/20876231/17464153/2cbb7fa2-5c9d-11e6-9365-23945b070ea4.png)

[2016-08-07 17:50] tonysurma opened #1093 "Error on editing campaign"
shouldn't happen

[2016-08-07 18:24] #1093 closed

[2016-08-07 19:06] binaryjanitor commented on #1092
@tonysurma Working on this

[2016-08-07 19:10] digitaldrummerj opened #1097 "Mobile App - create a login page within the mobile app"
Currently the mobile app uses an in-app-browser to launch the mobile web sites login page.  This does not provide the best user experience as the user is then able to navigate around the mobile web page and is not longer really uses the mobile application.

[2016-08-07 19:13] tonysurma opened #1098 "geocoded requests: display requests on map as pins"
sub issue of #1080

[2016-08-07 19:13] tonysurma opened #1099 "geocoded requests: vary display of pins based on status"
sub issue of #1080

[2016-08-07 19:14] tonysurma opened #1100 "geocoded requests: filter by status and other items already on screen"
sub issue of #1080

[2016-08-07 19:15] tonysurma opened #1101 "geocoded requests: tools for visual selection (lasso, click individual)"
sub issue of #1080

[2016-08-07 19:16] DanKline commented on #1058
Added target="_blank" to each href in the footer.

[2016-08-07 19:16] tonysurma opened #1102 "geocoded requests: order the list of selected items as optimized route (given start address)"
sub issue of #1080

[2016-08-07 19:52] gmford opened #1105 "On the Admin Event Create and Edit pages, the Description field is disabled"
When adding or editing an event, I can't click in the Description field:
![eventdescription](https://cloud.githubusercontent.com/assets/20876231/17464892/87179cea-5cae-11e6-950a-0cc2a7fa2528.png)

Discovered in Version: 1.0.0.0 8a77b3a

[2016-08-07 19:57] DanKline opened #1106 "Views\Organizations\Index.cshmtl - missing references js/organizations.js"
Line 62 in index.cshtml references missing JavaScript File

 <script type="text/javascript" src="~/js/organizations.js"></script>

[2016-08-07 20:03] gmford opened #1107 "On the Admin Event Edit page, the Start/End Date fields are empty"
When I view an existing event on the Admin Campaign Details page, the Start and End dates/times appear:
![admineventtimesdisplay](https://cloud.githubusercontent.com/assets/20876231/17464969/1b9672e6-5cb0-11e6-9193-c5242ac7bf30.png)

But when I edit that event, the Start Date and End Date fields are empty:
![admineventtimesmissing](https://cloud.githubusercontent.com/assets/20876231/17464970/24d70

[2016-08-07 20:03] digitaldrummerj opened #1108 "Mobile App - add logic to give message that it only works on device/emulator"
the login page is opened through the cordova in app browser so it requires to be run on a device or emulator for the page to work.  Right now, the spinner never goes away if you launch in ripple or ionic serve.

[2016-08-07 20:04] digitaldrummerj opened #1109 "Mobile App - split services into a file for each factory"
Currently there are 2 angular factories contained in the services.js file.  For ease of finding the factories, they should be split into their own file.

[2016-08-07 20:08] gmford commented on #1105
If I turn on the F12 Developer Tools in IE, I can't highlight that field. It's like another object on the page is overlapping that entire row.

[2016-08-07 20:29] binaryjanitor commented on #784
@tonysurma not done. Shifted gears. Still open

[2016-08-07 20:31] #1077 closed

[2016-08-07 20:31] #1078 closed

[2016-08-07 20:32] #1098 closed

[2016-08-07 20:51] gmford commented on #1105
Verified this works in Edge, but not in IE, Chrome and Safari.

[2016-08-07 20:54] #1089 closed

[2016-08-07 20:58] #1058 closed

[2016-08-07 20:58] #1073 closed

[2016-08-07 20:58] #1092 closed

[2016-08-07 20:59] #1083 closed

[2016-08-07 21:00] binaryjanitor commented on #1107
@tonysurma Working on this

[2016-08-07 21:02] mheggeseth opened #1114 "Use Google Geocoding API Key Before Wide Deployment"
#1090 updated the "request" acquisition process (either through importing a CSV or by receiving posts at `api/request`) to automatically geocode addresses if they don't already provide location coordinates in latitude and longitude. This currently uses an anonymous google geocoding API that is subject to rate limits. Before wide use of allReady, we need to acquire a proper key for use of the API.

[2016-08-07 21:13] gmford commented on #1105
If I'm in the field above (Name) or below (Headline) and **tab** into the Description field, I can enter characters. However, if I just **click** on the Description field, it doesn't become active.

[2016-08-08 09:17] ofirgeller commented on #743
Pull request #1116

[2016-08-08 13:00] danielepo commented on #215
It looks like this have been already solved

![campain](https://cloud.githubusercontent.com/assets/6214856/17480411/140fcb4e-5d78-11e6-9115-b6c5e5d20759.png)

[2016-08-08 13:33] mgmccarthy commented on #1084
@tonysurma  @seanepping

we could look into using a code-based scheduler for this functionality: http://www.quartz-scheduler.net/

a lot more flexible than kicking off a process from a build in windows scheduler.

[2016-08-09 02:03] digitaldrummerj commented on #1081
I am working on this

[2016-08-09 02:03] digitaldrummerj commented on #1082
I am working on this

[2016-08-09 02:03] digitaldrummerj commented on #1076
I am working on this

[2016-08-09 11:05] danielepo commented on #890
I noticed that the models in the Allready/Areas/Admin/Models folder are used to query the data and then are sent to the View:

![image](https://cloud.githubusercontent.com/assets/6214856/17514025/982a4e78-5e30-11e6-9a09-2f9886217bc7.png)

while the controllers that are not in the Admin area use a Model to query the data and then build a ViewModel and pass it to the view, like for example in the Ca

[2016-08-09 11:42] mgmccarthy commented on #482
we already have Shouldy installed. Does Should or FluentAssertions bring anything to the table that Shouldy does not?

I'm only asking, b/c every library we add creates a potential learning curve for new contributors.

@tonysurma @BillWagner @MisterJames any thoughts on adding these libraries?

[2016-08-09 11:51] mgmccarthy commented on #890
@danielepo

How the ViewModel is built is irrelevant. The ViewModel may be built by a MediatR query handler, or as your code snippet above shows, it may be constructed by the controller from a model and then a ViewModel built from that model by some other means.

In a perfect world, all ViewModels would be built by MediatR handlers, and the controllers would simply pass back the ViewModel to the v

[2016-08-09 12:45] mgmccarthy commented on #1026
@tonysurma @MisterJames @BillWagner. Can we get a decision on the "verbiage" here and I can refactor out the duplicate code?

[2016-08-09 12:48] mgmccarthy commented on #567
@MisterJames @tonysurma @stevejgordon. I think this Issue is done. There should be no other controllers using any data access injection. I finished removing IEmailSender from a couple controllers a month or two ago.

The only thing still being injected into controllers are SignInManager, UserManager, etc... dependencies dealing with authentication and authorization, which we're going to leave.

[2016-08-09 14:13] danielepo commented on #890
@mgmccarthy  thank you very much for your explanation, I really appreciate it!

[2016-08-10 07:09] danielepo commented on #568
this was fixed by PR https://github.com/HTBox/allReady/pull/1047

[2016-08-10 07:46] danielepo opened #1122 "Import Data crashes if Upload button is clicked without having selected any file"
If no file is selected with the Browse button

![image](https://cloud.githubusercontent.com/assets/6214856/17545764/dd4f0f26-5ede-11e6-90bb-cab98f9a7e21.png)

the file object in the Index action is null
![image](https://cloud.githubusercontent.com/assets/6214856/17545777/f12ca8c8-5ede-11e6-9a32-0a86d0850482.png)

And the NullRefferenceException remains unmanaged
![image](https://cloud.githubuserco

[2016-08-10 17:25] mgmccarthy opened #1124 "Edit Task UI does not populate task's start date and end date time fields"
editing an existing task:
![image](https://cloud.githubusercontent.com/assets/2428993/17563384/2c7dda82-5efd-11e6-93b4-26333f19d9ba.png)

although the model is returning the start date and end date time:
![image](https://cloud.githubusercontent.com/assets/2428993/17563422/5744ad0e-5efd-11e6-872f-1357faceb54b.png)

The UI is not showing it when it loads:
![image](https://cloud.githubusercontent.com

[2016-08-10 17:26] mgmccarthy commented on #1107
@binaryjanitor @gmford

are the start/end date fields using the
`<input asp-for="[MODEL_PROPERTY]" class="form-control datetimepicker" />`?

If so, check out Issue #1124. This might be the same problem if both UI's are using the datetimpicker

[2016-08-10 17:58] mgmccarthy commented on #1124
quick update on this issue.

It appears as if the `class="form-control datetimepicker"` is causing this issue for start and end date:
[code]

when removing the class from each of the controls:
[code]

I can see the correct start and end date time values being loaded into the start and end date fields (even though it's not pretty, the data is there)
![image](https://cloud.githubusercontent.com/asse

[2016-08-11 05:39] nedruk commented on #783
If nobody is looking at this, I would like to pick it up.

[2016-08-11 07:12] stevejgordon commented on #1124
@mgmccarthy I think this broke since RTM as that was the first time I noticed an issue. @VishalMadhvani has a PR (#1025) in which I think might address this.

[2016-08-11 09:09] VishalMadhvani commented on #1124
I can't see how its possible for the RTM update to break this.
My understanding of the issue is the datepicker plugin being used, clears the date when its initialised.
PR #1025 fixes that but I'm running into trouble with localisation.

Happy for someone to pick up the pr and crack on as I've not got much time to look into it.

[2016-08-11 09:10] VishalMadhvani commented on #1107
This issue appear everywhere we use .datetimepicker and .datepicker.

[2016-08-11 10:30] stevejgordon commented on #1124
@VishalMadhvani Purely guessing, but perhaps some changes in the razor processing somewhere? I can't specially think of what that might be though. I could be wrong and perhaps it broke prior to RTM for some other reason.

[2016-08-11 10:37] mgmccarthy commented on #1124
@stevejgordon  @VishalMadhvani

What I'm seeing when the page loads sometimes is the start and end date do get populated ,but only for a split second before they're both cleared out. Sometimes I won't see it at all. It's almost like there some type of page refresh/DOM refresh that happening that is clearing them out.

I tried to comment out/remove all the knockout code from the Task create/edit pa

[2016-08-11 16:54] Bnewman opened #1125 "[question] Should Apache Cordova dependency be updated to 5.4.1?"
When I forked the repo a few weeks back and was working through the prerequisites I found that to get the mobile project to build I had to modify taco.json and package.json to change the cordova version to 5.4.1 to match what I had installed on my machine.

This may have been a by-product of a peculiar upgrade path on my part, or the prerequisite guide being slightly out of date with what was avai

[2016-08-11 16:59] Bnewman commented on #1088
I would like to volunteer to take this task on. Safe to assume that the download links should be updated as well?

[2016-08-11 17:00] Bnewman commented on #1087
I would like to volunteer to take this task on.

[2016-08-11 22:05] tonysurma commented on #1087
Thanks @Bnewman

I have also invited you to join the repository as a collaborator so I can assign items to you.

[2016-08-11 22:07] tonysurma commented on #1125
Hello @Bnewman @digitaldrummerj is working on upgrading the project as part of another issue/pull request right now so I think that will address that, do you agree @digitaldrummerj ?

[2016-08-11 22:09] #1087 closed

[2016-08-11 23:05] #1069 closed

[2016-08-11 23:05] #1105 closed

[2016-08-11 23:08] #743 closed

[2016-08-12 03:57] #977 closed

[2016-08-12 12:49] mgmccarthy commented on #965
adding an additional note here. Just b/c we can't retrieve the email from the external login chosen does not neccessarily mean that the user has not already verified their email with that provider (as a matter of fact, they probably have).

That being the case, we're going to approach this as:
- if our code can't pull in the email address for your chosen login provider, then we will be sending you

[2016-08-12 14:59] #1045 closed

[2016-08-13 16:09] MisterJames opened #1130 "Mark AllReadyDataAccess methods as obsolete"
The goal here is to discourage use of the repository pattern and move towards query/command patterns leveraging the `AllReadyContext` directly.

The `IAllReadyDataAccess` approach pre-dated a number of framework features and patterns that are available today (due to the pre-pre-pre-release status of Core at the time).  Implementing it in such a way is an abstraction over an abstraction that only g

[2016-08-13 16:54] DanKline opened #1132 "Create Task allows Negative Volunteers"
On the Admin Create Task screen, the component allows negatives to be entered for Volunteers Required
![image](https://cloud.githubusercontent.com/assets/3081226/17644453/ac4eabbe-614c-11e6-8f67-f165e4669211.png)

[2016-08-13 18:47] DanKline commented on #1107
I just tested this and it appears to be fixed.  Can someone else verify this and make a request to close this issue?

[2016-08-14 01:20] DanKline commented on #1022
I've noticed that the date populates briefly, like events used to, but then disappears.  It's probably the same issue,  I'm looking for it, but as neither an MVC or EF7 ninja, I don't have much confidence that I'll find it.

[2016-08-15 10:58] mgmccarthy opened #1134 "AccountController does not lock account after x number of login failures..."
not too sure if this is desired behavior or not, but I came upon this comment in AccountController:

[code]

do we want to enable account lockout for AllReady? If not, this comment should be deleted

[2016-08-15 12:37] stevejgordon opened #1135 "Create "tabbed" links on the Event Requests"
Add some navigational links on the event requests page to make navigation easier. These will be styled in a similar way as the github tab nav links.

[2016-08-16 12:46] adam-gligor commented on #879
I created the unit tests for this class

[2016-08-16 17:09] mgmccarthy commented on #920
@stevejgordon can you verify this Issue can be closed based on my research above? Thanks

[2016-08-16 17:15] mgmccarthy commented on #469
@tonysurma I think this Issue can be closed. Looks like PR #757 was merged.

[2016-08-16 17:16] mgmccarthy commented on #338
@YannickMeeus was there ever a PR for this Issue?

[2016-08-17 12:31] danielepo opened #1139 "EventApiController Get method throws NullReferenceException when event has required skills"
The problem is that LazyLoading is [still not handled by EF7](https://ef.readthedocs.io/en/latest/querying/related-data.html#lazy-loading) and so, when creating the EventViewModel the Skill object in the RequiredSkills list is still null and so the SkillViewModel constructor throws the NullReferenceException

![image](https://cloud.githubusercontent.com/assets/6214856/17736256/0968ad9e-6487-11e6-8

[2016-08-17 14:55] mgmccarthy opened #1141 "Refactor TaskSummaryViewModel out of TaskController"
@tonysurma please assign to me

Trying to align with simplifying our ViewModels (Issue #730), I refactored TaskController to use a ViewModel/Message/Handler per action method where it makes sense. I've also removed a call that was being processed synchronously from an async action method.

Note each handler is optimized for the ViewModel it is building for the UI that will eventually consume it. T

[2016-08-17 15:32] danielepo commented on #377
Is anyone still working on this?
If not, I'd like to propose my solution, here's a snapshot of the dashboard:
![image](https://cloud.githubusercontent.com/assets/6214856/17742034/c2d977a6-649e-11e6-90e4-449a194b289d.png)

 - it uses [fullcalendar](http://fullcalendar.io/) to view the events
 - by clicking on an event the user is redirected to the event details page
 - it loads only the events of t

[2016-08-17 18:59] #965 closed

[2016-08-17 20:04] mgmccarthy opened #1143 "Remove GetManagingOrganizationid from IAllReadyDataAccess"
@tonysurma please assign to me

part of work to eventually phase out IAllReadyDataAccess (Issues #1131 and #1130)

[2016-08-18 01:43] jonbakerappdev commented on #1071
I am working on this...

[2016-08-18 11:12] mgmccarthy opened #1145 "Remove GetEventSignups(string userId) from IAllReadyDataAccess"
@tonysurma please assign to me

GetEventSignups(string userId) is not being used. It should be removed

part of work to eventually phase out IAllReadyDataAccess (Issues #1131 and #1130)

[2016-08-18 12:19] mgmccarthy opened #1147 "Remove UpdateEvent from IAllReadyDataAccess"
@tonysurma please assign to me

refactored the context code into UpdateEventHandler

[2016-08-18 20:16] mgmccarthy opened #1149 "Remove Campaign CRUD from IAllReadyDataAccess"
@tonysurma please assign to me

part of work to eventually phase out IAllReadyDataAccess (Issues #1131 and #1130)

[2016-08-19 16:44] mgmccarthy opened #1153 "Introduce IDateTimeOffsetProvider to abstract the conversion of date time offsets."
@tonysurma pleas assign to me.

I am currently working on this.

As part of an ongoing effort to make working with DateTimeOffset's easier, I've introduced a new abstraction, IDateTimeOffsetProvider.

This provider will be injected into code that needs to reach out to DateTimeOffset and supply it a TimeZoneId along with a DateTimeOffset (usually from a ViewModel) to convert to the correct value ba

[2016-08-19 18:48] mgmccarthy opened #1155 "Remove IAllReadyDataAccess from UsersQueryHandler"

[2016-08-19 20:15] mgmccarthy opened #1157 "Remove IAllReadyDataAccess from AddEventSignupCommandHandlerAysnc"

[2016-08-20 14:29] #622 closed

[2016-08-20 14:29] #1130 closed

[2016-08-20 14:30] #1135 closed

[2016-08-20 14:58] #664 closed

[2016-08-20 15:02] #1141 closed

[2016-08-20 15:29] #1122 closed

[2016-08-20 16:22] robrich commented on #1086
Solved via https://github.com/HTBox/allReady/pull/815, can close.

[2016-08-21 20:02] #1086 closed

[2016-08-21 20:02] MisterJames commented on #1086
Thanks @robrich!

[2016-08-22 20:40] mgmccarthy opened #1163 "Move MakeUserOrganizationAdminUser method from TaskControllerTests to ControllerTestHelpers and rename to MakeUserAnOrgAdmin"
This issue can be closed when the following PR's are all merged:
#1174
#1172
#1170
#1167
#1165
#1164

@tonysurma, please assign to me.

I'm currently working on this.

Attempting to centralize the often needed test setup for controllers to "make a user an org admin user". Currently, we do this in different ways with code that looks like this in the controller setup:
[code]

using the MakeUserAnOrg

[2016-08-23 14:15] YannickMeeus commented on #338
@mgmccarthy There hasn't been, no. I'm afraid I completely got stuck in work for the last couple of months, with little to no time to spend on AllReady I'm afraid. If someone else wants to pick up this change, they're more than welcome to it as I won't be able to address this any time soon. Apologies guys.

[2016-08-23 20:18] samqty commented on #785
Volunteering to pick up this one!

[2016-08-23 20:48] mgmccarthy opened #1166 "Update ItineraryAdminControllerTests to use MakeUseranOrgAmdin and MakeUserNotAnOrgAdmin in ControllerTestHelpers"
Addresses #1163

[2016-08-23 20:52] mgmccarthy commented on #785
@samqty, go for it! If you have any questions, please feel free to ask.

[2016-08-24 00:00] mgmccarthy opened #1169 "Update SiteAdminControllerShould to use newly added ApplicationUserTestHelpers.MakeOrgAdmin extension method"
Addresses #1163

[2016-08-24 00:22] mgmccarthy opened #1171 "Update AccountControllerTests to use new code in ApplicationUserTestHelpers"
Addresses #1163

[2016-08-24 00:36] mgmccarthy opened #1173 "Update RedirectToAccountcontrollerRequestsShould to use newly added extension methods in ApplicationUserTestHelpers"
Addresses #1163

[2016-08-26 08:01] #1139 closed

[2016-08-26 12:19] mgmccarthy commented on #890
@tonysurma, this Issue can be closed

[2016-08-26 12:26] mgmccarthy commented on #894
@tonysurma @MisterJames

the reason I'm asking this is b/c we are not requiring either:
1. that the user confirm their email when registering with the site before they start to volunteer
2. preferred email need to have legit email when volunteering

this is resulting in a lot of code in communication-based handlers (aka, handlers that send email and/or sms texts) further down the pipeline that has

[2016-08-26 15:21] mgmccarthy opened #1177 "Move SmtpEmailSender to the /Services folder"

[2016-08-26 23:14] digitaldrummerj commented on #1088
Looks like this was is fixed and has already been merged.

[2016-08-26 23:14] #1088 closed

[2016-08-26 23:16] digitaldrummerj commented on #1072
@binaryjanitor and @tonysurma looks like this has been completed and merged.  Can this issue be closed?

[2016-08-26 23:18] digitaldrummerj commented on #1125
@tonysurma  @Bnewman correct, I am working on this.

[2016-08-26 23:50] digitaldrummerj commented on #764
@tonysurma can this issue be closed?  looks like fix has been merged for this issue.

[2016-08-26 23:51] digitaldrummerj commented on #724
@mgmccarthy @tonysurma can this issue be closed?  it looks like a PR was merged that fixes the issue.

[2016-08-26 23:55] digitaldrummerj commented on #708
@tonysurma looks like the PR for this issue has been merged.  Can we close the issue?

[2016-08-27 00:01] digitaldrummerj commented on #568
@tonysurma looks like this can be closed since it was fixed in the PR.

[2016-08-27 00:05] digitaldrummerj commented on #535
@tonysurma @dpaquette looks like this issue was fixed in PR and can be closed.

[2016-08-27 14:31] #1143 closed

[2016-08-27 14:32] #1147 closed

[2016-08-27 14:32] #1149 closed

[2016-08-27 14:34] #1155 closed

[2016-08-27 14:34] #1157 closed

[2016-08-27 14:38] #1171 closed

[2016-08-27 14:39] #1177 closed

[2016-08-27 14:42] #1166 closed

[2016-08-27 14:44] tonysurma commented on #1125
closing it out as the answer is yes.  thanks @Bnewman and @digitaldrummerj

[2016-08-27 14:44] #1125 closed

[2016-08-27 14:46] tonysurma commented on #1107
will add 'needs verification' tag later

[2016-08-27 14:48] #1072 closed

[2016-08-27 14:48] tonysurma commented on #1071
@mheggeseth any chance you can review @jonbakerappdev PR for this?

Thanks @jonbakerappdev for your contributions and welcome to the project!

[2016-08-27 14:51] tonysurma commented on #919
@VishalMadhvani wanted to check in if you are still working on this.  Thanks in advance

[2016-08-27 14:52] tonysurma commented on #910
when you are an org admin then the contact info for your org should be copied into the campaign (like a nice starting point) if you are a site admin this button should not appear as it doesn't make logical sense etc.

[2016-08-27 14:53] #890 closed

[2016-08-27 14:55] tonysurma commented on #879
thanks @adam-gligor for contributing! I apologize if I missed it but have you made a pull request to have us pull those changes into the project?  If you have any questions on that @stevejgordon has a great blog post and is super helpful as well as @mgmccarthy has helped with a lot of our unit tests so would be happy to review them as well.

Thanks again for your contributions and welcome to the p

[2016-08-27 14:57] tonysurma commented on #848
@stevejgordon is this still active?

[2016-08-27 14:57] #764 closed

[2016-08-27 14:57] #724 closed

[2016-08-27 14:57] #708 closed

[2016-08-27 14:58] tonysurma commented on #659
ping @MisterJames issue review in aisle 659 😄

[2016-08-27 14:59] tonysurma commented on #540
needs verification

[2016-08-27 14:59] tonysurma commented on #555
needs verification

[2016-08-27 14:59] #535 closed

[2016-08-27 15:00] tonysurma commented on #512
@MisterJames @dpaquette @stevejgordon any outcome of this?

[2016-08-27 15:01] tonysurma commented on #482
@stevejgordon @mgmccarthy @MisterJames what say we on should, should and FluentAssertions?

[2016-08-27 15:02] tonysurma commented on #468
@stevejgordon still interested in this and/or has this been addressed?

[2016-08-27 15:03] tonysurma commented on #405
@stevejgordon is this still an open issue (9 months later checkin 😄 ) ?

[2016-08-27 15:04] tonysurma commented on #338
@YannickMeeus no need to apologize, life happens as they say 😄

[2016-08-27 15:04] #377 closed

[2016-08-27 15:05] #215 closed

[2016-08-27 15:06] tonysurma commented on #160
needs verification

[2016-08-27 15:07] #568 closed

[2016-08-27 15:07] #567 closed

[2016-08-27 15:15] tonysurma commented on #667
from my perspective you are right with some nuance.

OrgAdmin check is more than if they have that role as we need to verify they are an org admin for the org of the activity.  Therefore you definitely can't remove the code check as it is nuanced but perhaps having the controller level check helps to stop any 'non-org admin' from even getting to that point, thoughts @MisterJames ?

As for the HasV

[2016-08-27 15:17] tonysurma commented on #894
preferred was a previous concept. High level thoughts:
a) we should require that they complete the email and phone prior to volunteering but to think on workflow there so we don't potentially get user drop off
b) we can drop preferred altogether from UI and model and show current email/phone number when you volunteer and link/allow edits if that has changed since you registered
c) that should simp

[2016-08-27 15:18] tonysurma commented on #946
So sorry for long delay in simple response.  use the message with allReady please

[2016-08-27 15:20] tonysurma commented on #1026
again so, so sorry for the delay.  Please use the allready worded one and thank you so much for persistence on this @mgmccarthy

[2016-08-27 16:07] robrich commented on #482
I've seen more weight behind FluentAssertions, though both seem to work great on .net core.

[2016-08-27 16:15] DanKline commented on #1107
OK Thanks.  That observation was on my Windows 8.00 Desktop … I.E. 11.

Dan

From: Tony Surma [mailto:notifications@github.com]
Sent: Saturday, August 27, 2016 9:46 AM
To: HTBox/allReady <allReady@noreply.github.com>
Cc: Daniel C. Kline <dan@klines.org>; Comment <comment@noreply.github.com>
Subject: Re: [HTBox/allReady] On the Admin Event Edit page, the Start/End Date fields are empty (#1107)

wil

[2016-08-27 16:55] Daven- commented on #540
I will be working on this if no one else is yet.

[2016-08-27 17:10] tonysurma commented on #540
@Daven- it's yours

[2016-08-27 17:22] #1076 closed

[2016-08-27 17:22] #1081 closed

[2016-08-27 17:22] #1082 closed

[2016-08-27 17:33] mgmccarthy commented on #482
Since I've never used FluentAssertions before, I defer to other's expertise that have used the framework.

[2016-08-27 17:34] mgmccarthy commented on #338
@tonysurma do yo wan to reassign? Is this still a P3 issue?

[2016-08-27 17:36] mgmccarthy commented on #667
@tonysurma, you are correct. I just read through this Issue and I don't know what I was thinking this day. The way things work now if fine. If you could please close this Issue so I know longer have to be embarrassed for opening it. :blush:

[2016-08-27 17:42] mgmccarthy commented on #894
my feeback on:

a), I'd check with the Red Cross to see if they think this is going to be the user experience they want. If they want to verify email addresses before users volunteer, then they know they can communicate with each voluntter. If they want to optimize for volunteers, with the caveat that some of those volunteers will be impossible to contact, we can build it that way too. To me, this

[2016-08-27 17:52] Daven- commented on #540
Okay so I've verified that this is fixed, tested on latest chrome, firefox and IE. That is if Activities are now called Events, could not find 'Activity'.

[2016-08-27 17:52] rayhiker commented on #1132
Was unable to reproduce this bug.

[2016-08-27 18:05] tonysurma commented on #540
That is right so I will close this out.  Thanks!

[2016-08-27 18:05] #540 closed

[2016-08-27 18:06] #667 closed

[2016-08-27 18:16] Daven- commented on #839
I'll be working on this if no one else is already.

[2016-08-27 20:21] rayhiker commented on #1132
Fix submitted in Pull Request #1181

[2016-08-27 20:46] #1132 closed

[2016-08-27 20:56] DanKline commented on #1132
I just tested this in both Edge and Chrome.  **Edge** doesn't display the scroll gliphs, **but the up and down arrows allow negatives**.  Chrome now correctly forbids negatives.

[2016-08-27 21:18] Daven- commented on #839
Leaving this to someone else, not experienced with asp.net to go about it.

To save the next person time you could do the following instead of logging back in with user and organization to try and get the scenario going.

Web-App/AllReady/Areas/Admin/Controllers/Views/Itenaerary/Details.cshtml

[code]

[2016-08-27 21:34] Daven- opened #1184 "Organization registration fails"
Just try and 'Register as an Organization administrator?' Not sure if this is a feature that has not been implemented yet, I could not find a previous issue for it. So its asking for first name, last name, and phone number but the inputs for them are missing.

<img width="912" alt="sketch" src="https://cloud.githubusercontent.com/assets/4871668/18030181/4f85dd8c-6c62-11e6-81c9-fa054d8c145f.png">

[2016-08-27 21:35] Daven- commented on #1184
Ill be working on it for now.

[2016-08-27 22:02] kgipson commented on #781
I am not able to reproduce this issue either.

The AllReady.dbo.Campaign table defines StartDateTime and EndDateTime as not null.  It looks like commit fb6f00c2 updated the AllReady.DataAccess.SampleDataGenerator.InsertTestData() method to make sure test Campaigns are being initialized with valid StartDateTime and EndDateTime values.

[2016-08-27 22:50] NotTheNull commented on #519
I have a fix in place in my fork though I had other questions regarding the validation of the dates:

1.   Should there be an error if the admin selects an Activity Start Date that exceeds the Campaign End Date?  Similarly, should there be an error if the admin selects an Activity End Date that exceeds the Campaign End Date?

2) If the Activity's defaulted End Date exceeds the Campaign End Date, s

[2016-08-27 23:25] digitaldrummerj commented on #1108
login screen is being reworked to remove this issue.

[2016-08-27 23:25] #1108 closed

[2016-08-27 23:25] digitaldrummerj commented on #1109
already done.

[2016-08-27 23:25] #1109 closed

[2016-08-27 23:32] Daven- commented on #910
working on this

[2016-08-27 23:53] rayhiker commented on #861
I am working on this one.

[2016-08-28 00:01] zimplicity commented on #781
The UI also fails validation if Start or End Date are not provided.  Looks like this has already been solved in several places.

[2016-08-28 00:19] cjmartin6162 opened #1189 "Mobile - Allow users to log their hours"

[2016-08-28 01:32] bsstahl commented on #860
I'm working on this

[2016-08-28 01:46] #195 closed

[2016-08-28 01:48] #1184 closed

[2016-08-28 01:49] #1059 closed

[2016-08-28 13:50] tonysurma commented on #781
yep thx @zimplicity and @kgipson marking it closed

[2016-08-28 13:50] #781 closed

[2016-08-28 13:51] tonysurma commented on #519
1) yes and yes
2) yes

thanks

[2016-08-28 13:52] tonysurma commented on #338
sure, do you want to take it @mgmccarthy ?

[2016-08-28 20:31] mgmccarthy commented on #338
@tonysurma, yep.

[2016-08-28 21:04] bsstahl commented on #862
I'm working on this

[2016-08-29 13:34] mgmccarthy commented on #894
@tonysurma, to summarize.

- remove PreferredEmail and PreferredPhoneNumber properties any entity/model that currently uses it.
- currently, both the `TaskSignup` and `EventSignup` models have these properties
- update impacted code to use the user's email/phone provided to us at the point they registered regardless of whether or not that email/phone is verified or not.

In order for this refactor

[2016-08-29 13:36] samqty commented on #869
I have started working on this one

[2016-08-29 16:06] samqty commented on #869
I see a potential implementation of a unit test for this

\allReady\AllReadyApp\Web-App\AllReady.UnitTest\Areas\Admin\Features\Tasks\EditTaskQueryHandlerAsyncShould.cs ?

is this already implemented?

[2016-08-29 16:10] mgmccarthy commented on #869
@samqty, if there is a test class there for `EditTaskQueryHandlerAsync`, and if the test code:

1. is correct
2. tests everything that needs to be tested

then yes, this is already implemented. It's tough for the project owners to keep up with all the Issues label/statuses b/c there is a lot of work going on right now.

[2016-08-29 20:08] samqty commented on #869
In that case, I guess this issue would serve to double check unit test coverage.

The unit test for "EditTaskQueryHandlerAsync" is correctly implemented and covers everything. If I can say something is missing would be the fact that there is some in consistency with naming convention of the unit test classes. I was expecting to find EditTaskQueryHandlerAsyncTest but found EditTaskQueryHandlerAsync

[2016-08-29 20:12] mgmccarthy commented on #869
@samqty since there is a lack of naming conventions right now, I'd say that unit tests for handlers should end in "Should" and unit tests for Controllers end in "Tests".

[2016-08-29 20:16] mgmccarthy opened #1198 "Unit Test Naming Conventions"
I vote:
- handler tests end in "Should"
- controller tests end in "Tests". the reason I think this is b/c some of our controller's are so large, and some of the semantics are "long" b/c of the work they're doing in a single action method, that ending in the word "Tests", IMO, makes naming the unit tests easier
- anything that is NOT a controller unit test (providers, services, etc..) should end "S

[2016-08-30 07:39] stevejgordon opened #1200 "Divide by Zero error for request tiles on Itinerary Event page"
When there are no requests the display on the tiles exhibits a divide by zero error.

![image](https://cloud.githubusercontent.com/assets/3669103/18080367/2e9caeb6-6e8d-11e6-9868-a6fed3282fc5.png)

[2016-08-30 07:39] stevejgordon commented on #1200
@tonysurma - I'm working on this - please assign to me.

[2016-08-30 12:25] #1200 closed

[2016-08-30 15:04] stevejgordon opened #1203 "Unable to volunteer for task - Missing knockout-mapping.js"
The volunteer modal is not displaying due to missing knockout-mapping.js file.

This appears to have been removed in PR #1195

[2016-08-30 19:40] #1203 closed

[2016-08-30 20:06] mgmccarthy opened #1205 "Add PhoneNumber to all seeded ApplicationUsers b/c it's a required field when registering with the site"

[2016-08-30 20:52] mgmccarthy commented on #338
@tonysurma, can you please update the the title of this issue to that says Activity to Event?

Also, how important is this change? Right now, you can update an image, just not remove one. Worst came to worst, if you wanted no image, then upload a small write .png or something along those lines.

And it looks like we stick these images into a `CloudStorageAccount`. I'm not too familiar with how thi

[2016-08-31 00:32] mgmccarthy commented on #338
@tonysurma @MisterJames

I'm going to need some UI guidance here.

Here is the edit Campaign page after I've uploaded an image:
![image](https://cloud.githubusercontent.com/assets/2428993/18111810/968a2c2a-6ef0-11e6-9397-26c3cf9c58e2.png)

"Browse for image" shows "no file choosen" and the image is shown on the screen. Purely from a UI perspective, how do you think we should mark this for deletion

[2016-08-31 00:37] mgmccarthy commented on #894
I'm holding off working on this until #919 is finished.

[2016-08-31 01:15] tonysurma commented on #919
FYI @stevejgordon is working on this and we chatted today on the approach he is taking (making this note as @mgmccarthy just mentioned that will work on #894 post this change

[2016-08-31 01:26] tonysurma commented on #338
title updated.
For UI, the ideal would be a button next to the Image that says remove and when clicked is a seperate action from save that just removes the image.
You could also put in a simple checkbox or something to say [] remove image and check that on save for now.
For deleting past, just log that as an issue and someone else/some when else can fix that 😸

[2016-08-31 01:27] #1205 closed

[2016-08-31 02:16] Daven- commented on #910
Leaving this for someone else, error still present when logged in as an organization.

[2016-08-31 08:07] stevejgordon commented on #919
@tonysurma - Started on this last night and a fair way into this. Will continue later during my lunch break. I think I can and will leave the settings for enforce limit and enable waiting list which will then still apply to task signups. Looking at the code, it's easier to leave that in and strip back / refine if we later decide to do so.

[2016-08-31 15:17] mgmccarthy commented on #338
@tonysurma, I like the ideal scenario; the button next to the Image that says "Remove" or "Delete".

This is a better UI experience as the user can take care of deleting that image right from the edit page w/out having to hit the "Save" button, and send the entire Campaign back through the edit process.

I think it's confusing to have a checkbox next to an existing image with the word "Remove", bu

[2016-08-31 15:31] mgmccarthy opened #1210 "Add "Remove" button to Event and Campaign Admin Edit UI to remove an existing image via client side code"
Please read Issue #338 for the back story on this Issue:

The button should be placed by the image:
![image](https://cloud.githubusercontent.com/assets/2428993/18134971/3f39594a-6f6e-11e6-8122-e67c7e70d804.png)

The mechanisam for removel should use "javascript magic" to make an async request to the respective controller (Admin.Controllers.EventController or Admin.Controllers.CampaignCotroller) th

[2016-08-31 18:25] #919 closed

[2016-08-31 19:09] mgmccarthy opened #1211 "Update SampleDataGenerator to seed Campaigns and Events in a valid state"
when editing a Campaign or Event via the Edit UI pages, no longer will the default seeded models throw validation errors. They will now be seeded in accordance with what is considered a "valid" state. Should make developing/testing/smoke testing the site locally a much more pleasant experience.

[2016-08-31 23:39] robrich commented on #1145
Solved by #1182.

[2016-09-01 04:39] ankurMalhotra commented on #786
I'l pick this up if no one else has already done it.

[2016-09-01 07:40] stevejgordon opened #1213 "Remove EventSignups Table"
Further to issue #919 and PR #1208 we believe we can and should remove the EventSignups table.

There is no longer the concept of a direct event volunteer signup. All signups occur against tasks. Therefore, maintaining this table is extra work and risks becoming out of sync with the true signups. By removing this table we can instead enumerate the signups where required by reviewing signups for al

[2016-09-01 07:41] stevejgordon commented on #1213
@tonysurma Please assign to me. I have some stashed changes that get me started on the path to removing this.

[2016-09-01 10:38] mgmccarthy commented on #786
@ankurMalhotra, I don't see a file with that name anymore. It probably was renamed. There is a `DeleteOrganizationHandlerAsync` handler that does not have a unit test, you can work on that one.

[2016-09-01 16:24] stevejgordon commented on #1213
Made some good progress during lunch earlier. Have mostly ripped this out and functionally most things are working well.

I have some tests to fix-up and one oddity with notifications that may/may not be related to this work that I'll take a look into also.

[2016-09-02 11:56] stevejgordon opened #1216 "Duplicate Notifications (Signup, Un-enroll, Status Change)"
When debugging the code to evaluate work on a prior issue I noticed that the IAsyncNotificationHandlers for things such as NotifyVolunteerForTaskSignup and NotifyAdminForSignup seem to get triggered twice on each occurrence of a notification.

I can't see any obvious reason for this but suspect possibly the issue stems with the service registration / dependency resolution.

The result of this issu

[2016-09-02 13:12] #1145 closed

[2016-09-02 13:12] #1211 closed

[2016-09-02 13:16] #338 closed

[2016-09-02 13:17] #1026 closed

[2016-09-02 13:17] #946 closed

[2016-09-02 13:20] #1173 closed

[2016-09-02 13:20] #1169 closed

[2016-09-02 13:43] mgmccarthy commented on #946
@tonysurma: closing PR's like it's his job! 🏆

[2016-09-02 17:07] mgmccarthy commented on #862
@tonysurma, my dev machine is toast. I have to wait until next Tuesday to get it fixed by our comapany's service desk, so I will be unable to do any code reviews until then

[2016-09-03 09:10] stevejgordon commented on #1216
@mgmccarthy Best way to replicate is to make sure you have an event with a task both with current date ranges. Put some breakpoints on the handlers for task signup volunteer notification and admin notification and debug in. You should see that both breakpoints are hit twice, despite a single notification being sent from the task signup handler. I messed around a bit last night taking out the ASP.N

[2016-09-03 16:44] #1213 closed

[2016-09-03 17:15] mgmccarthy commented on #1216
@stevejgordon, my dev machine is down and out for the rest of the elongated weekend. The soonest I'll be able to do anything will be on Tuesday, and thats' assuming my machine can be fixed by the same Help Desk that ended up making it not even able to boot to windows anymore 😠

Long story short, could be awhile until I can get eyes on this.

[2016-09-04 13:27] mgmccarthy commented on #1216
@tonysurma, if no one else claims this, when I get a working machine back on Tuesday, I'd be happy to look into this, especially since @stevejgordon did all the hard work of removing the concept of volunteering for Events from the system.

[2016-09-04 13:29] mgmccarthy commented on #1163
@tonysurma, I just check through the list of PR's in the description for this Issue, and they've all been merged.

This issue can be closed.

[2016-09-04 13:49] #1163 closed

[2016-09-04 13:50] tonysurma commented on #1216
Neither rain, nor sleet or failing SSDs can stop @mgmccarthy 😸
it's all yours

[2016-09-04 16:06] stevejgordon opened #1219 "Create / Edit Task Bad Breadcrumb"
The breadcrumb displays incorrectly when creating / editing tasks

![image](https://cloud.githubusercontent.com/assets/3669103/18232161/ca8cc2ec-72c1-11e6-8650-a4fab1da9c15.png)

![image](https://cloud.githubusercontent.com/assets/3669103/18232169/ea8e2afe-72c1-11e6-9600-d81324f505d5.png)

[2016-09-04 16:06] stevejgordon commented on #1219
Working on this now.

[2016-09-04 16:22] stevejgordon opened #1221 "Create / Edit Task Missing Model Data on Failed ModelState"
If the create/edit task view is submitted with data which results in an invalid ModelState in the POST Edit action some of the model fields are not populated.

This is because the form data being bound into the action does not include all of the original fields such as CampaignName and EventName. Therefore when the model is used to return a view result this data is empty in the UI.

![image](https

[2016-09-04 16:50] stevejgordon opened #1223 "Edit Event Start and End times are incorrect"
When clicking to edit an event the edit form date time is displaying the incorrect time. It appears the time is being converted to UTC rather than retaining the original local time.

This might be easier to fix after merge of #1154

**Time in event display page (correct):**
![image](https://cloud.githubusercontent.com/assets/3669103/18232450/dc074d48-72c7-11e6-9ece-92ed97f399f8.png)

**Time in eve

[2016-09-04 16:51] stevejgordon opened #1224 "Edit Task Start and End times are incorrect"
As per #1223 but for tasks

[2016-09-04 16:53] stevejgordon opened #1225 "Event Details Page - Display Volunteer Summary"
Now that we have remove the concept of event signups we no longer have any volunteer information on the event details page.

We should include a basic volunteer summary on the Event Details page which will present details of volunteers for the event by aggregating information from across the tasks.

[2016-09-04 16:53] stevejgordon commented on #1225
I'm working on this.

[2016-09-04 17:54] mgmccarthy commented on #1216
Well the SSD can ;) we'll see how I fair when visit the "Helpless Desk" this Tuesday. Hoping for the best.

[2016-09-04 18:11] stevejgordon opened #1227 "Add Request Page"
Per feedback from @OhMcGoo in #1031 we need a way to manually add a request into the allReady system.

Also relates to this features backlog item #900

[2016-09-04 18:11] stevejgordon commented on #1227
@tonysurma I will be aiming to pick this up next.

[2016-09-04 18:20] stevejgordon commented on #920
@mgmccarthy Sorry Mike, missed this question. Yep, looks like this can be closed. I've just checked and see it passing through a notify handler.

@tonysurma I'll close this down. This is a question in the code comments around what task info should be included in the message, however it might be better to open a fresh issue defining any changes needed after some beta testing?

[2016-09-04 18:20] #920 closed

[2016-09-04 18:28] stevejgordon commented on #706
@tonysurma - I'm starting to preen some of the older milestone issues. I think with the bits that have been added over the last few months we have this basically completed...

**Campaigns are made up of one or more Events** DONE

**Events are made up of one or more Tasks & Events can span more than one day but a Task cannot** DONE - Clarification - Tasks and Events span multiple days, Itineraries

[2016-09-04 18:29] stevejgordon commented on #709
@tonysurma I believe these higher level requirements are now all met in the features we have.

[2016-09-04 18:30] stevejgordon commented on #707
@tonysurma Needs double checking but I believe the features now implement at least an initial version of these requirements and perhaps this can be closed?

[2016-09-05 01:37] ankurMalhotra commented on #865
Please code review.
Thanks

[2016-09-05 14:05] mgmccarthy commented on #865
@ankurMalhotra my Dev machine is out of commission until Tuesday at the earliest. I'll try to get to it sometime this week.

[2016-09-07 04:19] nedruk commented on #863
I'll look at this one if nobody is working on it.

[2016-09-09 08:37] achasik opened #1228 "Dnx 1.0.0-preview2-003121 no longer available in dnvm"
Run: dnvm install 1.0.0-preview2-003121
and get The server returned a 404 (NotFound)

[2016-09-09 10:11] stevejgordon commented on #1228
@achasik Can you provide a little more information to replicate the issue please? DNVM was retired in RTM of ASP.NET core and replaced with the dotnet CLI

[2016-09-09 10:25] achasik commented on #1228
I fork and clone repo and open AllReadyWebOnly.sln
Got a message "The project is configured to use SDK 1.0.0-preview2-003121 wich is not installed or cannot be found' I follow the link to download SDK and not found such version
Made some googles and tryed install via dnvm

[2016-09-09 11:24] stevejgordon commented on #1228
@achasik Ah I see. You will need the .NET core tooling to be able to develop this project. This sounds like the SDK tooling is not installed on your machine. Are you on Windows using VS 2015? If so you need VS 2015 update 3 installed.

You then need to install the SDK (preview 2) from https://www.microsoft.com/net/core#windows

Please do let me know if that makes sense or if you have any questions

[2016-09-09 12:06] achasik commented on #1228
Thank you!
Install of SDK preview 2 fix problem

[2016-09-09 12:06] #1228 closed

[2016-09-09 13:52] achasik opened #1230 "UnitTest.Areas.Admin.ViewModels Percentage test failed"
All UnitTest.Areas.Admin.ViewModels Percentage test failed on my system as it's use "." decimal separator instead of NumberFormat.NumberDecimalSeparator in assertment

result.ShouldBe("0.0");  failed in cultures with comma  decimal separators

[2016-09-09 18:23] stevejgordon commented on #1228
@achasik you're very welcome.

[2016-09-12 06:31] stevejgordon commented on #1227
I had a pretty hectic week last week but have got this about 50% complete. I hope to find some time during the week to progress/finish this one off.

[2016-09-14 19:21] mgmccarthy commented on #1223
@stevejgordon just rebased for #1154 and waiting on merge. Not too sure if it will fix the problem, as any work with DateTimeOffset was abstracted away with #1154, so the problem may still persist. If it does persist, I'd be happy to pick this up.

[2016-09-14 19:22] mgmccarthy commented on #1216
@stevejgordon, is this still an issue?

[2016-09-14 19:25] mgmccarthy commented on #1002
any plans to simply enable Session (and thus, enabling TempData) w/out the changes @MisterJames proposed? Having TempData available would make PRG much easier in controllers

[2016-09-14 19:28] mgmccarthy commented on #967
@tonysurma this has been fixed and can be closed

[2016-09-14 19:35] mgmccarthy commented on #894
@tonysurma, now that @stevejgordon knocked out #919, I'm going to start this up again. have you had a chance to read through my last comment on 8/29? Let me know if any of my assumptions there look incorrect. Thanks

[2016-09-14 19:36] stevejgordon commented on #1216
I haven't check the latest code but I would expect so. Meant to take a look this weekend but got side-tracked.

Sent from my Windows Phone
________________________________
From: Michael McCarthy<mailto:notifications@github.com>
Sent: ‎14/‎09/‎2016 20:22
To: HTBox/allReady<mailto:allReady@noreply.github.com>
Cc: Steve Gordon<mailto:sgordon@hotmail.co.uk>; Mention<mailto:mention@noreply.github.com>

[2016-09-15 00:30] mgmccarthy opened #1232 "unable to volunteer for any tasks using default seeded data on the master branch..."
I remember being able to log is as User@example.com1.com, go to a Campaign, pick an Event, and start to volunteer for Tasks...

but now every Task in every Event for every Campaign (all seeded data) does not allow a volunteer:
![image](https://cloud.githubusercontent.com/assets/2428993/18534519/f97b1892-7ab9-11e6-9e55-27e3ff364e41.png)

Is this a result of removing the ability to volunteer for an

[2016-09-15 00:48] mgmccarthy commented on #1232
LOL, well this never happens. I found a fix for it. It's in the seeding of AllReadyTask in SampleDataGenerator. Just needed to add `NumberOfVolunteersRequired` to 1. Before it was defaulting to 0 b/c it was not being explicitly set. I'll have a change when I finish my work with #894

[2016-09-15 07:07] stevejgordon opened #1233 "Event Signup Cleanup"
A NumberOfVolunteersRequired property was left on the event model after I removed the concept of Event level volunteer signups.

There are also a couple of extra lines of JS code that could be removed relating to the concept of event signups.

[2016-09-15 07:10] stevejgordon commented on #1233
I have code to address this. Having some issues running the site locally though to test I haven't broken and functionality. As soon as I can sort that I will put in a PR

[2016-09-15 07:15] stevejgordon commented on #1002
What about using the IMemoryCache to prevent duplicate DB calls and cache some of the data. I've been using this a fair amount on a current project. I suspect a combination of approaches to suit specific requirements would make sense.

Note IMemoryCache works while we're at a scale of 1. If the app scales out we might want to look at the distributed cache option also.

[2016-09-15 07:37] stevejgordon opened #1234 ".NET Core 1.0.1, MVC 1.0.1 and EF 1.0.1"
Patch releases of the above have been made my Microsoft.

https://blogs.msdn.microsoft.com/webdev/2016/09/13/asp-net-core-sept-2016-patch/

Suggest we upgrade the project to use these versions. I have successfully done this on some projects where I work. There is an update to install 1.0.1 on dev machines that contributors may need to do. I've done it on mine but not sure if it's strictly required

[2016-09-15 07:39] stevejgordon opened #1235 "Upgrade to Autofac 4.1.0"
I was having trouble running my version of allReady last night with a Could not load file or assembly 'Autofac, Version=4.1.0.0 error. This was previously not an issue for me. I cleared my nuget caches and tried restoring but it made no difference. The code built fine but failed at runtime.

The only recent change was installing .net core 1.0.1 on my machine.

Either way I suggest we upgrade to th

[2016-09-15 13:28] mgmccarthy commented on #1002
@stevejgordon caching is kind of overkill for what TempData would bring us. TempData is a nice abstraction over Session that is simple to use and doesn't have the overhead of cache management: expiration policies, stale data, etc...

Granted, I don't know anything about IMemoryCache as I've never used it before.

Either way having Session/TempData enabled and eventually deciding on a caching strat

[2016-09-16 09:59] stevejgordon commented on #1002
@mgmccarthy TempData only lives until the next request so caching would certainly reduce DB calls if traffic gets higher from multiple users. I don't think we have much instrumentation in the code but we'd ideally want to monitor that and reduce DB calls where possible.

Agreed it might be a bit early to optimise but caching in ASP.NET Core is pretty easy with the IMemoryCache abstraction. Inject

[2016-09-16 12:02] mgmccarthy commented on #1002
@stevejgordon, that's why I want to use TempData and not a cache for some operations. An example of where TempData is very useful is:

- initial read on Get
- post back form with changes
- redirect to a confirmation screen (I don't think we have much of these in AllReady). This is where we're use TempData to carry the changes from the post back to display to the user via a screen
- submit changes

[2016-09-16 21:11] VishalMadhvani commented on #1223
@mgmccarthy iirc this is a locale issue. I think the date under the task is being rendered by razor and is in american format mm/dd/yyyy, where as the dates in the form are rendered in JS using UK format dd/mm/yyyy.

you may not be able to reproduce it due to your systems locale settings.

[2016-09-18 14:31] tonysurma opened #1239 "Schedule Volunteers & Appointments in allReady"

[2016-09-18 14:33] tonysurma opened #1240 "Delivering Services to Clients in allReady"

[2016-09-18 14:34] tonysurma opened #1241 "Getting Externally Generated Requests into allReady"
allReady should be able to accept service request data in two ways:
1. Internally, from a form built for a campaign within the application; **(out of scope for v1)**
2. Externally, via an API that captures the request data from an organization's own website. In many cases, allReady will be required to send information (like a fulfillment confirmation) back to the external website. **(in scope for

[2016-09-19 23:26] digitaldrummerj opened #1243 "Campaign Details Page has the grid centered making the layout look odd"
Not sure if it is intentional of not but the grid on the Campaign details is centered and throws off the whole layout.  My assumption is that it is suppose to be right aligned right under the "Events for this Campaign" heading.

![image](https://cloud.githubusercontent.com/assets/708423/18652222/89b0d82e-7e85-11e6-9553-c877daec2faa.png)

[2016-09-19 23:35] digitaldrummerj opened #1244 "Add bread crumbs or some kind of navigation to the campaign page"
When navigating the details of a campaign, there is no way to navigate from the campaign details to the previous pages without clicking on the back button in the browser.  It would be nice to have some kind of navigation like the bread crumbs example below from the Campaign admin page.

![image](https://cloud.githubusercontent.com/assets/708423/18652364/bf82bdc2-7e86-11e6-9b3a-96385fc37c85.png)

[2016-09-19 23:39] digitaldrummerj opened #1245 "Site Admin action icons are not obvious what they do"
From a user experience standpoint, the icons that are on the site admin page are not obvious without having to rollover them.  Personally I prefer to have some kind of text along with the icon (if there even is an icon) so that I don't have to rollover them to figure out what they are.

Also, if you are on a mobile device using the website, there is no way to rollover them.

Here are the icons tha

[2016-09-19 23:41] digitaldrummerj opened #1246 "Create New Skill form is indented"
On the create skill page, the form is quite a bit indented.  My assumption is that the form should be right under the Create Skill heading.

![image](https://cloud.githubusercontent.com/assets/708423/18652499/cd5eb67a-7e87-11e6-80b0-c55383d7ae3a.png)

[2016-09-19 23:44] digitaldrummerj opened #1247 "from user experience standpoint not fan of delete buttons on the far right"
From a user experience standpoint, I am not a fan of the delete button for the grids being on the far right while the rest of the action buttons are on the far left.  It feels like all of the action buttons should be together.  In fact, I didn't even notice the delete button until I had navigate through several of the grids since was expecting all actions on the left.

![image](https://cloud.githu

[2016-09-19 23:47] digitaldrummerj opened #1248 "Organizations Admin page action buttons don't follow layout of rest of site"
On the Organizations Admin page, the edit button is on the far right of the grid while the rest of the site has an action button as the first column with the edit buttons in it.

![image](https://cloud.githubusercontent.com/assets/708423/18652618/b2f542d0-7e88-11e6-9ae7-f27a771c530a.png)

[2016-09-19 23:52] digitaldrummerj opened #1249 "Home page View All Campaign button indented quite a bit"
On the home page, the "View All Campaigns" button is quite a bit indented.  I am assuming that it is suppose to be left aligned.

![image](https://cloud.githubusercontent.com/assets/708423/18652698/5dc010dc-7e89-11e6-854c-e8f0c39eef53.png)

[2016-09-20 10:50] stevejgordon commented on #204
@tonysurma It seems the concept of a blog in no longer in the application currently. Is there a wider requirement to include a blog concept or is this an issue that is now redundant?

[2016-09-20 10:51] stevejgordon commented on #405
@tonysurma Sorry, missed your comment here! I think we've moved most, if not all, of the code over the async methods now. I'll close this issue and if we spot any sync methods still being used we can direct specific issues and PR's to address those.

[2016-09-20 10:51] #405 closed

[2016-09-20 11:06] stevejgordon commented on #562
@tonysurma I'd agree this is probably worthwhile and I suspect quite a simple change. Happy to work on a PR if @MisterJames also thinks there's value in doing this?

[2016-09-20 11:45] stevejgordon opened #1251 "Edit Request Page"
Following on from #1227 we will need the ability to modify details of a request manually.

Relates to #1031

[2016-09-20 11:45] stevejgordon commented on #1251
@tonysurma I've started working on this.

[2016-09-20 11:48] stevejgordon commented on #37
@tonysurma Sorry, this one slipped from my radar. I can pick this up again but I wanted to check that the requirements remain valid?

1. Ability to create a campaign initially in an un-published state, preview it and when ready, publish it.
2. Ability to preview changes when updating a campaign (already published) before saving them.

[2016-09-20 15:18] #1232 closed

[2016-09-20 15:20] #1233 closed

[2016-09-20 15:20] #1235 closed

[2016-09-20 15:22] #1225 closed

[2016-09-20 15:23] #1221 closed

[2016-09-20 15:23] #1219 closed

[2016-09-20 15:24] #519 closed

[2016-09-20 15:25] #860 closed

[2016-09-20 15:32] #1227 closed

[2016-09-20 15:32] #1251 closed

[2016-09-20 23:41] mgmccarthy opened #1253 "Fix renaming issues with EventDetailForNotificationModel"

[2016-09-21 03:27] #1253 closed

[2016-09-22 10:37] sanilpaul opened #1256 "Refactor AssignTaskCommandHandlerAsync"
- The queries needs to be changed to async to make async all the way.
- The handler to assign task also has the responsibility to send notifications to the Phone Number Confirmed and email confirmed recipients. I propose to move the notification responsibility to its own handler. The AssignTaskCommandHandler will be just reponsible for assigning task to the volunteers and publish an event that new

[2016-09-22 11:39] mgmccarthy commented on #1256
@sanilpaul  (cc:@tonysurma)

This looks good.

I like the idea of the separating the concerns to adhere to SRP, but more importantly, moving towards a true CQRS approach, where we publish notifications when things happen in the system. In this case, it's 1 to n users being assigned to a Task.

Right now, only the new handler will handle the notification, but in the future (or potentially now depen

[2016-09-22 13:02] #868 closed

[2016-09-22 13:04] mgmccarthy commented on #340
@BillWagner @tonysurma @MisterJames

Can we update this issue so the formatting of the constants looks like this:
`private const int EventToDuplicateId = 1;`
instead of this?
`const int EVENT_TO_DUPLICATE_ID = 1;`

I realize this should be in the docs section under some type of code style, but we don't really have anything there yet. I will be looking into contributing to that repository (as soon

[2016-09-22 13:49] mgmccarthy opened #1257 "Move away from null checks and .SingleOrDefault checks in controllers/handlers and instead rely on validating this information up front"
@BillWagner @MisterJames @tonysurma @sanilpaul @stevejgordon @VishalMadhvani

This is an overall pattern I've noticed in allReady, where every time we go to query something, we're always allowing the return of nulls and then building subsequent conditionals to handle those nulls in consuming code. This additional overhead of checking for nulls carries into our unit tests, and makes our classes do

[2016-09-22 14:34] stevejgordon commented on #1257
@mgmccarthy My initial opinion is that I prefer the current approach. Yes it adds a bit of code, but ultimately we are coding for all possible cases and ensuring we return a valid and suitable response. I agree the scenarios which could lead to controllers being hit with invalid id's should be very limited but it's the web and it's still a possibility.

In your example, what would we return instea

[2016-09-22 16:59] mgmccarthy commented on #1257
@stevejgordon

"what would we return instead of null from the handler in the case that an invalid id was provided (either intentionally or due to some unforeseen issue/bug elsewhere)?"
we allow the handler to throw an exception

"What does the controller do as it's expecting something back from the handler. If for any reason we haven't got something to give it, what will the controller return?"
we

[2016-09-22 21:00] digitaldrummerj commented on #1249
I can take this one.

[2016-09-22 21:05] digitaldrummerj commented on #1248
I can take this one

[2016-09-22 21:27] digitaldrummerj commented on #1246
I can take this one

[2016-09-23 00:59] #1246 closed

[2016-09-23 01:00] #1248 closed

[2016-09-23 11:11] #1249 closed

[2016-09-23 11:28] stevejgordon opened #1261 "Reimplement EditCampaignCommandHandlerAsync tests"
These tests were previously marked as skip due to RTM issues.

[2016-09-23 11:28] stevejgordon commented on #1261
I have some code for this

[2016-09-23 11:33] stevejgordon opened #1262 "Mediatr Handler Naming (Discussion)"
I think this is mostly my fault as I think I started the trend! I wanted to open a discussion around naming handlers as we start to think about documenting some of the allReady coding conventions.

Currently most handler classes which implement the IAsyncRequestHandler are named with the suffix Async e.g. EditCampaignCommandHandlerAsync

While async methods should be named in this way (based on so

[2016-09-23 11:43] mgmccarthy commented on #1262
@stevejgordon I agree. Although "convention" says to name anything that is aysnc with the word "Async" in the name of the class, I don't think it makes much sense. It's easy to see that a class is async based on the API of the class, and in the case of MediatR, there are explicit interfaces that are implemented that already have the word "Async" in them.

I'd like to remove all "Async" works from

[2016-09-23 12:04] stevejgordon commented on #1261
Just seen that we have about 3 classes doing bits of the original tests that will need to be merged. Working on the final pieces of that and should be done before my lunch break is over to get a PR in.

[2016-09-23 12:09] sanilpaul commented on #1257
I understand the more cautious approach of having guard clauses. if we are following CQRS approach, there shouldn't be any logical reason for a command to fail. So all the elements in the command should be validated upfront. In this specific instance, it looks like Campaign gets validated upfront. No one is entering CampaignId in a free flowing text and its not a good idea to optimize for maliciou

[2016-09-23 12:45] OhMcGoo commented on #1241
allReady should be able to accept service request data in two ways:

1. Internally, from a form built for a campaign within the application
2. Externally, via an API that captures the request data from an organization's own website. In many cases, allReady will be required to send information (like a fulfillment confirmation) back to the external website.

Additionally, there should be a public-fa

[2016-09-23 13:33] stevejgordon commented on #1241
@OhMcGoo - To clarify a little on point 1 here. I've just added some code and pages to allow and org/site admin to create a request under and event via the admin UI. Does this meet the requirement here, or is the intention to also provide an request page that could be (optionally) loaded for unregistered public visitors to allow them to register a request for themselves?

[2016-09-23 13:40] OhMcGoo commented on #1241
@stevejgordon - I'm filling in details for Tony about four December milestones (https://github.com/HTBox/allReady/milestone/15) so expect more detail as the morning progresses. To answer your question specifically, I think the latter is the case (provide a request page that could be loaded for unregistered public visitors to allow them to register a request for themselves), however, now I think ab

[2016-09-23 13:45] tonysurma commented on #1241
Thanks @OhMcGoo we are filling in a bunch of stuff between now and the standup so expect some churn but in short Jim is right that is not in scope for December

[2016-09-23 14:07] #1261 closed

[2016-09-23 14:15] OhMcGoo commented on #1239
Volunteers will see opportunities presented to them on a monthly calendar (similar to: http://www.chicagocares.org/HOC__Volunteer_Opportunity_Calendar_Page). Hovering over the opportunity link will display a pop-up thumbnail with basic opportunity details (Event title, Organization, Brief description, Time and Number of spots remaining). Clicking the link will open a new tab that lists the followi

[2016-09-23 15:57] OhMcGoo commented on #1240
There are two vehicles for service delivery: single-day events that rally volunteers to a staging area and grouped appointments that are scheduled as an itinerary for volunteers to complete in succession. These itinerary events are often repeated weekly (say, every Tuesday, Thursday and Saturday).

[2016-09-23 18:12] mgmccarthy commented on #389
@BillWagner @MisterJames I wouldn't mind picking up apiece of this Issue (if it's still relevant). The piece I would like to work on would be allowing the user to set their communication preferences (email/sms or both).

To put in my two cents on the rest of the items discussed here.

As far as retaining notifications after they've been sent. I'm really not a big fan of that. Email and Sms already

[2016-09-23 18:41] mgmccarthy opened #1264 "Refactor some of AllReady.Areas.Admin.Controllers.CampaignController's action methods to no longer use CampaignSummaryViewModel"
This is along the lines of the work done in #1141 where one ViewModel was being used for every action method on a controller, when, for most of the action methods, an optimized command/query/viewmodel/handler should be used.