[2016-09-23 18:55] mgmccarthy commented on #1107
this Issue was fixed when PR #1025 was merged. It can be closed.

[2016-09-23 18:55] mgmccarthy commented on #1124
this Issue was fixed when PR #1025 was merged. It can be closed.

[2016-09-23 19:04] #1124 closed

[2016-09-23 19:04] #1107 closed

[2016-09-23 19:10] mgmccarthy commented on #1216
@stevejgordon, I just replicated this on my system. Like you said, each handler is being called twice when it should only be called once. I'm investigating now.

[2016-09-23 20:27] mgmccarthy commented on #1216
@stevejgordon, I think I found the problem, and it looks like it might be related to the library Jimmy Bogard wrote to register MediatR in the StartUp.cs class.

- https://lostechies.com/jimmybogard/2016/07/19/mediatr-extensions-for-microsoft-dependency-injection-released/
- https://www.nuget.org/packages/MediatR.Extensions.Microsoft.DependencyInjection

basically, we're registering MediatR using

[2016-09-24 14:45] #1264 closed

[2016-09-24 14:46] #1216 closed

[2016-09-24 14:48] #1022 closed

[2016-09-24 14:50] stevejgordon commented on #1198
@mgmccarthy Sounds reasonable to me. Probably something we introduce over time. Perhaps some good jump in issues to on-board new contributors as well. Something for our coding conventions concept as well.

[2016-09-24 14:51] #1230 closed

[2016-09-24 14:52] mgmccarthy commented on #1198
@stevejgordon the code is already moving in this direction, but I agree, this refactoring is a good "jump-in" label...

@tonysurma did yo want to mark this "jump-in" as @stevejgordon suggested?

[2016-09-24 14:56] MisterJames commented on #1262
There are all kinds of classes in .NET that have async methods and do not adorn the name with async. I am 100% behind not having it in the name of the class.

[2016-09-24 14:56] #1262 closed

[2016-09-24 15:05] stevejgordon opened #1267 "Remove redundant use of Async on handler class names"
Following on from discussion in #1262 we should remove the Async suffix from class names in handlers to clean up the code noise.

[2016-09-24 15:08] stevejgordon commented on #1153
Closing after work by @mgmccarthy in #1154 - Any further work to be discussed and addressed by future issues.

[2016-09-24 15:08] #1153 closed

[2016-09-24 15:14] stevejgordon commented on #1134
It's a good security practice to do something to avoid brute force attacks so I'd agree this would be a good idea. I can't think of any real downsides since we can set the account to unlock after a given period of time.

[2016-09-24 15:17] stevejgordon commented on #900
Closing based on #1227 and #1251 being completed and addressing this.

[2016-09-24 15:17] #900 closed

[2016-09-24 15:21] stevejgordon commented on #213
@tonysurma Perhaps a slightly wider extension to the concept... Would the ability to create tags and assign them to tasks / events be useful. Similar to the GitHub tags?

We could though start with a simpler approach to meet this requirement and enhance it at a later date?

[2016-09-24 15:27] stevejgordon commented on #316
@mheggeseth @tonysurma - Is this still valid and needing work? I've pulled into the latest current milestone for now.

[2016-09-24 15:28] stevejgordon commented on #1234
Fix merged in from #1252

[2016-09-24 15:28] #1234 closed

[2016-09-24 18:16] mgmccarthy commented on #1134
@stevejgordon if this was prioritized or talked about in today's standup, I'd be happy to start working on it.

[2016-09-24 20:07] VishalMadhvani commented on #1257
For me the general rule of thumb for web development is to not trust user input.
In this case, the controller action methods are at the edge and hence are responsible for validating user input.

Within the system, there isn't a need for defensive programming.. exceptions can be caught by the framework, logged and then handled by showing an error page.
Whether this is done by exceptions or by passi

[2016-09-25 06:18] #894 closed

[2016-09-25 08:01] stevejgordon opened #1268 "Re-implement / fix TaskApiController tests"
1. Re-enable tests marked to be skipped during the RTM migration.
2. Update as required to ensure the tests are asserting the correct things.
3. Fix any code required to make the tests pass.

[2016-09-25 08:19] stevejgordon commented on #1247
@digitaldrummerj I agree it's probably better to keep them together. Personally I'd put them all in the right column since one can scan the information before worrying about any actions to perform.

We do have a wider redesign/UX/UI improvement we want to make the whole application less backend dev styled! I'd personally agree we start by putting the actions together as an initial improvement here

[2016-09-25 08:24] stevejgordon commented on #1267
I'm working on this

[2016-09-25 09:10] stevejgordon commented on #1134
@mgmccarthy Not discussed I'm afraid. It might be that it falls lower as the main milestones for December will be functionality towards the v1 release.

That said I don't think it's a complex change since we're just leveraging built in Identity stuff really.

@tonysurma Do you think this would be a good security feature to have in place ready for v1?

[2016-09-26 16:36] mgmccarthy opened #1271 "Refactor Delete Methods on EventAdminControlller"
and some refactoring on EventAdminController. All refactorings are aimed at the combination of the following:

- aligning each GET/POST action method to have its own message/handler the retrieves just the information it needs (aka, stop sharing ViewModels across the same controller or multiple controllers)
- eliminating db calls when we don't need to make them

[2016-09-26 17:06] digitaldrummerj opened #1273 "Create a Git usage guide"
As I have run or participated in Hackathons for allReady, one of the consistent issues that I have run into is people not understanding how to use Git.    Many times we have had participants that it is their first time using Git or Github.  It would be nice to have a guide that walks them through the Git process for forking, cloning, commiting, pushing, submitting PR, and syncing fork with HTBox/a

[2016-09-26 17:06] digitaldrummerj commented on #1273
I can take this one

[2016-09-26 17:08] digitaldrummerj opened #1274 "Create install guide for required software"
As I have run or participated in hackathons for allReady I have gotten a bunch of questions on exact install steps for all of the required software.  Right now there is not a walk through guide and only a listing of software to install.  A lot of times participants have not used node, npm, bower, ionic, etc so they are not sure how to get them installed.  A walk through guide would make it quicker

[2016-09-26 17:08] digitaldrummerj commented on #1274
I can take this one

[2016-09-26 17:09] tonysurma commented on #1273
For reference:
https://www.stevejgordon.co.uk/contributing-to-allready
http://www.davepaquette.com/archive/2016/01/24/Submitting-Your-First-Pull-request.aspx

have been our most successful guides to date

Thanks for jumping on this

[2016-09-26 17:10] digitaldrummerj commented on #1273
thank you for the additional links.  I will take a look at them.

[2016-09-26 19:08] stevejgordon commented on #1273
I have a draft blog post covering some Git related tips and tricks / GitHub etiquette (Gitiquette) as well which I will eventually be publishing!

[2016-09-26 22:08] digitaldrummerj commented on #1274
I can take this one

[2016-09-27 02:22] BillWagner commented on #340
I like this idea. As we work on the contributing guide, let's adopt this.

[2016-09-27 02:51] BillWagner commented on #389
Bump to @tonysurma for triage between now and the 1.0 release.

[2016-09-27 12:51] mgmccarthy commented on #1273
Along with @stevejgordon's upcoming "Gititquette" blog post, this is a great link to how write a well formatted git commit message: http://chris.beams.io/posts/git-commit/.

[2016-09-27 13:26] mgmccarthy opened #1276 "Remove ApplicationUser from ShowEventQuery"
ShowEventQuery currently passes the entire ApplicationUser on the message only to grab the user's id in the ShowEventQuery handler.

Refactor ShowEventQuery to carry UserId instead of ApplicationUser, which should be retrieved by EventController before the message is sent.

Refactor ShowEventQueryHandler to use the UserId on the message to do its work

[2016-09-27 13:47] BillWagner commented on #1257
In general, I'd prefer the simpler solution of throwing exceptions when there are errors in user data or code.

However, I have a caveat and a question:  If we throw exceptions, instead of our current plan, do we give a malicious user information that would help them attack the site? That would be the reason to catch these errors and redirect to an innocuous error page.

[2016-09-27 19:02] mgmccarthy commented on #1257
For handling exceptions (aka, not Dev or Staging), it looks like we already have code to do that in Startup.cs:
![image](https://cloud.githubusercontent.com/assets/2428993/18887243/4f3bd9f4-84c1-11e6-9bbc-c615c10347fc.png)

This is what the HomeController/Error page looks like:
![image](https://cloud.githubusercontent.com/assets/2428993/18887294/7ac6a900-84c1-11e6-94f9-c57a908e6d2a.png)

so based

[2016-09-27 20:00] sanilpaul commented on #879
@stevejgordon @adam-gligor @tonysurma  Any reason why this is still open? I see that tests are already written for this handler

[2016-09-28 05:55] adam-gligor commented on #879
Hi, the issue ca be closed as far as I know, though I can't do it myself.

[2016-09-28 06:45] stevejgordon commented on #879
@sanilpaul Yes looks like the code from the above commit is in the master branch so it must have been merged in. Good spot!

@adam-gligor Thanks for the contribution.

I'll close this issue now.

[2016-09-28 06:45] #879 closed

[2016-09-28 11:16] sanilpaul commented on #784
@mgmccarthy @tonysurma I don't see this class anymore. Is it same as **NotifyVolunteerForTaskSignup**
@binaryjanitor are you still working on this?

[2016-09-28 13:41] #1267 closed

[2016-09-29 10:10] sanilpaul commented on #786
@ankurMalhotra Are you working on this?

[2016-09-29 10:12] sanilpaul commented on #663
I will work on this

[2016-09-29 21:09] ankurMalhotra commented on #786
I checked in a couple of tests for this. Not working on it anymore.

[2016-09-30 13:05] #1271 closed

[2016-10-01 13:06] #1273 closed

[2016-10-01 13:07] #1276 closed

[2016-10-01 13:08] #1256 closed

[2016-10-01 13:11] tonysurma commented on #1198
Sounds like a good item for folks to jump in on so agree.
Also sounds like an item to add to wiki
@MisterJames any other thoughts?

[2016-10-01 13:13] tonysurma commented on #1257
@stevejgordon @mgmccarthy @BillWagner @MisterJames is there a consensus on what the next steps/issues would be here?

[2016-10-01 13:13] tonysurma commented on #1274
This would be SUPER helpful given we have 5+ events between now and end of calendar year.  Thanks!

[2016-10-01 13:19] tonysurma commented on #37
keeping on milestone but removing it from P1-P3 as it is lowest priority and I don't want to create a P4 😅

[2016-10-01 13:22] tonysurma commented on #1032
This was broken out more in #1084 for reference

[2016-10-01 13:25] tonysurma commented on #710
@stevejgordon @mgmccarthy is this still a thing?

[2016-10-01 14:00] stevejgordon commented on #1257
@tonysurma From my perspective, @mgmccarthy has made some very good points and he's winning me around. I've been working a lot with APIs recently where it's more important to return correct status codes etc so I was a bit led by that approach.

Personally I still like checking things and avoiding throwing exceptions but I can see the merit in simplifying the logic which in turn simplifies the test

[2016-10-01 14:22] tonysurma commented on #1084
PR #1111 starts implementation of this

[2016-10-01 14:22] tonysurma commented on #1032
also some implementation done in #1111

[2016-10-01 14:28] mgmccarthy commented on #1084
@tonysurma, what I'd like to add/fix from that PR is communication preferences should not be on the message, but rather stored as user preferences and the lookup for how to communicate to the user will be done via a read the based on preferences,  decide how to send.

[2016-10-01 15:15] digitaldrummerj commented on #1274
@tonysurma my goal is to get this written and submitted by next Wednesday.

[2016-10-01 17:16] dpaquette commented on #1247
All the actions should definitely be together but be sure to add some spacing between the "regular" actions and the delete actions. There is nothing more annoying than accidentally clicking or tapping on the delete button.

[2016-10-02 04:25] #1268 closed

[2016-10-03 17:47] digitaldrummerj opened #1281 "Git Guide: Change git download link"
A few people that I have had review the Git guide suggested to point at the Git command line download link instead of pointing at the Git book install guide.  The link is [https://git-scm.com/downloads](https://git-scm.com/downloads)

[2016-10-03 17:49] digitaldrummerj opened #1282 "Git Guide: markdown saw the link https://github.com[User Name] as a link"
markdown saw the link https://github.com[User Name]/allReady  as a instead of text like it should be.

[2016-10-03 17:50] digitaldrummerj opened #1283 "Git Guide: change git commit to include -m instead of using vi"
based on feedback it was suggested to add the -m argument to the git commit commands instead of dropping to the vi editor.  Vi is also an acquired taste that many do not like.

[2016-10-03 17:51] digitaldrummerj opened #1284 "Git Guide: rebase is a bit advanced and maybe not something to be done everytime"
Based on feedback, it was mentioned that doing a git rebase is a bit of an advanced topic.  It was suggested to move this to an FAQ section for when the organizer replies to a PR and ask you to rebase.

[2016-10-03 17:53] digitaldrummerj opened #1285 "Git Guide: grammar mistake in Pull Request section"
In the pull request section it says "Unfortunately this is not command line" but it should say "Unfortunately there is no command line"

[2016-10-03 17:56] digitaldrummerj opened #1286 "Git Guide: expand on creating a Github account"
Feedback that I received on the forking section:

Step 0 for forking the repository is "login to Github and/or create a Github account".  We might want to mention that they may want to separate their personal, open-source contributions from their profession, employer-sponsored accounts.

Might also want to clarify the difference between github.com and Github enterprise since more and more people h

[2016-10-03 19:52] digitaldrummerj opened #1287 "Git Guide: proxy configuration missing http.proxy"
the command git config --global --add [Your Proxy Server and Port] should be git config --global --add http.proxy [Your Proxy Server and Port]

The command is missing the http.proxy that the 2nd command has.

[2016-10-03 21:57] mgmccarthy commented on #710
@tonysurma  I"m not too sure if the actual PR (first comment) is still a thing or not, but the conversation that followed about DateTime vs. DateTimeOffset has been decided and we've already done the work of abstracting the DateTimeOffset operations.

[2016-10-04 16:59] tonysurma opened #1288 "Issue with 1.0.1 upgrade - missing files"
from conversation with @digitaldrummerj and @stevejgordon

I am working on the install guide testing it on a new Win 10 machine.   I installed the latest ASP.NET Tooling but got an error when opening the Web solution that the project is configured to use .NET Core SDK version 1.0.0-preview2-003121

[2016-10-04 17:05] #1288 closed

[2016-10-04 19:22] digitaldrummerj opened #1290 "AllReady.ScenarioTest set only to test against Firefox"
Right now the canopy test in the AllReady.ScenarioTest project is only testing against Firefox.  Canopy has the ability to test again multiple browsers.  It feels like the test should be run against firefox, chrome, ie and potentially edge.  For edge Canopy has the browser listed as edgeBETA so I am not sure it is works or not since I have not used Canopy.

The browsers that Canopy understands are

[2016-10-04 20:50] digitaldrummerj opened #1291 "AllReady.ScenarioTest - Unable to get it work with firefox"
I have not been able to figure out how to run the canopy test against Firefox.  I installed Firefox version 49.0.1.  When I tried to run the tests I get a selenium webdriver error

[code]

Steps to Reproduce:

1. Installed Firefox 49.0.1
1. Added c:\Program Files\Mozilla Firefox to my user path
1. Start the Web Site without Debugging
1. Open Constants.fs and change UrlLocalHost to the following.

[2016-10-04 20:57] digitaldrummerj opened #1292 "AllReady.ScenarioTest - CreatingOrgsAndCampaigns fails for title check"
On line 24 and 38 it checks for the title but the title has changed for the site.  The site appends allReady to the view title with a lowercase a.

**Current:**

[code]

**Should Be:**

[code]

[2016-10-04 21:02] digitaldrummerj commented on #1290
In order to get Chrome working you need to download the Google Web Driver from [https://sites.google.com/a/chromium.org/chromedriver/downloads](https://sites.google.com/a/chromium.org/chromedriver/downloads) and put the exe that is in the zip files in the root of the c:\ drive

[2016-10-04 21:07] digitaldrummerj opened #1293 "AllReady.ScenarioTest not run as part of appveyor builds"
Looking at the appveyor.yml file it appears that the AllReady.ScenarioTest are not actually run as part of the build.

I can see that they were  turned off back on Feb 20th as part of this [commit](https://github.com/HTBox/allReady/commit/988d41bc6e9df5e66c2b79c01e31b17dd9d0000c).

Are they still useful or should we remove them along with the need for F#?

[2016-10-04 21:18] tonysurma opened #1294 "Areas don't publish on build"
This leaves all the admin pages out of date adn requires manual deployment by someone (me) which is 😿

The fix is basically putting this commit in our project.json (looks like things were buggy early on and since we didn't start with a new project form a template we didn't get this fix.

https://github.com/aspnet/Templates/commit/9c755dea1746341d3c8fc752c479c1b26610a69f

[2016-10-04 21:18] digitaldrummerj opened #1295 "Remove the solution architecture info from contrib guide"
Remove the solution architecture from the contrib guide and instead link over to the solution arch guide at [https://github.com/HTBox/allReady/wiki/Solution-architecture](https://github.com/HTBox/allReady/wiki/Solution-architecture)

[2016-10-04 21:19] tonysurma opened #1296 "Need to remove duplicate info in contributing.md and point to solution architecture"
Dedupe duplicate and in some cases wrong info from https://github.com/HTBox/allReady/blob/master/CONTRIBUTING.md and point to sections where it is covered (and correct) in https://github.com/HTBox/allReady/wiki/Solution-architecture

[2016-10-04 21:20] digitaldrummerj commented on #1295
dup of #1296

[2016-10-04 21:20] #1295 closed

[2016-10-04 21:22] tonysurma opened #1298 "Broken Build: Migrations don't get executed on startup in azure build"
Something in this if clause (either check for Staging fails which is my guess) doesn't allow migrations to run in staging deployment in azure.  I think that the definition for that may have changed since early builds and might be looking at a different environment variable that what we are currently setting ("ASPNETCORE_ENVIRONMENT").

If clause https://github.com/HTBox/allReady/blob/master/AllRea

[2016-10-04 21:40] digitaldrummerj opened #1299 "Solution Architecture does not mention google in auth section"
In the solution architecture guide at [https://github.com/HTBox/allReady/wiki/Solution-architecture](https://github.com/HTBox/allReady/wiki/Solution-architecture) there is no mention of google in the authentication section

[2016-10-04 22:48] smahesh5 commented on #1245
Cannot open the link above. Error: "Web page does not exist"

[2016-10-04 22:49] digitaldrummerj commented on #1245
@smahesh5 that is the localhost url when you are running the site out of Visual Studio

[2016-10-05 00:06] digitaldrummerj opened #1300 "Admin Create Campaign Event: some of the validation errors only shows in summary"
On the "Create Event" for a campaign the input validation for Address1,City, State, Postal Code, and Country fields are only shown in the summary and not below the input field as well like the other fields.

Steps To Reproduce:
1. Under the Admin Menu select Campaigns
2. Click on any campaign
3. Under Events for the campaign, click the "Create New" button
4. On the "Create Event" page click the cr

[2016-10-05 00:17] digitaldrummerj opened #1301 "Admin Create Event unable to select Name field at lower widths"
On the admin "Create Event" for a Campaign page anytime that the browser was 960px or lower in width I was unable to click into the Name field.   I can click on the description field and shift+tab to get into the Name field but I can not click on it with the mouse.

[2016-10-05 00:27] romanrod opened #1302 "Server Error > Campaigns does not handle exception when user isn't logged in and open an event"
When a guest user (not logged in) goes to a any campaign and try to open an event an unhandled exception shows up [Server Error]

Steps

Goto campaigns
Open any listed campaign
Select any event

Stacktrace:

The page cannot be displayed because an internal server error has occurred.
An unhandled exception occurred while processing the request.

NullReferenceException: Object reference not set to a

[2016-10-05 00:43] SPConlin opened #1303 "Invalid client error attempting to login with Google"
Navigate to the Login page and select the Google button (while not logged into Google). You will be presented with a 401 Invalid Client error Oauth client nor found.

[2016-10-05 00:45] SPConlin commented on #1303
This is not yet implemented

[2016-10-05 00:45] #1303 closed

[2016-10-05 00:50] SPConlin opened #1304 "Unhandled exception logging in with Twitter"
Selecting the Twitter login option will result in an unhandled exception after logging into Twitter and authorizing the app. The error is shown below.
#

The page cannot be displayed because an internal server error has occurred.
An unhandled exception occurred while processing the request.

InvalidOperationException: SingleUserAuthorizer needs pre-set credentials; don't call Authorize unless you'

[2016-10-05 00:52] sandygarcia opened #1305 "Facebook throws error"
App Not Setup: This app is still in development mode, and you don't have access to it. Switch to a registered test user or ask an app admin for permissions.

[2016-10-05 00:54] sandygarcia opened #1306 "Sign up page input fields do not validate characters"
http://www.htbox.org/mailinglist/subscribe?backingcontentid=13

Name and last name fields should throw an error if input is no is a list of non alphabet chars
like ()(*&*&^^%%$

[2016-10-05 01:11] atthetestlab opened #1307 "'Show completed check box' not filtering correctly"
1. Open Chrome browser.
2. Type url https://starwest.atthetestlab.com/
3. Click the link 'Start Testing'
4. Click Test Environment
5. Click the link Campaigns
6. Select the check box for 'Show Completed testing'

Actual result: The list displaying current events

Expected: The list should not display current events. If there is no completed events at all, then none of the item/events should be dis

[2016-10-05 01:24] calaharie opened #1308 "Site Admin - Import: When clicking the import button without a file selected or an invalid file type an un-handled exception will occur."
1. Login as an admin user.
2. Navigate to the following URL:
http://allready-d.azurewebsites.net/Admin/Import
3. Click the Upload button without selecting a file.
4. ---> A web page will appear with an unhandled exception.

5. Select an invalid file to upload.  (ex: a .PDF file)
6. --->A web page will appear with an unhandled exception.

[2016-10-05 01:28] sandygarcia opened #1309 "submit and cancel links become unactive - should throw error handiling"
click on upcoming campaigns - Working Smoke Detectors Save Lives

Nothing happens when I submit a comment for a volunteer

<script>prompt ("donate now")</script>

[2016-10-05 01:44] #1296 closed

[2016-10-05 01:47] jgarbiso opened #1310 "Create Campaign Fields - Feature Enhancement"
Primary Contact

**Phone Number**
Actual:
Allows letters

Expected:
Should only allow numbers in phone number format

External Link
Actual:
Allows all text and numbers

Expected
Should only allow URL

ExampleDomain.com/net/org etc....

**Primary Contact**

Email
Actual:
Allows all text and numbers

Expected:
Only allows email formatted text

name@domain.com

[2016-10-05 02:10] digitaldrummerj opened #1311 "Deleting an Organization should return you to the Admin Organization page"
When you delete an organization on the Admin/Organization page it takes you to the non-admin Organizations page instead of returning you back to the Admin/Organization page

Steps to Reproduce:

1. Login as an Administrator
1. Click on the Admin Menu and Select Organizations
1. If you only have the Humanitarian Toolbox then click the Plus button to create a new test organization
1. After the organ

[2016-10-05 03:09] digitaldrummerj opened #1312 "Admin Create Task - End Date validation failure appears to reset the date fields"
On the Admin/Task/Create page when the field validation fails for Name or End date it is resetting the start and end date values.
## Initial Date Fields

Screenshot of what the create task form initially looks like.

![image](https://cloud.githubusercontent.com/assets/708423/19099655/4d9b9d62-8a6d-11e6-93f2-49f997a2583b.png)
## After Clicking Save with Validation Issues

Screenshot of what the for

[2016-10-05 05:58] digitaldrummerj commented on #1291
found the reason that Firefox is not working.  Something changed in Firefox version 49 that made Selenium 2.5.x not work.  see [https://github.com/lefthandedgoat/canopy/issues/288](https://github.com/lefthandedgoat/canopy/issues/288)

[2016-10-05 11:10] stevejgordon commented on #1294
I can grab this in 20 mins or so.

[2016-10-05 11:19] stevejgordon opened #1313 "Cleanup use of ConfigureAwait (Discussion)"
After chatting on Slack to David Fowler (genius) he explained that there is no sync context in ASP.NET Core so the call to ConfigureAwait(false) is redundant and does nothing.

Old ASP.NET has a sync context for legacy reasons.

I won't pretend to understand 100% how sync contexts work but having had it confirmed I would recommend we take this call off all Tasks we are awaiting. It will helpfully

[2016-10-05 11:49] stevejgordon commented on #1298
@tonysurma If we require this in all environments except production it might be better to use:

[code]

That way it'll run in all environments exception production. For the live site either setting ASPNETCORE_ENVIRONMENT to Production or leaving the environment variable blank should result in this code being skipped.

Do you want to try that and see how it goes?

[2016-10-05 12:03] stevejgordon commented on #703
@tonysurma -  I have functionality within the site for org admins to mark requests as completed from the itinerary management page. Completed requests can then be marked incomplete to reset them to assigned. This is stored against the request in our database.

The only part missing I think would be a method to allow admins to mark a request cancelled and provide a cancellation reason.

Is there an

[2016-10-05 12:09] stevejgordon commented on #703
@MisterJames @tonysurma - As we have already the code to handle marking a request completed (and reverting back to incomplete) I think this could fairly easily be updated to call an endpoint with the request details and new status. Do we have a test endpoint and token/auth mechanism we can work against?

On a work project we're using the Polly library (https://github.com/App-vNext/Polly/) to manag

[2016-10-05 12:10] stevejgordon opened #1315 "Store Request Source"
Since we now have request that can be manually created, imported from CSV and also pushed into our API it would be useful to store the source of the creation of the request.

We might need conditional logic based on the source. For example, for any manually created requests I presume we might not need to send status updates back to getasmokealarm?

[2016-10-05 12:12] stevejgordon opened #1316 "Manual Request - Update GetASmokeAlarm"
At the moment we have added the ability to create a request manually in allReady. This request would not be in the getasmokealarm data. Do we need a mechanism to push new requests back to into the getasmokealarm system if manually created on allReady?

[2016-10-05 12:15] stevejgordon opened #1317 "Manage Endpoints for Campaign"
Once we add features to update getasmokealarm as status changes occur in requests, do we need a way to flag a campaign as having a service endpoint?

While we have a single campaign this shouldn't be an issue but in the future we wouldn't want to try and update getasmokealarm each time a status changes on a request for a different campaign.

[2016-10-05 12:22] stevejgordon commented on #1055
@MisterJames We touched on maybe using IdentityServer4 for auth between APIs. Is this something we need to figure out for this milestone, or would a fixed token that can be generated (one per campaign) be enough at this point to allow us to start creating endpoints to accept requests?

[2016-10-05 13:08] dpaquette commented on #1313
I would be happy to see the `.ConfigureAwait(false)` removed since it adds a lot of noise and isn't well understood. I don't fully understand why it is no longer needed in Core. I'm going to try to dig in to that purely out of curiosity.

[2016-10-05 13:12] MisterJames commented on #1313
Same boat, happy to see it go. Thanks for bringing this into scope @stevejgordon.

[2016-10-05 14:10] tonysurma opened #1318 "Production Error: Clicking on either My Profile or Admin > Skills causes infinite loop"
Haven't tested it anywhere other than in production but it is 100% reproducible. CPU pegged at 100% after clicking either.

[2016-10-05 14:19] dpaquette commented on #1318
Quickly tested locally and was not able to reproduce. Possibly related to the data currently in the staging environment.

[2016-10-05 14:37] tonysurma commented on #1318
@dpaquette I will spin up a seperate db to point to and see if that makes a difference.  Interesting

[2016-10-05 15:11] tonysurma commented on #1318
pointed prod to a new, clean db and the issue went away so will find a way to capture that other database so we can figure out what the culprit was

[2016-10-05 15:26] jmcconda opened #1319 "Volunteer button does nothing"
![screenshot 2016-10-05 at 11 17 50 am](https://cloud.githubusercontent.com/assets/18353050/19119565/30e95f52-8aee-11e6-9e32-ffcaa2f44320.png)

When I volunteer for task 0 I click on the volunteer button in the test database for smoke detector the button does not respond. The popup screen stays up and does not respond. Screenshot is attached.

I am using a Chromebook at the Test Lab at Star West.

[2016-10-05 15:58] Sawankumarbisne opened #1320 "Found issue as "An unhandled exception occurred while processing the request.""
When click on link "Smoke Detector Installation and Testing-South Loop" in campaign "Working Smoke Detectors Save Lives" .More details "NullReferenceException: Object reference not set to an instance of an object."

[2016-10-05 16:14] SPConlin opened #1321 "Display URL for link in Confirmation email."
The confirmation email for new accounts currently reads:

Please confirm your allReady account by clicking this link: link

The second "link" is a hyperlink to the confirmation page. I would recommend either displaying the URL after the colon or making the first "link" the hyperlink and ending the sentence there.

In general, making the URL available is preferable since many users have become fami

[2016-10-05 16:24] SPConlin opened #1322 "Selecting the Manage link next to External Logins results in Internal Server Error"
1. Login with a new user
2. Access the user profile page
3. Click the manage link next to the External Logins option

The profile displayed 0 for the logins when the error occured.

==========================================================

The page cannot be displayed because an internal server error has occurred.
An error occurred during the compilation of a resource required to process this re

[2016-10-05 16:34] SPConlin opened #1323 "SMS Verification code does not appear to be sent."
After adding a phone number, the user is expected to confirm the number once they receive an SMS message. After 20 minutes, no message has been received. Selecting resend on the confirmation page does not resend the message. This was tried with two different numbers.

[2016-10-05 16:41] SPConlin opened #1324 "Tool tips on question mark icons next to Skills on profile page"
When adding new skills in a user profile, there are tool tips that correspond to each entry in the dropdown. These tool tips are currently humorous and should be confirmed as the intended text.

[2016-10-05 16:44] stevejgordon commented on #1320
Working on this one. Replicated it locally.

[2016-10-05 16:50] SPConlin opened #1325 "Instagram icon opens Twitter"
The instagram icon on the bottom of the user profile page currently opens https://twitter.com/HTbox/media.

[2016-10-05 17:30] edehaan opened #1326 "Volunteer for an event - Comments"
Browser - Chrome
Registered User - not an admin
Video of issue:  http://screencast.com/t/WLRo8on6ul5f
Testing as part of StarWest TestLab

After clicking on the Nieghborhood Fie Prevention Days link under All Registered Campaigns,
Then clicking on Queen Anne Fire Prevention Day, then under task 2 clicking Volunteer.
In the popup, in the comments box I entered Adding a comment - starwest.  If I cli

[2016-10-05 17:47] stevejgordon opened #1328 "Review code for EventController"
Ensure that the model is populated correctly for both unauthenticated "public" users as well as signed-in users. A quick change to fix #1320 was made in #1327 but this might need enhancement.

I can look into this further.

[2016-10-05 17:50] adaca777 opened #1329 "Edit User Design"
When an Associated Skill is selected for a user, it cannot be repeated (if selected, it shows a message).  The message is in the middle of two buttons and looks very confusing.  It would probably be better design that once a skill is selected, it no longer shows in the list for selectable skills for any additional skills.  Otherwise, better placement for the error is suggested.

[2016-10-05 17:56] stevejgordon opened #1330 "Assign Team Members (Improve messaging)"
When viewing an the itinerary details as an admin on an event with volunteers assigned the dropdown to select and add volunteers to the itinerary no longer seems to work.

I'll try to take a look at this ASAP

[2016-10-05 18:03] stevejgordon opened #1331 "Add page to edit an Itinerary"
This page or popup should allow an admin to update the date and title of an itinerary.

[2016-10-05 18:05] stevejgordon commented on #1330
Actually, I was wrong. I had forgotten that the dropdown would only show if at least one of the tasks covered the date of the itinerary and had volunteers. I will update this to improve the UI messaging and despite the fact that I created the feature, I forgot this! Possible UX improvement here.

[2016-10-05 18:11] calaharie opened #1332 "The Volunteer Button overlaps the date-time label on Tasks."
Open the application to the following page as a user:
http://allready-d.azurewebsites.net/Event/12

The orange button covers up date time.

[2016-10-05 18:11] janikatta opened #1333 "UI design"
Few UI design considerations:
1. Mention what fields are required?
2. If it is restricted to US, have states a list item.
3. Geocode the address
4. Volunteers required is a enterable field. Limit if it can't go over certain limit of characters.
5. Date started for 1/1/0001. Start from today's date.

[2016-10-05 18:14] calaharie opened #1334 "Tasks cannot be collapsed after they are opened."
Open the Application and navigate to the following link:
http://allready-d.azurewebsites.net/Event/12

Click on a task.
Click on it again.
The task will not collapse.

[2016-10-05 18:16] digitaldrummerj opened #1335 "ScenarioTest are out of date"
The ScenarioTest have not been run/updated since Feb.  Several things have changed with the web site since then.

Examples of things broken:

* There is now events and task for campaigns and there is no test for them.
* The activity test are no longer validate
* Several of the create buttons does not have an id tag on them and canopy is not able to find the buttons
* The appended app name has chan

[2016-10-05 18:16] digitaldrummerj commented on #1335
I am working on this

[2016-10-05 18:18] digitaldrummerj commented on #1333
for issue 5 see already logged issue #1312

for issue 1 see related issue #1300 .

[2016-10-05 18:18] jona6629 opened #1336 "I crashed the server with invalid input."
I think I crashed the server.  Try this repro:
1. Make a new user account  Put an invalid phone number, I put 999
2. Click on your user profile on the top right to add skills to your profile
3. at the bottom of the page add three skills using the + button
4. try to submit.  It should prompt you with all the info that is invalid
5. Click reload button at the top of the browser
Crash

[2016-10-05 18:21] #1320 closed

[2016-10-05 18:56] julianharty commented on #1321
I concur, the email is somewhat stark and looks a bit like a spam email (thankfully gmail didn't mark it as such).
<img width="531" alt="screen shot 2016-10-05 at 19 55 10" src="https://cloud.githubusercontent.com/assets/785891/19127150/b631a29a-8b35-11e6-8601-92eb7c05890a.png">

[2016-10-05 19:15] julianharty commented on #1323
I concur: I used my full international number for my UK mobile - nothing. I have used the 'resend code' link a couple of times so far, still nothing.

[2016-10-05 21:30] julianharty opened #1338 "Various JavaScript libraries missing from the Verify Phone Number page"
The following links for javascript files/libraries return HTTP 404's
http://tinymce.cachefly.net/4.2.6/tinymce.min.js
http://ajax.aspnetcdn.com/ajax/jquery.validation/1.11.1/jquery.validate.min.js
http://ajax.aspnetcdn.com/ajax/jquery/jquery.min.map

Which leads to an error at line 185 for VerifyPhoneNumber.js http://allready-d.azurewebsites.net/Manage/VerifyPhoneNumber

From scanning through the

[2016-10-05 21:57] julianharty commented on #1334
The Campaign Info expand/collapse icon has a similar flaw, the collapse doesn't happen.

Tested on
Version: 1.0.0.0 8a77b3a

[2016-10-05 22:00] julianharty commented on #1332
The text is partly obscured when the width reduces. Here's a screenshot of the problem, where October is partly obscured by a button.

<img width="635" alt="screen shot 2016-10-05 at 22 57 48" src="https://cloud.githubusercontent.com/assets/785891/19133264/4b8b0aa2-8b4f-11e6-9d5d-35df48735532.png">

[2016-10-05 23:53] julianharty opened #1340 "I managed to cause an error trying to manage my external logins"
From http://allready-d.azurewebsites.net/Manage
click on Manage to reach the following page which contains the deeply un user-friendly error.
http://allready-d.azurewebsites.net/Manage/ManageLogins
``The page cannot be displayed because an internal server error has occurred.
An error occurred during the compilation of a resource required to process this request. Please review the following specifi

[2016-10-05 23:53] julianharty commented on #1340
BTW: it's Version: 1.0.0.0 8a77b3a of your site.

[2016-10-06 08:29] stevejgordon commented on #1313
Cool, I catch David again earlier and verified that this is true even when running on full .NET framework as we do currently. Basically old ASP.NET used the sync context to restore things like HttpContext.Current on the right thread and there where things linked to the IIS pipeline.

All gone in ASP.NET core so will be nice to clean this up.

[2016-10-06 08:40] stevejgordon opened #1341 "Remove use of ConfigureAwait"
Per discussion in #1313 we will remove explicit calls to ConfgureAwait to clean up the code.

This is not required since ASP.NET does not have a sync context.

[2016-10-06 08:40] #1313 closed

[2016-10-06 11:09] mgmccarthy commented on #1313
@stevejgordon, I'm pretty floored by this information, especially since in conversations with @SeanFeldman, he recommended the use of ConfigureAwait.

 I also do not fully understand the difference between the synchronization context in ASP.NET "Classic" and ASP.NET Core, but it looks like David Fowler is an ASP.NET Core Architect, so I'm thinking we should follow his lead here.

I was pushing the

[2016-10-06 11:12] stevejgordon commented on #1313
@mgmccarthy Don't worry about it. From the information at hand at the time it seemed like the correct approach. Unfortunately there are no obvious documents covering this and for me at least it's a complicated subject to digest.

[2016-10-06 11:13] mgmccarthy commented on #1257
@tonysurma, I'm still in favor of getting rid of what I consider a lot of redundant, and often confusing (especially for new contributors) null checks.

However, I would like to hear @MisterJames @BillWagner and @dpaquette weigh in on the issue.

Refactoring this code would result in pretty much code deletion and less unit tests. We would start with a handler, change it from SingleOrDefault to Sin

[2016-10-06 11:48] stevejgordon opened #1342 "Admin Event Details - Incorrect Wording"
When there is a single volunteer for an event (in the admin event details page) the wording is wrong

![image](https://cloud.githubusercontent.com/assets/3669103/19151161/2152a0aa-8bc3-11e6-888e-47358a593a68.png)

Should read - 1 volunteer **is** required across 1 task.

[2016-10-06 12:14] stevejgordon commented on #1328
I've checked this over and I think it's okay for now. It's a bit hard to understand the view since a lot is hooked up via knockout but we are now only trying to load user specific data (assigned tasks etc) if a request comes from a valid signed in user.

[2016-10-06 12:14] #1328 closed

[2016-10-06 13:15] mgmccarthy commented on #1328
my two cents, we should only be using knockout (or any other javascript library) when absolutely necessary...not just "to use it".

It's not compile safe, there appear to be no unit tests around any of our javascript, and the only way to find out if something broke is smoke testing the entire app.

[2016-10-06 13:17] SeanFeldman commented on #1313
My sincere apology. I'm quite surprised by this guidance myself considering ASP.NET core is not a UI related code. Though I'm not an ASP.NET core architect (and human). Will try to get more information on why exactly this is not needed. Also, the difference between a controller and let's say database access component under the same roof of ASP.NET core app.

[2016-10-06 13:28] makishawy opened #1345 "Not Recognizing the arabic numbers"
Password feild error out with:
When choosing your password, please ensure it is a minimum of 10 characters in length and contains at least one number.
•Passwords must have at least one digit ('0'-'9').
•Passwords must have at least one lowercase ('a'-'z').

Even though the password was:
٤٥٧٨٨٩٤٥٧٨٨٩m

It either should accept these arabic/hindi numbers or clearly say that it accepts only latin/engl

[2016-10-06 13:38] stevejgordon commented on #1328
@mgmccarthy I think this may end up being reviewed/reworked once we come to doing UX/UI redesign for that section of the site. Design focus is going on the itinerary builder/request management first though.

[2016-10-06 13:41] dpaquette commented on #1257
@mgmccarthy we did talk about this on one of the weekly standups. I think @MisterJames was planning to write up summary of our thoughts.

[2016-10-06 15:12] #1342 closed

[2016-10-06 15:13] #1330 closed

[2016-10-06 15:15] #1291 closed

[2016-10-06 15:15] #1292 closed

[2016-10-06 15:15] #1335 closed

[2016-10-06 15:16] #1294 closed

[2016-10-06 16:18] wadewachs opened #1346 "Create Campaign > Copy Contact Info button doesn't work"
https://goo.gl/mjCnWV

In Chrome (53.0.2785.143) and Safari on Mac OS 10.10.5 the button to copy contact details while creating a campaign is completely non-functional, as shown in the video above.

I was logged in the an organization admin user (wadewachs@gmail.com) that did not have a verified phone number (the SMS gateway seems to be down). It is possible the unverified phone number is the sour

[2016-10-06 16:24] wadewachs opened #1347 "Org Admins should not see other organizations when creating Campaigns"
When logged in as an organization admin
While creating a new campaign
I have the ability to select any organization to assign the campaign to

I would expect that as a limited user to my own organization, that I would only have visibility into my organization.

It seems that I am unable to actually create the campaign in an organization that I am not the admin of. However, instead of a useful erro

[2016-10-06 16:41] jona6629 opened #1348 "My Tasks will disappear when a character not in the task is searched for"
Repro:
1. Dashboard>>Click current event
2. My Task>>Search put in a character that is not in the task
Note: My task div will disappear.

[2016-10-06 16:48] wadewachs opened #1349 "Edit Campaign > Add Impact Goals - Plural descriptor is confusing"
![screen shot 2016-10-06 at 9 33 55 am](https://cloud.githubusercontent.com/assets/4061222/19161698/a804f036-8ba9-11e6-9043-62522308f0fd.png)

The text description mentions "Goal**s**". However an individual campaign (it appears) may only have 1 goal attached.

I spent some time trying to figure out how to add another goal. My assumption is that an actual org admin would spend similar time and fru

[2016-10-06 17:04] wadewachs opened #1350 "Create Event screen needs some css widths adjusted within the responsive design"
https://goo.gl/bKrstE

Once the display is small enough, the labels on the boxes respond appropriately.
There is a point however between ~1200 pixels wide and ~1000 pixels wide where the labels are covered by the data fields

The page to create campaigns seems to handle this much better: https://goo.gl/goZ24c

[2016-10-06 17:04] atthetestlab opened #1351 "Issues with data validation on Create Organization page, privacy url"
Creating Org, URL for Privacy Policy URL requires significant formatting, doesn't prompt user:
Didn't Work:
yahoo.com
www.yahoo.com
www.yahoo.com/privacy
www.yahoo.com/privacy.html

Once I added some sort of protocol:
gopher://www.yahoo.com/privacy.html, I was prompted to use "The Privacy Policy URL field is not a valid fully-qualified http, https, or ftp URL."

[2016-10-06 17:51] julianharty opened #1352 "Optimize web site for pagespeed"
The site isn't optimized for web or mobile web browsers. Doing so can improve the performance and reduce the amount of data sent over the network - particularly useful for users using mobile (cell phone) networks.

The tool doesn't login to the site, however since you're using shared resources, hopefully the changes and improvements you make can pervade the entire site.

https://developers.google.

[2016-10-06 18:19] wadewachs commented on #1301
Ran into several odd interactions with this field in the Test Lab. Here is a video demonstrating some of those behaviors:

https://goo.gl/kdF4Pl

[2016-10-06 18:28] wadewachs opened #1353 "Create / Save button should be at the bottom of the Create / Edit Event page"
https://goo.gl/mi5zFr

As I was scrolling down the page to create an event, I got to the bottom of the page and panicked a bit that there was no 'Save' button on the page. After a few moments of panic, I scrolled up to the top of the page and found the save button squished on the top edge of the page.

I would like to have these buttons at the bottom of the page so I can save when I get to the end

[2016-10-06 18:53] ChicquillaLewis opened #1354 "STARWest_Expand Toggle is broken ... Viewable data is hidden"
Description: Expand Toggle is broken ... Viewable data is hidden

This error limits the user to see the pull down options when the field is expanded.

![screenshot 2016-10-06 at 11 29 32 am](https://cloud.githubusercontent.com/assets/22665710/19166361/099c2460-8bbc-11e6-875a-5d52c6d20548.png)

Steps to Recreate:
Access the web site.
Login as the admin user.
Press the dashboard button
Select a curr

[2016-10-06 18:54] ChicquillaLewis opened #1355 "STARWest_Test Lab Name Length limit needed"
Description: The name length for the users is not limited

This error does not limit the user name length. Then, the description field is expanded to meet the max length stored in the database.

![screenshot 2016-10-06 at 10 27 16 am](https://cloud.githubusercontent.com/assets/22665710/19166339/f2fec1ea-8bbb-11e6-9a61-b0059196d73c.png)

![screenshot 2016-10-06 at 10 28 19 am](https://cloud.githubu

[2016-10-06 18:54] ChicquillaLewis opened #1356 "STARWest_TestLab No Cancel button #1"
Description: There is no cancel buttons provided for users

This error will cause users to have to push the back button, thus not continuing in a forward flow to complete a process.

Steps to Recreate:
Access the web site.
Login as the admin user.
select the admin user name hyper link "Hello starwest.testlab@gmail.com"

Error: There is no cancel button for the user to continue moving forward in th

[2016-10-06 19:28] wadewachs commented on #1336
This was a report of some of the testing that was happening around Tuesday night. We don't know that this is what actually caused the infinite loops, but I asked him to enter the issue in the event that it helps troubleshoot the skills related infinite loop that we created with some bit of Data Tuesday night.

[2016-10-06 20:00] angusvb opened #1357 "Usability: organisations page when tabbing through organizations do not highlight"

[2016-10-06 20:12] julianharty commented on #1310
Improving the formatting also helps make the software more usable on mobile devices as they can display/provide a suitable on-screen keyboard

http://html5doctor.com/html5-forms-input-types/ is one of a plethora of sites that provide useful examples.

[2016-10-06 20:19] julianharty opened #1358 "Why does the app need these twitter permissions?"
The twitter link now works (Yay!) however the app seems to be greedy and I - for one - wouldn't trust it with access to my twitter account. Please review what permissions the app needs to have and what users should be able to optionally grant for each of the social network logins.
<img width="971" alt="screen shot 2016-10-06 at 21 17 43" src="https://cloud.githubusercontent.com/assets/785891/19169

[2016-10-06 20:25] atthetestlab opened #1359 "Footer link - Instagram linked to twitter account."
// a href="https://twitter.com/HTbox/media" target="_blank"> <img src="/images/instagram-small.png" alt="Instagram account"
Steps to reproduce.
1) http://allready-d.azurewebsites.net/Account/ForgotPassword
2) Mouse hover on Instagram account on the footer link
3) Instagram account linked to Twitter account - https://twitter.com/HTbox/media
This is reproducible on the other pages - http://allready-

[2016-10-06 20:28] atthetestlab opened #1360 "The image used on 404 page is large that the user has to scroll down to view the complete image. Is this required to be large image, if yes. Why?"
http://allready-d.azurewebsites.net/Error/Error404
We went off the rails and couldn’t find your page!
Don’t worry. We’ll get back on track.

Tested on the chrome book at the TestLab.

[2016-10-06 20:48] Ikaikag opened #1361 "Message All Volunteers Modal Displays all message send Notifications."
When you attempt to create a message to send to all volunteers,  All message notifications(sending, error and delivered)  are displayed.

Repro Steps.
1. Log into Org admin That has an Event created.
2.  Add volunteers to event task.
3.  Navigate to Task Details /admin/task/details.
4. Click Message All Button.

Notice:

Modal notifications.

![screenshot 2016-10-06 at 4 47 25 pm](https://cloud.gi

[2016-10-06 23:44] wadewachs commented on #1334
@calaharie  - We selected you as a prize winner from the test lab. Either try to find me before you leave the conference, or send me your email address and I will get the prize to you.

Thanks for all of your help at the lab.

[2016-10-06 23:45] wadewachs commented on #1356
@ChicquillaLewis  - - We selected you as a prize winner from the test lab. Either try to find me before you leave the conference, or send me your email address and I will get the prize to you.

Thanks for all of your help at the lab.

[2016-10-06 23:45] wadewachs commented on #1325
@SPConlin  - - We selected you as a prize winner from the test lab. Either try to find me before you leave the conference, or send me your email address and I will get the prize to you.

Thanks for all of your help at the lab.

[2016-10-07 00:12] julianharty commented on #1360
As a suggestion, how about considering resizing the image so it fits within the visible area. Perhaps something along the lines of the solution from http://stackoverflow.com/questions/12991351/css-force-image-resize-and-keep-aspect-ratio would help. Also the image is quite large, over 600KB I think, perhaps it'd be worth finding ways to make it smaller so it consumes less bandwidth and time to tra

[2016-10-07 03:43] SeanFeldman commented on #1313
ASP.NET Core application is an entry point for the code. Since the entry point is not making any context switching (like the `HttpContext.Current`), it is indeed not needed to restore the context, and therefore by default `.ConfiguraAwait(true)`, or not specifying `.ConfigureAwait(true)` at all, will work.

Simplification of the code is a very strong and compelling point. Especially when the code

[2016-10-07 06:49] stevejgordon opened #1362 "User Documentation Planning"
I'd like to start building up so initial user documentation for the features of allReady to aid in the use of the application by organizations.

Whilst this is by no means a complete list I propose some of the initial topics we cover are:

- [ ] How to add and configure a campaign
- [ ] How to add and configure an event (both rally and itinerary)
- [ ] How to add tasks to an event
- [ ] How to bui

[2016-10-07 10:28] stevejgordon commented on #1307
@tonysurma I think the intention here is to "include" completed campaigns, rather than only showing completed? Perhaps we just tweak the wording here initially?

[2016-10-07 10:37] stevejgordon commented on #1302
Was fixed by #1327

[2016-10-07 10:37] #1302 closed

[2016-10-07 12:34] stevejgordon commented on #1080
@tonysurma Looking at if I can pick any of these up with my limited js knowledge.

We currently have a map displaying the request on the select requests screen. At this point it's any unassigned requests so presume no colour coding here.

Is the requirement above also about displaying the map on the itinerary details page therefore showing the requests assigned to the itinerary and their status?

[2016-10-07 12:39] mgmccarthy commented on #1358
@julianharty, I was the last one working on the external authorization providers.

Have you looked at what the other login providers require you to share with the application? That might help for us to gauge how "greedy" Twitter is vs. Google for example.

Thanks

[2016-10-07 12:49] mgmccarthy commented on #1313
@SeanFeldman, thanks for taking the time to explain some of the finer intricacies of `ConfigureAwait`.

I agree with the "good habits" section, and understanding when and why a developer should use `.ConfigureAwait(false)` is a good idea. On the flip side is most people don't understand it, and we want to  lighten the cognitive load for contributors to the project.

All I know is I feel like I und

[2016-10-07 12:54] mgmccarthy commented on #1084
@tonysurma, can you assign this to me? I'd like to start with the first item, then discuss/investigate how to get some of the other things done.

It's a shame this project is not using NServiceBus, b/c Sagas would be a very good way to coordinate the work with the "web jobs" for the communication of confirming requests.

I might check out some open source schedulers (such as Quartz.net) which migh

[2016-10-07 12:59] mgmccarthy commented on #1257
The caveat with doing this is we need some type of clearly defined requirement that tells us  which pages can be viewed by an unauthorized user... @stevejgordon just had to fix #1302 b/c my assumption when working in that area is that an unauthorized user would not be able to view an Event.

[2016-10-07 13:19] SPConlin commented on #1325
@wadewachs I'm glad I could help. Drop me a note if there is anything else I can do. My email is Spconlin@gmail.com

[2016-10-07 18:53] mgmccarthy opened #1363 "Refactor ItineraryController's Confirm/RemoveRequest/TeamMember action methods"
this refactoring replaces database queries with info passed on the ViewModel for the Delete/Confirm steps for both ConfirmRemoveRequest and ConfirmRemoveTeamMember.

This will be my last "improvement" refactoring for a while as I'm going to turn my attention to the October/November/December release Issues along with bugs. Thanks

[2016-10-07 19:06] mgmccarthy commented on #1084
I'm currently working on "Requestor can specify communication preferences (text, voice) for communication"

[2016-10-07 19:44] tonysurma commented on #1362
I tagged this for the final milestone and couldn't agree more and look for @OhMcGoo to help for sure.  Thanks Steve

[2016-10-07 19:49] tonysurma commented on #1307
So step 4 sent them to our allready-d site....

I just reviewed and yes I think the wording should be 'Include Completed Campaigns' or similar

[2016-10-07 19:53] tonysurma commented on #1080
Yes it should be on itinerary page @stevejgordon

[2016-10-07 19:55] tonysurma commented on #1358
Good feedback, we will review our ability to minimize that but often there is one thing we need that only comes in a package with many other permissions - similar to other providers as @mgmccarthy as well as an unfortunate pattern on mobile OS's as well (have to get perms to access all files in order to show photos for example).

We for sure are not looking to grab more than we need and it only cr

[2016-10-07 19:58] tonysurma commented on #1084
You are right it is with requesters who are not on our site.  That preference would have to come from getasmokealarm so perhaps @OhMcGoo can help bridge that connection.

[2016-10-07 19:59] mgmccarthy commented on #1084
@tonysurma do we have an Issue for allowing registered users to be able to set their communication preferences? Is so, it would be good to add, even if it goes onto the backlog and is not included in the October/Nov/Dec milestones.

[2016-10-07 19:59] tonysurma commented on #1363
Thanks!

[2016-10-07 20:00] #1363 closed

[2016-10-07 20:02] tonysurma commented on #1084
I just took a note to go look as I feel like we did have this but that might be faulty memory.

[2016-10-07 20:08] mgmccarthy opened #1365 "Refactor SkillController Delete and DeleteConfirmed action methods to reduce db calls and use strong typed ViewModel for post"
One more improvement refactoring, then I SWEAR... I'm done. This was a quick and easy one and just smoked tested it and unit tests are updated.

[2016-10-07 20:10] tonysurma commented on #1365
Making code better is addictive 👍

[2016-10-07 20:10] mgmccarthy commented on #1365
"leave the campground cleaner than you found it"... words to live by.

[2016-10-07 20:16] #1365 closed

[2016-10-07 21:18] digitaldrummerj commented on #1287
I am working on this

[2016-10-07 21:18] digitaldrummerj commented on #1282
I am working on this

[2016-10-07 21:18] digitaldrummerj commented on #1281
I am working on this

[2016-10-08 07:08] ChicquillaLewis commented on #1356
Hello Wade,
Thank you so much for the opportunity to participate in the testing lab to find bugs.  I really enjoy testing.  I apologize for missing this email, and I stopped by your testing site today, however your team had already packed up at the end of the conference.  I did reach out to Rachelle Sawal rsawal@techwell.com<mailto:rsawal@techwell.com> about your email and she mentioned that she w

[2016-10-08 07:53] stevejgordon commented on #1313
@SeanFeldman No need to apologies for raising it. I learnt a lot from your information and as I'd never been aware of it previously. I still can't confess to feeling I understand it fully, but I know enough to use ConfigureAwait in my older 4.x apps in many cases.

To your points above:

1. While I agree on sharing good practice I would suggest that if it's not required in Core we need to guide pe

[2016-10-08 10:56] julianharty commented on #1358
@mgmccarthy the permissions being asked for twitter are wide-ranging at the moment and more than for other forms of authentication. @tonysurma @mgmccarthy I've just created a test twitter application (really I've just registered the details on twitter, no line of code needed) and discovered that there are 3 broad permissions. The least is read permission, and the one I've selected for my test app.

[2016-10-08 11:10] julianharty commented on #1358
BTW: there's what seems a clear tutorial at https://code.tutsplus.com/tutorials/how-to-authenticate-users-with-twitter-oauth-20--cms-25713 albeit written in PHP.

[2016-10-08 14:12] #1071 closed

[2016-10-08 15:27] SeanFeldman commented on #1313
@stevejgordon the links are embedded in my comment https://github.com/HTBox/allReady/issues/1313#issuecomment-252146409
You'll need to use desktop rendering to see those.

[2016-10-08 16:24] mgmccarthy commented on #1358
@julianharty, I wrote a blog about what it takes to get read-permission access from Twitter (which is the only way to pull the user's email address in to the registration page when picking Twitter for logon)... and it's involved: https://mgmccarthy.wordpress.com/2016/07/07/asp-net-core-retrieving-a-users-email-and-name-from-the-twitter-external-login-provider/

I'll check out the tutorial written

[2016-10-09 16:24] mgmccarthy commented on #1084
@tonysurma, I'm reading through PR #1111 as well as the info in this Issue to gain a deeper insight and understanding of what we're trying to do here, and I have a question.

It looks like the existing code for written for handling outside requests into the system first looks up the request in the Request table in the db, then decides whether or not we're creating a request or if we're updating an

[2016-10-09 17:00] tonysurma commented on #1084
Need to double check with @OhMcGoo and by proxy Cecelia but I believe that a requestor can cancel/'undo'/rescinde a request from their side and that is the only status update that would come from there.

cc @MisterJames who may have talked to them about this

[2016-10-10 10:38] mgmccarthy commented on #1084
That cancel/undo process is via the "Y" and "N" responses to the initial Request thought, correct. If so, that would be outside the code that accepts creates the initial Request.

[2016-10-10 15:47] mgmccarthy commented on #1304
@stevejgordon this is probably related to the code I did for the Twitter external login provider. The other odd thing is, based on the environment (`IsDevelopment` vs. `IsStaging`) that is being set in Startup, we should not be seeing the Developer exception page, but rather, the "generic" error page located at "/Home/Error".

For the testing of allReady, do you know what environment we're specifi

[2016-10-10 17:56] stevejgordon commented on #1304
@mgmccarthy The application starts by default using Development. This is set in the launchsettings. If you go to the project properties (Debug) you should see that the ASPNETCORE_ENVIRONMENT variable being set to Development. This will take affect if launching from VS.

The code in startup is:

[code]

So in Dev/Staging we should get the ASP.NET core dev exception page. In anything else it should

[2016-10-10 18:58] mgmccarthy commented on #1304
@stevejgordon, yeah I was just wondering if the deployed app we have in the cloud that people are testing against is considered `env.IsStaging()`... I'm making the assumption it is.

[2016-10-10 20:28] mgmccarthy commented on #1257
@MisterJames @BillWagner and @dpaquette, a quick amendment to my previous comment... we don't need some type of clearly identified requirement to tell contributors which pages can be viewed by an unauthorized user... it's easy to figure this out with usage of the [Authorize] and [AllowAnonymous] attributes.

[2016-10-11 00:34] mgmccarthy opened #1371 "Refactor UserByUserIdQuery/Handler to async"

[2016-10-11 00:38] mgmccarthy commented on #1359
@atthetestlab, do you happen to know what the link is for HTBox on Instagram?

[2016-10-11 00:57] mgmccarthy commented on #1346
In Chrome (53.0.2785.143 m (64-bit)) on Windows 7 Enterprise I don't see the Copy Contact info button at all on the UI when logged in as admin and creating a campaign.

![image](https://cloud.githubusercontent.com/assets/2428993/19255434/eba309f6-8f2b-11e6-9817-7b64ab50c84f.png)

It would be easy to explain is Safari were doing this and Chrome wasn't, but the Chrome versions between the two OS's a

[2016-10-11 01:01] mgmccarthy commented on #1336
@wadewachs I just tried to reproduce this locally and could not. When I hit the submit button, I was was prompted to fill in the info that was missing.

[2016-10-11 01:02] mgmccarthy commented on #1319
@jmcconda this works when I run the app locally. It might have something to do with the version of the code...

could you include your chrome version and what OS you're on?

[2016-10-11 01:10] jmcconda commented on #1319
Sorry, this was at the test lab at the Star West conference so I no longer have access to the computer I was using. This was an HP Chromebook though, so it's the Chrome OS. I don't know what version it was running.

[2016-10-11 11:53] wadewachs commented on #1346
I was logged in as the org admin, not a site admin. I believe org admin is the role you would expect to be creating campaigns, and thus the ones using the "copy contact details'" feature.

[2016-10-11 11:55] wadewachs commented on #1336
This was a report of one of the things that was going on Tuesday night around the time we crashed the server. It is possible this is a red herring, and not the actual cause. I had Jonathan report this as an issue in the event it helped track things down. If following the steps doesn't create the infinite loop failure, feel free to close this issue.

[2016-10-11 11:56] tonysurma commented on #1336
Thx @mgmccarthy for verifying.  I gave the db that causes the infinite loop to @misterjames as we don't know the cause but was pretty sure it wasn't this specifically/alone

[2016-10-11 11:56] #1336 closed

[2016-10-11 11:58] tonysurma commented on #1359
We don't have one so should be removed

[2016-10-11 12:18] #1340 closed

[2016-10-11 12:18] #1322 closed

[2016-10-11 12:20] tonysurma commented on #1304
Allready-d is staging or should be, although I logged an issue starting there may have been a change to how that is detected

[2016-10-11 12:20] #1311 closed

[2016-10-11 12:23] tonysurma commented on #1298
@stevejgordon makes sense let's do it.

@mgmccarthy this is the staging note I was referring to

[2016-10-11 12:24] tonysurma commented on #1298
I feel like I recall that that's no longer the environment variable that is asp.net is checking but may be a bad memory

[2016-10-11 12:27] tonysurma commented on #1298
That is the right/new environment variable https://jessedotnet.com/2016/05/05/asp-net-core-1-0-asp-net-5-environment-variables/

[2016-10-11 12:52] mgmccarthy commented on #1359
@tonysurma, I can take care of this.

[2016-10-11 13:46] mgmccarthy commented on #1346
@wadewachs, let me try logging in as the org admin, sounds like that is why I cannot see the button. Thanks

[2016-10-11 13:52] #1298 closed

[2016-10-11 14:26] stevejgordon opened #1375 "Display Itinerary Requests on Itinerary Details Page"
Sub issue of #1080

We should include a Bing map on the itinerary details page, showing locations of all requests which form part of that itinerary.

[2016-10-11 14:26] stevejgordon commented on #1080
@tonysurma Thanks. I've created a new issue to track adding the map to this page also. I'm going to have a go at getting that working with at least status colouring included.

[2016-10-11 16:51] mgmccarthy commented on #1347
@tonysurma, can you confirm the behavior that @wadewachs is talking about above. If I'm logged in as a org admin and creating a new campaign, should I only see a list of organizations of which I'm an administrator, or should I see all organizations?

[2016-10-11 17:00] tonysurma commented on #1347
Confirmed, filter for permissions and for org admin that is only those I am an admin for

[2016-10-11 18:07] #1099 closed

[2016-10-11 18:07] #1375 closed

[2016-10-11 18:07] #1371 closed

[2016-10-11 18:07] #1308 closed

[2016-10-11 23:46] #1359 closed

[2016-10-11 23:49] mgmccarthy commented on #1084
@tonysurma @OhMcGoo so forgive me if I'm wrong, but it looks like we don't care about the communication preference when we receive the initial request.

We record the requestor's communication preference when the request is assigned to an itinerary, the initial message goes out to the requestor via MMS, and we get a positive ack back from the requestor in these ways:
- sms/mms
- voice call
- email

[2016-10-11 23:57] mgmccarthy commented on #1084
@tonysurma, if a requestor can "cancel" or "undo" a request, we need a way to correlate that request back into our system...

currently, in PR #1111 it looks like we're storing ProviderId, but that's just a string that might say something like "serial" for the Red Cross:
https://github.com/HTBox/allReady/blob/0d81313ecf9f65b9f1a5a90d2da3a74c2b56ac84/AllReadyApp/Web-App/AllReady/ViewModels/Requests

[2016-10-12 00:20] tonysurma commented on #1084
pinging @OhMcGoo as I really need some info from the get a smokealarm side (pinging @MisterJames as well if he spoke with them.

My understanding was that ProviderId was supposed to be the unique id provided by the other system but I very well may be wrong.  We need that both for them to update as well as for us to give them status.

And I think you are correct for now on preferences.  Let's do si

[2016-10-12 00:45] MisterJames commented on #1084
@mgmccarthy would you be available on Friday for a call? we can sort through this in about 30 mins and then post back our decisions to this thread. I have some updated info from the last few days on the advancement of the API (along with API keys and access to the demo environment) so we should be able to process this quickly.

[2016-10-12 01:16] mgmccarthy commented on #1084
@MisterJames, I WFH Friday, so it should be pretty easy to fit a call in during the day... let me know what time works for you.

[2016-10-12 02:38] wadewachs commented on #1356
Chicquilla,

Rachelle was the right person to get in touch with. She should be able to get everything to you.

Thanks again for the help in the test lab. I was really impressed by your organized and explorational approach. I specifically appreciated after your exploration session the way you asked about each of the issues you had identified, to compare your expectations to mine.

If you have any i

[2016-10-12 03:10] wadewachs commented on #1359
<img width="269" alt="screen shot 2016-10-11 at 11 09 01 pm" src="https://cloud.githubusercontent.com/assets/4061222/19296190/c6dc7166-9007-11e6-9695-554b44a8e100.png">

Checked several pages, on all of those I checked (campaigns, admin, events, home) the footer no longer has an instragram icon.

:+1:

[2016-10-12 10:16] stevejgordon commented on #1101
@tonysurma I presume this one is more related to selecting items from the Select Requests side? i.e. when displaying a list of all requests not yet assigned to an itinerary the map should show all items and allow them to be selected and then added to the current itinerary.

I can see some events we can hook into to allow map pin selection. With a bit of work I think I might be able to tie that int

[2016-10-12 10:17] stevejgordon commented on #1100
@tonysurma Do we just need a drop down above the table and map to allow choice of status which then shows only requests in that status. On the Itinerary Details page?

[2016-10-12 10:56] mgmccarthy commented on #873
@stevejgordon  @tonysurma @MisterJames

RE: logging

projects I've worked on in the past have had great success using Elmah (https://elmah.io/) for logging. You really don't have to build anything, just configure it properly, and you the logging of exceptions as well as a web interface into those logs for free.

When we get around to implementing Issue #1257, having a logging mechanism in place li

[2016-10-12 11:04] mgmccarthy commented on #873
@stevejgordon @tonysurma @MisterJames

RE: logging

Okay, so it looks like I incorrectly linked Elmah to the wrong site! The Elmah I've been using is located here:
https://code.google.com/p/elmah/

NOT here:
https://elmah.io/

I'm not too sure if these two products are related, but when looking at Scott Hanslemen's blog (http://www.hanselman.com/blog/ELMAHErrorLoggingModulesAndHandlersForASPNETAnd

[2016-10-12 11:12] mgmccarthy commented on #873
so it appears there is no association between projects. on this About page of elmah.io:

"Based on the de-facto standard error component ELMAH, logging errors from your webserver requires nothing more than installing a NuGet package"...

there is also this disclaimer at the bottom:

"elmah.io is not affiliated with the ELMAH project and none of the nice folks at ELMAH are crafting elmah.io. We con

[2016-10-12 15:14] mgmccarthy commented on #1084
Looks like the RequestId is primary key of the Request table so we already have the ability to correlate each individual based on this value

[2016-10-12 16:44] stevejgordon commented on #1084
@MisterJames There may be a reason for it but the request id is a Guid as the moment. Could we perhaps move to int? I'm worried that as we build up 100's of requests searching by Guid is not very efficient. I've not dug through the code yet to see if Guid is really needed. I presume it's the ProviderId which links back to any id's from GetASmokeAlarm.

I'm also keen to know the outcome of the API

[2016-10-12 17:07] mgmccarthy commented on #1084
Guid's can be efficient if you implement sequential guids... aka (CombGuid's).  Jimmy Nilsson talks about this in his book "Applying Domain-Driven Design and Patterns: With Examples in C# and .NET" (https://www.amazon.com/Applying-Domain-Driven-Design-Patterns-Examples/dp/0321268202)

We implemented a CombGuid generator at my job b/c all of our PK's are Guid's b/c we're a 100% distributed system a

[2016-10-14 16:13] SPConlin commented on #1325
@wadewachs Please email me at SPConlin@gmail.com. I have a question about the prize you mentioned above.

[2016-10-14 16:49] mgmccarthy commented on #1084
@tonysurma, can we get verbiage as to what needs to be on the message for:
1. week before
2. day before
3. day of

my assumption is we ask for confirmation for the message sent a week before and a day before, but the day of message is basically telling the requestor, "hey, we're not coming b/c you never confirmed your request with us"

[2016-10-15 15:10] #1244 closed

[2016-10-16 22:17] sanilpaul commented on #785
@mgmccarthy @samqty @tonysurma Looks like this has been done. May be we should clean up by closing the issue.

[2016-10-17 11:45] stevejgordon commented on #1243
Having a quick lunchtime look at this to see what I can do.

[2016-10-17 14:56] #1243 closed

[2016-10-17 14:56] #1247 closed

[2016-10-17 18:46] stevejgordon commented on #1318
I've replicated this using a connection string @tonysurma provided. Locally I can see a lot of GC activity in the diagnostics. I've run out of time tonight but I'll continue looking into this issue to narrow down the cause. Looks likely it's loop in our skills data.

[2016-10-17 18:50] mgmccarthy opened #1383 "Question about Azure settings in conjunction with running Hangfire in IIS process"
@MisterJames @tonysurma

I'm not too sure what "version" of an Azure web account allReady has, but apparently, if we don't have a free Azure account, running the Hangfire server in the IIS process is as simple as flipping this setting in Azure:

![image](https://cloud.githubusercontent.com/assets/2428993/19450664/59a61410-9478-11e6-9569-0646b00db3ae.png)

For more background on forcing "always on"

[2016-10-17 19:33] MisterJames commented on #1383
It's actually not about the account, it's about the app service profile we run the site under. We should be fine to make this config setting change. Thanks for looking into this @mgmccarthy. We're going to be okay to move ahead with this. @tonysurma would you like to try to deploy these changes first to a different deployment?

[2016-10-17 19:51] #786 closed

[2016-10-17 19:52] #663 closed

[2016-10-17 19:54] tonysurma commented on #1383
I will double check but I think AlwaysOn is already configured on.

[2016-10-17 19:56] tonysurma commented on #1383
AlwaysOn is allReadyOn ™️ so you should be good to go

[2016-10-17 19:58] mgmccarthy commented on #1383
:+1:

[2016-10-17 20:06] mgmccarthy commented on #1084
@tonysurma @MisterJames... in talking shortly with @stevejgordon, it seems that getasmokealarm/Red Cross will be calling the `RequestApiController` from PR #1111 so we can take create requests in our system from them.

It seems that getasmokealarm also has the ability to receive an ack that would allow it to track requests it has already sent to allReady. As a result of this, it sounds like getasm

[2016-10-18 12:53] sanilpaul commented on #866
I am working on this

[2016-10-18 13:16] mgmccarthy commented on #1084
pinging @tonysurma @MisterJames

I need to know the answers to my questions in the above comment. There are also other things I need to know:
- if we plan to support updating status on an existing request as part of the inbound integration
- if we are supporting a status update, I need to know whether to whole message is resent with all the data, or just the update to the status. This will affect

[2016-10-18 19:50] #1274 closed

[2016-10-18 19:50] #1281 closed

[2016-10-18 19:50] #1282 closed

[2016-10-18 19:50] #1287 closed

[2016-10-18 19:52] tonysurma commented on #1084
@misterjames if you can work on the flow/code items I will work on the content pieces

[2016-10-18 20:42] mgmccarthy opened #1384 "Break Hangfire Server out into separate process (do not run under IIS process)"
@tonysurma

The code for doing this is very simple, but the later item is to be done on the deployment side of things. We have to:

- update the build script to deploy a separate project, as this project will not be part of the web project
- research the best way to run this process in Azure. WebJobs? Something else? I don't enough about Azure yet to answer this question

I'm fine with the code ch

[2016-10-18 20:46] dpaquette commented on #1384
Where does AllReady use Hangfire?

We are already using WebJobs in the project so that would probably be a good choice.

[2016-10-18 20:51] mgmccarthy commented on #1384
In the code I'm writing for PR #1111 and  Issues #1032 and #1084. I dont' know a lot about WebJobs, but they seem like something that is optimized for recurring tasks.. in both of those Issues, we're dealing with scheduling a task based on when a notification is published RequestsAssignedToIntinerary) to sms each Requestor 7 days from that date at noon.

Since I know very little about WebJobs, the

[2016-10-18 20:59] dpaquette commented on #1384
Ah, so this is new stuff. I was trying to figure out where Hangfire was in the app now.

@MisterJames is a WebJobs expert so he's the guy to talk to ;-)

[2016-10-18 21:39] sanilpaul commented on #866
@mgmccarthy @stevejgordon @tonysurma

Looking at the OrganizationEditQueryHandler ,  something is not right about this query and we are doing similar look up a lot of places but persisting only 1 organization contact.

`organization.OrganizationContacts?.SingleOrDefault(tc => tc.ContactType == (int) ContactTypes.Primary)?.Contact`
`public enum ContactTypes
  {
  Primary = 1
  }`

I haven't seen wh

[2016-10-19 00:04] mgmccarthy commented on #1084
@tonysurma @OhMcGoo ... quick question about the 7 days before/day before message sent to requestors to confirm their Request...

I'm assuming it's 7 days before/1 day before the Intinerary's date, not the date that the Request was created, correct?

I'm asking b/c if a request is created, then assigned to an Itinerary the day before the Intinerary's date, then we'll need some logic in the code to

[2016-10-19 02:05] tonysurma commented on #1084
Yes 7 and 1 day before itinerary date

[2016-10-19 11:31] mgmccarthy opened #1385 "Move the Create Request button to the Event/Details page"
cc @stevejgordon

it's not very clear to the user how to create a new request, as the button is hidden a bit. Right now to create a requst, you need to navigate to the event details page:
![image](https://cloud.githubusercontent.com/assets/2428993/19517130/567f4b98-95cd-11e6-89b7-0abba1f5f4dc.png)

where you can see the all the requests associated with that event. You then need to click on one of

[2016-10-19 11:34] stevejgordon commented on #1385
@mgmccarthy Yep I agree it's fairly well hidden!

[2016-10-19 13:34] stevejgordon commented on #1318
update - still working on this. Main bug is fixed but working on preventing it re-occuring and testing for it.

[2016-10-19 17:21] mgmccarthy commented on #1383
@tonysurma @MisterJames, apparently, there is also an "auto start" feature in Azure as well. Can one of you verify:

- if that option does indeed exist
- if it does, to set it on?

Thanks

[2016-10-20 13:12] mgmccarthy commented on #1084
@tonysurma, once a requestor replies "Y" to their request confirmation text, do we want to send the requestor a reply saying "you're request has been confirmed for [DATE]" ???

[2016-10-20 13:18] sanilpaul commented on #866
@mgmccarthy @stevejgordon @tonysurma  let me know what you guys think or if anyone else should weigh in?

[2016-10-20 13:41] mgmccarthy commented on #866
@sanilpaul , I can only weight on some of the tech questions..

- yes, an Organization can have more than one OrganizationContact... we have a `public List<OrganizationContact> OrganizationContacts { get; set; }`> on the Organization model
- I don't understand why the contact types has only one enum:
[code]

It looks like someone did a small refactoring where they ended up changing the ContactType

[2016-10-20 14:11] bmaluijb commented on #1106
I think this one is not relevant anymore and can be closed:

![organizations](https://cloud.githubusercontent.com/assets/16527331/19563306/c265c5f4-96df-11e6-8728-7209fb764406.jpg)

[2016-10-20 14:13] sanilpaul commented on #866
@mgmccarthy Also, Can the organization have more than 1 primary contact? Would SingleOrDefault fail?
`.OrganizationContacts?.**SingleOrDefault**(tc => tc.ContactType == (int)ContactTypes.Primary)`

[2016-10-20 14:15] bmaluijb commented on #1198
@tonysurma Love to pick this up. can you assign this to me please?

[2016-10-20 14:20] mgmccarthy commented on #866
@sanilpaul, looking at the OrganizationContacts property on the Organization model, it seems that an Organization can have multiple OrganizationContacts....

can the Organization have multiple **Primary** OrganizationContacts though??? Right now, on the write side, there is nothing that would prevent that from happening...

but like you pointed out, the read queries would throw an exception under

[2016-10-20 14:29] mgmccarthy opened #1386 "Change Request, ItineraryRequest and Itinerary models date storage to DateTimeOffset..."
@tonysurma, you can assign this to me for now, but we could potentially have multiple people work on this.

after a conversation yesterday afternoon with @dpaquette, it looks like we need to standardize on using DateTimeOffset throughout the system.

Right now, Request, ItineraryRequest and Itinerary all use DateTime properties, and the way the properties are named, it's not clear whether there ar

[2016-10-20 14:34] mgmccarthy commented on #1198
@bmaluijb, what would also be nice to roll into this task is not only the technical work, but to update our "Humanitarian Toolbox Developer Guide" at http://htbox.github.io/ under the DevelopmentGuidelines section at http://htbox.github.io/development-guidelines.html.

This site is a separate repository that is written using Markdown. You can find the repo here:
https://github.com/HTBox/htbox.gith

[2016-10-20 14:38] bmaluijb commented on #1198
Sure, that seems a good fit. It seems silly to do the technical work and keep the documentation outdated.

[2016-10-20 18:18] calaharie commented on #1334
@wadewachs calaharie@gmail.com

This notification was hidden in my e-mail, glad I happened to see it!

[2016-10-20 20:24] mgmccarthy opened #1387 "rename AllReadyTask to Task (low priority)"
I know `Task` is a reserved word in .NET framework, but to declare a var of `Task`, you can always use:

[code]

I use `var @event` when querying for event data.

[2016-10-20 23:21] dpaquette opened #1388 "Campaign/Event/Task start and end date/times are not being displayed in the users's local timezone"
If a user has a local timezone specified (under the user's profile), then event date/time should be displayed in the event's local time and also the user's local time.

Expected Result:
![image](https://cloud.githubusercontent.com/assets/2531875/19581364/a9a681e8-96e9-11e6-9832-94394fccda35.png)

Actual Result:
![image](https://cloud.githubusercontent.com/assets/2531875/19581353/9b84aaf4-96e9-11e6

[2016-10-21 03:46] tonysurma commented on #1388
fixed by PR

[2016-10-21 03:46] #1388 closed

[2016-10-21 03:49] tonysurma commented on #1383
auto on and auto start are set.

[2016-10-21 04:01] tonysurma commented on #1325
should remove the icon

[2016-10-21 04:01] tonysurma commented on #1324
I think these are related to sample data and not hardcoded

[2016-10-21 04:02] tonysurma commented on #1323
This is an infrastructure issue covered in another item (looking for issue # to reference)

[2016-10-21 04:02] #1323 closed

[2016-10-21 04:02] tonysurma commented on #1321
need to enhance email presentation for sure, thanks

[2016-10-21 04:03] tonysurma commented on #1319
needs verification, there was another item that mentioned this as well

[2016-10-21 04:03] #1319 closed

[2016-10-21 04:04] tonysurma commented on #1309
this is a duplicate of another issue

[2016-10-21 04:04] #1309 closed

[2016-10-21 04:05] tonysurma commented on #1316
we do not need that at the moment

[2016-10-21 04:05] #1316 closed

[2016-10-21 04:06] tonysurma commented on #1317
Yes we need some way to flag this and tie them.  cc @MisterJames @mgmccarthy

[2016-10-21 04:07] tonysurma commented on #1293
We had plans to implement scenario tests for common scenarios so we could test them as part of builds.  Not sure why they got turned off cc @BillWagner @MisterJames

[2016-10-21 07:01] bmaluijb commented on #1198
@tonysurma could you please assign me to this one?

[2016-10-21 07:04] bmaluijb commented on #1106
@tonysurma I think this one can be closed

[2016-10-21 07:12] stevejgordon commented on #1198
@tonysurma I was trying to assign @bmaluijb but seems he's not in the list. Over to you!

[2016-10-21 10:22] mgmccarthy commented on #1383
@tonysurma , let me know when you have the new db provisioned in Azure. Name of db should be "Hangfire". Thanks!

[2016-10-21 10:59] BillWagner commented on #1293
These were turned off because they were taking enough time that they caused build failures.

We can look at AppVeyor config to see if our account lets us configure the failure timeout. Then, we could turn them on.

[2016-10-21 11:36] tonysurma commented on #1383
Please confirm from what config setting it picks up the connection string and fyi it will have to be a different db name than hangfire

[2016-10-21 11:37] #1106 closed

[2016-10-21 11:49] mgmccarthy commented on #1383
@tonysurma, tell me what the db name needs to be.

config.json:
[code]

Startup.cs
[code]

is this what you need?

[2016-10-21 12:39] tonysurma commented on #1383
OK that's perfect.  Leave that in the config and that should work for local devs.  I will create db for live environments with what ever names and update that config entry like i do for the main db now.

[2016-10-21 12:41] tonysurma commented on #1198
Yeah with a recent update to GitHub you have to invite someone to repo before you can assign.  Will do that when I am on a PC later.  Thanks

[2016-10-21 12:54] bmaluijb commented on #1198
@tonysurma Will this interfere with our code-a-thon that is coming up? Can we turn it off temporarily for that day or have people work on issues without being assigned to them?

[2016-10-21 14:09] mgmccarthy commented on #1383
Would be cool to have something for devs that would check for the existence of the hang DB when they hit F5, and if it doesn't exist, create it. If not, they can hit F5 and run the system,  but the registration of hangfire will fail. The simplest  solution is to include a sql script that they can run manually,  but that's not very intuitive.

[2016-10-21 14:34] aastha93 commented on #1387
I am taking this issue .

[2016-10-21 15:05] #1325 closed

[2016-10-21 15:20] maguir commented on #1349
Working on this

[2016-10-21 15:25] maguir commented on #1385
Working on this issue

[2016-10-21 15:51] fasia commented on #1360
I am working on it

[2016-10-21 17:02] digitaldrummerj opened #1391 "Contributor Install Guide: Add TACO Unchecking of Sandboxed NodeJs"
By default Tools for Apache Cordova uses a sandboxed version of node.  Need to add unchecking of this configuration to the guide so that it uses the version of node installed globally
1. Go into Visual Studio Tools -> Options
2. Select Tools for Apache Cordova
3. Uncheck "Use a sandboxed version of NodeJs"

    ![image](https://cloud.githubusercontent.com/assets/708423/19606157/50fbc792-9775-11e6-

[2016-10-21 17:07] digitaldrummerj commented on #1293
I would assume you have longer than 3 minutes for a process to run during the builds but maybe not.  The scenario tests run in about 3 minutes on my machine.  However, if the site changes and Canopy can't find an element on the page that it is looking for, then Canopy will throw a time out error.  It can be a little confusing to realize that the time out is an indication that it can't find an elem

[2016-10-22 07:33] stevejgordon commented on #1318
And still going! Main issue solved and prevented the loops, but in testing skills across the site I'm finding some other bugs I'm digging into as part of this issue. If they become large I'll break them out.

[2016-10-22 14:04] BillWagner commented on #1293
The scenario tests by themselves aren't the issue, it's the total time:
. Start the VM
. Install pre-release .NET Core SDK (which may now be a standard image. If so we, can simplify the script)
. clone the repo
. restore all nuget packages.
. do the builds
. run the unit tests
. Run the scenario tests.

All up, it was often timing out.

[2016-10-22 14:18] #1385 closed

[2016-10-22 14:34] MisterJames opened #1392 "Convert Models and WebJob to .NET Core"
Leaving behind the history of csproj so we can move to project.json so we can eventually move to csproj.

[2016-10-22 15:25] tonysurma commented on #1293
actually in the recent past we have gotten tighter so all the overhead is < 3min 30sec, we should be good for scenario tests

[2016-10-23 13:11] mgmccarthy commented on #1383
@tonysurma, do we have a db for Hangfire ready to go in live environment? I'd like to know before submitting PR

[2016-10-23 14:48] tonysurma commented on #1383
The  f5 experience is what EF does,  it creates the db locally.   I have the  environment  ready to go.  However if it doesnt create the db  I don't know what will happen in the appveyor.   Either way submit it and we will test it.   Thank you

[2016-10-23 14:55] mgmccarthy opened #1395 "Why is the implementation of ISmsSender and IEmailSender tied logically to the NotifyVolunteersCommand?"
I would expect the ISmsSender/IEmailSender implementation to have a generic implementation that has nothing to do with a business concept like notifying volunteers.

The API/usage suggests an implementation that would use QueueStorageService directly, but instead, we send the `NotifyVolunteersCommand` to the `NotifyVolunteersCommandHandler`, which uses QueueStorageService.

This is confusing as th

[2016-10-23 16:15] #1392 closed

[2016-10-23 16:21] #1318 closed

[2016-10-23 17:43] tonysurma commented on #1100
Yes on itinerary but more importantly also on the screen where you choose requests  to add to an itinerary

[2016-10-24 03:12] dpaquette opened #1397 "Discussion: Formalizing approach to storing date and time values"
# Current Situation
### AllReady stores campaign/event/task dates as the .NET DateTimeOffset type
- DateTimeOffset is a .NET Framework type that represents a particular point in time relative to UTC. It is a Date and Time with an Offset relative to UTC.  (https://msdn.microsoft.com/en-us/library/system.datetimeoffset.aspx)
- Each Campaign has a Windows/.NET TimeZoneID specifying the timezone where

[2016-10-24 04:05] joelhulen commented on #1397
This is a great summary! I've dealt with this issue several times, as has any developer dealing with events on a multi-regional or global scale. I've used Noda Time recently, and was pleasantly surprised with how it simplified things like timezone conversions.

However, one thing about your summary confuses me. In the 3rd bullet point underneath Potential Risks, you state the following:

Are you s

[2016-10-24 11:39] mgmccarthy commented on #1397
@joelhulen, I was part of the email exchange with Jon Skeet, and in this email, he mentioned that storing local time, then converting to correct timezone'd DateTime would work on reads and writes.

But, storing the values as UTC and converting on reads writes would work as well... at my current job, that's exactly our approach to this problem... we store everything as UTC and have a abstraction in

[2016-10-24 11:39] mgmccarthy commented on #1397
thanks for doing this @dpaquette

[2016-10-24 13:23] MisterJames commented on #1397
I just want to point out that this is a very outside edge case, with low frequency and chance of occurrence ( @tonysurma please correct me here if need be ). I'm not suggesting we completely negate the fact that it may come into play; however, we need to remember that local times don't tend to change so wholesale changes shouldn't be predicated on that use case.

That said, everyone kinda gets UTC

[2016-10-24 13:24] dpaquette commented on #1397
@mgmccarthy Storing the Campaign / Event / Task dates as UTC would bring up the same problem as DateTimeOffset. By converting to UTC at the time of saving a Campaign / Event / Task, we are effectively doing the exact same thing as calculating the Offset at the time of the change. If a timezone rule changed, the value saved in UTC time would now be 1 hr off when we converted it back to local time.

[2016-10-24 14:25] mgmccarthy commented on #1397
@dpaquette, you are right. We're still using the time zone info we have available at the time to do the conversion from "user's local time" to UTC to store in the db.

so the decision to make is, are the time zone rules changing (which should not happen that often) be considered important enough to the project to:

- wait for a ASP.NET Core compatible NodaTime and use that?
- store LocalDateTime i

[2016-10-25 06:57] bmaluijb commented on #1198
@tonysurma any news on this one?

[2016-10-25 13:03] tonysurma commented on #1198
@bmaluijb sorry for delay, assigning and related items are the one thing I can't do on mobile and been in transit lately.

As for the codeathon, no this won't.  This has been in place by GitHub for about a year and isn't a turn on/off item.  What folks do is put a comment on the item they are working on to say "I am working on this" or similar and that is the flag for others.

[2016-10-25 13:07] tonysurma commented on #1198
@bmaluijb you have been invited to collaborate on this repository, once you accept I can assign you

[2016-10-25 13:10] bmaluijb commented on #1198
Thanks @tonysurma !

[2016-10-26 12:01] stevejgordon commented on #1100
@tonysurma - I did put a basic filtering facility into the select requests screen.

![image](https://cloud.githubusercontent.com/assets/3669103/19725178/0a285118-9b7c-11e6-81bb-d58c97aef38e.png)

It's a single field which will search across zip, address, name etc and return any matches. Do you envision the need to extend this to support fields for each item so a user can do a multi-field type filt

[2016-10-26 12:17] stevejgordon opened #1398 "Manual Request Creation - Latitude/Longitude Lookup"
When creating a request via the admin UI and saving it via EditRequestCommandHandler we should call the Bing API to determine the latitude and longitude for storage in the DB.

We need these details when representing the requests on the map.

[2016-10-26 12:23] mgmccarthy commented on #1398
@stevejgordon FYI, there is an `IGeocoder` abstraction that I found when picking up work on PR #1111 that is also used in ImportController. ImportController allows the import of Requests via a CSV. `IGeoCoder` is implemented by `GoogleGeocoder` in Startup.cs.

Not too sure if this is the same thing, or something different, but I figured I'd point it out.

[2016-10-26 12:28] stevejgordon commented on #1398
Thanks @mgmccarthy. I've literally just stumbled on that when digging into the code!

[2016-10-26 12:35] mgmccarthy commented on #1084
ping @tonysurma about the question above (do we want to send them a message after they've confirmed "Y")?

Also, a new question. I'm not too sure what the:
"On Installer marking previous request in itinerary delivered day of send "See you in a few" message"

line item from the Item description means. I'm assuming it means the day of the request, we send them a message "See you in a few?"

[2016-10-26 13:14] stevejgordon commented on #1102
@tonysurma I had a quick look at this the other day and can't see an obvious way to do this with the Bing API. We can add waypoints to create a route, but it does so in the order you specify.

I'd looked at Bing since the maps we're using are from Bing. However we do use GeoCoding from Google for the request imports.

The Google API seems to allow for optimized routes of waypoints (exactly what we

[2016-10-26 21:47] tonysurma commented on #1102
Thx, let's do the first 8 to see how it works without a key and we can look at cost later.  8 may actually be enough for the majority of use cases

[2016-10-27 10:30] bmaluijb commented on #1198
@tonysurma I've created two PR's for this:
- https://github.com/HTBox/allReady/pull/1404
- https://github.com/HTBox/htbox.github.io/pull/6

[2016-10-27 13:24] mgmccarthy opened #1405 "Build out SmsResponseController"
pinging @MisterJames @tonysurma @stevejgordon for feeback on if the assumptions I'm making below are correct.

This Issue is expanding upon the following line items from Issue #1084:
- If request is confirmed add "'N' if you can no longer make it" and if they respond N mark unassigned
- If request is not confirmed add "'Y' if you can make it, 'N' if you can't" and set status as above

allReady sen

[2016-10-27 13:43] mgmccarthy commented on #1084
broke out some of line items above into Issue #1405

[2016-10-27 19:40] mgmccarthy opened #1407 "Check for local Hangfire db and if doesn't exist, create it."
This is based on a comment from Issue #1399. Currently, if you do not have a Hangfire db created Server=(localdb)\\MSSQLLocalDB, the application throws an exception when you start it.

We want a developer-friendly F5 experience, so I added code in Startup.cs that checks for the existence of a Hangfire db, and if it does not exist, to create one.

I had to use ADO's SqlConnection and SqlCommand, wh

[2016-10-28 13:00] stevejgordon commented on #1102
@tonysurma This is what I'm planning to do. Any feedback, please let me know...

**Optimise Route Feature**

On then Itinerary details page add a hyperlink to "optimise route". Click this will show a popup with fields required to calculate the optimal route (if more than 8 requests this should be greyed out and unavailable).

Clicking the popup opens a UI containing:
- Start Address
- End Address

[2016-10-28 13:08] #1315 closed

[2016-10-28 13:11] tonysurma commented on #1407
Yikes definitely getting in deep with ADO and tsql :)

After we can verify someone else without the db sees it work/create it then I will merge to prevent any "It works on my machine:tm:" issues 😸

[2016-10-28 13:23] mgmccarthy commented on #1407
@tonysurma, the result would still be an exception in case the connection cannot be made or something else happens on the dev's local machine... so, we get an exception now, and if this fails... we get an exception.

Either way, the db will still need to be created locally.

If anyone has a better idea that does not involve SqlConnection and SqlCommand, then I'm definitely open to that discussion.

[2016-10-28 13:26] tonysurma commented on #1407
@mgmccarthy - wasn't editorializing about the approach was just being cute related to your comment about getting dirty with ADO (or at least was trying to be cute)

also was just figuring worth a test on another machine - and totally agree on optimizing for F5 and thanks for adding

[2016-10-28 13:29] tonysurma commented on #1102
@stevejgordon looks good, @OhMcGoo any thoughts?

As for unconfirmed, I would say that any requests added to the itinerary get included.  If they included unconfirmed use them, if not don't so to speak.  This way you don't filter/add more logic, just go with what is in itinerary and follow user's choices.  Does that work?

[2016-10-28 13:58] stevejgordon commented on #1102
@tonysurma Yep, that's fine. We can always enhance later if we need to. I will try to get to this ASAP.

[2016-10-28 16:37] dpaquette commented on #1397
Just an update on this. I will be working on some code samples for this on Sunday so we can hopefully get this nailed down.

[2016-10-28 19:42] nemesv opened #1411 "Validation is not working in the "Message All Volunteers" modal"
When you try to create an invalid message, without a subject and message, "nothing happens":
- no error message
- the modal stays open
- the "Send Message" gets disabled

The following JS error is displayed in the console:

[code]

![image](https://cloud.githubusercontent.com/assets/251330/19819945/40d214ce-9d57-11e6-90da-b7da1571fbf9.png)

Repro Steps.
1. Log into Org admin That has an Event crea

[2016-10-28 19:44] mgmccarthy opened #1412 "AddRequestCommand/Handler refactoring"
- Rename AddRequestCommand/Handler to AddApiRequestCommand/Handler
- b/c command is now explict, I removed RequestSource property from command and populate the Request's Source field in AddApiRequestCommandHandler. This matches how the other two handlers that create Requests work
- rename RequestSource.Manual to RequestSource.UI to better reflect intent (the comment on the enum said "created via t

[2016-10-29 13:53] #1407 closed

[2016-10-29 13:55] #1412 closed

[2016-10-29 14:10] #1341 closed

[2016-10-29 14:56] #1361 closed

[2016-10-30 23:29] digitaldrummerj commented on #1355
@tonysurma This sounds like a task that I could pull into the hackathon I am running.  Any guidance on what you want this to actually do (e.g. truncate at 100 chars or limit the length of input to start with)?

[2016-10-30 23:42] digitaldrummerj commented on #933
@tonysurma Is this one still valid?  I see a PR that references this issue that has been merged.

[2016-10-30 23:44] digitaldrummerj commented on #870
@tonysurma Is this one still valid? I see a PR that references this issue that has been merged.

[2016-10-30 23:46] digitaldrummerj commented on #862
@tonysurma looks like a PR has already been merged for this issue.

[2016-10-30 23:47] digitaldrummerj commented on #662
@tonysurma I see in the PR that has been merged that you put a closes this issue comment in but the issue is still open.  Is it still a valid issue?

[2016-10-30 23:48] digitaldrummerj commented on #661
@tonysurma Is this issue still valid?  I see a couple of PRs merged back in April and May but no activity since then.

[2016-10-31 00:14] digitaldrummerj commented on #1091
@tonysurma should the list of functionality be split into individual issues?

[2016-10-31 00:23] digitaldrummerj commented on #913
@tonysurma can you provide more details on this?

[2016-10-31 01:02] digitaldrummerj commented on #469
@tonysurma bump

[2016-10-31 01:04] digitaldrummerj commented on #466
@tonysurma It feels like the AllReady scenarios covers these requirements and we can close this one.  It does feel like we need more scenarios to be tested and need to create gh issues for them.  Thoughts?

[2016-10-31 01:06] digitaldrummerj commented on #204
@tonysurma bump

[2016-10-31 03:50] dpaquette commented on #1397
See PR #1416 for current WIP related to this issue. Proposing a approach that uses a custom model binder to do the adjustment for the Campaign or Event's timezone. This pulls the logic out of the controllers / command handlers and ensures the date time offsets are set correctly BEFORE they ever reach the controller.

I will be adding some documentation and unit tests later this week but wanted to

[2016-10-31 11:21] mgmccarthy commented on #1397
@dpaquette, this a great approach. Not only does it centralize the logic, but it makes it easy for new contributors to join w/out having to understand how we handle DateTime... they just need to understand when to use the attribute.

For the record, it looks like the model binder is meant to be used on write operations?

[2016-10-31 11:37] mgmccarthy opened #1417 "Restrict access to the Hangfire dashboard"
Hangfire includes a dashboard where you can see jobs in all different states. Because some of the information presented on the dashboard, Hangfire allows you to secure it by implementing `IDashboardAuthorizationFilter`.

@tonysurma. for allReady, we need to decide which type of user has access to the Hangfire dashboard. Would it be an OrgAdmin, a SiteAdmin... or maybe a new type of user that is mo

[2016-10-31 14:02] stevejgordon commented on #1397
Looks good @dpaquette. What's really handy is that what you've done regarding binding pretty much matches what I've job for a work requirement I had and have started writing up for my blog. So at least my approach looks good for that too!

[2016-10-31 15:59] tonysurma commented on #1417
For now lets authorize Site Admins as that is 'super user level mode' and later we can add a new level.  Thanks

[2016-11-01 11:20] mgmccarthy commented on #1084
@tonysurma @MisterJames I stumbled up Issue #1055 which looks like it has some of the information of what to expect from the getsmokealaram requests that our RequestApi will be receiving. I'm not too sure if this is the same requirement for this issue itself, but in reading it, it does look to be so.

For instance, it clearly marks what to expect from the status of each "request" that will be sent

[2016-11-01 11:27] mgmccarthy commented on #1084
@tonysurma @MisterJames  AND, I just found Issue #196, which clearly states:

as an example, there is the data being sent to use, and the `serial` field looks to be their unique identifier for each request;
`serial, // our unique identifier: Red Cross region code - 2-digit fiscal year - integer`

if this is the case, and you can confirm with getasmokealarm folks, then I will need to make some chan

[2016-11-01 14:11] YannickMeeus commented on #1285
I've picked this up, PR on the way

[2016-11-01 14:57] YannickMeeus commented on #1353
Looking through that page, the markup isn't quite correct. There are column specified containers without being nested in row specified containers. I've got a fix locally that I'll raise a PR for this evening.

[2016-11-01 16:36] #1417 closed

[2016-11-01 16:36] #1285 closed

[2016-11-01 18:17] #1353 closed

[2016-11-01 21:38] YannickMeeus commented on #1245
I've had a stab at replacing the icons with text, but I'm not convinced as to how it makes it better. It makes it clearer but it feels it detracts from not just the feel of the menu but also from the overall feel of the page. It becomes a lot more cluttered as a result:

![admin pane - text instead of icons](https://cloud.githubusercontent.com/assets/588607/19908457/57f26a56-a07b-11e6-85fc-8e4a4c3

[2016-11-01 21:47] digitaldrummerj commented on #1245
@YannickMeeus I agree that it makes it way more obvious as to what each button does now but makes the page look a bit more cluttered.  I do like that at least they are obvious now where before you had no clue what the buttons did.  With a little bit of UX love I think you could make it work.  Might just have to rethink how the page works.

some potential ideas:

* hide the buttons by default with

[2016-11-02 00:00] tonysurma commented on #1245
From a user perspective options 1 and three would be nice

[2016-11-02 03:24] tonylambert commented on #1347
I will try this one as my first attempt at working on HTBox.

[2016-11-02 11:39] mgmccarthy opened #1422 "Fix all misspellings of "Itinerary" in the code"

[2016-11-02 11:39] mgmccarthy commented on #933
@tonysurma, @digitaldrummerj this test has been written and this Issue can be closed

[2016-11-02 11:40] mgmccarthy commented on #862
@tonysurma, @digitaldrummerj this test has been written and this Issue can be closed

[2016-11-02 11:46] mgmccarthy commented on #870
@tonysurma @digitaldrummerj, hard to tell on this one. The name `TaskListQueryHandler` doesn't exist anymore in the project b/c it has likely been renamed. Althought, I'd go with @digitaldrummerj and close this one b/c it looks like there are two PR's that are closed/merged with work that took place

[2016-11-02 11:48] mgmccarthy commented on #661
@tonysurma @digitaldrummerj ... there are still skipped tests in AcccountControllerTests so this is still a valid issue

[2016-11-02 11:49] mgmccarthy commented on #866
ping  @tonysurma @MisterJames @BillWagner

[2016-11-02 11:52] mgmccarthy commented on #617
@tonysurma can you please un-assign me and label "jump-in?"

[2016-11-02 11:53] mgmccarthy commented on #865
@tonysurma this Issue can be closed.

[2016-11-02 11:54] mgmccarthy commented on #869
@tonysurma this Issue can be closed

[2016-11-02 11:56] mgmccarthy commented on #861
ping @rayhiker, did you ever submit a PR for this?

[2016-11-02 11:57] mgmccarthy commented on #662
@tonysurma @digitaldrummerj the unit tests exist and this Issue can be closed

[2016-11-02 11:59] mgmccarthy commented on #871
@tonysurma, I am not working on this. Please unassign me. Thanks!

[2016-11-02 12:01] mgmccarthy commented on #787
@tonysurma these unit tests are done and this Issue can be closed

[2016-11-02 12:01] mgmccarthy commented on #641
@tonysurma, there is still a lot of work to do here.

[2016-11-02 12:04] mgmccarthy commented on #617
@tonysurma, this is a dupe of Issue #684. One of these should be closed and just leave the one open to represent the work that still needs to be done

[2016-11-02 12:04] mgmccarthy commented on #684
@tonysurma, this is a dupe of Issue #617. One of these should be closed and just leave the one open to represent the work that still needs to be done

[2016-11-02 12:07] mgmccarthy opened #1424 "Implement skipped tests in ItineraryAdminControllerTests"
@tonysurma please label with jump-in

[2016-11-02 12:07] mgmccarthy opened #1425 "Implement skipped tests in OrganizationControllerTests"
@tonysurma please label with jump-in

[2016-11-02 12:07] mgmccarthy opened #1426 "Implement skipped tests in SkillControllerTests"
@tonysurma please label with jump-in

[2016-11-02 12:08] mgmccarthy opened #1427 "Implement skipped tests in EditEventCommandHandlerShould1"
@tonysurma please label with jump-in

[2016-11-02 12:19] mgmccarthy opened #1428 "Implement skipped tests in EditEventCommandHandlerShould1"
@tonysurma please label with jump-in

[2016-11-02 12:20] mgmccarthy opened #1429 "Consolidate test code in EditEventCommandHandlerShould2 into EditEventCommandHandlerShould1"
- delete `EditEventCommandHandlerShould2`
- rename `EditEventCommandHandlerShould1` to `EditEventCommandHandlerShould`

@tonysurma please label with jump-in

[2016-11-02 12:20] mgmccarthy opened #1430 "Implement skipped tests in EventDetailQueryHandlerShould"
@tonysurma please label with jump-in

[2016-11-02 12:21] mgmccarthy opened #1431 "Implement skipped tests in AddTeamMemberCommandHandlerShould"
@tonysurma please label with jump-in

[2016-11-02 12:21] mgmccarthy opened #1432 "Implement skipped tests in EditItineraryCommandHandlerShould"
@tonysurma please label with jump-in

[2016-11-02 12:21] mgmccarthy opened #1433 "Implement skipped tests in EditOrganizationHandlerShould"
@tonysurma please label with jump-in

[2016-11-02 12:22] mgmccarthy opened #1434 "Implement skipped tests in DetermineIfATaskIsEditableShould"
@tonysurma please label with jump-in

[2016-11-02 12:23] mgmccarthy opened #1435 "Implement skipped tests in TaskApiControllerTests"
@tonysurma please label with jump-in

[2016-11-02 12:23] mgmccarthy opened #1436 "Implement skipped tests in ClosestLocationsQueryHandlerShould"
@tonysurma please label with jump-in

[2016-11-02 12:24] mgmccarthy opened #1437 "Implement skipped tests in EventsByGeographyQueryHandlerShould"
@tonysurma please label with jump-in

[2016-11-02 12:24] mgmccarthy opened #1438 "Implement skipped tests in EventsByPostalCodeQueryHandlerShould"
@tonysurma please label with jump-in

[2016-11-02 12:24] mgmccarthy opened #1439 "Implement skipped tests in EventViewModelShould"
@tonysurma please label with jump-in

[2016-11-02 14:38] digitaldrummerj opened #1440 "Mobile-App: missing npm commands for starting ionic"
In the contributor guide, it mentions using the NPM Task Runner in Visual Studio to start up the ionic serve and ionic serve --lab but these commands are not in the mobile app's package.json file.

[2016-11-02 14:39] digitaldrummerj commented on #1440
I am working on this one.

[2016-11-02 15:00] digitaldrummerj opened #1441 "Mobile-App: api url is hard-coded"
The api url is hard coded into the mobile app's services.    My suggested solution is to create a set of gulp tasks to swap the api url between the localhost and the deployment urls.  Would need to make sure it works for all environments (localhost, dev, prod, etc).

Acceptance Criteria:

1. Able to change from localhost to dev
1. Able to change from localhost to prod
1. Able to change from dev to

[2016-11-03 00:48] mgmccarthy commented on #1358
@julianharty cc @tonysurma

I set up a new Twitter account tonight and created a new Twitter app. I did NOT go through all the steps listed in my blog(https://mgmccarthy.wordpress.com/2016/07/07/asp-net-core-retrieving-a-users-email-and-name-from-the-twitter-external-login-provider/) yet.

I wanted to see what type of page I would get while running the application locally using the new Twitter acc

[2016-11-03 00:52] mgmccarthy commented on #1304
@tonysurma, please assign this to me.

[2016-11-03 01:20] mgmccarthy commented on #1304
@tonysurma, does the application hooked up to the live site have these four config file values filled out:
[code]

?

[2016-11-03 01:43] tonylambert commented on #1354
I attempted to reproduce this but to no avail. I tried Chrome and Edge on Windows 10 Anniversary edition.

Here is a video showing the steps I went through: http://screencast.com/t/C8WtwVakqsY

[2016-11-03 10:24] #617 closed

[2016-11-03 10:24] tonysurma commented on #684
leaving this open

[2016-11-03 10:26] #787 closed

[2016-11-03 10:26] #662 closed

[2016-11-03 10:26] #869 closed

[2016-11-03 10:26] #865 closed

[2016-11-03 10:27] #870 closed

[2016-11-03 10:27] #862 closed

[2016-11-03 10:27] #469 closed

[2016-11-03 10:28] #707 closed

[2016-11-03 10:28] #967 closed

[2016-11-03 10:28] #933 closed

[2016-11-03 10:29] #1422 closed

[2016-11-03 10:34] tonysurma commented on #1405
Those assumptions look correct to me

[2016-11-03 10:37] tonysurma commented on #1384
I think we are good here as is or do we need to still break out @mgmccarthy @MisterJames ?

[2016-11-03 10:39] #1383 closed

[2016-11-03 10:42] tonysurma commented on #1223
@dpaquette is this related to any work you are doing?

[2016-11-03 10:47] tonysurma commented on #659
@MisterJames pingedy ping ping :)

[2016-11-03 10:48] #620 closed

[2016-11-03 10:48] tonysurma commented on #562
@MisterJames @dpaquette thoughts?

[2016-11-03 10:51] tonysurma commented on #703
@MisterJames @stevejgordon what is the status on this?

[2016-11-03 10:51] tonysurma commented on #701
@MisterJames any update?

[2016-11-03 10:55] tonysurma commented on #316
this is still valid and low priority, moving to current milestone

[2016-11-03 10:56] tonysurma commented on #1055
@MisterJames can you help update where we are on this?

[2016-11-03 10:56] tonysurma commented on #1080
@stevejgordon how should we update this issue?

[2016-11-03 10:58] tonysurma commented on #1084
@mgmccarthy what are the open q's I can answer.  We do wnat to send a confirmation response as you asked but not sure what else is open.  Apologies but I think I am getting "issue blind" :)

[2016-11-03 10:59] tonysurma commented on #1100
What you show covers the need @stevejgordon

[2016-11-03 10:59] tonysurma commented on #1101
@stevejgordon that is right

[2016-11-03 11:02] tonysurma commented on #204
we should remove this link altogether

[2016-11-03 11:03] #160 closed

[2016-11-03 11:04] tonysurma commented on #389
@mgmccarthy I would talk with @MisterJames and have the two of you figure out if this is still key technically for how we are doing this now that we have a bunch of other parts in

[2016-11-03 11:08] tonysurma commented on #1360
Hello @fasia I wanted to check in after the event and see if there was a pull request to update this - knowing GitHub was down during the hackathon.  Thanks!

[2016-11-03 11:08] tonysurma commented on #1349
Hello @maguir I wanted to check in after the event and see if there was a pull request to update this - knowing GitHub was down during the hackathon.  Thanks!

[2016-11-03 11:08] tonysurma commented on #1387
Hello @aastha93  I wanted to check in after the event and see if there was a pull request to update this - knowing GitHub was down during the hackathon.  Thanks!

[2016-11-03 11:15] stevejgordon commented on #1080
@tonysurma I'm not sure we need this master issue any longer as the 3 remaining broken out issues cover the requirement.

[2016-11-03 11:16] stevejgordon commented on #1100
@tonysurma Great. All that's required then is to add this onto the itinerary details screen i think. I should be able to work on this one along with the other requirement. But let's leave it up for grabs for now as it might be something someone else can copy over.

[2016-11-03 11:18] stevejgordon commented on #1101
Cool, I'll need to look at implementing some Knockout here to allow the data to be selected from the map events. I'm not 100% sure yet if I can store some kind of ID with the pin so that we can link the click back to selecting a request though. Needs a bit of investigation still.

[2016-11-03 11:18] #1080 closed

[2016-11-03 11:19] stevejgordon commented on #204
@tonysurma I think the link is gone? Maybe just needs someone to check the views though to validate that.

[2016-11-03 11:20] tonysurma commented on #204
will assume it is gone and it can come back up as an issue if it still is somewhere, thanks.

[2016-11-03 11:20] #204 closed

[2016-11-03 12:44] mgmccarthy commented on #1384
@tonysurma, we are still good here... if you want, you could throw this issue onto the technical backlog so we could pick it up later if we needed to...

"best practice" for Hangfire is to run the Hangfire server in a separate process (not under IIS), but for our initial launch, I think we should stick with the defaults. If performance becomes and issue, we can execute the code to fix this issue.

[2016-11-03 12:47] mgmccarthy commented on #1223
@tonysurma, my best guess is this is related to a bug that @dpaquette fixed last week sometime that fixed how the TimeTagHelper worked. Based on Dave's changes, this bug should be fixed.

[2016-11-03 12:48] tonysurma commented on #1384
OK it's in backlog.  Thx

[2016-11-03 12:48] stevejgordon commented on #1223
@tonysurma I can pull the latest and test it quickly.

[2016-11-03 12:57] stevejgordon commented on #1223
Looks like start date/time still has issue for me...
![image](https://cloud.githubusercontent.com/assets/3669103/19966740/0f38f640-a1c5-11e6-8309-77d790adcc44.png)
![image](https://cloud.githubusercontent.com/assets/3669103/19966747/16fabbd4-a1c5-11e6-8e2d-8964f8c5b965.png)

[2016-11-03 13:08] mgmccarthy commented on #1084
@tonysurma, I think the problem here is we have bits and pieces of the overall picture of receiving getasmokealaram data, what do with it when we get it, and then the sms confirmation messages spread out over multiple issues...

I'll try to come up with a list of Issues I THINK all talk about the same thing, and get you a list so maybe we can consolidate the bits and pieces of info we have about t

[2016-11-03 13:10] mgmccarthy commented on #389
@MisterJames, this seems like a "nice to have", and not a requirement for the initial release of the system. If you agree, we could keep this backlogged until we pick it up.

If we DO need to track what notifications have been sent, for the existing sms confirmation messages going out to requestors for the incoming getasmokealaram integration, I can add tracking to these messages in a new db table

[2016-11-03 13:43] dpaquette commented on #1223
I thought I tested this in my local branch recently and it was working as expected. I will review. The problem is with aligning the formatting used by the bootstrap datetime component and the formatting used by the server.

[2016-11-03 13:44] dpaquette commented on #1223
I will have this fixed as part of PR #1416

[2016-11-03 13:52] #1223 closed

[2016-11-03 13:53] tonysurma commented on #1224
@dpaquette this fixed too?

[2016-11-03 13:56] dpaquette commented on #1224
Yeah it will be fixed for all date time inputs. It apparently isn't fixed yet but will be. Can you assign to me?

[2016-11-03 23:52] tonylambert commented on #1354
@tonysurma, @mgmccarthy - Hey guys. I am not sure how things like this are dealt with yet on this project, but since you both helped me on my last PR, I am reaching out directly to you via this comment for this issue. I was going to try to fix this issue, but I am unable to reproduce it (or an reproducing it incorrectly). How should I proceed? In my comment above you can see me attempting to repro

[2016-11-04 00:32] mgmccarthy commented on #1354
@tonylambert cc @tonysurma

I think anything reported by STARWest is some type of automated testing suite/lab? So, it could be that suite didn't work properly, or it could be this issues is so old it's already been fixed...

If you can't reproduce it, then to me, it's no longer an issue.

[2016-11-04 01:04] tonysurma commented on #1354
Hello @tonylambert and @mgmccarthy

Thanks for asking and always feel free.  STARWest was a QA / Software Quality / Testing Conference and just like we have code-a-thons at dev conferences they had a test-a-thon.  You can tell issues also from there as they are very high quality and well documented 😸 which is great.

Further as @mgmccarthy said if you can't reproduce it then its no longer an issue

[2016-11-04 01:04] #1354 closed

[2016-11-04 11:11] mgmccarthy commented on #1354
@tonylambert, if you're looking for another PR to start, there is a large list of jump-ins available, mostly to do with unit tests needing to be completed. Also, there are a handful of bugs out there as well.

[2016-11-04 11:14] tonylambert commented on #1310
I'll try this one.

[2016-11-04 12:15] #1347 closed

[2016-11-04 12:31] fasia commented on #1360
Hi,
Nice to hear from you! I could not fix the error that i was getting in my
mac, so I could not resolve the issue. You can delete my comment there.
I would like to know if you found what was the cause of the problem.

Best,
Faezeh

On Thu, Nov 3, 2016 at 1:08 PM, Tony Surma <notifications@github.com> wrote:

[2016-11-04 14:29] mgmccarthy commented on #1304
@tonysurma, regardless of what the Twitter auth settings are or how the twitter account was setup that allReady will be using in the live environment, I have a fix for this exception being thrown.

The fix basically checks the exiting Twitter auth settings to see if any of them are set to the "default" setting, and will allow the code to still run, bypassing the call to LinqToTwitter (which will f

[2016-11-04 15:17] mattferderer commented on #1360
I would be glad to jump in & try helping out with HTBox on this issue or help someone else solve it. Is there any reason this image couldn't be a jpg? That could help the file size be less than half of what it currently is.

Also we could use media queries to download different images to also help reduce the size of the image. I'm not sure if that's making this to complex or not.

[2016-11-04 19:54] wadewachs commented on #1334
@calaharie I forwarded your email over to the folks at Techwell that have your prize. If you don't get it in a couple weeks let me know.

-Wade-

[2016-11-04 19:55] mattferderer commented on #1352
I would be glad to jump in to this project & help out with this task. Most of those issues look like they have to do with css & js not being merged, minified & cached.

It looks like there is a Gulp task that should take care of most of the merging & minification. Would it be okay to add the css & js that is being pulled from CDNs or do you prefer that to be pulled from a CDN instead?

I could add

[2016-11-04 21:24] #1304 closed

[2016-11-04 21:25] tonysurma commented on #1360
thanks @fasia I am hoping to have the mac build/compile issue figured out soon. Thanks again for your help in hunting that at Grace Hopper

[2016-11-04 21:27] tonysurma commented on #1360
@mattferderer thanks for jumping in.  there are two issues size on screen and on disk.  Open to format change etc. that solves the latter and resizing to fix the former.

media queries etc. are great but may be overkill for this one as there is no reason for a giant image here (but if you want to add them its not a bad idea and we can reference as example for media queries else where when/if they

[2016-11-04 21:30] tonysurma commented on #1310
@tonylambert is this what your current PR is for? If so could you update your description on that PR to include "Fixes #1310" and then it will link and auto close?  THanks again!

[2016-11-04 21:35] tonysurma commented on #1334
@tonylambert is this the same/duplicate of #1354 we just closed?  Thanks

[2016-11-04 21:37] tonysurma commented on #1352
ping @dpaquette for opinions on CDN vs not etc.

Thanks @mattferderer for jumping in.  I am confident that both this particular issue and the site overall is not optimized for speed and size so taking a look at that and either fixing the issues or docing the issues for you/others to address would be a great contribution

[2016-11-04 21:38] tonysurma commented on #1358
@julianharty and @mgmccarthy I am going to look at the live config and see what is right/wrong in our live config.  Thanks!

[2016-11-05 01:19] digitaldrummerj commented on #1440
@tonysurma can you add the label mobile app instead of documentation?  The docs are correct but the functionality is missing from the mobile app project.

[2016-11-05 01:19] digitaldrummerj commented on #1441
I am working on this

[2016-11-05 01:28] tonylambert commented on #1334
@tonysurma - The bug is still present at the azure website linked to above, but running the latest in master on my machine at home I do not see the issue. The build on the azure website appears to be from August timeframe.

So, in short, yes, I think this one is no longer an issue. I think you can close it.

[2016-11-05 02:06] tonysurma commented on #1334
Hmm, that site is auto deployed from master latest, I will need to see what is up.  Either the auto deploy stopped or something else.  Thanks

[2016-11-05 02:13] tonylambert commented on #1334
Well. I assumed that the number in the screenshot below was the short Git commit hash:

http://screencast.com/t/chI57n6Q

Perhaps that's not right?

[2016-11-05 03:00] tonysurma commented on #1334
@tonylambert - nope that is totally valid.  I just checked and the site is auto deploying but it looks like the git version isn't bieng updated (I will create an issue tomorrow AM for that).  However now it is a mystery of why this works locally for you but not on live.  Missing JS or something I wonder...

[2016-11-05 03:01] tonysurma commented on #1440
thanks for the catch @digitaldrummerj

[2016-11-05 03:03] tonysurma opened #1444 "git commit version not updating on azure build"
the deploy is working but git version is either not being captured or not being copied to live site in azure build.

[2016-11-05 03:12] digitaldrummerj opened #1445 "docs: Update the solution architecture guide to reference the install guide"
The [Solution Architecture Guide](https://github.com/HTBox/allReady/wiki/Solution-architecture) "Get started with the allReady solution" section should reference the install guide instead of listing out the software to install.

[2016-11-05 03:34] digitaldrummerj opened #1446 "mobile-app: config.xml hook script does not work"
In the mobile app's config.xml file the hook script scripts/bowerCopy.js does not work and causing ionic builds to fail.  The goal of this script is to reduce the size of the bower components in the android and ios builds.  It was part of the project before it was converted over to a true ionic project.  Need to investigate if this script is still needed.

[2016-11-05 03:40] digitaldrummerj opened #1447 "docs: install guide needs to be ANDROID_HOME environment variable"
In order to build the mobile application from the command line with the ionic cli the ANDROID_HOME environment needs to be set.  During the Visual Studio install of the Android SDK it does not add this variable.  The location of ANDROID_HOME should be set to c:\program files (x86)\Android\android-sdk

[2016-11-05 03:42] digitaldrummerj opened #1448 "docs: install guide needs to add android-sdk to system path environment variable"
In order to use the android sdk tools from the command line you need to add to the system environment path the following 2 locations

1. c:\program files (x86)\android\android-sdk\tools
1. c:\program files (x86)\android\android-sdk\platform-tools

[2016-11-05 03:54] digitaldrummerj opened #1449 "bug: mobile app state.go not a function when clicking event to get details"
When clicking on an event to get the details it errors with a $state.go is not a function.

![image](https://cloud.githubusercontent.com/assets/708423/20027397/d0a214c2-a2d0-11e6-9d99-c2537746324e.png)

This also happens when clicking on the check-in link on the event list page.

This happens because in the EventListController the passed in dependency is $location instead of $state.

[2016-11-05 03:54] digitaldrummerj commented on #1449
I am working on this one

[2016-11-05 04:09] digitaldrummerj opened #1452 "bug: mobile app replace EventDetailsControllers $location with $state"
In the EventDetailsController instead of updating the url using $location.url, it should use $state.go instead like the EventListController does

[2016-11-05 04:09] digitaldrummerj commented on #1452
I am working on this

[2016-11-05 04:18] digitaldrummerj commented on #1097
I am working on this

[2016-11-05 04:41] digitaldrummerj opened #1455 "bug: tinymce errors on homepage in dev"
On the home page at [http://allready-d.azurewebsites.net/](http://allready-d.azurewebsites.net/) I saw the following errors:

![image](https://cloud.githubusercontent.com/assets/708423/20027669/303ede5a-a2d7-11e6-9b51-a6de97db65af.png)

[2016-11-05 04:46] digitaldrummerj opened #1456 "bug: login page giving this.optional is not a function for custom email validation rule"
The custom email validation rule is throwing errors for me in the dev tools console when the page loads.  I do have the username and password saved in the browser and auto filled.

![image](https://cloud.githubusercontent.com/assets/708423/20027692/03a55e7c-a2d8-11e6-9df2-f646ef6c0546.png)

[2016-11-05 05:25] digitaldrummerj commented on #1441
related to https://github.com/HTBox/allReady/issues/1097

[2016-11-05 05:26] digitaldrummerj commented on #1097
having CORS issues with the code that is currently commited when running the mobile app in a web browser vs on a device.  Need to implement the ionic proxies solution to fix that issue.  [http://blog.ionic.io/handling-cors-issues-in-ionic/](http://blog.ionic.io/handling-cors-issues-in-ionic/)

[2016-11-05 15:46] #1440 closed

[2016-11-05 15:46] #1449 closed

[2016-11-05 15:47] #1452 closed

[2016-11-06 09:43] stevejgordon commented on #1102
@tonysurma This is coming along and I hope nearly there. I will have a bit of refactoring and testing to include before I submit.

One further question. Would we want to store the from/to addresses against the itinerary once a route is provided? This would allow us to include those locations on our map and also make linking off to a directions map easier (i.e. no need to re-enter addresses each ti

[2016-11-06 14:13] tonysurma commented on #1102
@stevejgordon for our initial use case the start and stop spot will almost always be a common meeting place and or building location for the non-profit so we would be good.

I agree about the privacy concerns but in the case of this screen the 'user' of it will be the org admin anyways so whatever they enter they will already be privy to.

So, I think we are good to either store it or not for this

[2016-11-06 16:58] stevejgordon commented on #1102
Thanks @tonysurma. I've got it mostly working without storing but the UX feels a bit off so I'll probably take the time to move things around and allow an itinerary to carry the start/end address details. It may add a little time to finishing this item, but in the long run it'll be better for it.

[2016-11-06 17:50] stevejgordon commented on #703
@tonysurma - TLDR - I think this can be closed.

@MisterJames and I chatted for a little while after the standup and I have been able to get a better grasp of the integration piece. For the above issue specifically I believe we can consider this closed. The requirement here (if I understand it correctly) is to ensure that we have the concept of a status for a request and a way to manage and store

[2016-11-06 17:53] stevejgordon commented on #704
@MisterJames - Following on from our conversation yesterday, I think I could pick up the sending of statuses back to GASA once my current piece of work is completed. If anyone else get's here first though I'm good with them picking this up.

Perhaps we need to break this out into two issues?
1. Send status updates to GASA
2. A URL (no private info shown) which shows the current status, and if assi

[2016-11-06 18:01] stevejgordon commented on #706
@tonysurma bump 😄

[2016-11-06 18:04] stevejgordon commented on #699
@tonysurma Do you have any further details about this requirement? I'm wondering if this could be a good issue to break up into some more potential jump-in issues?

[2016-11-06 18:08] stevejgordon commented on #1331
I'll be taking this one as it now relates to #1102 where I need to be able to manage the address details for an itinerary which initially I will add within the edit itinerary page.

[2016-11-06 19:38] #703 closed

[2016-11-06 19:39] tonysurma commented on #1102
Great or if you want to put it in now and make a follow on issue to optimize the UI UX that would work too

[2016-11-07 14:52] mgmccarthy commented on #1346
@tonysurma, looks like this Issue was fixed with PR #1415. This can be closed

[2016-11-07 15:50] #1346 closed

[2016-11-07 16:32] mgmccarthy commented on #1326
@tonysurma, I just tested this locally using Chrome and I cannot reproduce it. This issue can be closed

[2016-11-07 16:39] mgmccarthy commented on #1305
PR #1443 might have fixed this issue, but to be sure, we need to have a test in the live environment.

[2016-11-07 18:29] #1326 closed

[2016-11-07 19:09] stevejgordon commented on #1331
About 50% complete on this. If all goes to plan I should get some more time over the next few days to finalise a PR for this issue.

[2016-11-07 20:02] YannickMeeus commented on #1245
I'm looking at option three right now.

So we'll have "Edit" and "Delete" as primary options, and when the "Edit"button is clicked, the user is presented with the existing options and one additional one, called "Manage Skills". The main reason for this additional button being the current behaviour of the "Edit" button, which is a redirect to a page that only allows the user to add or remove skills

[2016-11-07 21:39] tonysurma commented on #1245
This sounds great and thankful for the clean up of UX which will be key to helping users onboard and use the system.

[2016-11-07 21:47] digitaldrummerj opened #1457 "mobile app: Volunteer is able to view volunteer dashboard"
Volunteer has mobile app to view volunteer dashboard (similar to website to see everything signed up for)

related to #1091

[2016-11-07 21:48] digitaldrummerj opened #1458 "mobile app: Volunteer can decline/cancel volunteering for event"
related to #1091

[2016-11-07 21:54] digitaldrummerj opened #1459 "mobile app: Volunteer can view and edit profile data on mobile app"
related to #1091

[2016-11-07 21:56] digitaldrummerj opened #1460 "mobile app: Volunteer see opportunities (events) and volunteer for them"
related to #1091

[2016-11-07 21:57] digitaldrummerj opened #1461 "mobile app: Volunteer can see itinerary they are scheduled on next/today"
related to #1091

[2016-11-07 21:57] digitaldrummerj opened #1462 "mobile app: For today's itinerary volunteer can view requests, order of request and details of each item"
related to #1091

[2016-11-07 21:57] digitaldrummerj opened #1463 "mobile app: Volunteer can mark request complete on today's itinerary"
related to #1091

[2016-11-07 21:57] digitaldrummerj opened #1464 "mobile app: Volunteer can mark request incomplete on today's itinerary with note"
related to #1091

[2016-11-07 21:58] digitaldrummerj opened #1465 "mobile app: Questionnaire stuff"
note: ambiguous as to how we do this per event so each questionnaire is separate

related to #1091

[2016-11-07 21:58] digitaldrummerj opened #1466 "mobile app: recording of volunteer hours for an event"
Recording of hours and start/stop of volunteering for event (start when you show up, stop when you leave) to count hours

related to #1091

[2016-11-07 21:59] digitaldrummerj opened #1467 "mobile app: simpler to checkin as a volunteer"
related to #1091

[2016-11-07 23:12] digitaldrummerj commented on #1189
related to #1091

[2016-11-07 23:12] digitaldrummerj commented on #1466
duplicate of #1189

[2016-11-07 23:12] #1466 closed

[2016-11-07 23:12] digitaldrummerj commented on #1189
Requirement:

Recording of hours and start/stop of volunteering for event (start when you show up, stop when you leave) to count hours

[2016-11-08 00:15] digitaldrummerj commented on #1355
@tonysurma any guidance how you want this implemented?

[2016-11-08 03:51] tonylambert commented on #1310
@tonysurma - This is what the PR was for, but we ended up, after exploring a bit more, that we are already doing the KISS solution to this. If we want to do something more involved, then I can look around, but ultimately, as long as the validators server-side are firing, then there are probably more important fish to fry when moving to a 1.0 release?

I'll defer to the team's judgement, of course.

[2016-11-08 12:20] tonysurma commented on #1310
Agree and therefore closing

[2016-11-08 12:20] #1310 closed

[2016-11-09 13:21] stevejgordon commented on #1331
Just unit testing left now :smile:

[2016-11-10 02:26] tonylambert commented on #1455
I'll take this one

[2016-11-10 16:31] jnSWPC commented on #1312
i can take this one

[2016-11-10 16:33] smahesh5 commented on #1329
We are working on it.

[2016-11-10 17:14] enderdickerson commented on #1189
Working on this

[2016-11-10 17:18] Odia1 commented on #1321
I am working on it

[2016-11-10 20:09] allencct commented on #1426
i am working on this

[2016-11-10 20:19] smahesh5 commented on #533
Shweta M  looking at this.

[2016-11-10 20:29] smahesh5 commented on #533
Could not replicate the issue.

[2016-11-10 20:38] pranap commented on #1456
Working on this

[2016-11-10 21:27] tonysurma commented on #1467
I think what we are speaking to is allow check in to an event thru mobile in one click and auto log track hours until you check out

[2016-11-10 21:28] tonysurma commented on #1355
Truncate and limit on input, sorry I missed this alert

[2016-11-10 21:29] tonysurma commented on #1355
Something like 200 chars

[2016-11-10 22:23] GitaGunnam commented on #617
I am working on it

[2016-11-10 22:30] GitaGunnam commented on #556
I am taking this

[2016-11-10 22:33] BingYHu opened #1480 "web app: tinymce CDN link broken"
Chrome debugger showed that "Failed to get ...." error message for tinymce

[2016-11-10 22:43] GitaGunnam commented on #1429
I am taking this

[2016-11-10 22:52] pranap commented on #1300
working on this

[2016-11-11 00:20] tonylambert commented on #1480
This is a duplicate of #1455.

[2016-11-12 13:17] #1321 closed

[2016-11-12 13:17] #1312 closed

[2016-11-12 13:18] #1426 closed

[2016-11-12 13:22] #1455 closed

[2016-11-12 15:21] tonysurma opened #1484 "Move/Fix overlapping text on image on 404 page"
Per issue #1360 and PR #1483 there was a partial fix and now "there is text that overlays the image. This issue may have already existed. The black text on the black & white image creates a readability issue. My suggestion would be to move the text above the background image."

[2016-11-12 15:21] #1360 closed

[2016-11-12 15:25] #1332 closed

[2016-11-12 15:26] #556 closed

[2016-11-12 16:25] dpaquette commented on #710
this can be closed

[2016-11-12 16:25] dpaquette commented on #1224
Can this be assigned to me? This is related to the javascript datetime formatting issue I mentioned in the standup today.

[2016-11-12 16:26] dpaquette commented on #1223
Can this be assigned to me? This is related to the javascript datetime formatting issue I mentioned in the standup today.

Note this was not fixed as part of PR #1416. That PR grew out of control so decided to split it out.

[2016-11-12 16:27] dpaquette commented on #1386
@mgmccarthy let me know when you want to chat about this one now that the timezone / offset binding stuff has been merged

[2016-11-12 16:29] dpaquette opened #1485 "Code cleanup of AdjustToTimeZoneModelBinder"
I would like to clean up a few parts of this code to make it more readable and testable.

[2016-11-12 16:31] dpaquette opened #1486 "Unit tests for AdjustToTimeZoneModelBinder"
Once #1485 has been completed, add unit tests for AdjustToTimeZoneModelBinder.

Note that unit testing this will require a good understanding of ASP.NET Core model binding.

[2016-11-12 16:32] #710 closed

[2016-11-12 18:42] mgmccarthy commented on #1386
@dpaquette, I'll reach out to you on Slack/Skype and we can discuss. We might not have to refactor all three of these.

[2016-11-12 19:05] HamidMosalla commented on #1425
I'm working on this one.

[2016-11-13 21:35] dchristensen commented on #1484
I can jump in and work on this.

[2016-11-13 23:19] adam3039 commented on #1411
Doing this!

[2016-11-14 19:36] #1425 closed

[2016-11-15 01:54] mgmccarthy opened #1490 "You can create an Itinerary in the past"
On the Event Details page, where you can create an Itinerary:
![image](https://cloud.githubusercontent.com/assets/2428993/20290125/22fc46f6-aaac-11e6-8757-55b317cba31f.png)

when you click the Create Itinerary button, a modal window pops up with a date pre-selected:
![image](https://cloud.githubusercontent.com/assets/2428993/20290145/433ba290-aaac-11e6-82ce-11a9ef3a3f6a.png)

the date is in the pa

[2016-11-15 03:34] mgmccarthy commented on #1386
@tonysurma, after a convo with @dpaquette  tonight, this issue can be closed because it no longer applies.

I will be working on an update to the Hangfire jobs in conjunction with the Itinerary's Event's TimeZoneId, but I'll create a separate issue for that.

Thanks!

[2016-11-15 14:27] #1329 closed

[2016-11-15 15:20] HamidMosalla commented on #1490
I'm working on this, also I'd suggest we do both, because even if we set the date to today's date, user still can change the date to the day after the event start, but before the current date, and validator doesn't have any problem with this:
![datevalidation](https://cloud.githubusercontent.com/assets/11329074/20311098/babd527a-ab63-11e6-9ed4-7fd65de53701.png)
Which from what I gather from what y

[2016-11-15 15:41] mgmccarthy commented on #1490
@HamidMosalla, what we really should be checking for here is:
- if the Event start date is in the future, then we make sure the user cannot create the Itinerary before the start date of the event
- if the Event start date is in the past, then we make sure the user cannot create the Itinerary before today

both of those type of dates should be returned to the user as a validation error.

[2016-11-15 16:36] #1355 closed

[2016-11-15 18:08] HamidMosalla commented on #1490
I made a pull request Michael, I'm not entirely sure about my test cases, please check them out, thanks.

[2016-11-16 00:43] mgmccarthy commented on #1490
@HamidMosalla, I just commented, but it's for another team member. We've just added a new model binder that transforms inbound DateTimeOffsets to a TimeZoneId (also specificed on the model), so by the time the `ItineraryEditModelValidator` is invoked, I think the offset value has already been transformed into an offset that reflects the timezone...

based on my assumption, I'm not too sure if we c

[2016-11-16 02:09] tonylambert commented on #1480
@tonysurma - This is a dup and should be closed.

[2016-11-16 04:28] tonylambert commented on #1398
I'm looking at this one.

[2016-11-16 15:36] #1484 closed

[2016-11-16 17:30] mgmccarthy opened #1493 "Update Hangfire job code to convert to Event's TimeZoneId"
@tonysurma please assign this to me.

I am currently working on this.

[2016-11-16 17:31] mgmccarthy commented on #1386
ping @tonysurma, this can be closed as it's no longer relevant.

[2016-11-16 17:37] #1386 closed

[2016-11-16 18:02] stevejgordon opened #1496 "Extend validation for Edit Itinerary"
Following on from #1495 the validation needs to be updated to ensure required address details are set when required.

There are some fairly complex scenarios that will need to be covered.

[2016-11-16 18:03] stevejgordon opened #1497 "Unit tests for EditItineraryCommandHandler"
Following on from #1495 we need unit tests to cover the required behaviour in the EditItineraryCommandHandler

[2016-11-16 18:20] SeanFeldman commented on #1313
I found [this ironic](https://github.com/dotnet/corefxlab/pull/980#discussion_r88014547), considering it's involving the person that recommended against usage of `ConfigureAwait(false)` for this project, being corrected by one of the TPL folks. Food for thought.

[2016-11-16 20:13] mgmccarthy commented on #1313
@SeanFeldman, now that `.ConfigureAwait()` has been pounded in everyone's heads, Microsoft has the job of getting RID of it for ASP.NET Core. A good problem to have IMHO. Thanks for sharing.

[2016-11-16 23:31] mgmccarthy commented on #1405
whoever picks this up, please ping me first to answer any questions you may have

[2016-11-17 03:28] schuback opened #1498 "Add descriptive text to campaign data field for URL"
Creating a campaign data fields - does it have to have http(s) within the data field?  If so, needs an example text in light grey on the side

[2016-11-17 03:29] schuback opened #1499 "Event type description text needed & definition"
Create an Event - Event type needs a description.  Itinerary is what type of event? Define the description. Rallye is what type of event/description? Could we add "other"

[2016-11-17 03:30] schuback opened #1500 "Add "new skill" shortcut button on admin view of creating a task page"
Required Skills box - needs to have a create button to the right to create a new skill requirement - currently you have to go to the top menu and click on skills to then create a skill.  Having a shortcut would help with total time to create task and the number of clicks an admin has to take

[2016-11-17 03:32] schuback opened #1501 "Address verification process/click to show exact location"
Address field - needs to have a mapping button to confirm locations and to help pinpoint the location more.  Think like Uber and how it as you to verify your pick up location. Helps with big parking lots or buildings with multiple unmarked entries.

In the uber example it is like when it asks you to verify your location

[2016-11-17 03:33] schuback opened #1502 "Un even shape buttons"
Edit button in create task section is uneven shape - can't edit the volunteer requirements (I added "install team 1 - safety" but forgot to add the medical requirement part.  I am not able to go in without having to delete it and then start a task

[2016-11-17 03:34] schuback opened #1503 "Need to be able to add an image(s) to tasks"
Need to be able to add an image(s) to tasks - when creating a task, an admin might have an instruction sheet or a guide to the location for the task.

Example - layout plan for the parking lot to place where things go.

[2016-11-17 03:35] schuback opened #1504 "Stars? What are they."
Campaign Admins - What are the stars referencing? My own campaigns? New Campaigns? Need to add definition of what these stars mean and do.

[2016-11-17 03:36] schuback opened #1505 "Pop up window issue"
When in a campaign and signing up to volunteer and write a comment.  When I hit "volunteer" after writing my comments the window does not close. I have to go to the X. Would be good for it to close.

[2016-11-17 03:37] schuback opened #1506 "Pop up window closing requires page refresh for update (connected to #1505)"
When in a campaign and signing up  to volunteer, after writing a comment and clearing the window box, it goes back to the volunteer list. It does not show that I have signed up. Even after page refresh.

[2016-11-17 03:38] schuback opened #1507 "Need a definition for tag line"
Using  MacOS with FireFox.  Logged in as a user and went to campaign to event to sign up for a task.  Picked Install Team Safety.  Pop up window had comments and then a check box for medical requirement. "Associate new skills?" tag line does not really make sense. It seems like it is asking you about someone else

[2016-11-17 03:40] schuback opened #1508 "new user setup process"
What is the set up process of a new user? Email verification?  Need a short cut on main page near "log in" for new user

[2016-11-17 03:41] schuback opened #1509 "Front page UI"
Need to clean up front page.

<img width="1396" alt="screen shot 2016-11-16 at 10 39 57 pm" src="https://cloud.githubusercontent.com/assets/830036/20375554/d2d6db48-ac4d-11e6-8bb0-6e693c25b23f.png">

[2016-11-17 03:43] schuback opened #1510 "Status of SMS integration?"
Do we have SMS/Text set up for notification?  Need to be able to ping a volunteer manually from admin, but also schedule an auto reminder alert.  User needs to be able to set up alert notification type as well (email/sms)

[2016-11-17 03:43] schuback opened #1511 "Task notification process?"
Once I have a volunteer signed up for a task. Where is the Admin's ability to notify or identify who the volunteer is?

[2016-11-17 03:46] schuback opened #1512 "Print function for tasks, events and roster (include CSV dump)"
Need to be able to print out a "Install Team 1" team roster for the team and coordinator and future documentation

[2016-11-17 03:47] schuback opened #1513 "Button overlap issues"
Buttons covering over text with window at half screen size.
<img width="555" alt="screenshot 2016-11-15 12 52 26" src="https://cloud.githubusercontent.com/assets/830036/20375684/af1129b0-ac4e-11e6-9ce8-ea6717d6fbbd.png">

[2016-11-17 03:48] schuback opened #1514 "Volunteer Dashboard calendar text is hard to read."
<img width="922" alt="screenshot 2016-11-15 12 55 01" src="https://cloud.githubusercontent.com/assets/830036/20375697/c4c773ae-ac4e-11e6-834f-0f43b80ac3e8.png">

[2016-11-17 03:49] schuback opened #1515 "Auto fill event address in task creation process"
While creating an event, being able to quickly put in the event address in from main page would be great.  Having to put in the address  for all the events can be time consuming if the event is at the same single location.  Could it auto grab the event address as a default for every task under that event unless changed at that time?

[2016-11-17 03:51] schuback opened #1516 "Itinerary creation process needs to be defined for admin view"
Created an itinerary event and I do not understand the workflow/purpose.  Shouldn't I be able to add location points for this task to go to? Does it get data points from an outside source?

[2016-11-17 03:52] schuback opened #1517 "Time entry error when creating a task"
Entering a task for a campaign and want to assign it a time.  I get the following error. Task should be able to be all within the same day.
<img width="736" alt="screenshot 2016-11-15 15 51 42" src="https://cloud.githubusercontent.com/assets/830036/20375782/6479ee18-ac4f-11e6-91da-5d19a95ca868.png">

[2016-11-17 03:53] schuback opened #1518 "Same issue as #1505 but for user view"
As a user in signing up to volunteer for a task, I click the volunteer button.  It opens a window for comment. I have to click volunteer but the window doesn't close.  Then I have to close with the X but the page does not refresh.  I have to hard refresh the site.

[2016-11-17 03:55] schuback opened #1519 "Map purpose and need for clarification on how to use it"
In the itinerary page, why do we have a map? Is there a data feed that brings in address?  Where do I add destination points and the addresses? IS this coming from the installsmokedetector site?
<img width="988" alt="screenshot 2016-11-15 21 28 39" src="https://cloud.githubusercontent.com/assets/830036/20375843/b68c9304-ac4f-11e6-86cd-b44aea5cfa5e.png">

[2016-11-17 03:57] schuback opened #1520 "Include more data in volunteers grid on tasks (currently only name)"
Going in to a tasking page and seeing the volunteers who have signed up, the admin for the org should be able to see the name, address, phone, certifications and email of the volunteers.
<img width="986" alt="screenshot 2016-11-15 21 45 40" src="https://cloud.githubusercontent.com/assets/830036/20375879/fc1fb784-ac4f-11e6-8aed-9c5a930855ed.png">

[2016-11-17 03:58] schuback opened #1521 "Change phone number to mobile phone number when gathered on user registration screens"
User page needs to change "phone number" to "mobile phone number" and put in the line about cost for SMS and using this service.

[2016-11-17 04:00] schuback opened #1522 "user sign up issue with SMS."
SMS for the user phone number verification didn't go through when I went to through the process. Used 206-414-8799 (pascal google voice #) never go the SMS.

[2016-11-17 15:09] #1398 closed

[2016-11-17 18:56] dpaquette commented on #1223
Confirmed this with @stevejgordon today. This is partially fixed in that the times are no longer being shifted but the month and date are still being swapped around. I need to do some more testing to see if that is a problem or not.

[2016-11-18 13:08] tonysurma commented on #1498
@schuback which field of campaign are you referring to?  Once we identify the field this issue is to put some example text next to or placeholder text in the edit box to show it is a url.

[2016-11-18 13:10] tonysurma commented on #1499
@schuback - can you and/or @OhMcGoo provide text for the description of the two types - rally and itinerary.  For the last part we cannot add "other" at this point and would need to build a whole new set of requirements for that and how it would work.

Once we get descriptions from either of you this issue is to provide either tooltip type help in the dropdown or an icon that has a tooltip like sk

[2016-11-18 13:10] #1331 closed

[2016-11-18 13:12] tonysurma commented on #1502
@schuback can you provide a graphic to show what uneven means in this case?  Also it sounds like there is a seperate issue related to editing something (skills?) on a task? can you break that out and provide a little more reproduction details.  thanks

[2016-11-18 13:14] tonysurma commented on #1500
@stevejgordon @MisterJames I feel like we had an issue and created this functionality at some point (the ad-hoc addition of skills during task creation).  Did we or am I dreaming?  Thanks

[2016-11-18 13:18] tonysurma commented on #1501
cc @stevejgordon

Adding a bit more detail this is for where addresses are provided for events and/or tasks.  The update would be to both add lat/long to the models for those items as well as the UI to have the user enter an address (already there) and then have it display that on a map with a pin (new functionality) and optionally move/select a different pin spot to be the lat/long stored with th

[2016-11-18 13:19] tonysurma commented on #1503
Need UI, code and storage updates to allow upload of attachments on a tasks during create/edit as well as displaying of the attachments available when viewing a task

[2016-11-18 13:20] tonysurma commented on #1504
@schuback - can you provide a screenshot of which stars you are referring to and the urls on which they appear?

[2016-11-18 13:21] tonysurma commented on #1514
For this issue would need to look at both layout/font size as well as colors

[2016-11-18 13:22] tonysurma commented on #1505
clicking the action button for volunteering should close the popup

[2016-11-18 13:23] tonysurma commented on #1506
We need to review this workflow and have the page (post submitting to the server and closing the popup) either refresh or reditect to a page that would show the new volunteer 'result' or some other indication of success

[2016-11-18 13:23] tonysurma commented on #1507
@schuback can you clarify what is wanted and perhaps share a screenshot?  THanks

[2016-11-18 13:24] tonysurma commented on #1508
@schuback can you document what is required/desired and then we can work to implement what is missing?  Thanks

[2016-11-18 13:25] tonysurma commented on #1509
@schuback @OhMcGoo please document what is desired/required so we can implement the changes correctly.  Thanks

[2016-11-18 13:26] tonysurma commented on #1521
@schuback @OhMcGoo can you provide the text for the cost of SMS we should add?

[2016-11-18 13:28] tonysurma commented on #1520
should add additional fields to the grid that should already be surfaced int the volunteer data so primarily a UI update

[2016-11-18 13:28] tonysurma commented on #1519
@schuback @OhMcGoo @stevejgordon can you work together to understand what is needed/not there and/or workflow issues so we can document them as seperate issues?  Thanks.

[2016-11-18 13:30] tonysurma commented on #1518
@schuback and @OhMcGoo can you provide the urls for this and #1505 so we make sure we are fixing in right places?  I think this is when you are logged in as a non-admin user or when not logged in at all?  Is that right?

[2016-11-18 13:31] tonysurma commented on #1505
Now that I see #1518 what url is this for @schuback and @OhMcGoo ?  Also how is this different from that issue? are you logged in as a different type of user?

[2016-11-18 13:31] schuback commented on #1498
Added a screen shot.  Example text should be added next to "External Link" with the required URL format. www.htbox.org or http://www.htbox.org

<img width="951" alt="screenshot 2016-11-18 08 29 54" src="https://cloud.githubusercontent.com/assets/830036/20431657/36dcbc36-ad69-11e6-9c62-7733014049e7.png">

[2016-11-18 13:32] tonysurma commented on #1517
FYI @dpaquette @mgmccarthy not sure if this is related to the date work that is ongoing

[2016-11-18 13:33] tonysurma commented on #1516
@stevejgordon @schuback @OhMcGoo we need to refine/define the workflow I guess and see if that does/doesn't work with requirements?

[2016-11-18 13:34] tonysurma commented on #1515
What does 'from main page' in event creation refer to? Campaign Address?
Also it sounds like their is a requirement to default address of event from campaign and task from campaign?
Is that right @schuback @OhMcGoo ? If so seperate issues can be created for both

[2016-11-18 13:35] tonysurma commented on #1513
Issue is UI overlap on Mark Complete buttons on the event page correct @schuback ?

[2016-11-18 13:37] tonysurma commented on #1512
Can you provide details of what would be included/not included in this printout and seperate out which 'level(s)' this is asked for (campaign, event, and/or task).  Also we should break out CSV to a seperate issue and document what needs to be in that CSV

[2016-11-18 13:37] tonysurma commented on #1511
@schuback can you document the required behavior or desired functionality and then that can be implemented/verified

[2016-11-18 13:38] tonysurma commented on #1510
@schuback @OhMcGoo can you document desired behavior / issues and then it can be implemented or updated compared to current functionality?  cc @mgmccarthy as FYI

[2016-11-18 13:39] tonysurma commented on #1522
We need to verify all the SMS workflow on user registration and the asp.net webjob works locally in dev and then in production

[2016-11-18 13:48] schuback opened #1523 "Can't add task in a pre existing campaign"

[2016-11-18 13:54] schuback commented on #1502
What is the red button next to the edit?  Needs an icon and should be shaped as the same size.
<img width="1387" alt="screenshot 2016-11-18 08 53 13" src="https://cloud.githubusercontent.com/assets/830036/20432328/916daf4a-ad6c-11e6-98a0-4eccdcb67c55.png">

[2016-11-18 14:02] schuback commented on #1504
<img width="1377" alt="screenshot 2016-11-18 09 02 18" src="https://cloud.githubusercontent.com/assets/830036/20432559/bc989f3a-ad6d-11e6-8e12-421e3949e1d8.png">

URL of the page I screen grabbed - http://allready-d.azurewebsites.net/Campaign

[2016-11-18 14:07] schuback commented on #1505
Here is a screen shot from a user logged in trying to sign up for a task in a campaign.  Includes the URL in the screen shot.  When I click the blue button in the window it does not close.

<img width="1391" alt="screenshot 2016-11-18 09 06 45" src="https://cloud.githubusercontent.com/assets/830036/20432689/55d89d3a-ad6e-11e6-8dd9-800e2ae576a3.png">

[2016-11-18 14:15] schuback commented on #1507
"Associate new skills?" should be changed as it does not make sense in their point of view.  This task requires (set be admin who created the task) the following skills/capabilities.  Might need some discussion with @OhMcGoo with the language.

<img width="1391" alt="screenshot 2016-11-18 09 06 45" src="https://cloud.githubusercontent.com/assets/830036/20432842/0d7c00da-ad6f-11e6-81e8-68d4db0af03e

[2016-11-18 14:16] mgmccarthy commented on #1510
@schuback what are the existing Issues related all the items you listed in your comment above?

- ping a volunteer manually from admin,
- schedule an auto reminder alert. (is this for assigning a request to an Itinerary?)
- User needs to be able to set up alert notification type

Our Issues are labeled P1 and P2 and I know not many P2's have been worked on at this point. I can say with a good amou

[2016-11-18 14:18] mgmccarthy commented on #1523
@schuback can yo list reproduction steps and screen grabs/videos to get us more information?

[2016-11-18 14:20] mgmccarthy commented on #1522
@tonysurma, user sign ups and requestor confirmation sms are two different pieces of code.

Looks like this Issue deals directly with singing up a user

[2016-11-18 14:27] schuback commented on #1510
Hi @mgmccarthy -

-Pinging a volunteer manually from the admin. -scenario.  the admin needs to alert a single or multiple (selected) volunteers about a task change/update and/or during the actual task time by using a SMS message or email.
-scheduling an auto reminder alert for a task. -I look at this like a meeting reminder.  Either the admin or the volunteer can set up a 1 day reminder or 2 hour

[2016-11-18 14:40] mgmccarthy commented on #1517
@schuback can you provide a screen grab of the Event details for "Fire Extinguisher PASS Station" Task?

[2016-11-18 14:41] schuback commented on #1511
During the campaign and task setup, an admin will most likely have the need to update tasks.  The ability for the admin to push a button on the task page to notify the volunteers of the changes/updates would be very handy as it reduces the time from calling, copying emails.  The button could just grab all the volunteers emails and push out an email.  If they could push an SMS as well. that would b

[2016-11-18 14:50] mgmccarthy commented on #1522
@schuback @tonysurma

I just tried to regiter a new user locally, and I'm not too sure the site has always been like this, but apparently, we require a digit in the password:

![image](https://cloud.githubusercontent.com/assets/2428993/20434096/5cf720c2-ad74-11e6-9738-fe0b8697d72a.png)

It would be nice to have these password rules where the user can see them before hitting the register button

[2016-11-18 14:55] mgmccarthy commented on #1522
@tonysurma cc @schuback

I just confirmed in development (with latest source) that both the confirmation email and the account security token are being "sent" when registering a user... here is the output:

[code]

most likely, the cause of this issue is a mis-configuration in the deployment/build/live system configuration

[2016-11-18 15:51] stevejgordon commented on #1516
@schuback - I can cover this in more detail but the summary of the allReady functionality currently is...

- An itinerary event can have tasks defined, which people can volunteer for. I.e. Install smoke alarms in region X on 12th Nov 2016, Driver in region X on 12th Nov 2016
- An itinerary event can have requests linked to it, usually added via the API from getasmokealarm. Requests can also be man

[2016-11-18 15:52] stevejgordon commented on #1519
@schuback I might have covered this enough in #1516 but in short, once requests are added to the itinerary they will be shown on the map. We expect most requests to be added to the system via getasmokealarm, but an admin will the assign then to a specific itinerary.

[2016-11-18 15:55] stevejgordon commented on #1501
@tonysurma We do have lat/long on some (maybe all) of the models. We have a geo-service that gets the lat/long from Google for the address. It's that lat/long we then store and use for the pins in other maps.

So I think really we just need to expose the lat/long details and as you suggest, make it possible to adjust using the map. I think this is possible with the APIs from either Google or Bing.

[2016-11-18 15:57] stevejgordon commented on #1500
@tonysurma - You're not dreaming. I think you were thinking of issue #316

[2016-11-18 17:08] mgmccarthy opened #1525 "Why do we allow a collection of ItineraryRequests on the Request model?"
I'm looking at the `Request` class right now and I see this:
[code]

I don't think we should make this type of association, as it doesn't make any sense. A single Request can be added to an Itinerary, but I don't think a single Request can be added to multiple Itinerarys.

I suggest we correct the mapping to:
`public ItineraryRequest Itinerary { get; set; }`

or, better yet, remove the property al

[2016-11-18 17:13] HamidMosalla commented on #1432
@mgmccarthy There was just one skipped test in it with the name `AddsNewItineraryWhenItDoesNotExist` that was marked `[Fact(Skip = "RTM Broken Tests")]`, but when I removed the Skip argument and ran the test, the test passed, I don't know if a pull request is necessary for this.

[2016-11-18 18:28] mgmccarthy commented on #1432
please submit a PR. We're trying to fix/correct any of the unit tests that are still commented out with RTM Broken Tests".

[2016-11-18 18:56] dpaquette commented on #1517
I was having similar problems when testing Edit Task. I will try to fix this over the weekend. Please assign to me

[2016-11-18 19:00] mgmccarthy commented on #1517
@dpaquette I couldn't recreate it locally when creating a Task... I didn't try to edit an existing task though

[2016-11-18 19:14] schuback commented on #1517
I am in a training now but will try and video screen capture the process
for us.

On Fri, Nov 18, 2016 at 2:00 PM, Michael McCarthy <notifications@github.com>
wrote:

--

Pascal Schuback
pascal@schuback.com
206.414.8799
@schuback

[2016-11-18 22:10] #1224 closed

[2016-11-18 22:11] #1493 closed

[2016-11-18 22:45] tonysurma opened #1526 "Build Broken Unit Test"
AllReady.UnitTest.Areas.Admin.ViewModels.Validators.Task.TaskEditViewModelValidatorShould.ReturnNoErrorForItineraryTaskWhenModelsDatesAreValid
in AllReady.UnitTest.DLL
Error message:
Assert.True() Failure
Expected: True
Actual:   False

Stack Trace:
   at AllReady.UnitTest.Areas.Admin.ViewModels.Validators.Task.TaskEditViewModelValidatorShould.<ReturnNoErrorForItineraryTaskWhenModelsDatesAreValid>

[2016-11-18 22:48] tonysurma commented on #1526
test is here for handy linking [unit test that is broken](https://github.com/HTBox/allReady/blob/a624cac1ed5866c977141efbd4c1682e24f468da/AllReadyApp/Web-App/AllReady.UnitTest/Areas/Admin/ViewModels/Validators/Task/TaskEditViewModelValidatorShould.cs#L133)

[2016-11-19 08:42] DanielSchiavini commented on #1520
I'm gonna try to fix this one

[2016-11-19 08:50] bmaluijb commented on #1521
I'll take this one

[2016-11-19 09:24] Hamels commented on #1505
I'll take this up during the Hackathon in Eindhoven.

[2016-11-19 09:25] JowenMei commented on #340
I will pick this up at the .NET Zuid codeathon!

[2016-11-19 09:40] stefan-van-de-griendt-centric commented on #1514
Picking this one

[2016-11-19 09:45] DanielSchiavini commented on #1520
@tonysurma I assume that certifications are the skills that the user can fill in. The address field doesn't exist in the user model and I couldn't find a page where the user would be able to fill it in, so I assume it doesn't exist and that would be out of the scope for a jump-in issue. I'll add all fields except the address to the model and UI.

[2016-11-19 09:57] bmaluijb commented on #1513
I'll take this one

[2016-11-19 10:01] naebliss opened #1530 "Unit test fail when running from machine with non-English language"
Hello,

I found that the TaskSummaryModelShould.ValidationShouldFail_IfNoNameIsSupplied unit test fails when running from a machine with a non-english language.

Test FullName:	AllReady.UnitTest.ViewModels.TaskSummaryModelShould.ValidationShouldFail_IfNoNameIsSupplied
Test Source:	C:\Git\Repos\allReady\AllReadyApp\Web-App\AllReady.UnitTest\Models\TaskSummaryModelShould.cs : line 13
Test Outcome:	F

[2016-11-19 10:05] naebliss commented on #1530
i will try and take this one myself

[2016-11-19 10:35] JowenMei commented on #482
I have used FluentAssertions on several projects and its very self explanatory. No worries about the learning curve here. Either way, I think the differences are pretty small between the several libraries. I would just pick one asap because they all improve readability over the standard **Assert** syntax.

[2016-11-19 11:05] Hamels commented on #1505
I can't reproduce this issue in the dev environment. I can reproduce this on the  http://allready-d.azurewebsites.net/. It seems the dev and test environments are not in sync.

[2016-11-19 11:07] DanielSchiavini commented on #1520
PR #1531

[2016-11-19 11:09] joosthaneveer commented on #630
I'll work on this one

[2016-11-19 11:39] niwrA commented on #1397
I wrote an [extensive blog on this subject](https://medium.com/@arwin.van.arum/i-datetimeprovider-60bfe6ea6315#.gx1gk7ccs) that seems appropriate for the problems here. Of course a lot of it is inspired by everything that John Skeet already solves in nodatime, but in summary what I think is useful for this project is this:

- do definitely centralize and wrap all datetime logic in your own impleme

[2016-11-19 12:24] DanielSchiavini commented on #1504
I added a legend to the page on PR #1532

[2016-11-19 12:51] DanielSchiavini commented on #1502
can't reproduce here

[2016-11-19 12:58] FvdG commented on #1430
Looking into this.

[2016-11-19 13:00] DanielSchiavini commented on #1300
@pranap still working on this?

[2016-11-19 13:03] schuback commented on #1502
On a transport bus off a base at the moment.

Could it be MacOS based? I was using safari and Firefox.

Sent from my iPhone

[2016-11-19 13:04] schuback commented on #1513
Yes.  Looks to be UI.

FYI.  Using MacOS with safari and Firefox.

Sent from my iPhone

[2016-11-19 13:20] DanielSchiavini commented on #1503
I'll try to add this one

[2016-11-19 13:29] GITS-ONLINE commented on #1513
![capture](https://cloud.githubusercontent.com/assets/23016965/20455637/b2ad10a2-ae60-11e6-8c90-9181e4afeca7.PNG)

Solved!

[2016-11-19 13:38] stefan-van-de-griendt-centric commented on #1514
Was already fixed.
![image](https://cloud.githubusercontent.com/assets/23572640/20455845/cceee1e8-ae65-11e6-84e0-e3ac303d56e1.png)

[2016-11-19 13:40] bmaluijb commented on #1299
Fixed in the wiki

[2016-11-19 13:44] JowenMei commented on #864
I will pick this up

[2016-11-19 13:51] rkiggen commented on #1517
This validation warning shows up when the end date of the task that you're editing is later than the end date of the event for which your creating the event. This is not a bug, this works correctly. This issue can be closed.

[2016-11-19 13:53] BillWagner commented on #1521
Fixed in PR #1529

[2016-11-19 13:53] #1521 closed

[2016-11-19 13:56] schuback commented on #1517
Ah. That makes sense.  Can we add some text to explain the reason why you get an error for the end user?

Something simple like you wrote? Thanks.

Sent from my iPhone

[2016-11-19 14:17] rkiggen commented on #1517
Is it ok if I change the error string to: "The end date can not be later than the event (date & time of the end date for the event)." ? Or do you have a better idea?

[2016-11-19 14:19] BillWagner commented on #1504
closed in PR #1532

[2016-11-19 14:19] #1504 closed

[2016-11-19 14:21] BillWagner commented on #1520
Closed in PR #1531

[2016-11-19 14:21] #1520 closed

[2016-11-19 14:25] tonysurma commented on #1517
"The end date of this task cannot be after the end date of the event"

Thx

[2016-11-19 14:27] #1530 closed

[2016-11-19 14:32] rkiggen commented on #1517
Ok, I'll change the error message to what you've specified.

[2016-11-19 14:34] stefan-van-de-griendt-centric commented on #1350
Working on this one.

[2016-11-19 14:53] stefan-van-de-griendt-centric commented on #1350
@tonysurma
This is not applicable any more.
The only thing that's not nice is the long label `Enforce volunteer limit on tasks` and the moment the labels pop above the inputs.

[2016-11-19 15:03] peerhenry commented on #1438
picked up

[2016-11-19 15:09] dpaquette commented on #1526
This can be closed

[2016-11-19 15:10] tonysurma commented on #1526
closed in #1528

[2016-11-19 15:10] #1526 closed

[2016-11-19 15:11] #1456 closed

[2016-11-19 15:14] tonysurma commented on #1397
@dpaquette have we finalized the approach here and documented it somewhere in the wiki etc.?  If so then with all the info on this issue (maybe link to it from the wiki?) we can close this.  Thanks all!

[2016-11-19 15:16] tonysurma commented on #1505
@Hamels the site gets updated with every accepted pull request and I just verified it is up to date.  Perhaps this is due to the OS/browser combo that @schuback was using?

[2016-11-19 15:18] dpaquette commented on #1397
@tonysurma No, we haven't documented anything yet. Longer term approach is to transition to NodaTime one v2 is released. I will try to get this documented soon so we can close the loop on this.

@niwrA thanks for the blog post and additional info!

[2016-11-19 15:28] joosthaneveer commented on #630
#1538

[2016-11-19 15:44] waesbende commented on #1439
Implemented this test.

[2016-11-19 15:56] #1513 closed

[2016-11-19 16:14] #1432 closed

[2016-11-19 16:16] #1433 closed

[2016-11-19 16:17] #1517 closed

[2016-11-19 16:53] tonysurma commented on #1505
@Hamels verified that the code on the site and in the repo are now in sync (there was a build issue in azure).  @schuback can you verify if you still have this issue live?  Thanks

[2016-11-19 17:08] #1434 closed

[2016-11-19 18:08] dpaquette commented on #1444
I think this can be closed. Looks like it was related to the problem you fixed today with global.json.

[2016-11-19 21:02] HamidMosalla commented on #1424
@mgmccarthy I don't think we can check for equality by reference in this test, because we don't have the same object when `ToList()` is called as the comment in test case suggest, unless we change the `AddRequests` method signature to take a List<string>, I don't know if the sequence equality is acceptable here:

[code]
If this is acceptable, tell me to create a PR.

[2016-11-19 21:37] peerhenry commented on #1437
picked up.
This is similar to #1438
The problem was an extension method that can't be mocked in the test. I decided to wrap the extension method call.

[2016-11-20 11:12] DanielSchiavini commented on #1503
Still on it

[2016-11-20 12:02] niwrA commented on #1508
Looking at this project the first time yesterday, I was also momentarily confused by the absence of a register button. But it is available once you've clicked login, and then email verification is used (though it doesn't currently work running it locally in dev mode).

[2016-11-20 12:02] DanielSchiavini commented on #1503
@tonysurma I'm not able to get the migrations working well. This commit: https://github.com/DanielSchiavini/allReady/commit/40647922121b55235cc3df222bfdb7846d06d1f2
Gives me the following exception when executed:
`Column names in each table must be unique. Column name 'TimeZoneId' in table 'Event' is specified more than once.`

Do you know who could help me?

[2016-11-20 12:14] niwrA opened #1545 "Concurrency check does not seem present"
I looked at this project for the first time during the Eindhoven Hackathon yesterday (which was great), and I like this project a lot.

I did notice one thing that often slips through in projects though but can be tricky, and that is concurrency checking. Perhaps I overlooked it, because one day isn't that much time to look through how a project is setup, between also talking with a lot of peers a

[2016-11-20 13:41] tonysurma commented on #1503
@dpaquette maybe? Are you starting with a blank database? I know it's working for others so need to determine what the cause of the failure is here.  Thanks

[2016-11-20 15:35] dpaquette commented on #1503
@DanielSchiavini Your migration shouldn't be adding TimeZoneId column because that was added by a previous migration. I do see that your branch is 12 commits behind HTBox/master so as a first step I would rebase to get all the latest commits from HTBox/master.

You might need to drop and recreate your database to get it inline with whatever is in master (do this on the master branch, not the branc

[2016-11-20 15:58] dpaquette commented on #1545
You are correct that we do not do any concurrency checking. For reference, here is the documentation for concurrency tokens in EF Core: https://docs.microsoft.com/en-us/ef/core/modeling/concurrency

[2016-11-21 01:51] mgmccarthy commented on #1424
we want to assert that the correct RequestIds are going to be added to the Itinerary. If it works with changing the `string [] selectedRequests` to `List<string> Requests`, then I'd say it's worth the update.

[2016-11-21 03:47] HamidMosalla commented on #1424
@mgmccarthy If I change it, couple of other tests are going to break too, but it must be trivial to correct, should I go ahead with it?

[2016-11-21 08:02] niwrA commented on #1084
Guid vs Id, there's a lot written about that.

[2016-11-21 14:59] mgmccarthy commented on #1424
@HamidMosalla, I'd say go for it. If it works locally, and you smoke test your changes and everything looks good, please submit a PR.

[2016-11-21 15:07] tonysurma commented on #1424
Thanks in advance @HamidMosalla

[2016-11-21 15:08] #1431 closed

[2016-11-21 15:09] #1525 closed

[2016-11-21 15:13] #1356 closed

[2016-11-21 15:13] tonysurma commented on #1444
@dpaquette yes it is.  I fixed an issue - yay!

[2016-11-21 15:13] #1444 closed

[2016-11-21 17:46] mgmccarthy opened #1549 "Error on Creating a new Itinerary..."
When creating a new Itinerary..

![image](https://cloud.githubusercontent.com/assets/2428993/20493817/57128cca-afe8-11e6-862f-a5c9b33dc3d1.png)

the UI is "hanging". Looking at the output window, it appears there is a sql server error being thrown:

[code]

This is with latest code I just pulled down

[2016-11-21 18:16] HamidMosalla commented on #1436
@mgmccarthy I don't think there is any way we can test `HandleInvokesGetClosestLocationsWithCorrectData` without some way to mock the `FromSql`, since it is a static method, we need a wrapper of some sort, I'm not sure though, I went ahead and [asked a question](http://stackoverflow.com/q/40726638/1650277) on StackOverflow about it just to make sure, if you know of any way, please let me know.

[2016-11-21 18:36] mgmccarthy opened #1550 "BING Map Error on Itinerary Confirmation page in Internet Explorer"
This only happens for me when using IE, not when using Chrome (I didn't check in FireFox)

I successfully create the Itinerary but when the map at the bottom tries to load, I get this error from the IDE:
![image](https://cloud.githubusercontent.com/assets/2428993/20495517/6b14468a-afef-11e6-8f63-bb226aa8c1d1.png)

here is the full error text:
[code]

[2016-11-21 18:37] mgmccarthy commented on #1549
I'm working on this

[2016-11-22 03:53] #1549 closed

[2016-11-22 15:21] mgmccarthy commented on #1405
@tonysurma this might need to be updated to P1. If we're sending out sms confirmation messages to requests we receive via the getasmokealarm portal, the requestor's will be unable to reply to our text message to confirm or cancel the request.

[2016-11-23 09:44] stevejgordon commented on #1550
Hmm, weird. Good spot @mgmccarthy

I have had some issues even with the API test site for Bing on IE. I'll see if I can replicate this and dig into it. Which version of IE are you seeing it on?

[2016-11-23 11:47] mgmccarthy commented on #1550
@stevejgordon, here is the version of IE:

![image](https://cloud.githubusercontent.com/assets/2428993/20560692/b815fcda-b148-11e6-9113-b428850c0827.png)

[2016-11-23 15:41] #1435 closed

[2016-11-23 17:04] HamidMosalla commented on #1428
@mgmccarthy  These two asserts make the test fail:

[code]
Since they are dependent on `AdjustToTimeZoneModelBinder` I assume that I shouldn't bother with them for now, if you think otherwise, let me know.

[2016-11-23 18:15] stevejgordon opened #1554 "Add Code-a-thons to Project Readme"
In order to make the details of upcoming code-a-thons accessible to all we will add a section to the project readme.md which will be kept up to date as new events are planned.

[2016-11-23 18:33] mgmccarthy commented on #1428
hmmm.. not too sure what to do about the model binder. @dpaquette , any feedback here?

[2016-11-23 18:34] dpaquette commented on #1428
Don't test the offset here. That is no longer the responsibility of the command handler

[2016-11-23 19:33] #1554 closed

[2016-11-24 17:02] HamidMosalla opened #1557 "Clarification on the usage of CQS principle in the code base"
Most of what I know about CQS comes form Mark Seemann's blog, which basically says that when we run a query we don't mutate any states in the system and we just return the result and asking the question shouldn't change the answer, conversely when we execute a command we mutate states in the system and we don't return anything.

He argues that this makes our code clear and easier to reason about,

[2016-11-24 17:58] mgmccarthy commented on #1557
@HamidMosalla, in this specific case you mentioned, if we already have the id in the controller before we dispatch the command, we should use that id and not return anything from the command handler (and like you said, in a "perfect" world of CQS, command handlers do not return anything).

The problem with your example above as it applies to AllReady is a lot of our `Edit` command handlers are rea

[2016-11-24 17:59] mgmccarthy opened #1558 "Update Developer Guide to explain our CQRS approach"
@tonysurma please assign to me

[2016-11-24 20:07] HamidMosalla commented on #1557
@mgmccarthy One other thing to add here is that since we use an object for every command or query, from the pragmatic point of view, we will get what we could ideally get form CQS, we know what is command and what is query, and in the case of returning `id`, that doesn't really mutate any state, but if we're doing something outside MediatR query and command objects, it is a good idea to adhere to

[2016-11-25 19:40] mgmccarthy opened #1559 "Fix RequestApiController"
Through conversations with @MisterJames as well as [the getasmokealaram folks](https://github.com/redcross/smoke-alarm-portal/issues/196#issuecomment-213773653), the functionality and code is finally starting to shape up into something usable.

This Issue represents part of the overall arching goal of integrating incoming requests with getasmokealarm. Things this issues does **not** address:

- to

[2016-11-25 20:05] mgmccarthy commented on #1545
@niwrA, some high-level comments on this:

### concurrency concerns
concurrency concerns out of context are not the best way to address concurrency: For example, you used an example above saying two people are editing a task at the same time. The real question we should be asking is "what is the likelihood of two people editing a Task at the same time?" Is this an admin page? How many admins do we

[2016-11-26 06:31] dchristensen commented on #910
I was going to try and take a look at this one, but it looks like it is functioning properly.  For site admin the button is not visible.  For org admin the button is visible and is correctly filling the contact information.  I believe this can be closed.

[2016-11-26 14:54] #1424 closed

[2016-11-26 14:55] #1428 closed

[2016-11-26 14:56] #1559 closed

[2016-11-26 15:59] digitaldrummerj opened #1561 "Campaign details is showing an erroneous semi-colon on the page"
![image](https://cloud.githubusercontent.com/assets/708423/20641509/8eac2340-b3b6-11e6-97a1-c9bcd8fad48f.png)

[2016-11-26 16:00] dpaquette commented on #1561
Classic Razor bug ;-)

[2016-11-26 16:50] tonysurma commented on #1561
totally, done it a million times

[2016-11-26 16:50] #1561 closed

[2016-11-26 16:57] mgmccarthy commented on #1437
@peerhenry cc @tonysurma there should be no unit test for this.  Check my comments on PR #1542 for clarification.

[2016-11-26 17:05] #1437 closed

[2016-11-26 18:01] HamidMosalla commented on #1429
I think this issue can be closed, it has been addressed in #1428

[2016-11-26 18:02] HamidMosalla commented on #1427
@tonysurma I think this issue can be closed, it has been addressed in #1428

[2016-11-27 19:14] dchristensen commented on #839
I am working on this.

[2016-11-27 21:00] tonysurma commented on #839
thank you.   If you accept our invitgation to the repository we can then assign you to the issue cc @emilyluijbregts

[2016-11-28 13:04] stevejgordon commented on #1102
After a bit a of a break I'm back on this.

[2016-11-28 13:56] HamidMosalla commented on #1210
Working on this.

[2016-11-28 14:08] tonysurma commented on #1210
Thank you @HamidMosalla.  If you accept our invitation to the repository I can assign it to you for tracking.  Thanks again.

[2016-11-28 14:11] HamidMosalla commented on #1210
@mgmccarthy The user interface is a little dry in my opinion, I want to add three components to the project if it's allright, [spin.js](http://spin.js.org/) for AJAX loading stuff, BlockUI that I use in conjunction with `spinjs` and [pnotify](https://github.com/sciactive/pnotify) for handling notifications, if we have something like this in the project and I'm not aware of it, please let me know.

[2016-11-28 14:14] #630 closed

[2016-11-28 14:26] #910 closed

[2016-11-28 14:34] mgmccarthy commented on #1210
@HamidMosalla I know nothing about javascript nor am I versed in any of the myriad of frameworks out there that are built on top of it. I do know there is some use of knockout.js on pages where we need to dynamically load things (an example would be loading a list skills required for a task). So I'm not too sure if we can do what this Issue asks for by using knockout or not.

before I say ok to ad

[2016-11-28 17:49] HamidMosalla commented on #1210
@mgmccarthy @tonysurma I implemented delete image but I don't know if that's what you want:
![untitled1](https://cloud.githubusercontent.com/assets/11329074/20679102/c02b58b0-b5ae-11e6-9d11-08f66ea8e9c3.png)
I've changed the place of the image label and put it in a panel instead, also the button for delete image will appear when user hovered on the image:
![deletecamgain](https://cloud.githubuserc

[2016-11-28 17:59] tonysurma commented on #1210
@HamidMosalla functionality and ux wise this looks great to me!  I worry a little bit about there being no affordance to know the delete will appear when you mouse over but that is super minor.

@dpaquette @MisterJames can you take a look at this PR?  Thanks again @HamidMosalla

[2016-11-28 18:53] mgmccarthy opened #1565 "Add PendingConfirmation and Confirmed to the list of Request statuses on Event Details page"
Currently, the event details page shows these Request statuses:
![image](https://cloud.githubusercontent.com/assets/2428993/20681441/a1ac4aa8-b571-11e6-8b37-28bc72508527.png)

Since RequestApiController and Hangfire jobs and sms confirmation messages have been added to the system, that's introduced to more Request statuses; Confirmed and PendingConfirmation.

Update the Request status "tiles" to s

[2016-11-28 18:53] mgmccarthy commented on #1565
@tonysurma @stevejgordon please assign to me

[2016-11-28 20:12] EmilyLuijbregts commented on #1514
@tonysurma can this issue be closed?

[2016-11-28 20:14] tonysurma commented on #1514
why yes it can.

[2016-11-28 20:14] #1514 closed

[2016-11-28 20:25] EmilyLuijbregts commented on #340
Hey @JowenMei  :) Just running through the list of open issues and wanted to ask if you had a chance to look at this during the codeathon? Do you have enough information to move forward?

[2016-11-28 20:42] EmilyLuijbregts commented on #1545
Hey @niwrA Thanks again for taking the time to write up your thoughts. Have you had a chance to look at the reply from Michael? Do you have any further questions or comments?

[2016-11-28 20:45] EmilyLuijbregts commented on #1300
@pranap Just following up on this ticket. Are you still working on this? Do you need any support to be able to continue? Thanks a lot for replying!

[2016-11-28 20:48] EmilyLuijbregts commented on #1245
Hi @YannickMeeus Just wanted to check in and see how you were getting on?

[2016-11-28 20:54] EmilyLuijbregts commented on #1084
@MisterJames: Just doing a quick follow up - have you had chance to look at mgmccarthy's comment?

[2016-11-28 21:03] mgmccarthy commented on #1084
@EmilyLuijbregts the question I asked @MisterJames above has been answered. As you can see, there was a good bit of confusion and missed information around this issue.

For the latest of what's going on with the getasmokealarm API integration, you can check out https://github.com/redcross/smoke-alarm-portal/issues/196 on the getasmokealarm portal.

that has the most up to date information regardin

[2016-11-28 21:25] tonysurma commented on #1084
Thanks @mgmccarthy is there anything @EmilyLuijbregts or I can do to tie this issue to others or help you track the work?

[2016-11-28 21:32] mgmccarthy commented on #1084
working with @MisterJames on some token generation issues we're having on our side. When that's finished, getasmokealarm will be able to test our endpoint invocation using token-based security.

We still have to figure out how we're going to decide to service a request from getasmokealarm using the region and zip code provided.

@stevejgordon is working on the call-back to getasmokealarm's api aft

[2016-11-29 01:16] #1565 closed

[2016-11-29 02:04] mgmccarthy opened #1567 "How do Requests that originate from getasmokealarm and imported via csv get assigned to an Itinerary?"
cc @MisterJames @tonysurma @stevejgordon

When importing requests from the `ImportController` or the `RequestApiController`, Requests are being created w/out a corresponding EventId/Event. This makes sense as these requests are coming to us w/out the context of an EventId/Event.

But the only place to look at requests is on the /Admin/Event/Details page:
![image](https://cloud.githubusercontent.co

[2016-11-29 02:53] tonysurma commented on #1567
Requests need to be assigned an eventid upon import or api reception.  Long time ago we talked about having the api key be region unique or some other factor so that there could be a apikey->eventid mapping as there would be different events for different regions.  I recall this discussion in the August timeframe as part of that conference and a bit before.

I do not know what happened to that ide

[2016-11-29 03:19] mgmccarthy commented on #1567
@tonysurma, I did not know that before, but it that makes sense. Thanks for explaining.

Looking at what we have now, each Event links to a Location which contains a zip code. We're receiving a region and a zip code from the incoming requests via the API. We could figure out which Event we could associate to the incoming Request and assign it that way.

I'm not too sure what we would do for a Requ

[2016-11-29 09:24] HamidMosalla commented on #1210
@tonysurma Regarding the visual clue for the delete button, if you have any suggestion tell me and I implement it, @dpaquette @MisterJames I'm waiting on your opinion about the UI components.

[2016-11-29 09:43] dschiavini-aa commented on #1503
Sorry for the delay guys, I'll work on this tonight.

[2016-11-29 12:46] HamidMosalla commented on #864
Working on it.

[2016-11-29 13:18] stevejgordon opened #1569 "Edit Itinerary - Start Address Not Saved Correctly"
**Steps to Reproduce:**

1. Create an itinerary
2. Edit the itinerary and provide a start address, tick the use start address as end address checkbox
3. Save the itinerary
4. Edit the itinerary and untick the use start address as end address checkbox
5. Edit the end address
6. Save the itinerary

**Expected behaviour:** Start Address will remain unchanged, End Address will have been saved, use sta

[2016-11-29 13:21] stevejgordon opened #1570 "Store Lat/Long with location"
We use a location table for the locations of campaigns, events, itineraries etc.

We store the lat/long outside of this table currently. Would it make more sense to store this data with the location?

[2016-11-29 13:22] stevejgordon opened #1571 "Edit Itinerary - Enhancement - Store Lat/Long of start/end addresses"
Once we provide an a start/end address for an itinerary we should perform a geolookup to get the lat/long and store this information in the db.

Where we store this may depend on the answer to #1570

[2016-11-29 13:23] stevejgordon opened #1572 "Itinerary Details - Enhancement - Display Start/End Address on Map"
Following on from #1571 we should be able to display the Start/End address on the itinerary details map (when an address is set).

[2016-11-29 13:24] stevejgordon opened #1573 "Create Itinerary - Enhancement - Default to Event Address"
Should creating an itinerary automatically use the event address at the start/end address when it is first created? The UI does not allow specification of an address at this stage.

We could include a checkbox (default to checked) to control this. This would make adding itineraries more efficient. Currently once created a user must edit the itinerary to set an address if they want to use route opt

[2016-11-29 13:25] stevejgordon opened #1574 "Itinerary Details - Enhancement - Save and display optimized route distance"
After optimizing an itineraries request order (by route) we should save the route distance and time in the db so we can display this on the UI somewhere.

[2016-11-29 13:26] stevejgordon opened #1575 "Edit Itinerary - Enhance - Improve UX"
If the use start address as end address is checked we should hide the end address fields on the form.

[2016-11-29 13:28] stevejgordon opened #1576 "GoogleOptimizeRouteService - Enhance - Retry Logic"
Consider adding retry logic within the optimize route service so that a failed call to Google is retried up to 3 times to account for any service outages.

While this may add resiliency it would add time to the process and this may not be what we want to do.

@tonysurma @MisterJames - Open to your thoughts on this?

[2016-11-29 13:31] stevejgordon opened #1578 "Add message with optimize route result"
We should cache and display any errors from the optimize route service so that the user is aware of the failure. Currently this fails silently.

We could cache an error using the user id and on the view model for the itinerary details page, check this cache if any new messages exist which need to be displayed.

[2016-11-29 13:33] stevejgordon opened #1579 "Adding unit tests for GoogleOptimizeRouteService"
We need to test the expected flows through this service

[2016-11-29 13:34] stevejgordon opened #1580 "Add unit tests for OptimizeRouteCommandHandler"
We should add tests for the expected behaviour through this handler

[2016-11-29 14:40] mgmccarthy commented on #1567
@tonysurma, after a discussion with @MisterJames about issuing an token per region, we've decided against that approach b/c it doesn't really use the token as it's intended to be used.

The token is issued to provide authentication/authorization functionality to our endpoint. Figuring out whether or not we can service the request is a business operation (not "IT Ops", like authorization) that we s

[2016-11-29 14:45] mgmccarthy commented on #1576
@stevejgordon is there any way to communicate the data back asynchronously to the user who issued this request that invokes the Google service that is not something directly tied to displaying something in the UI?

If we absolutely need to present this on the UI, then I'd say keep the retries on the low side.

If there is a way, however, to communicate to the user who is issuing the request that w

[2016-11-29 14:50] mgmccarthy commented on #1570
@stevejgordon, I'd rather leave the data where it is. Although it makes reads more difficult (extra `Includes`), having that data separate will help to alleviate contention around updates to any of the entities that rely on the lat long.

For example, when updating lat long (or doing a lookup via a service to get it), how often are we also changing the other data on the Campaign, Event, etc... ent