[2017-02-06 13:46] stevejgordon opened #1788 "Team Leads can close requests"
Follows #1787

We need to add a page, accessible to an itinerary team lead, that allows that person to mark requests as completed / un-able to complete. We should also include a notes field to supply any extra information for closing a request in either case.

Will flesh this out as may depend on how we decide to assign permissions to team leads within allReady.

[2017-02-06 13:50] stevejgordon opened #1789 "EventSourced request history"
To enable some more advanced real time / historical reporting it would be useful to store the history of events related to requests in the system as they are updated. Ideally we could look to push this out to a queue and update the database out of process, but for v1 it might be that this is done inline with the update code.

Ultimately we want to be able to show things such as a graph of events b

[2017-02-06 14:30] schuback commented on #1783
These should be behind the login process as a signed up volunteer on a campaign.

[2017-02-06 14:36] stevejgordon commented on #1783
Thanks @schuback - A bit of a followup...

When someone volunteers they are linked to a task automatically. So if we take the simplest option, any user could volunteer for a task and then be able to view the campaign's extra information.

A slightly more secure option would be to only allow the access,once the volunteer is actually assigned to an itinerary as a team member, which is an explicit ac

[2017-02-06 14:37] schuback commented on #1785
Ok. Also figured out what GASA is.

Yes. Org admin levels (campaign, event manager and team leads) will need to be able to add special instruction notes to individual install details.

[2017-02-06 16:56] schuback commented on #1786
Yes Steve. Being able to message to the variable level of volunteers would
be ideal. This could be done in v.2.

Being able to 'ping'

all volunteers in organization
all volunteers in a campaign
all volunteers in an event
all volunteers in an itinerary
all team leads in a organization
all team leads in a campaign
all team leads in an event
individual team lead

I would also suggest the option to a

[2017-02-06 17:11] schuback commented on #1783
Good question Steve!

Thinking this through, I would go with the more secure option.  Although
being able to provide information to those in a rally situation is critical
too. I am wondering if it would be more a procedural action if the event
manager running a rally type event to put the "in case of emergency" type
details in the general event text box. I think the people going to a rally
type of

[2017-02-06 23:25] shahiddev commented on #1788
I'm thinking it might be useful to have a dropdown of reasons (particularly about unable to complete requests) with common reasons with perhaps an Other field which allows for notes. This should give more quantifiable information about why a request couldn't be completed. With the assumption being that requests that were not completed are expensive and would require close monitoring/action to try

[2017-02-06 23:52] shahiddev commented on #1782
Just submitted a PR for this, its one of those horrible one that has a large number of changed files so please let me know if I can do anything to minimise the impact on others.
All tests that I can run are fine and I've tried to smoke test as much as possible through the front end but there are areas of the app that I'm not familiar with so could have missed something.

It also contains a DB migr

[2017-02-07 00:01] shahiddev opened #1791 "Filters not intuitive - clear filter option and banner"
If I'm on the pages that contains a filter box and type a term into the filter input box it immediately filters the grid which is great but presents two UI/UX challenges in my opinion

1. Its not straightforward to clear the filter - you have to select the filter term and delete it - perhaps a clear filter button would make this easier (particularly if being used on devices which don't have a mous

[2017-02-07 01:40] naeemsarfraz commented on #247
Can I pick this one up? @tonysurma @stevejgordon

[2017-02-07 01:43] naeemsarfraz commented on #249
Hey, how are you getting on with this @Diana380?

[2017-02-07 07:30] stevejgordon commented on #247
@naeemsarfraz - I'd say this is up for grabs.

[2017-02-07 07:35] stevejgordon commented on #1788
@shahiddev - Great idea! Absolutely agree, The more data we can capture over time and expose to the organization the better I think. If we can help provide basic analysis of that data and as you say, perhaps help organziations reduce waste, that would be a huge benefit of the application.

@schuback @OhMcGoo - Would you be able to help flesh out some common reasons a request might not be fulfilled

[2017-02-07 08:58] naeemsarfraz commented on #1738
@stevejgordon @shahiddev With PWA's you are limiting yourself to Android only, not sure about Windows Phone. They aren't supported on iOS at the moment though there has been an indication from Apple they are considering it.

[2017-02-07 09:24] stevejgordon commented on #1738
@naeemsarfraz - Yeah but who uses Apple products! Windows phone is where it's at!! :-)

[2017-02-07 18:19] shahiddev commented on #1738
I think the ethos behind PWAs is that they should progressively enhance so at worst on the Apple devices there should still be a very usable mobile web app, I believe windows mobile do support PWAs . Apple might be dragging their heels (they want to protect their App Store revenues after all) but I'm in the same camp as @RichardCampbell  and others where the app store lifecycle is just too cumbers

[2017-02-08 02:32] OhMcGoo commented on #1788
@stevejgordon @shahiddev @schuback - Installers are going to face one of two scenarios when they can't fulfill a request: 1. The resident was not home, or 2. The resident was home but declined the installation. If we can capture these and an optional field noting if the resident wants to reschedule (with notes), that should be sufficient.

**Unable to Complete Installation**
- [ ] Client not home

[2017-02-08 04:59] schuback commented on #1788
@stevejgordon <https://github.com/stevejgordon> @shahiddev
<https://github.com/shahiddev> @OhMcGoo <https://github.com/OhMcGoo>

Jim knows more about the type of issues that can come up with installs.  I
would add that this data collection be admin editable to support the needs
of other type of campaigns. Something that we can adjust in v2.

On Tue, Feb 7, 2017 at 6:32 PM, Jim McGowan <notificatio

[2017-02-08 19:48] stevejgordon commented on #1789
Links to issue #848 - I will flesh this out with more information soon.

[2017-02-09 12:00] stevejgordon commented on #389
@MisterJames @mgmccarthy It might be time to look at picking this up again. Once of the scenarios we have is for admins of various levels to be be able to message out to different groups of users. See #1786

The more I think on notifications I'm of the opinion it might be nice to have somewhere on the site where a user can see anything they've been sent, rather than relying on them seeing emails i

[2017-02-09 12:03] stevejgordon commented on #1766
@DavidArno - I've sent you a invite to the repo which once accepted should allow us to assign to your formally.

[2017-02-09 12:07] stevejgordon commented on #1718
Tested the steps and it blows with NullReferenceException inside the DetailsQueryHandler

[2017-02-09 12:10] HamidMosalla commented on #1783
@stevejgordon Working on it.

[2017-02-09 12:12] mgmccarthy commented on #873
@stevejgordon @tonysurma @shahiddev did we have a decision on the logging framework yet? Are we going to go with AppInsights/Azure for logging purposes? If we do, what's the plan on allowing access to the area of Azure that holds the logs for people that need to troubleshoot?

[2017-02-09 12:21] mgmccarthy commented on #389
@stevejgordon I agree with everything you said. If the need to see everything the user has ever sent is for historical purposes ("did I sent that notification out, let me check" or "what exactly was in that notification I sent?"), then this should be fairly straightforward.

Right now, we're utilizing queue's for notifications, so we already have a centralized location that handles the queued mess

[2017-02-09 12:24] HamidMosalla commented on #1783
@stevejgordon There is already an entity called `Resource` in the project, is this the entity you're talking about or it's something else? if it's not what should I name the new one?

[2017-02-09 12:26] DavidArno commented on #1766
Ah, OK. I did wonder what the purpose of the invite was. I have accepted it. Thanks.

[2017-02-10 07:39] stevejgordon commented on #389
@mgmccarthy I believe it is possible to put context and model into a library project with EF Core. I've done it with EF in the past but there is a bit more to it with Core from the small bits I've seen. I think the challenge is around the migrations command needing to be run from the directory of the web app as dotnet.exe need to be able to load the app. But I think you can pass in a path to the a

[2017-02-10 12:15] mgmccarthy commented on #389
:+1: for this:

if we can simplify and start this way, I think it's a good approach. Since we really don't know how or why the historical data is going to be used, we can at least capture it in a separate db/context.

and a :+1: for this as well:

@dpaquette and I had to work this way when building out the scheduled Hangfire jobs for the sms notifications going out... we had to convert to the user

[2017-02-10 12:48] stevejgordon opened #1792 "Project.json Cleanup"
On reviewing the project.json changes I made for our .NET Core re-target, I have found a few areas we can further improve/cleanup.

[2017-02-10 14:16] stevejgordon commented on #389
In terms of quiet time it would also be when an org admin does a send to all type message for volunteers in say a specific itinerary

[2017-02-10 20:48] #1585 closed

[2017-02-10 20:49] #1597 closed

[2017-02-10 20:51] #1792 closed

[2017-02-11 01:22] #1501 closed

[2017-02-11 01:40] naeemsarfraz commented on #247
So this is what I think this will look like:

## Campaign list
![tags 2](https://cloud.githubusercontent.com/assets/1143865/22849956/952800ce-effa-11e6-94d6-3e56b09731eb.PNG)

## Campaign detail
![tags](https://cloud.githubusercontent.com/assets/1143865/22849220/ef2bb4b0-eff2-11e6-913d-16355833a8c4.PNG)

How I plan to tackle this:
- [ ] Add a single field on the campaign edit screen to capture tag

[2017-02-11 02:10] HamidMosalla commented on #1783
It seems that @stevejgordon is busy at the moment, can someone else answer this question? @tonysurma @mgmccarthy

[2017-02-11 08:14] stevejgordon commented on #1783
Hi @HamidMosalla - Sorry, I missed the notification on this issue. Well spotted on that model. I've never paid attention to it before. I've never actually seen anything presenting in the UI around resources. The properties sound similar to the requirement, so it's possible this was partially implemented / or got removed for some reason.

@MisterJames - Do you recall anything around this one?

My g

[2017-02-12 01:56] HamidMosalla commented on #1783
@stevejgordon I wait until things clears up on that, or do you think I should go ahead with the already existing model?

[2017-02-12 17:24] joro550 commented on #1718
Do you mind me trying my hand at this? :)

[2017-02-13 07:42] stevejgordon commented on #1783
@HamidMosalla - I suggest pursuing using the existing model if it will meet the requirement. If you can, double check if you can see it being used anywhere else that might get broken. However as I've never seen this in the UI I'm pretty sure it's something that's dropped over time so we should be safe to revitalise it!

[2017-02-13 13:57] stevejgordon opened #1796 "Issues after project.json changes"
After project.json changes some contributors getting...

![image](https://cloud.githubusercontent.com/assets/3669103/22886093/45dec452-f1f4-11e6-8d9c-17920db40086.png)

[2017-02-13 14:23] #1796 closed

[2017-02-13 15:10] EmilyLuijbregts commented on #1738
@tonysurma @RichardCampbell @BillWagner
Hi guys, do you have anything to add to this discussion?

[2017-02-13 15:11] EmilyLuijbregts commented on #1737
@recumbent : did you want to submit the WIP PR as said by mgmccarthy? or?

[2017-02-14 16:25] HamidMosalla commented on #1783
@stevejgordon @mgmccarthy I have a problem when I run migration, I get this annoying error:

Here is my changes:

In Campaign.cs:
`public List<Resource> Resources { get; set; } = new List<Resource>();`

In Resource.cs:

[code]

In AllReadyContext.cs:

[code]

Any idea?

[2017-02-15 08:32] stevejgordon commented on #1783
@HamidMosalla A quick glance and the only thing I see that might be causing the issue is on the Map for Resource it defines the HasOne(r => r.Campaign) twice?

[2017-02-15 16:28] HamidMosalla commented on #1783
@stevejgordon No, I'm still getting this error, it's weird in that my changes has nothing to do with `CampaignImpact`, I probably have to continue without changes to entities since we already have the property we need for this.

[2017-02-15 18:01] stevejgordon commented on #1783
Hmm. Had you got the latest master code and run database update before creating your migration? Its possible your snapshot and the migrations are out of alignment so its trying to update the columns again.

[2017-02-15 18:30] HamidMosalla commented on #1783
@stevejgordon That was it, such a rookie mistake, thank you so much.

[2017-02-15 19:33] stevejgordon commented on #1783
@HamidMosalla - Cool. No worries. I only thought of it as I've made the same mistake myself a couple of times. It's starting to stick in my head now :-)

[2017-02-20 14:31] EmilyLuijbregts commented on #1738
@tonysurma @RichardCampbell @BillWagner a friendly nudge to follow up on this ticket. Any thoughts?

[2017-02-20 14:31] EmilyLuijbregts commented on #1765
@DavidArno - Just wanted to follow up on the current status of this ticket. Shall I assign you to this ticket?

[2017-02-20 14:33] EmilyLuijbregts commented on #1779
@shahiddev  - just wanted to follow up on this ticket. Are you working on this? Shall I assign you to this ticket? Thanks for your reply!

[2017-02-20 14:33] EmilyLuijbregts commented on #1766
@DavidArno  - Just wanted to follow up on this ticket. Have you had a chance to look at it yet?

[2017-02-20 14:37] EmilyLuijbregts commented on #1782
@shahiddev - has anyone answered your PR request? Just wanting to check so i can push this if needed :)

[2017-02-20 14:43] DavidArno commented on #1766
@EmilyLuijbregts,

Apologies, no. After volunteering I then ended up going on holiday and haven't looked at allReady for over a week. I shall start tackling it this week though as things are quieter now.

[2017-02-20 19:30] rheslar commented on #1782
no, I wanted to test it on the server first, but I don't have an azure account set up

go ahead and push, if you want to I will start something else

p.s I have not commited anything yet

________________________________
From: EmilyLuijbregts <notifications@github.com>
Sent: Monday, February 20, 2017 9:37 AM
To: HTBox/allReady
Cc: rheslar; Manual
Subject: Re: [HTBox/allReady] Rename all instances

[2017-02-20 23:44] shahiddev commented on #1782
I think this one is held up a little until the other big rename/refactor is done.

[2017-02-20 23:45] shahiddev commented on #1779
Please assign it, I'll not start on this until we have a direction for the identity server item because the changes required here will become obsolete with that item.

[2017-02-21 10:45] rheslar commented on #1782
i will wait until the final the final refactor is done, it should not effect anything

________________________________
From: Shahid Iqbal <notifications@github.com>
Sent: Monday, February 20, 2017 6:44:38 PM
To: HTBox/allReady
Cc: rheslar; Manual
Subject: Re: [HTBox/allReady] Rename all instances of "Zip" or "ZipCode" to "PostalCode" (#1782)

I think this one is held up a little until the other b

[2017-02-21 16:49] shahiddev commented on #1782
@rheslar Just want to check you're not trying to pick up this work item? This is done and in a PR awaiting merge.
Maybe I'm just getting confused by your responses?

[2017-02-21 21:08] rheslar commented on #1782
I did not commit in my changes, so you are ok

disregard my other emails

any more issuesthat need to be fixed?

________________________________
From: Shahid Iqbal <notifications@github.com>
Sent: Tuesday, February 21, 2017 11:49:30 AM
To: HTBox/allReady
Cc: rheslar; Mention
Subject: Re: [HTBox/allReady] Rename all instances of "Zip" or "ZipCode" to "PostalCode" (#1782)

@rheslar<https://github.c

[2017-02-22 18:14] shahiddev commented on #1782
Ah ok, thanks for clarifying.
Take a look for any "jump-in" tagged items, if you want to pick them up please ask one of the team to assign the item to themselves (or you) to ensure others know that its being worked on.

[2017-02-22 18:24] shahiddev commented on #1718
I can pick this up if its not being worked on - have some time on my hands at the moment so would be great to pick off some of these Jan v1 milestones ones

[2017-02-23 17:29] bergerb commented on #1718
@shahiddev  I have a pull request for this bug.  Looking for feedback.  I have not worked a lot in MVC.

[2017-02-24 11:23] HamidMosalla commented on #1783
@stevejgordon Sorry for the delay, I made a pull request, please have a look and see if anything else should be added, I've added features only for the admin part of the site.

[2017-02-24 15:13] danielepo opened #1800 "DateTimePicker formats date with the default en-US format"
Whenever the browser is set to a locale different than 'en-US' the validation of the date may not work depending on the locale of the browser. For example using a browser with locale 'it' inverts day and month and you get like validation errors:
![image](https://cloud.githubusercontent.com/assets/6214856/23308266/e90c3a60-faaa-11e6-9098-5c61bd1edfdb.png)

[2017-02-24 15:25] stevejgordon opened #1802 "Campaign Managers"
Initial stub issue around requirement for more granular authorisation levels for allReady after discussions with @schuback

Campaign Managers should be able to perform the following actions within the scope of a specific campaign

- create events
- create tasks
- create itineraries
- create manual requests
- edit campaign details
- close out task assignments
- send messaging to all campaign levels

[2017-02-24 15:27] stevejgordon opened #1803 "Event Managers (EPIC)"
Initial stub issue around requirement for more granular authorisation levels for allReady after discussions with @schuback

Event Managers should be able to perform the following actions within the scope of a specific event

- [x] able to view an event
- [ ] able to create tasks - pending new auth classes
- [ ] create itineraries  - pending new auth classes
- [ ] create manual requests - pending n

[2017-02-24 15:44] stevejgordon opened #1804 "Invite mechanism for use by Org Admins"
In order to support the new concepts of Campaign and Event managers in allReady we have agreed that the best process will be an invite system. This will allow an org admin to invite someone to become a campaign or event manager.

This flow prevents org admins from explicitly having to have any kind of direct user access.

The flow will be...
1) Org admin sends invite to someone to be a campaign ad

[2017-02-24 15:46] stevejgordon opened #1805 "View Campaign and Event Manager Access"
Once we have the invite system in place for campaign and event managers, we will need to include a UI for org admins that allows them to see people in these roles.

[2017-02-24 15:47] stevejgordon opened #1806 "Revoke Campaign and Event Manager Acccess"
Within our org admin UI for listing campaign and event managers we will need a way for an org admin to revoke access from users.

[2017-02-24 23:39] BBosman commented on #1738
Until Apple fully supports PWAs you can get a bit of that functionality (the icon part) on iOS through [Web Clips](https://developer.apple.com/library/content/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html#//apple_ref/doc/uid/TP40002051-CH3-SW4).

[2017-02-25 07:29] c0g1t8 opened #1812 "Solution Architecture - link to external providers broken"
Link for _Enabling authentication using external providers_ under **Authentication** heading broken.

I think the new URL should be [https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/index](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/index).

[2017-02-25 07:59] c0g1t8 commented on #1812
I just updated the link directly in the wiki.  Not sure if that's the correct process.

[2017-02-26 18:04] stevejgordon opened #1813 "Ability to mark an itinerary team member as Team Lead"
Breakout from #1787

We need to support a single team lead within an itinerary. This feature will include

- The database changes required to store team lead data.
- A UI update to set a team lead
- A UI update to show the currently configured team lead
- A UI update to change the team lead

I will limit the functionality as basic as possible in order to support more future features that can be wo

[2017-02-27 20:54] dramurai opened #1814 "Unit test cases fail when current culture is sv-SE"
The following unit test cases fail when current culture is sv-SE:

- `GetCoordinatesFromAddress_ReturnsCorrectCoordinates_WhenValidGoogleResponse()`
Fails due to use of TryParse method in Coordinates without specifying NumberFormatInfo.
- `GeneratesCorrectApiCall()`
Fails due to use of ToString method in OptimizeRouteWayPoint without specifying CultureInfo.

This reason for this is that a differen

[2017-02-27 21:15] shahiddev commented on #1718
@bergerb Haven't pulled the code and run it yet but change looks sensible to me

[2017-02-27 23:44] jrw348 opened #1815 "Improve Non-Windows Installation Instructions"
As new contributors to the project, Ryan Young and I (Justin Weaver) ran into some issues trying to install allReady for development on our non-Windows dev environments. We noticed that:

- The existing documentation for installing in linux had some gaps that required searching through the guides for the other platforms
- The existing documentation for installing in mac OS X could not be followed.

[2017-02-27 23:48] jrw348 commented on #1815
The platform on which I develop is Mac OS X. If possible, I would like to be assigned to this issue to help revise the dev env setup instructions for that platform.

[2017-02-28 01:09] RyanYoung25 commented on #1815
I was able to install it on Ubuntu 16.04 and would like to help revise the instructions for it. I would also like to be assigned to the issue.

[2017-02-28 07:31] Pvlerick commented on #1436
@HamidMosalla I posted an tentative answer for you: http://stackoverflow.com/questions/40726638/mocking-fromsql-in-entity-framework-core/42502650#42502650

However, looking at the code, I don't think testing this has a high added value: simply testing that parameters end up in a SQL statement is kind of useless since there is no logic, unless other layers (interceptions with DI?) might modify thes

[2017-02-28 13:30] mgmccarthy commented on #1436
@HamidMosalla, @Pvlerick is correct. There is no value in testing this. There was another unit test for a class that had the same issue (it's encapsulating a store proc call)

after disciussions with @dpaquette, we decided that we do not need to test this code, and there is no value add.

Please read Issue #1542 for the details.

Thanks

[2017-02-28 18:18] stevejgordon opened #1816 "Itinerary Team List broken after Task renaming"
A couple of properties need updating to ensure the team list can be data bound correctly

[2017-02-28 18:18] stevejgordon commented on #1816
Prepping a fix

[2017-02-28 18:34] stevejgordon opened #1818 "Itinerary Details Page - Hide request filter when no requests"
It would be nice to hide the requests filter on the Itinerary Details page when there are no requests assigned.

e.g. http://localhost:48408/Admin/Itinerary/Details/3

[2017-02-28 18:36] #1387 closed

[2017-02-28 18:38] #1816 closed

[2017-02-28 19:16] shahiddev commented on #1812
Thanks for updating, yes for straightforward corrections like that I would amend the Wiki directly and no need to open issue.

[2017-02-28 19:26] shahiddev commented on #1785
I'd be happy to try and pick this up could it be assigned to me please :)

[2017-02-28 20:32] tonysurma commented on #1812
agree, either path is good, always love an issue for tracking but don't want to cause too much pain from process :)

thanks @c0g1t8 and @shahiddev

[2017-02-28 20:32] #1812 closed

[2017-03-01 12:13] stevejgordon commented on #34
Initial work started to implement an identity server for Htbox. Once ready we will use this issue to track work to move the auth over to calls via the new identity server.

[2017-03-01 12:15] stevejgordon commented on #165
Will be reviewed once we have our new identity server flow working for auth.

[2017-03-01 12:16] stevejgordon commented on #284
pinging @dpaquette

[2017-03-01 12:38] stevejgordon commented on #482
@tonysurma We have Shoudly in place already and it's used it a fair number of tests, therefore I would propose we stick with that so we have a single library in use. I've used both and the differences seem to be negligible.

If you're happy, I would propose we close this?

[2017-03-01 12:44] stevejgordon opened #1819 "Remove Team Lead from Itinerary"
Once #1813 is completed we should enhance with the ability to remove a team lead from an itinerary. This would be used if there is no replacement to change the team lead to.

In this scenario the itinerary will be left with no team lead set.

[2017-03-01 12:48] stevejgordon opened #1820 "Message Newly Assigned Team Lead"
Follows on after #1813 is implemented

When a volunteer is assigned as a team lead we should send them an email and/or SMS to notify them of their assignment as lead.

We should include a link to the itinerary details page for the itinerary for which they have been assigned.

[2017-03-01 12:52] stevejgordon opened #1821 "Team lead Can View Itinerary Details"
Follows #1813

A team lead should be able to view the itinerary details admin page for any itinerary they are team lead for. We should also include a suitable menu navigation item when they are a team lead, which allows them to navigate to their itineraries.

We should be careful to ensure that a team lead can only view itineraries to which they are currently set as team lead.

[2017-03-01 12:56] stevejgordon opened #1822 "Team lead View Admin Requests Details"
Follows #1821

A team lead should be able to view the request details admin page for any requests belonging to itineraries they are team lead for.

We should be careful to ensure that a team lead can only view requests which belong to itineraries they are currently set as team lead.

[2017-03-01 12:58] stevejgordon opened #1823 "Team lead Can Edit Requests"
Follows #1822

Team leads should be able to edit a request when it belongs to an itinerary they manage. This will allow them to modify the address details and update the notes field as necessary.

We should be careful to ensure that a team lead can only view requests which belong to itineraries they are currently set as team lead.

[2017-03-01 13:04] stevejgordon opened #1824 "Team Lead Can Create Requests"
Follows #1821

Team leads should be able to create a new request within an itinerary they manage.

We should be careful to ensure that a team lead can only create requests against itineraries they are currently set as team lead for.

@schuback - With regards to this requirement, we discussed this working for canvasing style activities. The safest option seems to be to create the request bound to t

[2017-03-01 13:09] stevejgordon commented on #873
@tonysurma I updated some of the AppInsights libraries in allReady. If a key is set on the allready-d config it hopefully will start reporting data into an AppInsights bucket.

[2017-03-01 13:18] stevejgordon commented on #659
These should build to the AccountController by the looks of it. I'm going to submit a quick PR for this. This functionality will move/be updated and be reviewed properly as we implement Identity Server functionality.

[2017-03-01 13:30] stevejgordon commented on #1813
About 50% complete with this currently.

[2017-03-01 14:09] stevejgordon commented on #1189
@schuback @tonysurma Until we have mobile app functionality more updated - would recording the time taken when closing a request via the web app be suitable here instead? Also, is this required for v1 or suitable in vNext?

[2017-03-01 14:14] stevejgordon commented on #972
@tonysurma - Given that this is 1.1 only and we've decided to stick on LTS for a while at least, do we want to keep it on the backlog as a hint for "future us" or do we close this issue for now?

[2017-03-01 14:25] stevejgordon commented on #247
This looks good @naeemsarfraz - Sorry for the lack of response! Sounds like a good approach. I tend to pipe "|" separate strings when I store combined data in the db.

If we later add searching for this I wonder if actually storing each tag in the db somewhere might be better? We can then link events to tags to easily find any events with a specific tag? Otherwise I guess we're looking at whether

[2017-03-01 14:32] stevejgordon opened #1826 "User Documentation Folder Structure"
Part of #1362

Create an initial folder structure to contain user documentation files (md and images).

Include an index file also.

[2017-03-01 14:33] stevejgordon commented on #1826
I have some code started around this

[2017-03-01 14:46] tonysurma commented on #873
@stevejgordon I will try to set that all up/etc.  thanks

[2017-03-01 14:48] tonysurma commented on #482
let's keep with Shouldly as it is current in our codebase as you said @stevejgordon

[2017-03-01 14:48] #482 closed

[2017-03-01 16:49] #1826 closed

[2017-03-01 17:31] shahiddev commented on #284
I'm not TS/JS expert but my understanding is that we should be able to move all the JS code into TS files and it should work. Its probably worth investing the (hopefully!) small amount effort this should require because it should make it much easier to then start introducing new TS code and slowly migrate existing stuff over to TS?
(If I'm wide of the mark here you can just ignore my ramblings! :)

[2017-03-01 17:46] stevejgordon opened #1828 "AddApplicationInsightsTelemetry in Statup Twice"

[2017-03-01 17:46] stevejgordon commented on #1828
PR on it's way

[2017-03-01 17:54] #1828 closed

[2017-03-01 17:58] stevejgordon commented on #1241
@tonysurma As we have the API in place for external requests and a manual request creation for admins, do you think we should close this issue and open a set of new vNext ones around the public request creation page? If we're short on things for the code-a-thon we can then let people grab some around the final part of this.

[2017-03-01 18:14] tonysurma commented on #1241
agree

[2017-03-01 18:14] #1241 closed

[2017-03-01 20:34] slaneyrw commented on #1334
Just checked the original link and the Tasks do collapse, both on clicking the same task again or on another task.

[2017-03-01 20:36] tonysurma commented on #1334
thanks @slaneyrw it may have been fixed by another in the time since then.

[2017-03-01 20:36] #1334 closed

[2017-03-01 21:06] stimms commented on #284
You will probably experience some JS code which won't compile with the default TS configuration. There is some good guidance at https://www.typescriptlang.org/docs/handbook/migrating-from-javascript.html

[2017-03-02 08:28] stevejgordon opened #1830 "Public Request Creation for Events (EPIC)"
Related to discussions in #1241

We need to allow for public visitors to allReady to register an interest (add a request) for events that support requests.

This is a placeholder for now. I will spend some time fleshing this out more deeply before work begins.

[2017-03-02 13:17] stevejgordon opened #1831 "Remove Team Member from Itinerary Fails"
If you add a team member to an itinerary they appear in the team members table. If you click the remove button you are redirected to a page which does not exist.

![image](https://cloud.githubusercontent.com/assets/3669103/23508621/7d65dac4-ff4a-11e6-9fbf-380b42add387.png)

![image](https://cloud.githubusercontent.com/assets/3669103/23508627/81a93932-ff4a-11e6-93be-49d97222fa9b.png)

[2017-03-02 13:25] stevejgordon opened #1833 "Highlight the Team Lead in the Itinerary Details List"
If a team lead is set we should bold and/or set a different colour for the team lead in the team lister so that they are more easily identified.

Currently they look like

![image](https://cloud.githubusercontent.com/assets/3669103/23508931/b31b0774-ff4b-11e6-996a-b6c29562ce7d.png)

[2017-03-02 13:27] stevejgordon opened #1834 "Display Team Lead first in the Itinerary Details List"
Currently the team list (on the admin itinerary details page) is not specifically sorted. We should at least ensure that the team lead appears at the top of the list to they can be quickly identified. It would probably make sense that we then sort alphabetically by surname after that.

[2017-03-02 13:43] stevejgordon opened #1835 "Itinerary Details Page - Add Team Member AJAX"
If you add a team member to the team for an itinerary, the team lead dropdown is not shown/updated without a full page reload - this is because some of the page functions via ajax/js code. We need to either refactor to update the knockout model so we can show/hide the team lead section as part of the ajax result  or remove the ajax code on this page.

[2017-03-02 13:47] stevejgordon commented on #1002
Setting to vNext as this would be useful for some between request messaging. On the set team lead I currently cheat and return a querystring value to the details action so it knows whether to show a status message or not. This would be much better if implemented via TempData.

[2017-03-02 13:50] stevejgordon opened #1836 "How to add and configure a campaign - User Doc"
Breakout from #1362

We should add a documentation page describing the creation of a campaign in allReady

[2017-03-02 13:51] stevejgordon opened #1837 "How to add and configure an event (both rally and itinerary) - User Doc"
Breakout from #1362

We should add a documentation page describing the creation of events in allReady

[2017-03-02 13:52] stevejgordon opened #1838 "How to add tasks to an event - User Doc"
Breakout from #1362

We should add a documentation page describing how to create and manage events in allReady

[2017-03-02 13:53] stevejgordon opened #1839 "How to build an itinerary - User Doc"
Breakout from #1362

We should add a documentation page describing the creation of itineraries in allReady, including searching for/assigning requests and adding volunteers)

[2017-03-02 13:54] stevejgordon opened #1840 "How to manage requests - User Doc"
Breakout from #1362

We should add a documentation page describing the management of requests in allReady

[2017-03-02 13:54] stevejgordon opened #1841 "How to manually create a request for an event - User Doc"
Breakout from #1362

We should add a documentation page describing the creation of requests in allReady

[2017-03-02 13:55] stevejgordon opened #1842 "How to message volunteers - User Doc"
Breakout from #1362

We should add a documentation page describing how to message volunteers from allReady

[2017-03-02 14:11] mgmccarthy commented on #1002
@stevejgordon, first, we need to implement TempData, which is based off of Session. For some reason, the ASP.NET Core team did not include TempData as part of the framework (not too sure why, as I find it a very useful abstraction)

[2017-03-02 16:00] #1782 closed

[2017-03-02 16:01] stevejgordon commented on #1819
I'll grab this one next

[2017-03-02 16:04] stevejgordon commented on #1002
@mgmccarthy I think if we're happy with an in memory session implementation (i.e. not scalable without sticky sessions) it looks quite straightforward to get this added.

[2017-03-02 16:12] tonysurma commented on #1002
remember the beauty of issues is we can implement it that way with a limitation and log an issue (tag it as devops) that it doesn't scale without sticky so we can track later when it becomes an issue (pun intended) 😸

[2017-03-02 16:17] mgmccarthy commented on #1002
I don't think we're load balancing in the live environment, so in-memory should be safe. The IMemoryCache you added for route optimization relies on the live environment not being load balanced so we can use an in-memory cache (which is the fastest).

[2017-03-02 16:19] mgmccarthy commented on #1002
Andre Locke wrote a great blog on a TempData implemenation for ASP.NET Core [https://andrewlock.net/post-redirect-get-using-tempdata-in-asp-net-core/](https://andrewlock.net/post-redirect-get-using-tempdata-in-asp-net-core/).

After wiring up sessions, this might be a good place to start to our TempData functionality.

[2017-03-02 19:18] BBosman opened #1844 "SqlException on first run: Invalid object name 'Location'."
I made a fresh clone of the repository, read the [documentation](https://github.com/HTBox/allReady/wiki/Developer-Setup), installed all the bits, changed the config to point at an empty database and ran `dotnet run`, which resulted in the following error message:
[code]

If I manually run `dotnet ef database update` before `dotnet run` everything works, so it appears it's trying to access database

[2017-03-02 19:43] tonysurma commented on #1844
ping @mgmccarthy is there a hangfire db connection or something needed maybe that isn't in the instructions?

[2017-03-02 20:00] mgmccarthy commented on #1844
@tonysurma cc @BBosman

if the machine it's running on is not a windows machine with sql server installed, then the developer will have to go in an manually configure a connection out to something like Azure sql server in order to have hangfire run.

Looking at the stack trace, the problem here looks to be that there is an class/entity called `Location` that is no longer in the solution?

[2017-03-02 20:03] mgmccarthy commented on #1844
and fyi, I don't know how `dotnet run` works...

is it the same thing as hitting F5 in the VS IDE? If not, then I'm not too sure if all the items that Startup.cs are being fired in the right order.

[2017-03-02 23:05] BBosman commented on #1844
I figured out what's happening.

Startup.cs has:
[code]

As you can see the Migration is done before the insertion of the test data, but only when not running in Production. And the default is Production...

I don't know what the design decision was for that `IsProduction` check? Either that needs to change, or the documentation needs to be extended to mention setting the `Environment` to `Product

[2017-03-02 23:39] tonysurma commented on #1844
What OS etc. are you running? In all cases to date is production is false unless explicitly set to production...  Thanks

[2017-03-03 00:00] BBosman commented on #1844
Microsoft Windows [Version 10.0.14393] (and using Visual Studio Code 1.10.1)

By default Asp.Net Core looks at the environment variable `ASPNETCORE_ENVIRONMENT` to see in which environment it should run and if it isn't set it will use `Production`.

Visual Studio generates a `Properties\launchSetting.json`, which "sets" the environment to `Development` if you start the site though Visual Studio.

[2017-03-03 00:09] tonysurma commented on #1844
Thank you for the details!

[2017-03-03 00:21] tonysurma commented on #1844
Not sure how many (if any)  have tried with dotnet run so thank you for documenting.  Sounds like we need to update documentation then.  I'll do a bit more research to see if there is some way to set that per app other than ENV var.  Thanks again

[2017-03-03 01:08] tonysurma commented on #1844
Looks like a PR with code in here for memory defaults should find this up if it works

http://stackoverflow.com/questions/37322565/dotnet-run-or-dotnet-watch-with-development-environment-from-command-line

[2017-03-03 21:04] BBosman commented on #284
I just spent some time to see what it would take to get Typescript up and running (again).

PR #1851 is a bit of a work in progress, but I think/hope it can facilitate this discussion.

[2017-03-03 21:41] naeemsarfraz opened #1852 "Conversion to csproj\VS 2017"
Visual Studio 2017 RTMs on Tuesday and I believe so does the DotNet Core tooling.

Have any thoughts been given as to when this project will be upgraded? Upgrading it will mean you'll no longer be able to use VS 2015. Those that don't have licensing to upgrade to 2017 should be able to use the community edition.

cc/ @stevejgordon @mgmccarthy  @MisterJames

[2017-03-03 21:49] naeemsarfraz commented on #247
Hey @stevejgordon, I'll write up some thoughts around which direction I take this but I'm in agreement with you about the general approach.

A quick question, are we referring to these as tags or keywords?

[2017-03-04 16:23] #1813 closed

[2017-03-04 16:26] #1831 closed

[2017-03-04 16:27] #1814 closed

[2017-03-06 08:26] stevejgordon commented on #1852
@naeemsarfraz I've been pondering the same thing. The main consideration as you state is that we basically break ties with VS 2015 at the point of making this change. It's something we're going to have to do but we may want to wait to make sure VS 2017 is stable for a little while before making the leap. VS code is also an option for developing for anyone unable/unwilling to upgrade.

We also need

[2017-03-06 13:33] tonysurma commented on #1852
Agree on the thoughts.  I think we will need to wait a bit as said to see how the transition shakes out to 2017 as @stevejgordon said.  We want to create the broadest opportunity for those to contribute while balancing that with staying relatively up to date.

[2017-03-06 14:06] mgmccarthy commented on #873
@stevejgordon cc @tonysurma

Steve, do the AppInsights libraries offer an implementation in ILogger? If so, what kind of data would AppInsights collect if an unhandled exceptions were to be thrown from the web project? Also, how would people be able to get access to the logs to troubleshoot? Is this something baked into Azure that we're using?

[2017-03-06 15:55] naeemsarfraz commented on #1852
Good points. We do have to be aware that there probably won't be any more tooling update for Core projects in VS2015. Essentially it'll be unsupported as I understand it so we probably should wait too long.

[2017-03-06 17:55] stevejgordon commented on #1852
I tweeted with Damian Edwards on the tooling in VS 2015 and had it confirmed not to expect any form of RTM tooling there. A slightly bitter taste left by the almost forced upgrade, despite using supported ASP.NET Core versions! In fact I have a blog post I'll be launching tomorrow covering that a little deeper.

Agreed though that we want to avoid waiting too long and I plan to review the migratio

[2017-03-07 16:29] c0g1t8 commented on #1834
I'm new 😄.  I'll take this if no ones got it yet.

[2017-03-07 16:47] tonysurma commented on #1834
thanks @c0g1t8 if you accept our invitation to the repository we can assign the task to you.  Thanks for joining to help contribute

[2017-03-07 22:45] c0g1t8 commented on #1834
Invitation accepted 😄

[2017-03-08 08:03] stevejgordon commented on #1834
Welcome to the project @c0g1t8 - Any questions, do let us know.

[2017-03-08 19:26] c0g1t8 commented on #1834
I left a message in the Slack channel as well.  Sorry for the spam.

**Background**
I cloned but did not fork the repository several weeks ago to get familiar with this project.  I was able to get it to build and run.  It looked interesting so I decided to jump in.
- deleted my local repo
- created a fork
- cloned

**Problem**
When I tried to build, I got a _Object reference not set to an instance

[2017-03-08 20:59] stevejgordon opened #1855 "Build Error on clean clone"
A clone and attempt at a build produces failures which may not be seen on previously built projects.

PS C:\repos\allReady\AllReadyApp\Web-App> dotnet restore
log  : Restoring packages for C:\repos\allReady\AllReadyApp\Web-App\AllReady.UnitTest\project.json...
log  : Restoring packages for C:\repos\allReady\AllReadyApp\Web-App\AllReady\project.json...
log  : Restoring packages for tool 'Microsoft.

[2017-03-08 21:00] stevejgordon commented on #1855
PR on it's way

[2017-03-08 21:04] DavidArno commented on #1766
Really sorry all, but I've still not had time to look at this and I'm busy on other stuff at the moment. @EmilyLuijbregts (or others), please jump in and take this if you want to.

[2017-03-08 21:47] stevejgordon commented on #1855
Closing after merge

[2017-03-08 21:47] #1855 closed

[2017-03-09 04:59] c0g1t8 commented on #1834
@stevejgordon This is related #1855 and can be closed.

[2017-03-09 07:14] c0g1t8 commented on #1834
@stevejgordon I've got something working.  Team lead is listed first with the other volunteers ordered alphabetically by their display name.  I'm ordering the team members in the _ItineraryDetailQueryHandler_ class.

_TeamListViewModel_ class does not expose _LastName_ and _FirstName_.  I can change the ordering of the non Team Lead volunteers by surname but it will mean altering the _TeamListView

[2017-03-09 07:29] c0g1t8 commented on #1833
I've got #1834 already.  I'm going to take this one too if there are no objections.

[2017-03-09 16:24] c0g1t8 commented on #1834
Slept on this.  I may be able to change the LINQ used to build _itineraryDetails_ to accomplish this without changing the _TeamListViewModel_ class.

[2017-03-09 17:07] c0g1t8 commented on #1834
Got it working - PR coming

[2017-03-10 13:56] stevejgordon opened #1859 "Typescript Build Errors"
It appears since PR #1851 the local development build is failing.

In the output from task runner explorer I see
[code]

Part of the build output looks like this
[code]

I also see this in the solution explorer
![image](https://cloud.githubusercontent.com/assets/3669103/23797715/10e35d22-0599-11e7-89c5-379ec5fcfd11.png)

If I roll back to the prior commit, it's all fine.

cc/ @BBosman @stimms

[2017-03-10 14:31] BBosman commented on #1859
It looks like a couple of npm packages are out of sync on your machine.

Try doing a package restore on the npm node or run a npm install from the commandline.

[2017-03-10 14:46] stevejgordon commented on #1859
@BBosman After re-opening VS I saw it restore and no longer getting an error in solution explorer. On build I now get

[code]

[2017-03-10 15:59] BBosman commented on #1859
@stevejgordon  It looks like it can't find the typescript definition files from `@types/jquery` for some reason.

If you go to **Tools** -> **Extensions and Updates** can you tell me which version your `Typescript for Microsoft Visual Studio` is? And if there are updates available for it install those?

[2017-03-10 17:22] c0g1t8 commented on #1859
@BBosman Based on the information that @stevejgordon provided in the Slack channel.  I was able to get things to build.

- Did a tsc version check and the system returned Version 2.2.1
- Went to https://www.microsoft.com/en-us/download/details.aspx?id=48593
- Downloaded _TypeScript 2.1.4 for Visual Studio 2015_ and installed
- Restored Nuget packages for solution

I've got a _clean_ dev VM based o

[2017-03-10 19:24] c0g1t8 commented on #1859
Okay - I can confirm installing _TypeScript 2.1.4 for Visual Studio 2015_ solves the problem when doing a **Debug** build.  Don't know why.

But am now getting another issue doing a **Release** build.

[code]
The problem being
[code]

**Note:** I'm testing with the _AllReadyWebOnly.sln_

[2017-03-10 20:25] c0g1t8 commented on #1859
The release build issue is a simple fix.  Just need to wrap the offending line as follows:
[code]

[2017-03-10 20:35] c0g1t8 opened #1860 "TestHangfireController.cs failing to build in release mode."
Additional issue found when working on #1859.

[code]
**Simple fix**. Just need to wrap the offending line as follows:

[code]

Just need someone to assign it to me.

[2017-03-10 20:41] BBosman commented on #1859
@c0g1t8 Nice find on the release build issue and confirming my suspicion on the `Typescript for Microsoft Visual Studio` thing.

I think we'll need some tweaks to [this](https://github.com/HTBox/allReady/blob/master/docs/prerequisite_install_guide/prerequisite_install_guide.md#configure-visual-studio-external-web-tools) document to mention the need for an updated `Typescript for Microsoft Visual S

[2017-03-10 21:55] c0g1t8 commented on #1860
@tonysurma I created a PR before you assigned 😄

[2017-03-10 22:04] tonysurma commented on #1860
@c0g1t8 perfect and no worries.  I like to fill in the parts of process regardless of order in time 😸 thanks for the initiative - never wait for me 😉

[2017-03-11 01:30] c0g1t8 commented on #1860
@tonysurma PR has been updated.

[2017-03-11 17:12] #1819 closed

[2017-03-12 18:08] c0g1t8 commented on #1859
@BBosman I've been researching this issue further and found some other _strangeness_.  I went back to my reference VM and started testing.
- Default version of Typescript installed with Visual Studio 2015 Update 3 is 1.8.36.0.
![image](https://cloud.githubusercontent.com/assets/23250332/23834408/49605b16-0713-11e7-9822-80333bcc3150.png)
- Command line build of the _.\AllReadyApp\Web-App\AllReady_

[2017-03-12 18:15] c0g1t8 commented on #1859
Clarification of my comment above

The **tsc** version reported from the command line is not the version necessarily used by VS2015.3.  The **tsc** version used in VS2015.3 is reported in _Help|About_.

[2017-03-12 18:44] c0g1t8 commented on #1859
@BBosman @tonysurma

**General Comment on [Prerequisite Install Guide](https://github.com/HTBox/allReady/blob/master/docs/prerequisite_install_guide/prerequisite_install_guide.md#configure-visual-studio-external-web-tools)**

As a newbie to this project and not that familiar with _dotnetcore_, I approached this as more of a _Visual Studio user_.  I bascially followed the [Developer Setup](https://

[2017-03-13 12:27] stevejgordon commented on #1859
@BBosman and @c0g1t8 - Thanks for sticking with this. I was having the build issue on my work machine which was running 1.8.36.0 (I thought it was newer!). Updated to 2.2.1.0 and it's now building.

[2017-03-13 13:51] stevejgordon opened #1864 "Discussion - Adding PRG flow"
PR #1863 once merged, adds Sessions to allReady. This enables us to support the use of TempData for Post-Redirect-Get pattern in allReady - see https://andrewlock.net/post-redirect-get-using-tempdata-in-asp-net-core/

@mgmccarthy and @MisterJames - Any preferences where to start with this. I have assessed this as a vNext milestone.

[2017-03-13 13:52] stevejgordon opened #1865 "Caching Does Not Scale"
We currently implement an in memory IDistributedCache and general MemoryCache for some functionality. This is a tracking issue as we will need to review this if we get to the point of scaling allReady beyond a single node.

[2017-03-13 13:56] stevejgordon opened #1866 "Discussion: UI Alerts for Application Event Feedback"
Once the PR for sessions #1863 is merged we should review any places where we can implement improved UI messaging as per http://jameschambers.com/2014/06/day-14-bootstrap-alerts-and-mvc-framework-tempdata/

We already have a more manual variant of this to support some AJAX features. We should standardise on a common pattern taking advantage of TempData where possible.

This issue can be used for d

[2017-03-13 14:01] stevejgordon commented on #1833
@c0g1t8 - Sure, go for it!

[2017-03-13 14:05] stevejgordon commented on #1833
If you want to update the Lastname, Firstname UI we could do that here also.

[2017-03-13 16:29] bergerb commented on #1718
Incoming Revert?

[2017-03-13 16:48] c0g1t8 commented on #1859
@BBosman and @stevejgordon Should we just standardize on version 2.2.1.0?  It's the most current version and I believe that is the version in Visual Studio 2017.

[2017-03-13 17:43] BBosman commented on #1859
That would be my preference. The newer version solves the issue of manually having to wire up definition files, lowering the barrier of entry for using/switching to TypeScript.

[2017-03-13 23:58] c0g1t8 commented on #1833
@stevejgordon - I've got most of this working 😄.  Team member names are displayed _LastName, FirstName_.  Any particular style for displaying the team lead?  I've got the team lead name in red currently.

[2017-03-14 01:13] #1002 closed

[2017-03-14 01:22] c0g1t8 commented on #1718
@bergerb Oops. I did that in error.  I pulled your fix and likely clicked on something in error.  My apologies.

[2017-03-14 10:57] stevejgordon commented on #1852
Per the standup this week, we plan to migrate in early April once everyone has a time to get VS 2017 installed and AppVeyor builds support the new csproj format.

@tonysurma Not sure if you can see anything in the appVeyor portal about csproj support. I Googled and found some suggestion that VS 2017 images are available, but not using appVeyor myself, I'm not sure if it means we're good to go?

[2017-03-14 11:00] stevejgordon commented on #1852
@tonysurma Actually, looks like an image is available and can be controlled via the yml file so when we migrate we can try that. Guessing it might be good to get a test branch going sooner rather than later though to test the waters?

[2017-03-14 13:16] tonysurma commented on #1852
@stevejgordon agree.  I created a vs2017 branch we can do pull requests against to start to make this move.

[2017-03-14 14:03] bergerb commented on #1718
No problem.  👍

[2017-03-14 15:15] mjmilan commented on #1718
I thought I had already fixed this - but nevermind - so long as it is
working now...

On 14 March 2017 at 14:04, Brent <notifications@github.com> wrote:

[2017-03-14 17:00] c0g1t8 commented on #1833
I created a PR for this last night 😄

[2017-03-14 17:43] c0g1t8 commented on #1835
@stevejgordon @tonysurma

Since I've been working on some of the Itinerary related issues.  I decided to take a look at this one as well 😄

[2017-03-14 17:46] stevejgordon commented on #1835
Thanks @c0g1t8 - I'm inclined to suggest we factor out the ajax and knockout here. While it provides a nice no postback style update, it does increase our barrier to entry. It's been removed in most other places.

[2017-03-14 20:53] tonysurma opened #1869 "shrink hero block size on homepage to allow data shown higher up [JT]"

[2017-03-14 20:53] tonysurma opened #1870 "account page - rename external links to social media logins [JT]"

[2017-03-14 20:54] tonysurma opened #1871 "account page - seperate tabs for 'skills' from rest of 'account info' [JT]"

[2017-03-14 20:55] tonysurma opened #1872 "homepage - after registering show bootstrap info message about unvalidated email/sms with link to account page [JT]"

[2017-03-14 20:56] tonysurma opened #1873 "login page - seperate tabs for login and register [JT]"
like other sites so that login and register are top tab items and UI is different for both

[2017-03-14 20:57] tonysurma opened #1874 "login page - shrink, decolor and place social media logins on register and login tabs [JT]"
- [ ] place social media logins on register page
- [ ] reduce size of services buttons
- [ ] change title on register page to "Register with one of these services"

[2017-03-14 20:59] tonysurma opened #1875 "homepage - list events not campaigns on home page [JT]"
with info on organizer and campaign as part of event info

[2017-03-14 21:19] tonysurma opened #1876 "authorization - changes of permissions aren't reflected until user logs off/on again"
set a user as org admin and had to log in/off to get perms change - should be reflected immediately ideally

[2017-03-14 21:21] tonysurma opened #1877 "navbar - make logoff as an item 'under' your user name [JT]"
from a UI point of view don't take space home navbar and make it a float sub menu for logoff (can later be used for other items as well)

[2017-03-14 21:24] tonysurma opened #1878 "campaigns list - remove create campaign on public page when your an admin [JT]"

[2017-03-14 21:25] tonysurma opened #1879 "===== navbar - orgs first then campaigns then events {new}, about should go on right or bottom of page [JT]"

[2017-03-14 21:27] tonysurma opened #1880 "campaign page - include organization logo, name [JT]"

[2017-03-14 21:28] tonysurma opened #1881 "breadcrumbs on public pages should always be [org name] > [campaign name] > [event name] etc as applicable [JT]"

[2017-03-15 11:31] schuback opened #1882 "campaign setup/edit page preview function [JT]"
I have set up a campaign and filled in the details, saved it. I then presume that the "preview" button is there for me to see what it would look like. I click preview and it just a blank page (well there is the overall AllReady header/footer, but no campaign details.

http://allready-d.azurewebsites.net/Admin/Campaign/Edit/8
<img width="1304" alt="screenshot 2017-03-15 04 29 22" src="https://cloud

[2017-03-15 11:34] schuback opened #1883 "Campaign Goals description details [JT]"
http://allready-d.azurewebsites.net/Admin/Goal/Edit/3

The numeric goal and current goal level descriptions need to be non technical.  I out in 20 for numeric and 1 for current goal level, save and then see on the campaign page it says it's at 5 already.  Something must not be right.

<img width="1284" alt="screenshot 2017-03-15 04 32 37" src="https://cloud.githubusercontent.com/assets/830036/2394

[2017-03-15 11:44] schuback opened #1884 "Creating Event blank field errors [JT]"
When  creating an event and leaving the address fields empty and then hitting "create" you get the errors of blank fields with red text. The red text didn't show up for the "address 1" field saying it was required.

http://allready-d.azurewebsites.net/Admin/Event/Create/8

<img width="565" alt="screenshot 2017-03-15 04 43 58" src="https://cloud.githubusercontent.com/assets/830036/23947009/051a6806

[2017-03-15 13:38] stevejgordon commented on #1821
I'm working on a pre-requisite PR to support easier authorization of such actions

[2017-03-15 13:38] stevejgordon commented on #1822
I'm working on a pre-requisite PR to support easier authorization of such actions

[2017-03-15 13:39] stevejgordon commented on #1823
I'm working on a pre-requisite PR to support easier authorization of such actions

[2017-03-15 13:39] stevejgordon commented on #1788
I'm working on a pre-requisite PR to support easier authorization of such actions

[2017-03-15 13:39] stevejgordon commented on #1824
I'm working on a pre-requisite PR to support easier authorization of such actions

[2017-03-15 13:46] stevejgordon opened #1885 "Model and Schema for ManagementInvites"
Breakout from #1804

Implement a model, db schema and migration to support management invites.

Database needs to hold details of ManagementInvites such as:
InviteId
EmailAddress
EventId
DateSent
SentByUserId
DateAccepted
DateRejected
DateRevoked
CustomMessage

There may be additional columns required to support the functionality which we can adjust later.

[2017-03-15 13:52] stevejgordon commented on #1885
Will work on this before the codeathon so we can pick up items during the event

[2017-03-15 13:54] tonysurma commented on #1882
@OhMcGoo and I found the same thing yesterday and I hadn't logged it yet.  Thanks!

[2017-03-15 13:57] stevejgordon opened #1886 "Create ManagementInvite Page"
Breakout from #1804 and follow on to #1885

We should create a controller to handle invites with an action and view to support creating / sending an invite. This should accept an email address and optional custom message

Sending the invite should utilise a handler to update the database to record the invite details.

In a future issue we will add a notification to trigger sending an email.

[2017-03-15 13:59] stevejgordon opened #1887 "Add ManagementInvite Lister"
Breakout from #1804

Add a page for org admins to view status of all management invites. This should be a lister page that an org admin can view, showing all invites organised by type.

Should show the date sent, status etc.

NOTE: Once access is granted to other user levels, such as event managers, we may need to limit the types of invite we show. A single view hopefully can handle this though.

[2017-03-15 14:01] stevejgordon opened #1888 "Add ManagementInvite Links and Menu"
Breakout from #1804

We should determine from where on the site it is suitable to display links to access the ManagementInvites lister page.

Links should then be added to support the required flow.

[2017-03-15 14:03] stevejgordon opened #1889 "Send ManagementInvite Email to Invitee"
Breakout from #1804

We should add a notification (Mediatr) and handler to support adding an email message onto the queue when an invite is sent. This should send the invitee the email, with a link to accept the invite. We should perhaps include an optional link to decline the invite?

We should also include details of where to register if they do not have an account already.

[2017-03-15 14:05] stevejgordon opened #1890 "Admin / Manager can Revoke a ManagementInvite"
Breakout from #1804

Add ability for an org admin to cancel an invite. From the lister page an admin should be able to cancel a invite that has not already been accepted.

[2017-03-15 14:14] stevejgordon opened #1891 "Acceptance of ManagementInvite"
Breakout from #1804

Upon clicking the accept invite link, a user should to be taken to the accept invite page.

@schuback - Should clicking the link immediately accept the invite for a logged in user (and take them to a invite accepted page? Or should we redisplay the details and require an explicit accept button click to take place?

We should require login to access this page. If the user does

[2017-03-15 14:16] stevejgordon commented on #1802
Working on a PR to enable easier authorization logic to support this "role"

[2017-03-15 14:16] stevejgordon commented on #1803
Working on a PR to enable easier authorization logic to support this "role"

[2017-03-16 13:14] stevejgordon opened #1893 "Send Invite Acceptance Email to Sender of the Invite"
Breakout from #1804

When an invite is accepted we should notify the sender of the invite via email of the status change. We should implement this by firing an invite accepted notification (Mediatr) and then have a handler which will send the email message to the queue as necessary.

[2017-03-16 13:40] stevejgordon opened #1894 "Campaign Managers can view list of Managed Campaigns"
Breakout from #1802

Update campaign lister if possible or add a new lister page where a campaign manager can see links to all campaign(s) they have access to manage.

Clicking the link should take them to the admin campaign page.

[2017-03-16 13:42] stevejgordon opened #1895 "Campaign Manager Admin Menu"
Update menu rules so that anyone with campaign manager access has an admin menu item with a link to the admin campaign list.

If they only manage one campaign, perhaps we take them directly to the campaign page itself, rather than a list with a single item? @schback - Any preference?

[2017-03-16 13:47] stevejgordon opened #1896 "Campaign Access List"
Include a page which will lists all authorized campaign users - i.e. org admins and campaign managers

We could possibly also show the event managers in this list?

This page is accessible to org admins.

@schuback - Should campaign admins also be able to view this?

If we include different user types we should include a way to sort/filter the list

Should also include a link to the invite campaig

[2017-03-16 13:53] stevejgordon opened #1897 "Revoke Campaign Manager Acccess"
Breakout from #1802

An org admin should be able to revoke a user's campaign manager access.

On the user lister page for the campaign, add a button with a confirmation screen to allow an org admin to revoke campaign manager access from a user

[2017-03-16 14:31] schuback commented on #1896
I would say yes to having campaign managers being able to see the list
filtered for their orgs.

On Thu, Mar 16, 2017 at 6:47 AM, Steve Gordon <notifications@github.com>
wrote:

--

Pascal Schuback
pascal@schuback.com
206.414.8799
@schuback

[2017-03-16 14:46] stevejgordon commented on #1833
Closing this as PR merged - @c0g1t8 if you type "fixes" then the #xxxx issue number in the PR description, it should auto close the issue for us once merged. Git-magic!

[2017-03-16 14:46] #1833 closed

[2017-03-16 17:53] stevejgordon commented on #1873
@tonysurma Just to check, this is a menu item in top right, so we have login and also register as links?

[2017-03-16 17:57] stevejgordon commented on #1852
Will have a look at this after the codeathon is safely completed. Already the links to the SDKs are a little less obvious now, so probably sooner rather than later is good since the barrier to entry will increase if the SDK's are hard to find.

[2017-03-16 18:02] stevejgordon opened #1898 "Event Managers can view list of Managed Events"
Breakout from #1803

Update event lister if possible or add a new lister page where an event manager can see links to all events(s) they have access to manage.

Clicking the link should take them to the admin event page.

[2017-03-16 18:02] stevejgordon opened #1899 "Event Manager Admin Menu"
Update menu rules so that anyone with event manager access has an admin menu item with a link to the admin event lister.

If they only manage one event, perhaps we take them directly to the event page itself, rather than a list with a single item? @schback - Any preference?

[2017-03-16 18:06] stevejgordon opened #1900 "Event Managers Lister"
Breakout from #1803

Include a page which will lists all authorized event users - might be a filtered view of the page from #1896

This page should allow org admins and campaign managers to see all of the users who can manage events, including their roles.

@schuback - Should event managers also be able to see this lister / add and remove other event managers? My initial impression would be that t

[2017-03-16 18:07] stevejgordon opened #1901 "Revoke Event Manager Access"
Breakout from #1803

Add a button with a confirmation screen to allow an org admin (maybe also campaign managers) to revoke event manager access from a user. This would appear on the lister to be created in #1900

[2017-03-16 18:10] stevejgordon commented on #1834
@c0g1t8 Sorry, missed your question. Were you able to add a PR and I can review / assist?

[2017-03-16 18:12] stevejgordon commented on #1572
Hi @ExoltenOne - Just checking in to see if you were still working on this / have something you can submit?

[2017-03-16 18:14] schuback commented on #1900
@stevejgordon - I agree with keeping it to the upper level for adding
managers. I do like the ability of managers seeing a list of other managers
in their org. For sure no reveal of contact/personal information.

On Thu, Mar 16, 2017 at 11:06 AM, Steve Gordon <notifications@github.com>
wrote:

--

Pascal Schuback
pascal@schuback.com
206.414.8799
@schuback

[2017-03-16 18:17] stevejgordon commented on #1900
Thanks @schuback - Will update issues accordingly

[2017-03-16 18:58] stevejgordon commented on #1875
@tonysurma - Do we need to include the concept of featured event(s)? Or should any event from the featured campaign be at the top and possibly highlighted?

[2017-03-16 19:15] stevejgordon commented on #38
I think with #1745 merged we have the initial functionality for this one, so closing it out.

[2017-03-16 19:15] #38 closed

[2017-03-16 19:17] stevejgordon commented on #107
Think we can close this down as with the incoming IdentityServer, all access can be controlled within the app via access tables. We may choose to append some claims, but I have a PR in which might cover an authorization process that works for our needs. We can review that as part of IdServer integration. Do let me know if it needs to be re-opened.

[2017-03-16 19:17] #107 closed

[2017-03-16 19:19] stevejgordon commented on #186
@tonysurma Do we have the ability to define templates in SendGrid and if so, any thoughts on what we need. Sending the template id over would be fairly easy once we have some to work with.

[2017-03-16 19:20] stevejgordon commented on #232
As with related issues, we no longer include the search and do have some geo-coding in place. Closing.

[2017-03-16 19:20] #232 closed

[2017-03-16 19:21] stevejgordon commented on #247
I think tags is better personally.

[2017-03-16 19:22] stevejgordon commented on #249
We'll consider this open for takers again now.

[2017-03-16 19:24] stevejgordon commented on #254
@tonysurma We have a basic level of functionality for multiple goals now added. Should we close this? I'm still hoping to get some wider design time at some point through a work colleague.

[2017-03-16 19:33] stevejgordon commented on #1502
@schuback - Could you take a look and see if this is still an issue. I've tried to replicate and cannot. The red button has a delete logo for me. May have failed to load for some reason when you were testing.

![image](https://cloud.githubusercontent.com/assets/3669103/24015077/37aaa9f2-0a7f-11e7-9d34-0e4b29141795.png)

I'm experience date issues which might be GB culture related. I'll check those

[2017-03-16 19:40] stevejgordon opened #1902 "Remove Campaign Goals in Admin - Campaign Details Page"
We now have a specific page for managing goals on the campaign details page - e.g. http://allready-d.azurewebsites.net/Admin/Campaign/Details/9

We therefore don't need to re-display these on the campaign edit page. e.g. http://allready-d.azurewebsites.net/Admin/Campaign/Edit/9

We might also be able to remove properties from the view model for the edit page as well.

[2017-03-16 19:58] stevejgordon opened #1903 "Can't create event with certain dates"
When creating an event on a en-GB culture desktop I seem to be unable to save dates in the UK date format. This needs investigation as might not be culture related.

@schuback - Are you able to do this on a US device?

We previously looked at this with @dpaquette - Not sure if this is a new issue or remnant of that.

![image](https://cloud.githubusercontent.com/assets/3669103/24015998/4f75c53c-0a8

[2017-03-16 20:04] stevejgordon opened #1904 "Privacy Policy Link in Footer Fails from an Admin Page"
If I click the privacy policy link in the footer when viewing an admin page, I get a not found error. The route is incorrectly including the Admin part of the path. I believe the link needs to be amended to include the correct area.

![image](https://cloud.githubusercontent.com/assets/3669103/24016384/c84f2178-0a83-11e7-9859-ef9eda36ddd0.png)

[2017-03-16 20:07] stevejgordon opened #1905 "No "friendly" 404 page for missing content"
If I visit a page which does not exist, I do not get a friendly 404 page.

We used to display a nicer page and should certainly add something using the error pages flow.

e.g. http://localhost:48408/sometiing

[2017-03-16 20:12] stevejgordon opened #1906 "Requestor can specify communication preferences (text, voice) for communications"
Break out from #1084

Requester can specify communication preferences (text, voice) for communications

@tonysurma - We don't include logins for requester currently. I'm not sure how we could implement this. Any thoughts if this is still a requirement some how? Almost all comms to requesters is via SMS currently.

[2017-03-16 20:14] stevejgordon commented on #295
This might relate to an issue #1906 I have just broken out from #1084

For requesters this is not easy. We could add something for volunteers though. Would that be useful?

I'm not sure we can always limit to a specific messaging type as sometimes only email or only SMS would be valid. But we could capture the preferences and try to apply them.

Also, we thought it might be useful for SMS to have

[2017-03-16 20:18] stevejgordon opened #1907 "Upon team lead completing a request, notify next requester"
On Installer marking previous request in itinerary delivered day of send "See you in a few" message

We don't currently have the ability for an installer to mark request as completed. We do have a requirement to add this in #1788

Once completed, we can add the ability to optionally send this message as part of the closure of the previous request.

[2017-03-16 20:19] stevejgordon commented on #1084
@tonysurma I've broken out a couple of these, and added some questions in those directly. I updated your original issue with the issue numbers for those.

For the unticked response items. I think we have most of the flow. Do those imply that once confirmed, we also need to handle a later message of N which then means they can no longer proceed?

[2017-03-16 20:22] stevejgordon commented on #799
Closing as we have now reviewed flows and requirements document and I believe created issues for any gaps.

[2017-03-16 20:22] #799 closed

[2017-03-16 20:23] stevejgordon commented on #553
@schuback - Pinging for your thoughts. I'm not 100% sure what is meant by activity page though.

[2017-03-16 20:26] stevejgordon commented on #699
@tonysurma Is this intended to enable the volunteers from rally events, to easily signup new volunteers for future events? If so I can see us using a system similar to the invite process we'll be adding to invite people to be a campaign manager for example. If that's the requirement I can stub out issues to make it happen.

Also, if that's correct, v1 or vNext?

[2017-03-16 21:24] schuback opened #1908 "safari browser graphics issue"
I just logged in using safari and the graphics are having an issue.
![screenshot 2017-03-16 14 22 44](https://cloud.githubusercontent.com/assets/830036/24019191/491bb5ee-0a54-11e7-95f0-e0ed80dc4f0c.png)

[2017-03-16 21:30] schuback commented on #1908
![screenshot 2017-03-16 14 30 13](https://cloud.githubusercontent.com/assets/830036/24019424/23b76090-0a55-11e7-94bc-60ea17d7431a.png)

[2017-03-16 21:34] schuback commented on #1903
@stevejgordon - it appears to be having another issue with graphic
placement. I submitted an issue for it.

As for the date, not sure if it's the website issue, but I am not even able
to adjust the timezone. The date sets up as US format.  I am not able to
adjust it with the site issue.

On Thu, Mar 16, 2017 at 12:58 PM, Steve Gordon <notifications@github.com>
wrote:

--

Pascal Schuback
pascal@sc

[2017-03-16 21:38] schuback commented on #553
I'll have to review this.

On Thu, Mar 16, 2017 at 1:23 PM, Steve Gordon <notifications@github.com>
wrote:

--

Pascal Schuback
pascal@schuback.com
206.414.8799
@schuback

[2017-03-16 21:39] dpaquette commented on #1903
From what I remember, the Date editors should be forcing en-US date formats so you shouldn't be able to enter dates in the en-GB format regardless of the user's local desktop settings. This wasn't a long-term solution but was intended to get things working for the initial rollout with some American organizations.

[2017-03-17 00:19] c0g1t8 commented on #1834
@stevejgordon  I thought it was merged in already.  Please take a look at the commits on March 9 and March 10.

[2017-03-17 07:51] stevejgordon commented on #1903
@dpaquette - I'll try to dig into this a little further.

[2017-03-17 07:55] stevejgordon commented on #1834
@c0g1t8 - Your correct, sorry I couldn't see a PR listed so I missed that it was actually in. I'll close. Thanks again for your contribution.

[2017-03-17 07:55] #1834 closed

[2017-03-17 08:10] stevejgordon commented on #1908
@schuback I had one of our crack front end devs (thanks Tim) check it out this morning. Seems okay on Safari for him.

Could you please confirm the safari version and device / OS version you are using to test on? Will see if we have anything in our device lab here which can replicate the problem.

[2017-03-17 16:23] c0g1t8 commented on #1835
@stevejgordon  I've factored out the ajax and knockout as you suggested.  This also required a little reworking of the associated view.  Testing it now.

[2017-03-17 19:40] #1885 closed

[2017-03-18 05:36] c0g1t8 commented on #1835
@stevejgordon Looking at your implementation of **RemoveTeamLead** and **SetTeamLead** in the **ItineraryController** class.  Noted your comments in the **RemoveTeamLead** method and am using it as a pattern for **AddTeamMember**.

[2017-03-18 05:46] c0g1t8 commented on #1835
Need to review this fix once #1864 is closed.

[2017-03-18 07:25] stevejgordon commented on #1859
Closing as by using 2.2.1.0 locally new contributors seem to be able to build correctly.

[2017-03-18 07:25] #1859 closed

[2017-03-18 11:27] SarabjotSingh1986 commented on #1908
@schuback I'm looking into it. I tested on safari 5.1.7 and top image for a home page is not displaying correctly

[2017-03-18 11:28] #1884 closed

[2017-03-18 11:35] pmarshallandrew commented on #1878
picking this up

[2017-03-18 11:36] SarahMarz commented on #1883
I can take this one

[2017-03-18 11:42] babagy commented on #1905
Hi,

Looking into this issue at the moment.

Thanks, Baba.

[2017-03-18 11:53] thomasmanville commented on #1881
Picking this up!

[2017-03-18 11:55] pmarshallandrew commented on #1875
picking up

[2017-03-18 12:04] #1878 closed

[2017-03-18 12:16] babagy commented on #1905
Fixed. Pull request created. https://github.com/HTBox/allReady/pull/1916

[2017-03-18 12:18] #1908 closed

[2017-03-18 12:18] stevejgordon commented on #1908
@schuback - We couldn't replicate fully on Safari locally but did find a slight layout issue that is now fixed. When you're able, could you check again and we can re-open if required.

[2017-03-18 12:27] #1883 closed

[2017-03-18 12:59] SarahMarz commented on #1902
I can pick up this one

[2017-03-18 12:59] chris-sargood commented on #1882
@tonysurma

I've had a look into this one.

Whenever the preview button is clicked, the POST is resulting in a 500 response:
![image](https://cloud.githubusercontent.com/assets/24384148/24072118/85bcabb2-0bd9-11e7-8ef1-5353560ae375.png)

The odd thing is this doesn't seem to affect my local build, only http://allready-d.azurewebsites.net.

The controller itself is very simple. It takes a model and

[2017-03-18 13:14] chris-sargood commented on #1876
Picking this one up

[2017-03-18 13:15] babagy commented on #1880
Hi, currently looking into this issue. Thanks.

[2017-03-18 13:27] chris-sargood commented on #1876
@stevejgordon

Will this be solved by the middleware you were showing me earlier?

[2017-03-18 13:33] stevejgordon commented on #1876
@chris-sargood - Yes at some point it should do. I think maybe we park this behind what I'm doing.

[2017-03-18 13:34] chris-sargood commented on #1876
@stevejgordon

Okay leaving this one to you.

[2017-03-18 13:35] chris-sargood commented on #1870
Picking this one up

[2017-03-18 13:57] SarabjotSingh1986 commented on #1904
@stevejgordon I'm looking into it

[2017-03-18 14:12] babagy commented on #1873
Hi, currently looking into this issue. Thanks.

[2017-03-18 14:21] chris-sargood commented on #1882
@tonysurma
Don't worry about the logs - I've recreated this locally. Turns out I was on a old version of the code. Doh!

[2017-03-18 14:28] thomasmanville commented on #1879
Picking this Up!

[2017-03-18 14:32] babagy commented on #1871
Hi, I am currently looking into this issue. Thanks.

[2017-03-18 14:34] tonysurma commented on #1882
Ok! Thanks

[2017-03-18 14:47] stevejgordon commented on #1818
Looks like we can close this.

[2017-03-18 14:47] #1818 closed

[2017-03-18 14:51] #1875 closed

[2017-03-18 14:53] stevejgordon commented on #1718
Checked today and this looks fixed

[2017-03-18 14:53] #1718 closed

[2017-03-18 15:05] #1870 closed

[2017-03-18 15:19] pmarshallandrew commented on #1886
picking up

[2017-03-18 15:28] thomasmanville commented on #1879
Navigation change complete; Page request for events incomplete.

[2017-03-18 15:42] schuback commented on #1908
Morning!

I am using Safari Version 10.0.3 (12602.4.8) & Sierra v.10.12.3 (16D32). I
am trying to reduplicate the issue.  I am also going to do a cold reboot.

Thanks.

Pascal

On Sat, Mar 18, 2017 at 5:18 AM, Steve Gordon <notifications@github.com>
wrote:

--

Pascal Schuback
pascal@schuback.com
206.414.8799
@schuback

[2017-03-18 15:54] stevejgordon opened #1925 "Filter event lister on homepage to exclude locked campaigns"
We need to exclude locked campaigns from the event lister on the home page and also only show events from published campaigns.

[2017-03-18 16:08] #1882 closed

[2017-03-18 16:10] #1905 closed

[2017-03-18 17:22] c0g1t8 commented on #1859
Updating **Developer Setup** to reflect.

[2017-03-18 19:11] #1881 closed

[2017-03-18 19:16] #1902 closed

[2017-03-19 03:47] tonysurma commented on #699
this is rather old and is covered by existing functionality in the app so we can consider it closed

[2017-03-19 03:47] #699 closed

[2017-03-19 23:25] shahiddev commented on #1785
@stevejgordon @schuback  Do we also want to see the notes field in the grid list of requests or just on the details of the request?
We would probably want to truncate longer notes if we do show it on the grid.

![image](https://cloud.githubusercontent.com/assets/11890711/24085848/27e25302-0cfb-11e7-8e0a-256c1b3fd205.png)

[2017-03-20 17:15] c0g1t8 commented on #1860
@tonysurma I think this should be closed.

[2017-03-20 17:16] stevejgordon commented on #1860
Yep, looks like it should, thanks @c0g1t8

[2017-03-20 17:16] #1860 closed

[2017-03-20 17:27] stevejgordon commented on #1880
The merged PR closed this out.

[2017-03-20 17:27] #1880 closed

[2017-03-20 17:43] stevejgordon commented on #1873
Fixed in #1927 so closing this out

[2017-03-20 17:43] #1873 closed

[2017-03-20 17:44] stevejgordon commented on #1869
I think @thomasmanville  has this one started. He's away this week, but if we can wait then I'm sure we can expect a PR soon.

[2017-03-20 20:10] c0g1t8 opened #1928 "Removing team leader from itinerary does not remove team lead flag"
To reproduce:
- add team member
- set team member as team lead
- remove team member
- add removed team member

Encountered this when testing fix for #1835.  This can result in having multiple team leads.

Possible solutions:
- prevent removal of team lead by disabling remove
- automatically remove member as team lead before removing member

I can implement either solutions.

@stevejgordon @tonysur

[2017-03-21 10:07] stevejgordon opened #1929 "Event Manager is notified of new requests"
We would like to send a daily summary of activity to the event manager? Preventing hundreds of emails but send a daily update to help adjust outside of app volunteering outreach.

This would initially be a list of newly assigned requests.

@schuback - The current flow from requests coming via API is that they are associate to an organization, but require an org admin to link them to the correct ev

[2017-03-21 18:47] mgmccarthy commented on #1567
@stevejgordon @tonysurma

I think this issue can be closed

[2017-03-22 00:43] mgmccarthy commented on #1864
@stevejgordon has anyone tested the session implementation yet? I'd smoke test that, then we can use the TempData implementation in Andrew's blog to get us started

[2017-03-22 07:31] stevejgordon commented on #1567
@mgmccarthy - Thanks Mike. Yep I believe we have this functionality in there now.

[2017-03-22 07:31] #1567 closed

[2017-03-22 07:48] c0g1t8 commented on #684
@tonysurma I've been looking at these tests as a way to get more familiar with Moq.  I've filled in a few of the stubs and found some bad tests.  Please assign me 😄

[2017-03-22 07:52] c0g1t8 commented on #1928
I've implemented the second option and have it stashed.

[2017-03-22 08:10] stevejgordon commented on #1928
@c0g1t8 - That sounds reasonable for now.

[2017-03-22 15:30] c0g1t8 commented on #1928
This is what the issue looks like:
![image](https://cloud.githubusercontent.com/assets/23250332/24205794/a1483506-0ed9-11e7-81cc-419a803d8ff8.png)

@stevejgordon If you can assign me, I can create a PR with the fix.

[2017-03-22 16:52] baba-gana commented on #1874
Hi, I am looking into this issue. Thanks, Baba.

[2017-03-22 19:16] c0g1t8 commented on #684
@mgmccarthy Question: Looking at the stub for **CreateGetSendsCampaignSummaryQueryWithCorrectCampaignId**.  Not sure what the intent of this test.  **CampaignSummaryQuery** is not publicly exposed in the **EventController** class.

[2017-03-22 19:30] mgmccarthy commented on #684
@c0g1t8, I'm not too sure what you mean "is not publicly exposed"...

The EventController class's Create method looks like this:
[code]

the test stub should test that the CampaignSummaryQuery is being sent with the correct CampaignId

[2017-03-22 19:37] c0g1t8 commented on #684
@mgmccarthy Looked into the other tests.  Should this be **CreateGetReturnsCorrectView_AndCorrectCampaignID**?

[2017-03-22 19:59] c0g1t8 commented on #684
@mgmccarthy Okay - just got it.  The test to ensure that **CampaignSummaryQuery** is called once with the correct parameters. 😄   Thanks.

[2017-03-22 19:59] mgmccarthy commented on #684
@c0g1t8, it does not return CampaignId, it returns EventEditViewModel.

Please do a search for other controller's that use mediator.SendAsync in the code. Then find that controller's unit tests. There are a ton of examples that show how to test what the mediator is sending

The `CreateGetSendsCampaignSummaryQueryWithCorrectCampaignId` unit only tests this line of the action method:
`var campaign =

[2017-03-22 20:28] RyanYoung25 commented on #1815
Justin (jrw348) and I have updated the developer setup and installation instructions for both Mac OS X Sierra and Ubuntu 16.04. We have placed the instructions on separate wiki pages (one per OS) and updated the developer's setup wiki page to point to them. See these links:

[Developer Setup Wiki](https://github.com/HTBox/allReady/wiki/Developer-Setup)

[Running on Linux Wiki](https://github.com/H

[2017-03-22 22:21] c0g1t8 commented on #684
@mgmccarthy I think I've found a possible bug.  I'm working on `PostEventFileSendsEventByEventIdQueryWithCorrectEventId`.

![image](https://cloud.githubusercontent.com/assets/23250332/24223324/d5114790-0f12-11e7-97bb-41aa2fe88fe2.png)

The order of parameters calling `UploadEventImageAsync `appear to be incorrect in `PostEventFile `method of the `EventController `class.

I'm not sure what the cour

[2017-03-22 22:28] c0g1t8 commented on #684
Don't know how I removed myself.  Can one of the powers to be please reassign me. 😄

[2017-03-22 23:08] tonysurma commented on #684
I think because you removed yourself I can't assign you...

[2017-03-22 23:25] mgmccarthy commented on #684
c0g1t8, check the implementation of IImageService.UploadEventImageAsync and see where it actually puts the image (aka, the path to the file). I believe the implementation uses Azure blob storage, so my guess is that the blob path would differ based on the word "Event" or something along those lines.

[2017-03-22 23:28] mgmccarthy commented on #684
@c0g1t8

First check the implementation. If the two params (organizationId and eventId) are "backwards" as your finding suggests, then open a separate issue for it. It should not be part of the unit test work you're doing.

Thanks

[2017-03-23 00:01] c0g1t8 opened #1931 "Order of parameters calling UploadEventImageAsync incorrect in PostEventFilemethod of the EventController class"
The order of parameters calling `UploadEventImageAsync` incorrect in `PostEventFilemethod` of the `EventController` class.

![image](https://cloud.githubusercontent.com/assets/23250332/24225991/fbada638-0f20-11e7-8d7e-c2f50d1f82e6.png)

- Issue found while working on #684.
- Same method is called in other `EventController `methods

[2017-03-23 00:02] c0g1t8 commented on #1931
I've got a fix ready to go.  Please assign to me.

[2017-03-23 00:09] tonysurma commented on #1931
You can send in pull request before we assign.  The silly mobile version of GitHub doesn't have assign function.

[2017-03-23 00:29] c0g1t8 commented on #1931
@tonysurma Something strange is happening with GitHub.  I created a PR but it looks like it's going to a different repository.  I'm seeing

![image](https://cloud.githubusercontent.com/assets/23250332/24226686/1a45047a-0f25-11e7-9f0c-850cafc8badf.png)

[2017-03-23 00:41] tonysurma commented on #1931
It's okay, I'll explain why in a bit

[2017-03-23 01:28] tonysurma commented on #1931
it's back to normal (emoji for whew)

[2017-03-23 01:43] tonysurma commented on #684
regardless of github not allowing re-assignment (don't know why) you can make a PR - thanks!

[2017-03-23 04:13] c0g1t8 commented on #684
@mgmccarthy Working on `MessageAllVolunteersReturnsHttpNotFoundResult_WhenEventIsNull`.  `MessageAllVolunteers` does not have a code path that returns `HttpNotFoundResult`.

[code]

Skip this test or create a new issue?  I'm thinking the latter.

[2017-03-23 06:05] c0g1t8 commented on #684
@mgmccarthy Dug farther.

[code]

The implementation assumes `@event` will always will be found.  I think this is a bad assumption.

I'm thinking we need to re-implement `MessageAllVolunteers` with `EventByEventIdQuery` instead.  This will allow for a check for when _Event is null_.

[code]
The queries don't match and I don't know the domain well enough to know if that's a valid option.

Thoughts?

[2017-03-23 11:23] mjmilan commented on #1903
Ideally, your input control should account for the client's culture, and it would be nice if this could be sniffed from the HTTP Request (I thought it could) but it turns out you can't (unless someone wants to educate me!)

You could have the site record a culture for each user as part of their user settings, but I'd be wary of travelling too far down the localisation road at the moment - you'll e

[2017-03-23 12:02] #1835 closed

[2017-03-23 15:25] mgmccarthy commented on #684
@c0g1t8

I'd delete the test stub. FYI, these test stubs were created a while ago, and there have been code changes to the classes the test stubs test, so some of them might no longer be relevant or even make sense.

[2017-03-23 15:43] mgmccarthy commented on #684
@c0g1t8

No, this is a good assumption.

Where did the eventId come from that we're using to look up the event? It was passed in as a value on the MessageEventVolunteersViewModel:
[code]

what code calls the MessageAllVolunteers action method? The \Areas\Admin\Views\Event\Details.cshtml view:
[code]

you can see above, we're passing in the `@Model.Id` for the `eventId` value. What loads the Detail

[2017-03-23 19:46] EmilyLuijbregts commented on #1886
Hi @pmarshallandrew - just wanted to check in and see how you were getting on?

[2017-03-23 19:54] EmilyLuijbregts commented on #1815
Thanks very much Ryan! This is great work!
@stevejgordon - who normally does documentation reviews? Can you assign this to them?

[2017-03-23 19:57] EmilyLuijbregts commented on #1844
@BBosman - does the article provided by @tonysurma work? If it does - @tonysurma Can we add this to the documentation or notes?

[2017-03-23 19:57] tonysurma commented on #1815
@EmilyLuijbregts actually I got a chance to review these last night and they are outstanding!  Thank you @RyanYoung25 and @jrw348 .  I didn't physically run through every step but they are very thorough and the Mac OS ones match what I have done to get that setup.

[2017-03-23 19:57] #1815 closed

[2017-03-23 20:16] tonysurma commented on #1844
@EmilyLuijbregts we can go one further and implement a change in the code in https://github.com/HTBox/allReady/blob/master/AllReadyApp/Web-App/AllReady/Program.cs and use the code from this answer http://stackoverflow.com/a/39131944 and it would default to development without any work on the dev's part and be able to be changed on the command line

[2017-03-23 22:00] c0g1t8 commented on #684
@mgmccarthy

Deleting `MessageAllVolunteersReturnsHttpNotFoundResult_WhenEventIsNull` and proceeding onwards. 😄

[2017-03-23 22:06] c0g1t8 commented on #684
@mgmccarthy

http://www.michaelgmccarthy.com/2017/01/27/optimize-for-the-happy-path-null-checks/

Very insightful.  I do agree that we often write too much _defensive code_ especially when you are in control of all the entry points.

[2017-03-23 23:04] tonysurma commented on #684
@c0g1t8 after you accept the invite I can assign you again.  Thanks

[2017-03-24 00:56] c0g1t8 commented on #684
@mgmccarthy - I found another test that looks like it needs to be deleted `DeleteConfirmedSendsEventDetailQueryWithCorrectEventId`

Below is the code for the method:
[code]

I'm pretty sure that it needs to be deleted since `EventDetailQuery` is never called.

[2017-03-24 01:04] mgmccarthy commented on #684
@c0g1t8, yep, you can delete that stub. Thanks!

[2017-03-24 01:16] c0g1t8 commented on #684
FYI - almost complete 😄 Only 13 more EditPost tests left.

[2017-03-24 10:22] c0g1t8 commented on #684
@mgmccarthy

Renaming `EditPostAddsValidationErrorsToModelStateErrors_WhenEventDetailsModelValidatorHasErrors `to `EditPostAddsValidationErrorsToModelStateErrors_WhenEventEditViewModelValidatorHasErrors`.

Renaming `EditPostReturnsCorrectView_WhenEventDetailsModelValidatorHasErrors` to `EditPostReturnsCorrectView_WhenEventEditViewModelValidatorHasErrors`.

Trying to be descriptive and accurate.  I

[2017-03-24 14:42] #1783 closed

[2017-03-24 14:49] babagana-zannah commented on #1874
![login in](https://cloud.githubusercontent.com/assets/26461588/24299410/07823e66-10a1-11e7-8833-218b055bc41e.png)
![register in](https://cloud.githubusercontent.com/assets/26461588/24299415/0cba1976-10a1-11e7-8d31-a13adfecb167.png)

[2017-03-24 14:50] babagana-zannah commented on #1874
Hi tonysurma,

I have attached the screenshots. Please let me know if more can be done on this.

Cheers, Baba.

[2017-03-24 15:05] tonysurma commented on #1874
Thanks, I just added some clarification as we were vague with the issue - thanks for your patience.

I think this address the first `place social media logins on register page` and second `reduce size of services buttons` items above, correct?

If you could also change the header to 'Register with these services' then I will merge in the PR and we this will address the issue.

Thanks!

[2017-03-24 15:19] babagana-zannah commented on #1874
So tonysurma my bad for the miss-spelling. I will correct it ASAP.

[2017-03-24 15:21] tonysurma commented on #1874
@babagana-zannah  no need for the 'my bad' 😄

Thanks again

[2017-03-24 15:21] babagana-zannah commented on #1874
All done @tonysurma

[2017-03-24 16:26] #1874 closed

[2017-03-24 16:45] BBosman commented on #1844
I think forcing it to run in Development mode by default is the wrong way to go. Production is the default for a reason.

I would be more in favor of tweaking the code a bit so it doesn't crash on startup on whichever environment Dev/Prod you decide to start the application.

My suggestion would be to tweak the Migration code to something like this:
[code]

This way it will do the migrations if yo

[2017-03-24 17:05] tonysurma commented on #1844
@BBosman I like that - it clears the dev by default concern (good point) and makes a good first run experience that won't affect production (we don't even set that InsertSampleData item in prod config let alone set it to true.

Sounds like a plan!

[2017-03-24 19:19] c0g1t8 commented on #684
@mgmccarthy

I'm working on `EditPostInvokesUploadEventImageAsyncWithTheCorrectParameters_WhenModelStateIsValid_AndFileUploadIsNotNull_AndFileUploadIsAnAcceptableImageContentType` and need to Mock `IsAcceptableImageContentType`.  It's an extension method.

I've done the following:
[code]

But when I run the test, I get the following:
![image](https://cloud.githubusercontent.com/assets/23250332/243

[2017-03-24 19:34] #1928 closed

[2017-03-24 19:41] #1931 closed

[2017-03-24 20:49] c0g1t8 commented on #684
@tonysurma Can you assign me?  There are only 5 tests left to be completed.  They all require the ability to mock extension methods.  But in the mean time, I'm going to create a PR of what I've completed.

[2017-03-24 23:05] c0g1t8 commented on #684
@mgmccarthy

I've been doing some research.  It looks like you can't use Moq to Mock an extension in general 😞.  I did find [Mocking Static Methods for Unit Testing](http://adventuresdotnet.blogspot.ca/2011/03/mocking-static-methods-for-unit-testing.html).  But that requires changing the implementation of the extension.

Should I _skip_ these last remaining tests?  Have we encountered this issue b

[2017-03-25 01:01] c0g1t8 commented on #684
@mgmccarthy

Figured it out 😄.  Looks like what I needed to do was not to Mock `IsAcceptableImageContentType` directly.  A clue was provided by looking at it's implementation.

[code]

What I needed to mock was `ContentType`.  I came up with the following:
[code]

This worked.  I'm proceeding to complete the remainder of the tests now.

[2017-03-25 03:03] c0g1t8 commented on #684
Renaming `EditPostDoesNotInvokeDeleteImageAsyncWithTheCorrectParameters_WhenModelStateIsValid_AndFileUploadIsNotNull_AndFileUploadIsAnAcceptableImageContentType_AndThereIsAnExistingImage` to
`EditPostDoesNotInvokeDeleteImageAsyncWithTheCorrectParameters_WhenModelStateIsValid_AndFileUploadIsNotNull_AndFileUploadIsAnAcceptableImageContentType_AndAnExistingImageDoesNotExist`.

To provide a better des

[2017-03-25 11:42] mgmccarthy commented on #684
@c0g1t8

Nice job!

[2017-03-26 15:10] #684 closed

[2017-03-26 17:19] c0g1t8 commented on #1787
@stevejgordon

I've been looking at some of the _broken down_ work items.  Several have

Has the _pre-requisite PR_ been completed?  If so, I would to take a crack at them 😄.

[2017-03-26 17:56] stevejgordon commented on #1787
There is a PR in which I hope sets many of these up. Just waiting on a review since its a largish change. Then we can release many of these sub items.

Sent from my Windows Phone
________________________________
From: Gary Chan<mailto:notifications@github.com>
Sent: ‎26/‎03/‎2017 18:19
To: HTBox/allReady<mailto:allReady@noreply.github.com>
Cc: Steve Gordon<mailto:sgordon@hotmail.co.uk>; Mention<ma

[2017-03-27 14:05] mgmccarthy commented on #1864
@stevejgordon it looks like asp.net core mvc supports a [cookie-based TempData provider](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/app-state#cookie-based-tempdata-provider). Since I believe running Session also relies on a cookie, this could be the simplistic way to start with TempData.

[2017-03-27 14:08] stevejgordon commented on #1864
@mgmccarthy Unfortunately that requires 1.1 which we decided not to take at this time. However, I assumed TempData could be used in the session mode now we have that enabled.

[2017-03-27 21:33] c0g1t8 commented on #249
I'll take a preliminary look 😄

[2017-03-28 05:27] c0g1t8 opened #1938 "Integration Tests Broken"
I tried to run the integration tests based on the [Prerequisite Install Guide](https://github.com/HTBox/allReady/blob/master/docs/prerequisite_install_guide/prerequisite_install_guide.md) and got the following:

![image](https://cloud.githubusercontent.com/assets/23250332/24389821/6b8277ec-1339-11e7-9b05-92da7ca23e28.png)

I dug further and found _comment out the integration tests for now #542_, _

[2017-03-28 17:29] c0g1t8 commented on #249
@tonysurma I think I have a handle on this one.  Please assign me.

@stevejgordon I'm going to implement you proposal above (Jan 17 comment).

[2017-03-29 13:49] #1785 closed

[2017-03-30 01:47] c0g1t8 commented on #249
Looks like most of the work has been done already.  I found this in the view `Edit.cshtml`.

[code]

The button only appears only if the logged in user is an **OrgAdmin**.   The Administrator@example.com is not an **OrgAdmin**.  Thus no button appears.  I think we should simply remove the check for **OrgAdmin**.

The button does more than copy over the Primary Contact information from the organisa

[2017-03-30 08:26] DanielSchiavini opened #1939 "Task Attachment Renames"
In PR #1660 some inconsistencies were introduced that should be fixed:
- The interface ITaskAttachmentService should be renamed to IVolunteerTaskAttachmentService. The taskId parameter of the method UploadAsync should be volunteerTaskId.
- The class TaskAttachmentService should be renamed to VolunteerTaskAttachmentService. The taskId parameter of the method UploadAsync should be volunteerTaskId. F

[2017-03-30 08:28] DanielSchiavini opened #1940 "Rename task views and view models"
There are some inconsistencies in the code that should be fixed to conclude the task to volunteer task rename:
- The admin views in `AllReadyApp/Web-App/AllReady/Areas/Admin/Views/Task/` should be moved to ` AllReadyApp/Web-App/AllReady/Areas/Admin/Views/VolunteerTask/`
- The view models in ` AllReadyApp/Web-App/AllReady/Areas/Admin/ViewModels/Task/` should be moved to ` AllReadyApp/Web-App/AllRea

[2017-03-30 08:31] DanielSchiavini opened #1941 "Show task attachments to volunteers"
Since PR #1660 we allowed admins to upload attachments to the volunteer tasks. However, the volunteers still cannot see the attachments. We should implement the viewing and/or download of those task attachments for volunteers.

[2017-03-30 08:32] DanielSchiavini opened #1942 "Unit test task attachments"
The code introduced in PR #1660 is not completely unit tested. We should at least introduce tests to TaskAttachmentService but preferably to the other classes involved in the PR.

[2017-03-30 13:03] stevejgordon commented on #1869
This is available for anyone who can take a look.

[2017-03-30 17:35] c0g1t8 commented on #249
@stevejgordon

Rendering the organisation contact information looked like a good idea when I first looked at the issue.  When I looked further at the form, there is a drop down for organisations.  That would mean that the rendering should change to match the organisation selected.

[2017-03-31 07:38] c0g1t8 commented on #249
I've got the following showing on the page

![image](https://cloud.githubusercontent.com/assets/23250332/24540813/a86cba6a-15a9-11e7-9014-a208ae020676.png)

I'm using a glyph for the button to paste/copy the contact information.  I think it's let's obtrusive.

I'm still awaiting feedback on if the location information from the organisation should also be copied over as well.

[2017-03-31 12:31] tonysurma commented on #249
Location info should come over as well

[2017-03-31 18:51] c0g1t8 commented on #249
@tonysurma Thanks- I'll have a PR for you tomorrow.

[2017-03-31 20:18] c0g1t8 commented on #1896
@stevejgordon

Below from slack

I've had a chance look at the SQL database and **AllReadyContext** class. I think I understand the entity model.

Based on the **Admin/Campaign/Details** page, is the intent to provide a link to this _page_?  If so, I'm thinking this could be implemented as part of `CampaignController`
- add a new route Admin/Campaign/Details/[campaignId]/Users
- create a new Users

[2017-04-04 06:26] dchristensen opened #1951 "Home Page Links & Cosmetic Issues"
As I've been working on other issues I've discovered a couple of problems
* Event images are not ever displayed on the homepage
* The links to the events on the homepage do not work if you click on the event title or image
* The social login buttons are getting cut off (for viewports ~1250px and below)

I will get a PR in for these.

[2017-04-04 15:13] dchristensen commented on #1864
I used TempData as part of #1948 to implement the PRG flow for the registration page.  I can confirm it is working as I expected.

[2017-04-06 06:39] c0g1t8 opened #1954 "Unhandled exception when viewing task detail"
I was working on another issue when I found this one.  I navigated to http://localhost:48408/Admin/Event/Details/4 and clicked on **Task # 0**.

![image](https://cloud.githubusercontent.com/assets/23250332/24740391/cb8d826c-1a55-11e7-9a14-45173e835552.png)

http://localhost:48408/Admin/Task/Details/64 returned **an unhandled exception**.

![image](https://cloud.githubusercontent.com/assets/2325033

[2017-04-06 20:33] #249 closed

[2017-04-06 20:34] #1872 closed

[2017-04-06 20:34] #1951 closed

[2017-04-07 09:14] chinwobble commented on #1820
@stevejgordon  I would like to work on this.

[2017-04-08 11:31] DanielSchiavini commented on #1954
@c0g1t8 sorry for this, I had to add and remove the migration several times and in the last commit I forgot to add them. #1956 fixes this

[2017-04-08 14:11] #1954 closed

[2017-04-08 14:12] #1869 closed

[2017-04-08 15:53] c0g1t8 commented on #1954
@DanielSchiavini No problem.  I can see how this can happen.  I've been through _rebase hell_ too 😄.

This _could have/should have_ been caught during some sort of integration testing.  But they seem to be broken #1938.

BTW - Great work. I looked into the history of the original PR.  Learned a few things myself 😄.

[2017-04-08 16:20] tonysurma commented on #1954
Thank you @DanielSchiavini for the PR - I know we went around and around with rebases with your PR...

Thanks @c0g1t8 for the kind words for @DanielSchiavini and for finding the issue!

[2017-04-09 07:05] DanielSchiavini commented on #1954
Thanks 😄

[2017-04-11 04:33] dchristensen opened #1961 "Replacing Image Deletes Updated Image"
There is an error in the logic around replacing images.  I believe it exists for all images types (organization, campaign & event).  The following steps will reproduce the error (note this must be done on a copy that is using the Azure based `IImageService` such as http://allready-d.azurewebsites.net/):

1. Upload an image
1. Verify the image is visible
1. Edit the org/campaign/event again and upl

[2017-04-11 15:03] wmay1991 commented on #1961
How to do you upload an image? I have tried as an organization admin. Can you show screenshots?

[2017-04-11 15:13] dchristensen commented on #1961
@wmay1991 when logged in as an organization admin it looks like you can only update the event images:

![Edit Event](https://cloud.githubusercontent.com/assets/427494/24916298/fcfa1afa-1e96-11e7-939b-e8e465ee24e8.png)

As a site admin you will see a similar upload option when editing organizations and campaigns.

[2017-04-13 05:03] c0g1t8 commented on #249
@tonysurma I think this issue can be closed.

[2017-04-13 05:06] c0g1t8 commented on #1787
@stevejgordon Are you ready to release any of these sub items yet? 😄

[2017-04-13 06:02] stevejgordon commented on #1787
@c0g1t8 The foundation for the authorisation is in. I've implemented some of the bits around authorising event managers, so the issues related to #1803 may be possible to start picking up now. I've nearly got the next step done which is around campaign managers. Once that's finished up a bit further I can get in the bits around doing the auth for the team leads.

[2017-04-13 06:04] stevejgordon commented on #1803
We have some of the auth in place now with the AuthorizableEvent code. The controllers / views can start to be hooked up to start enabling the access as defined above.

[2017-04-13 16:03] wmay1991 commented on #1348
I will look into it.

[2017-04-13 17:29] wmay1991 commented on #1348
I fixed it and submitted a pull request

[2017-04-13 17:41] wmay1991 commented on #1895
I can take a look into this one.

[2017-04-13 19:12] stevejgordon commented on #1787
@c0g1t8 Started work on the authorizable Itinerary and Request bits which will then enable the checks in the controllers around doing this. Will get this wrapped into a PR as soon as possible.

[2017-04-13 19:15] c0g1t8 commented on #1787
@stevejgordon I'll start familiarizing myself with the issue related to #1803. 😄  Been reading up on resource base authorization and was looking to apply what I learned.

[2017-04-13 19:16] stevejgordon commented on #1803
@c0g1t8 As you will be looking at some of the items in here, just let me know if you have any questions around the auth stuff. It's similar to resource based auth but using a custom set of classes to wrap up the code which we need to work out the parent layers for authorization.

[2017-04-14 06:16] c0g1t8 commented on #1961
@wmay1991 Did you look into this further?

[2017-04-14 12:01] wmay1991 commented on #1961
Looking into this

[2017-04-14 19:22] c0g1t8 commented on #1961
@wmay1991

I've been looking at `EventAdminController.cs` as part of another issue and found the possible cause.   It appears that the wrong parameter is being passed to the `UploadEventImageAsync` method in `public async Task<IActionResult> Edit(EventEditViewModel eventEditViewModel, IFormFile fileUpload)`.  `campaign.Id is` being passed.  It should be `eventEditViewModel.Id`.  This erroneous par

[2017-04-14 19:26] c0g1t8 commented on #1961
@dchristensen

From above

Does this sound like what you may have done?

[2017-04-14 19:40] c0g1t8 commented on #1803
@stevejgordon Planning to merge PR #1968 locally to get a better perspective.  Is this advisable?

[2017-04-14 19:44] c0g1t8 commented on #1938
@tonysurma

It looks like  @dchristensen fixed this issue (PR #1962).

[2017-04-14 20:34] dchristensen commented on #1961
@c0g1t8
While that may be an issue, I don't think it is the specific issue I am reporting.  I found this error while working on PR #1955, which originally suffered from the same problem.  The core issue is that when *updating* an image, if the new image's filename matches the original image's filename, the image just gets replaced in Blob Storage, however the code in the handler first uses the `II

[2017-04-14 20:41] #1938 closed

[2017-04-14 20:44] tonysurma commented on #1803
@c0g1t8 I just merged to master so you no longer need to :)

[2017-04-14 22:37] c0g1t8 commented on #1961
@dchristensen

First, nice work on the `FileImageService`.  That simplified local testing a lot. 😄

I think you've hit it on the head.  `DeleteImageAsync `should be called before `UploadEventImageAsync`.  Something like this should work:
[code]

This would be the easiest fix and would handle the case where the actual image has changed but the filename has not.

I looked at the `CampaignController`

[2017-04-14 23:09] dchristensen commented on #1961
@c0g1t8 I think deleting after saving is the correct behavior, we wouldn't want to have something go wrong on the save and end up with no image at all.  I think comparing `existingImageUrl` and `newImageUrl` before actually calling `DeleteImageAsync` would resolve the issue.

[2017-04-14 23:58] c0g1t8 commented on #1961
@dchristensen You have a good point.  But you would only be comparing the URLs not the actual image files.  In the case the user wished to replace the image file with a different image file with the same name, they would need to first delete before uploading.

It sounds like we would need a _swap/replace_ a method on the `IImageService` to maintain _consistency_.

In the short term, I would go wit

[2017-04-15 00:23] dchristensen commented on #1961
@c0g1t8 I think comparing image URLs would be ok, since that is the identifier that is both returned from the `Upload` method and used to perform the `Delete`.

[2017-04-15 00:46] c0g1t8 commented on #1961
@dchristensen  I think I understand what you mean now.
[code]
I like it 😄.  It preserves the old image in case the upload fails since that would be caught as an exception.  And it allows the user to replace the old image with a new one even if the filename is the same.

[2017-04-15 01:12] c0g1t8 commented on #1803
@tonysurma That makes things easier 😄

@stevejgordon I've done a preliminary review of the latest bits.  I think I understand the pattern you are using.  I'll do a  deeper dive tomorrow.

[2017-04-15 06:32] stevejgordon commented on #1803
@c0g1t8 If you look at most (not all) of the admin event controller actions you can see examples of how I've used the IAuthorizableEvent bits.

[2017-04-15 17:47] c0g1t8 commented on #1803
@stevejgordon I think I've got it.  Nicely done 😄.  I'm going to work my way through this epic.

It also looks like you'll need to the same with Campaigns.

[2017-04-15 20:31] c0g1t8 commented on #1896
@stevejgordon I've been looking into #1900 as well and can see that it has a lot in common with this issue.    This makes me want to re-think what I've done in PR #1965.  I'm now thinking there are two other options.

1. Create a new User controller and provide a partial view that can be called from the Campaign or Event controller.
2. Create a partial view associated with the Organization control

[2017-04-16 06:10] c0g1t8 commented on #1803
@stevejgordon Below is a screenshot of `http://localhost:48408/Admin/Event/Details/1` while logged in as **eventmanager@example.com**

![image](https://cloud.githubusercontent.com/assets/23250332/25069247/77fd5d42-2230-11e7-9f1c-4adf619fc94e.png)

I believe the **Duplicate** button should not appear since the event manager should not be able to create new events.  Am I correct?

[2017-04-17 04:18] SteveKennedy commented on #1446
Some investigation:

@digitaldrummerj added a .bowerrc (as part of conversion to true Ionic project) which forced bower to download all bower packages, with some having entire source repositories, directly in the www/lib folder.  This is a safe way to ensure that all bower package contents get restored to the project during bower's default restore routine.  However, it also does not try to exclude

[2017-04-17 20:29] tonysurma commented on #1348
thanks for the contribution @wmay1991 !

[2017-04-18 00:55] SteveKennedy opened #1969 "Consider creating a MobileAppOnly solution"
Consider creating a Mobile App only solution file, that contains just the mobile app project.  This will allow mobile developers to optionally focus on just aspects the mobile project.  Please assign this the mobile app label.

[2017-04-18 14:36] stevejgordon commented on #1803
@c0g1t8 That's correct. We need to amend the view model to carry a flag whether this should be shown or not and then hide in the view if required.

[2017-04-18 15:28] #1348 closed

[2017-04-18 16:45] c0g1t8 commented on #1803
@stevejgordon Done - Including it as part of this issue.

**Update**
I've been working my way through this epic.  Started with _create itineraries_ since I'm most familiar with the `ItineraryController` from working with other issues.
- Changed the authorize attribute from `[Authorize("OrgAdmin")]` to `[Authorize]`.
- Changed
[code]
 to
[code]
- Spending quite a bit of time fixing the unit tests

[2017-04-19 00:40] c0g1t8 commented on #1803
@stevejgordon Just created PR  #1970.

I went a little off course with the `ItineraryController `🤕.  I originally implemented the authorization for its methods based on `AuthorizableEvent`.  Once I completed my implementation I _rediscovered_ #1787.  It's apparent that the work I did could have/should have used an `AuthorizableItinerary`.  This would provide some uniformity in implementation.

Is

[2017-04-19 00:44] c0g1t8 commented on #1787
I'm creating a WIP PR based on this.  Even if we don't use it, it could be the basis for using `AuthorizableItinerary`.

[2017-04-19 06:49] c0g1t8 commented on #1803
@stevejgordon I really should spend more time looking at the commits.  Found your implementation for `AuthorizableItinerary`

[2017-04-19 07:59] stevejgordon commented on #1803
@c0g1t8 No worries. Yep, for each domain entity (event, itinerary, request) etc there is / will be an IAuthorizableXXX for it which knows how to inspect the User (via the UserAuthorizationService) and establish the access they should have on the entity. Does that make sense?

Sorry, I could have made that more apparent up-front.

[2017-04-19 18:49] c0g1t8 commented on #1803
@stevejgordon

Looking to finish the work on the `EventController`.  My question regards the `Create` methods.  I'm scratching my head a bit.  To be consistent I would like to be able to use `AuthorizableEventQuery` for determining authorization.  But no valid `EventId` yet exists.

My original plan would be to use the following:
[code]

The rationale was that I could check the `UserCanDelete()` m

[2017-04-19 19:27] wmay1991 commented on #1961
The fix sounds good to me. Sorry I have been unavailable the past couple days.

[2017-04-19 20:06] stevejgordon commented on #1803
My thoughts on event creation  were that we would uae the authorizable campaign to then validate against it's manage child method.

[2017-04-19 22:40] c0g1t8 commented on #1803
@stevejgordon Okay - that works for me.

[2017-04-20 01:27] c0g1t8 commented on #1803
@stevejgordon I just updated the PR #1970.
- added `AuthorizableCampaignQuery` to match `AuthorizableEventQuery` with a matching **Handler**
- added `FakeAuthorizableCampaign` for use in testing an made it public
- extracted `FakeAuthorizableEvent` to make it public
- updated `EventController` Create methods

Thoughts?

[2017-04-20 05:38] dchristensen opened #1972 "Delete Task Attachment From Azure Blob Storage"
When a Task Attachment is replaced or removed from a task the reference to the attachment is removed from the DB but the actual attachment data is not removed from the Storage Provider.  While not critical, this will leave us with a bunch of orphaned attachments taking up space in Azure.

[2017-04-20 07:10] c0g1t8 commented on #1787
@stevejgordon I've almost completed reworking the `ItineraryController` to follow the pattern used for the `EventController`.  Some of this work will overlap the _broken down work items_.

@tonysurma Please assign me 😄

[2017-04-20 12:34] stevejgordon commented on #1787
@c0g1t8 Do you know which you expect to touch as part of this. In this case each is broken into it's own issue so would be good to assume specific ones. I'm also looking at pickup up some sub items of the epics but don't want to tread on any work you've started.

[2017-04-20 19:34] c0g1t8 commented on #1787
@stevejgordon I've been updating the `ItineraryController` as part of the working on the Event Managers Epic #1803.  There is a cascading effect since I needed to make changes to how authorization worked in the `ItineraryController` to make it work for and **Event Manager**.

After some thought, I'm proposing that I check these changes in with #1803 since they are a consequence of that issue.  I n

[2017-04-21 16:19] mgmccarthy commented on #873
@stevejgordon @tonysurma any update on this?

[2017-04-21 17:41] c0g1t8 opened #1973 "Missing AuthorizationTask"
Needed to complete Event Managers (EPIC) #1803.

[2017-04-22 14:15] #1877 closed

[2017-04-22 22:03] #1973 closed

[2017-04-24 04:31] c0g1t8 opened #1976 "PR #1947 Breaks integration test"
The fix for #1877 changed a tag in `_AdminNavigationPartial.cshtml` on which the integration tests requires.

[2017-04-24 05:16] dchristensen commented on #1976
I'll get this fixed.

[2017-04-24 05:28] c0g1t8 commented on #1976
@dchristensen I pushed up a PR just before you 😄.  I was testing #1803 when I encountered this problem.

My fix was just to fix the test since your changes to the app worked.

[2017-04-24 14:00] tonysurma commented on #1976
thanks @dchristensen and @c0g1t8 - I merged in @c0g1t8 fix but let me know if I should merge in @dchristensen's PR as well?

[2017-04-24 18:34] c0g1t8 commented on #1976
@dchristensen I think you are best to judge which one should be merged  I'll leave it to you 😄

[2017-04-25 05:29] c0g1t8 commented on #1972
@dchristensen I think this would be a great candidate for an Azure Function 😄.

@tonysurma Whose the Azure go to person?  I wouldn't mind taking a crack at this.

[2017-04-25 05:42] c0g1t8 commented on #1961
@wmay1991 If you don't mind, I'll push a PR on this.

[2017-04-25 06:30] c0g1t8 commented on #1802
I'm going to take this one if no one minds.  I've got a lot practice with #1803.

[2017-04-25 14:17] dchristensen commented on #1972
@c0g1t8 I think if we handle the logic in the app correctly and delete the attachments from Blob Storage when they are removed or replaced, like we do with the Org/Campaign/Event images, we could avoid the additional complexity of an Azure function.

[2017-04-25 14:28] dchristensen commented on #1976
@c0g1t8  I honestly don't know enough about how canopy's selectors work to know if this is even an issue, but the reason I took the approach of adding the `.dropdown-admin` class back in was because the `li.dropdown` selector is not unique to the admin menu, it also matches the Account/Logout menu.

[2017-04-25 14:44] #1976 closed

[2017-04-25 14:45] tonysurma commented on #1976
thanks @dchristensen and @c0g1t8.  Given that I merged in #1978.  If we that does it - great, if not then I will merge in #1977 as well...

[2017-04-25 17:17] c0g1t8 commented on #1972
@dchristensen I agree that fixing the code would be the best approach.  I was thinking of creating an Azure function as a _clean up mechanism_ for production data.  I've been on projects where _data inconsistencies_ have been introduced by bugs.

In those cases, I've written applications that do the clean up.  Some have evolved into data consistency applications that would be run on a schedule. It

[2017-04-25 17:24] wmay1991 commented on #1961
Sure

[2017-04-25 17:48] c0g1t8 commented on #1976
@dchristensen I'm on a similar learning curve with Canopy and am a newbie when it comes to CSS.  Been do a little more reading on [Canopy ](https://lefthandedgoat.github.io/canopy/index.html) as well.

Canopy uses the same selectors as CSS as well as text for selection.  It's selection is in the context of the current page.

The benefit of you fix is that it ensures uniqueness even if we make furt

[2017-04-26 06:03] c0g1t8 commented on #1802
@stevejgordon @tonysurma

I've got the _enable campaign manager_ part done but it's dependent on #1803.  I'll create a PR once #1803 is merged.

@stevejgordon In making these changes, it feels like there should be an `IAuthorizableOrganization `interface with associated support classes for consistency purposes.  I ended applying an `[Authorize("OrgAdmin")]` attribute to some methods.  Thoughts?

[2017-04-26 06:50] stevejgordon commented on #1802
@c0g1t8 Yep, that's my thought too. It makes sense to have a standard approach.

[2017-04-26 15:04] c0g1t8 commented on #1802
@stevejgordon I'll take a crack at `IAuthorizableOrganization`

[2017-04-27 19:32] #1961 closed

[2017-04-27 20:18] mgmccarthy commented on #1639
@dpaquette @stevejgordon @tonysurma @MisterJames

I have an asp.net core MVC solution running locally where the entities, the DbContext and the migrations are kept in a separate assembly (project) than the web project.

seems like running migrations like this works and I've successfully used the DbContext from the separate assembly.

I know there is code where Hangfire is being used to make async

[2017-04-28 09:11] stevejgordon commented on #1639
@mgmccarthy Sounds like great progress. One thing to consider is that @MisterJames suggested we look might want to look at moving away from WebJobs to true Azure Functions - Serverless. I'm not sure if Azure Functions can/should consume entity framework for data access.

[2017-04-28 12:38] mgmccarthy commented on #1639
@stevejgordon I'll do some reading on azure functions and see if DI is possible If it's not, we could still use service locator (event though it's not a "best practice") and still achieve the same result

[2017-04-28 12:49] mgmccarthy commented on #1906
@stevejgordon  cc @tonysurma

my guess is that for requests we receive "outside" the system, we just default to sms to start with. Any requests created "inside" our system **could** have the ability to associate the requestor (or "user") with a login... but to be honest, I really don't see requestors as a "user" of our system...

in other words, the only reason they would want to "log in" would be

[2017-04-28 13:01] mgmccarthy commented on #1972
@c0g1t8 @dchristensen

IMHO, we should not be using Azure functions like this. Using them to cleanup something that can be taken care of in the code (which is testable and compile time safe in the IDE) is the way to go. Not that Azure functions are NOT testable, but you don't need an Azure account as a developer in order to do this work in the IDE.

The transactional consistency of this operation

[2017-04-28 13:15] mgmccarthy commented on #1942
@DanielSchiavini

We can't test TaskAttachmentService b/c it contains the real implementation for CRUD based blob storage in Azure. That's why TaskAttachementService is abstracted by ITaskAttachmentService. Any code that uses ITaskAttachementService should be tested/testable, but testing the service itself has no value.

The only thing I think could be testable by taking a look at the code is how

[2017-04-28 13:43] mgmccarthy commented on #1639
@stevejgordon looks like our current functions we have written in AllReady.NotificationsWebJob just directly new up the required dependencies. ProcessSmsQueueMessage creates a new TwilioRestClient and
ProcessEmailQueueMessage creates a new SendGridMessage.

That being said, the first step in moving towards allowing an azure function to work with DbContext would be to new up the DbContext directly

[2017-04-28 14:52] mgmccarthy commented on #1929
@stevejgordon @schuback

is this something that we're ready to move on, or is it more of a question whether or not we need this functionality?

[2017-04-28 15:30] mgmccarthy commented on #1522
@schuback is this still an issue?

[2017-04-28 15:48] schuback commented on #1522
I'll test now with a new user setup.

On Fri, Apr 28, 2017 at 10:30 AM, Michael McCarthy <notifications@github.com

--

Pascal Schuback
pascal@schuback.com
206.414.8799
@schuback

[2017-04-28 15:56] schuback commented on #1522
Created a new user (schuback@crew.org)

Received the confirmation email. Huge link. screenshot below

Link went to an error page - screenshot below w/version info (error page
URL -
http://allready-d.azurewebsites.net/Account/ConfirmEmail?userId=579de6b8-71bf-46c7-bfea-721b086681de&token=CfDJ8MQUQb73O6lIu3LaEjreHzTVL%2F0Db%2FiLHAuHL34R23tsellHyXXA72Ky0OTUB7opI4oiFGiNKKgZSUTX%2FpiBZjRKAxOANhcEtqG9QF

[2017-04-28 16:00] mgmccarthy opened #1980 "Move AllReadyContext to a separate assembly"
@stevejgordon @dpaquette @MisterJames @tonysurma

Moving AllReadyContext from the AllReady assembly to a separate assembly will allow us to the the context in other assemblies, mainly the assemblies that contain Azure functions.

In Issue #1639 and Issue #1626, there is a need to asynchronously invoke RPC-style services from our code (whether it be controllers or MediatR handlers), as well as curr

[2017-04-28 17:29] c0g1t8 commented on #1972
@mgmccarthy

First, I fully agree with you and @dchristensen that _fixing the problem at origin_ is always the preferable approach.

The original issue reported was

I wanted to suggest the use of Azure functions as a clean up mechanism for production data.  I prefer automated versus manual clean up.

I've been using Azure for a number of years 😄.  I asked about the _Azure go to person_ because I

[2017-04-28 18:03] mgmccarthy commented on #1972
@c0g1t8,

I'm not too sure there is a "Azure go to person" on the team currently.

That being said, I thikk this decision depends on what needs to be transactionally consistent from the projects point of view.  If the project owners want the blob cleaned up at the point of being replaced or removed, then we can do that in code. Furthermore, we can handle the deletion of the blob async from the sql

[2017-04-28 18:25] mgmccarthy commented on #1522
@schuback I'm confused by your response. Is the issue fixed or not?

you mention an error here:

URL -
http://allready-d.azurewebsites.net/Account/ConfirmEmail?userId=579de6b8-71bf-46c7-bfea-721b086681de&token=CfDJ8MQUQb73O6lIu3LaEjreHzTVL%2F0Db%2FiLHAuHL34R23tsellHyXXA72Ky0OTUB7opI4oiFGiNKKgZSUTX%2FpiBZjRKAxOANhcEtqG9QF1NIuqVR9VSbu5sNeWKU2IrKdsJ9T4mTrJ33018jpikSpXUwo2elhSDsUOainkvlFa%2FF4s3z1qcVJ

[2017-04-28 18:28] schuback commented on #1522
Hi Micheal.  Sorry about that. I was in transit during the process.  I will
copy and past into another issue. As for the SMS issue.  Yes it is fixed
and working!  Thank you!  We can close the ticket.

Happy Friday!

On Fri, Apr 28, 2017 at 1:25 PM, Michael McCarthy <notifications@github.com>
wrote:

--

Pascal Schuback
pascal@schuback.com
206.414.8799
@schuback

[2017-04-28 18:30] mgmccarthy commented on #1522
@schuback that's great news! Thanks for taking the time to test it out again.

So, there is still an error condition and that's happening during clicking on the link in the email, right?

[2017-04-28 18:33] schuback opened #1981 "Error during new user registration process"
I was registering as a new user.  Entered my email. It then sent me an email for confirmation with a link.  The link pushed me to this error page. (screenshot attached)

Link went to an error page - screenshot below w/version info (error page URL - http://allready-d.azurewebsites.net/Account/ConfirmEmail?userId=579de6b8-71bf-46c7-bfea-721b086681de&token=CfDJ8MQUQb73O6lIu3LaEjreHzTVL%2F0Db%2FiLHAuH

[2017-04-28 18:34] mgmccarthy commented on #1510
@schuback

can we make this item automated?

specifically, if a task changes along the data points you mention,  all volunteers are notified. This would be the default behavior. Volunteers could then "opt out" of those notifications if they do not wish to receive them.

This should take the responsibility off of the admin for having to remember to do this, and instead, put the control into the han

[2017-04-28 18:36] schuback opened #1982 "! graphic placement"
When going through the new user registration process, I saw this graphic (image below).  Is there a way we can have it show to the left of the user name instead of onto of the down arrow? Thanks!

<img width="1004" alt="screenshot 2017-04-28 10 50 36" src="https://cloud.githubusercontent.com/assets/830036/25542316/9c7c9fb6-2c17-11e7-876a-5d1341358009.png">

[2017-04-28 18:38] schuback commented on #1522
I feel bad that I have been so busy and haven't been able to spend time.
Great time during a flight delay!

Correct. The new issue is clicking that link takes me to an error.  I just
submitted a new ticket.  I submitted a second one too for the ! graphic.

p

On Fri, Apr 28, 2017 at 1:30 PM, Michael McCarthy <notifications@github.com>
wrote:

--

Pascal Schuback
pascal@schuback.com
206.414.8799
@s

[2017-04-28 18:43] schuback commented on #1510
The automated process is great.  I feel that there needs to be a way for an
admin/manager be able to ping 1:1 Although, if we have the phone number of
the users we can have them call. This is more of safety feature and having
the ability to direct contact an individual.

We can close this for v.1 and look at it once we have real events taking
place and user feedback.

On Fri, Apr 28, 2017 at 1:34

[2017-04-28 20:12] mgmccarthy commented on #1510
@schuback

the ability to direct contact an individual.

in what way is it a safety feature? can you expand on that? I just want to make sure I'm not missing an important concept here.

[2017-04-28 20:18] schuback commented on #1510
If the admin/event manager needs to share a message to the team lead or
individual person (safety threat, concern) they can ping the person
directly and not ping the whole team/public.

On Fri, Apr 28, 2017 at 3:12 PM Michael McCarthy <notifications@github.com>
wrote:

--
--
Pascal

[2017-04-28 20:22] mgmccarthy commented on #1510
Ok, that is good info to know. We need to build a UI/functionality for that specific use case b/c it seems like an very important thing (safety threat etc..)...

Thanks!

[2017-04-28 20:43] schuback commented on #1510
That would be great.  A UI for it would be great. It can be done on the
next version.

On Fri, Apr 28, 2017 at 3:22 PM Michael McCarthy <notifications@github.com>
wrote:

--
--
Pascal

[2017-04-28 20:52] tonysurma commented on #1972
the effective azure goto person is me.

Thoughts: definitely prefer automated over cleanup.

Given this project I would prefer that we "split the difference" and both have them deleted at time of replacement as well as have an azure function that can do a sweep for orphans.  I have several other projects and things get out of synch due to bugs, evolution of code over time, etc. and on one we don't

[2017-04-28 23:15] c0g1t8 commented on #1972
@tonysurma Thanks that helped me.  There are two things:
1. Fix the code so this doesn't happen again.
2. Clean up any possible inconsistency.

My mind was overly focused on the latter which is the result instead of the cause.  _Missed the forest due to the trees_ ☹️  I'll take a look to see what is needed to fix this problem since it sounds similar to #1961.

@mgmccarthy Always good to hear from

[2017-05-01 11:26] mgmccarthy commented on #1510
@schuback, digging into this even deeper, what would an example be of a "safety threat, concern , etc..." for a given Campaign/Event?

[2017-05-01 13:15] mgmccarthy commented on #1981
@schuback

I could not reproduce this bug.

I just went and registered on the site and the email link for me worked. Here is the email in my inbox:
![image](https://cloud.githubusercontent.com/assets/2428993/25580354/5bae3ee8-2e4e-11e7-962d-7ed2fe74b0b5.png)

I clicked on the link and was brought to this page:
![image](https://cloud.githubusercontent.com/assets/2428993/25580311/05bf0724-2e4e-11e7-

[2017-05-01 14:42] schuback commented on #1981
Hi Michael.  Interesting.  When I tried it I clicked on the email just
after I did the sms check after registering. Probably less than an hour. So
I just tried it again with a different email. It works. Thank you for the
testing.

On Mon, May 1, 2017 at 7:15 AM, Michael McCarthy <notifications@github.com>
wrote:

--

Pascal Schuback
pascal@schuback.com
206.414.8799
@schuback

[2017-05-01 14:42] #1981 closed

[2017-05-01 14:48] mgmccarthy commented on #1981
@schuback, my guess is that the error was caused by the email you initially used to click on the link was more than x hours old.

Do you still have that email? If so, what is the delivery date? If my assumption is correct, it means we need to correct the code so users that are trying to confirm their email address with an old email receive a helpful UI message instead of being directed to the erro

[2017-05-01 14:56] schuback commented on #1981
The delivery date was Fri, Apr 28, 2017 at 9:49 AM
I started to create the new user at Fri, Apr 28, 2017 at 9:47 AM so I do
not think it was an old email. Although your suggestion on some language
about what to do if this is an old language would be smart to do.

On Mon, May 1, 2017 at 8:48 AM, Michael McCarthy <notifications@github.com>
wrote:

--

Pascal Schuback
pascal@schuback.com
206.414.8799

[2017-05-01 14:59] schuback commented on #1510
@mgmccarthy <https://github.com/mgmccarthy> great question! I will give you
some examples for different scenarios.

For a smoke detector install day.  Security/safety  issue could be
identified threat with a location and need to round the team up without
attention, possible issue back at basecamp (starting point).

For other use cases, you could have a family member/friend looking for
family membe

[2017-05-01 15:00] mgmccarthy commented on #1981
@schuback, ok, for now, let's chalk it up to something being not available/working correctly that was NOT code based... maybe an azure service being down or not working correctly.

Thanks

[2017-05-01 15:10] schuback commented on #1981
It could easily have been me and my snickity laptop!  :)

On Mon, May 1, 2017 at 9:00 AM, Michael McCarthy <notifications@github.com>
wrote:

--

Pascal Schuback
pascal@schuback.com
206.414.8799
@schuback

[2017-05-03 13:16] YannickMeeus commented on #1766
I've picked this up, will be raising a PR in a bit.

[2017-05-03 14:58] mgmccarthy commented on #1766
@YannickMeeus thanks. There are other unit tests that show how to mock/test IBackgroundJobClient, let me know if you have any questions.

[2017-05-03 17:06] YannickMeeus commented on #1765
I'll be picking this up if that's alright.

[2017-05-04 07:35] HamidMosalla commented on #1894
@stevejgordon Working on it, what campaign manager has access to is determined by the values in `CampaignManager` table, am I right?

[2017-05-04 11:06] stevejgordon commented on #1894
@HamidMosalla Yes that's correct. That table maps users to campaigns they are allowed to manage.

[2017-05-04 12:40] wmay1991 commented on #1941
Where should it be shown on the task?
![image](https://cloud.githubusercontent.com/assets/12055979/25703855/44de1c3e-30a5-11e7-89b9-014a0742e582.png)

[2017-05-04 12:44] wmay1991 commented on #1899
Under the admin item, there is currently only campaigns showing. So for this story, we need to create an event menu item.
![image](https://cloud.githubusercontent.com/assets/12055979/25703999/e09033f6-30a5-11e7-88bd-c6772dbebb1a.png)

[2017-05-04 13:02] wmay1991 commented on #1890
Should the invite be deleted from the db or set some sort of cancelled status?

[2017-05-04 13:03] wmay1991 commented on #1890
Having RevokedDateTime field being set

[2017-05-04 13:05] wmay1991 commented on #1887
Should revoked invites be shown?

[2017-05-04 13:06] wmay1991 commented on #1888
Could we added to the Admin menu with an Item called Invites?

[2017-05-04 13:09] wmay1991 commented on #1842
Would the documentation be put in the wiki?

[2017-05-04 16:25] mgmccarthy commented on #1972
@c0g1t8

In `EditVolunteerTaskCommandHandler` at this line:
[code]
is where the "clean up" takes place when deleting an attachment from a task. Obviously, there is no call out to azure to also delete the blob that is associated with this attachment.

You already have the ITaskAttachmentService injected into this handler, so you have some choices how to take care of the blob cleanup:

1. call ITask

[2017-05-04 21:28] mk0sojo commented on #1982
Gave this a try.
I will submit a pull request if you think it is ok.

<img width="1268" alt="already_exclamation_circle" src="https://cloud.githubusercontent.com/assets/15338483/25725605/a8f0cb86-3118-11e7-8f84-9b78280700d0.PNG">

[2017-05-04 21:34] schuback commented on #1982
This looks great!  Thank you Jonas.

On Thu, May 4, 2017 at 2:28 PM, Jonas Soderholm <notifications@github.com>
wrote:

--

Pascal Schuback
pascal@schuback.com
206.414.8799
@schuback

[2017-05-05 07:14] YannickMeeus commented on #1940
I can pick this up.

[2017-05-05 16:06] c0g1t8 commented on #1803
I want to provide more information on PR #19- 70 and update this issue.  This PR enables

create itineraries - pending new auth classes
create manual requests - pending new auth classes
close out requests - pending new auth classes

In the sample data a user **eventmanager@example.com** is already assigned as an _Event Manager_ to an event.  It can be directly accessed - http://localhost:48408/adm

[2017-05-05 16:38] c0g1t8 commented on #1787
@stevejgordon While working on #1803 many of the sub-items in this issue were also addressed.  PR #1970 included the addition of the new authorization model to the `ItineraryController`.

The following should/could be closed:
- Team lead view itinerary details for any itinerary they lead - Included in #1821
- Team lead view requests details from any itineraries they lead - Included in #1822
- Team

[2017-05-05 16:40] c0g1t8 commented on #1821
@stevejgordon @tonysurma This can be closed as per my comments in #1787.

[2017-05-05 16:41] c0g1t8 commented on #1822
@stevejgordon @tonysurma This can be closed as per my comments in #1787.

[2017-05-05 16:41] c0g1t8 commented on #1823
@stevejgordon @tonysurma This can be closed as per my comments in #1787.

[2017-05-05 16:41] c0g1t8 commented on #1788
@stevejgordon @tonysurma This can be closed as per my comments in #1787.

[2017-05-05 16:42] c0g1t8 commented on #1824
@stevejgordon @tonysurma This can be closed as per my comments in #1787.

[2017-05-05 18:14] mgmccarthy commented on #1384
@MisterJames @dpaquette @dpaquette

FYI, after digging into WebJobs a bit more, it seems that Hangfire and WebJobs suffer from the same problem, they both run continuously in the background taking resources away from the web server (IIS/Azure app services)...

in order to move away from that model, it looks like Azure Functions are the way to go, as they "live" in their own app services when you c

[2017-05-05 23:26] c0g1t8 commented on #1972
@mgmccarthy

A great analysis once again. 😄 I'm inclined to go with Option `#1`.  It is the simplest solution that addresses the reported problem.

- Option #2 Using MediatR - to be consistent a `TaskAttachmentAdded `message should also be created.  This would be additional work and I don't see the additional benefit of further decoupling.  Or am I missing something?
- Your post in #1384 appears t

[2017-05-06 11:25] mgmccarthy commented on #1972
@c0g1t8,

I agree, Option 1 is the best approach for now.

For option 2, the only decoupling you're getting is isolating behavior for the attachment/azure code to another class. MediatR is still a synchronous pipeline under the covers, so even though there are two classes where there is now one, the whole thing (including the call to blob storage) is synchronous.

For now, we'd like to limit the H

[2017-05-07 01:06] HamidMosalla commented on #1894
@stevejgordon I need to decide on how to implement the security aspect of this, what I chose is to create a method in claim extensions something like:
`public static bool IsCampaignManager(this ClaimsPrincipal user)`
Am I going the right path? If so, it mean adding a new `UserType `and new claim, which makes the campaign manager a special user, or I could get the current user's id and check to see

[2017-05-07 07:18] mk0sojo commented on #1939
I can take this one.

[2017-05-07 07:46] #1824 closed

[2017-05-07 07:47] #1821 closed

[2017-05-07 07:47] #1822 closed

[2017-05-07 07:47] #1823 closed

[2017-05-07 07:47] #1788 closed

[2017-05-07 07:47] stevejgordon commented on #1787
Thanks @c0g1t8

[2017-05-07 07:48] stevejgordon commented on #1803
@c0g1t8 Updated, thanks.

[2017-05-07 07:52] stevejgordon commented on #1842
@wmay1991 I think best option is to build Markdown pages to sit under allready/docs/user_documentation

[2017-05-07 08:01] stevejgordon commented on #1894
@HamidMosalla We have some authorization concepts now that partially enable this. I've just checked and I have some code I started to update a new UserAuthorizationService that I added a few weeks ago. This service get's hooked up by middleware and will become our single point for user authorization code.

I'll see if I can finish that off this morning and get it checked in, since that will then g

[2017-05-07 08:33] stevejgordon opened #1989 "Expose IsTeamLead, IsCampaignManager, IsEventManager on UserAuthorizationService"
As required in #1894 the UserAuthorizationService needs to expose methods to allow quick checking on what user access the current user has.

[2017-05-07 08:37] stevejgordon commented on #1894
@HamidMosalla - I've submitted PR #1990 to add helper methods to expose the current user's authorized access types.

[2017-05-07 14:22] #1765 closed

[2017-05-07 14:23] #1982 closed

[2017-05-07 14:24] #1989 closed

[2017-05-07 15:26] johnmwright commented on #1904
@SarabjotSingh1986 Are you still looking into this one? It looks like a fix was merged, so perhaps this issue needs to be closed?

[2017-05-07 15:34] johnmwright commented on #1505
What's the status of this issue?  Is it still a valid issue for people looking to "jump in" (ie: take on first/second task)?

[2017-05-07 15:41] johnmwright commented on #1439
I'm not seeing any tests still marked as `[Skip]` in `EventViewModelShould`, so it appears the fix for #1539 may have fixed this issue.  @tonysurma is this still something that needs work? If so, can you please provide more details?

[2017-05-07 15:46] johnmwright commented on #1427
ping @tonysurma -- Should this issue be closed or is there more work to be done? If more work, can you provide some details?

[2017-05-07 16:40] johnmwright commented on #340
FYI: I'm going to address a few of these and submit PRs as I finish logical chunks.

[2017-05-07 19:58] c0g1t8 opened #1992 "Team Management by Team Lead"
Breaking this out from #1787 Itinerary Team Lead EPIC.

I made the following comment:

IMO - this is a _business rule_ related question.  Thoughts?  Is this even an issue?

[2017-05-07 20:23] mgmccarthy commented on #1439
@johnmwright, if there are no more `[Skip]`'s in the EventViewModelShould test class, then this issue can be closed.

[2017-05-07 20:27] mgmccarthy commented on #1427
@johnmwright, this issue can be closed.

I just looked at the code and there is no longer EditEventCommandHandlerShould1` and `EditEventCommandHandlerShould2` test classes, just the `EditEventCommandHandlerShould` test class that had all the tests from those previous two classes consolidated into it via #1429.

[2017-05-07 21:40] NRKirby commented on #1939
Hi, I went ahead & made a pull request for this issue & just realised @mk0sojo said he'd take this one!

[2017-05-08 07:51] HamidMosalla commented on #1894
@stevejgordon It's done, thanks for the quick response regarding authorization, let me know if there was any problem.

[2017-05-08 12:52] schuback commented on #1522
@mgmccarthy - Hi Michael.  I just tried registering a new user and ran into issue with the SMS verification process.  I entered a number during registration, then went to my account page to verify.  Went through the resend code and have not received them. I tried using a different number (first number is with google voice) and still have not received a text.  Let me know if you need anything else.

[2017-05-08 13:02] mgmccarthy commented on #1522
@schuback cc @tonysurma

Without access to the production environment there is no way for me to tell what the problem is.

Also, since (to the best of my knowledge) we don't have a production logging solution, I'm not too sure where I would even look for a problem if there was one.

I'm assuming getting access to the webjob that pulls SMS requests off the queue is oneplace to start

[2017-05-08 13:15] schuback commented on #1522
Good to know. Thanks Micheal.

On Mon, May 8, 2017 at 6:02 AM, Michael McCarthy <notifications@github.com>
wrote:

--

Pascal Schuback
pascal@schuback.com
206.414.8799
@schuback

[2017-05-08 15:08] EmilyLuijbregts commented on #1925
@pmarshallandrew  - just wanted to check in and see how you were getting on with this task?

[2017-05-08 19:31] mgmccarthy commented on #1972
@c0g1t8 do you want to take this issue and implement option 1?

[2017-05-10 00:14] c0g1t8 commented on #1972
@mgmccarthy I'll take this issue 😄.

[2017-05-12 18:19] wmay1991 commented on #1899
Picking this up

[2017-05-13 01:24] HamidMosalla opened #1999 "Analysis on centralizing FakeUserManager"
There is a class called `FakeUserManager` that copied and pasted across the project, to provide mock for `UserManager`, as discussed on #1997 , @mgmccarthy suggested that we create a centralized version of this class, we already have `AllReady.UnitTest.MockHelper.CreateUserManagerMock` in the project, but I need a version that can provide the `GetUserAsync` method for controllers that are dependen

[2017-05-13 12:36] mgmccarthy commented on #1999
@HamidMosalla please close this issue. I don't know if we want to centralize it yet, and I want to do analysis on what it's needed across multiple test classes, and if it is needed, why so many fakes are needed on FakeUserManager. Just leave it in the test classes for now.

[2017-05-13 12:40] mgmccarthy commented on #1999
@HamidMosalla cc @stevejgordon  I'm going to take a look at this. @HamidMosalla for now, just leave the FakeUserManager in the test class that was part of the PR and the code review I did for you. Thanks!

[2017-05-13 15:28] marigerr commented on #1603
Hi, I noticed the comments on this issue were a few months old.  I created a test for this as a way to start learning about the project.  I can make pull request, if it's not being worked on otherwise?

@NRKirby , @mgmccarthy

[2017-05-13 17:16] mgmccarthy commented on #1603
@marigerr, please submit your PR.

[2017-05-13 17:24] marigerr commented on #1198
Hi, I'm new to the project and going through 'jump-in' issues to hopefully find issues to contribute on.  It seems that this issue has been resolved with merged PRs from @bmaluijb and can be closed?

[2017-05-13 17:49] marigerr commented on #1603
@mgmccarthy, okdoke thanks.  I submitted the PR.

[2017-05-14 07:18] mk0sojo commented on #1925
I can pick up this one if no one is working on it.

[2017-05-14 19:11] marigerr commented on #1879
@thomasmanville, @stevejgordon
I saw this was part of P2 and last comment was couple months ago.   I can help out if needed.
Should the new Event Nav link to the Home/Index View that shows Active/Upcoming Events?

[2017-05-14 21:03] mk0sojo commented on #1903
The problem in this case appeared to be that while we are forcing the culture and UI culture to be en-US in Startup.cs we are reading the browser culture for the date picker. If you are in the US this is not an issue, but can be a bit of a pain when you are somewhere else. To fix this we just need to set the locale on the time picker to CultureInfo.CurrentCulture and they should match. Will create

[2017-05-18 17:12] #1925 closed

[2017-05-18 19:15] mk0sojo commented on #1886
I can look into this one

[2017-05-19 00:27] mgmccarthy opened #2003 "For CampaignManager, EventManager and TeamLead why are we not using Claims?"
@stevejgordon @tonysurma @MisterJames

From my understanding, we're keeping the id's of the entity(ies) whose type a user is a manager of in the database, which is fine.

However, there are checks supported by UserAuthorizationService that return whether or not a given user is a CampaignManager (in which one or more Camapaign Id's are found in the CampaignManagers table)...

instead of a db query

[2017-05-19 06:45] stevejgordon commented on #2003
Hi Mike.

It was a combination of things but one of the main ones being the planned move to Identity Server. At the time when that moves forward we won't want the identity server to have specific knowledge of the authorization within the client sites (allReady). So the IdentityServer will authenticate the user only.

At that point we will need some kind of lookup on allReady to get the user local

[2017-05-19 11:42] mgmccarthy commented on #2003
@stevejgordon thanks for the answer. Since I know nothing about Identity Server (what is the specific Identity Server we're looking for?), sounds like we'll keep the code as-is for now.

Do you happen to know which "Identity Server" we'll be using? This one? http://docs.identityserver.io/en/release/#

[2017-05-19 11:51] stevejgordon commented on #2003
Yep, that's the one. We have a repo for it but put it hold while working on the v1 milestone for allReady.

[2017-05-21 16:43] #1894 closed

[2017-05-21 16:46] #1999 closed

[2017-05-22 07:13] stevejgordon commented on #1992
@c0g1t8 Sorry for the delay. I discussed this with one of the project owners and agree that a Team Lead should not be able to manage teams members at this stage. We will limit that functionality to the next layers of authorization (event/campaign managers, org and site admins).

[2017-05-24 00:30] mgmccarthy commented on #1522
ping @tonysurma can you take a look at this, or get me access so I can take a look at it? I'm guessing if it's a failed message, then is should be in the backing queue that ends in "-poison"? (at least I think...)

[2017-05-24 00:45] mgmccarthy commented on #1788
@stevejgordon, any idea what PR or PR's this issue was tied to? I'm doing a search for CloseRequestCommand and I'm not finding anything in the solution....

[2017-05-24 11:47] stevejgordon commented on #1788
@mgmccarthy I think it should work via ChangeRequestStatusCommand

[2017-05-24 12:05] mgmccarthy commented on #1907
@stevejgordon, I'm trying to look into what it will take to implement this, but it's a bit of a maze between all the linked issues and the PR's...

I'm assuming here if  a team lead ends up sending the ChangeRequestStatusCommand with a status of Completed from the AllReady.Areas.Admin.Controllers.ItineraryController, that is when we'd want to do the lookup of the next requestor on the itinerary an

[2017-05-24 12:07] mgmccarthy commented on #1788
@stevejgordon the language used here **close** request is not reflected in our code... here are the possible request statuses:
[code]

so, the action of "closing" a request maps to which enum for the RequestStatus?

[2017-05-24 14:32] joshuahysong opened #2007 "AllReady.UnitTest build failing"
AllReady.UnitTest fails to build with error "The name 'MockHelper' does not exist in the current context"

This object is referenced on line 386, 400, and 418 in Allready.UnitTest.Controllers.CampaignControllerTests

![capture](https://cloud.githubusercontent.com/assets/8880993/26408562/2508b2e4-406c-11e7-9d2b-c4c0279466d7.PNG)

[2017-05-24 18:35] mgmccarthy commented on #2007
@joshuahysong, sorry about that. Looks like it's my fault. A ReSharper "rename" that never picked up these other items.

I'm working on the fix now and will have a PR in shortly

[2017-05-24 18:35] joshuahysong commented on #340
If there are still strings that need to be converted I'd love to use this as an opportunity to begin contributing.

[2017-05-24 18:41] mgmccarthy commented on #2007
@tonysurma cc @joshuahysong,

I have PR #2008 to fix this problem. Should be a simple merge. Thanks!

[2017-05-24 18:44] mgmccarthy commented on #340
@joshuahysong, you'd need to search through the codebase for them. I know @johnmwright knocked out a lot of these (especially when it came to claims and helper/extensions for claims operations).

If you want to float a couple ideas by us on this thread, to make sure we think they need to be changed before you start to contribute, that might be a good way to go here.

Thanks

[2017-05-24 18:46] mgmccarthy commented on #340
@joshuahysong another way to contribute is to filter on the issues and pick the "jump-in" label...

![image](https://cloud.githubusercontent.com/assets/2428993/26420122/b913deb4-408f-11e7-8f17-25d264946ae1.png)

[2017-05-24 19:02] joshuahysong commented on #340
Thanks, I'll take a look at the jump-in labeled issues.

[2017-05-24 20:44] mk0sojo commented on #1886
Submitted pull request for this one. Feel free to review.

[2017-05-25 23:32] #2007 closed

[2017-05-27 10:06] mk0sojo commented on #1886
Hi @stevejgordon, one thing that came up during the review of the PR is where the user should be redirected after the invite is created.
I think this depends on where it is created from (where the "Create Invite" button is).
My thought is that it would be under ~/Admin/Event/Details/X and ~/Admin/Campaign/Details/X (X is the ID) and after the invite is created will be redirected back to this page

[2017-05-29 06:59] stevejgordon commented on #1886
@mk0sojo That sounds perfect to me.

[2017-05-29 07:03] stevejgordon commented on #1907
@mgmccarthy Yep that's probably the best flow and what I had in the back of my mind.

[2017-05-29 07:04] #1904 closed

[2017-05-29 07:04] #1903 closed

[2017-05-29 10:45] mk0sojo commented on #1886
Should I do the Invite section on the campaign / event admin details pages as part of this issue or is that a separate task? Don't mind doing here, just wanted to check so no one else does it somewhere else as well.

[2017-06-02 04:23] mk0sojo commented on #1886
Sorry, just another question. If an invite already exists for a user and you try to send another one, should we update the record in the database or show an error?

[2017-06-02 04:36] TimBibb commented on #1886
Wrong email man, sorry.

[2017-06-02 04:38] TimBibb commented on #1886
But it’s funny because I’ve been looking into HTBox

[2017-06-10 15:35] #1939 closed

[2017-06-12 08:19] marigerr commented on #1879
Hi,  I submitted pull request for this issue a few weeks back.  [PR #2004](https://github.com/HTBox/allReady/pull/2004)
But the PR doesn't appear to have review/comments, yet.  I think I included too much on that pull request and should maybe close that pull request and resubmit a much simplified version with just events page.   But hoping for a little more info about the events page.
-  Should ev

[2017-06-13 14:38] arnonax opened #2010 ""An unhandled exception occurred while processing the request" when creating an event"
Repro steps:
1. Login as org admin (organization@example.com)
2. Create a new campaign
3. From the new campaign, create a new Event
Expected result: the new event is displayed
Actual result: An error page appears, with the details mentioned below and in the attached image.

Note: I was able to fix this problem easily by changing Task to VolunteerTask at Details.cshtml:125, but then I reached as si

[2017-06-14 21:35] mk0sojo commented on #2010
I think renaming TaskController to VolunteerTaskController and update all "asp-area="Admin" asp-controller="Task"" to "asp-area="Admin" asp-controller="VolunteerTask"" should solve it.

[2017-06-15 11:36] Sarvesh-Gupta commented on #34
Are you also considering to include multi-tenant support and cross domain SSO?

[2017-06-16 06:50] stevejgordon commented on #34
@Sarvesh-Gupta It's been discussed and nothing is ruled out. The exact deployment cases for allReady I'm sure will evolve with need. The main site currently can be used by multiple orgs in a shared approach. So multiple orgs can exist on the same instance and from the public facing side, campaigns for all orgs are shown.

@RichardCampbell did discuss the possibility of Htbox hosting "instances" of

[2017-06-16 09:20] stevejgordon opened #2011 "Update Developer Documentation"
After the VS 2017/csproj update https://github.com/HTBox/allReady/blob/master/docs/prerequisite_install_guide/prerequisite_install_guide.md is now out of date and misleading for new contributors.

We need to review this and ensure it reflects the current on-boarding/setup process for devs.

[2017-06-16 12:05] marigerr commented on #2011
If this is open to new contributors, I can help with this.   I recently got everything installed with VS 2017, so familiar with some of the needed changes to documentation.

[2017-06-16 12:31] stevejgordon commented on #2011
@marigerr Yes, please feel free to jump in on this. Would be greatly appreciated as you have the most recent experience.

[2017-06-16 13:27] marigerr commented on #2011
great!  I'll get started.

[2017-06-16 14:27] mgmccarthy commented on #1886
@stevejgordon @mk0sojo I'll start to look into the messaging (email) portion of this issue...

[2017-06-16 15:43] jamesatgreymetis commented on #2011
I worked through the guide yesterday and needed to install js tools from scratch, if it helps here is a snapshot of the current version numbers once I was finished:

git version 2.13.1.windows.1
node 6.11.0
npm 3.10.10
bower 1.8.0
gulp CLI version 1.3.0

The step to upgrade npm to v3 was not needed as it was already v3.10.10

Installing bower returned this message:
npm WARN deprecated bower@1.8.0:

[2017-06-16 16:32] marigerr commented on #2011
Thanks @jamesatgreymetis   I haven't had any problem myself running the latest versions of everything, so I was going to assume that it's ok to include latest versions of all the tools in docs?

I'm planning to do a new install of everything on a second machine and get screenshots for both VS 2017 installs and latest versions of node, git installs etc.

Unsure if they are planning to switch from b

[2017-06-16 17:00] mgmccarthy commented on #1804
@stevejgordon

cc @tonysurma

in the case where the recipient is not a user of AllReady, can we instead send two emails? Once will be the email we already have, confirm your account (this is assuming we can create an account on their behalf based on them being sent a management invite) and the other email will simply be the email to confirm or Reject the Invite...

if they click on the management

[2017-06-16 18:41] jamesatgreymetis commented on #2010
I've just been found this bug and was going to log it. Happy to jump in if no one else has claimed it.

[2017-06-17 13:09] stevejgordon commented on #2010
@jamesatgreymetis Feel free, it's up for grabs.

[2017-06-17 13:49] stevejgordon commented on #2010
@jamesatgreymetis Sorry, I've ended up grabbing this as it was fairly blocking for some other bits I wanted to review / work on today.

[2017-06-17 14:16] stevejgordon commented on #1898
A couple of options for this:

1. We allow event managers to view the campaign details page for the campaigns owning events they are allowed to manage. This would require us to hide buttons on those pages and possibly limit the information they can see.

2. We develop a new lister specifically for event managers. This would list all events they are able to manage, which in most cases will be limit

[2017-06-17 14:22] stevejgordon commented on #1887
@wmay1991 Good question. I think it's probably useful to show these somewhere. We'd want to avoid them interfering with the main flow, so possibly we'd want to place them in a separate lister on the same page?

[2017-06-17 14:29] #2010 closed

[2017-06-17 14:38] tonysurma commented on #1879
@marigerr I think you comment had stated it was work in progress so we might have held off on comments thinking you were still working on it.  I and @stevejgordon will look at today/soon.  Thanks for your contribution!

[2017-06-17 14:44] tonysurma commented on #1898
thanks @stevejgordon lets go with option 2 and I will connect with emily to see if there is a variation on that from Jim/Pascal/Others

[2017-06-17 17:02] stevejgordon commented on #1899
I have added a basic event lister page for #1898 which will have the path Admin/Event/ListAll

[2017-06-19 17:01] tonysurma commented on #1898
cc @EmilyLuijbregts

[2017-06-23 06:57] stevejgordon opened #2015 "Upgrade Mobile App project(s) to VS 2017"
I've not personally done much with this part of the project but understand from @marigerr that this project is not working on VS 2017 yet.

As part of the planning for v1.6 the mobile app will be a focus in that milestone so we should get this upgraded ready for working on it in that milestone.

@tonysurma @EmilyLuijbregts - cc. for your info. I've put this in v1.0 for now so it's not blocking whe

[2017-06-23 20:07] mk0sojo commented on #1887
Happy to pick up this one unless @wmay1991  wants it.

[2017-06-28 19:24] mk0sojo commented on #1887
@stevejgordon: Is it a good idea to have a checkbox for "show revoked" and possibly "show accepted" like "Show closed events" check box in the "campaign details" page?

[2017-07-01 18:50] EmilyLuijbregts opened #2016 "Data Reporting - EPIC"
**Summary**: The event manager is where you can see all of the events that are scheduled. We need to have an overview of seeing all of the possible data that can be mined from the events manager.

**What we want:** As an end user i want an easy to use dashboard for seeing all of the data that has been entered in the events manager, have the ability to create reports from this information and have

[2017-07-01 18:51] EmilyLuijbregts opened #2017 "Data Reporting - Export of all fields available"
We need to have a list of all the fields that are available for use in reports.

This list can be provided in excel or another user friendly format (i.e. not a txt file).

[2017-07-01 18:54] EmilyLuijbregts opened #2018 "Data Reporting:"
Breakout from #2016

What we want: As an end user i want an easy to use dashboard for seeing all of the data that has been entered in the events manager, have the ability to create reports from this information and have it exportable to be able to report this to key stakeholders.

Initial fields that should be in the dashboard are:

1. How many volunteers in total were in a specific day (there sho

[2017-07-01 18:56] EmilyLuijbregts opened #2019 "Data reporting: Export formats"
Breakout from #2016 and #2018

The dashboard built in #2018 needs to have reports that can be exported in the formats:

- .csv
- .xls
- .pdf

[2017-07-04 07:50] stevejgordon opened #2020 "Itinerary Details - Filtering"
When I filter the linked requests on the itinerary details page if no results are included in the filter I loose the ability to remove or adjust the filter.

Expected Result: When I apply a filter within the Itinerary Details (admin) page (request section), it should return any requests matching that filter. When no requests match, it should allow me to remove the filter or change the filter value

[2017-07-06 13:11] #1898 closed

[2017-07-07 05:00] SteveKennedy commented on #2015
@stevejgordon Is anyone assigned to this? I might be interested in it.

[2017-07-07 08:35] stevejgordon commented on #2015
Hi @SteveKennedy - Feel free to tackle this one. Thanks!

[2017-07-07 18:59] EmilyLuijbregts opened #2021 "Maps - EPIC"
**Summary**: The maps feature is where you're able to see all of the events in a specific location and area.

**What we want:** As an end user i want an easy to use map functionality that will allow me to have an overview of all of the events in a specific area, be able to zoom in and out and have this automatically adjusted if there are updates to the status of any of the events in that map so th

[2017-07-07 19:15] EmilyLuijbregts opened #2022 "Maps: Map layout should show all events"
This is a breakout from EPIC: MAPS: #2021

As a user i want to see the map with all of the events that are categorised in one campaign or one calendar day. I should be able to choose between whether I want to see the campaign view or the calendar day in the map overview directly.

**Definition of Done:**
- This task is considered done when all users are able to see the campaign selected or the cal

[2017-07-07 19:22] EmilyLuijbregts commented on #1876
@stevejgordon - any update on this ticket?

[2017-07-07 19:26] EmilyLuijbregts opened #2023 "Maps: Able to add/duplicate tasks to an existing pin on a map"
This is a breakout from #2021

As a user I want to be able to add or duplicate tasks that are already in an existing pin in the map feature to increase the speed that I can use the map functionality. Any changes made should be saved.

**Definition of done:**
- The user with the right permissions should be able to add a task by clicking on the existing pin in the map feature
- The user should be ab

[2017-07-07 19:31] EmilyLuijbregts opened #2024 "Maps: Hovering over a pin shows all tasks"
This is a breakout from the epic: Maps #2021

As a user when i'm hovering over an existing pin in the map functionality i want to be able to see all of the tasks listed under the pin by clicking on it.

**Definition of Done**:
- The tasks should appear under the pin once the mouse is over the pin by the user
- Once the dialogue box appears, there should be the ability of closing the list of tasks

[2017-07-07 19:40] EmilyLuijbregts opened #2025 "MAPS: Updating the pin from the map interface"
Breakout from Maps Epic: #2021

As a user i want to be able to update the tasks listed in a pin from the map interface without needing to open the pin itself

**Definition of done:**
- User should be able to add a task to the list of tasks under a pin via the interface
- The user should be able to delete a task that is listed under the pin without having to leave the interface/page
- The user shou

[2017-07-07 19:52] EmilyLuijbregts opened #2026 "MAPS: You should be able to do multiple updates from the map overview"
Breakout from: #2021

As a user i want to be able to update multiple pins in the map overview without having to reopen the map overview itself.

**Definition of done:**
- The interface should be dynamic enough to allow several pins to be updated one after another
- The user will be able to update an unspecified number of pins without refreshing the map interface
- A pin update could be a deletion

[2017-07-07 20:01] EmilyLuijbregts opened #2027 "Maps: Automatic update if a 'decline' is received"
As a user I want to make sure that the map and system are automatically updated and adjusted accordingly if a 'decline' is received from the homeowner so that i am always seeing the most up to date map information.

**Definition of done:**
- When the homeowner declines the invite from the system, it should then show as 'decline' in the system,
- The map and system need to be automatically updated

[2017-07-08 08:14] SteveKennedy commented on #1969
These are just my _random_ notes I made during this task/issue, in case they're helpful to anyone in future:

1. It appears that the AllReadyWebOnly.sln has been upgraded to Visual Studio Community 2017 (Ver.15.0.26228.12).  It does not appear to contain the mobile project.

2. The AllReadyApp.sln is still Visual Studio 2015 Update 3 (Ver.14.0.25420.1).  It has the mobile app project, but most of

[2017-07-08 08:16] SteveKennedy commented on #2015
These are just my _random_ notes I made during this task/issue, in case they're helpful to anyone in future:

1. It appears that the AllReadyWebOnly.sln has been upgraded to Visual Studio Community 2017 (Ver.15.0.26228.12).  It does not appear to contain the mobile project.

2. The AllReadyApp.sln is still Visual Studio 2015 Update 3 (Ver.14.0.25420.1).  It has the mobile app project, but most of

[2017-07-09 21:52] SteveKennedy opened #2030 "Provide important Event properties via Event Api"
The Event API (EventApiController.cs) returns a list of EventViewModel.  That view model is populated by the EventsWithUnlockedCampaignsQueryHandler, which populates Events pulled from the data context.

However, when the events returned do not contain some associated campaign data.  Meaning, API consumers (like the Cordova mobile app) will not receive or show associated campaign data to the end u

[2017-07-09 21:53] SteveKennedy commented on #2030
I can take this one.

[2017-07-09 23:26] SteveKennedy opened #2031 "mobile app: Upgrade Ionic to more recent version"
For longer term maintainability, consider upgrading to latest version of Ionic. This may "bring along" Angular and Typescript, and an updated version of Cordova.  The implemented version is currently 1.3.1.  The latest version is 3.5. There has been significant improvements regarding security, performance, and usability.

The features currently in the mobile app, that would have to be considered:

[2017-07-09 23:26] SteveKennedy commented on #2031
Please assign this to me.

[2017-07-10 07:00] stevejgordon commented on #1876
@EmilyLuijbregts I don't think this is solved yet. We have a larger piece of work around possibly implement Identity Server to support to SSO requirements so might wait until that is defined as this can then be part of that work. I'll try to load up the site and double check if this is still an issue though, and if there's a short term fix we can add quite easily.

[2017-07-10 08:49] stevejgordon commented on #2021
@OhMcGoo @EmilyLuijbregts - We have a map at itinerary level which is used for managing that specific itinerary. Can I confirm that this issue is intended to function at a higher level and looks to show information for a full campaign on a map?

I'll probably have some more specific questions for some of the breakdown items too.

// cc @tonysurma

[2017-07-10 08:53] stevejgordon commented on #2022
@EmilyLuijbregts/@OhMcGoo Can I just check what "task" means here. It sounds like we mean "request" - i.e. the individual install locations requiring service? Tasks in allReady are a unit we use to define general work that will be done as part of an event and which volunteers can register for. i.e. a task might be "Fire alarm installer on 5th August 2017" for event "South Region Alarm Installs".

[2017-07-12 03:22] OhMcGoo commented on #2022
Yep @stevejgordon, that makes sense. The task would be to install smoke alarms on a certain day during which several requests would be fulfilled. Those requests need to be mapped, of course, so they can be grouped and assigned to a task.

[2017-07-12 04:27] OhMcGoo commented on #2021
@stevejgordon, @EmilyLuijbregts: Initially, I think we should have one map view (page) that can be used to both create itineraries and see a larger overview of pending, scheduled, declined and fulfilled requests. I'm not sure I understand the following features and suggest, perhaps, a quick Skype call to clarify:

- Able to add/duplicate tasks to existing pins on the maps
- When hovering over a pi

[2017-07-13 13:34] jimparsley opened #2033 "AllReady.ScenarioTest - tests failing due to incompatible dates in non-US cultures"
Hi, I'm new to this project and would like to help out with the development.

Whilst getting my environment set up, I noticed that the selenium tests were failing due to my machine's culture not matching the app culture (I'm in Germany). I looked through the existing issues, and discovered that the web app culture is hard-coded to US.

Therefore, I propose hard-coding the AllReady.ScenarioTest to

[2017-07-13 14:28] NRKirby commented on #1766
Should this be closed?

Taking a look at the source on master it looks like this test has been implemented [here](https://github.com/HTBox/allReady/blob/df98a357de82aa03a32ff6fe74bac3bf33ba5e5b/AllReadyApp/Web-App/AllReady.UnitTest/Areas/Admin/Features/Requests/SendRequestStatusToGetASmokeAlarmHandlerShould.cs)

[2017-07-13 14:36] MisterJames commented on #2033
@jimparsley I think this sounds reasonable, thanks for the suggestion (and reporting the bug). Please proceed and submit a PR.

Thanks!

[2017-07-13 14:39] #2030 closed

[2017-07-13 14:40] MisterJames commented on #1969
@SteveKennedy Are we okay here with the merge on #2028? It seems that there's a few good things in here that might not simply be addressed with the update to 2017. Thoughts?

[2017-07-13 15:28] jimparsley commented on #2033
@MisterJames You're welcome. OK, will do.

[2017-07-13 18:49] EmilyLuijbregts commented on #2021
Thanks for answering and clarifying @OhMcGoo !

[2017-07-13 22:10] SteveKennedy commented on #1969
@MisterJames I think this could be considered DONE now, with the merging of PR #2028 .

AllReadyMobileApp.sln is the new mobile app only solution, that is in VS 2017. It was created with PR #2028 .

I really do think that means that means AllReadyApp.sln could be deleted. I don't think it can cleanly open in VS 2015 or VS 2017.

That would would leave AllReadyWebOnly.sln and AllReadyMobileApp.sln,

[2017-07-14 14:58] mido3ds commented on #1391
I added it and made this PR https://github.com/HTBox/allReady/pull/2035

[2017-07-19 14:32] DanKline opened #2036 "App launch in debug error - context.Database.Migrate"
System.Data.SqlClient.SqlException occurred
  HResult=0x80131904
  Message=Conversion failed when converting the nvarchar value 'Assigned' to data type int.
The statement has been terminated.
  Source=Core .Net SqlClient Data Provider
C:\Users\dan\Documents\GitHub\allReady\AllReadyApp\Web-App\AllReady\Startup.cs:line 201

[2017-07-19 14:52] stevejgordon commented on #2036
Hi Dan.

There was a breaking change a while back around some data column changes. This sounds like that issue. Best solution in this case would be to drop your local copy of the database and let it be rebuilt and seeded.

[2017-07-19 15:06] DanKline commented on #2036
Hmmm ... I just checked and I don't have a local copy of SQL running.  I thought VS always installed that.  I'm working remotely so I'm not attached to the SQL instance on my domain.  I'll install express and see if that resolves the issue.

[2017-07-19 15:08] stevejgordon commented on #2036
It usually uses (localdb)\mssqllocaldb

[2017-07-19 22:31] DanKline commented on #2036
OK... After uninstalling a few prior versions of SQL and SQL 2016, then reinstalling SQL Express 2016, and  deleting my local repository and cloning my fork of the current GitHub code, I am able to populate the database on localdb, however, I'm still seeing a conversion type error on "Assigned'.  I think there may still be an error in the mappings used.

[2017-07-19 22:45] DanKline commented on #2036
Scratch that ... second attempt at dropping the database seems to have worked,  It's not in the code... something was cached on my machine.

[2017-07-19 23:46] DanKline commented on #2036
In case you didn’t see it, I got everything working.  I think there was an issue with having installed the3 SQL2016 RC3 and the localdb instance.  It didn’t show in SSMS but after uninstalling several versions of SQL and reinstall 2016 SQLExpress it was there.  Unfortunately, I needed to be be dropped.  But wen it regenerated the Already DB, everything was fine.  I’m guessing the old DB was there

[2017-07-19 23:53] DanKline commented on #2036
In summary, if previous contributors have used SQL2016 RC3, you may have a localdb that does not appear in SSMS.  The DB is probably there and causing this issue.  The uninstall of previous versions of SQL and reinstallation of the SQLExpress 2016 will expose the localdb which must then be dropped and regenerated by reloading the solution in Visual Studio.

[2017-07-20 02:15] DanKline commented on #2020
Id like to look at this one, but I don't see how to navigate to the Itinerary page.

[2017-07-23 23:01] #2036 closed

[2017-07-24 16:45] #2033 closed

[2017-07-24 16:46] #1969 closed

[2017-07-24 16:48] MisterJames commented on #2021
@EmilyLuijbregts and @OhMcGoo we can add this epic (and related tasks) to our stakeholders meeting. Thanks all!

[2017-07-24 16:53] MisterJames commented on #2016
This is a great start of some of the required info we will need to build out the requisite data for reports.

I want to make sure that we don't fall into the trap of "reports from fields in tables", though, so we will instead build the report data from the eventing system that we already report. Said another way, we want events that occur to create data specific to an exact report.

I would like t

[2017-07-24 18:29] EmilyLuijbregts commented on #2016
Thanks @MisterJames! I know that @stevejgordon was also working through some requirements. Please let me know if you've got any questions and I'll coordinate with @OhMcGoo and @Schuback

[2017-07-29 07:37] mk0sojo commented on #1889
I can have a look at this one

[2017-07-30 09:31] mk0sojo commented on #1889
@stevejgordon

Is it worth trying to use something like cerbeus (https://tedgoas.github.io/Cerberus/) to create HTML formatted emails or should I stick to plain text? It looks like the other emails we send are mainly plain text (possibly a hyperlink or two), but if we want an accept button, decline button and a register link it may get a bit confusing using just plain text?

Also noticed the SendG

[2017-07-31 18:59] MisterJames commented on #2011
Closed via #2014

[2017-07-31 19:43] MisterJames commented on #2023
Closed as not in scope.

[2017-07-31 19:43] #2023 closed

[2017-08-01 17:22] SteveKennedy opened #2038 "Best Way to ask project Question?"
1. What is the best mechanism to ask general question about this allReady project?  Is it to open an issue? Is there a Slack channel? Email?

2. Where is the dev/test web app published to? What url? Can you point to documentation on where it's published?

[2017-08-01 18:37] EmilyLuijbregts opened #2039 "Events - EPIC"
**Summary**: We need to update the Events feature on the website to make it more accessible and user friendly to the users

**What we want:** As an end user I want to have an easy to use Events feature that will enable me to be more efficient when entering/amending events.

This is broken out into the following issues:

- [ ] Ability to create an event as a Campaign Manager
- [ ] Ability to take r

[2017-08-01 18:43] EmilyLuijbregts opened #2040 "EVENTS: Ability to create an event as a Campaign Manager"
This is a breakout from: Events Epic #2039

**Requirement:**
- As a  Campaign Manager I want to be able to create events which I can then manage as an admin

**Definition of Done:**
- The role will be created
- The role will have the necessary permissions to add, and edit events.

**Additional information:**
- Info from @stevejgordon : PARTIALLY COMPLETE. Currently Site and Org admins can create e

[2017-08-01 18:51] EmilyLuijbregts opened #2041 "Take 3rd party requests and transfer into assignments."
This is a breakout from the Events EPIC: #2039

**Requirement**:
- We need to be able to take requests from third party ( in this case it is: getasmokealarm.org) and transfer them into the relevant tasks/assignments

**Definition of Done:**
- Requests that are entered in 'getasmokealarm.org' should be transferred into allready and in the correct location (please see below for the questions regardi

[2017-08-01 18:55] EmilyLuijbregts opened #2042 "Ability to add information to a request"
This is a breakout from Events Epic #2039

**Requirement**:
-	As a user I want to be able to add information to a request. This information is the detail for what the volunteer needs to be doing so should not be limited to a short number of characters.

**Definition of Done:**
- It should be possible for [Specified users] to add information to a request

**Additional Information:**
Information fro

[2017-08-01 18:58] EmilyLuijbregts opened #2043 "Creation of event should have a list of pre-required fields to be checked by the corrector"
This is a breakout from Events Epic #2039

**Requirement**:
As a user when I have created an event, I want to have a list of pre-defined criteria that I need to ensure is filled in before I can successfully create an event.

**Definition of Done:**
There should be a pre defined list available for an event creator to see whilst they are creating an event in allready

**Additional Information:**
- I

[2017-08-01 19:07] EmilyLuijbregts opened #2044 "There should be the ability to have communication between the requesters and volunteers for a series of actions."
This is a breakout from Events Epic #2039

**Requirement**:
As a user, I want there to be communication to happen between the requesters and volunteers when certain actions occur. These actions are:
o	Confirming the installation date and time (MM/DD - time format to be confirmed)
o	Confirm installation to go ahead at assigned date and time (MM/DD - time format to be confirmed)
o	Any changes that n

[2017-08-01 19:10] EmilyLuijbregts opened #2045 "Ability to duplicate tasks"
This is a breakout from Events EPIC: #2039

**Requirement**:
- As a user I want to be able to do the following to all requests/tasks: Duplicate/Add/Delete.

**Definition of Done:**
- I will be able to duplicate/add/delete tasks as needed in the events module.

**Additional Information:**
Information from @stevejgordon : PARTIALLY COMPLETE. We can add and delete tasks. We don’t have a duplicate fun

[2017-08-01 19:14] EmilyLuijbregts opened #2046 "Volunteers are able to sign up for events and different requests"
This is a breakout from Events Epic #2039

**Requirement**:
As a volunteer I want to be able to sign up to events that are happening and to individual requests.

**Definition of Done:**
- A volunteer is able to sign up for any event in the upcoming period

**Additional Information:**
- Information from @stevejgordon : PROBABLY COMPLETE. Volunteers can sign-up for tasks. At some stage a long time a

[2017-08-01 19:18] EmilyLuijbregts opened #2047 "EVENTS: Admin’s can assign volunteers to tasks"
This is a breakout from the Events Epic #2039

**Requirement**:
As an admin I want to be able to assign volunteers that are already users in the system to specific tasks listed under a request.

**Definition of Done:**
- There is the option to be able to assign users to the tasks within allready

**Additional Information:**
Information from @stevejgordon : NOT COMPLETE. As we only have task volunt

[2017-08-01 19:22] EmilyLuijbregts opened #2048 "EVENTS: Admins can remove volunteers from assignments and tasks"
This is a breakout from the Events Epic #2039

**Requirement**:
As an admin I want to be able to remove volunteers that are already signed up for assignments or tasks.

**Definition of Done:**
An admin should be able to remove any assigned volunteers from an event. This may result in no volunteers being assigned to a task.

**Additional Information:**
Information from @stevejgordon : NOT COMPLETE.

[2017-08-01 19:29] EmilyLuijbregts opened #2049 "EVENTS: Volunteers should be able to see all possible events and tasks"
This is a breakout from Events Epic: #2039

**Requirement**:
As a volunteer I want to be able to see a list of all possible events and tasks that as a volunteer I could sign up for

**Definition of Done:**
- All events that are ready to be shown (i.e. those that are not in draft format) are shown to volunteers
- A volunteer is able to sign up for events and tasks as appropriate.

**Additional Info

[2017-08-01 19:36] EmilyLuijbregts opened #2050 "EVENTS: Role based permissions for admin/volunteer"
This is a breakout from Events Epic #2039

**Requirement**:
As a system administrator I want to ensure that there are defined role breakdowns for both admins and volunteers.

**Definition of Done:**
- A volunteer should be upgraded to admin for the event that they are registered for. They should not be granted admin rights elsewhere in the application.

**Additional Information:**

- Comment from

[2017-08-01 19:40] EmilyLuijbregts opened #2051 "EVENTS: Volunteer should be able to select the events that they want to do and subscribe to updates"
This is a breakout from Events Epic #2039

**Requirement**:
- As a volunteer I want to be able to follow/see all events that I find relevant.

**Definition of Done:**
- There should be the functionality to 'follow' an event for a volunteer (pending confirmation of question below)

**Additional Information:**
Comment from @stevejgordon : QUESTION. I think we need more information to define the requ

[2017-08-01 19:45] EmilyLuijbregts opened #2052 "EVENTS: Filter requests into date range"
This is a breakout from Events Epic: #2039

**Requirement**:
- As a user I want to be able to filter all of the requests in the system by date to be able to see the different requests available so that i can see the available vacancies for a specific days events

**Definition of Done:**
- Ability to select a date from the events and see all of the relevant requests that are applicable.

**Addition

[2017-08-01 19:50] EmilyLuijbregts opened #2053 "EVENTS: Update to state events"
This is a breakout from Events Epic: #2039

**Requirement**:
As an administrator I want to be able to have the following states available to be selected in a request:
- Requested
- Scheduled
- Confirmed
- Completed.

**Definition of Done:**
- There will be a check in the system before this issue is started to make sure that no unnecessary work is performed.
- The states mentioned in the requiremen

[2017-08-01 19:56] EmilyLuijbregts opened #2054 "EVENTS: Safety message page creation as a sub page from an event"
This is a breakout from Events Epic: #2039

**Requirement**:
We need to have a safety message page to set up an event that would have prompts like:
" Does this event require a safety message?" If Yes is selected, the following information would need to be entered:
- Start Date
- End Date
- Start Time
- End Time:
- # of Volunteers required for it
- Type of event.
If no is selected, the information

[2017-08-02 09:36] EmilyLuijbregts opened #2055 "EVENTS: Ability to group individual events into one ‘big day’"
This is a breakout from the Events Epic #2039

**Requirement**:
We want to be able to group all requests for a specific day into a 'group' to see which requests would be completed on a specific day.

**Definition of Done:**
This issue is resolved once a selected user (TBC which users) are able to group all individual requests from a selected date range.

**Additional Information:**
- Comment from

[2017-08-05 02:26] MisterJames commented on #2038
Hi @SteveKennedy. You have a few options, as you've suggested:

- We can connect you with @tonysurma who can get you into our slack channel
- You can create an issue
- You can join in on our bi-weekly community standup (from our YouTube channel, next is Tuesday at 9:30 AM Central)

I'll get you the URL and will hold this issue open until I can line that up for you.

Cheers!

[2017-08-05 02:33] MisterJames commented on #2055
This seems like a good planning tool...if we do this right we can incorporate the idea of "grouping" across all kinds of scenarios.

I would like to see this tackled in a way where we:

- create a new 'RequestTag' entity
- allow users to add `RequestTag`s to `Requests`

The only users that should be able to tag requests are admins.

The tags can later be used to help filter in other UX scenarios,

[2017-08-05 02:35] MisterJames commented on #2054
Technical expectations:  we need to add a safety message to the `Event` and add the message (if it exists) to any `Event` page where users can sign up or admins can edit it.

[2017-08-05 02:38] MisterJames commented on #2053
The update here will be to add the new status in the enum.

[2017-08-05 02:42] MisterJames commented on #2052
This requirement is from the external user - the volunteer- perspective. We can satisfy this requirement by providing an "volunteer opportunities" filter on the `event/eventId` page.

The filter would show tasks that still require volunteers.

[2017-08-05 02:50] MisterJames commented on #2051
To implement this we will need to create a new `UserNotification` table/entity with the following fields:

 - UserNotificationId
 - NotificationType
 - EntityID
 - UserID
 - CreatedDate

We will need a `UserNotificationType` enum with currently the only value being `EventNotifications`.

We will need a command/handler to allow users to "subscribe" as well as "unsubscribe". A button will need to be

[2017-08-05 02:52] MisterJames commented on #2050
We will have to discuss this one at our next standup...I think we need some additional details/direction here. I want to get at the reason this was brought up so that we can make sure we're lined up for future authorization requirements.

[2017-08-05 02:56] MisterJames opened #2056 "Update Generation Process of Test Data"
The goal here is to be able to get the system to purge existing data and subsequently re-run the data generation bits. The data should be valid, in the future (so as to make the data useful in the portal) and should be able to be triggered by a command line argument.

- Add a check for a command line argument `-PurgeRefreshSampleData`
- If the argument is present, dump the DB and rerun the migrati

[2017-08-05 02:58] MisterJames commented on #2049
We will satisfy this task technically through these updates:

 - Add a 'Hide Event` toggle to the event edit page, only visible to the Org Admin role
 - Add an `IsHidden` flag to the `Event` entity
 - Update the query handlers to check for the hidden flag

[2017-08-05 03:00] MisterJames commented on #2048
This can be progressed. For org admins, they should see some UI to remove a volunteer. They should be prompted for a message to be sent to the user. They should be able to opt-out of sending a message. If they elect to send a message, we should queue up an email per our existing pattern to Azure table storage/web jobs (a later update will move this to Service Bus/Azure Functions).

[2017-08-05 03:02] MisterJames commented on #2047
We can add this.

Use a prompt for a message to the user. The admin can opt out of sending a message. If they choose to send one, it will go via SMS or email through our existing pattern (azure table storage/web jobs to be later updated to Service Bus/Azure Functions).

[2017-08-05 03:03] MisterJames commented on #2046
To whomever would like to work on this:

To complete/confirm this, please stage appropriate data and then verify the ability for a volunteer to sign up for requests and events.

[2017-08-05 03:04] MisterJames commented on #2045
This should be limited to org admins only (volunteers can't do this).

[2017-08-05 03:06] MisterJames commented on #2044
We'll need more info here to proceed:

 - the types of communications that can occur
 - templates for the messages
 - SendGrid configuration
 - buttons added to specific pages (that may or may not yet exist) to allow these to be triggered.

We'll defer here until after our next standup.

[2017-08-05 03:07] MisterJames commented on #2043
This is a research task. Please stage appropriate data and verify the current as-is functionality.

[2017-08-05 03:09] MisterJames commented on #2042
I think we need a "comment stream" concept that is associated with the request.

We need a `RequestComments` table and the UI related to add comments to the request. We should capture:

 - userID
 - create date
 - message
 - request ID

There will need to be a command/handler written to save comments to the request.

There could be communication opportunities applied later, but for now, we'll limi

[2017-08-05 03:09] MisterJames commented on #2041
We'll need to make sure what is there can satisfy the wider requirement. We'll discuss at our next standup.

[2017-08-05 03:11] MisterJames commented on #2040
There is pre-work for this. If someone would like to pick these up, please create new issues and reference this issue along with the epic #2039.

 - Add a campaign manager role
 - Update the admin page for user management

I'll remove my assignment when we get the prework done.

[2017-08-05 03:22] MisterJames commented on #2038
@SteveKennedy

You can access the auto-deployed version here: http://allready-d.azurewebsites.net/Manage

Cheers!

[2017-08-05 03:22] #2038 closed

[2017-08-05 16:02] jonatwabash commented on #2049
@MisterJames I'm planning on working on this one today.

[2017-08-05 16:34] binaryjanitor commented on #2019
Mine! @binaryjanitor

[2017-08-05 16:43] binaryjanitor commented on #2018
Mine! @binaryjanitor

[2017-08-05 17:00] devfables commented on #2053
Mine! :)

[2017-08-05 22:29] SteveKennedy commented on #2015
@stevejgordon Please close this one. It was completed as part of Pull Request #2028

[2017-08-06 14:36] michaellperry commented on #2052
I'll take a stab at this one.

[2017-08-06 14:58] DanKline commented on #1836
In Progress .... Daniel C Kline

[2017-08-06 16:06] devfables commented on #1838
Mine! :)

[2017-08-06 16:53] devfables opened #2060 "Correct menu header to stay fixed as scrollbars on page are used"
When viewing content on a page within the allReady application (campaigns, events etc), the menu options do not stay affixed at the top of the page as you scroll within the content of the page. Think it would be intended for these to always be present at top of page for consistent look/feel and easy access to main application options. This would be a UX/UI consideration.

[2017-08-06 18:50] devfables commented on #1837
Mine! :)

[2017-08-06 20:17] jonatwabash commented on #2049
I think I've got the second two pieces done, but I haven't been able to run the app from Visual Studio, so the event edit page changes aren't done yet. At this point I'm guessing the problem is remnants of databases from last year or the year before gumming things up, so I'm working on that now.

[2017-08-06 21:11] DanKline commented on #1836
Pull request submitted 8/6/2017 4:06.  After merge of #1836 additional documentation issues can be created with the Userdoctemplate.mdt template.  After copying the  template in the local repository file system, changing the name, then the extension to md, then the new md file can be edited with a Markdown editor and committed.

[2017-08-06 21:26] binaryjanitor commented on #2019
Mine @binaryjanitor

[2017-08-06 21:33] binaryjanitor commented on #2019
Closed!

[2017-08-07 12:09] stevejgordon commented on #2015
Thanks @SteveKennedy

[2017-08-07 12:09] #2015 closed

[2017-08-07 13:40] stevejgordon commented on #1889
Hi @mk0sojo - Sorry for the delay. Have been away on holiday.

I'd suggest we start with plain text / same as current initially to get the functionality in. We have an older issue #186 which looks to include the concept of templates / more advanced email content.

As for SendGrid - might be a good idea to update. I'll open an issue to review and track that.

[2017-08-07 13:41] stevejgordon opened #2065 "Update SendGrid to stable version - Review"
Per #1889 we are using a pre-release version of SendGrid library. We should investigate if we can safely update and upgrade to using the appropriate stable version of this library.

[2017-08-07 20:19] mk0sojo commented on #2020
Taking a quick look at this the actual bug is quite easy to fix.
There is another problem however, when filtering it always looks for the matching Request.ItineraryId but this never seem to get set.
I guess a good place to set it would be on the Select Request page? Might be a problem with Requests already existing though.

[2017-08-08 20:32] mk0sojo commented on #1889
Thanks @stevejgordon . The Mediatr handlers are done, but some updates to the invite controllers are still required to call the handlers and accept / decline the invitation. Those are still not merged (still under review in PR #2009) so I will probably wait for that to get merged before finishing this.

[2017-08-10 14:35] waiholiu commented on #2020
Hi I've only just started trying to looking through this project today so excuse my ignorance, but I'm wondering why ItineraryId even needs to exist in the Request table because there is a joining table called ItineraryRequest that captures which itinerary each request belongs to, making that extra field redundant. And as far as I can see, it never actually gets set.

So I suspect the solution wou

[2017-08-10 21:14] mk0sojo commented on #2020
@waiholiu I went for solution 2 that you suggested in this case - thanks. I had already done the changes to the Itinerary details controller and view so it was almost done anyways.

[2017-08-10 21:15] mk0sojo commented on #2020
It might be worth considering making the filter an AJAX call to not update the whole page every time we want to change the filter.

[2017-08-11 07:56] stevejgordon opened #2067 "Upgrade to .NET and ASP.NET Core 2.0"
Opening this as a placeholder / discussion around if/when/how we would want to look at a .NET Core 2.0 migration. We expect .NET Core 2.0 this to land in RTM around September 18th inline with the DevIntersection .NET 2.0 Launch.

Of the things I've glanced at so far, there are some potential breaking changes around security (Microsoft.AspNetCore.Authentication) code and changes to the way Logging/

[2017-08-11 12:02] stevejgordon commented on #2017
@EmilyLuijbregts Feels like it might be better/easier to establish a list of reports we want to produce and what they need to show / how they need to work. However, I've created a basic sheet based on the fields we have against Campaigns. I excluded some of the fields that I can't see relevant to reporting.

[AllReady Reporting Fields.xlsx](https://github.com/HTBox/allReady/files/1217744/AllReady.

[2017-08-11 12:03] stevejgordon commented on #2017
One concern with the file is that it can/will get out of date as we evolve the app so if the requirement is simply a current picture to use for planning possible reports that should be fine. If we plan to use it longer term, keeping a file in sync with code is a bit of work.

[2017-08-11 12:15] stevejgordon commented on #2016
@MisterJames I'm thinking we should start recording events (some kind of basic event store) somewhere and then use those to build report views. Using a full-blown event store model might be quite heavy for now, but perhaps we could define an event table and store json messages in there that allow us to play through and read data into views either on demand or via tasks?

@EmilyLuijbregts - I proba