[2015-12-07 14:19] mheggeseth commented on #421
I think it should move out of the nav header. For one, if a user is logged in, they know about allReady already (I couldnt help myself :-)). For a new user, learning about the app is probably one of the first things they want to do (and then likely never again) so I think the best place for it would be in the landing page content. Just my opinion.

[2015-12-07 14:20] stevejgordon opened #437 "Inconsistent Tenant Admin List"
If you choose Organizations from the Admin menu it takes you to /Admin/Tenant which includes a list in  tabular format with Edit and Delete buttons.

However, saving a new Organization directs to /Tenants which is an un-styled UL.

After creation it should redirect to the /Admin/Tenant path.

[2015-12-08 02:45] #419 closed

[2015-12-08 02:46] #435 closed

[2015-12-08 04:07] mheggeseth opened #439 "Activity Admin View Not Accessible By Organization Admin"
`ActivityDetailQueryHandler` was not populating `TenantId` in the `ActivityDetailModel` object it returned. This meant that tenant/org admins would get summarily bounced to the login page when trying to access activity detail or edit views due to the code below. Site admins were not affected because `User.IsTenantAdmin` returns true for site admins regardless of the value passed for `TenantId`.
[c

[2015-12-08 14:49] mheggeseth commented on #423
I think do it all at once and go all the way. You're going to cause merge conflicts with people however you split it up, so you might as well do it all at once. However, I think you should do all the DB-related stuff first since that will require more care and coordination (everyone should drop and re-create their AllReady database) and we don't want to miss our window on that (I don't know what t

[2015-12-10 07:33] junderhill commented on #437
I'll take a look at this, if you could assign me to it.
Thanks

[2015-12-10 10:54] junderhill opened #443 "Create Tenant ModelState validation fails on Id property"
When posting to the create action of the TenantController, the ModelState.IsValid returns false as the Id property of the model is 0. I am fixing this as part of #437

[2015-12-10 10:58] stevejgordon commented on #443
Hi @junderhill. Have you rebased on the latest code? I'd seen this and it should have been fixed by PR #436

[2015-12-10 10:58] ksk100 commented on #420
I'll do this. Would an image icon be best for the link?

We could perhaps use something like that old universal blog icon which, in allReady colors, would be:

![allready-blog-icon-box-rev-60](https://cloud.githubusercontent.com/assets/6615834/11713694/de2feda6-9f2c-11e5-9ce3-c50be0c5b5f4.png)

What do you think?

[2015-12-10 11:23] junderhill commented on #443
Apologies, no I've missed this one. I'll rebase.

[2015-12-10 11:23] #443 closed

[2015-12-10 11:50] ksk100 commented on #396
I'll do this and then open another issue for investigating the possibility of getting down to one layout.

There is a slight difference in the footer styling on the main page compared to everything else; the font is smaller.  It's (homepage):
![image](https://cloud.githubusercontent.com/assets/6615834/11714678/d6a58116-9f33-11e5-9ed2-945db28ab2b0.png)

Versus (all others):
![image](https://cloud.g

[2015-12-10 12:10] junderhill opened #444 "'Back to list' on Admin Tenant Details redirects incorrectly"
When clicking 'back to list' from the details page of an organization with the admin area the user is redirected to the normal organizations list page. Issue is related to #437

[2015-12-10 12:10] stevejgordon commented on #443
No worries. :-)

[2015-12-10 15:45] ksk100 opened #446 "Manage account POST handler checking wrong value"
The `Index` method which handles the `POST` on the Manage account page is checking that the current username is not null/empty, rather than checking the name entered by the user, so if the name is currently empty, then it never gets updated.

I'll submit the fix.

[2015-12-11 03:14] #317 closed

[2015-12-11 03:15] #439 closed

[2015-12-11 03:17] #333 closed

[2015-12-11 03:18] #444 closed

[2015-12-11 03:19] #446 closed

[2015-12-12 07:53] ksk100 opened #449 "KO bindings fail on activity page when tooltip string includes an encoded apostrophe"
When the tooltip for the little round ? helpers contains an encoded apostrophe, `knockout-bootstrap` fails to apply the bindings.  The apostrophe is encoded properly, so I think there is a bug with `knockout-bootstrap` (I'll submit a Github issue for it).

The problem is seen on the Activity page with the sample MD skill, the description of which is "Trust me, I'm a doctor".

A workaround is simpl

[2015-12-12 19:56] mheggeseth commented on #449
The problem is in the Volunteer popup that allows a user to associate new skills, right? That's the only place where Razor is emitting content into a KO binding. The "Trust me, I'm a doctor" tooltip works in other places like skill admin and activity admin because I've tested it, so I'm pretty sure it's not a problem with the KO-BS library. I don't remember why I decided to write that part with Ra

[2015-12-12 20:19] ksk100 commented on #449
Yes that's right, just on the popup.

It is possible to reproduce the problem in a simple HTML file (outside the allReady context) using ko-bs; if the apostrophe is hard coded (but escaped) in the tooltip then the tooltip handler from ko-bs won't bind it; if the apostrophe is in some field on the KO view model then it's fine, which is why the others work.

Anyway, I'm happy to go ahead and change

[2015-12-12 20:33] mheggeseth commented on #449
Yeah, go ahead and switch it to KO. Each required skill in the KO view model already has a property added to it called IsUserSkill. So just rendering required skills that the user doesn't already have should be pretty easy.

[2015-12-12 20:38] mheggeseth commented on #449
Just out of curiosity, is the single quote escaped like `&apos;` or like `\'`?

[2015-12-12 20:48] ksk100 commented on #449
It's escaped as `&#x27;`; the error occurs with `&apos;` too, but actually not with `\'`.

Maybe that's the root of the problem: ko-bs using Javascript escapes but Razor escaping with HTML entities?

[2015-12-13 03:04] Kritner commented on #340
Sorry for the spam... I didn't realize that referencing issues on my own fork would hit the issue on origin.  Still learning the flow of git/hub :)

I figured it wouldn't hit the issue log until my PR.

[2015-12-13 12:50] mheggeseth commented on #340
Don't worry about it. We don't have established guidelines for when to reference issues in commits. Actually, I think the information is helpful because it shows an issue is being worked on even if a PR is not imminent.

[2015-12-13 20:56] markstownsend opened #453 "How do you do your issue numbers?"
Guys,
Sorry if it's not appropriate to raise an issue for this but I'm new to it all.  I'm doing my own OSS project and am copying the best OSS practices I see on Github.  I'm a long time dotNetRocks listener.  So I was wondering what the significance is of your issue numbers like [5.1.2.2.2](https://github.com/HTBox/allReady/issues/44)?  Some issues have numbers and some don't.  Do the numbers ge

[2015-12-13 21:01] BillWagner commented on #453
@markstownsend Those match the sections in the specification. The document is in the archive here: https://github.com/HTBox/allReady/blob/master/docs/requirements/HTBox%20AllReady%20Requirements.docx

[2015-12-13 21:01] #453 closed

[2015-12-13 23:59] joelhulen commented on #453
Cool. I've never seen the spec doc before. Is there a new one?

[2015-12-14 00:55] tonysurma commented on #453
In a good way the work got ahead of the spec :) so I will be working on the updates I discussed recently with @OhMcGoo and @smille1834 so we have the definition of what we need to get to the release milestones in Jan/Feb in our hands in the next few days/week

[2015-12-14 19:30] stevejgordon opened #455 "Campaign Admin List"
On the campaign admin list (/Admin/Campaign), signed in as a user for one org I can see all campaigns from all orgs. Is that the correct behaviour or should that list be filtered to only those from the correct org?

[2015-12-15 01:53] mheggeseth commented on #455
An org admin should only see their campaigns on /Admin/Campaigns. They wouldn't be able to do anything with the others.

[2015-12-15 06:47] stevejgordon commented on #455
Yes it required a login if I tried to click on any from other orgs. I'll test this out a bit more and verify what's happening.

[2015-12-15 18:48] stevejgordon commented on #430
I've started work on this one

[2015-12-16 17:10] dpaquette opened #458 "Do we need a separate Admin login?"
I am wondering if we really need a separate login page for administrators. I am thinking we could combine this to a single login page. Aside from the duplicate code, I could see this being confusing if people aren't sure which login they should use.

Asking because I'm getting started on #262 and I am hoping to avoid doing this in 2 places.

[2015-12-16 17:23] joelhulen commented on #458
I wondered about that since the beginning. Why is it separate? We're using the same authentication system.

[2015-12-16 17:29] dpaquette commented on #458
The Admin version does some extra checks to redirect to a different page based on the usertype (Site admin vs Org admin), but we could easily do that from the main login page

[2015-12-16 17:38] joelhulen commented on #458
Exactly. No reason to have it in a separate place.

[2015-12-16 18:09] OhMcGoo commented on #458
I'm all for one login page.

Jim McGowan

[2015-12-16 18:29] dpaquette commented on #458
Great! If there are not objections I will take this on before tackling #262

Please assign to me

[2015-12-16 18:31] #420 closed

[2015-12-16 18:34] #449 closed

[2015-12-16 18:35] #370 closed

[2015-12-17 07:14] stevejgordon commented on #423
I plan to have a crack at the final eradiation of the tenant wording through the classes and properties once my PR #456 for the DB changes is all merged in.

[2015-12-18 18:20] #426 closed

[2015-12-20 06:00] jonatwabash commented on #2
What was the final solution for making the domain url configurable? Does it simply have to be updated by hand in the services.js file, or is there some automated process that will change what currently looks like a hard-coded string while building and deploying the app?

[2015-12-22 09:03] stevejgordon commented on #430
Update: This is nearly complete. I've just got the tests to work on and then I should be able to have a PR submitted soon.

[2015-12-27 16:42] stevejgordon commented on #455
So I've finally checked this and if I login as an org admin I can see campaigns in the admin campaign list from all orgs. If I click though I'm asked to re-authenticate.

Example here is when logged in as org admin for Humanitarian Toolbox I can see a campaign from New Org also.

![image](https://cloud.githubusercontent.com/assets/3669103/12011089/9ec9a348-acb8-11e5-99bc-70b7026adc6d.png)

Is this

[2015-12-27 19:40] stevejgordon commented on #423
I have started on this one locally

[2015-12-27 19:59] mheggeseth commented on #316
Shopping list:
* [ ] Add "Create New" link/button to Required Skills section on the Activity Create/Edit view
* [ ] "Create New" button brings up modal to create a new skill. New skill will be associated with organization related to the current activity.
* [ ] New skill will be submitted to Skill Controller via AJAX request.
* [ ] Successful skill submission will add the new skill to the list of a

[2015-12-28 01:59] BillWagner commented on #316
@smille1834 @OhMcGoo Can you comment on @mheggeseth list above? Is that the right set of requirements?

[2015-12-28 11:55] stevejgordon commented on #423
I have this all ready to go. I'll wait on PR #459 since it will introduce some slight changes I'll need to make to this before submitting the PR.

[2015-12-28 17:06] #430 closed

[2015-12-28 17:06] #458 closed

[2015-12-28 19:26] OhMcGoo commented on #316
I'll sit down with @smille1834, today, and we'll come up with a 'unified' response. Thanks for flagging this for us @BillWagner.

[2015-12-28 21:06] #423 closed

[2015-12-29 03:17] bluechrometouch opened #462 "User.GetTimeZoneId() does not return user time zone Id"
This method returns a null value for the user despite having a user time zone set. This method is being used in Activity.cshtml.

Currently testing with the default Administrator@example.com account.

[2015-12-29 04:40] bluechrometouch commented on #462
Despite having a default time zone in the AspNetUsers table,users still need to have a time zone added to AspNetUserClaims table.

Adding such a claim on user registration and seeding users data could be a fix?

[2015-12-29 12:31] dpaquette commented on #462
I will take a look. I think some changes to Identity in RC1 broke this because it was working previously. I ran into a similar problem with IsUserType yesterday.

Please assign to me

[2015-12-29 14:17] BillWagner commented on #462
Assigned to @dpaquette

[2015-12-29 17:17] tonysurma commented on #316
Just to add to what @smille1834 and @OhMcGoo will say I think your list is spot on with one minor change (which may be what you meant).  For the first sundry it should be: "Create Activity view should only include skills owned by the organization associated with the current activity merged with site level skills"  IOW the list should include site level skills, skills from current activity org and

[2015-12-29 17:37] dpaquette commented on #462
Okay I had a look at this and it is currently working as designed.

We don't require the user to provide timezone info at the time of registration so we only actually set the claim if the user explicitly edits the profile and changes their timezone setting. I think this is ok since the user's timezone isn't actually required for them to use the system. We will also be prompting the user to complet

[2015-12-29 19:32] bluechrometouch commented on #462
Ok, I think this can be closed then.

[2015-12-29 19:32] #462 closed

[2015-12-29 22:07] OhMcGoo commented on #316
@smille1834 and I are in general agreement with your list @mheggeseth and with the follow-up from @tonysurma. @smille1834 particularly liked "the idea of being able to add skills during the activity creation." However, I'm having trouble logging in to the site:
<img width="1280" alt="allready-d azurewebsites net" src="https://cloud.githubusercontent.com/assets/4147733/12042932/88916c08-ae45-11e5-9

[2015-12-29 22:08] tonysurma commented on #316
@OhMcGoo for now use the -mvp site.  There is some issue in the -d dev site that we haven't debugged yet.

[2015-12-30 01:53] OhMcGoo commented on #316
I have nothing else to add to the list . . . it looks good!

However, I have a more universal question about skills and Volunteers. I would assume we want Volunteers to be able assign themselves skills (or somehow be prequalified by an Organization). Understanding that each Organization will create their own lists of skills, how will we deal with a situation when each wants someone with the same s

[2015-12-30 15:44] manojattal commented on #421
Hi there, I want to work on this item. I see different comments for this issue. I am changing it's order to 3rd from left. Let me know if some other option should be chosen.

[2015-12-30 15:54] pettys commented on #417
Is this still an accurate write-up of what is desired here? I was thinking of jumping in by dropping this list into the home page, using the campaigns page as a guide, but wanted to make sure this change is still in line with the current flow of the project.

Is this a web app only change, or is there a corresponding change in the cordova project as well? (I haven't gotten the cordova part running

[2015-12-31 08:04] manojattal opened #464 "Getting error after taking latest code"
I am getting error

"An exception of type 'System.Data.SqlClient.SqlException' occurred in EntityFramework.Relational.dll but was not handled in user code

Additional information: The ALTER TABLE statement conflicted with the FOREIGN KEY constraint "FK_Campaign_Organization_ManagingOrganizationId". The conflict occurred in database "AllReady", table "dbo.Organization", column 'Id'."

I also tried

[2015-12-31 15:33] dpaquette commented on #464
I think that a recent refactoring has required that we drop any existing databases.

 See PR #442

[2015-12-31 15:35] dpaquette commented on #455
Definitely not correct. I have a fix for this. Can this be assigned to me?

[2015-12-31 15:41] BillWagner commented on #455
assigned to @dpaquette

[2015-12-31 15:47] mheggeseth commented on #464
Works great for me.
![image](http://mheggeseth.me/allReady/allready.gif)

Are you sure you didn't accidentally introduce divergent changes when resolving conflicts for https://github.com/HTBox/allReady/commit/a4284e4574be53fc21607960c33b5cdaa02f15dd?
You should verify that the only differences between HTBox/master and your branch are the changes you made in https://github.com/HTBox/allReady/commit

[2016-01-02 18:44] tonysurma commented on #417
@pettys welcome!  Thanks for checking  but yes this is still accurate.  For now we are focusing on the web project but if you want to jump into the cordova project please do.  Thanks again

[2016-01-02 18:45] tonysurma commented on #316
@OhMcGoo that's a great point and we can add some enhancements like that later (I will log them) to help deter code 'sprawl' like you suggested and/or do some reconciliation later

[2016-01-03 17:31] BillWagner commented on #421
@manojattal Thanks for helping. Let us know if you need any help as you put together the changes.

[2016-01-03 17:33] #455 closed

[2016-01-03 17:36] BillWagner opened #466 "We need scenario tests in AllReady"
I'd like to see scenario tests done for AllReady, as we have for crisis checkin. The attached document (written by @OhMcGoo and @smille1834 ) describes two of the core workflows.

[AllReady Work Flows.docx](https://github.com/HTBox/allReady/files/76678/AllReady.Work.Flows.docx)

[2016-01-03 17:37] BillWagner commented on #466
Pinging @pottereric to see if he wants to help with this project as well.

[2016-01-03 18:21] pottereric commented on #466
I'd be glad to help.

I'll be at CodeMash this week and plan to spend part of the precompiler time in the HTBox Hackathon.

[2016-01-03 20:12] tonysurma commented on #466
Great @pottereric.  We'll see you there

[2016-01-04 01:47] mheggeseth commented on #464
@manojattal Did you get this fixed? If so, please close this issue. If you need any help getting the hang of Git(Hub), let us know how we can help.

[2016-01-04 07:47] manojattal commented on #464
@mheggeseth Thanks for your screenshots. It is working for me now. Actually I was deleting database from "Server Explorer" windows and not "Sql Server Object Explorer" window. Deleting from the other windows was not working.

[2016-01-04 07:47] #464 closed

[2016-01-04 08:19] manojattal commented on #421
@BillWagner I am facing issues in creating pull request to GitHub. I have went through tutorials, but seems there is some issue the way in which my GitHub is setup. I am getting error "Sync failed to push local changes", May be GitHub is getting conflict with "GitLab" repository setup(my work related set up). I will give a try to commit again, tonight.

[2016-01-04 12:59] mheggeseth commented on #421
@manojattal It doesn't look like your GitHub account has a fork of the allReady repo. You'll need to start with that. You won't be able to push directly to HTBox/allReady. If you haven't already, check out http://htbox.github.io for guidance. If you are having trouble with the instructions there, let us know and we'll make them better.

[2016-01-04 14:52] BillWagner commented on #421
And, if the link @mheggeseth doesn't help, I wrote this blog post a while back when we had a number of people work directly from the HTBox master instead of a fork:
http://thebillwagner.com/Blog/Item/2015-08-18-IforgottoforkbeforeIstartedworkingandhowtofixit

That may help you as well @manojattal

[2016-01-05 10:21] ksk100 commented on #396
This was closed by commit cfdcceac3b56ec8d501613a82c78fa23ae0ae065.

[2016-01-05 11:06] BillWagner commented on #396
@ksk100 Thanks. Closing now.

[2016-01-05 11:06] #396 closed

[2016-01-05 13:12] stevejgordon opened #468 "Refactor Activity and ActivityAPI controllers to use Command/Query Pattern"
Having now refactored the Skills Admin actions to the command/query pattern I was wondering if it would be valuable to start refactoring some of the existing controllers similarly?

If so I propose starting with the Activity and ActivityAPI controllers.

@mheggeseth Does this sound reasonable? If so I would be able start working on this. I'd also look to add tests in a similar style to those I cre

[2016-01-05 13:28] stevejgordon commented on #389
I was just looking for something to pick up and wondered if there were plans to look at this feature and perhaps break it down into chunks?

I like the idea of something similar to GItHub notifications as a way to view things that have occurred since you last view the list or marked as read. Coupled with emails as necessary for subscribed items. I like the idea of realtime updates as well.

[2016-01-05 13:41] trayburn commented on #183
I'm working on this on my branch `trayburn/allReady/unvolunteer`

[2016-01-05 14:47] featuresnap opened #469 "Organization Name - Should enforce uniqueness"
When creating a new organization (using Admin..Organizations and then Create New), the application allows creation of multiple organizations with the same name. This could lead to confusion among many similar organizations. Recommend addition of a uniqueness constraint at a minimum.

[2016-01-05 14:57] mgregory22 opened #470 "Invalid zip code in Campaign Edit page causes internal server error - remove error"
Zip code field needs graceful error recovery on /Admin/Campaign/Edit/### page.

Error message:

A database operation failed while processing the request.

DbUpdateException: An error occurred while updating the entries. See the inner exception for details.
SqlException: The INSERT statement conflicted with the FOREIGN KEY constraint "FK_Location_PostalCodeGeo_PostalCodePostalCode". The conflict oc

[2016-01-05 15:00] ericbrumfield commented on #59
Looking to pitch in, I'll start with ResourceAPIController to get my feet wet.

[2016-01-05 15:16] mgregory22 commented on #470
Actually, it doesn't seem to accept any zipcode

[2016-01-05 15:28] featuresnap opened #471 "Campaign FullDescription text is not persisted after create or update"
Instructions to reproduce:
* Navigate to Admin..Campaigns
* Click Create New
* Fill out campaign fields, including placing some text in the FullDescription tinyMCE rich text editor
* Click Create to submit the new campaign, this returns you to the Campaign Details page
* Click "Edit" link (small pencil icon next to campaign name)
* On campaign edit page, the text of the FullDescription is now empt

[2016-01-05 15:31] mgregory22 commented on #470
Ok, it accepts zipcodes that exist in the PostalCodeGeo table

[2016-01-05 16:51] trayburn opened #473 "When a Registered User Unvolunteers, notify organizer of any tasks that have been unassigned"
Split from #183 to create a more manage-able pull request, please see discussion there.

[2016-01-05 16:52] trayburn commented on #183
Split off notifying organizer into issue #473 to make this a more manageable PR.

[2016-01-05 18:25] stevejgordon commented on #471
I'm taking a quick look at this issue

[2016-01-05 21:13] #471 closed

[2016-01-06 13:03] stevejgordon opened #478 "Volunteer available for closed activities"
When testing the activity process I noticed that when viewing the details for a closed activity within a campaign I could still volunteer.

Is this correct as I'd expect that once closed no new volunteers can signup?

If this is confirmed as a bug I propose we can simply hide the volunteer link for any closed activities.

[2016-01-06 13:25] stevejgordon opened #479 "Campaign Location Display"
When viewing a campaign under the http://localhost:48408/Campaign/2 url should the location address be displayed on the page somewhere?

At the moment I cannot see this exposed in the UI except in the admin areas. There is a map link from the campaign listing page (although that itself might be broken too) but in the details page I think it would be useful to at a glance see the primary location p

[2016-01-06 13:28] stevejgordon commented on #470
I've seen this same issue in the Create Campaign flow also. I guess this needs some discussion on how this should function.

* Should it be an autocomplete from the available post codes in the PostalCodeGeo table?
* What if someone is adding a campaign and their postcode doesn't exist yet?
* How is the PostalCodeGeo anticipated to be managed to add/remove them?

[2016-01-06 16:30] tonysurma commented on #466
assigning eric and also @pottereric if you want to split this between have scenario tests and have them working in appveyor feel free to create a separate issue

[2016-01-07 02:00] mheggeseth commented on #478
Makes sense to me to take the volunteer link away once an activity is over.

[2016-01-07 02:51] mheggeseth commented on #468
Sounds good to me, although if there's any help you can provide to the current milestone https://github.com/HTBox/allReady/milestones/Private%20Preview%20UAT that would be best.

[2016-01-07 03:46] BillWagner commented on #389
@stevejgordon I like the idea of breaking this into smaller tasks. If you'd like to create new issues for those tasks, and reference this one, that would be great.

That said, note that this isn't scheduled for either of our upcoming milestones. We are in the process of planning a pilot deployment for a campaign, and it will help that succeed if we focus on the issues that are scheduled for the ne

[2016-01-08 08:55] stevejgordon commented on #296
I'm not 100% sure how best to tackle this yet but could have a try in a branch if no one is currently progressing this one?

@MisterJames 1 and 2 makes sense to me and perhaps we use a couple of additional DB fields to track this. For item 3 I'm perhaps not clear on how you see that working though? Are you proposing a user could store multiple emails (similar to PayPal) with one marked as primary?

[2016-01-08 09:04] stevejgordon commented on #353
@MisterJames I was wondering if you're still working on this? One thought I do have is whether we really want a hard delete or simply a mechanism to deactivate (soft delete) so that any data/history linked to the user can remain in place? Or perhaps both scenarios are useful?

[2016-01-08 11:58] stevejgordon commented on #468
@mheggeseth Yes thanks, will focus on picking up current milestone issues and then revisit this at a later point.

[2016-01-08 12:00] stevejgordon commented on #389
@BillWagner Thanks Bill. I'll have a think on it and suggest a breakdown. Would a task list here or separate issues be best practice? Also since this isn't top priority I'll see what I can offer to other milestone issues first.

[2016-01-08 12:01] stevejgordon commented on #478
@mheggeseth Thanks. I'll take a look at this since it's probably a quick job to slot in.

[2016-01-08 17:40] BillWagner commented on #389
@stevejgordon Three questions:
1. You've become more involved in the project. Thank you. I'd like to add you to the list of team members (same privileges), and then we can formally assign issues to you as you work on them.
2. We're still learning, but I think the right plan is to create a task list on this issue. After we are satisfied that it's the correct breakdown, we'll make issues from each t

[2016-01-08 18:01] stevejgordon commented on #389
@BillWagner You're welcome. It's a great cause and fun to learn and work with ASP.NET 5 as well. I'm happy to be added to the list of team members, thanks.

[2016-01-09 13:28] mheggeseth commented on #296
I'm not sure I understand @MisterJames 3rd item either, but we already have a way to specify an alternate email when volunteering. That alternate email so neither confirmed or associated with the user in a permanent way though.

[2016-01-09 14:03] mheggeseth commented on #353
From @tonysurma's description, it sounds like the primary need is total annihilation to make site testing easier. Soft delete is a bit more complex and should probably come later.

[2016-01-09 19:49] stevejgordon commented on #353
Sounds fair. I'll wait on @MisterJames as I do see a branch in his repo that probably covers this.

[2016-01-09 19:52] stevejgordon commented on #296
Maybe the simplest starting point is just a request to change pw with confirmation before final committal. I'll have a play and get something going which we can adjust as necessary.

[2016-01-09 21:51] Sobieck opened #482 "Using Should for unit test assertions"
I've been contributing to this project writing some unit tests and I was wondering if we would be interested in using the [Should](https://github.com/erichexter/Should) assertion library.

I love using Should and I find myself missing it greatly when writing tests in the old `Assert.Equal(expectation, actual)` way.

The library allows you to use extension methods to make your assertions. The synta

[2016-01-10 09:05] bluechrometouch commented on #376
![capture](https://cloud.githubusercontent.com/assets/14866579/12220809/c5aa9132-b746-11e5-9657-15b66fdd9daa.JPG)

Calendar is not working yet, but here is a demo.

[2016-01-10 19:43] stevejgordon commented on #296
I've got this in progress locally. Items I'm adding / steps I'm taking are:

- [x] Update model to support a proposed new email
- [x] Update manage view with link to change email
- [x] Add a change email view and controller
- [x] Validation to reconfirm the user password takes place before any changes are made. A check to ensure the proposed new email is not already registered also occurs
- [x] Up

[2016-01-11 20:26] stevejgordon commented on #39
Hi @bluechrometouch. I was just wondering if you'd started work on this? If not it's something I may be able to spend some time on next.

[2016-01-11 20:40] stevejgordon commented on #261
Please assign me to this issue and I'll start having a look during this week.

@tonysurma My only question at this point is around the phone number type dropdown. If I look at the app currently where we add a phone number it seem to assume all numbers are mobile since it intends to send a verification SMS? Should there also be a concept of a landline?

[2016-01-12 06:08] bluechrometouch commented on #39
@stevejgordon Feel free to work on it.

[2016-01-12 07:23] stevejgordon commented on #39
@bluechrometouch Thanks. I'll take a look at this next. Hopefully this week.

[2016-01-12 13:15] stevejgordon commented on #39
@tonysurma Before I start I just wanted to check I understand the requirement. Is the functionality intended to be an admin "lock" of a campaign? If so can I check these assumptions / questions?

1. allReady Admin can "lock" a campaign
2. Locked campaigns are not shown in the All Registered Campaigns list at /Campaign - As an extra would we want to prevent manual browsing to activities / tasks rel

[2016-01-12 13:19] stevejgordon commented on #37
@tonysurma I see this relates to / is a pre-requisite of #39 and may change my understanding of that requirement.

Is the goal here to create campaigns initially in an unpublished state with a toggle to publish when they are ready?

What is the intended difference from the current Edit campaign behaviour? Do changes to the Campaign fields need to be "versions" of the campaign which can be reverted

[2016-01-12 13:55] stevejgordon commented on #417
@pettys @tonysurma I agree with leaving the simpler items for new contributors to start with the project. However, as this milestone is late I'm able to pick this up if we want to get it in sooner and it's not already been started by anyone?

[2016-01-12 17:40] mmoore99 commented on #417
@pettys @tonysurma @pettys, I'm a noob to allReady and would be interested in taking a crack at this if it is not already being worked on.  I had held off in responding as I thought that @pettys may have jumped on it.

[2016-01-12 17:52] stevejgordon commented on #417
@mmoore99 From my perspective, go for it. I've not started anything around this one. I can't see a fork of allRready from @pettys yet so I guess it's not been started but hopefully he can confirm.

[2016-01-12 19:03] pettys commented on #417
Go ahead - sorry to hold it up.

On Tue, Jan 12, 2016, 11:52 AM Steve Gordon <notifications@github.com>
wrote:

[2016-01-13 00:18] tonysurma commented on #261
@stevejgordon good question, let me noodle that.  Initial thought is guide to mobile preferred and maybe not a drop down type but a [ ] for mobile can receive txt messages or something like that...

[2016-01-13 00:20] tonysurma commented on #478
@mheggeseth can you give the PR a once over please?

[2016-01-13 01:35] mmoore99 commented on #417
@tonysurma @stevejgordon Ok, I am going to see what I can do with this.  First question, how do you define 'active/upcoming' campaigns? Should the list include all active campaigns and all future campaigns or all active campaigns and future campaigns within some date range?  Thanks.

[2016-01-13 01:39] mheggeseth opened #487 "Activity View Crashes with Skills Having Parent Skills"
The activity view (`Views/Activity/Activity.cshtml`) crashes if any of the activity's required skills have a parent skill or if any of the user's associated skills have a parent skill.

@stevejgordon This appears to be the result of adding the `Children` property to the `Skill` class. It causes a circular reference exception when trying to JSON serialize. Is the property strictly needed or can you

[2016-01-13 07:05] stevejgordon commented on #487
@mheggeseth Sorry about that! I've just submitted a PR to address this. I've done as you suggested and removed the need for the property. The only reason I'd added it was to avoid the need to query the DB with two calls when we get the skill and then the list of children. There is a minor efficiency gain to be able to include it all in one query.

One other solution I tested which we could conside

[2016-01-13 13:44] mheggeseth commented on #487
@stevejgordon I think the way you've done it in the PR is most straightforward.

[2016-01-13 13:53] mheggeseth opened #489 ""Login Org Admin" Scenario Test is Brittle on AppVeyor"
The "Login Org Admin" scenario test seems to fail inconsistently when run as part of the AppVeyor build. Seems like a race condition of some sort. The failure is a timeout. @pottereric Can you look into this?

![image](https://cloud.githubusercontent.com/assets/775229/12295944/137b2748-b9ca-11e5-96e7-4d3387225f97.png)

[2016-01-13 15:18] stevejgordon commented on #487
@mheggeseth Okay, thanks. I'll leave it there then

[2016-01-13 23:05] #478 closed

[2016-01-13 23:06] #487 closed

[2016-01-15 18:14] mmoore99 commented on #418
@tonysurma @mheggeseth I would like to work on this, but would like some guidance as to what type of functionality is desired.  Do we just want to be able to search the list?  If so, what types of searches.  @mheggeseth made reference in #193 to displaying a map.  How does that factor in?  Please advise, thanks.

[2016-01-15 18:17] mmoore99 commented on #421
@manojattal Are you still working on this?  If not, I would be willing to handle it.  Please advise.

[2016-01-16 01:49] mmoore99 commented on #473
I would like to take a shot at this.

[2016-01-19 08:19] stevejgordon commented on #39
I've started work on this by adding a status for each campaign. The options are draft, live and locked. These statuses control the display of the campaign in the system.

Locked will be managed by already admins. It will hide the campaign from any public pages. It will prevent Org admins from re-publishing the campaign. Optionally we could prevent editing and put up a UI warning to explain that it

[2016-01-19 23:03] mmoore99 commented on #473
@mheggeseth or anyone else that wants to chime in, I have begun working on this issue and have a general question regarding approach.  When using the command/query pattern if there is an existing query that returns a model that contains all but a few of the properties that are needed what is the best/preferred practice for getting access to the additional properties? Modify the existing query mode

[2016-01-20 00:22] manojattal commented on #421
@mmoore99 I just committed pull request for this bug.

[2016-01-20 01:06] mheggeseth commented on #473
I mostly punt this to @dpaquette or @MisterJames. My gut feel is that if both queries have the same meaning and are used for the same purpose, then update or inherit, otherwise make a new query model/handler. One of the goals of the command/query pattern is to avoid the confusion that comes from trying to cram multiple use cases into a single repository model, however I can see the potential maint

[2016-01-20 06:27] mmoore99 commented on #473
I am trying to determine where to get the email address for the campaign organizer to send the notification email referenced in this issue.  There is an "Organizer" property in the campaign, but as far as I can tell it is never being populated.  In fact, it appears that the First Name, Last Name, City, State, Postal Code, Country, Phone Number and Email fields on the create campaign page are never

[2016-01-20 06:51] stevejgordon commented on #473
@mmoore99 In the "EditCampaignCommandHandler" there is a call to

campaign = campaign.UpdateCampaignContact(message.Campaign, _context);

That then updates a contact for the campaign which is stored in the Contact table and the link between the contact and the campaign is maintained in the CampaignContact table.

[2016-01-20 07:08] mmoore99 commented on #473
@stevejgordon thanks for that info.  Since there are potentially multiple contacts associated with a campaign should the notification email be sent to all contacts?

[2016-01-20 15:58] #421 closed

[2016-01-22 04:57] #473 closed

[2016-01-22 04:59] mmoore99 opened #494 "Need to use correct email address in notifications"
@MisterJames  While working on issue #473 it came to my attention that the previously developed code that generates email notifications when new users sign up for an activity (NotifyAdminForTaskSignupStatusChange.cs) and a task status change takes place (NotifyAdminForTaskSignupStatusChange.cs) sources the admin email address from the **Campaign.Organizer** property.  This property is not being po

[2016-01-23 21:53] Kritner commented on #59
This is probably silly as far as missing a setting or something, but when I run "Analyze Code Coverage -> All tests" in the web only solution (I'm trying to easily identity areas that still need test coverage)  it only shows that 33.33% of code is not covered.  The strange this is, that 33% is made up of only a total of 12 blocks (4 missing).  The only assembly showing up in the first tier of the

[2016-01-25 09:15] stevejgordon commented on #39
Update: I've changed and simplified my approach for this slightly to be more targeted to the brief. I'm hoping to get it far enough along to put in a PR this week.

[2016-01-25 22:59] mmoore99 opened #497 "Edit mask on phone number field of volunteer signup dialog allows for creation of malformed input"
The following screenshots show some examples of the malformed phone number inputs that are allowed by the current edit mask.

![screenclip](https://cloud.githubusercontent.com/assets/45022/12567042/d4e36aca-c371-11e5-8404-e666187e67d0.png)

![screenclip 1](https://cloud.githubusercontent.com/assets/45022/12567052/e09fd984-c371-11e5-9f06-0bdbda52e7a7.png)

![screenclip 2](https://cloud.githubuserco

[2016-01-25 23:25] mmoore99 commented on #372
I will work on this.

@tonysurma @MisterJames Regarding "allow the user to set their own 'communication' preferences", this is part of the discussion in #389 and I would propose that for the **Private Preview Release 2** milestone that we just send the emails to **all** who volunteer/unenroll.

[2016-01-27 09:59] jonhilt commented on #59
Hello. I've been discussing with @BillWagner and @RichardCampbell  a proposal to to host a "hackathon" day at my company (codeweavers.net) to work on AllReady.

We're still in the planning stages but looking at the kind of areas we could work on for the day this seems like a gentle introduction for our developers (contributing to open source is new to most of them) and something which would add va

[2016-01-29 12:42] stevejgordon commented on #261
@tonysurma Just wondering if the PR resolved this or if we need more work (perhaps new issue/story) to allow phone types?

[2016-01-29 14:58] BillWagner commented on #59
@jonhilt I think that is an awesome idea. Let us know when you have the date finalized.

[2016-01-30 14:41] tonysurma opened #501 "Scenario V1: Volunteer Edit Profile"
_These issues are scenarios documented for use of the application.  Likely will be the 'parent' of multiple sub issues to verify, add or fix functionality to support them._

# **Volunteer Edit Profile**
Initiation: Volunteer has registered, logged in and navigates to user profile options
Features:
- [ ] Volunteer can enter/edit name as required field
- [ ] Name appears as supplied at top next to H

[2016-01-30 14:48] tonysurma opened #502 "Scenario V2: Volunteer volunteers for Campaign"
_These issues are scenarios documented for use of the application.  Likely will be the 'parent' of multiple sub issues to verify, add or fix functionality to support them._

# **Volunteer Volunteers for Campaign**
Initiation: Volunteer has navigated to campaign at activity or task level where volunteering is an option (per campaign type)
Features:
- [ ] Volunteer link is present and worded with cl

[2016-01-30 14:52] tonysurma opened #503 "Scenario A1: Administrator Creates a Campaign"
_These issues are scenarios documented for use of the application.  Likely will be the 'parent' of multiple sub issues to verify, add or fix functionality to support them._

# **Administrator Creates a Campaign**
Initiation: User registered and logged in as a Organization Administrator
Features:
- [ ] Administrator can click link to create Campaign from Admin->Campaign and Campaign pages

_**Scena

[2016-01-30 15:19] tonysurma opened #504 "Volunteer & Org Admin Workflow Differs By Activity Type"
_This is a new direction/change in functionality to support requirements found during testing to increase value of application for users_

## Campaign Workflow Differs By Activity Type
_please note these names are not great and we will come up with better ones - or at least we hope to :8ball:_

### Type A: Activity Managed
_example: Smaller event without shifts or broad timeframe such as volunteer

[2016-01-30 16:33] stevejgordon commented on #294
Seeing this is a P1 in the current milestone I'd like to see if I can help here. @BillWagner Do we have any wording available we can use.

It sounds like we ideally need a AllReady page, linked from the footer that will host the general site policy.Then potentially we need a way for org admins to add their own privacy policy text and if that's available perhaps put a link within their campaigns an

[2016-01-30 16:42] stevejgordon commented on #296
Wondering if this can be closed based on merged PR #484 or if more is required here?

[2016-01-31 18:17] mmoore99 commented on #501
@tonysurma After reviewing the app and the code it appears to me that the existing code supports the requirements of the above workflow with the exception of making the 'name' field required.  I am in the process of making the changes needed to do this. **Should I submit the pull request against this issue or create a sub issue referencing this issue as parent?**

Also, should 'name' be added to t

[2016-02-01 07:13] mmoore99 commented on #504
@MisterJames I would be willing to develop an initial cut at a list of tasks for implementing the above discussed scenarios.  Please advise as to whether, or not, you would like for me to proceed. Thanks.

[2016-02-01 17:58] MisterJames commented on #504
@mmoore99 Each of those above would likely be one (or more) tasks. I think to approach these, we'll be best to tackle each as a separate issue with a corresponding PR. If we need a couple of PRs, we can work from a common feature branch.

If you want to map some of it out, that would be great...an issue for each point above (just reference this issue in your new one to create a link).

[2016-02-01 18:19] mmoore99 commented on #504
@MisterJames I would propose the following sub-issues:

1. Add "ActivityType" property to "Activity" model to support requirements in #504
2. Add support for "Type A: Activity Manged" activities as defined in #504
3. Add support for "Type T: Task Manged" activities as defined in #504
4. Add support for "Type D: Deploymnent Manged" activities as defined in #504

For each of these sub-issues I will

[2016-02-01 23:18] mmoore99 opened #505 "Add "ActivityType" property to "Activity" model to support new Activity workflows"
This is a sub issue from #504

- [ ] Add "ActivityTypes" enum with entries for the different activity types (ActivityManaged, TaskManaged, DeploymentManaged).  Note that per @tonysurma in #504 these names may be changed.
- [ ] Add "ActivityType" property to "Activity" model
- [ ] Create database migration script
- [ ] Add "ActivityType" to  admin add/edit dialog for Activity

The following will be

[2016-02-01 23:24] mmoore99 opened #506 "Add support for "Type A: Activity Manged" activities"
This is sub issue of #504

The following represents an initial pass at attempting to flush out the requirements for this issue.  Comments, and answers to questions, would be appreciated.

### For this type of Activity the following is true as defined in #504 :
- Tasks are not shown to volunteers
- Volunteers volunteer for Activities
- Admins assign tasks to volunteers
- NO assignment communication

[2016-02-01 23:25] mmoore99 opened #507 "Add support for "Type T: Task Manged" activities"
This is sub issue of #504

More detail to follow.

[2016-02-01 23:26] mmoore99 opened #508 "Add support for "Type D: Deploymnent Manged" activities"
This is sub issue of #504

More detail to follow.

[2016-02-01 23:47] mmoore99 commented on #502
@MisterJames @tonysurma With the changes being introduced to the Activity workflows in #504 (Volunteer & Org Admin Workflow Differs By Activity Type), I would propose that the workflow items shown here should be merged into in the individual issue items for each of the activity types (see #506 ) and that this issue be closed to prevent confusion.

[2016-02-02 12:41] MisterJames commented on #505
Each one of those checkpoints will be a separate PR but not necessarily a seperate issue, so they may need a little more detail.

[2016-02-02 18:08] mmoore99 commented on #505
@MisterJames thanks for the feedback.

My thought process was to have this specific issue be narrowly focused on just the tasks required to getting the "ActivityType" property in the system and available to be used.  Tasks like "Verify admin assignment flows for new activity type"  and "Create endpoint for above link to accept volunteer cancellation" would be included in the detail issue for each

[2016-02-04 01:09] mheggeseth commented on #494
I don't think we know exactly what **Campaign.Organizer** is supposed to be for, but seeing as CampaignContacts at least has the possibility of containing something, I think it's fine to go with that.

[2016-02-04 19:12] mmoore99 commented on #505
@MisterJames I have PR ready that implements the following:

- [x] Add "ActivityTypes" enum with entries for the different activity types (ActivityManaged, TaskManaged, DeploymentManaged).  Note that per @tonysurma in #504 these names may be changed.
- [x] Add "ActivityType" property to "Activity" model
- [x] Create database migration script
- [x] Add "ActivityType" to  admin add/edit dialog for A

[2016-02-06 16:13] #494 closed

[2016-02-06 16:13] #497 closed

[2016-02-06 16:14] #372 closed

[2016-02-06 19:04] mmoore99 commented on #504
@tonysurma @OhMcGoo (cc: @BillWagner @mheggeseth @MisterJames)   I have been working on flushing out the tasks needed to implement the changes to the Activity workflows for issues #506, #507 & #508 (sub issues of this issue).  In this process I have developed a list of questions that I think would be best addressed by the "users" of the application.  Your feedback on the following questions would

[2016-02-06 20:58] MisterJames opened #511 "Associated Data Concerns when Deleting a User"
There are some things that should be done in order to properly take care of deleting a user:

- [ ] Display the connected data to the user on the delete confirm page
- [ ] All the admin to optionally send notifications to affected parties (org admin, user)
- [ ] Disassociate assigned tasks/activities/campaigns

Each of these can be picked up as a separate PR.

@tonysurma Open to thoughts here, mil

[2016-02-06 21:06] MisterJames opened #512 "Discussion: URL Generation for "Magic Links""
This is a breakout from #505 and related functionality where we want a user to respond to a message or notification.

We should have a separate function call/library that we use that can create a link, the result of which should be able to log in a specific user and either take them to a specific page or execute a specific action.

Examples might be:
 - confirming task assignment
 - confirming act

[2016-02-06 22:49] mmoore99 commented on #512
@MisterJames  [here](http://stackoverflow.com/a/33873988/2645) is a link to an interesting approach to generating a token to be used in "Magic Links".  In this approach the the user id, guid, expiration, reason code are combined together and encrypted so that when the endpoint receives the code it can be validated without the need for having to persist the code anywhere. I guess one of the downsid

[2016-02-07 20:18] MisterJames commented on #512
@mmoore99 That approach could easily be modified to prevent duplicate action if all that was persisted was the token, after the fact. The first thing the "resolver" would do, after decrypting the payload would be to check if the token's been executed. Again, tokens are only valid for so long, so if you persist the expiry date of the token, a job could execute daily to clean up any older pieces. Al

[2016-02-08 13:05] stevejgordon commented on #512
@MisterJames @mmoore99 I've been digging into the source of Asp.Net Core Identity for some blog posts I'm working on at the moment. Identity already has the concept of a token provider IUserTokenProvider. An implementation of one can be seen at https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity/EmailTokenProvider.cs
 and https://github.com/aspnet/Identity/blob/dev/src/Mi

[2016-02-08 17:39] dpaquette commented on #512
I really like this idea. It would avoid the user getting lost or confused by having to log in after clicking a link.

My initial thought was that we would us some sort of token provider like @stevejgordon has suggested. We definitely want to the aspnetcore framework bits wherever we can for this since it will be much more secure than anything we could build on our own.

[2016-02-08 17:42] OhMcGoo commented on #504
@mmoore99 and @misterjames: I'm out of the office until Tuesday but will review this when I return and provide feedback. Thanks!

[2016-02-08 20:29] MisterJames commented on #512
Agreed, @stevejgordon and @dpaquette if we can use bits that are already in place (or derive from them) then we have less heavy lifting to do and run less risk of opening a hole we don't want.  I think we should explore this.

[2016-02-10 07:13] stevejgordon opened #516 "Extending Campaign Admin Lock/Unlock"
This will extend issue #39 and PR #499.

Thoughts are to add:

Additional column(s) to store a reason why the campaign is being locked, the date it was locked and possibly the username / contact details of the site admin who locked it.

I also thought perhaps we should email the owner of the campaign / org admin to alert them that it has been locked and why?

I also wonder if we need a mechanism f

[2016-02-10 20:52] bluechrometouch opened #517 "Adding a reference for unobtrusive ajax for partial view rendering?"
So it seems the ajax helper requires a reference to jquery unobtrusive ajax. What I'm trying to do is filter down event results and return it as a partial view.
Would there be any problems?

[2016-02-11 17:33] dpaquette commented on #517
What ajax helper are you referring to?

[2016-02-11 19:26] bluechrometouch commented on #517
Ajax.ActionLink

[2016-02-11 19:34] dpaquette commented on #517
Ajax helpers don't exist in ASP.NET Core MVC

https://github.com/aspnet/Mvc/issues/2015

[2016-02-11 19:37] dpaquette commented on #517
What feature are you working on? Maybe we can work together to figure out an alternative approach.

[2016-02-12 17:39] OhMcGoo commented on #504
These are great questions, @mmoore99! First, let me say that some of my comments may contradict direction provided elsewhere. I hope that @tonysurma and @BillWagner  will be able to clarify where needed.

When volunteering for an activity the sign in dialog is pre-populated with the user's email and phone number (which have previously been confirmed), but they are allowed to change these values. S

[2016-02-12 22:34] stevejgordon commented on #512
I've finally finished my post looking at token providers (hopefully accurate in my conclusions).

http://stevejgordon.co.uk/asp-net-core-identity-token-providers

A simple token provider would probably meet our needs here. It would probably be good to start with a list of all cases where we would want to send a link to verify an action. Once we know what cases we need to generate tokens and links

[2016-02-13 01:35] mheggeseth commented on #516
I'm not sure you necessarily need a way to mark the campaign as "fixed". Maybe just a way for the campaign organizer to send a message to the site admin.

[2016-02-13 07:29] mmoore99 commented on #507
For this type of activity the following is true:

- Tasks are shown to volunteers
- Volunteers volunteer for Tasks
- Admins can re-assign tasks to volunteers
- Re-assignment communication is only sent to Volunteers when it results in change outside of assigned timeframe and they can accept/reject task assignment
- Reminder sent ahead of Activity with option to respond as 'no longer able to volunte

[2016-02-13 07:34] mmoore99 commented on #507
I am currently on the code for this issue.

[2016-02-13 18:24] mmoore99 commented on #508
I am currently working on this issue.

[2016-02-13 19:59] mheggeseth commented on #489
@tonysurma This issue can be closed. This particular scenario test hasn't failed in a long time.

[2016-02-13 19:59] #489 closed

[2016-02-13 23:34] mmoore99 commented on #504
@tonysurma @OhMcGoo @BillWagner @mheggeseth @MisterJames @dpaquette

# Proposal

In @OhMcGoo's answers to my questions above he indicated that it would be preferable for the app to have the ability to restrict the number of volunteers for an activity/task to the number of "required" volunteers.  He also indicated it would be nice for the app to have the ability for a volunteer to be put on a "wait

[2016-02-15 12:37] manojattal commented on #469
Hello @ksk100, Are you working on this? Otherwise I can take it up!

[2016-02-15 13:21] stevejgordon commented on #503
@tonysurma Currently creating a campaign from the Admin > Campaign page is already in place. So to meet this scenario as it stands we just need to create a link from the main Campaign page to job to the Add Campaign screen (visible to org and admins only)?

[2016-02-15 13:30] stevejgordon commented on #516
@mheggeseth Sounds reasonable. Based on the above I propose the requirements be:

- [ ] Update UI for Campaign Details to make a locked campaign more obvious and a bit cleaner
- [ ] Update UI for Campaign Details to include a link to "Read More / Provide Feedback" (wording to be discussed)
- [ ] Clicking on the link will display a modal window with details of when and why the campaign was locked.

[2016-02-15 14:07] stevejgordon opened #519 "Activity Dates"
I've noticed a few odd issues with dates (always fun) when creating an activity for a campaign.

Firstly the start date defaults to the current date. If I create a Campaign for the future, then go in to create an activity the start date will never be valid since it will be today's date instead. Not major but a bit of a pain for a user who is setting up future campaigns to have to change this for e

[2016-02-15 21:58] tonysurma commented on #37
I think that is close.  In short we want to be able to have campaigns be 'built'/created before they go live and once they go live have the ability to preview a change before they push it live.  The preview could be just in a tab (like above here when I am entering a comment on an issue in GitHub) it doesn't have to be 'long lived' aka stored in system.

[2016-02-15 21:59] tonysurma commented on #39
I think this is close as well.  in short the idea is the ability for a system level admin to lock or soft remove a campaign (for example if it gets reported as bogus or offensive or spam or whatever) and then later remove the lock after the campaign owner edits it (as it could have just been a bad entry and not really 'bad' so once edited it can go live again)

Does that help?  Thanks for your con

[2016-02-16 13:04] stevejgordon commented on #37
@tonysurma Thanks for the extra info. I think I have an idea of how to go about this so I'll get started on this ASAP.

[2016-02-16 13:09] stevejgordon commented on #39
@tonysurma Thanks. Yes that helps. The PR I've submitted against this issue goes most of the way towards what you've described. I've created a new issue #516 to improve the feature a little beyond my first implementation.

[2016-02-18 05:33] DocHammoc commented on #59
I have a passion for unit tests ... so this may be a good place for me to jump in.

[2016-02-18 13:46] #39 closed

[2016-02-18 13:46] #501 closed

[2016-02-18 13:54] tonysurma commented on #503
@stevejgordon yes, the 'non-admin' campaign list page should get that add button with visibility as you stated.  Thanks

[2016-02-18 13:58] tonysurma commented on #516
sounds reasonable

[2016-02-18 14:51] glittle opened #520 "Campaign Dates display"
A null date is being shown on the Campaign page. Not sure if it is because there is no date in an old campaign.

![image](https://cloud.githubusercontent.com/assets/85186/13146711/4418afd6-d614-11e5-9ac8-18eb44962f80.png)

[2016-02-18 16:30] glittle commented on #520
Looks like this is fixed in the current version:

![image](https://cloud.githubusercontent.com/assets/85186/13150252/38984154-d622-11e5-8207-9dee3ea32c11.png)

[2016-02-18 16:30] #520 closed

[2016-02-18 16:35] glittle opened #521 "No page after rejecting MS Account Login"
After clicking to log in using my Microsoft Account, I decided to click "No" and not give all the permission asked for. I was redirected to:

http://allready-d.azurewebsites.net/signin-microsoft?error=access_denied&error_description=The%20user%20has%20denied%20access%20to%20the%20scope%20requested%20by%20the%20client%20application.&state=CfDJ8JpNXGetVhVOqpGUyBpOqdZZ3TrR65z1WHOFdaMcph3fhU9aivprGUyJ

[2016-02-18 16:36] glittle commented on #521
Similarly, after refusing to give all the permission requested from Twitter, got a blank page at this location:

http://allready-d.azurewebsites.net/signin-twitter?denied=u-V7uAAAAAAAikCZAAABUvU8uqQ

[2016-02-18 17:00] BillWagner commented on #59
@DocHammoc That would be perfect. Note that some improvement has happened here since this issue has been created, but we're still not where we want to be.

[2016-02-18 17:39] glittle opened #522 "FavIcon has a white background"
Might look better with a transparent background...

![image](https://cloud.githubusercontent.com/assets/85186/13152348/e34ec650-d62b-11e5-8333-199554b3d3e7.png)

[2016-02-19 04:12] mmoore99 commented on #507
Submitted PR #523

[2016-02-19 08:41] stevejgordon commented on #516
@tonysurma Thanks Tony. I'll work on this during the code-a-thon this weekend!

[2016-02-19 16:55] BillWagner commented on #296
This can be closed per PR #484. It looks like it did not get automatically closed when that PR was merged.

[2016-02-19 16:55] #296 closed

[2016-02-19 16:58] BillWagner commented on #261
Closed per PR #485.

[2016-02-19 16:58] #261 closed

[2016-02-19 16:59] BillWagner commented on #294
Assigned to @stevejgordon

[2016-02-19 23:19] mmoore99 commented on #506
Submitted PR #514

[2016-02-19 23:22] mmoore99 commented on #505
Submitted PR #514

[2016-02-20 02:29] mmoore99 commented on #502
**This is covered by PR's #518 and #523**

[2016-02-20 02:32] mmoore99 commented on #417
**See PR #490**

[2016-02-20 13:28] stevejgordon opened #524 "Locked campaign appearing on Organization homepage"
I forgot to filter out the locked campaigns on the org home page http://localhost:48408/Organization/{id} when implementing the locked campaign requirement.

I will have a PR to address this very soon.

[2016-02-20 13:32] stevejgordon commented on #524
I will take a few extra minutes to move this action to the command/query pattern whilst I'm there.

[2016-02-20 16:42] palittle opened #528 "Typo in About section"
About page - Work together section
This sentence seems to be missing a word or something.

[2016-02-20 16:44] glittle commented on #528
@dpaquette - what wording would you like here?

[2016-02-20 16:54] glittle commented on #528
I'll take this...

[2016-02-20 16:54] tonysurma commented on #528
'the preparedness work that"

[2016-02-20 16:54] glittle commented on #528
Thanks! Will do...

[2016-02-20 16:57] tonysurma commented on #524
closed in pull request #525

[2016-02-20 16:57] #524 closed

[2016-02-20 16:57] palittle commented on #528
So it should read:

 allReady allows campaign coordinators to engage, contact and connect volunteers with the preparedness work that needs to be delivered.

[2016-02-20 16:57] tonysurma commented on #417
closed in PR

[2016-02-20 16:57] #417 closed

[2016-02-20 16:58] tonysurma commented on #528
@palittle yes

[2016-02-20 17:02] stimms commented on #241
I did a quick look through the project and couldn't find anywhere where these icons were being used.

[2016-02-20 17:03] tonysurma commented on #511
thanks @MisterJames for now I am putting it after the next release and will think on it.  current thoughts:
checkbox 1: that is key to inform the decision
checkbox 2: lower priority but good to note to owners of assignments that this user is going away
checkbox 3: that is key for good data quality

so current thought lets break 1 & 3 and make them for the next release and P2 and the second as P3 f

[2016-02-20 17:05] #505 closed

[2016-02-20 17:09] tonysurma commented on #437
missed closing this per a commit prior

[2016-02-20 17:09] #437 closed

[2016-02-20 17:10] tonysurma commented on #469
@manojattal if you haven't heard anything go for it.  thanks

[2016-02-20 17:15] glittle opened #529 "WCAG - documents missing language tag"
Need to add language attribute.

[2016-02-20 17:16] tonysurma opened #530 "Invalid zip code in Campaign Edit page causes internal server error - correct workflow"
Extension of issue #470 to make a new workflow fix and not just remove the error and for that matter we need to get on top of whole geo stuff anyways

To Start:
I've seen this same issue in the Create Campaign flow also. I guess this needs some discussion on how this should function.
- Should it be an autocomplete from the available post codes in the PostalCodeGeo table?
- What if someone is addin

[2016-02-20 17:16] tonysurma commented on #470
For now lets make it not error and/or pretty print an error message like 'invalid code' and I have opened up a new issue #530  to discuss the right workflow

[2016-02-20 17:17] palittle opened #531 "Seconds unnecessary in activity times"
Unnecessary to show seconds in the activity times.

Saturday, July 4, 2015 10:00:00 AM - Thursday, December 31, 2015 3:00:00 PM Central Standard Time

[2016-02-20 17:18] tonysurma commented on #479
Agree it should show there.  We should mock up display to get feedback as well as will need to think about overall geo issues like in #530

[2016-02-20 17:23] tonysurma commented on #140
@dpaquette can you re look at this per your comment when you get a chance

[2016-02-20 17:27] tonysurma commented on #145
Can anyone see if this still an issue?  looks @dpaquette or @ksk100 may have solved elsewhere?

[2016-02-20 17:59] eisenpony commented on #59
Some people are having trouble running code coverage, so here is a spreadsheet with current numbers.
[Coverage.xlsx](https://github.com/HTBox/allReady/files/139273/Coverage.xlsx)

[2016-02-20 18:04] glittle commented on #529
Working on this...

[2016-02-20 18:11] palittle opened #533 "Updated a Campaign - got blank screen"
I went onto the site as an administrator and changed an existing campaign's info (dates, address, contact info etc.) and clicked to save it. The screen went blank and the url became `http://allready-d.azurewebsites.net/Account/AccessDenied`.

[2016-02-20 18:16] palittle opened #534 "Should highlight current page in top tabs"
No indication of what page you are on by looking at the top bar.

![image](https://cloud.githubusercontent.com/assets/17350634/13198326/284c9e24-d7c3-11e5-8ea8-5fe174f9dc9f.png)

[2016-02-20 18:18] dpaquette opened #535 "Improve UX of attempted login for admin users who have not confirmed email address"
As an organization admin or site admin user who has not yet confirmed their email address, I get the following error page when trying to log in.
![image](https://cloud.githubusercontent.com/assets/2531875/13198336/225f4de8-d7d4-11e5-869d-37e796b9527a.png)

I think we should display page that is a little clearer. The current page makes it look like the application has crashed.

[2016-02-20 18:19] palittle opened #536 "Version wording needs padding to the right"
All pages
The version wording runs all the way flush to the right. It needs some padding to make it look better.

![image](https://cloud.githubusercontent.com/assets/17350634/13198349/a4555e3e-d7c3-11e5-90d2-5819a029f535.png)

[2016-02-20 18:24] SeanFeldman commented on #531
What view is that?

[2016-02-20 18:25] SeanFeldman commented on #531
It's on `Activity` controller

[2016-02-20 18:26] dpaquette commented on #145
I did a quick search in the code and looks like Tenant has been successfully removed.

[2016-02-20 18:29] dpaquette commented on #145
Most of these issues seem to be fixed but End Date can still be < Start Date

[2016-02-20 18:34] dpaquette commented on #140
Safe to close this one now. I tested the date pickers and I can't figure out a way to get an invalid date in there

[2016-02-20 18:35] palittle opened #538 "Database Operation failed error"
While creating a new campaign, I was entering a postal code and clicked to enter (which submitted the form) and the following error message came up (`http://allready-d.azurewebsites.net/Admin/Campaign/Edit`)

[2016-02-20 18:38] SeanFeldman commented on #531
I'd like to work on it and have a question. Do we have an agreed format for dates (short/long/etc) @BillWagner ?

[2016-02-20 18:44] dpaquette commented on #241
Agreed this is safe to close

[2016-02-20 18:46] glittle commented on #534
Looking into this.

[2016-02-20 18:47] dpaquette commented on #531
@SeanFeldman Most of the time we are defaulting to "g" (general) format which shouldn't include seconds. It is possible that this is being overwritten in some places. Typically the formatting is handled in the TimeTagHelper

[2016-02-20 18:52] #241 closed

[2016-02-20 18:52] #528 closed

[2016-02-20 18:53] #529 closed

[2016-02-20 18:54] tonysurma commented on #538
this is a duplicate of #470 I believe

[2016-02-20 18:54] #538 closed

[2016-02-20 18:54] SeanFeldman commented on #531
@dpaquette in this case it looks like a _full_ format was needed, so I'll switch to a full format w/o the seconds

[2016-02-20 18:54] #140 closed

[2016-02-20 18:59] palittle opened #540 "Layout issues on Create Activity page"
The descriptions are overlapping the input boxes.  `http://allready-d.azurewebsites.net/Admin/Activity/Create/7`

![image](https://cloud.githubusercontent.com/assets/17350634/13198543/f318b3a4-d7c8-11e5-8998-6f63ab9d5b85.png)

[2016-02-20 19:11] SeanFeldman opened #541 "Create GH groups to simplify communication"
As a contributor to HTBox, I'd like to be able to communicate efficiently by pinging group of people and not individuals explicitly for things like
* PR reviews. Example: `@HTBox\pr-reviewers`
* Questions partitioned by expertise (testing, DB, web-app, mobile-app, etc.). Exmaple: `@HTBox\webapp`, `@HTBox\mobileapp`, `@HTBox\db`, `@HTBox\general-questions`, etc.

As a contributor, having this list

[2016-02-20 19:48] mheggeseth opened #544 "Share Organization-Specific Skills"
Created from discussion on https://github.com/HTBox/allReady/issues/316#issuecomment-167916226.

Provide a way for org admins to view and share skills owned by other orgs as a means of reducing the volume of org skills that have the same or similar meanings. Skill sharing will be explicit, not implicit. For instance, org B must add themselves as a sharer of org A's skill in order to use it. Additi

[2016-02-20 19:56] palittle opened #545 "Can't add location and address to Activity page"
The activity page `http://allready-d.azurewebsites.net/Activity/14` has space for the location and address to appear but the Edit activity page `http://allready-d.azurewebsites.net/Admin/Activity/Edit/14` does not have input fields to enter them.

[2016-02-20 20:19] SeanFeldman opened #547 "Replace .Wait()/.Result() with .GetAwaiter()/.GetResult()"
For synchronous code that is using asynchronous library (similar to the code in `NotificationsProcessor`), using `.Wait()` or `.Result()` is undesirable and should be replaced with `GetAwaiter().GetResult()` to avoid deadlocking and get a clean exception (if thrown) instead of `AggregateException`.

Reference: https://github.com/aspnet/Security/issues/59

[2016-02-20 20:24] dpaquette commented on #547
Is there anywhere outside of `NotificationsProcessor` where we are doing this?

[2016-02-20 20:24] stevejgordon commented on #470
I'm working on a possible quick fix for this currently.

[2016-02-20 20:25] SeanFeldman opened #548 "Make code async all the way"
Code that starts async
  `CloudQueueClient.AddMessageAsync()`

and ends as async
  `AuthMessageSender.SendSmsAsync()`

should be async all the way and not converted into synchronous in the middle    `QueueStorageService.SendMessage()` & `NotifyVolunteersHandler.HandleCore()`

[2016-02-20 20:25] SeanFeldman opened #549 "Async/await improvements"
There are a few items that are related to mixing sync and async code.
This is an "umbrella" issue to span all of these.

- [x] Replace `.Wait()/.Result()` with .`GetAwaiter()/.GetResult()` #547
- [x] Make code async all the way #548

[2016-02-20 20:27] SeanFeldman commented on #547
`AllReadyDataAccessEF7.Skill`
`QueueStorageService`
`NotificationsProcessor`

[2016-02-20 20:29] palittle opened #550 "Activity Image not working"
On the Create Activity page `http://allready-d.azurewebsites.net/Admin/Activity/Create/7` I clicked the Choose File button and opened an image and it seemed to upload but when I clicked the Create (Activity) button the image file was no longer there.

[2016-02-20 20:30] SeanFeldman commented on #547
@dpaquette are you working on this one or should I start with it?

[2016-02-20 20:34] palittle commented on #550
Thought this wasn't working at all but what happened was that the date was invalid and therefore when I clicked Create it didn't save and the image was for some reason taken away.

[2016-02-20 20:35] dpaquette commented on #547
You go ahead. I only asked because I remembered seeing some weird async stuff in the original `AllReadyDataAccessEF7.*` code.

All those `AllReadyDataAccessEF7.*` partial classes are considered legacy and we have been working to replace them. Make sure you check to see if those methods are used before you spend the effort fixing them. I would rather see the methods deleted if possible.

[2016-02-20 20:49] palittle opened #551 "Tab description disappears on mouseover"
`http://allready-d.azurewebsites.net/Admin/Task/Details/66?activityId=14`

When you mouseover either of the tabs, the description disappears.

![image](https://cloud.githubusercontent.com/assets/17350634/13199079/5df68fc0-d7d8-11e5-88d7-208c7dec25b4.png)

[2016-02-20 20:53] SeanFeldman commented on #547
PR: #552

[2016-02-20 20:53] palittle opened #553 "Show number of volunteers on activity page?"
Should the activity page show the number of volunteer positions needed and how many are filled? And if there are two or more skills needed should that be broken down into how many of each needed?

[2016-02-20 21:01] MisterJames commented on #212
I'll start poking on this one.

[2016-02-20 21:19] palittle opened #555 "Missing Campaign Organizer info on Activity page"
The activity page `http://allready-d.azurewebsites.net/Activity/14` has a place for Campaign Organizer info but it is blank even though info was added on the Campaign page `http://allready-d.azurewebsites.net/Admin/Campaign/Details/7`

![image](https://cloud.githubusercontent.com/assets/17350634/13199213/5e72b4c0-d7dc-11e5-8b64-5b69d9b34314.png)

[2016-02-20 21:39] palittle opened #556 "Swap input boxes to make meaning more clear"
On this page:  [http://allready-d.azurewebsites.net/Admin/Campaign/Edit/7](http://allready-d.azurewebsites.net/Admin/Campaign/Edit/7)

I think it would be better to have the Campaign Impact Goal input box appear before the Impact Type dropdown as that will always show (not dependent on what is chosen in the dropdown). In other words, swapping the two top boxes should make it less confusing to the

[2016-02-20 21:53] mikesigs opened #557 "Saving Activity without Name throws DbUpdateException"
Name is a required field so we should do some Model Validation before trying to save to the DB.

[2016-02-20 21:55] MisterJames commented on #557
@tonysurma / @BillWagner if you get a chance can you add @mikesigs to the repo so we can assign him issues? Thanks!

[2016-02-20 21:56] mikesigs commented on #557
The controller/action in question is ActivityAdminController.Create

[2016-02-20 22:01] mheggeseth opened #559 "Show Required Skills on Admin/Activity/Details and Admin/Task/Details"
The set of required skills for an activity or task is not displayed on the task admin details (`Admin/Task/Details`) or the activity admin details (`Admin/Activity/Details`) views.

Activity details:
![image](https://cloud.githubusercontent.com/assets/775229/13199440/feff3c3e-d7ea-11e5-83ef-6a6b55de667e.png)

Activity edit:
![image](https://cloud.githubusercontent.com/assets/775229/13199442/0d2e4a

[2016-02-20 22:02] palittle opened #560 "Code showing on website"
Code is showing on the Task Details page ([http://allready-d.azurewebsites.net/Admin/Task/Details/69](http://allready-d.azurewebsites.net/Admin/Task/Details/69))

![image](https://cloud.githubusercontent.com/assets/17350634/13199443/aed7c828-d7e2-11e5-9164-141922def3b1.png)

[2016-02-20 22:22] palittle opened #561 "Assignee and Status not showing on Activity Details page"
On the Activity Details page `http://allready-d.azurewebsites.net/Admin/Activity/Details/16` the assignee and status aren't showing even though there was a volunteer assigned to it and the task was completed on the Activity page `http://allready-d.azurewebsites.net/Activity/16` See 2 screenshots below:

![image](https://cloud.githubusercontent.com/assets/17350634/13199515/ccc70158-d7e4-11e5-9dd3-9

[2016-02-20 22:23] SeanFeldman opened #562 "Group environment variable by application scope"
When working with environment variables, need to take into account that different apps can use similar environment variable and there's a chance of collision. Example:
* `Data:Storage:AzureStorage`
* `Authentication:SendGrid:UserName`
* `ApplicationInsights:InstrumentationKey`
* etc

Suggestion is to prefix with application scope. Example:
* `AllReady:Data:Storage:AzureStorage`
* `AllReady:Authent

[2016-02-20 22:48] glittle commented on #560
Working on it

[2016-02-20 22:53] palittle opened #566 "Didn't receive email"
On the Admin Activity page `http://allready-d.azurewebsites.net/Admin/Activity/Details/16` you can send an email to the volunteers. I sent one to myself but did not receive it (not in junk mail either). I, however, did receive email from allReady when I became a volunteer.

![image](https://cloud.githubusercontent.com/assets/17350634/13199704/7d9a003a-d7e9-11e5-974c-a49839a93c12.png)

[2016-02-20 22:57] glittle commented on #551
Working on it

[2016-02-20 22:59] mikesigs opened #567 "Refactor controller actions to use Mediator"
This is a catch-all issue for refactoring controllers to use the Mediator patter (i.e. Command + Handler)

[2016-02-20 23:09] palittle opened #568 "Show Campaign Impact Goal status?"
Should the Campaign page show the Campaign Impact Goal status in the green box as it does on the Admin Campaign page? The green box on the Campaign page looks incomplete so I am assuming that it show this.

`http://allready-d.azurewebsites.net/Campaign/7`
![image](https://cloud.githubusercontent.com/assets/17350634/13199768/a6beb0f8-d7eb-11e5-98e0-3019c6dc74f9.png)

`http://allready-d.azurewebsite

[2016-02-20 23:25] palittle commented on #550
Not showing now... unless someone removed it, it should be there.

[2016-02-20 23:30] SeanFeldman commented on #548
PR https://github.com/HTBox/allReady/pull/570

[2016-02-20 23:35] palittle opened #571 "Ability to delete a volunteer"
I don't see a way to delete a volunteer and their email address.

[2016-02-21 17:01] tonysurma commented on #562
@dpaquette @MisterJames thoughts? :thought_balloon:

[2016-02-21 17:03] #547 closed

[2016-02-21 17:06] tonysurma commented on #557
@MisterJames done

[2016-02-21 17:17] tonysurma commented on #541
This is a great idea and I will work on it.  Unfortunately you can't invite non-org members to groups in GH so I need to play around with that.  This is one of those cases where full open source gets a little messy in the circles of security/authorization in orgs and repos on GH.

Thanks

[2016-02-21 17:22] tonysurma commented on #294
pinging @Schuback on language for default privacy policy per conversation way back in November

[2016-02-21 18:27] schuback commented on #294
Got it.  Working on it today.

On Sun, Feb 21, 2016 at 9:22 AM, Tony Surma <notifications@github.com>
wrote:

--

Pascal Schuback
pascal@schuback.com
206.414.8799
@schuback

[2016-02-21 18:27] glittle commented on #521
May also want to review what information is being required. Just getting the email address should be enough....

[2016-02-21 19:36] SeanFeldman commented on #541
:+1:

[2016-02-21 19:45] SeanFeldman opened #572 "Read environment variable from the user scope prior to machine scope"
This allows local testing w/o need to restart Visual Studio upon each environment variable change.
Implemented in the [following PR](https://github.com/HTBox/allReady/pull/570/files#diff-dd20a0548552a1d1a43ae0c4bb2cf54dR5) _if_ gets merged :)

[2016-02-21 22:32] #548 closed

[2016-02-22 00:40] tonysurma commented on #572
closing as that PR was merged

[2016-02-22 00:40] #572 closed

[2016-02-22 00:43] tonysurma opened #573 "add focus selector on tabs"
This is documented in comment on pull request #569

[2016-02-22 00:44] #551 closed

[2016-02-22 00:44] #560 closed

[2016-02-22 00:49] #27 closed

[2016-02-22 00:59] glittle commented on #571
This may be related to #510.

[2016-02-22 01:30] palittle commented on #566
The email arrived the following morning at 10:04. Don't know what the delay was.

[2016-02-22 03:05] mheggeseth commented on #573
https://github.com/HTBox/allReady/pull/569#discussion-diff-53570426 to be precise.

[2016-02-22 03:17] mheggeseth commented on #573
@tonysurma Assign this to me

[2016-02-22 11:44] mgmccarthy commented on #59
@mheggeseth and @MKSessions, I'd like to contribute to allReady. Looks like you just had a hackathon this past weekend and there have been unit tests added to the controllers. These controllers still have no unit tests:
CampaignApiController
ClosestLocationsController
HomeController
ManageController
MeApiController
TaskApiController

I'd like to start with writing unit tests for these unless there

[2016-02-22 13:55] mheggeseth commented on #59
@mgmccarthy Go right ahead. Start with the ones that that seem to be most used in the app (I'm not sure all of these are). For those you cover, create new, more specific issues that reference this one and then submit pull requests that fix the new issues.

[2016-02-22 14:36] BillWagner commented on #59
@mgmccarthy I agree with @mheggeseth Dive in! Any additions here will be useful.

[2016-02-22 15:24] MisterJames commented on #571
@glittle Yes, original issue was #353, closing as dupe. Thanks!

[2016-02-22 15:24] #571 closed

[2016-02-22 16:17] #353 closed

[2016-02-22 16:20] #470 closed

[2016-02-22 16:47] mikesigs commented on #59
Any chance we want to use a library like Shouldly to make our Unit Tests a bit easier to write (and output easier to read)? I've used both FluentAssertions and Shouldly and would strongly recommend the use of Shouldly. It's simple to use, and it shows really easy to understand failure messages. See more in [the docs](http://docs.shouldly-lib.net/v2.4.0/docs).

Also, I am in the process of refactor

[2016-02-22 17:40] mgmccarthy commented on #59
@mikesigs, funny you should mention Shoudly. I just stumbled on that repository a week or two ago, and had a quick look. From an initial glance, it looked very fluent, and I liked the API. I have no experience with the framework yet.

That being said, since I'm an nUnit guy, I'm kind of a fish out of water with the xUnit tests and it's slowing me down right now. If I'm moving slower than usual, an

[2016-02-22 17:51] mikesigs commented on #59
Shouldly is an "Assertion Framework". It doesn't replace xUnit, it just alleviates you from having to use `Assert.Foo` calls. For example...

Instead of writing:

```Assert.AreEqual(foo, 2);```

You write:

```foo.ShouldBe(2)```

It makes for much more readable code, and must better failure messages.

The MediatR stuff is still a work in progress for me. I started changing a couple methods on the

[2016-02-22 17:53] mikesigs commented on #59
I found this page to be extremely handy when starting out with xUnit.
https://xunit.github.io/docs/comparisons.html

[2016-02-22 19:49] mgmccarthy commented on #59
@mikesigs, Shouldly looks good. Do we need approval from the overall project team to use it? Would using Shouldly act as a barrier to bringing other open source contributors aboard? Would sticking with xUnit assertions made it easier to get devs up and running quicker? That's a question I'm not qualified to answer.

As far as MediatR controller refactoring, i just looked at [your commit](https://g

[2016-02-22 19:58] mikesigs commented on #59
You're absolutely correct about there not being a check for null beforehand. I could probably remove it altogether if it's truly not needed. But in other cases these kinds of checks will be needed, and there's got to be a way of handling it that doesn't require duplicating that checking code in all/any controller methods. Read the comments on [the post I mentioned earlier](https://lostechies.com/j

[2016-02-22 20:04] mikesigs commented on #59
@tonysurma How do you go about deciding when to add a new framework to this project? How do you feel about using [Shouldly](https://github.com/shouldly/shouldly) to assist in writing unit tests?

[2016-02-22 20:05] mgmccarthy opened #574 "Removed unused usings from files..."
There a a good amount of unused usings in file across the solution. Tools like ReSharper make cleaning these up a breeze, make the code more readable and reduce the size of the code.

I realize it's low-priority but wanted to bring it up as a simple way for someone to get involved.

[2016-02-22 20:08] mgmccarthy commented on #59
@mikesigs, either way, I'm on board, Shouldly or no Shouldly. Thanks for reaching out someone who can answer this question for us.

Looking at HomeController, the one place I could move to MediatR is the Index action method. However, Id' like to submit my first PR with the tests I've written, and once that is checked in, I'll refactor HomeController to MediatR. The good part is I'll have all the u

[2016-02-22 20:10] mgmccarthy opened #575 "adding unit tests for HomeController"
#59

[2016-02-22 23:14] mmoore99 commented on #567
@mikesigs just wanted to let you know that I am actively working in the `ActivityApiController` and `TaskApiController` for functionality reuired in issues #506, #507 and #508.  I  would appreciate your holding off on Mediator pattern refactoring on those controllers so we don't step on each other and get a bunch of merge conflicts.  Thanks.

[2016-02-22 23:17] tonysurma commented on #59
In short, we balance the complexity, dependence & _another thing_ "cost" of adding a library or framework against the ease of use, code reduction, etc. "benefits" from using it.  From my quick review of this it appears this isn't a different or conflicting framework for testing and is instead one for ease of assertion work so it is 'complementary' to xUnit and also means that folks can use Shouldl

[2016-02-23 02:14] mgmccarthy commented on #59
@mikesigs, let me know when you install Shouldly via NuGet. I'd like to try to work with the framework. For now, I'm working on refactoring to MediatR on the HomeController. @tonysurma @mikesigs, do either of you know who installed MediatR for use in the solution? If so, was there any type of convention they wanted us to follow for naming our our Query and Model classes we use with our Handlers? T

[2016-02-23 03:18] mgmccarthy commented on #567
@mmoore99, I'm currently working on HomeController. Just added unit tests and now refactoring to MediatR. Not too sure who else is doing controller re-factoring/unit tests right now. For now, when I take a new controller on (for adding unit tests and/or refactoring to MediatR), I'll let both your and @mikesigs know.

[2016-02-23 03:20] tonysurma commented on #59
For Mediator I would talk to @misterjames I believe

[2016-02-23 03:52] MisterJames commented on #567
This thread is hereby marked as exhibit "A" in the case of "Reaching Critical Mike Mass".

[2016-02-23 08:50] YannickMeeus commented on #574
I don't mind picking this up to get my feet wet with this project. Quick question still, is there a specified project-specific order to using statements or can I just remove unused statements and alphabetize them?

[2016-02-23 12:45] mgmccarthy commented on #574
@YannickMeeus, I know that ReSharper has an "organize usings" refactoring (or something along those lines) that you could probably use, but it's not a requirement that the order of the using statements be changed. It's more important to go in there and delete all unused usings for now. That's really going to help clean up the code.

[2016-02-23 14:08] mgmccarthy commented on #567
@MisterJames, I have a question about the folder structure that holds the queries/handlers/models for moving to MediatR in the context of controller refactoring. Is this a question I should be posting in this issue, or is it something I can contact you directly about?

[2016-02-23 16:05] tonysurma commented on #567
@MisterJames srsly, I noticed that too.  It's a herd of cattle, a murder of crows, an internet of things, a merge conflict of developers and a ___________ of Mike's?

[2016-02-23 16:06] tonysurma commented on #574
Thanks @YannickMeeus and @mgmccarthy

[2016-02-23 16:11] BillWagner commented on #567
@tonysurma @MisterJames Keep it up, and we'll have to invoke The Highlander Rule.

[2016-02-23 16:58] mikesigs commented on #567
I don't know if it's bad form to use GitHub issues to share funny videos... But this relevant (and funny).

https://youtu.be/jedA1-bFvC8

[2016-02-24 02:08] mgmccarthy opened #578 "refactoring AllReady.Controllers.CampaignController to MediatR and adding unit tests"
@mikesigs, @mmoore99. #567 and #59

[2016-02-24 11:11] YannickMeeus commented on #522
I'll pick this one up, one of those quick lunch time things.

[2016-02-24 15:17] mgmccarthy commented on #567
@mikesigs, not too sure if the video was bad form, but it was funny.

[2016-02-24 20:48] mgmccarthy commented on #567
@tonysurma, @MisterJames, @mikesigs, @mmoore99. Is this blanket refactoring to MediatR for ALL controllers a good idea?

For example, I'm currently working on the AllReady.Controllers.CampaignController. Its constructor only takes one dependency, IAllReadyDataAccess:
[code]

and it uses that dataAccess dependency for very simple queries:
[code]

since these are such simple queries, the idea of cre

[2016-02-24 22:48] mmoore99 commented on #507
@tonysurma @OhMcGoo when setting up a `TaskManaged` activity:

- Should we prevent entry of the `Volunteers Required` field in the activity in order to prevent confusion since the `Volunteers Required` will be specified for each task?

- Same question for `Start Date` and `End Date`? Rather entering these dates manually we could calculate them from the dates in the tasks.

- It would also seem tha

[2016-02-24 23:49] mikesigs commented on #567
I think the original motivation was to reduce the complexity (and # of dependencies) on the controllers. We could certainly be pragmatic about this and just focus on the more complicated controllers/actions. On the other hand, always doing things the same way has its virtues as well.

I was starting to do this refactoring is a means of getting my feet wet. But I'll admit the thought of refactoring

[2016-02-24 23:51] mikesigs commented on #59
@mgmccarthy When I do install it, it will be in my own fork for now. I also don't anticipate having time to push anything here until the weekend. Please feel free to install it if you want. I'll just rebase anyways and handle any conflicts.

[2016-02-25 04:22] MisterJames commented on #567
Pragmatism is okay. We don't need to refactor for the sake of refactoring, but, honestly, when creating new controllers is there any reason to not use the bus? For me, as long as we're thinking about it, I'm happy.

All of the reasons listed above are valid, but the other point is to drop that data access class altogether. After all, what are we gaining by adding an abstraction over an abstraction

[2016-02-25 05:33] SeanFeldman opened #580 "Mediator is called a bus, but it's not"
Looking at the code, `IMediator` is called a `bus` throughout the base code.
While it's sending commands and raises events, it does it in a way that couples caller and callee within the same process. This encourages a thought that a bus should behave like this, where a typical bus would send a command or raise an event in an asynchronous way. To process response it would do it via handler registra

[2016-02-25 12:05] OhMcGoo commented on #507
@mmoore99, @tonysurma: See my answers inline.

Should we prevent entry of the Volunteers Required field in the activity in order to prevent confusion since the Volunteers Required will be specified for each task?

**I agree that Volunteers Required should be set at the Task level, however, we need to ensure that an individual Volunteer can be assigned more than one task during an Activity. For exa

[2016-02-25 12:29] mgmccarthy commented on #567
@MisterJames, than thanks for the feedback. I understand how we're using CQRS now... especially the part about re-using (withing context, aka, admin vs. non-admin) queries, query responses (aka, "models"), commands and handlers. I'm going to keep moving forward with my controller refactoring and get MediatR in there.

[2016-02-25 16:42] mmoore99 commented on #507
@OhMcGoo cc: @tonysurma  Thanks for the feedback.  I have some further questions for clarification:

Let me play back to you how I am interpreting the above statement and then you can correct me where I am off base.  You would envision:
-  that there would be a "master" list of skills to be set and maintained at the Organization level.

- Then, when an Activity is created/edited, the Activity add/

[2016-02-25 16:43] mgmccarthy commented on #580
@SeanFeldman, I didn't want to say anything, so I'm glad you did! Thanks for explaining why it's not a bus. I'm in favor of refactoring to mediator.

[2016-02-25 21:58] mikesigs commented on #580
I agree. I thought the choice of name "bus" was odd. But didn't go beyond that thought. I just figured it might be called that because MediatR was inspired by ShortBus? But even then, ShortBus is an "in-process mediator."

+1 for calling instances `mediator` then.

[2016-02-26 01:31] manojattal commented on #469
I need help in testing my changes. I tried to login with admin user and org admin user, but I do not see an option to create organization. Can someone tell me steps to create an organization?

[2016-02-26 14:50] OhMcGoo commented on #507
@mmoore99 (cc @tonysurma): I like it! At the Activity level could we create 'bundles' of skills?

[2016-02-28 13:42] YannickMeeus commented on #574
The web app changes have been merged into master, do you guys think it'd be good if I just run the same type of cleanup on the Tests project? If not, this issue can probably be resolved.

[2016-02-28 14:06] YannickMeeus commented on #559
I'm working on this. Once it's relatively stable I'll open a PR and add some screenshots of how I've got it displaying right now.

[2016-02-29 00:40] SeanFeldman commented on #580
@tonysurma any objections?

[2016-02-29 00:41] SeanFeldman commented on #566
Unfortunately, email is not a reliable mechanism for notifications. The fact that it did show up is good, means things do work :)

[2016-02-29 14:39] mgmccarthy commented on #549
@SeanFeldman, could you provide any guidance as to when we should be using async/await with MediatR from controllers? For example, does it make sense to use it when we're sending a request to query for data, or only when we're sending more of a "command" to "do something"? For example, the SkillController seems to use MediatR async for both queries and commands and it's action methods are async. S

[2016-02-29 16:11] mgmccarthy opened #585 "refactoring AllReady.Controllers.OrganizationController to MediatR and adding unit tests"
Issues #567, #59 and #580

[2016-02-29 16:37] #506 closed

[2016-02-29 17:59] SeanFeldman commented on #549
@mgmccarthy I'm following this guideline:
if the code is using async, the whole chain should be using async.
With mediator, one needs to look into the handlers to see if A) there's IO bound work B) if async code of the underlying library is used within the handler. If answer is yes to either, then I'm going with async.

In regards to query or command. The above still applies. Both command and quer

[2016-02-29 21:43] #578 closed

[2016-02-29 21:44] #575 closed

[2016-03-01 03:27] tonysurma commented on #559
Thx @YannickMeeus

[2016-03-01 03:28] tonysurma commented on #522
closed by #583

[2016-03-01 03:28] #522 closed

[2016-03-01 03:28] tonysurma commented on #574
PR was merged, can I consider this closed @YannickMeeus

[2016-03-01 03:29] SeanFeldman commented on #549
@tonysurma both issues are merged. We're good on this one. If you'd like me to work anything related, please let me know.

[2016-03-01 03:29] #549 closed

[2016-03-01 07:00] YannickMeeus commented on #574
@tonysurma Go for it.

[2016-03-01 13:51] YannickMeeus commented on #559
@mheggeseth - When displaying the Required Skills, are we only interested in the child-most skill in the skill hierarchy or is there a requirement to display any higher levels in the tree?

I would imagine that displaying at least the closest parent is reasonable. I can imagine some skills being quite confusing without the parent skill to provide context. Any thoughts?

[2016-03-01 14:35] mheggeseth commented on #559
@YannickMeeus notice that `HierarchicalName` is a computed property and only works if the `ParentSkill` relation has also been loaded so watch out for that.

[2016-03-01 15:37] #574 closed

[2016-03-02 13:42] stevejgordon commented on #503
@tonysurma I think we can close this issue? Looks like it didn't auto close because of the wording of my PR.

[2016-03-02 13:49] stevejgordon commented on #469
Hi @manojattal. If you login as the administrator@example.com user then you should be able to create an organization.

The from the admin menu, choose Organizations

![image](https://cloud.githubusercontent.com/assets/3669103/13462088/762503e4-e07d-11e5-92ad-17d36d70820d.png)

Then at the bottom of that list you can choose create new

![image](https://cloud.githubusercontent.com/assets/3669103/134

[2016-03-02 22:05] mgmccarthy opened #587 "add missing unit tests to ActivityApiControllerTest"
Issues #567, #59 and #580

[2016-03-03 05:32] SeanFeldman commented on #580
@tonysurma ping :)

[2016-03-03 12:50] tonysurma commented on #580
Hmm, I guess the i a days didn't stick.  I have no objections, @canadianjames ?

[2016-03-03 12:51] tonysurma commented on #580
Err @misterjames ?

[2016-03-03 19:24] mgmccarthy commented on #580
@tonysurma @SeanFeldman did you want want PR that just contains these re-namings? Might be easier to close the issue with one PR that does it across the solution.

[2016-03-03 19:41] SeanFeldman commented on #580
@mgmccarthy that was the intent.

[2016-03-03 22:13] mmoore99 commented on #508
@tonysurma (cc: @OhMcGoo, @BillWagner)
Please review the example stucture for a `DeploymentManaged` activity below and let me know if it correctly depicts what you would like to implement.  Thanks.  @tonysurma, if you don't respond I will have to sick @SeanFeldman on you! :wink:

`DeploymentManaged` Activity Structure:
- `Activity`: Install fire detectors in Queen Ann District
  - `Task`: Sunday D

[2016-03-04 01:55] mgmccarthy commented on #580
@SeanFeldman, you can close this request

[2016-03-04 01:58] #580 closed

[2016-03-04 02:04] mgmccarthy commented on #59
@tonysurma @migsigs @MisterJames @SeanFeldman.

I installed the xUnit runner extension for ReSharper 10 Ultimate the other day (b/c I'm tired of using MsTest to run the xUnit tests). I'm using Visual Studio 2015:

![xunitextensionforreshaperinstalled](https://cloud.githubusercontent.com/assets/2428993/13515888/1ca9e8f0-e183-11e5-9d84-bd888b564387.PNG)

yet when running the unit tests in ReSharper

[2016-03-04 02:59] mgmccarthy commented on #587
@tonysurma @BillWagner

looks like the unit tests in this controller rely on standing up actual pieces of infrastructure via the serviceProvider:
.AddEntityFramework
.AddInMemoryDatabase
.AddDbContext

and then sets up a hosting environment?

it also inherits from a class called "TestBase" which stands up other pieces of run-time infrastructure like   in asp.net/mvc like DefaultHttpContext, HttpAu

[2016-03-04 04:15] SeanFeldman commented on #508
Looks like my reputation is well established :cop:

[2016-03-04 05:12] mmoore99 commented on #59
@mgmccarthy I had the same problem.  I think it has to do with the Resharper plugin for xunit not being compatible with asp.net core.

[2016-03-04 05:18] SeanFeldman commented on #59
@mgmccarthy yep, same thing here. NUnit works, xUnit doesn't.
@mmoore99 is spot on.

Two things:

#### Generating assemblies

By default DNX/Core doesn't emit assemblies.
![image](https://cloud.githubusercontent.com/assets/1309622/13518551/8d4f9e20-e18c-11e5-8695-d44c2937a749.png)

`Produce outputs on build` needs to be enabled (I think)

#### Output path

 When it's failing, it's looking for the

[2016-03-04 05:26] SeanFeldman commented on #59
From R# xUnit author:

Will need to wait for [this ](https://github.com/xunit/resharper-xunit/issues/38) to be resolved :sunglasses:

[2016-03-04 11:32] mgmccarthy commented on #59
Thanks for digging into this a little deeper @mmoore99  add @SeanFeldman.

@SeanFeldman, sounds like you tried checking "produce outputs on build" in the project properties of AllReady.UnitTest yet it still didn't work based on the [xUnit Repo-Issue #38](https://github.com/xunit/resharper-xunit/issues/38)? If that's so, I'll keep begrudgingly using MSTest for now.

[2016-03-04 16:44] SeanFeldman commented on #59
@mgmccarthy correct. It needs to be done by xUnit adaptor. Until then, the
amazing mstest ui will do.

[2016-03-04 21:50] mgmccarthy commented on #548
@SeanFeldman, I need a little help with a Task/async unit testing problem.

I've been slowly refactoring ActivityApiControllerTests, and I'm currently working on testing the UnregisterActivity action method.

First, some background on the controller and unit tests. In the unit tests testing UnregisterActivity, there is ServiceProvider/DbContext setup work being done in the GetActivityApiController

[2016-03-04 23:06] SeanFeldman commented on #548
@mgmccarthy if understood correctly, `DeleteActivityAndTaskSignupsAsync` is a "command" to delete a given user w/o any meaningful value to come back. The `int` being returned by EF is the number of affected records in the database that this code is not interested in. As such, in a synchronous version it would return nothing, i.e signature would be `void`. Because we've switched to `async`, we have

[2016-03-04 23:39] mgmccarthy commented on #548
`DeleteActivityAndTaskSignupsAsync` is a method off of the `AllReadyDataAccessEF7` class... it should be a command (and will be when I've done moving the ActivityApiController to use mediatR.

I'll try to return either of those types you mentioned and see how it goes.

Seems that a lot of the methods in the `AllReadyDataAccessEF7` partial classes contain some logic or a couple of calls to differen

[2016-03-05 17:43] MisterJames commented on #212
@Harmonym I have taken this approach...seem reasonable?

![image](https://cloud.githubusercontent.com/assets/1197383/13549248/55dc9c86-e2c7-11e5-836e-b5f12e48a2e3.png)

This facilitates the display of both the campaign and activity location, if present.

[2016-03-06 17:34] #294 closed

[2016-03-07 00:35] mmoore99 commented on #508
@tonysurma any feedback on the activity structure in above comment?

[2016-03-07 01:07] tonysurma commented on #508
I will look at this later, my apologies but grown up responsibilities and all got the better of my schedule this week

[2016-03-07 11:39] mgmccarthy commented on #548
@stevejgordon. What were your actual changes to ActivityApiControllerTests from this commit?
[https://github.com/HTBox/allReady/commit/9944a39604040a2fa3cc8c024638f6830f0b0753](https://github.com/HTBox/allReady/commit/9944a39604040a2fa3cc8c024638f6830f0b0753)

I'm only asking, b/c I'm pretty deep into the unit test/refactoring of ActivityApitControllerTests right now (Issue #587), and merging from

[2016-03-07 12:06] mgmccarthy commented on #587
@tonysurma. I have a question on the inital commit of ActivityApiController. The public ActivityViewModel Get(int id) method seems to return null, yet calls to HttpNotFound before doing so:
[code]

in no other controllers are we returning null when using HttpNotFound when we can't find the entity we're looking for on the lookup query.

Should be instead be returning HttpNotFound here and not be re

[2016-03-09 12:07] mgmccarthy commented on #587
@stevejgordon, @BillWagner, @mmoore99, @MisterJames, @TonySurma. I some questions on IAllReadyDataAccess vs.direct AllReadyContext usage in the code.

1. I see some classes (such as SkillListQueryHandlerAsync) that work directly with AllReadyContext instead of IAllReadyDataAccess. Is there a reason why we have two ways to access and work with the database in the project? In order to unit test Skil

[2016-03-09 13:09] BillWagner commented on #587
Re 1: I'd like to see us move to one method of access in the app. My conjecture is that the reason we have two is that we are developing against a moving target. I'll let other speak to which method should be preferred going forward:

Re 2: We had been moving toward all async access. I believe that what you are seeing is artifacts from the first (synchronous) implementation. When you are working i

[2016-03-09 13:28] mgmccarthy commented on #587
@BillWagner thanks for the feedback. Seeing as Red Cross pilot is close, I'll take care not to make any changes to those API's that are used throughout the system (like IAllReadyDataAccess). In the meantime, I'll continue my ActivityApiController refactor to mediator as well as finish up all unit tests for it.

Maybe after the pilot, there could be more of a overall push towards changing to async

[2016-03-09 17:07] tonysurma commented on #508
Hello @mmoore99, this all looks good and right and thanks for breaking it out to make it clear.  The only potential 'add' I would think (which you may already implicitly have in there) is that 'maybe' you would have DeploymentTask reference the Task to show the relationship of the Task from which the 'pool' of volunteers come from e.g.:

  - `Task`: Monday Installer, VolunteersNeeded: 2
    - `Tas

[2016-03-09 17:42] mmoore99 commented on #508
@tonysurma thanks for the feedback.

I think I may have confused the issue by using the term `DeploymentTask`.  That is actually the same `Task` instance as shown in the list of tasks, not different.

[2016-03-09 17:43] tonysurma commented on #508
@mmoore99 perfect!

[2016-03-09 21:55] mgmccarthy commented on #587
@BillWagner, I'm ready for a PR for this issue. It's a good amount of changes. Lots of refactoring to ActivityApiController, lots of unit tests added, lots of command/queries/handlers and related tests added. You mentioned you're close to the Red Cross pilot. Do you want me to hold off until after?

[2016-03-10 03:01] BillWagner commented on #587
@mgmccarthy We have a big enough window before the pilot, let's merge sooner rather than later (it gets us much better test coverage.)

[2016-03-10 04:06] mheggeseth opened #591 "Removing Needed Usings Breaks Views"
Removing needed using statements (#577) from `cshtml` files does not produce relevant compiler errors (really MSFT?). As a result, the following views crash on load.

* Areas\Admin\Views\Skill\Edit.cshtml
* Areas\Admin\Views\Skill\Index.cshtml
* Areas\Admin\Views\Task\Details.cshtml

[2016-03-10 04:10] #534 closed

[2016-03-10 04:12] #591 closed

[2016-03-10 12:52] #585 closed

[2016-03-10 12:56] mgmccarthy opened #594 "CampaignApiController: add missing unit tests and refactor to mediator"
Issues #567 and #59. @mikesigs just so we don't duplicate efforts

[2016-03-10 19:56] mgmccarthy commented on #594
for the only action method in this controller:
`public IEnumerable<ActivityViewModel> GetCampaignsByPostalCode(string zip, int miles)`

why are we returning a list of ActivityViewModels when the method name starts with "GetCampaigns"?

what do we really want to return here, a list of Campaigns within the allowable mileage for the given zip code? If so, then why do we need to return a list of Activ

[2016-03-10 20:39] mgmccarthy commented on #594
and another question. Why does Activity have a Campaign and CampaignId property?
![image](https://cloud.githubusercontent.com/assets/2428993/13682999/6abe0d1a-e6d2-11e5-86b3-23fc0d87f0b4.png)

- would one ever be set and the other is not?
- would the Id in the Campaign returned from the Campaign property be different than the CampaignId property?

[2016-03-10 20:51] mgmccarthy opened #595 "ActivityController: add missing unit tests and refactor to mediator"
Issues #567 and #59

[2016-03-11 14:36] mgmccarthy commented on #595
closing this out as it looks like @mikesigs just submitted a PR that takes care of the refactor to mediator.

[2016-03-11 14:36] #595 closed

[2016-03-11 14:50] mgmccarthy opened #597 "ClosestLocationsController: add missing unit tests and refactor to mediator"
@mikesigs . Issues #567 and #59

[2016-03-11 17:53] mgmccarthy opened #599 "ResourceApiController: refactor to mediator and add any missing unit tests"
@mikesigs . Issues #567 and #59

[2016-03-11 18:58] mgmccarthy opened #600 "IAllReadyDataAccess.GetResourcesByCategory doesn't get resources by category"
The method doesn't do what it says. here is the implementation in AllReadyDataAccessEF7.Activity:
[code]

the category string passed into GetResourcesByCategory is not being used by the LINQ call

[2016-03-11 20:08] mgmccarthy commented on #567
@mmoore99, are you still doing work on TaskApiController? I'd like to take a crack and getting unit tests around it and refactoring to mediator, but I just looked at the history for the file, and I don't see a commit by you and in this thread, you said you were doing work with that controller

[2016-03-12 02:39] mmoore99 commented on #567
@mgmccarthy the changes I made to `TaskAppiController` are in PR #523, which is waiting to be reviewed.

[2016-03-12 10:57] stevejgordon commented on #561
@tonysurma You can assign this to me if you want and I'll try to take a look at it.

[2016-03-12 15:28] #212 closed

[2016-03-12 17:19] #597 closed

[2016-03-12 17:31] #599 closed

[2016-03-12 17:31] #600 closed

[2016-03-12 17:33] MisterJames commented on #566
Closing as email arrived. Thanks for the report!

[2016-03-12 17:33] #566 closed

[2016-03-12 17:36] MisterJames commented on #557
Looks like this was cleaned up as a side effect of other work:

![image](https://cloud.githubusercontent.com/assets/1197383/13724291/a22be4dc-e846-11e5-98c5-df7664fad58b.png)

[2016-03-12 17:36] #557 closed

[2016-03-12 23:54] #507 closed

[2016-03-13 14:01] mgmccarthy opened #603 "MeApiController: adding unit tests"
@mmoore99  @mikesigs
Issue #59

[2016-03-13 14:05] mgmccarthy opened #604 "TaskApiController: adding unit tests and refactoring to mediator"
@mmoore99 @mikesigs
Issue #59 and Issue #567

[2016-03-13 14:16] mgmccarthy commented on #567
@mmoore99 is it "safe" to start refactoring on TaskApiController? Seems like there are a lot of changes going on surrounding this controller. Would it be better to just get unit tests around it first then move to mediator later? I'm asking b/c you seem to have a good knowledge of how all the code in this controller ties back to the business requirements

[2016-03-13 16:44] mmoore99 commented on #567
@mgmccarthy I think it is probably ok to move forward with the move to mediator now that #523 has been merged. My work related to tasks is going to be moving toward the admin side for a while. Thanks for asking.

[2016-03-14 00:54] mheggeseth commented on #594
@mgmccarthy This is the [most common pattern](http://ef.readthedocs.org/en/latest/modeling/relationships.html#conventions) for relationships in Entity Framework.

If you load an `Activity` by itself without including its related `Campaign`, `CampaignId` will still be populated (because it's a column in the `Activity` table), but `Campaign` will be null. `Campaign` will be loaded if you do somethin

[2016-03-14 01:13] mgmccarthy commented on #594
@mheggeseth thanks for the explanation. I currently have been working on an SOA systems with strict bounded contexts and a very simplified API over our data access that result in our entity relations being very simple, and if there is a entity that has a class as a property, that class is a value object.

[2016-03-14 01:55] #145 closed

[2016-03-14 11:46] mgmccarthy commented on #604
@mmoore99 @mheggeseth @MisterJames is there any reason we're returning `Task<object>` from the action methods on the TaskApiController instead of returning `Task<ActionResult>` (like ActivityApiController), or better yet, returning `Task<JsonResult>` from api controller actions that return json?

[2016-03-14 16:44] mmoore99 commented on #604
@mgmccarthy yes, it probably should be `Task<JsonResult>`

[2016-03-14 20:35] mgmccarthy commented on #548
@SeanFeldman, I have another async/await question that I stumbled upon while writing unit tests for TaskApiController.

In the `Post` method, there are checks that could result in a `HttpBadRequest` or `HttpUnauthorized` being returned based on some rule checks:
![image](https://cloud.githubusercontent.com/assets/2428993/13758880/1352a6de-ea02-11e5-9e12-ee799758efd2.png)

if all rule checks succee

[2016-03-14 22:42] SeanFeldman commented on #548
@mgmccarthy `void` on the controller should be replaced with `Task`. Because there's an `await`, method will be `public async Task Post(...)`.

I'm not sure why we need the value returned by `AddTaskAsync`, but regardless, if you mock data access object, you'll need to return a task. Either a [successful](https://github.com/HTBox/allReady/blob/master/AllReadyApp/Web-App/AllReady.UnitTest/Controlle

[2016-03-15 11:40] mgmccarthy commented on #548
@SeanFeldman I was thinking I could make the controller method return:
`public async Task<IActionResult> Post(...)`

since we're returning `HttpUnauthorized` or `HttpBadRequest` based on rule checks.

If I go this route I could add:
`return new HttpStatusCodeResult((int)HttpStatusCode.OK);` as the final line in the action method, but I'm not too sure what the "standard practice" is for returning a

[2016-03-16 00:52] SeanFeldman commented on #548
What fiddler shows as returned status code when you run it today with `void`?

[2016-03-16 12:42] mgmccarthy commented on #548
@SeanFeldman, I switched to my master branch locally and made sure I'm up to date with remote origin to test this.

So far, 200's are returned for both POST and DELETE. I"m still trying to get together valid json for the post as there are a LOT of properties that are set on the AllReadyTask on a POST.

What has not been working is any of the `HttpUnauthorized` or `HttpBadRequest` calls, b/c none o

[2016-03-16 14:01] mgmccarthy commented on #604
@mmoore99, does POST, PUT and DELETE on the TaskActivityController actually work? If so, do you have some sample data (maybe in json) that I could use to call these methods via Fiddler? Or maybe there is a different way you smoke tested this code where I could actually run it?

[2016-03-16 15:29] mmoore99 commented on #604
@mgmccarthy I did not write the `POST, PUT and DELETE` methods.  The only methods that I wrote are  `RegisterTask`, `UnregisterTask` and `ChangeStatus`.  I'm not positive, but i don't think that `POST, PUT and DELETE` are used by the web app.  They may be used by the mobile app, which I have not looked at yet.

[2016-03-16 15:40] mgmccarthy commented on #604
@mmoore99, thanks for the background info. I just want to make sure I have all my bases covered before submitting a PR for the TaskApiController refactoring

[2016-03-16 15:49] mgmccarthy commented on #604
@mmoore99, are `RegisterTask, UnregisterTask` and `ChangeStatus` used by the web app? If they are, is there a certain view they're invoked from? I',m assuming b/c this is web api controller this is just going to handle http requests, but I'm not too sure what the client is that will be sending these. mobile app?

[2016-03-16 16:27] mmoore99 commented on #604
@mgmccarthy yes, `RegisterTask`, `UnregisterTask` and `ChangeStatus` are used by the web app in the view `ActivitityWithTasks.cshtml`.  They are called from `Activitity.js`.

[code]
[code]

[code]

[2016-03-17 01:06] SeanFeldman commented on #548
I'd try to return a `Task` (public async Task Delete(int id)` and see if WebAPI knows how to handle response properly.

[2016-03-17 11:10] mgmccarthy commented on #548
@SeanFeldman, as long as these three methods (`Post, Put and Delete`) also need to return:
[code]
both of which inherit from `ActionResult`, I can't return only a `Task`. I need `Task<T>` in order to return those types to the caller in the case where the call failed for some reason.

I was talking to mmoore99 the other day about this controller, and he said he did not work on the `Post, Put and De

[2016-03-17 11:25] mgmccarthy commented on #604
@BillWagner @tonysurma @mheggeseth can any of you shed some light on where or what calls into the Post/Put/Delete methods on TaskApiController?

[2016-03-17 12:44] mgmccarthy commented on #604
@mmoore99 can you tell me a controller/action entry point that would end up returning me to `ActivitityWithTasks.cshtml`? I'm used to working with `return View([MODEL]);` and for some reason, when an action methods return a View, in Visual Studio 2015, my right-click menu option for "go to view" is gone, so I'm having a hard time stringing together the views, the javascript calls, and the controll

[2016-03-17 14:26] ultrabert commented on #340
Hi all

I'm looking for a jump-in issue. Is this still alive?

(And if so, does anyone have a better method of finding all string literals than regular expression "Find In Files")

Cheers,
Brett.

[2016-03-17 14:38] tonysurma commented on #340
@ultrabert yes still alive, thx in advance

[2016-03-17 14:55] BillWagner commented on #604
@mgmccarthy I don't think anything does use those yet. We are heading toward more responsive web design, so we expect JavaScript code to use them.

I think that means leaving them in place for now, but that's not a strong preference.

[2016-03-17 15:14] mmoore99 commented on #604
@mgmccarthy `ActivityController/ShowActivity`

[code]

[2016-03-17 18:47] mgmccarthy opened #609 "AdminController: adding unit tests"

[2016-03-18 01:57] Inn0cu0us commented on #545
Hi, I will work on this one. I am new to the project and this looks like a good place to start.

[2016-03-18 05:30] SeanFeldman commented on #548
:+1: my offer to pair if needed is still on power.

[2016-03-18 11:13] mgmccarthy commented on #548
@SeanFeldman, I'd love to pair and get a second set of eyes on this. When do you wan to do it, and how do you want to do it?

[2016-03-18 15:31] tonysurma commented on #545
Thanks @pboyer84

[2016-03-18 15:54] tonysurma commented on #503
yep, closing this per your PR

[2016-03-18 15:54] #503 closed

[2016-03-19 01:49] SeanFeldman commented on #548
Evenings. I'm in MST. Can host zoom session.
On Mar 18, 2016 05:13, "Michael McCarthy" <notifications@github.com> wrote:

[2016-03-19 16:27] #594 closed

[2016-03-19 16:30] #561 closed

[2016-03-19 23:26] mgmccarthy commented on #59
@tonysurma @mikesigs @MisterJames @SeanFeldman @mmoore99

for those of you using ReSharper Ultimate 10.1, there is an EAP of ReSharper 2016.1 (that's 10.1, they changed their versioning) that supports xUnit: http://blog.jetbrains.com/dotnet/2016/03/17/resharper-ultimate-2016-1-formerly-10-1-eap-6/. I'm not too sure how "safe" if it to install the EAP... I'll probably hold off until the official, f

[2016-03-20 00:11] dangle1 commented on #340
I'd like to take a stab at this as well. To avoid duplication of effort, I'm letting everyone know I'm working on the ManageController and will be referencing the issue during commits, as per mheggesth's comment from 12/13/15.

[2016-03-20 01:03] dangle1 commented on #340
Some things to note,

Not sure how thorough we want to be in converting these magic strings, but Controller names can't take advantage of the nameof operator as a consequence of MVC's convention for expecting the Controller's name without the "Controller". Others have addressed this with extension methods: http://stackoverflow.com/questions/27444121/how-to-use-c-sharp-nameof-with-asp-net-mvc-url-a

[2016-03-20 02:41] mmoore99 commented on #59
@mgmccarthy the Jetbrains  blog states:

Does that mean it would not work with `allReady`?

[2016-03-20 12:54] mgmccarthy commented on #59
@mmoore99, yeah, your' right, the upgrade will not work for allReady. I'm deleting my original comment. Just waiting for someone to get xUnit running w/ReSharper for DNX projects.... anyone. MS Test is driving me crazy.

[2016-03-21 21:17] mgmccarthy commented on #548
@SeanFeldman, i might be available tonight after 9pm EST. I have a 5 month old at home, so I'm never really "in control" of my time after work. Did you want to aim for 9pm EST (I think MST is one hour behind?) for the zoom session?

[2016-03-21 23:59] SeanFeldman commented on #548
9PM EST is 7PM MST (2h apart).
I'll try to get online, but need to pick up kids. Let's take this to email. Mine is feldman.sean on gmail.

[2016-03-22 01:29] dangle1 commented on #550
I'd like to take a look at this.

[2016-03-22 12:52] mgmccarthy opened #613 "fix methods that return Task to return Task.FromResult(0) instead of null"
methods that return a Task should not return null:
[code]

Instead of returning `null`, we should be returning `Task.FromResult(0)`

[2016-03-22 12:57] mgmccarthy commented on #613
methods that return a Task should not return null:
[code]

Instead of returning `null`, we should be returning `Task.FromResult(0)`

[2016-03-22 13:22] YannickMeeus commented on #613
I've picked this up, PR incoming.

[2016-03-22 20:05] mgmccarthy opened #615 "OrganizationApiController: adding unit tests"
I'm currently working on this

[2016-03-22 21:44] martynfrank commented on #284
Hi. I have been following allReday from the side lines for some time, and this is the first OS project I would like to contribute to (so please be patient with me). I have now forked it and have it all set up locally.

Looking through the issues this caught my attention as I have recently worked on a project where we moved away from JS to TS. I would be keen in helping allReady to make the move. I

[2016-03-23 00:30] mgmccarthy opened #617 "EventAdminController: finish unit tests"
tied to #620

[2016-03-23 05:12] dangle1 commented on #550
@palittle,

just to be clear: the expectation here is that even if there is a validation error on the page (an invalid date in your case), and the browser comes back to the same page, the image should still be selected and the user should not have to redo the image upload process, correct?

[2016-03-23 05:31] palittle opened #618 "Unhandled exception occurs when you click to open an expired activity"
Here is the error message that came up:
An unhandled exception occurred while processing the request.

JsonSerializationException: Self referencing loop detected for property 'ManagingOrganization' with type 'AllReady.Models.Organization'. Path 'tasks[1].RequiredSkillObjects[0].OwningOrganization.Campaigns[0]'.
Newtonsoft.Json.Serialization.JsonSerializerInternalWriter.CheckForCircularReference(Js

[2016-03-23 05:55] palittle commented on #550
Yes - to not have to choose the image again after a validation error would definitely help. The image was visible after I created the activity but then later when I left the page and returned it seemed to have disappeared. Not sure if this still happens as I can't seem to get into the activity page from the campaign page any more - unhandled exception error is happening there (put a separate issue

[2016-03-23 06:09] dangle1 commented on #550
Incidentally, I'm seeing even more unexpected behavior. It appears adding a file causes the server to bypass all other validations on the page besides the date validations. So far I've been able to submit the form without a name for the activity, activity type, or volunteers requested; because there's a constraint in the db for activity name, I get an exception page, but entering a name allows me

[2016-03-23 06:12] dangle1 commented on #550
@palittle

Just saw your latest reply, and acknowledge. I think the label for the filename is dependent on the window size/zoom, so try maximizing your window and ensuring your zoom is at %100.

[2016-03-23 06:23] dangle1 opened #619 "Selecting an Image for Activity causes ModelState Validations to be bypassed"
See issue #550 for original discussion.

**Steps to Reproduce: **

1. Login as an Organization
2. Hover over the Admin link and click Campaigns
3. Click on an existing Campaign, or create a new one if there isn't one.
4. Click the "Create New" button
5. Click Choose File and select an image
6. Without filling out any other fields, click "Create"

Expected Result: Validation results return and user

[2016-03-23 06:31] SeanFeldman opened #620 "Stubbing unit tests to allow easy `up-for-grabs`"
While talking to @mgmccarthy have realized that we've got lots of issues about [unit testing](https://github.com/HTBox/allReady/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+unit) and an overarching issue that is [an epic](https://github.com/HTBox/allReady/issues/59) that don't really encourage people to easily start testing. Either because prerequisites of knowing what the system is doing are too

[2016-03-23 06:49] dangle1 commented on #619
While this is still fresh on my mind, this looks to be a consequence of MVC's model binder:

[code]

Rather than trying to address the implementation directly, I'm going to implement a work around in the `Create` action that manually calls `TryValidateModel`, thus forcing `ModelState.IsValid` to return false, unless anyone else has had experience with this and knows of a better way.

[2016-03-23 13:46] tonysurma commented on #620
After a quick glance this looks good to me, pinging @BillWagner @mheggeseth @dpaquette @MisterJames for their thoughts

[2016-03-23 15:46] mgmccarthy commented on #620
@SeanFeldman I have already submitted a PR for OrganizationApiController unit tests (Issue #616) but I agree with what you're proposing.

This extends beyond controller unit tests too. There are many handlers that need unit tests, and based on complexity, some ViewModels as well.

That being said, I am currently working on adding unit tests for ActivityAdminController (Issue #617). Instead of writ

[2016-03-23 19:46] mgmccarthy opened #621 "TaskController: adding unit tests and refactor to mediator"
I am currently working on this. Issue #620

[2016-03-23 19:47] tonysurma commented on #621
thanks! can you reference the 'uber' issue this is a sub issue to so we can all track the sub items.  Thanks again

[2016-03-23 19:49] mgmccarthy commented on #621
@tonysurma let me know if you want this also to be just a bunch of stubs for someone to pick up. We can mark it "up for grabs"

[2016-03-23 19:50] tonysurma commented on #621
IMHO if you want to do that and then we can mark them as you said that would be great and you could always grab some as well yourself :smile:

[2016-03-24 00:37] BillWagner commented on #284
@martynfrank I would be happy to see you pick this up. This fork https://github.com/SteveStrong/allReady has a start, but the effort was dropped months ago. It may be very out of date, but it may help you.

[2016-03-24 00:45] BillWagner commented on #620
I agree. I think this is a good organization.

[2016-03-24 08:20] martynfrank commented on #284
Thanks @BillWagner I will take a look through that fork. I was thinking of using the [TypeScript Definition Manager](https://github.com/typings/typings) (tsd) because it appears all the d.ts files we need are not managed on bower.

I will then move over to typescript a page at a time, keeping the structure the same where possible. Does it make sense for me to create an issue for each of the distin

[2016-03-24 14:14] mgmccarthy commented on #617
@tonysurma you can assign this issue to me as well

[2016-03-24 15:29] dangle1 commented on #617
Heads up @tonysurma I'm working in the same area for this issue: #619 and will have some unit tests to commit for the fix as well. The unit tests will focus particularly on the `Create` Post action.

[2016-03-24 17:31] mgmccarthy commented on #617
@dangle1, I haven't written any unit tests, just stubbed them out to try to get #620 started. While you're in there, you can finish the unit tests if you want. If you're going to finish up the tests, let @tonysurma  know so he can reassign this issue to you. Thanks!

[2016-03-24 23:06] mgmccarthy opened #622 "Refactor all read operations on IAllReadyDataAccess to async"
Since EF 7 supports async/await ops, we should be able to update all read ops on IAllReadyDataAccess to be async.

[2016-03-25 05:34] pboyer84 commented on #545
I added the input fields in the edit screen and the data persists as shown in the screenshot below. I will sleep on it and provide unit tests before submitting a PR. In addition, I will deploy to Azure for you @palittle to try out the code hands on. Keeps your eyes open for another message after it's been deployed.
![candidatefix](https://cloud.githubusercontent.com/assets/1923614/14038576/2c0273a

[2016-03-26 00:30] tonysurma commented on #613
closed in PR #614

[2016-03-26 00:30] #613 closed

[2016-03-26 01:35] dangle1 commented on #617
@mgmccarthy I was actually going to look at a P1 issue that cropped up (#618) and write some additional unit tests for that fix as well. If the stubs are still around when I'm finished with that I'd be happy to start working through them.

Additionally, I have a pull request ready for #619 which has the start for `ActivityControllerTest`. I'd like to avoid merge conflicts if possible, so how would

[2016-03-26 01:58] dangle1 commented on #550
So it turns out that this behavior is somewhat expected:

Browsers can't prepopulate input tags for files ([this is for security reasons](http://stackoverflow.com/questions/967916/how-to-keep-input-type-file-field-value-after-failed-validation-in-asp-net-mvc)). So when the form is submitted and fails validation, the server redirects to the same page, thus resulting in the condition above.

There a

[2016-03-26 02:00] dangle1 commented on #618
Please assign this one to me.

[2016-03-26 02:30] dangle1 commented on #618
@palittle can you please provide more specifics on this one? Steps to reproduce, data used when error occurred, etc.? I'm having trouble reproducing this on my machine right now.

[2016-03-26 12:45] mgmccarthy commented on #617
@dangle1, the P1 change is more important than the test stubs. Commit your change, and when the PR is accepted, I'll fetch and rebase on my local  branch and handle the conflicts locally. When everything looks good, I'll commit the rest of the stubs for another sev to pick up.

[2016-03-28 17:03] mgmccarthy opened #624 "Update ClaimsExtensionsTests to cover all testable code"

[2016-03-28 17:04] mgmccarthy commented on #624
@tonysurma please assign to me

[2016-03-28 17:54] mgmccarthy opened #626 "update TaskSignupHandler to support full async"
I'm currently working on this

[2016-03-28 17:55] mgmccarthy commented on #626
@tonysurma please assign to me

[2016-03-28 18:06] mgmccarthy opened #628 "make TaskUnenrollHandler full async"
I'm currently working on this. @tonysurma please assign to me

[2016-03-28 19:32] dangle1 opened #630 "Display the connected data to the user on the delete confirm page"
Child issue from #511

[2016-03-28 19:33] dangle1 commented on #511
I'd like to take a look at checkbox one. I just created a new issue for it, #630, please assign to me.

[2016-03-28 20:18] mgmccarthy opened #631 "stubbing out unit tests for ManageController"
Part of work for #620.

I'm currently working on this one. When I submit a PR for this, project owners can have a look and see if they want tests renamed, re-ordered, etc...

@tonysurma please assign to me

[2016-03-28 22:46] BillWagner commented on #284
@martynfrank I think that a series of small PRs would make this much easier to integrate. Pinging @stimms who should weigh in on the strategy as well.

[2016-03-29 01:48] #603 closed

[2016-03-29 02:03] #624 closed

[2016-03-29 02:06] #626 closed

[2016-03-29 02:08] #628 closed

[2016-03-29 06:46] mikesigs commented on #59
As an alternative to running the tests in Visual Studio you could always run them from the command line using `dnx test`.

You can run your tests continuously this way using nodemon. First, install nodemon `npm install -g nodemon` then run this command (from the Web-App folder)
[code]

[2016-03-29 11:50] mgmccarthy commented on #622
@BillWagner @MisterJames @tonysurma

Another idea here would be to do away with the CRUD-based IAllReadyDataAccess altogether, and just allow people to write LINQ against DbContext. We already have half the unit tests using the in-memory DbContext, and half mocking out IAllReadyDataAccess.

Since basic CRUD ops sometimes obfuscate the intent of the original use case that is using IAllReadyDataAcce

[2016-03-29 12:18] mgmccarthy commented on #59
@mikesigs thanks for the tip. Devs like me are spoiled by ReSharper... I'll give nodemon a shot

[2016-03-29 21:42] mgmccarthy commented on #631
@BillWagner @MisterJames. I'm finished the stubbed unit tests for ManageController. With just the stubs, it comes to 838 lines long... my guess is, when all tests are finished, it could come close to 2,000 lines... ManageController does a LOT.

Can I break ManageController into more discreet pieces based on functionality? For example, there could be ManagePhoneNumbersController, ManageEmailControl

[2016-03-30 13:41] mgmccarthy opened #634 "stubbing out unit tests for SiteAdminController"
Part of work for #620. I'm currently working on this

[2016-03-30 13:48] mgmccarthy commented on #634
@tonysurma please assign to me

[2016-03-30 19:22] mgmccarthy opened #637 "refactor ActivityDetailForNotificationQueryHandler to async"
@tonysurma please assign to me. I'm currently working on this.

[2016-03-30 19:22] #631 closed

[2016-03-31 05:25] BillWagner commented on #622
I think @MisterJames had written up some thoughts here. I'll defer to him.

[2016-03-31 12:13] mgmccarthy opened #639 "refactor NotifyAdminSignup to all async"

[2016-03-31 12:28] mgmccarthy opened #641 "finish unit tests/implement skipped tests in ManageControllerTests"
@tonysurma please label with "jump-in". Part of Issue #620

stubs are provided in:
ManageControllerTests.

[2016-03-31 12:29] mgmccarthy opened #642 "code cleanup for OrganizationPrivacyPolicyQueryHandlerAsync"
removing unused/uneeded code.

[2016-03-31 13:29] #615 closed

[2016-03-31 13:30] #609 closed

[2016-03-31 13:30] #621 closed

[2016-04-01 10:07] YannickMeeus commented on #338
@tonysurma Can this be assigned to me, I've got a rough version I'd like to get some eyes on.

[2016-04-01 10:35] mgmccarthy opened #644 "stubbing out unit tests for AccountController"
there are tests covering only the Login action method. I will stub out the rest. I'm currently working on this. Part of #620

@tonysurma please assign to me

[2016-04-01 10:46] mgmccarthy commented on #631
@BillWagner @tonysurma. Now that this stub is done, you can create a new issue to finish these unit tests with the "jump-in" label

[2016-04-01 12:44] YannickMeeus commented on #637
Please assign this to me.

[2016-04-01 12:53] #559 closed

[2016-04-01 14:03] mgmccarthy opened #647 "stubbing out unit tests for ActivityController"
@tonysurma please assign to me. I'm currently working on this. Part of #620

[2016-04-01 14:06] BillWagner commented on #647
Assigned to @mgmccarthy

[2016-04-01 14:33] YannickMeeus commented on #338
Considering the following scenario:

1. User chooses a picture and saves the campaign
2. This uploads the picture to Azure blob storage
3. User edits the campaign and uploads another picture
4. This overrides the picture saved against the campaign but doesn't delete the old picture

With regards to (4), is this acceptable at the moment, as it could leave orphaned images in blob storage?

I've been

[2016-04-01 19:32] #619 closed

[2016-04-01 19:51] #634 closed

[2016-04-01 19:51] #637 closed

[2016-04-01 19:53] #639 closed

[2016-04-01 19:54] #642 closed

[2016-04-01 19:56] #644 closed

[2016-04-01 20:30] #647 closed

[2016-04-01 20:51] mgmccarthy opened #649 "stubbing out unit tests for AllReady.Areas.Admin.Controllers.CampaignController"
I'm currently working on this.

[2016-04-02 15:43] stimms commented on #284
On some other projects I've slowly been transitioning to typescript. The approach I've taken is

1. rename files to .ts
2. fix any minor compiler issues. Feel free to solve them by just casting stuff to any at this juncture `(<any>Blah).function)`
3. slowly start using actual types as you encounter them

A wholesale transition is, I think, less useful than changing stuff over as you encounter it.

[2016-04-04 14:00] mgmccarthy opened #651 "Optimize async code for RemoveUserProfileIncompleteClaimCommandHandler and ApplicationUserQueryHandler"
I'm currently working on this

- rename tests after what they're testing
- align unit test namespaces/folders for both tests and hanlders

[2016-04-04 16:22] mgmccarthy opened #653 "Aligning more unit tests within the namespaces of the classes they're testing"
I'm currently working on this

[2016-04-04 18:39] martynfrank commented on #284
Thank you both for getting back to me, and sorry for my slow reply. I think @stimms idea is good. I will proceed with at least moving them all over to TS and removing the need for a separate TS folder that exists.

After some thought I agree that a wholesale transition offers little value vs the risk of introducing issues. But converting at least gives us a baseline for the future.

[2016-04-05 00:34] #649 closed

[2016-04-05 01:37] BillWagner commented on #284
@martynfrank As you get started, ping me if the PR builds start breaking. I may need to help you update the script that builds the AppVeyor build. Its controlled by the appveyor.yml file in the root directory.

We also need to update the deploy.cmd, which is used to build in our Azure staging and production sites. It is a bit of a franken-build system, but that's temporary because of where we are

[2016-04-05 03:00] BillWagner commented on #545
Fixed in PR #633

[2016-04-05 03:00] #545 closed

[2016-04-05 12:00] mgmccarthy opened #655 "SkillController and SkillControllerTests cleanup"
I'm currently working on this.

SkillController code cleanup and adding unit test stubs to SkillControllerTests for action method attributes.

[2016-04-05 12:06] #651 closed

[2016-04-05 12:10] #653 closed

[2016-04-05 12:11] mgmccarthy opened #657 "ActivityApiController code cleanup"
I'm currently working on this

- renamed DeleteActivityAndTaskSignupsCommandAsync and DeleteActivityAndTaskSignupsCommandAsyncHandler to UnregisterActivity and UnregisterActivityHandler
- removed publishing UserEnrolls from ActivityApiController and did some code cleaup
- UserUnenrolls is now published from UnregisterActivityHandler after UnregisterActivityHandler does its db ops
- all unit tests

[2016-04-05 17:20] tonysurma commented on #550
pinging @MisterJames @mheggeseth @dpaquette @BillWagner for add'l thoughts but here are mine:

I would say that we should have client side validation for everything that can be client side validated (thought this would be there already)

For when/if it needs to go to the server then yeah we lose the image per the comments and agree that we can't pursue a fix.

As for jquery.validate vs. knockout I

[2016-04-05 17:24] tonysurma commented on #469
@manojattal any update?  Thx

[2016-04-05 17:28] tonysurma commented on #502
I need to review what all is complete per the PRs and what is open per new requirements if anything

[2016-04-05 17:29] tonysurma commented on #508
@mmoore99 would you consider this still open or covered by merged PRs?  Thx

[2016-04-05 17:30] tonysurma commented on #504
I will review as part of next milestone

[2016-04-05 17:31] #240 closed

[2016-04-05 17:33] tonysurma commented on #573
@mheggeseth was this taken care of in one of your PRs?  Thx

[2016-04-05 17:34] tonysurma commented on #376
@bluechrometouch you still working on this?

[2016-04-05 17:35] #183 closed

[2016-04-05 17:36] tonysurma commented on #262
@dpaquette @MisterJames is this still open or is it covered by the PRs?

[2016-04-05 17:36] tonysurma commented on #316
@mheggeseth still open? Thx

[2016-04-05 17:38] dpaquette commented on #262
This was covered in #515 . This issue can be closed

[2016-04-05 17:39] tonysurma commented on #338
Go for it @YannickMeeus I like the idea and okay with orphaned images as long as we have some way of knowing they are orphaned (and not just having to do a cross ref of current images referenced in one list and the contents of a folder in the other)  Thx

[2016-04-05 17:39] #262 closed

[2016-04-05 17:40] tonysurma commented on #418
Putting this on feature backlog and will answer @mmoore99 questions in new requirement that clarifies this in our new milestone.

[2016-04-05 21:12] mgmccarthy opened #659 "SiteAdminController builds two callback url's with wrong controller value?"
In SiteAdminController there are two action methods building callback url's for what looks like a controller that does not exist. These callback url's are used to create links in the body for an account approval email and reset password password email.

ResetPassword(string userId):
```var callbackUrl = Url.Action(new UrlActionContext { Action = "ResetPassword", Controller = "Admin", Values = new

[2016-04-05 21:27] mgmccarthy opened #660 "Refactoring IEmailSender out of SiteAdminController"
I am currently working on this.

- using mediator to send mail from this controller by ways of explicitly named messages
- refactored any _dataAccess.GetUser(userId) calls into private GetUser method in SiteAdminController to ready for refactoring to mediator
- update QueryHandler to async as well as removing an unneeded dependency from constructor
- updated all pertinent unit tests/stubs to refle

[2016-04-05 22:38] tonysurma commented on #659
@MisterJames any thoughts on this?

[2016-04-05 22:46] #655 closed

[2016-04-05 23:16] bluechrometouch commented on #376
@tonysurma

I have to say no. Got a new job recently and just don't have the energy to take on any outside coding.

[2016-04-06 00:03] mgmccarthy opened #661 "write unit tests for AccountController"
@tonysurma please label with "jump-in". Part of Issue #620

stubs are provided in:
AccountControllerTests.

[2016-04-06 00:06] mgmccarthy opened #662 "write unit tests for AllReady.Controllers.EventController"
@tonysurma please label with "jump-in". Part of Issue #620

stubs are provided in:
AllReady.UnitTest.Controllers.EventControllerTests.

[2016-04-06 00:09] mgmccarthy opened #663 "finish unit tests for AllReady.Areas.Admin.Controllers.CampaignController"
@tonysurma please label with "jump-in". Part of Issue #620

some tests exist, but the rest are stubbed out in:
AllReady.UnitTest.Areas.Admin.Controllers.CampaignAdminControllerTests

[2016-04-06 00:12] mgmccarthy opened #664 "finish unit tests for AllReady.Areas.Admin.Controllers.SiteController (SiteAdminController.cs)"
@tonysurma please label with "jump-in". Part of Issue #620

some tests exist, but the rest are stubbed out in:
AllReady.UnitTest.Areas.Admin.Controllers.SiteAdminControllerShould

[2016-04-06 00:26] tonysurma commented on #376
Congrats on the new job and thanks

[2016-04-06 00:26] mheggeseth commented on #316
@tonysurma I'll still work on it. Let me know if you want to reassert priority on it.

[2016-04-06 00:29] mmoore99 commented on #502
@tonysurma the workflow described in this issue was handled in #506 & #507. This issue can be closed.

[2016-04-06 00:32] mheggeseth commented on #573
@tonysurma I'm pretty sure this isn't fixed yet. I'll do it real quick though. Been a while since I did a PR.

[2016-04-06 00:33] mmoore99 commented on #508
@tonysurma  this issue is still open.  Based on the presentation that you made during the last "stand up" video I have refrained from doing any further work on this issue since it sounded like the terminology and approach would be changing.  In addition, most of the work left in this issue is UI related and it sounded lik you and @OhMcGoo had some ideas about how that should be approached.  So, I

[2016-04-06 00:37] mmoore99 commented on #504
@tonysurma the approach described in my "proposal" above was implemented in PR #523.

[2016-04-06 01:04] #502 closed

[2016-04-06 01:05] #573 closed

[2016-04-06 01:05] #504 closed

[2016-04-06 02:35] tonysurma commented on #316
Thx @mheggeseth I updated it for the upcoming milestone

[2016-04-06 12:14] mgmccarthy opened #666 "ActivityAdminController refactoring"
I am currently working on this.

- stubbed out remaining unit test
- refactored ActivityDetailQueryHandler to async
- refactored EditActivityCommandHAndler to async
- refactored DeleteActivityCommandHandler to async
- replaced _dataAccess.GetActivity invocations with _mediator.Send(new ActivityByActivityIdQuery
- replaced _dataAccess.UpdateActivity(activity); with new created UpdateActivity/Handle

[2016-04-06 12:55] mgmccarthy opened #667 "AllReady.Areas.Admin.Controllers.ActivityController checks for "OrgAdmin" multiple times?"
I'm currently doing some refactoring work for this controller. The controller is decorated with:
`[Authorize("OrgAdmin")]`

which leads me to believe that only users that have the `ClaimType.UserType` set to "OrgAdmin" will be able to access any action method in this controller.

Yet, in every action method, this call is being made:
[code]

Looking into the `IsOrganizationAdmin` extension method,

[2016-04-06 18:16] mgmccarthy opened #669 "refactoring ManageController to mediator"
Part of #567. I'm currently working on this.

[2016-04-06 19:09] mgmccarthy commented on #641
@tonysurma @BillWagner please label with "jump-in" when you get a chance

[2016-04-06 19:11] mgmccarthy commented on #622
I did a local spike of this moving only the repository methods that return a single object (not IEnumerable<T>) to async, and the changeset is large. It would take an immediate review, collaboration and merge in order to pull it off b/c there are so many moving parts.

[2016-04-07 20:36] #669 closed

[2016-04-08 00:22] mgmccarthy opened #673 "Refactoring IAllReadyDataAccess to mediator in SiteAdminController"
Part of #567. I am currently working on this.

[2016-04-08 14:51] mgmccarthy opened #674 "adding unit test for ActivitySignupByActivityIdAndUserIdQueryHandler"
I'm currently working on this.

[2016-04-08 15:47] mgmccarthy opened #676 "adding unit test for UpdateMyTasksHandlerAsync"
I am currently working on this.

[2016-04-10 03:47] darrencauthon opened #678 "Getting the unit tests to work?"
I have Visual Studio 2015, Resharper 9.2.... is there some trick that I would have to do to get the xunit tests to run?

I have many years of exp in testing, NUnit, Moq, etc... but not DNX nor XUnit.

[2016-04-11 01:53] BillWagner commented on #678
The simplest way is to run 'dnx test' from the command line.

If you're running Visual Studio, they should show up in Test Explorer, because we have the xunit.runner.dnx NuGet package as part of the project.

If this helps, feel free to close the issue. If not, let me know what you still need.

[2016-04-11 17:23] mgmccarthy commented on #678
@darrencauthon, check Issue #59 for a full explanation of why unit test won't work with ReSharper/dnx/Visual Studio 2015. The conversation starts about a little more than halfway down in the thread. Basically, until https://github.com/xunit/resharper-xunit/issues/38 is resolved, you will not be able to run xUnit tests in Visual Studio 2015 for dnx. I've been using MSTest for my unit tests. There i

[2016-04-11 22:09] darrencauthon commented on #678
![screenshot_041116_050858_pm](https://cloud.githubusercontent.com/assets/148768/14443945/14f0d918-0008-11e6-8422-9d47e9cfd59f.jpg)

[2016-04-11 22:09] darrencauthon commented on #678
I have Resharper on the brain so much -- I never thought to try the test runner built into Visual Studio.

It took a little bit to get them to load, even after I built the solution... but they appeared and they all run.  Thank you!

[2016-04-11 22:09] #678 closed

[2016-04-12 00:37] mgmccarthy commented on #678
:+1:

[2016-04-12 21:22] mgmccarthy opened #680 "updating one unit test in AdminControllerTests"
updating a unit test in AdminControllerTests that tests the Value property on UrlActionContext when verifying against a mock of IUrlHelper

[2016-04-12 22:15] mgmccarthy opened #682 "Remove inheriting from TestBase on ResourceApiController b/c it's no longer needed"

[2016-04-13 01:40] #682 closed

[2016-04-13 01:42] #680 closed

[2016-04-13 22:16] #587 closed

[2016-04-14 02:57] #604 closed

[2016-04-14 03:00] #657 closed

[2016-04-14 03:04] #666 closed

[2016-04-14 03:07] #660 closed

[2016-04-14 03:07] #674 closed

[2016-04-14 03:08] #676 closed

[2016-04-14 13:21] mgmccarthy opened #684 "finish unit tests for AllReady.Areas.Admin.Controllers.EventController(EventAdminController.cs)"
@tonysurma, @MisterJames please label with "jump-in". Part of Issue #620

some tests exist, but the rest are stubbed out in:
AllReady.UnitTest.Areas.Admin.Controllers.EventAdminControllerTests

[2016-04-14 14:34] mgmccarthy opened #686 "refactoring IEmailSender and ISmsSender out of ManageController"
Part of #567. I am currently working on this.

[2016-04-14 20:57] mgmccarthy opened #688 "refactoring IEmailSender and ISmsSender out of AdminController"
I'm currently working on this.

[2016-04-15 14:48] tonysurma opened #689 "6.1.1.1 Feature single campaign on front page of app"
Feature an upcoming/current campaign with its picture, summary description and link to campaign page on the home page.  For this release we can just select first campaign that fits the criteria as we will have only one campaign ‘in production’ and for future we will likely add filters, possibly site admin tagging for highlight and featuring more than one campaign.

See below for an example of how

[2016-04-15 14:48] tonysurma opened #690 "6.1.1.2 Remove/hide search functionality"
Simply don’t delete functionality but remove the search box and resulting ‘stuff’ on home page. This will also ‘pause’ work on several active issues with search for this release.

[2016-04-15 14:49] tonysurma opened #691 "6.1.1.3 Display link to list of campaigns on home page"
Below the featured campaign provide a link to the campaign list page which shows campaigns that are current/upcoming.  Remove map link and add in logo/image of campaign on home page

[2016-04-15 14:50] tonysurma opened #692 "6.1.1.4 Add external link and highlight it on campaign display page"
Update campaign display page to display and highlight an external link for the campaign to link to an outside page that displays information about the campaign and/or allows folks to request the services of the campaign.  Also verify that the image/logo and rich content description is displayed as well.

[2016-04-15 14:54] tonysurma opened #693 "Enhance UX of campaign display and interaction page"
Details TBD but looking to enhance campaign display page to move from ‘developer UI’ to ‘productive/efficient user-focused UX’.

Initial sketches included for reference
Volunteer Reference View of Campaigns
![volunteer views](https://cloud.githubusercontent.com/assets/5067595/14565269/dc53edb2-02ef-11e6-9620-1f4170f6ad50.png)

[2016-04-15 14:57] tonysurma opened #694 "6.1.1 Featured Campaign and External Link Capability"
Highest priority new requirement for "Go Live" release.  Sub Issues are separated out as below:
- [x] #689  6.1.1.1 Feature single campaign on front page of app – P1
- [x] #690  6.1.1.2 Remove/hide search functionality – P1
- [x] #691  6.1.1.3 Display link to list of campaigns on home page – P2
- [x] #692  6.1.1.4 Add external link and highlight it on campaign display page – P1
- [x] #693  6.1.1.5

[2016-04-15 15:05] tonysurma commented on #508
thanks @mmoore99 I and Mari will get the updated requirements on this up today/tomorrow at the standup by the latest.  Thx again

[2016-04-15 15:20] tonysurma opened #695 "6.1.3 Data Integration with getasmokealarm.org (pull data)"
Placeholder for requirement around data integration (details & sub requirements being filled asap)

[2016-04-15 15:21] tonysurma opened #696 "6.1.2 Register Volunteers for Itinerary Type Campaigns"
Placeholder for requirement around registering volunteers for itinerary campaigns (details & sub requirements being filled asap)

[2016-04-15 15:22] tonysurma opened #697 "6.1.4 Construct and Schedule Itineraries for Requests from Volunteers"
Placeholder for requirement around organizing volunteers for itinerary campaigns (details & sub requirements being filled asap)

[2016-04-15 15:22] tonysurma opened #698 "6.1.5 Campaign Progress Dashboard"
Placeholder for requirement around displaying campaign progress (details & sub requirements being filled asap)

[2016-04-15 15:23] tonysurma opened #699 "6.1.6 Support Rally Type Events for Registration and Signup"
Placeholder for requirement around registering & organizing volunteers for rally type events in campaigns (details & sub requirements being filled asap)

[2016-04-15 16:05] mgmccarthy commented on #695
@tonysurma I'd be interested in getting involved with this integration is some way. You could probably delegate more technical tasks to me as I don't think I would really be able to be a part of the details/reqs/meetings required to talk to the getasmokealarm.org people

[2016-04-15 16:05] mgmccarthy commented on #690
@tonysurma please assign this to me

[2016-04-15 16:37] stevejgordon commented on #689
@tonysurma I can take a look at this one. Please assign to me.

[2016-04-15 18:38] tonysurma commented on #695
thanks!  We will be putting subitems up here soon and will get a connection with the others to net out details so stay tuned.

[2016-04-16 00:11] MKSessions opened #700 "6.1.3 Data Integration with getasmokealarm.org (pull data)"
Sub issues are separated out as below:
- [x]  #701  6.1.3.1 Implement a webjob/service to pull incremental net new requests from getasmokealarm.org
- [x]  #702 6.1.3.2 Maintain database of requests
- [x]  #703 6.1.3.3 Update statuses as part of delivery of service for requests as per functionality in 6.1.4
- [x]  #704 6.1.3.4 Allow viewing of status by requestor (lowest priority) (this has been br

[2016-04-16 00:20] MKSessions opened #701 "6.1.3.1 Implement a webjob/service to pull incremental net new requests from getasmokealarm.org"
This is likely to be ‘hardcoded’ to this one source now for expediency and as we get more sources we will need to abstract an approach.  The API to pull is being defined by the getasmokealarm.org folks so we will pull them into this issue to discuss how to work together.  The requests should be incrementally added to the database of Requests and be associated with the proper campaign.

[2016-04-16 00:21] MKSessions opened #702 "6.1.3.2 Maintain database of Requests"
Request schema is TBD but will consist of contact information, address, service requested, notes and status and be related as a sub-entity list under a campaign.  Initially we will need to work with the getasmokealarm.org folks to see what they capture, how we would model it and what it needs to look like for our needs.

[2016-04-16 00:22] MKSessions opened #703 "6.1.3.3 Update statuses as part of delivery of service for requests as per functionality in 6.1.4"
As requests are scheduled, completed, or marked incomplete track that status in the request database.

Issue 6.1.4 is #697

[2016-04-16 00:24] MKSessions opened #704 "6.1.3.4 Allow viewing of status by requestor (lowest priority)"
Push the status updates back to getasmokealarm.org so the requestor can check status of requests over time.

[2016-04-16 00:38] MKSessions commented on #700
Sub issues are separated out as below:

[] #701  6.1.3.1 Implement a webjob/service to pull incremental net new requests from getasmokealarm.org
[] #702 6.1.3.2 Maintain database of requests
[] #703 6.1.3.3 Update statuses as part of delivery of service for requests as per functionality in 6.1.4
[] #704 6.1.3.4 Allow viewing of status by requestor (lowest priority)

[2016-04-16 12:32] #695 closed

[2016-04-16 12:33] tonysurma commented on #695
duplicate of #700

[2016-04-16 12:33] tonysurma commented on #700
@mgmccarthy we now have sub items

[2016-04-16 12:35] tonysurma commented on #701
Here is the link to the [repo for getasmokealarm.org](https://github.com/redcross/smoke-alarm-portal)

I have email into a contact there provided by @OhMcGoo to start the discussion and will get them connected to this issue

[2016-04-16 13:24] MisterJames commented on #701
I'd like to take this one.

[2016-04-16 13:24] tonysurma opened #705 "6.1.2.1 Entities have new names from user experience discussions – P2"
Campaigns are Campaigns
***Activities are Events***
Tasks are Tasks
***Deployments are Itineraries***

These changes need to be reflected in the UI and secondarily in the system/database for consistency & code clarity (and yes we know we are talking entities named Events and Tasks in C# :smile_cat:)

[2016-04-16 13:25] tonysurma opened #706 "6.1.2.2 Entity Relationships and definitions have (possibly) shifted a bit – P1"
- [ ] Campaigns are made up of one or more Events
- [ ] Events are made up of one or more Tasks & Events can span more than one day but a Task cannot
- [ ] A Task is a unique combination of skills & time – therefore a task designates volunteers needed for all of a single timeframe with all of requested skills & further if you need to have different skillsets OR different timeframes you need more t

[2016-04-16 13:26] tonysurma opened #707 "6.1.2.3 Itinerary Campaigns are the new name/functionality for Deployment Managed Tasks – P1"
How do they work (known changes indicated by \* at start)
- [ ] Tasks are still shown to volunteers
- [ ] Volunteers volunteer for Tasks – example: “’Tony’ volunteers for ‘Install Driver’ on Tuesday 8-4”
- [ ] *Volunteers can be assigned to tasks by Organizers (which requires acceptance by volunteer similar to reassignment below)
- [ ] Admins can re-assign tasks to volunteers
- [ ] Re-assignment c

[2016-04-16 13:27] tonysurma opened #708 "6.1.2.4 Events can be duplicated easily to allow for campaigns that consist of repetitive tasks - P2"
Effectively this is a UX where I can take an Event and ‘copy/paste or duplicate’ it changing the start date and the dates of the Event and underlying Tasks are updated accordingly).  All other data remains the same in the duplicate but any volunteer assignments do not travel with the duplicate

e.g. Event ABC is from 6/1/2016 to 6/2/2016 and has Task 1 on 6/1, Task 2 on 6/1 and Task 3 on 6/2.  Whe

[2016-04-16 13:28] tonysurma opened #709 "6.1.2 Register Volunteers for Itinerary Type Campaigns"
- [x] #705 6.1.2.1  Entities have new names from user experience discussions – P2
- [x] #706 6.1.2.2  Entity Relationships and definitions have (possibly) shifted a bit – P1
- [x] #707 6.1.2.3  Itinerary Campaigns are the new name/functionality for Deployment Managed Tasks – P1
- [x] #708 6.1.2.4  Events can be duplicated easily to allow for campaigns that consist of repetitive tasks

[2016-04-16 13:29] tonysurma commented on #696
duplicate of #709

[2016-04-16 13:29] #696 closed

[2016-04-16 13:30] tonysurma commented on #508
To your point @mmoore99 this is now superceded by #709 and we will work on that issue definition and #697 for Itinerary (now Deployment) Campaigns as evolved by UX discussions with users.  Thx

[2016-04-16 13:33] tonysurma commented on #700
For all of these this applies:

Here is the link to the [repo for getasmokealarm.org](https://github.com/redcross/smoke-alarm-portal)

I have email into a contact there provided by @OhMcGoo to start the discussion and will get them connected to this issue

[2016-04-16 13:33] tonysurma commented on #704
Here is the link to the [repo for getasmokealarm.org](https://github.com/redcross/smoke-alarm-portal)

I have email into a contact there provided by @OhMcGoo to start the discussion and will get them connected to this issue

[2016-04-16 17:13] mmoore99 commented on #707
@tonysurma  in your above description you introduced a new entity term "Request" and I would like to ask for some additional clarification.  When we were using the term `deployments` in issue #508 I had put together an example structure for clarification purposes that I am including below for the purpose of this discussion.

Is what I have called a `deployment` below equivalent to an `itinerary` o

[2016-04-16 19:38] tonysurma commented on #707
@mmoore99 I will have a 'fuller' answer later when I am really on line but for now here are a couple of quick notes:

Requests come from this requirement #700 and represent an individual/family requesting a service (in this case a smoke alarm install.

Deployment is closer to Itinerary but the difference is Deployment as we spoke to it prior was a 1:1 to location (aka request in new words) and Iti

[2016-04-17 13:00] sudhakarssd opened #710 "DateTime issue on loading Campaigns page"
Exception on loading campaigns page for admin login. **" ArgumentOutOfRangeException: The UTC time represented when the offset is applied must be between year 0 and 10,000. Parameter name: offset"**
Exception occurred on  /Areas/Admin/Views/Campaign/Index.cshtml at line no. 56
 `@if (item.StartDate != DateTime.MinValue)`

Error is due to difference in local system timezone. It might be a good idea

[2016-04-17 13:10] sudhakarssd commented on #691
You can assign this to me.

[2016-04-17 13:54] dpaquette commented on #692
@tonysurma Are you picturing "external link" as a new property of the Campaign?

[2016-04-17 13:59] tonysurma commented on #692
Assuming it's not there, yes.

[2016-04-17 13:59] tonysurma commented on #692
Url and text for the link display

[2016-04-17 14:00] dpaquette commented on #692
ok, please assign to me

[2016-04-17 14:36] dpaquette opened #711 "Invalid redirect when administrator tries to add or edit a campaign"
The app redirects to the following page after adding a new campaign:
`http://localhost:48408/Admin/Campaign/Details/System.Threading.Tasks.Task%601[System.Int32]`

This is due to a missing `await` on an `async` operation.

[2016-04-17 14:36] dpaquette commented on #711
I have a fix ready for this. Please assign to me

[2016-04-17 14:51] #711 closed

[2016-04-17 17:57] sudhakarssd commented on #691
@tonysurma logo/image of campaign is a image from Campaign table or just a common map icon

[2016-04-18 11:40] mgmccarthy commented on #700
@tonysurma, do you see these sub tasks above being broken out to different developers?

[2016-04-18 13:52] tonysurma commented on #700
Yes, with communication been them in turn but yes

[2016-04-18 16:47] mgmccarthy commented on #690
@tonysurma, so I've looked at the home page both logged in as an admin, and not logged in, and I cannot find any "search box and resulting stuff" on the home page:

![image](https://cloud.githubusercontent.com/assets/2428993/14612080/705d367e-0563-11e6-9d57-8ac36d559beb.png)

![image](https://cloud.githubusercontent.com/assets/2428993/14612090/7d2302d0-0563-11e6-9c9e-41040f51716b.png)

so am I mis

[2016-04-18 17:12] mgmccarthy commented on #567
@MisterJames @BillWagner. Since I'm the steward of this Issue, I was just wondering how far do we take the refactoring to mediator?

I've started to go through Controllers now and refactor out ISmsSender and IEmailSender. This change opts for specific messages worded in the language/context of what the controller is doing.

But where do we stop?

For instance, many of the controllers inject `UserM

[2016-04-18 20:25] BillWagner commented on #567
Adding @tonysurma to weigh in because of deadlines and demos.  Personally, I'd err on the side of finishing work in progress, rather than leaving it unfinished. It diminishes churn. It avoids re-work.

And, as @MisterJames says above, as we separate more, queries become reusable, instead of bundled in commands.

[2016-04-18 20:40] tonysurma commented on #567
As long as we stay on this side of may 16 we are good on timelines

[2016-04-19 01:08] tonysurma commented on #690
Okay, then I think you just verified this requirement is met without any work - nice!

[2016-04-19 01:08] #690 closed

[2016-04-19 07:28] stevejgordon commented on #689
Update from me on this. The work to implement is mostly complete. I have some tests to write and a little tidy up and should be able to get my PR in soon.

[2016-04-19 14:13] stevejgordon commented on #705
@tonysurma @BillWagner Please assign to me, I'll tackle this next.

[2016-04-19 23:22] mgmccarthy opened #715 "Remove IAllReadyDataAccess from ActivityApiController"

[2016-04-19 23:41] mgmccarthy commented on #567
@MisterJames

My last PR, #716, pretty much eliminates `IAllReadyDataAccess` from all controllers. If we want to stop at that (and maybe let me take `IEmailSender` and `ISmsSender` out of remaining controllers), then this Issue can be closed.

But, if we want to abstract calls to `UserManager<ApplicationUser>` and `SignInManager<ApplicationUser>` out of controllers, and move those calls to message

[2016-04-20 09:14] stevejgordon commented on #567
@mgmccarthy What are the pros for removing UserManager and SignInManager? As they are injected by the DI system and pretty clear on what they do, my personal view is that it would be unnecessary to abstract them further. I really like the CQRS pattern for the data access, just not sure we need Mediator elements for those identity parts.

[2016-04-20 11:48] mgmccarthy commented on #567
@stevejgordon, that's what I'm hinting at. I see it as an "abstraction of an abstraction"... not really needed. And since `UserManager` and `SignInManager` are already used, the code written and some of the unit tests finished... it could be more trouble than it's worth...

one a side note, I really enjoyed your blog post: [Extending the ASP.NET Core 1.0 Identity SignInManager](http://stevejgordon

[2016-04-20 14:43] stevejgordon commented on #567
@mgmccarthy Thanks, I'm glad you enjoyed it. It's taken a while to get my head around how it all works and I still have a lot to learn. I've started (but had not time for a while) to build out my own library that can plug in as middleware to setup user auditing stuff. My goal was to get it up on GitHub at some stage and maybe even make a nuGet package as well. Once I've proven it a) works and b) c

[2016-04-20 23:15] #686 closed

[2016-04-20 23:17] #689 closed

[2016-04-21 01:18] #692 closed

[2016-04-21 01:20] #715 closed

[2016-04-22 06:28] stevejgordon commented on #705
My plan of attack! I figure I may as well get everything done for this to avoid any confusion for people. Not sure if it's easier as one big PR or smaller chunks? @MisterJames - Your thoughts? I'm happy to do whatever makes reviewing / testing easier.

- [ ] Rename activities in UI elements
- [ ] Rename activities in js elements
- [ ] Rename activities in code
- [ ] Rename activities in database
-

[2016-04-22 16:40] BillWagner commented on #705
@stevejgordon Great plan.  My experience is that several smaller PRs is much easier. If @MisterJames feels different, he can override though.

[2016-04-22 17:18] tonysurma commented on #705
@MisterJames and I have discussed this several times and definitely smaller 'bite sized' are better.  Thanks

[2016-04-22 21:47] stevejgordon opened #719 "Closed tasks show the volunteer button"
Presumably this button should be hidden if the task is closed.

Clicking the button shows the volunteer modal and allows the user to volunteer. This should also be checked and blocked in the code.

![image](https://cloud.githubusercontent.com/assets/3669103/14755699/13159660-08dc-11e6-8b8e-a4f62a40f8cc.png)

[2016-04-22 21:50] stevejgordon opened #720 "Un-enrolling from a task fails"
I was able to produce this locally by enrolling to a task and then clicking the un-enroll option.

I see the following js console error

![image](https://cloud.githubusercontent.com/assets/3669103/14755776/84b9ed52-08dc-11e6-819f-47fe25c4b66f.png)

[2016-04-22 22:36] stevejgordon commented on #719
@tonysurma You can assign to me if you want and I'll take a proper look after my renaming work gets done.

[2016-04-22 22:36] stevejgordon commented on #720
@tonysurma You can assign to me if you want and I'll take a proper look after my renaming work gets done.

[2016-04-23 15:54] #673 closed

[2016-04-23 16:40] MisterJames commented on #700
@mgmccarthy As we get further along here I'll break out some tasks that can be picked up by the wider cast. Thanks!

[2016-04-23 16:41] MisterJames commented on #702
Data captured is as follows:

[code]

I'm working with them to get more details as we go.

[2016-04-23 16:42] MisterJames commented on #703
We are working with getasmokealarm folks to detail out how we will keep these status markers in check. They are likely going to need to add a flag to their endpoint that allows us to mark a request as "managed by third party".  I will update this as we go.

[2016-04-23 16:46] MisterJames commented on #704
@MKSessions @tonysurma Would the use case here be:

 - User requests smoke alarm from site
 - GASA sends us the request
 - We create local data to track, assign, complete

...and then at some point after step one above, until the task is complete, that they would like to go somewhere to see where their status currently is?

We are going to be sending the status to GASA, and I think we'd also be ab

[2016-04-23 17:08] tonysurma commented on #704
Sending status back to GASA is cool and new and unknown at the point of writing this.  The original thought was once something was created on our side we would be able to send an email to the contact info provided by GASA to allow them to check status at any time - generic status with no private info shown.  All 'contact back' from them would go to the ARC in this case and not be provided by us.

[2016-04-23 17:29] MisterJames commented on #704
Perfect, we should be able to do something to that effect. Since they track the status on their end, we need a way to let them know we're progressing things. It also makes for an interesting analytics point (AllReady was able to assist in x% of install completions).

[2016-04-23 21:55] mmoore99 commented on #707
@tonysurma Just a "heads up".  I was hoping to be able to make some significant contributions toward the development of the newly defined requirements.  Unfortunately, I have some personal commitments from now through the end of May that will make it impossible for me to bite off any significant chunks.  I may be able to pick up some smaller issues along the way.

[2016-04-23 22:45] stevejgordon commented on #719
Update - Nearly done with this one. Got a few tests to right and a little refactoring.

[2016-04-25 11:52] mgmccarthy commented on #700
@MisterJames, thanks. I saw you were taking the lead on this. Please feel free to delegate anything you need to me where i can help.

[2016-04-25 12:12] mgmccarthy opened #724 "Remove Dependency on Microsoft.Extensions.DependencyInjection for any unit tests that test classes that inherit from InMemoryContextTest"
In most unit tests that test classes that inherit from `InMemoryContextTest`, the context is retrieved using this code:
[code]

`InMemoryContextTest` inherits from `InMemoryContextTestBase`, which exposes `AllReadyContext` as public getter `Context`:
[code]

Therefore, instead of taking a dependency on Microsoft.Extensions.DependencyInjection in unit test code, this line of code:
[code]

should be

[2016-04-25 13:02] tonysurma commented on #707
thanks for the heads up and most importantly thanks for all the contributions!

[2016-04-26 14:44] mgmccarthy commented on #710
@tonysurma @MisterJames @BillWagner

what is the approach to Utc vs. local time for allReady? For example, I see that Campaign stores a `StartDateTime` and `EndDateTime` as well as a `TimeZoneId`. Are the `StartDateTime` and `EndDateTime` stored as UTC or local?

After reading this bug, then tracing through how we handle utc based conversions in the system, it seems a bit all over the map. We're u

[2016-04-26 14:59] tonysurma commented on #710
I will let others chime in and add but from a functionality point of view:
All times should be displayed in local times relative to time zone of the campaign (much like flight times should all be displayed local to airport time zone metaphorically).  To make a fine point if Tony in Central time zone looks at campaign in Pacific time zone then it should show times in Pacific time zone not in centra

[2016-04-26 20:12] stevejgordon commented on #720
@tonysurma I've been having a look at this one and see the main issue. A couple of the related entities were not included when pulling the record from the database which caused some issues. However, even with that fixed the behaviour might not be quite right. The records have their task or event id nulled out rather than being fully deleted. This doesn't seem quite right. Can I confirm; on un-enro

[2016-04-26 20:26] mmoore99 commented on #720
@stevejgordon I noticed this, as well, when I was doing the development.  I am not an expert on Entity Framework, but as I recall I did some googling and came to the conclusion that this was how EF handled this kind of relationship.  I am afraid that's about all I can add.

[2016-04-26 20:38] stevejgordon commented on #720
@mmoore99 Thanks for the quick reply. EF core I believe tracks entity states a bit differently but I have a few thoughts depending on what the behaviour needs to be. Cheers!

[2016-04-26 21:28] mmoore99 commented on #720
@stevejgordon Not sure, but the `CascadeDelete` setting may be related to this issue.  See http://ef.readthedocs.org/en/latest/saving/cascade-delete.html

[2016-04-27 14:18] ultrabert commented on #340
Are you still working on this issue, @dangle1?

[2016-04-27 22:18] tonysurma commented on #340
@ultrabert I think he only did it for ManageController so you can jump in for another controller/area where the strings exist - just a note in this issue so others don't jump on the same set.  Thanks!

[2016-04-28 05:05] ultrabert commented on #340
Thanks, @tonysurma. I may tackle magic strings together with unit tests for an area, but I'm hesitant to claim one, as my opportunities to contribute are somewhat sporadic, and I wouldn't want to lock anyone out of something they wanted to do. :)

[2016-04-29 19:13] mgmccarthy opened #728 "Abstract CampaignSummaryModelValidator, EventDetailModelValidator and LocationEditModelValidator to make them injectable"
Right now, we're using the "new" keyword to create these validators in controllers and other validators. This violates SRP as well as DI principles as well as complicates controller unit testing.

UPDATE: now that the `PostalCodeGeo` property on `Location` has been changed to `string PostalCode`, some of these validations can be deleted as they contain empty implementation.

And, here are the chan

[2016-04-30 15:12] MisterJames opened #730 "Tech Debt (Placeholder)"
Things we need to be thinking about/expanding on:

 1. Unifying the signup/confirmation process (we can always elevate to admin with claims through some other process)
 1. Getting a templating process in place for emails/SMS such that templates and related language are defined external to the source code (but preferably under source control)
 1. Ensuring users can manage notification preferences (

[2016-05-02 10:45] stevejgordon commented on #705
@tonysurma This can hopefully be closed now since all 5 PR's have been merged.

[2016-05-02 10:46] stevejgordon commented on #719
@tony My PR message was not quite right to auto close this!

[2016-05-02 11:09] stevejgordon opened #733 "Create Task causes Db exception if no name supplied"
Validation needed for the name field when creating a new task. Name should be a required field.

[2016-05-02 13:31] mgmccarthy commented on #730
big fan of numbers 3 and 4.

[2016-05-02 14:18] #719 closed

[2016-05-02 14:18] #705 closed

[2016-05-02 14:19] #733 closed

[2016-05-02 14:59] gremz opened #735 "Request to be added to Slack Channel"
Hello,

I wanted to request to be added to the HTBox slack channel along with @Dsadowski3.

Thanks,
Greg

[2016-05-02 15:04] tonysurma commented on #735
Thanks!  shoot me an email at my first.last names @ htbox.org with your email addresses and we will invite you.

[2016-05-03 13:04] stevejgordon commented on #376
@tonysurma You can assign this to me if you like. In the interests of time I would concentrate on a more simple listing our the tasks / events that a user has volunteered for grouped/organised by date. This I imagine would look similar to what @bluechrometouch was proposing on the left hand side of his mockup. Does that sound okay as a starting point? I think that perhaps the calendar / date filte

[2016-05-03 13:10] tonysurma commented on #376
Sounds good to me, thx

[2016-05-04 17:42] stevejgordon commented on #730
Adding one item to the list for discussion and planning:

5. Domain driven design and single responsibility. We're starting to get some quite complex logic on our EF model classes and sometimes repeated in the ViewModels as well. Ideally it feels as if we're at the point where some of the more complex business logic may be better suited to domain models groups into bounded contexts. These classes

[2016-05-04 17:55] mgmccarthy commented on #730
@stevejgordon, 100% agree. I work with bounded context at my current job. Simple logic on the model classes is not necessarily a problem, but I think the ViewModels are WAY too complex, use persistence, etc...

starting with the ViewModels would be a great place to start. Not every mapping between model and ViewModel and vice-versa need the same logic, and I'd argue that some of the logic in the e

[2016-05-04 17:59] stevejgordon commented on #710
I'm not fully clear on date handling myself but since we are using DateTimeOffset for the storage that should carry the timezone for the date with it and allows for conversion to from UTC time as well. It might be useful to think about any repeated datetime calculations and whether we can provider some kind of abstraction around it and a class to manage any date time related work. I've yet to dig

[2016-05-06 21:27] stevejgordon opened #740 "RC2 / RTM Updates"
Thought I'd throw in a placeholder issue now that we have dates for RC2 and RTM of ASP.NET Core. Hopefully when RC2 lands we'll get a view of the required changes.

https://blogs.msdn.microsoft.com/dotnet/2016/05/06/net-core-rc2-improvements-schedule-and-roadmap/

[2016-05-07 06:51] stevejgordon commented on #706
@tonysurma Can I just check, in all cases should tasks now be limited to a single day? For example...

Task 1 - May 7th 2016 - 8am to 10am
Task 2 - May 7th 2016 - 10am to 1pm
Task 3 - May 8th 2016 - 6am to 8pm

and for all event types never

Task x - May 7th 2016 to May 15th 2016

[2016-05-07 06:59] stevejgordon opened #741 "Future feature ideas (Placeholder)"
A few ideas up for discussion as possible future features. This can act as a placeholder for ideas to be added.

1. Ability for users to comment on campaigns / events and/or tasks similar to GitHub issue comments. For example Mike is signed up for Task "Install fire alarm" and posts to the event "My drill has broken - Does anyone have one I can borrow for Task x?"

2. Gamification of volunteering.

[2016-05-07 18:53] manojattal opened #743 "login email does not accept empty space"
Adding an extra space in login email textbox gives error. Ideally it should accept space character in the username textbox.

[2016-05-09 13:56] mgmccarthy commented on #710
@tonysurma  @stevejgordon.

My initial approach would be to store `DateTime`, not `DateTimeOffset` in the db. All `DateTime`'s should be stored as UTC. Any field that stores a DateTime in the db as UTC should be renamed to:
[field_name]Utc.

I have an idea on a provider pattern that would allow us to change the `DateTime` from UTC to local time when retrieving info from the database for display pu

[2016-05-10 11:54] mgmccarthy commented on #688
@tonysurma, you can close this. I've already completed this work

[2016-05-10 11:59] mgmccarthy opened #744 "delete DeleteUserCommand/Handler and move UserManager<ApplicationUser> call back into SiteAdminController"
this Issue is based off the conversation in Issue #567. We will not be using Mediator to abstract calls to `UserManager<ApplicationUser>` or `SignInManager<ApplicationUser>`, b/c it's an unneeded abstraction.

Once the `UserManager<ApplicationUser>` is returned to `SiteAdminController` (where `UserManager<ApplicationUser>` is already injected), I'll fix the unit test to reflect the change.

[2016-05-10 11:59] #688 closed

[2016-05-10 22:18] stevejgordon commented on #376
I've finally got something going for this issue. It's pretty basic (lots that could be done with the functionality, UX and UI) and not very pretty at the moment. I have some work left to test it, refactor some code and generally clean it up but I wanted to share a screenshot of the current page to open it up for comments. Clicking on the event take the user to the event page where they can then up

[2016-05-12 01:10] #720 closed

[2016-05-13 14:48] stevejgordon commented on #691
@sudhakarssd - Can I check if you are still working on this one? I believe the logo should be the campaign's logo from the Campaign table.

[2016-05-13 15:03] stevejgordon commented on #710
@mgmccarthy This sounds good to me. If this ends up being the final solution, I'm happy to assist with any sub-tasks if you need me to. If you're free tomorrow for the standup perhaps we could touch on this with the project owners and confirm the final pattern.

[2016-05-13 15:05] stevejgordon commented on #698
@tonysurma - Has anything been fleshed out for the requirements of this one. Perhaps a wireframe and main data it would need to show?

[2016-05-13 23:36] mgmccarthy commented on #710
@stevejgordon, I unfortunately won't be able to make stand up tomorrow (but on most Saturday's, I am available, just not tomorrow). Maybe we can collaborate on it together using Gist. There will be a good amount of work, like handling the EF migration file when the names and data types of the properties that are currently DateTimeOffset are changed to DateTime, and other stuff I'm not thinking of

[2016-05-14 02:35] #744 closed

[2016-05-14 02:48] MisterJames commented on #730
@stevejgordon @mgmccarthy Yeup, a bounded approach is a good thing.

_Pragmatically_ speaking, some of what is going on that we don't like (smart model classes, persisty-ish VMs) are artifacts of a) first attempts by early contributors b) symptoms of missing bits from early ASP.NET builds or c) when people were trying to get things in for a demo etc.  So, I'd just like to suggest that even before

[2016-05-14 12:46] mgmccarthy commented on #730
@MisterJames, CQRS is definitely the way to go here, and like you said, it's not that tough to explain to another programmer. Mediator makes that possible as a framework. Approaching the system this way makes it easier to spot duped code or code in the wrong place b/c we should name commands in terms of the domain. To me, it's a way to clarify what the business meaning is as an operation after how

[2016-05-14 13:55] stevejgordon commented on #710
@mgmccarthy Sure, sounds good.

[2016-05-14 15:39] tonysurma commented on #698
We've got a bit but we are focusing on the P1 items in terms of requirements etc.  So.... more to come

[2016-05-14 15:57] stevejgordon commented on #698
No problem. Thanks.

[2016-05-16 11:38] sudhakarssd commented on #691
@stevejgordon yes, been away for a while.

[2016-05-16 17:31] mgmccarthy opened #748 "Fixing compile time errors and failing unit test on SiteAdminControllerShould"

[2016-05-16 20:05] mgmccarthy opened #750 "EF exception being thrown trying to start up project..."
@stevejgordon

In `SampleDataGenerator.cs`:
`at AllReady.Models.SampleDataGenerator.InsertTestData() in D:\Projects\allReady\AllReadyApp\Web-App\AllReady\DataAccess\SampleDataGenerator.cs:line 382`

`Invalid column name 'PostalCode'.`

line 382 looks like this:
`_userManager.CreateAsync(user1, _settings.DefaultAdminPassword).GetAwaiter().GetResult();`

I'm not too sure if the user manager deals wi

[2016-05-16 20:18] #748 closed

[2016-05-16 20:18] mgmccarthy commented on #750
In AllreadyContextModelSnapshot.cs:
![image](https://cloud.githubusercontent.com/assets/2428993/15302483/39d34448-1b81-11e6-82f2-51d3020c3ab0.png)

but looking at the Location entity, the name of the column is not `PostalCodePostalCode`, it's `PostalCode`

[2016-05-17 05:27] stevejgordon commented on #750
@mgmccarthy Yep, that looks to be the issue. The changes were introduced in a prior PR to remove the link between the postcode field in locations and the PostCodeGeo table which included the column name change, however a migration was needed to ensure the database is updated accordingly.

I've done the smallest change possible which is adding a migration here. I'll open a new issue to discuss if t

[2016-05-17 05:38] stevejgordon opened #752 "'PostalCodeGeo' and 'Locations' Tables"
Changes were made in PR #727 to remove the hard link between locations and the PostalCodeGeo table. This has made adding campaigns and events easier since previous behaviour meant that unless you specified an exact match for the fields, you were unable to add a campaign or event.

Locations are now no longer tied to that table with a relationship. Adding a new campaign with a new location simply c

[2016-05-17 05:40] stevejgordon opened #753 "Add / Edit Task Postcode DB Error"
Since the changes for the postcode field occurred it seems that trying to add or edit a task for an event causes the following error on the GET request for the create/edit page.

![image](https://cloud.githubusercontent.com/assets/3669103/15312237/37dfa1d0-1bfa-11e6-914c-fac855004def.png)

[2016-05-17 11:50] mgmccarthy commented on #752
First, thanks @stevejgordon for tracking that bug down and fixing it!

It looks like `CheckValidPostcodeQueryHandlerAsync`still reads from PostalCodeGeo, but besides that, I do not see any other usages of PostalCodeGeo in the system. In fact, the command that `CheckValidPostcodeQueryHandlerAsync` handles is not longer being sent by anything, so this handler and command should be deleted. My two ce

[2016-05-17 14:24] stevejgordon commented on #740
RC2 landed yesterday. I've initially tested running allReady in VS 2015 after removing RC1 and installing RC2 + the preview tooling. It builds and runs but I did hit an interesting issue when I wanted to run an EF migration.

Ultimately we need to start thinking about when is the right time to update the project to be a formal RC2 project, targeting the correct dependencies etc. Once that change i

[2016-05-17 22:49] tonysurma commented on #752
In short what you are describing @stevejgordon is right - it is now redundant and unneeded and no worries about multiple entries in Location that are now same

[2016-05-17 22:50] #750 closed

[2016-05-18 03:34] vishal123 commented on #753
I had a look at this at submitted a pull request. #756

[2016-05-18 06:28] vishal123 commented on #708
working on this

[2016-05-18 08:05] stevejgordon commented on #752
@tonysurma Thanks. What should the different user journeys/stories around locations be? I know there was a postcode search feature previously that got hidden/removed. From the standup @MisterJames talked about using Google API and I believe users are likely to need to perform radial searches and task mapping etc. in the future? If so, I think we need to consider those requirements into any current

[2016-05-18 08:05] stevejgordon commented on #753
@vishal123 Cool, thanks. :-)

[2016-05-18 08:10] stevejgordon commented on #741
4. Adding AppInsights / Stackify style APM tool to monitor for exceptions and performance on the live deployment of the site.

[2016-05-18 11:44] mgmccarthy commented on #752
@stevejgordon, I didn't know about the searching feature that is why I recommended the value object approach to storing addresses (basically, and Address cannot exist outside of the context of its aggregate root: Campaign, Event, Organization).

If, once an Organization or Event is created in the context of a Campaign, those addresses can evolve on their own, I think it's still possible to conside

[2016-05-18 12:19] stevejgordon commented on #752
@mgmccarthy Yep, good point on the 3rd party coupling. I'm tackling something similar on a new work project and we're looking at self contained micro-services for such work. That would probably be overkill here but we could implement something like https://github.com/App-vNext/Polly to set some retry policies etc.

[2016-05-18 12:52] mgmccarthy commented on #752
@stevejgordon, cool library! I'd like some time to check it out at some point. Have you used it all?

I work with NServiceBus everyday so I pretty much think async at this point and take retries, error queues and durable messaging for granted.

It is cool to see other open source libraries tackle the very real problem of 3rd party integration especially when calling that integration from withing a

[2016-05-18 15:11] #728 closed

[2016-05-18 15:40] mgmccarthy commented on #752
@stevejgordon, Polly could also be used for all our messaging as well... emails, text messages, etc... we don't want a transaction to fail b/c the underlying delivery mechanism for an email is down. I'm not too sure if the underlying mechanism for email sending (which looks like it uses Azure queues?) will work like Polly or not.

We could also use it for incoming integrations like #700. This allo

[2016-05-18 16:02] MisterJames commented on #691
@sudhakarssd I'm going to jump on this one because it's "low hanging" and I'm doing a demo at a code-a-thon!  Sorry for trumping anything you've started!

[2016-05-18 16:11] MisterJames commented on #691
@tonysurma Are we going to remove the list of campaigns entirely from the home page? Should it *just* be the link (under the featured campaign)?

[2016-05-18 16:23] reecebradley commented on #641
Looking at it...we shall see how far I get :-)

[2016-05-18 16:51] sudhakarssd commented on #741
5 - Location based notification/alerts to volunteers - This can help organization get help faster through local (within city) volunteers.

[2016-05-18 17:12] mgmccarthy commented on #641
@reecebradley, good luck. It's one of the tougher controller to unit test.

Looking at unit tests from other controllers that use `UserManager<ApplicationUser>` and `SignInManager<ApplicationUser>` can help guide you b/c IMO, those are tough things to mock. Many of those unit tests have good setups either for the whole controller instance, or for creating mocks of `ApplicationUser` and `SignInMana

[2016-05-18 17:24] tonysurma commented on #691
good either way - remove or leave for now

[2016-05-18 18:35] curts commented on #618
I am not able to recreate this issue either.  I am not able to locate the file `_ActivityScripts.cshtml` as referenced in the original issue.

[2016-05-18 18:39] MisterJames opened #764 "Remove map link and add in logo/image of campaign on home page"
When displaying the list of campaigns, display the image. The "map" link can be removed from the view. Lifted from #691.

[2016-05-18 18:57] curts opened #766 "Error copying contact Info when creating new campaign"
0. Logged on as administrator
1. Click to create a new campaign
2. Click the Copy Contact Info button and select "Overwrite Existing Details"
3. You receive an error:

![error](https://cloud.githubusercontent.com/assets/1950836/15371318/7aaff080-1d00-11e6-8a32-47e7260b4b7f.png)

[2016-05-18 19:15] robrich commented on #536
Solved by PR #768

[2016-05-18 19:17] MisterJames opened #769 "6.1.1.6 Modify Campaign to allow setting the Featured flag from UI"
There is no UI to set the flag in campaign. This should be set from the list view in the admin side.

[2016-05-18 19:29] #536 closed

[2016-05-18 19:58] reecebradley commented on #641
Thanks Michael. Presently I am working on IndexGetAddsCorrectMessageToViewDataWhenMessageEqualsChangePasswordSuccess

[2016-05-18 20:09] vishal123 commented on #618
```_ActivityScripts.cshtml``` may have been renamed to ```_EventScripts.cshtml```
See ```\AllReadyApp\Web-App\AllReady\Views\Event\_EventScripts.cshtml```

[2016-05-18 21:07] #769 closed

[2016-05-18 22:08] VishalMadhvani opened #772 "Unable to delete an Event if it contains any Tasks"
SqlException: The DELETE statement conflicted with the REFERENCE constraint "FK_AllReadyTask_Event_EventId". The conflict occurred in database "AllReady", table "dbo.AllReadyTask", column 'EventId'.
 The statement has been terminated.

Example Url: ```/Admin/Event/Delete/4```

[2016-05-18 22:52] vishal123 commented on #708
Here's what I've got so far.

![image](https://cloud.githubusercontent.com/assets/1994627/15377286/a65b371c-1d28-11e6-8737-99824ada276c.png)
Duplicate Button.

![image](https://cloud.githubusercontent.com/assets/1994627/15377293/af23384a-1d28-11e6-9649-4cf02272867f.png)
Duplicate Form allowing changes to be made to the new event before it is created.

![image](https://cloud.githubusercontent.com/a

[2016-05-19 17:24] mgmccarthy opened #778 "adding unit tests for OrganizationNameQueryHandler and OrganizationListQueryHandler"

[2016-05-19 18:23] #778 closed

[2016-05-20 02:38] manojattal opened #781 "Admin campaign index page throws exception when dates for campaign is not set"
1. Login using "organization@example.com"
2. With default data, some of campaigns do not have start and end dates.
3. While displaying campaigns list, it throws exception as in screenshot.

![loginissue](https://cloud.githubusercontent.com/assets/413961/15415697/0bd5974c-1e62-11e6-9f05-8d9617c0c11d.png)

[2016-05-20 03:58] robrich commented on #781
Can't reproduce with git hash a598be2.  Can you explain more about how to reproduce this or what git version you're using?

[2016-05-20 04:23] robrich commented on #710
Date and Time are hard -- especially when crossing timezones.  See also http://hanselminutes.com/485/the-problem-with-datetime-nodatime-with-matt-johnson and https://www.pluralsight.com/courses/date-time-fundamentals.  I'm concerned about converting back and forth between UTC because "local time" to the server isn't usually what you expect.

[2016-05-20 04:49] vishal123 commented on #710
My 2 cents:
- DateTime should be stored in UTC and offset as appropriate during rendering.
- DateTime should be stored as ```DateTime``` and not ```DateTimeOffset```
- No need to postfix DateTime fields with 'Utc'

[2016-05-20 11:32] mgmccarthy commented on #710
a quick implementation idea would look something like this:
[code]

another part of the implementation is we would add a `string TimeZoneId` to any model that needed it.

we `[Require]` TimeZoneId on creation for models that have it:
![image](https://cloud.githubusercontent.com/assets/2428993/15425733/51fbf892-1e58-11e6-95a1-cb7704e33722.png)

@robrich, I'm not going to be able to listen to the po

[2016-05-20 11:43] vishal123 commented on #710
Looks good. 👍
That timezone select list could also be made into in tag helper.

[2016-05-20 16:50] stevejgordon opened #782 "Itinerary tasks should not span more than 1 day"
In relation to the second item from issue #706 and the discussion on the community standup (14th May 2016) the validation rules for tasks need some adjustment to comply with the business rules.

As such a task for an itinerary event should not be allowed to scope outside of a single day.

A validator should be in place to ensure task creation and edits validate this before saving / updating a task

[2016-05-20 16:51] stevejgordon commented on #782
Please assign to me as I am part way through code to address this.

[2016-05-20 18:04] mgmccarthy opened #783 "write unit test for NotifyVolunteerForUserUnenrolls"
@tonysurma please label with "jump-in". Part of Issue #620

[2016-05-20 18:06] mgmccarthy opened #784 "write unit test for NotifyVolunteerForEventSignup"
@tonysurma please label with "jump-in". Part of Issue #620

[2016-05-20 18:06] mgmccarthy opened #785 "write unit test for CheckValidPostcodeQueryHandlerAsync"
@tonysurma please label with "jump-in". Part of Issue #620

[2016-05-20 18:07] mgmccarthy opened #786 "write unit test for DeleteOrganizationHandlerAsync"
@tonysurma please label with "jump-in". Part of Issue #620

[2016-05-20 18:11] mgmccarthy opened #787 "finish writing unit tests TaskStatusChangeHandler"
@tonysurma please label with "jump-in". Part of Issue #620

[2016-05-23 01:55] tonysurma commented on #376
@stevejgordon looks good to me thanks!  FYI @joelhulen here is a UX item we can discuss

[2016-05-23 10:15] stevejgordon commented on #710
@mgmccarthy Might also be worth us looking at http://nodatime.org/ - Heard about it dotnetrocks a long time back. Not dug into it in depth but putting it here as a reminder to myself!

[2016-05-23 11:52] stevejgordon commented on #376
@tonysurma Thanks! I'll try to find the time soon to clean up the code and tests to get a PR in for what I have so far.

[2016-05-23 19:39] dpaquette commented on #710
Duplicate conversion code is related to #410

[2016-05-24 15:56] mgmccarthy commented on #410
we're also doing this work in [TimeTagHelper.cs:](https://github.com/HTBox/allReady/blob/53c7f60facfaaf7d016265087eadc13ac7720ac7/AllReadyApp/Web-App/AllReady/TagHelpers/TimeTagHelper.cs) and [campaign.js](https://github.com/HTBox/allReady/blob/53c7f60facfaaf7d016265087eadc13ac7720ac7/AllReadyApp/Web-App/AllReady/wwwroot/js/campaigns.jsrl), so it's pretty much all over the place at this point.

[2016-05-25 14:35] #691 closed

[2016-05-26 04:42] SteveKennedy commented on #684
I'm looking to jump-in on this one.  Did this class disappear?

[2016-05-26 12:21] mgmccarthy commented on #684
@SteveKennedy, what happened here is there was a global renaming of anything called "activity" to "event". Looking at the history of the `EventControllerTests`, it used to be named `ActivityControllerTests`, so I'll change the name of this Issue to reflect the name change.

Looking at `EventControllerTests`, it looks like there are still plenty of tests to be written, so feel free to start into th

[2016-05-27 17:23] tonysurma commented on #708
discussing this with @adedonato

[2016-05-27 17:25] adedonato opened #793 "Sample Issue"

[2016-05-27 17:26] tonysurma commented on #793
What are you looking for?

[2016-05-27 17:27] #793 closed

[2016-05-30 19:12] SteveKennedy opened #796 "Activities screen on mobile app appears blank"
The activities screen on the mobile app appears blanks.

NOTE: This *might* be because the underlying API was changed away from using "Activities" to "Events".

Please assign this to me.

![screenshot_2016-05-30-13-43-20](https://cloud.githubusercontent.com/assets/12101125/15656552/45efc0ba-266e-11e6-95f9-de8cb64edb5a.png)

## When fixed, it should look something like this:

![screenshot_2016-05-3

[2016-06-02 13:27] rmcc13 commented on #787
If no one is working on this, I would like to pick it up.

[2016-06-02 13:34] rmcc13 commented on #59
I am working on unit tests for `TaskStatusChangeHandlerAsync` via #787

[2016-06-02 15:08] mgmccarthy commented on #787
@rmcc13. I'll try to get a to a code review of this tonight. Since I'm not a project owner, I don't have the ability to set Assignees, so if you're working on a PR, you can include a comment on this issue that you're currently working on it. Thanks

[2016-06-02 15:33] rmcc13 commented on #787
OK sounds good, I'm working on this.

[2016-06-04 14:37] MisterJames commented on #740
We can talk about this on the standup today...it's a big shift and we have to get the PRs merged in before we make this cut. We can also dump the existing migrations (right @tonysurma?) and rebuild the migration set as we're going to purge the database.