[2016-11-29 14:55] tonysurma commented on #1210
@HamidMosalla I will look for other examples but have no ideas for now :(

From my perspective we are good to merge this in after you get thoughts from @dpaquette or @MisterJames .  Thanks again

[2016-11-29 15:57] #1102 closed

[2016-11-29 20:14] DanielSchiavini commented on #1503
I wanted to work on this tonight but my VM has been installing updates for hours. Sorry for the delay if anyone's been waiting for this. I'm afraid I'll be only looking into this next week. If anyone wants to take this issue over, please let me know. My work is in https://github.com/HTBox/allReady/compare/master...DanielSchiavini:Issue1503_task_attachments

[2016-11-29 20:43] mgmccarthy opened #1581 "Question: Clarification of the Request Life-cycle"
@tonysurma @MisterJames @stevejgordon @dpaquette @OhMcGoo

Currently, the Request life-cycle has had some changes made to it as a result of the implementation of confirmation messages going out to requestor's, and those requestor's either confirming or canceling the request (the Hangfire jobs run those scheduled sends based on the request status of each request added to an itinerary).

I wanted to

[2016-11-29 21:03] tonysurma commented on #1503
No worries.  Thanks for your help.

[2016-11-29 21:43] DanielSchiavini commented on #1503
@dpaquette thanks for the help, it worked out! :)

[2016-11-30 03:17] #864 closed

[2016-11-30 13:01] stevejgordon opened #1582 "Preview a campaign before publishing/saving"
Break out from #37

Ability to preview changes when updating a campaign (already published) before saving them. Have the ability to preview an unpublished campaign or a change before they push it live. The preview could be just in a tab (like above here when I am entering a comment on an issue in GitHub) it doesn't have to be 'long lived' aka stored in system.

Add a UI tab to display preview of t

[2016-11-30 13:02] stevejgordon opened #1583 "Create Campaign Flow - Initial non-published state"
Break out from #37

Ability to create a campaign initially in an non-published state, preview it and when ready, publish it. In short we want to be able to have campaigns be 'built'/created before they go live.

We should add a published flag to the db schema for a campaign.
We should only publicly display campaigns marked as published.
We should add a button for an admin to publish an un-publishe

[2016-11-30 13:03] stevejgordon commented on #37
Added two issues to break out this piece of work:

- [ ] #1582 - Previewing a campaign
- [ ] #1583 - Concept of published campaigns

[2016-11-30 13:50] stevejgordon commented on #1084
@mgmccarthy If there are any smaller components we can break off into discrete issues (suitable for new contributors) please let me know as we can put them into the plan for next week's code-a-thon. I've not followed along enough to know what's done/not done.

[2016-11-30 13:52] stevejgordon commented on #709
@tonysurma - Do you think this can be closed or are there items left I can break out for next week?

[2016-11-30 13:53] stevejgordon commented on #799
@tonysurma - Anything left on this one which we need to break out?

[2016-11-30 13:55] stevejgordon commented on #704
@tonysurma - I believe @mgmccarthy is covering point 1 from my last message. For point 2, would a page to view a request status and scheduled date be useful for this version? If so, it's a simple story we can add for the code-a-thon.

[2016-11-30 13:56] stevejgordon commented on #699
@tonysurma - Do you have some more details so I can create some sub-issues to get this on the list for next week?

[2016-11-30 13:57] stevejgordon commented on #698
@tonysurma - Another which we might be able to start tackling next week. Are there any wireframes or sketches as to the planned content?

[2016-11-30 13:59] tonysurma commented on #698
@schuback @OhMcGoo can you take a look at how we want to document the requirements for this? cc @EmilyLuijbregts

[2016-11-30 13:59] tonysurma commented on #699
@schuback @OhMcGoo can you take a look at how we want to document the requirements for this/walk through what works/doesn't right now? cc @EmilyLuijbregts

[2016-11-30 14:03] mgmccarthy commented on #704
@stevejgordon, I'd be fine breaking these two items apart. I don't know if item 2 would depend on item 1 code being submitted and merged before your code-a-thon though.

[2016-11-30 14:09] mgmccarthy commented on #1084
@stevejgordon that might be tough to do with this issue. At this point, I pretty much have the API communication back to getasmokealarm in the works and will be contributing that piece with my next PR.

Let me go through and create some Issues for some outstanding items, and if any of the devs in your codeathon feel up for it, they can pick up the work.

I do know that Issue #1405 is available for

[2016-11-30 14:10] mgmccarthy commented on #1055
@tonysurma please assign this to me

[2016-11-30 14:14] tonysurma commented on #704
@stevejgordon I think point 2 would be helpful for debugging/viewing etc as we first launch

[2016-11-30 14:15] tonysurma commented on #799
@stevejgordon @schuback @OhMcGoo can you document out the scenarios so we can see if there are any additional gaps? cc @EmilyLuijbregts

[2016-11-30 14:15] mgmccarthy opened #1584 "Claims are not working on the Site Admin menu..."
When going to the Site Admin menu option under Admin:
![image](https://cloud.githubusercontent.com/assets/2428993/20755532/4ecc7534-b6dd-11e6-81f3-865943e324cb.png)

Claims are not working correctly as any user can see all of the action icons, when each action icon is controller explicitly by claims:
![image](https://cloud.githubusercontent.com/assets/2428993/20755565/6ef650c8-b6dd-11e6-805c-a206e

[2016-11-30 14:16] tonysurma commented on #709
@stevejgordon if #706 can be closed then this can be closed

[2016-11-30 14:16] #706 closed

[2016-11-30 14:16] #709 closed

[2016-11-30 14:20] stevejgordon opened #1585 "Add page to display public request details"
Breakout from #704

Add a simple page which displays a request's status and (if available) planned deployment date.
No private info (names or addresses etc) should be shown on this page.

[2016-11-30 14:29] mgmccarthy opened #1586 "Token Protection Middleware generated token is not recognized on post back to endpoint"
When invoking an endpoint in our system (any controller's action method with the `[Route("api/request")]` attribute), the code invoked by the filter, `TokenProtectedResource`, is not recognizing a token that was issued from the site admin page:

![image](https://cloud.githubusercontent.com/assets/2428993/20755758/24ac6f38-b6de-11e6-8f6b-17297c43fd3c.png)

The token by first enabling the API token

[2016-11-30 16:12] stevejgordon commented on #1430
Hi @FvdG - Just checking if you're still working on this?

[2016-11-30 16:57] stevejgordon commented on #1580
Working on this

[2016-11-30 18:17] FvdG commented on #1430
I have the solution, i will try to make a pull request tonight. If this
fails for some reason i will notify you.

Frank

Op 30 nov. 2016 5:12 p.m. schreef "Steve Gordon" <notifications@github.com>:

[2016-11-30 20:10] mgmccarthy opened #1587 "When creating a Request from the Event Details page, we should pre-populate the Request's city/state/zip values with the values from the Event as read-only fields on the Request creation UI"
@tonysurma @stevejgordon @MisterJames @dpaquette @OhMcGoo

When creating a Request via the UI, you do so in the context of an Event:

![image](https://cloud.githubusercontent.com/assets/2428993/20768937/dc9efc12-b70d-11e6-8fa4-b000929979ad.png)

Since every Request has an EventId/Event property that needs to be populated to associate a Request with an Event in order for the ~~Event~~ Request to be

[2016-11-30 20:12] stevejgordon commented on #1430
No rush - thanks @FvdG - I was looking at something that was in the same area but will avoid it until your PR is in.

[2016-12-01 07:51] stevejgordon commented on #1587
@mgmccarthy The request in our domain represents an install location. So I can request a smoke alarm at my home address. That is the address which is stored as part of the request. If you then made a request you would have your address stored there.

This most commonly will happen via API calls from getasmokealarm We'll need to assign those to an event based on whatever rule set we apply. The next

[2016-12-01 11:48] mgmccarthy commented on #1587
@stevejgordon, thanks for the feedback. I'm looking over what i initially wrote, and it's wrong (most of which you picked up in your reply to me). I wrote it in a hurry, so I made mistakes. I just corrected it. I'll weigh in on the other things you mentioned in your reply as well when I get to work.

Thanks

[2016-12-01 13:56] mgmccarthy opened #1590 "Request CSV Import creates Requests in the system with no associated Event."
Need project/product owner feedback on this issue: cc @tonysurma @MisterJames @OhMcGoo

We want to make sure when adding a Request to the Request table, that we're associating an Event to the Request.

Request's w/out an associated Event will appear "orphaned" to our UI that is responsible for assigning Requests to Itineraries.

Most likely, the same lookup mechanism that will be used to match inc

[2016-12-01 14:01] tonysurma commented on #1590
Yes @mgmccarthy same rules as API ingestion should be used for CSV ingestion

[2016-12-01 14:03] mgmccarthy commented on #1590
@tonysurma, don't know if you have any time to chat about how we make the association with Request to Event, but regardless of if we use the zip code or somehow use the region (which we would need to figure out how to represent in our system), but it would probably help me sumbmit something that makes sense.

Maybe pulling @MisterJames in on the convo would help... Skype (in person would be best),

[2016-12-01 14:08] tonysurma commented on #1587
@mgmccarthy that concern isn't a concern from a user/UI/requirements perspective.  All of that data is and should be enterable by the user.  Even for our current use case for the initial roll out, we can't model restrictions that may or may not exist as it gets super complicated.  For example, as @stevejgordon referred to zip code density is variable so in some areas it would be insane for it to b

[2016-12-01 14:08] #1587 closed

[2016-12-01 14:10] tonysurma commented on #1590
paging @OhMcGoo and @schuback as we need to get the red cross view of how to do this assignment (how do we map a request from get a smoke alarm) to the right region/event/etc. in our system.  What happens now with GetASmokeAlarm.org for instance - how do they get from their system to the right folks at ARC?  Maybe they can duplicate that for us and we can just map regions to events or something...

[2016-12-01 14:13] stevejgordon commented on #1587
@mgmccarthy

In terms of the csv and manual creation being backups, I will defer to @tonysurma but I think the goal is for things to come in via the API in most cases. If that's not ready at go live I believe csv is a fallback. I would assume this remains true for any other organizations/campaigns as they come online since there could be integration work that means csv is needed.

For the issue at

[2016-12-01 14:17] tonysurma commented on #1587
@stevejgordon also to validate you are right that manual entry is kinda last stop/last resort.  PRimarily there for testing and secondarily there for some random ad-hoc add a request but otherwise GASA API is primary as you said and CSV is secondary.

[2016-12-01 14:25] mgmccarthy commented on #1587
@stevejgordon @tonysurma thanks guy! I do feel more informed about how the system should be working from the conversation above... especially the comments about zip code density.

that being said, we'll still need to tackle the task of assigning a Request to an Event when we create a request (from API/CSV)

One idea is to NOT associate a Request to an Event for the API/CSV imports. If this were do

[2016-12-01 14:25] #1580 closed

[2016-12-01 14:33] mgmccarthy commented on #1586
@tonysurma, can you assign to @MisterJames? I think he's looking into this now.

[2016-12-01 14:49] tonysurma commented on #1587
@mgmccarthy interesting idea and then have the admin also have an 'associate' request just like the create request on the event.  We could at least dump the requests under the organization at ingestion then so that Tony Org can't see requests that came in to Steve Org for example.

Should we continue discussion here and change name (again 😸 ) or move to another issue?

[2016-12-01 15:10] MisterJames commented on #1590
@mgmccarthy @tonysurma I'm not sure that I'm opposed to orphaned requests, but there are two ways that come to mind immediately to solve this.

1) If we decide that orphaned requests are okay, we simply display a warning/alert at the top of every event page (for admins) and prompt them to "assign" the requests to the event. This could be done via a list with a filter set at the top/selection. This

[2016-12-01 15:12] stevejgordon commented on #1587
@tonysurma Sounds sensible to have somewhere we can view "orphaned" requests. We could have a few issues and possibly address this at the code-a-thon. Something like

- Add Org level page (or maybe campaign level if we can at least determine campaign via API) to list requests without an event id set
- Clicking on a request displays a page/modal allowing an campaign and event to be set

If that sou

[2016-12-01 15:13] stevejgordon commented on #1590
@MisterJames +1 to option 2

[2016-12-01 16:17] tonysurma commented on #1590
Option 2 works for CSV but not API but like it.  It can even be optional.

for option 1 we can have orphan (but at least tagged to org per comment above/somewhere else) and I think we can do a variation of it where the Steve's create request buttons appear.

[2016-12-01 16:30] mgmccarthy opened #1591 "Idea/Discussion: Do not associate a Request to an Event when creating Requests from API/CSV sources"
Breaking the comments about this from #1590 and #1587 into this separate issue.

So far, the ideas that have been floated:
from @MisterJames in [1590](https://github.com/HTBox/allReady/issues/1590#issuecomment-264197849):

with @stevejgordon giving a +1 to option 2

from @tonysurma in [1587](https://github.com/HTBox/allReady/issues/1587#issuecomment-264191816)

from @stevejgordon in [1587](https:/

[2016-12-01 16:31] mgmccarthy commented on #1587
the discussion about not associating an incoming Request with an Event has been broken out into Issue #1591

[2016-12-01 16:31] mgmccarthy commented on #1590
the discussion about not associating an incoming Request with an Event has been broken out into Issue #1591

[2016-12-01 16:32] mgmccarthy commented on #1587
@tonysurma @stevejgordon @MisterJames I've broken this issue out into #1591. We can track convos/decisions there. Thanks!

[2016-12-01 17:02] tonysurma commented on #1591
I am good with the proposal except - once we get to more than one org submitting API requests we can't have Tony Org + Steve Org seeing the same pool of requests.  Couldn't we use the auth token to see which user has that auth token and then what org they are in?

However that is a v1.1 issue and not a v1 issue so for now I am happy to have them all come in and just be tagged with the organization

[2016-12-01 17:16] mgmccarthy commented on #1591
@tonysurma, I think I understand now.

When you're talking about Orgs, you're saying we should represent each external source (in this case, GASA/Red Cross) with an internal Organization in allReady?

If that's the case, what we'll really need is a unique id we'll assign to each org we'll be receiving Requests from, and THAT's why you're saying we could use a token for that identification.

That t

[2016-12-01 18:28] tonysurma commented on #1591
quick answer: right and we already have organizations in our system so just need to get it mapped even if you hard code it for December 😈

[2016-12-01 19:44] mgmccarthy commented on #1591
So, I think adding the Event drop-down to the Import Request CSV screen to associate those Requests with an event is a good idea.

For the Request API imports, for the December release, I MIGHT be doing what @tonysurma mentions above:

since we're only launching for GASA/Red Cross, this approach is entirely feasible for the December release. If we go this route, we'll still need a way to look at t

[2016-12-01 20:32] mgmccarthy commented on #1591
@tonysurma  @stevejgordon  One note about routing incoming Requests to an Org based off of a token...

this solution requires the Org to exist in allReady before we can start to accept and process API requests. I'm not too sure if this is a "big deal" or not, but it does require some setup on the web/UI end before we can officially start to test the import.

Did you want me to seed a new Org for R

[2016-12-01 20:35] tonysurma commented on #1591
quick note: we already have a set of UI for creating orgs and associating users and I *think* the user token generated is tied to a user so it should be tied to an org.

For dev you could use the seeded htbox org.

For the hard coding, perhaps we can do a config value of which ID that I can set in production release from whatever org they get in the database.

[2016-12-01 20:35] EmilyLuijbregts commented on #1522
@mgmccarthy - just doing a follow up of the next steps here. Are we waiting for this to be picked up by someone? Thanks!

[2016-12-01 20:36] EmilyLuijbregts commented on #1523
@schuback - are you able to provide the reproduction steps as requested by @mgmccarthy or do you need further support in reproducing it?

[2016-12-01 20:40] EmilyLuijbregts commented on #1550
@stevejgordon - have you got any update on this? Do you need any further information from Michael?

[2016-12-01 20:43] mgmccarthy commented on #1591
@tonysurma, @MisterJames  is currently working on this:

right now, the token that is being generated for a user is not being recognized on the inbound trip back to our endpoint. But you are correct, the token is assigned to a user, and then that user will be associated to an Org.

One other problem I just thought of:

How do we communicate the status of this request back to GASA's endpoint if we'

[2016-12-01 20:46] EmilyLuijbregts commented on #1557
Issue #1558 created to track this issue

[2016-12-01 20:46] #1557 closed

[2016-12-02 00:06] #1349 closed

[2016-12-02 00:08] mgmccarthy commented on #1522
@EmilyLuijbregts, my guess is there is something not configured right in the live environment that is allowing the messages to be pushed to Azure service queue then dispatched as sms's. Running the code locally, the messages are sent.

Someone who has access to the live environment ( @tonysurma @BillWagner @MisterJames ) might be able to take a look at the config settings/log to see what the probl

[2016-12-02 01:31] mgmccarthy commented on #1591
@tonysurma, I'm going to add an OrganizationId to the Request model and for now, we'll hard code all incoming API requests to that OrgId.

Eventually, we should use our generated token we give to the provider that will be in each incoming request to look up the user's OrgId based on the token, and assign the OrgId to that Request (v1.1).

For now, we can build a UI that will allow a user to look a

[2016-12-02 02:08] tonysurma commented on #1522
Can anyone confirm this all works in dev with the job etc? I will then verify in production

[2016-12-02 02:33] mgmccarthy commented on #1522
@tonysurma what was @schuback  doing? It looks like from his description he tried to verify the mobile number of a registered user. This has nothing to do with Hangfire jobs.

The code uses UserManager to do the work

[2016-12-02 13:36] stevejgordon opened #1595 "Add OrganizationId to the EF Request Model (Step 1)"
Breakout requirement from the master discussion #1591

STEP 1

For v1 release we have agreed that on creation/import each request will be assigned an organization id to link it to an allReady Organization (i.e. Red Cross).

We need the model updating and a migration created to add this property and a foreign key back to the Organization.

[2016-12-02 13:39] stevejgordon opened #1596 "Add Org Level Page To List Requests (Step 2)"
Breakout requirement from the master discussion #1591

STEP 2 - After #1595 is merged

We need an admin page that can be accessed from the organization admin homepage/dashboard via a link. This page will list any requests which have an org id matching that organization and where there is no event id currently set.

- Add a view and action for the request lister
- Add a Mediatr query message and ha

[2016-12-02 13:44] stevejgordon opened #1597 "Organization Request List - Assign One or More Requests to an Event (Step 3)"
Breakout requirement from the master discussion #1591

STEP 3 - After #1596 is merged

From the "unlinked" Request lister each request should have a checkbox against it. One or more requests can be checked. A button should be available to "link request(s)" which will open a model. Inside the modal a campaign and event (or maybe just event for v1) can be selected. Clicking continue, will update all

[2016-12-02 13:46] stevejgordon commented on #1591
I've added three stages of work for the code-a-thon (hopefully) that will enable the initial pieces for the v1 functionality above.

[2016-12-02 13:48] stevejgordon commented on #1595
We'll hopefully tackle this during our code-a-thon on Monday 5th

[2016-12-02 15:12] stevejgordon commented on #1550
@EmilyLuijbregts - I was unable to replicate locally at the time but I will need to try again and validate that for sure.

[2016-12-02 15:32] stevejgordon commented on #1550
@mgmccarthy Can you please test again on your machine? I've run it in IE 11.0.37 without issue. It was okay even with a request with lat/long of zero.

[2016-12-02 19:51] mgmccarthy commented on #1591
@tonysurma @MisterJames @stevejgordon it will be important to figure out soon:

1. how can we update GASA's endpoint with the correct status (we service or do not service the Request) now that we'll be associating all API Requests with the red cross org, and then building out a UI to associate requests to events. Part of the answer I'm waiting on GASA for, b/c I need to know how flexible they are

[2016-12-02 19:54] mgmccarthy commented on #1581
ping @tonysurma @MisterJames @stevejgordon @dpaquette @OhMcGoo...

can you please get back to me on the questions/problems I outlined above in the Request lifecycle as it pertains to sms messages to requestors as well as status lifecycle of a request?

[2016-12-03 15:41] #1490 closed

[2016-12-03 15:44] #839 closed

[2016-12-03 21:00] EmilyLuijbregts commented on #1518
@schuback and @OhMcGoo - Do you know when you'll have time to provide the URL's and question as requested by Tony?

[2016-12-03 21:02] EmilyLuijbregts commented on #1509
@schuback and @OhMcGoo - just doing a follow up of tasks here :) Can this ticket be closed? or are you still needing to document the required changes?

[2016-12-03 21:02] EmilyLuijbregts commented on #1480
Comment from Tonylambert - closed as a duplicate

[2016-12-03 21:02] #1480 closed

[2016-12-03 21:03] EmilyLuijbregts commented on #1429
Closed - per comment from @HamidMosalla

[2016-12-03 21:03] #1429 closed

[2016-12-03 21:04] EmilyLuijbregts commented on #1405
@tonysurma -shall i update the label to P1? or is it OK to leave as P2?

[2016-12-03 21:04] EmilyLuijbregts commented on #1384
@tonysurma - are we OK to close this issue? or should it remain Open?

[2016-12-03 21:05] EmilyLuijbregts commented on #1358
@tonysurma - Just following up on this ticket. Did you manage to look at the liveconfig?

[2016-12-03 21:16] EmilyLuijbregts commented on #340
Looks like this one is up for grabs if other volunteers would like to pick it up

[2016-12-03 22:33] dchristensen commented on #1569
I will take a look at this one.

[2016-12-04 08:48] stevejgordon commented on #340
@EmilyLuijbregts - I will add this to our code-a-thon project and perhaps someone can pick it up tomorrow.

[2016-12-04 08:52] stevejgordon commented on #1509
I was curious about the screenshot above. For some reason the http://allready-d.azurewebsites.net/ URL pushes the logo left, but on the latest master code locally, I don't get this.

@tonysurma - I believe there was an issue a while back with some code not fully deploying. Was that resolved? I'm wondering if some css hasn't updated? We did mess with merging to a single template a while back and I

[2016-12-04 12:14] JowenMei commented on #340
Hey sorry for my late response. I still have some changed files locally. I've been really struggling with Git(Hub). Perhaps I can send someone my files? ... I know it's not ideal, but then I'm not the bottleneck (and my changes are not lost)

[2016-12-04 12:18] EmilyLuijbregts commented on #340
Hey Jowen. You can send it to @bmaluijb and he'll upload it tomorrow :-)

[2016-12-04 15:57] HamidMosalla commented on #1585
@stevejgordon Can you be more specific about the requirement?

[2016-12-04 16:52] dchristensen opened #1601 "Exception Thrown When Viewing Itinerary in Admin"
I got this error `InvalidOperationException: There is already an open DataReader associated with this Command which must be closed first.` when trying to view an itinerary from the dev system.

![InvalidOperationException](https://cloud.githubusercontent.com/assets/427494/20867655/fbdaf968-ba06-11e6-9f7b-c30cde398f3f.png)

and the relevant part of the stack trace:

![Stack Trace](https://cloud.git

[2016-12-05 01:14] mgmccarthy opened #1603 "Write unit test for GetMyEventsQueryHandler"
@stevejgordon, another one for your codeathon

[2016-12-05 15:04] #1569 closed

[2016-12-05 16:09] HamidMosalla commented on #1582
Working on it.

[2016-12-05 16:18] mgmccarthy commented on #1581
ping @tonysurma @MisterJames @OhMcGoo...

still waiting to hear back about request life-cycle as it relates to sms confirmation messages being sent to requestors, regardless of the Request source...

[2016-12-05 17:21] chris-sargood commented on #1595
Work in progress

[2016-12-05 17:39] pmarshallandrew commented on #1585
WIP

[2016-12-05 17:51] BreakingDev commented on #1509
Started

[2016-12-05 17:55] lhughesbrighton commented on #1603
I'll pick this one up

[2016-12-05 18:13] schuback commented on #1509
Hello Steve.

My day got rearranged from many people fearful of the possibility of snow
here.  Looking at the Slack channel did we hop over to Skype? if so I am at
pascal.schuback

I can work on some wireframes now, but I am no designer.  If you have some
designers around, happy to talk with them.

On Mon, Dec 5, 2016 at 9:51 AM, BreakingDev <notifications@github.com>
wrote:

--

Pascal Schuback
p

[2016-12-05 18:19] SarahMarz commented on #1430
Looking at this one now

[2016-12-05 19:05] #1595 closed

[2016-12-05 19:26] chris-sargood commented on #1596
WIP

[2016-12-05 19:31] mgmccarthy commented on #1430
this is as close as I can get it...
the input field is below and to the right of the gsc-input-box div element...
I can't believe google does not have a way to allow you customize the values on the input element that does not involve hacking javascript...

      From: SarahMarz <notifications@github.com>
 To: HTBox/allReady <allReady@noreply.github.com>
Cc: Michael McCarthy <mike_mccarthy3@yahoo.c

[2016-12-05 19:35] SarahMarz commented on #871
Working on this

[2016-12-05 20:07] #871 closed

[2016-12-05 20:22] EmilyLuijbregts commented on #1576
@stevejgordon - Just doing a follow up on this Steve. Have you had chance to look at the above question?
@tonysurma and @MisterJames - just in case you guys wanted to add your thoughts in here :)

[2016-12-05 20:23] EmilyLuijbregts commented on #1582
Thanks for picking this up Hamid!

[2016-12-06 00:39] schuback commented on #1509
Here are some basic front page wire frames. Let me know if you have any ?s.

![allready landing page iphone 6-7](https://cloud.githubusercontent.com/assets/830036/20908384/6a8edf2a-bb09-11e6-9c76-86f9881ef523.png)
![allready landing page web](https://cloud.githubusercontent.com/assets/830036/20908385/6aa1ec50-bb09-11e6-9e7b-ac3096344b1c.png)

[2016-12-06 09:00] stevejgordon commented on #1576
@mgmccarthy - In this case the user is initiating a request to re-order the requests and I therefore think waiting on the response and updating the UI makes sense. So I'm in agreement, retying too many times might not be great. I think it's reasonable to expect some delay since this is an explicit operation but then again it's not critical.

I think I'd rather investigate an idea I have around a s

[2016-12-06 12:57] stevejgordon commented on #1430
Looks like the pr from @FvdG resolved this. We didn't get an auto closure though so closing manually.

Thanks for getting the PR in @FvdG - Just one small note, when you submit the PR, if you include text along the lines of "Fixes #1430" it'll auto close the issue once the PR is merged.

[2016-12-06 12:57] #1430 closed

[2016-12-06 13:06] stevejgordon commented on #1509
Thanks @schuback - @BreakingDev made some progress on this yesterday with some initial changes. We'll try and get a PR in shortly.

[2016-12-06 13:27] stevejgordon opened #1608 "Homepage - Remove featured campaign from all campaigns list"
The latest UI code being added to list all campaigns under the featured campaign on the homepage requires a small view model change. We end up with the featured campaign appearing twice. We should ensure that the ActiveOrUpcomingCampaigns list is updated to remove the featured campaign on the view model.

Will be required after #1607 is merged.

[2016-12-06 13:44] mgmccarthy commented on #1576
@stevejgordon, looking at my previous reply, I realize that I didn't ask what I should have which is when the GoogleOptimizeRouteService is invoked, is this during a POST or a GET?

Also, is there a controller/view name that was added where I could try to run this locally so I could learn how this works? Thanks!

[2016-12-06 13:59] stevejgordon commented on #1576
@mgmccarthy - So, you'll need to have an itinerary which once created you'd need to edit, to setup a start/end address for it. You'd also need some requests assigned to it with appropriate lat/long co-ordinates. With that all in place, if you are on the itinerary details screen you should see some links appear to "optimize route" etc. Clicking optimize route will show a confirm modal and once you

[2016-12-06 14:06] tonysurma commented on #1608
#1670 has been merged

[2016-12-06 14:40] mgmccarthy commented on #1576
@stevejgordon, my two cents on this issue after looking at `ItineraryController.OptimizeRoute` action method and `OptimizeRouteCommandHandler`. IMHO...

In `OptimizeRoutecommandHandler` we're invoking both a a non-transactional resource (the Google API) and transactional resource (the db) and in the same logical transaction. Although MediatR logically separates handlers for us, physically, it trea

[2016-12-06 19:27] EmilyLuijbregts commented on #1586
@MisterJames - just wanted to check in on this task and see how you were getting on? Do you have an update?

[2016-12-06 19:34] EmilyLuijbregts commented on #1570
@stevejgordon - based upon the comment from @mgmccarthy - how would you like to proceed? Keep the task? Close? or go back to the product team?

[2016-12-06 19:35] EmilyLuijbregts commented on #1567
@mgmccarthy and @tonysurma  - just following up on this one. Is it clear what needs to happen? I'm just aware of the December Milestone and this being a "P1" issue.

[2016-12-06 19:44] mgmccarthy opened #1609 "Decide what status to report back to GASA Endpoint when API Request is assigned to an Org on import"
@tonysurma, please assign to me.

Issue created as a breakout from [this dicussion](https://github.com/HTBox/allReady/pull/1598#issuecomment-265218644).

Ongoing conversation's with Cecilia will be tracked on [this GASA Issue](https://github.com/redcross/smoke-alarm-portal/issues/196) starting with [this comment](https://github.com/redcross/smoke-alarm-portal/issues/196#issuecomment-264457770).

T

[2016-12-06 19:45] mgmccarthy commented on #1581
@tonysurma please assign to me, and I will need to eventually discuss this with someone. Thanks!

[2016-12-06 19:46] tonysurma commented on #1567
@stevejgordon @MisterJames correct me if I am wrong but here is what we discussed on Saturday

For V1, we will have a token for a user (done) that is tied to an org (done).  Upon import via API we will reference the Org they are tied to (tbd) and then store the request associated with that org id (tbd).  When is a user is on an itinerary type event they will be able to pick a button to pull a scre

[2016-12-06 19:48] tonysurma commented on #1581
I am working on getting you an answer.  @cecilia-donnelly

[2016-12-06 20:01] DanielSchiavini commented on #1503
I've implemented today the upload in the admin pages. When I have time I'll update the user pages then I still gotta add some unit tests. It may take a while but all the code is pushed to my fork if anyone wants to work on it.

[2016-12-06 21:13] mgmccarthy commented on #1581
@tonysurma, yes to the above.

basically, two things:

1. I want to confirm (this is existing functionality) that all Requests (regardless or origin) will follow the same "life-cycle" that they do now. This involves a request being assigned to an Itinerary. Once the assignment happens, we send sms confirmation messages to those requestors to confirm or cancel the request (per your comment above "c

[2016-12-06 21:30] tonysurma commented on #1581
For (1) - yes that is true.  Date scheduling is fully within the app and so is the confirmation regardless of source

For (2) I need to walk that through in my head.  But current thinking is that you should as an admin be able to move from pendingconfirm to confirmed if you get confirmation via another means from the requestor.  But not directly to completed

[2016-12-07 00:00] mgmccarthy commented on #1581
@tonysurma

I believe my code already handles this. For each Hangfire job handler, I query Requests based on the request Id's that were initially added to the Itinerary. If any of those Request Id's do NOT have a status of `PendingConfirmation`, then they are not included in the outgoing confirmation sms messages...

so, in theory, a requestor could get the first sms confirmation message, never re

[2016-12-07 00:10] mgmccarthy opened #1610 "Associate Org to API Request on Import"
@tonysurma please assign to me.

Via this [comment/disussion](https://github.com/HTBox/allReady/issues/1567#issuecomment-265252666), when creating an API Request, use the OrgId designated as the "Red Cross" org (for development, we can use "HTBox" org) and assign that OrgId/Org to every Request on import.

[2016-12-07 04:09] dchristensen commented on #1100
I can pick this one up.

Just to clarify we are adding filtering, similar to the "SelectRequests" page to the Itinerary details page, is that correct?

[2016-12-07 07:12] stevejgordon commented on #1100
@dchristensen - Yep that's the requirement as I understand it right now. I think it's a less crucial feature on the Itinerary Details page, so we may be able to style it a little more subtly! Thanks for volunteering to pick this up, let me know if you have any issues/questions.

[2016-12-07 07:17] stevejgordon commented on #1567
@tonysurma That's it exactly. Sorry, I meant to add something to the wiki after Saturday but forgot about. @chris-sargood has submitted the initial PR to add the required OrgId column to the request object so we should be good on the API side there. He's working on the next step to be able to display the requests under #1596.

@chris-sargood - Let me know if you need any support on that next step

[2016-12-07 07:22] stevejgordon commented on #1570
@mgmccarthy - I'm not 100% sure I understand your point, but it's early here :smile: - So we have the location which is essentially the address we already have to include when we present say a campaign details page. It feels like the lat/long are properties that location and once set, should not change (unless the whole address changes).

I'd need to dig into the use of locations elsewhere in the

[2016-12-07 10:00] stevejgordon commented on #1576
@mgmccarthy Great points and I like where you're going with it. I do have a clarification though. My understanding at a high level was that notifications are handled without the callers actually awaiting the work. I've not actually tested that but that was my assumption as we could have multiple handlers for the notification which would run in the background. I think I'm reading that you don't bel

[2016-12-07 10:35] chris-sargood commented on #1567
@stevejgordon Will do. Did a little bit last night - got something displaying. Going to do a little bit more tonight and grab you tomorrow (if you're in) to double check I've gone about it in the right way.

[2016-12-07 11:36] mgmccarthy commented on #1567
FYI @stevejgordon and @chris-sargood.

I submitted PR #1611 last night which, when merged, will put an OrgId of 1 on all incoming API Requests. When this code is merged, we'll then have the correct data conditions for an OrgAdmin user of OrgId 1 to be able to view the Requests via the upcoming UI to be built (Issue #1596)

[2016-12-07 11:52] mgmccarthy commented on #1570
cc @EmilyLuijbregts

LOL... @stevejgordon, I read the description wrong! So sorry... not a lot of sleep on my end for the last couple of weeks. I understand what you're saying now.

From  what I can see, we keep lat/long in two places:
1. `PostalCodeGeoCoordinate`: which from what I can see, is not used anywhere in the system, which means it should be deleted.
2. `Request`

You're proposing to mov

[2016-12-07 12:25] mgmccarthy commented on #1576
@stevejgordon, I want to update my initial feedback above.

**First**, since we're doing a "read" from the `_optimizeRouteService` (essentially, a GET), and then updating the db in the same handler, then the handler is good as-is. Writing this comment, I was fresh off of building HttpClient invocation for GASA POST back to their API. Since the concept of `RouteOptimized` basically means updating t

[2016-12-07 12:36] stevejgordon commented on #1567
@chris-sargood - Sounds good, thanks.

@mgmccarthy I think we said hardcoding would be okay, but is it possible using the API token to get the org id for the user? That way it's correct if we add a second org?

[2016-12-07 12:39] mgmccarthy commented on #1567
@stevejgordon, yes that is what we want to do, but first, we need Issue #1586 working.

[2016-12-07 12:43] stevejgordon commented on #1570
@mgmccarthy - No problem at all. :smile:

So I'm starting to need lat/long on the itinerary to simplify the API calls a bit. That's what triggered my thinking. It feels like if we're storing locations, we make them consistent and store the related lat/long with them. As you say, we would/should ensure that wherever we add a location we also get and store the lat/long from the APIs.

This would be

[2016-12-07 13:03] mgmccarthy commented on #1570
@stevejgordon

agreed about not having to invoke the API multiple times for the same data. Although be careful here, you would need to make sure we don't already have an existing Location of Event/Itinerary in this example before you just took Campaign Location data and wrote it to Event/Itinerary.

agreed.

**very much agreed**. Our current implementation is trying to treat `Location` as a value

[2016-12-07 13:10] stevejgordon commented on #1570
@mgmccarthy - Yep 1.2 of EF Core I think would make life better with support from the "ComplexTypes". Not sure if/when spatial data support might be implemented which might also prove useful.

So it feels like the reasonable course of action might be to include an optional lat/long on the location object first and do the work to ensure they are correctly set?

[2016-12-07 13:15] stevejgordon commented on #1576
@mgmccarthy - Cool. Sounds like we're thinking along the same lines here. I certainly feel having a single responsible service/handler for reordering could well be a good refactor for the future.

I think in regards to this specific issue, the retry is probably not needed. I agree that trying to prevalidate the data should happen, any 0,0 lat/longs for example are unlikely to be valid and would ju

[2016-12-07 13:46] mgmccarthy commented on #1576
If we eventually need the ItineraryRequests re-ordered, I think you could do the retry and keep it on the low side. Sure, the UI will "wait", but if the error is transient, a Polly retry policy **might** be able to overcome that.

The real question here is how do we "let the user know to try again/how do they try again"? We would return to them on the UI that the optimize route failed and just let

[2016-12-07 15:05] tonysurma opened #1612 "Live Production Error due to Migrations Conflict"
Currently in production deploy we have this error on startup which asp.net masks but is the cause of the process 502.5 error.  I could wipe and replace the database to 'hopefully' clear this but wanted to see what the needed fix/cause of error was as soon we won't be able to wipe and replace the db:

[code]

[2016-12-07 15:20] stevejgordon commented on #1612
@tonysurma No promises at this stage as I've got a few things going on tonight but I might be able to sneak a peek at this later. I know a while back you gave me access to a DB, would that be possible again as I'd like to see what state the current db is in as well / replicate the data locally and then try the migration.

[2016-12-07 17:29] dchristensen commented on #1612
@stevejgordon I actually had this error come up for me when I rebased last night.  I believe the issue is the new OrganizationId column on the Request table is non-nullable, so any existing records in the DB will have a default value 0.  There is no record in the Organization table with Id 0, so the FK constraint check is failing.

The default test data does not insert any rows into the Request ta

[2016-12-07 17:39] #1612 closed

[2016-12-08 02:47] #1610 closed

[2016-12-08 02:48] mgmccarthy commented on #1610
FYI, this will be updated to identify the OrgId via the user token attached to the incoming request when Issue #1586 is fixed.

[2016-12-08 02:50] tonysurma commented on #1581
agree @mgmccarthy closing per current codebase

[2016-12-08 02:50] #1581 closed

[2016-12-08 13:26] stevejgordon commented on #1596
@tonysurma @MisterJames  - We have a quick query on this. @chris-sargood has made good progress with an initial page to list the requests which currently he's added via a link on the Org details page (admin area).

However, currently that page is only accessed by SiteAdmins (in fact all Org admin pages are only open to the site admins). Therefore we need to work out the best controller to locate t

[2016-12-08 14:33] mgmccarthy commented on #1596
@stevejgordon, I vote for this option:

we should be aiming for smaller controllers in general, and I think this would be fine for something to keep around post v1. Thanks for bringing the question up.

[2016-12-08 17:10] tonysurma commented on #1596
agree with @mgmccarthy own controller and lets make sure org admins can access.  thanks

[2016-12-09 12:52] stevejgordon commented on #1596
@tonysurma @mgmccarthy - Sounds good to me.

@chris-sargood Can you make a new controller with the relevant action to handle the route /Admin/UnlinkedRequests. This can be the same code (I think) as you showed me yesterday. We just need to ensure requests are filtered only to those for the Org id of the user (if an org admin). I can't remember your code 100%, you might already have that!).

Recomm

[2016-12-09 14:20] tonysurma commented on #1596
Looks good @stevejgordon @chris-sargood

@stevejgordon for that last bit we can toss an issue in the feature backlog to not lose track of it

[2016-12-09 14:26] mgmccarthy opened #1617 "Question: Can we get rid of using IGeoCoder API to retrieve lat/long in ProcessApiRequests b/c incoming Request from GASA does not contain lat/long?"
@tonysurma @MisterJames @stevejgordon

[2016-12-09 14:29] EmilyLuijbregts commented on #1591
@MisterJames @tonysurma @stevejgordon  Just wanting to follow up on this task and the question from @mgmccarthy. Do we need to have a chat to discuss the two points?

[2016-12-09 14:36] stevejgordon opened #1618 "Unlinked Request Lister for Site Admins"
Follows on after #1597 and initially not a priority.

Once we have the Org Admin unlinked requests working we need to enable Site Admins to also use the feature. A site admin should see all unlinked requests from all Orgs. The list should include the Org name to easily identify them. It may also be useful to have a filter on the Org as well.

An Org admin should be able to link requests to an even

[2016-12-09 14:37] stevejgordon opened #1619 "Filtering of unlinked requests"
Follows on after #1597 and initially not a priority.

Once we have the Org Admin unlinked requests working it would be nice to allow filtering in a similar way to the itinerary details and select requests pages. This would allow an org admin to more quickly locate a set of requests to link to an event.

[2016-12-09 14:44] stevejgordon commented on #1617
@mgmccarthy - Not sure I understand the question. If the GASA doesn't have the lat/long we need to call GeoCoding to get the data?

[2016-12-09 14:55] mgmccarthy commented on #1617
@stevejgordon, is the `IGeoCoder` abstraction "hiding" an RPC call to some type of web service? I'm assuming it is, but I don't know much about it.

[2016-12-09 14:57] tonysurma commented on #1617
@mgmccarthy - clarifying: does the incoming request from GASA include the lat/long or not?

[2016-12-09 14:59] tonysurma commented on #1591
thanks for th eping @EmilyLuijbregts

(2) is in progress or at least planned and (1) we resolved in a discussion on their repo.  We will report true if it matches a list of region id's that we are supporting 'hardcoded' to start and false otherwise and only 'save' those that match our region ids.

[2016-12-09 14:59] #1591 closed

[2016-12-09 15:01] mgmccarthy commented on #1591
@EmilyLuijbregts, the functionality outlined above in this issue for API Requests have actually been decided on for v1 release pending a working Issue #1586. Even if we don't get Issue #1586 working, we have a fall back plan for the launch. The UI is currently being worked on and that work is reflected in Issues #1596 and #1597

As far as associating OrgId to CSV import Requests, I'm too sure wher

[2016-12-09 15:04] mgmccarthy commented on #1617
@tonysurma the incoming request form GASA does NOT include lat/long. If we required lat/long on Request creation, it looks like the IGeoCoder call has to stay

[2016-12-09 15:09] stevejgordon commented on #1617
@mgmccarthy - I think IGeoCoder might wrap the bing API but I'd need to look to be sure. I think we might want to use Google API anyway going forward since we have to use Google for the routing stuff (Bing didn't provide an obvious optimize route type feature).

[2016-12-09 18:32] YannickMeeus commented on #1245
Sorry, Black Friday snuck up on me and claimed every bit of life away for a couple of weeks. I've tried to merge/rebase the 100-odd commits since my last one and it turned into a nightmare to merge, so I'll be quickly redoing my changes manually. I should have a PR ready by the end of the weekend.

[2016-12-09 20:03] mgmccarthy commented on #1617
@tonysurma, this can be closed. I got the answer I needed. Thanks!

[2016-12-09 20:14] dcbrewster commented on #1411
adam3039. Are you still working on this?

[2016-12-09 20:21] mgmccarthy commented on #1609
@tonysurma. just wanted to sum up the decision on this.

When an API Request is associated to an Org on import, we will set the acceptance flag to `true` on the call back to GASA's endpoint. This means we will service all requests on which we can validate the incoming token is legit, and the user that token belongs to is associated with an Org.

It is this OrgId we use for the association (fall-ba

[2016-12-09 22:07] tonysurma commented on #1609
@mgmccarthy yes with one tweak.

They supply a regionID and we need to also check that it is a region we support.  @OhMcGoo will give us the list of regions for when we go live and you can implement a function that is hardcoded to check for say regions 8 and 9 (or whatever) and then later we can replace updated that.  cc @MisterJames @stevejgordon who were in the conversation to add any additional

[2016-12-10 16:13] forestcheng commented on #1579
I am taking this issue.

[2016-12-10 16:18] tonysurma commented on #1579
thanks @forestcheng

[2016-12-10 16:54] TomWalkerCodes commented on #1301
I could not reproduce this issue in Edge, Chrome or FireFox.  I tried resizing the browser window and also tested going to the create event page at a lower screen size.

[2016-12-10 17:20] tonysurma commented on #1301
Thanks @TomWalkerCodes we will consider this fixed then

[2016-12-10 17:20] #1301 closed

[2016-12-10 17:27] tonysurma commented on #1245
Thanks @YannickMeeus

[2016-12-10 17:35] tonysurma commented on #1307
clarification is that this is a wording change to 'Include Completed Campaigns' as the default behavior is to show only campaigns NOT marked complete and checking the box ALSO includes those marked complete.

This is one the default campaigns page from the homepage (not the admin campaigns page)

[2016-12-10 19:28] HamidMosalla commented on #1583
Working on it.

[2016-12-10 21:00] digitaldrummerj commented on #1301
I can confirm that I can't replicate it anymore either.

[2016-12-11 05:55] dchristensen commented on #1101
@stevejgordon if you haven't had a chance to start on this one I can take a look at it.

[2016-12-11 11:08] stevejgordon commented on #1101
@dchristensen - Yes please go ahead, I've not had chance to get into this one yet.

[2016-12-11 18:23] #1617 closed

[2016-12-11 18:32] mgmccarthy opened #1626 "Change Request Lat/Long assignment to async using azure storage/web job"
After a quick convo about `IGeoCoder` and Requests, @stevejgordon and I decided that b/c we're using an RPC call via a web service to retrieve lat/long at the point we create or update a Request, we should offload that operation asynchronously to azure storage, and let the web service call update the Request asynchronously.

This will allow the user to create/update the Request quickly w/out havin

[2016-12-12 00:31] mgmccarthy commented on #1387
just to clarify, this deals with renaming the AllReadyTask model (aka ,EF-tracked entity to Task). In this folder \Web\Model\AllReadyTask.

we can use `var @task` b/c task is a reserved keyword in .NET.

[2016-12-12 00:38] mgmccarthy commented on #1387
when I tried to do this on my own, the renaming went fine, the migration went fine, I rebuilt succesfully and ran the site.

However, when looking the Index action method on the HomeController, I received this message

![image](https://cloud.githubusercontent.com/assets/2428993/21084964/0653af84-bfd9-11e6-84e5-1364b4895f26.png)

So it looks like the exception for the ambiguous reference is coming

[2016-12-12 14:15] stevejgordon opened #1629 "Edit Itinerary - Show/Hide End Address based on Checkbox"
The UI for "Edit Itinerary" can be improved by ensuring that when the use start address as end address checkbox is checked, the end address fields are hidden.

[2016-12-12 14:15] stevejgordon commented on #1629
Working on it.

[2016-12-12 14:30] mgmccarthy opened #1630 "Question: Now that we've added a Published property to a Campaign, can someone tell me what the Locked property is for?"
@tonysurma @stevejgordon @MisterJames

In Issue #1583 (which I'm currently doing a code review for in PR #1627), we've added a `Published` property to the `Campaign` model. From reading the issue, it looks like this change was made to allow a user to "front-load" the creation of Campaigns in the system without making those Campaigns available to "do anything" with yet...

But, there is also a prop

[2016-12-12 14:38] stevejgordon commented on #1630
@mgmccarthy Locked was added as a way for a SiteAdmin to be able to block a campaign from the site. I think the likelihood of it being used is slim, but should a campaign be added that a SiteAdmin deems inappropriate, they can quickly lock it until the situation is resolved. I think we have some issues buried in the backlog around added a message to the OrgAdmin explaining the reason for a lock oc

[2016-12-12 14:43] mgmccarthy commented on #1630
@stevejgordon, exactly what I was looking for. Thanks!

[2016-12-12 19:30] EmilyLuijbregts commented on #1630
@mgmccarthy - are you happy to close this issue based upon the response from Stevejgordon?

[2016-12-12 19:35] stevejgordon commented on #1516
@schuback Just checking in to see if my answer made sense and whether you believe there is more work required as part of the v1 milestone?

[2016-12-12 19:38] mgmccarthy commented on #1630
@EmilyLuijbregts, yes. thanks.

[2016-12-12 20:10] stevejgordon commented on #1317
I'll grab this one and try to add something basic to get us going. I'm thinking a table to hold details of the service integrations we support. Each integration would be tied to an Org.

e.g.
Id - 1
Name - GetASmokeAlarm
Org - Red Cross

Then, when creating a campaign an Org Admin can select from any of their available integrations (or leave empty) for the new campaign.

We would then use this int

[2016-12-12 20:26] mgmccarthy commented on #1317
I agree with a higher-level approach like this...

where this starts to get tricky is how we end up abstraction these kind of details in code... for example, we have the `RequestApiController` which has a `Post` method which takes a `RequestApiViewModel`. This view-model is ALMOST vendor agnostic... the one piece of data that ruins it is the `ProviderData` field, which is really something that was

[2016-12-12 20:38] mgmccarthy commented on #1626
@MisterJames @stevejgordon @dpaquette I have working code using a Hangfire job...

however, when going to write a WebJob for it (adding it to the `Functions` class under \WebJobs\AllReady.NotificationsWebJob project), since the methods in that class are all static, and I need access to both an `IGeocoder` instance as well as an `AllReadyContext` in order to update the lat/long I receive from the I

[2016-12-13 13:53] mgmccarthy commented on #1317
questions for @tonysurma @mikesigs @OhMcGoo

is it possible for one integration (let's say the importing of Requests right now) to be used across multiple organizations? I'm assuming the answer to this is yes, but I was just chatting with @stevejgordon about it.

[2016-12-13 14:38] mgmccarthy commented on #1590
@MisterJames @tonysurma @stevejgordon, I'm going to pick up the work on Request CSV Import.

To sum up, I'll be adding an Event drop-down to the UI which will allow a user to associate this "batch" of incoming requests with a given Event.

Unless the decision is to also funnel the CSV Import to the "orphaned Requests" Organization page and then let he user associate that Request with an Event for

[2016-12-13 16:20] YannickMeeus commented on #1608
Quick question re this issue, is it possible for multiple campaigns to be featured at any given time? Or is there an implicit restriction on this? There are no explicit restrictions from what I can see but if the list of ActiveOrUpcomingCampaign is filtered, then all but the featured campaign with the lowest Id will be shown on screen, everything else is filtered out.

[2016-12-13 18:54] mgmccarthy commented on #1590
@MisterJames @tonysurma @OhMcGoo since I'm pickup up work on this, I'm assuming:

1. this is an all-or-nothing operation. If one or more rows of the import fails, the entire import fails
2. the CSV import handles new requests only (inserts)

please "yay" or "nay" this.

[2016-12-13 22:44] chris-sargood commented on #1596
@stevejgordon
Sorry for the delay on this. Pretty much there now I think. Will be submitting a pull request tomorrow.

[2016-12-14 07:39] stevejgordon commented on #1596
Thanks @chris-sargood

[2016-12-14 13:31] stevejgordon opened #1636 "Update to latest LTS version 1.0.3"
Another minor patch release for 1.0.x LTS stream - https://blogs.msdn.microsoft.com/dotnet/2016/12/13/december-2016-update-net-core-1-0/

It is recommended that 1.0.x applications upgrade to this latest version ASAP.

It feels sensible to get this in pre v1

[2016-12-14 13:31] stevejgordon commented on #1636
Working on this.

[2016-12-14 13:35] stevejgordon opened #1637 "Target .NET Core and Version 1.1.0"
To enable Mac developers to work on this project it would be nice to move over to targeting the .NET core framework.

@tonysurma - I believe some work was fairly close for that?

I can see one potential issue where we rely on System.Drawing to generate a QR Code for the mobile app. I'm not sure if that functionality is used / needed at the moment? If we need this, then we are tied to the full fram

[2016-12-15 11:54] stevejgordon commented on #1630
Closing per above

[2016-12-15 11:54] #1630 closed

[2016-12-15 12:33] mgmccarthy commented on #1630
thanks @stevejgordon, I should have close this Issue myself, seeing how I'm the one that opened it ;)

[2016-12-15 13:20] forestcheng commented on #1579
I finished it in the meetup of Humanitarian Toolbox Hackathon in London, ON. It's my first time to write such kind of Unit test. I opened a pull request under the branch of TomWalkerCodes : https://github.com/TomWalkerCodes/allReady/pulls
You're welcome to review the code and give me some comments and suggestions. I hope to do more related work.

[2016-12-15 15:38] mgmccarthy commented on #1626
cc @stevejgordon @dpaquette

after a quick chat with @MisterJames, he said moving to Service Locator would be okay for webjobs. That being said, even if we're using Service Locator, we still need to get an instance of `AllReadyContext` in the AllReady.NotificationsWebJob project in order to query the db for the Request, get the Request's lat/long based on Address, and then update the db with the l

[2016-12-15 15:40] mgmccarthy opened #1639 "Make IGeocoder ops async using azure storage/WebJobs for CSV Import"
cc  @tonysurma @MisterJames @dpaquette @stevejgordon

Right now, for the CSV import, we're invoking the IGeocoder once per Request. The problem/concern here is since we're not limiting how many requests we process in a CSV import:
- we could exceed the amount of requests supported in a given time frame to Google Maps (which is what `IGeocoder` is calling behind the scenes). Since IGeocoder does no

[2016-12-15 15:43] dpaquette commented on #1626
@mgmccarthy Moving the DbContext to a shared project might cause some problems with migrations so I will need to investigate. I can't remember if that issue has been resolved or if the workaround was a good enough solution for us.

[2016-12-15 15:44] mgmccarthy opened #1640 "Import Red Cross data via CSV"
cc  @tonysurma @EmilyLuijbregts

I'm creating an Issue for the CSV Import, as there is no "base" CSV Import Issue that was created (at least not that I can find from running a search on "CSV Import"). The closest I've seen is the details outlined in PR #990 (which was merged a while back).

These are the changes I'm making to the `ImportController`, which imports CSV files

- use strongly typed mo

[2016-12-15 15:58] mgmccarthy commented on #1626
thanks for the help here @dpaquette.

I remember this being a real PIA in EF 6. We had to a write custom database initialization strategy for our project at work b/c of the shared context problem. I'm not too sure what the approach is for EF Core... are those initialization strategies still around, or have they been done away with altogether?

Either way, for these higher-level project organizatio

[2016-12-15 17:16] mgmccarthy opened #1642 "Fix Failing (Skipped) Tests in ImportControllerTests"

[2016-12-16 14:23] gdereese commented on #1448
I'll take this one.

[2016-12-16 15:43] #1498 closed

[2016-12-16 15:56] #1629 closed

[2016-12-16 15:59] #1583 closed

[2016-12-16 16:02] #1100 closed

[2016-12-16 16:10] gdereese commented on #1445
I'll take this one.

[2016-12-16 16:19] gdereese commented on #1445
Wiki updated.

https://github.com/HTBox/allReady/wiki/Solution-architecture/18373a3bf51f0eb2fe5d3865f675df777a15b60c

[2016-12-16 16:49] gdereese commented on #1307
I'll take this one.

[2016-12-16 17:21] gdereese commented on #972
This should be possible once the project is upgraded to .NET Core 1.1.  Looks like adding some NuGet packages and changing the build command line:

http://stackoverflow.com/a/37691843/2005951

[2016-12-17 01:27] #1307 closed

[2016-12-17 15:47] YannickMeeus commented on #1245
@tonysurma I reckon this one can be closed now 😃

[2016-12-17 15:53] #1636 closed

[2016-12-17 15:56] #1640 closed

[2016-12-17 15:56] #1642 closed

[2016-12-17 16:13] #1448 closed

[2016-12-17 16:18] #1245 closed

[2016-12-17 16:28] tonysurma commented on #1573
might need a discussion but good question for @OhMcGoo @schuback

[2016-12-17 16:28] tonysurma commented on #1523
@schuback pinging back in.  thanks

[2016-12-17 16:30] tonysurma commented on #1507
@OhMcGoo @schuback let us know the wording you would like

[2016-12-17 16:31] tonysurma commented on #1516
@schuback @OhMcGoo let us know how we can help to validate what is desired/not compared to current implementation. thanks

[2016-12-17 16:31] tonysurma commented on #1518
ping @schuback @OhMcGoo

[2016-12-17 16:33] tonysurma commented on #1590
1.) going to rely on @MisterJames thoughts but I think the answer is 'yay'
2.) yay

is that how it was implemented in #1641 and other PRs? can we close this or is there more work?  thanks for the help clarifying

[2016-12-17 16:34] tonysurma commented on #1500
duplicate

[2016-12-17 16:34] #1500 closed

[2016-12-17 16:35] tonysurma commented on #1499
ping @schuback @OhMcGoo for descriptions

[2016-12-17 16:35] #533 closed

[2016-12-17 16:35] tonysurma commented on #517
closing for now, can reopen if issue rearises

[2016-12-17 16:35] #517 closed

[2016-12-17 16:36] tonysurma commented on #410
@dpaquette @mgmccarthy still open?

[2016-12-17 16:36] tonysurma commented on #337
closed by PRs since creation

[2016-12-17 16:36] #337 closed

[2016-12-17 16:37] #306 closed

[2016-12-17 16:37] #304 closed

[2016-12-17 16:37] #234 closed

[2016-12-17 16:38] #221 closed

[2016-12-17 16:38] #159 closed

[2016-12-17 16:38] tonysurma commented on #107
@MisterJames @stevejgordon still a thing?

[2016-12-17 16:41] tonysurma commented on #1522
@schuback can we get repo steps?  thanks

[2016-12-17 16:42] tonysurma commented on #1509
@schuback @OhMcGoo can you tell us if the PR addressed everything you wanted or if there is more wanted?  If more, can you add in sub issues so we can have folks make individual PRs for the enhancements?  Thanks

[2016-12-17 16:43] tonysurma commented on #1505
ping @schuback

[2016-12-17 16:44] tonysurma commented on #1503
@DanielSchiavini is the admin page code ready to go as  PR so we can merge?  You can then do a seperate PR for the user pages and/or unit tests.  THanks cc @stevejgordon

[2016-12-17 16:45] tonysurma commented on #1501
@stevejgordon is this handled by the other issues I saw you entered or is there still a gap?  THanks

[2016-12-17 16:46] tonysurma commented on #1362
ping @OhMcGoo @schuback for help on priority and maybe making some if it 😸

[2016-12-17 16:48] dschiavini-aa commented on #1503
yeah it should be good, except for the conflicts

[2016-12-17 16:48] tonysurma commented on #59
@mgmccarthy should this still be open and/or thoughts on a way to document what is left open?  thanks

[2016-12-17 16:49] tonysurma commented on #316
@OhMcGoo @schuback as you review current app please let us know if this is covered or not

[2016-12-17 16:50] tonysurma commented on #694
closing this larger issue as only one sub item is open and is in discussion

[2016-12-17 16:50] #694 closed

[2016-12-17 16:51] tonysurma commented on #1084
@mgmccarthy @stevejgordon anything to update here?

[2016-12-17 16:52] tonysurma commented on #1055
@mgmccarthy do you feel we can close this for december milestone?

[2016-12-17 16:52] tonysurma commented on #832
@stevejgordon still a thing?

[2016-12-17 16:53] tonysurma commented on #704
@stevejgordon @mgmccarthy still a thing?

[2016-12-17 16:53] tonysurma commented on #701
@mgmccarthy safe to say this is covered in issues/work you are doing and can be closed?

[2016-12-17 16:54] tonysurma commented on #700
@mgmccarthy again think this is broken out in other issues and can be closed, agree?

[2016-12-17 16:54] tonysurma commented on #1091
thanks @digitaldrummerj

[2016-12-17 16:55] tonysurma commented on #1097
still open @digitaldrummerj ?

[2016-12-17 16:55] tonysurma commented on #1101
closing this as we have open issues/PRs for sub items

[2016-12-17 16:55] #1101 closed

[2016-12-17 16:55] tonysurma commented on #1300
@DanielSchiavini if you wish to pick it up  enough time has passed since @pranap said they would work on it.  Thanks

[2016-12-17 16:56] tonysurma commented on #37
will track status as @HamidMosalla covers with two PRs.  thank you!

[2016-12-17 16:57] tonysurma commented on #1579
cc @mgmccarthy
@forestcheng @TomWalkerCodes thanks for taking this on.  @TomWalkerCodes how do we reference this and/or is it ready for a PR to review for our repository?  thanks

[2016-12-17 16:59] tonysurma commented on #1596
thanks as well @chris-sargood @stevejgordon anything we can do to help get the PR in?

[2016-12-17 16:59] tonysurma commented on #1603
@lhughesbrighton checking in to see if we can help at all?  Thanks for your contribution

[2016-12-17 17:00] tonysurma commented on #1608
Logically there should be only one @YannickMeeus but you are right we don't have logic enforcing that.  Perhaps we can create a seperate issue for the technical backlog on that.

[2016-12-17 17:01] tonysurma commented on #1609
@mgmccarthy want to make sure we (including @OhMcGoo ) get you what ever you need to finish this

[2016-12-17 17:01] tonysurma commented on #1584
@YannickMeeus (I am feeling deja vu so if I already asked I apologize) but is this fixed/better/same with your latest PR that moved this to a modal?

[2016-12-17 17:08] YannickMeeus commented on #1608
Fair enough, I'll try and apply the opposite predicate to the query that returns upcoming campaigns, instead of just filtering out every featured campaign. At least it'll be consistent that way.

[2016-12-17 17:08] tonysurma commented on #1597
@stevejgordon what is unassigned used for already?

[2016-12-17 17:14] YannickMeeus commented on #1584
@tonysurma I didn't change how the claims based access works, I only changed content and rejigged layout, so if this was a bug prior to my PR, it'll still be an issue.

[2016-12-17 17:38] tonysurma commented on #1584
thanks @YannickMeeus I will keep it open

[2016-12-17 17:40] #1582 closed

[2016-12-17 17:41] tonysurma commented on #1503
great @DanielSchiavini let us know if you need any help doing the PR

[2016-12-17 22:04] mgmccarthy commented on #410
@tonysurma we consolidated where we needed to so this can be closed

[2016-12-17 22:07] mgmccarthy commented on #59
@tonysurma we should close this "umbrella" issue and move to an issue per test class approach so we can track this.

[2016-12-17 22:09] mgmccarthy commented on #1055
@tonysurma we can close this

[2016-12-17 22:15] mgmccarthy commented on #704
@tonysurma the URL part still needs to be done.  I like the URL approach where they can check the status and/or send them an email with a link to the URL that points to the specific request would be cool. Just not too sure where the email would go. A contact at GASA?

[2016-12-18 00:44] mgmccarthy opened #1645 "Seeding Bug with all seeded Events"
Looks like the Event's start date time is after the event's end date time:
![image](https://cloud.githubusercontent.com/assets/2428993/21290649/f059b0b8-c490-11e6-977b-03fa214ff32d.png)

this should not be possible when creating an Event through the UI

Looks like this problem extends to all Events under all Campaigns for any seeded data.

[2016-12-18 00:49] mgmccarthy commented on #1523
cc @tonysurma @EmilyLuijbregts

@schuback, is the reason you cannot add a task to an existing Campaign b/c of this newly opened Issue/bug?

Issue #1645

I'm only asking, b/c when I create a new Campaign, new Event, then add a Task to that Event, it works:

![image](https://cloud.githubusercontent.com/assets/2428993/21290681/f6d0338a-c491-11e6-8916-eed26286939a.png)

[2016-12-18 00:56] mgmccarthy commented on #1522
@tonysurma

cc @EmilyLuijbregts cc @schuback

so I just tried to register a new user on the live AllReady site, and I am not getting email confirmations nor SMS confirmations.

I highly recommend someone with access to the live server log into Azure to see if the web jobs are firing, if the queues exist, and if there are any exceptions.

Locally, when running the "fake" queues, everything works fi

[2016-12-18 01:02] mgmccarthy commented on #1084
@tonysurma, to sum it up, I just checked off the items that are done and ready for v1 in the original issue list at the top of this issue.

These three items from the list:
- If request is confirmed add "'N' if you can no longer make it" and if they respond N mark unassigned
- If request is not confirmed add "'Y' if you can make it, 'N' if you can't" and set status as above
- If request is not con

[2016-12-18 01:06] mgmccarthy commented on #701
@tonysurma, this can be closed. The issue actually ended up being a "push" by GASA to AllReady (they invoke our endpoint), instead of a "pull" from AllReady to GASA.

But either way, it can be closed.

[2016-12-18 01:24] mgmccarthy commented on #700
@tonysurma I checked off the items in the original list at the top of the Issue that are now done.

as far as this line item:
- #703 6.1.3.3 Update statuses as part of delivery of service for requests as per functionality in 6.1.4

I'm not too sure what it means. We don't accept incoming status updates from GASA anymore, we only accept "new" status Requests from them

[2016-12-18 01:29] mgmccarthy commented on #1609
@TheTopher @OhMcGoo I just need the list of regions and that should do it

[2016-12-18 01:41] mgmccarthy commented on #1055
@tonysurma, this piece of this Issue is still not done:

what we do have done is the initial request back to GASA's endpoint when we receive a new API Request.

As far as what statuses they expect us to update back to them on a request we've decided to service, I'm assuming it's these:
`status // currently: new, in progress, installed, or canceled`

I'll check with the GASA folks

[2016-12-18 04:04] mgmccarthy opened #1646 "Update which status a Request can be set to in an Itinerary on Itinerary Details UI"
cc @tonysurma @stevejgordon

When importing a Request via the API and assigning the Request to an Itinerary, the Request is correctly set to `Pending Confirmation`
![image](https://cloud.githubusercontent.com/assets/2428993/21291418/c3795f3c-c4ac-11e6-863d-4d6e1412bfab.png)

the problem here is we want to allow the UI user to set the Request to Confirmed w/out relying on the requestor to confirm t

[2016-12-18 10:53] stevejgordon commented on #1501
@tonysurma I think there's still some work we can do here. We haven't exposed the lat/long details on the UI yet as far as I know.

[2016-12-18 10:57] stevejgordon commented on #1084
@mgmccarthy For that last one, yes that's what I understood as well. It's possible we can get even more clever in the future and use the Google API to calculate approx current driving time so an actual ETA can be provided. However for v1 I think a fixed, we're coming style message is a fair target.

[2016-12-18 11:11] stevejgordon commented on #832
@tonysurma I think it's still a consideration but a fairly low priority. I also don't want to over engineer this so welcome input from @MisterJames also.

options as I see it are one/combination of:

1) leave it as is, we end up having to convert to/from string when using task status which I'm not a big fan of.
2) update any consuming classes to use the enum directly to simiplfy need to convert to

[2016-12-18 11:23] stevejgordon commented on #704
@mgmccarthy Correct, and we have an issue for updating GASA as well so I think we can close this and use those two issues to track the work?

[2016-12-18 11:28] stevejgordon commented on #1597
@tonysurma We use assigned/unassigned as language to identity whether a request is assigned (or not) to an itinerary.

I think we said we use linked/unlinked for whether a request is linked (or not) to an event.

I think we also suggested a request could be optionally associated (or not) to a campaign as well.

[2016-12-18 11:54] stevejgordon commented on #1601
Looks like something in the data might be throwing off our quite complex query to build up the view model. I've tried a few scenarios locally and I can't get this to blow up in the same way.

@tonysurma - I tried to access the Db in Azure but I'll need my latest IP added to the firewall rules. I'd like to have a look over the data to see if that points to the cause.

[2016-12-18 12:27] stevejgordon commented on #1405
@mgmccarthy - I've been doing a quick bit of reading and think I can see how we do this. I've setup a free/trial account so I can test this locally. Happy to chat on it with you as well.

[2016-12-18 13:09] stevejgordon commented on #1405
Setting up a Twilio number which can accept a Y/N response and send this onto a handler in our system seems reasonably straightforward. You can have a single handler (endpoint URL) defined for a number so we have to determine how we architect things. I would think using a single number is preferred but this also means we have a single endpoint to handle responses. This can be managed but requires

[2016-12-18 13:11] stevejgordon commented on #1405
I believe in any case, having a table to record the notifications we have sent is going to be required, so I'll break out an issue to add that as the first part of implementing this.

[2016-12-18 13:13] stevejgordon opened #1647 "Adding table to store details of sent notifications"
Breakout from #1405

We need to store details of the notifications we have sent from allReady to requesters. This will enable SMS response handling as well as serving as a useful history type table that we can expose where needed in the UI.

[2016-12-18 15:15] mgmccarthy commented on #1405
@stevejgordon

this can easily be accomplished by publishing a notification when the confirmation messages are sent and recording the pertinent information in a table.

[2016-12-18 17:40] mgmccarthy commented on #1405
@stevejgordon, my feedback on your [comment a couple comments above this one](https://github.com/HTBox/allReady/issues/1405#issuecomment-267820299):

Good catch about **the most recent notification**. I thought the only problem we faced was not being able to determine which request for a given mobile number we could look up.

When we record the notification was sent, we can do that in the followin

[2016-12-18 17:49] mgmccarthy commented on #1576
I've opened a new issue about making any web service calls (in this case, to Google, async using azure if we can). This is a non-v1 item, but figured I'd just dump the Issuein here for reference:

Issues #1639 and #1626

[2016-12-18 17:49] mgmccarthy commented on #1609
@tonysurma, FYI, this should be changed to v1

[2016-12-18 22:51] tonysurma commented on #1645
@mgmccarthy the screen shot shows it going from Nov 2016 to Jan 2017 and that seems okay?  Am I reading wrong?

[2016-12-19 00:45] mgmccarthy commented on #1645
@tonysurma  LOL! that's the last time I open an Issue/bug at 11pm at night. Apparently, my eyes were playing tricks on me month/year...

I'm closing this as it's not an issue

[2016-12-19 00:46] #1645 closed

[2016-12-19 02:05] mgmccarthy commented on #1405
@stevejgordon, I was thinking a bit more about the most recent notifications table approach to solving the problem of not being able to put a unique requestid/identifier somehow in the sms text that is sent by us to requestor's, then back again to allready. All we have to go on, as you've pointed out, is a phone number, which is not enough.

The other problem with the notifications table is we're

[2016-12-19 02:27] tonysurma commented on #1405
I know that there isn't such a thing and technical no relationship between the SMS out and back to you in Twilio, so you have to match up by phone number you were texting for example

[2016-12-19 02:31] mgmccarthy opened #1648 "Write unit tests for RemoveRequestCommandHandler"

[2016-12-19 02:41] dchristensen commented on #1584
I've fixed this issue (via #1649), however with the claims working its much easier to see an issue with the new buttons in the modal.

The "Edit" button is only ever opening for the first entry in the User list, so it is impossible to make any changes to any of the other users.  Not sure this needs to go into a new issue or re-open #1635.  This issue exists on the current production systems.

/cc

[2016-12-19 07:54] stevejgordon commented on #1405
@mgmccarthy @tonysurma - Yep it's a tricky problem for sure. As Tony says, there seems to be no obvious way to tie a response back to the message we sent. You can get a SID for messages you send, but it doesn't seem to return it on the reply.

If we want to use a single Twilio number (for all of the messages) then we will have to update based on purely working back to the request that had the most

[2016-12-19 10:27] chinwobble commented on #1648
please assign to me.

[2016-12-19 12:04] YannickMeeus commented on #1584
Having a look at this now.

[2016-12-19 12:13] YannickMeeus commented on #1584
@tonysurma @dchristensen I've got a fix for this ready, which issue do we want this fix against?

[2016-12-19 12:25] tonysurma commented on #1405
Do that for now as you said.

[2016-12-19 12:28] tonysurma commented on #1584
For speed go against this issue and we will close once the fix is on

[2016-12-19 13:58] mgmccarthy commented on #1405
@stevejgordon @tonysurma

that. sucks. what's the point of generating a unique id for a message unless it can be tied back to the sending service?

[2016-12-19 14:00] mgmccarthy commented on #1648
@chinwobble, I can't assign you for some reason. For now, you can just update you comment above that you are working on this issue. Let me know if you have any questions. Thanks

[2016-12-19 14:03] tonysurma commented on #1405
It's a limitation of SMS, there is no concept beyond a single message in it, no concept of reply or conversation.  It's simplicity/limitations is the root of it's power and ubiquity

[2016-12-19 14:33] mgmccarthy commented on #1084
@tonysurma, two questions I need answered about two of the line items in the initial comment of this Issue:

- Daily Web Job for day of for requests not confirmed message "sorry you couldn't make it, we will reschedule" and mark unassigned

right now, I have these sms messages going out on the day of, which means NOT at a specified time (which means they could go out at 12:01 am the day of). The o

[2016-12-19 15:06] #1584 closed

[2016-12-19 15:19] mgmccarthy opened #1654 "Add Event dropdown to Request CSV Import Page"
Breakout Issue from discussions originating from Issue #1590 in [this comment](https://github.com/HTBox/allReady/issues/1590#issuecomment-266754845), [this comment](https://github.com/HTBox/allReady/issues/1590#issuecomment-264197849), and [this comment](https://github.com/HTBox/allReady/issues/1590#issuecomment-264198784)

Add an Event drop down to the CSV Import Page:

- show only Event's for th

[2016-12-19 15:20] mgmccarthy commented on #1590
I broke out the parts of this Issue surround the CSV import only to Issue#1654

[2016-12-19 15:39] digitaldrummerj commented on #1097
Yes still open.  I haven't been able to get back to it.  Right now it only supports email/password and doesn't support the social logins.

[2016-12-19 15:42] mgmccarthy commented on #1654
@tonysurma @MisterJames @stevejgordon

do we want to show all Events across all Orgs, or only the Events for which the org user has a claim to?

the ImportController has the `[Authorize("SiteAdmin")]` attribute, so I'm not too sure if we'd want to build a list of all Events across all org's, or use either/both of these claim checks to filter the list:
- `User.GetOrganizationId();`
- `(!User.IsOrga

[2016-12-19 17:16] stevejgordon opened #1655 "Home page listing unpublished campaigns"
The active or upcoming list of campaigns is including campaigns which are not published. The featured campaign is also shown, even if it is not marked as published.

The respective query handlers need to be updated to check this property.

[2016-12-19 17:19] stevejgordon commented on #1655
Working on this

[2016-12-19 17:30] mgmccarthy commented on #1550
@stevejgordon, still the same issue. IE give me:
![image](https://cloud.githubusercontent.com/assets/2428993/21322385/d34557aa-c5e6-11e6-9897-dbda1c9d712d.png)

Chrome shows the error in it's dev tools window:
![image](https://cloud.githubusercontent.com/assets/2428993/21322411/e4f5c89a-c5e6-11e6-80bc-6a47e2eae079.png)

it's the same error: `invalid latitude`. In the case of this particular Itiner

[2016-12-19 17:36] stevejgordon opened #1657 "Extend ActiveOrUpcomingCampaignsQueryHandlerShould UnitTests"
As part of #1655 and the pr #1656 I have added a test class for the ActiveOrUpcomingCampaignsQueryHandler. This can be extended further to test that only campaigns in the correct date range are returned.

[2016-12-19 17:46] mgmccarthy opened #1658 "Eligible Requests no longer show up on the "add selected requests" page of the Itinerary"
cc @dchristensen, this **might** be related to a change you made to the \Areas\Admin\Views\Itinerary\SelectRequess.cshtml file? as par of your work on "Select request by clicking on the map."? But I'm not too sure...

I have a Request with an EventId of 1 which should be showing up on the Selected Requests page for an Itinerary under the same Event:

![image](https://cloud.githubusercontent.com/as

[2016-12-19 17:48] stevejgordon commented on #1657
Working on this as there's not much to add

[2016-12-19 18:00] stevejgordon commented on #1550
Hmm, weird. Is it okay for you when the lat is greater than 0?

[2016-12-19 18:06] DanielSchiavini commented on #1503
Thanks

[2016-12-19 18:11] dchristensen commented on #1658
@mgmccarthy interesting. It certainly looks related to the changes I made.  I can take a look at it.  Please assign to me.

[2016-12-19 18:34] #1055 closed

[2016-12-19 18:36] #1655 closed

[2016-12-19 18:36] #1657 closed

[2016-12-19 18:54] mgmccarthy commented on #1658
thanks @dchristensen

[2016-12-19 19:11] DanielSchiavini commented on #1503
I created the PR, I wrote some shortcomings in the PR description so please let me know if there's any change necessary before you guys can use the code.

[2016-12-20 06:48] dchristensen commented on #1550
I may have fixed this issue with #1662.  I was seeing a similar error on the Itinerary Add Requests page.

[2016-12-20 07:31] stevejgordon opened #1663 "Campaign Lister (Homepage) Design"
Design breakout from #1607

One of talented designers (@benwood2) at Madgex is jumping onboard to help with the design of the site. This issue will be used to discuss requirements and review potential designs - specifically, the campaign lister on the homepage and campaigns pages (public/volunteer facing). Once we have refined the requirements and design we can work with front and back end develop

[2016-12-20 14:03] #1658 closed

[2016-12-20 14:04] tonysurma commented on #1550
Still open after #1662

[2016-12-20 14:27] #1608 closed

[2016-12-20 14:37] stevejgordon commented on #1654
@mgmccarthy As you say, at the moment this is defined as a site admin function, so I believe listing all events, perhaps listed as...

Org > Campaign > Event

would be best. I'm not sure if it's intended for an Org admin to be able to import data. If we need that facility that we would need to open this to org admins and filter accordingly.

[2016-12-20 14:41] mgmccarthy commented on #1654
@stevejgordon, that's exactly what I had a in mind... if we're showing all Events, we can put them in "context" by showing them with their realted Org's and Campaigns. Thanks again for the feedback, it's helpful.

[2016-12-20 14:42] tonysurma commented on #1654
Actually this should be primarily an org admin and thus the list should be itinerary events filtered by their permissions.

Can we make it either only org admin or org and site admins access?  If we do site admin then we should list as Steve said above

[2016-12-20 14:47] mgmccarthy commented on #1654
@tonysurma, we can make it pretty much anything we want to. I need to know if it is an org admin function, site admin function, or both.

as you pointed out, it might make more sense for this to be org admin related, b/c it sounds like an org admin would be using this import for their organization, whereas a site admin really might not use this at all.

Right now, the events drop down shows all ev

[2016-12-20 14:50] mgmccarthy commented on #1646
@tonysurma @stevejgordon

this **might** need to be moved to P1 for now. If #1405 does not get finished (this is the sms response to confirm/cancel requests) in time for December release, then the only way to set a request from pending confirmation to confirmed will be this UI.

Thanks

[2016-12-20 15:57] tonysurma commented on #1654
Please do both org and site thanks

[2016-12-20 19:16] mgmccarthy commented on #1654
@tonysurma, I'm looking into this now, and because ImportController has the `[Authorize("SiteAdmin")]` attribute, and b/c it seems it's not possible to set a user as both an Org and a Site admin at the same time, I'm not going to be able to do both.

In other words, if a user is an Org admin, they'll never have the authority to view the ImportController b/c of the `[Authorize("SiteAdmin")]` attrib

[2016-12-20 19:47] stevejgordon commented on #1601
Update: found the code causing the break and reviewing the best solution. I think it's not an issue locally as my database is accepting multiple active record sets. I'll hopefully have time to finalise the solution in the next few days.

[2016-12-21 13:17] stevejgordon commented on #1601
@tonysurma This issue is caused by EF trying to read multiple datasets at the same time, which happens in our query to build up the admin itinerary model. This doesn't occur locally as we enable Multiple Active Result Sets (MARS) on the connstring.

We have a couple of options. 1) We add MultipleActiveResultsets=true to the end of the Azure connstring used for the test site (wherever that is defin

[2016-12-21 15:21] #1590 closed

[2016-12-21 15:21] #1654 closed

[2016-12-21 15:25] tonysurma commented on #1601
@stevejgordon I added that to the connection string (I thought it was there already) and have stopped/started the site so it should be 'live'

Can you verify before we close this issue?

Thanks

[2016-12-21 15:34] tonysurma commented on #1654
I apologize in advance as I think I am getting this wrong.

The ideal requirement is that this be accessible to users that are _either_ an OrgAdmin _or_ SiteAdmin

If we can't say 'either or' then secondary requirement is that this be accessible to users that are OrgAdmin as that is the priority.

Hope that makes sense and thanks again

[2016-12-21 15:35] tonysurma commented on #1646
good point @mgmccarthy

[2016-12-21 15:43] tonysurma commented on #1084
Yes, 9am local time would be proper

We don't have this functionality in the mobile app so nothing to implement.  When (in the future) the mobile app allows a volunteer to mark (for example) the third request on an itinerary 'complete' the idea is that we would SMS the 4th request to say the equivalent of "We are on the way, See you in a few" so that they know the installer team is coming.

[2016-12-21 15:45] tonysurma commented on #1648
@chinwobble @mgmccarthy and I invited you to the repo (github required step 1 of 2 before we can assign you) and you should have a notification from github to accept (github required step 2 of 2) and then we can assign you to the issue.

Thanks for contributing!

[2016-12-21 15:48] tonysurma commented on #1597
agree with @stevejgordon

all requests belong to an org so no need for a word there (aka one cannot exist without org assignment)

requests are then linked/unlinked to events

requests are then assigned/unassigned to an itinerary.

no words needed for campaign because the link is direct to event.

Thanks!

[2016-12-21 15:49] #704 closed

[2016-12-21 15:51] #700 closed

[2016-12-21 15:51] #701 closed

[2016-12-21 15:51] tonysurma commented on #1522
I will look into this

[2016-12-21 15:53] tonysurma commented on #1523
@schuback please help with repro steps as I am unsure of the issue steps and our testing shows it working so either still an issue or got 'fixed' by something else.  thanks

[2016-12-21 15:53] #59 closed

[2016-12-21 15:53] #410 closed

[2016-12-21 16:01] tonysurma commented on #1637
@stevejgordon lets remove that code and dependency.  It is not needed/used and it would be great to move to .Net Core ASAP

I have been pushing/trying the Mac support for ages so all for it.

[2016-12-21 16:02] tonysurma commented on #1317
The answer is yes.  For v1 we can assume it is only for one org, but over time yes it definitely is possible.

[2016-12-21 16:04] tonysurma commented on #1387
Hey @mgmccarthy didn't this get completed during the London Ontario Hackathon via @TomWalkerCodes  ? Is the error above still an error we need to worry about?

[2016-12-21 16:10] tonysurma commented on #1585
@pmarshallandrew anything we can do to help you as you work on this cc @stevejgordon

[2016-12-21 16:11] tonysurma commented on #37
Thanks @HamidMosalla

[2016-12-21 16:11] #37 closed

[2016-12-21 16:12] stevejgordon commented on #1637
@tonysurma Cool, once we get through the Dec milestone pieces I'm all for trying to get this done. I'm hoping it'll be reasonably smooth. It'll be a good next blog post as well!

[2016-12-21 16:13] tonysurma commented on #1411
@dcbrewster it's been long enough that I would consider this not work in progress by @adam3039 and feel free to start working on it.  Thanks.

[2016-12-21 16:16] stevejgordon commented on #1601
Whoop! Looks good to me, I can access the itinerary details page now that was blowing up yesterday.

[2016-12-21 16:16] #1601 closed

[2016-12-21 19:35] mgmccarthy commented on #1387
@tonysurma, I don't know. Either way, it's low priority. I do know that the name of a "Task" in allReady is still `AllReadyTask`.

[2016-12-21 19:38] mgmccarthy commented on #1084
@tonysurma

ok, I will change DayOfConfirmationSmsTextMessage to go out at 9am local tim.

but we have the ability to do it through the Web UI (you can mark a Request Completed)... would people in the field not be using the Web UI to do this until the mobile app is ready?

If no, then the

can go on the back-burner, although, I did just write code for it yesterday, and it appears to work.

[2016-12-21 19:42] tonysurma commented on #1084
The answer is kinda no, as the web UI can be used at 'anytime' to mark complete like say at the end of the day to mark them all by a coordinator or something.

I will need to think if there is a way to surface this if used during the day one by one via the web UI.

Thanks

[2016-12-21 20:43] VishalMadhvani commented on #1637
FYI: https://icanhasdot.net/result?github=HTBox~2FallReady

[2016-12-22 04:22] HamidMosalla commented on #37
@tonysurma Happy and proud to help.

[2016-12-22 10:21] stevejgordon commented on #1387
@tonysurma I haven't seen anything come in to change the naming. I think it's a post v1 item now and if it's going to cause pain maybe leaving as it is would be for the best.

[2016-12-22 12:57] tonysurma commented on #1387
did a little research and I think this is the one I am remembering https://github.com/HTBox/allReady/pull/1625

[2016-12-23 01:43] josephcmarty commented on #1306
I can look into this.

[2016-12-23 06:00] chinwobble commented on #1648
Thanks for the help! I accepted the invitation.

[2016-12-23 11:21] stevejgordon commented on #1597
@tonysurma just to clarify on:

If we manually create a request via the UI it is linked to an event. This means we can navigate to the original Org via event > campaign > org, but in the db we don't assign an Org Id value (it's null).

On the API we currently hard code the Org ID to 1 for v1 and Red Cross. This is because we don't know the event to link them to.

On the CSV you can now select the

[2016-12-23 11:30] tonysurma commented on #1597
I don't see a reason not to do it and I like it for consistency.  Let's add then.  Thanks

[2016-12-23 11:43] stevejgordon opened #1667 "Ensure all requests have an Org Id set in the DB (CSV and Manual Creation)"
For consistency we should update where appropriate to ensure that we always set the Org ID when adding requests via the CSV and Manual UI screens? Currently in those cases we set the Event directly.

As we expect requests to have an Org Id when added via the API it'll ensure that all requests then have a direct relationship to the organization.

[2016-12-23 11:44] stevejgordon commented on #1597
@tonysurma - Added #1667

[2016-12-23 11:56] stevejgordon commented on #1306
@josephcmarty - Good catch!

@tonysurma - Not sure what you'd like to do with this as it pertains to Htbox specifically as Joseph has spotted.

[2016-12-23 11:57] stevejgordon commented on #1648
@chinwobble - Thanks, I've now officially assigned you.

[2016-12-23 13:45] stevejgordon commented on #1387
@tonysurma Well remembered! Hadn't spotted that one. A quick scan and that seems to mostly rename local variables rather than the main allReadyTask model object that this was looking to address. So I think, if the AllReadyTask bothers us (it did bother me originally but I'm not too fussed now) we still need this to tackle it (with care). If we are going to do it, it would be safer pre v1 as the mi

[2016-12-23 15:54] stevejgordon opened #1669 "Add Twilio Notification Confirmation Endpoint"
Breakout from #1405

We should add a public endpoint for the Twilio notification reply handling. For v1 we'll target the simplest solution which works to confirm/reject request scheduling by requesters.

Links to #1647 which may also be required to form the complete solution.

[2016-12-23 17:48] mgmccarthy commented on #1669
@stevejgordon, check `RequestSmsController`... I built this as the public sms confirmation endpoint.

Also built is a Hangfire job that enqueue's the `IChangeRequestStatus` job, which in turn sends `SetRequestsToUnassignedCommand` if the confirmation was "N".

`SetRequestsToUnassignedCommandHandler` sets the requests back to "unassigned"

[2016-12-23 23:24] chinwobble commented on #1579
@forestcheng I noticed the unit test you wrote still makes a network call. The current design for GoogleOptimizeRouteService does not appear to allow responses to be mocked.
@tonysurma  Is this a concern?

[2016-12-23 23:33] mgmccarthy commented on #1579
@forestcheng @chinwobble @TomWalkerCodes @tonysurma @stevegordon

None of our unit tests should be making real calls to any type of service, especially http based services.

That type of test is an integration test, not a unit test.

I won't be able to look at anything until after the holidays, but are we lacking the appropriate abstraction in order to make the class testable?

[2016-12-24 00:19] chinwobble commented on #1579
@mgmccarthy I believe we are missing properly abstractions. At the moment the GoogleOptimizeRouteService uses a static instance httpClient inside the class. Similarly, the azure related services such as IImageService appears to create BlobContainers inside the class and therefore cannot be unit tested.

[2016-12-24 11:56] mgmccarthy commented on #1579
I would not worry about testing classes that use IImageService right now. Purely based on memory,there is not too much going on in those classes that is not tied directly to setting up the config and establishing a connection to the real blob service. The reason IImageService exists in the first place is to allow testing of classes that need that service.

HttpClient is scoped as singleton on purp

[2016-12-25 12:49] joro550 commented on #1575
Hey there, I was going to lok to do this, but it seems that this allready happens, someone at some point added some javascript at the bottom of the cshtml to allow this to happen, couple of points on this page though.

* Having the class "form-control" on the checkbox makes it really big on the screen but very difficult to click for me - not sure if this is just my browser though, I had to click t

[2016-12-27 09:08] stevejgordon commented on #1575
Hi @joro550. Thanks for taking a look at this. You are correct the show/address was closed in #1631. That was my mistake for not linking back to this original master issue.

I agree that the checkbox is a bit large so if you have code to improve that and the spelling error, please do submit those as a PR. Thanks for contributing.

[2016-12-27 16:02] joro550 commented on #1646
I was thinking of picking this up, I was wondering how you would like to achieve this, through buttons on the ui i.e. "Complete Request" (which alters the state), or a popup where we could have a drop down list of states to change to?

[2016-12-27 19:43] #1300 closed

[2016-12-29 18:57] EmilyLuijbregts commented on #1669
@stevejgordon - Just doing a follow up on this ticket as it's P1. Based upon the feedback from Michael - what are the further actions for this ticket?

[2016-12-29 18:58] EmilyLuijbregts commented on #1647
Hi @stevejgordon - just doing a follow up on this ticket based upon the priority. Any update on this?

Thanks!

[2016-12-29 20:36] stevejgordon commented on #1669
Hi @EmilyLuijbregts. Good timing! @mgmccarthy and I had a Skype call earlier today and discussed this. I have an endpoint now working with Twilio locally. I'm currently finalising the code and hope to have a PR in that offers the most simple solution for v1 we could come up with.

[2016-12-29 20:38] stevejgordon commented on #1647
@EmilyLuijbregts Having reviewed our solution for #1405 we may not actually require this for v1 to achieve the initial use case. It's likely we'll still want this, but the requirement may need further discussion. I'd propose that once we're sure this is not needed for v1 SMS response handling, we downgrade and likely move into the features backlog.

[2016-12-30 11:54] stevejgordon commented on #1667
Working on this

[2016-12-30 15:09] mgmccarthy commented on #1646
@tonysurma, unless we get a new icon that can represent `Set to Confirmed`, we might need to go with a drop-down approach on screens where a Request can move to more than one status, and a text approach where a Request can move to only one status. You can't really tell what the icons mean without mousing over them.

Here is a screen grab of Request that is in the PendingConfirmation state:
![image

[2016-12-30 15:26] mgmccarthy commented on #1646
@joro550, I'm going to make an executive decision here, and say let's stick with the icons for now until I hear back from the project owners.

The icon that should represent Set Request to Confirmed should be this icon from font awesome:
http://fontawesome.io/icon/thumbs-up/

make the background green. This can probably be accomplished using this code:

[code]

the only time we should show the abi

[2016-12-30 15:52] mgmccarthy opened #1675 "Question about Requestor canceling a request and what status that Request should be set to"
@stevejgordon @tonysurma

Right now (based on PR #1674), when a requestor cancels a Request, we are setting the Request from PendingConfirmation back to Unassigned. This means the Request is no longer assigned to the Itinerary it was initially assigned to, which puts it back onto the stack of Requests to pull from for a given Itinerary.

Does it make more sense to mark the Request as Assigned inst

[2016-12-30 17:03] tonysurma commented on #1646
Totally support your exec decision! Thanks to you both

[2016-12-31 00:29] mgmccarthy opened #1678 "Why are we storing TaskSignup.Status as a string instead of an enumeration?"
TaskSignup is a model. We have other db tables that store statuses as enums, why is this one storing it as a string? I'd like to change this to an strongly-typed enum if at all possible.

There are ViewModels that have the statuses on them:
[code]

TaskStatus in this case is being kept in the TaskStatusChangeCommand.cs file
[code]

We end up doing strange queries like this in EventDetailQueryHandl

[2016-12-31 19:00] stevejgordon commented on #1675
@mgmccarthy - The confirmation piece of work has thrown up quite a few questions around the required behaviour as well as some of the past decisions on the code.

In this case I must confess, I'm not sure why we'd want to move from pending confirmation > assigned, if the requester responds with 'n' via SMS.

The main purpose of the ItineraryRequests table is to carry the order index for the reques

[2017-01-01 12:57] chinwobble commented on #1648
This issue should be closed.

[2017-01-03 01:17] mgmccarthy commented on #1675
@stevejgordon, thanks for the write-up. I was just looking for other opinions on the matter. What you explained makes sense. I also agree we'll see some more of the required functionality define itself through usage scenarios where we might lack the "requirements" up from right now to make a call on some of these items.

Thanks.

[2017-01-03 01:20] mgmccarthy commented on #1648
@chinwobble FYI, to automatically close an Issue once the PR for that Issue has been merged, you can put:
Fixes #[PR NUMBER]

in the body of the PR. When the PR is merged, it automatically closes the issue.

[2017-01-03 01:20] #1648 closed

[2017-01-03 01:42] mgmccarthy commented on #1675
@stevejgordon

this comment

worries me. I've always assumed the Request is assigned to one Itinerary, and that's that. I'm assuming the Request could be seen against two separate Itineraries in the same Event (not two separate Itineraries in two separate Events)?

I don't like this approach b/c it introduces an potential artificial race condition in our code that might or might not be present in

[2017-01-03 01:59] mgmccarthy commented on #1609
@tonysurma any update on that list of approved regions? It would be good to get that in the code now.

[2017-01-03 02:00] mgmccarthy commented on #1586
@MisterJames, did you ever get a chance to figure this out? We need the tokens working for the v1 release to handle incoming GASA Requests.

[2017-01-03 02:00] mgmccarthy commented on #1626
@dpaquette did you ever get a chance to check into how a shared EF 7 context would work (if it can work) across multiple projects in a single solution?

cc @stevejgordon

[2017-01-03 02:01] mgmccarthy commented on #1639
@dpaquette did you ever get a chance to check into how a shared EF 7 context would work (if it can work) across multiple projects in a single solution?

cc @stevejgordon

[2017-01-03 03:02] #1669 closed

[2017-01-03 10:47] Chris-Wooder commented on #641
Hi, I have have started on these and will submit a pr shortly before doing anymore.

[2017-01-03 12:32] stevejgordon commented on #1675
@mgmccarthy - Agree with the concerns and I'm fairly sure we can't get a request assigned to multiple itineraries at the moment. As long as we enforce that in our business code I think we're okay.

Agree that if we need history to make managing requests easier (i.e. avoid reassigning to an itinerary when the requester has already rejected it) we should include a proper history table and the code t

[2017-01-03 13:04] mgmccarthy commented on #641
@Chris-Wooder, sounds good. Let me know if you have any questions.

@reecebradley, are you still working on any of these tests? I want to make sure we're not duplicating work here.

[2017-01-03 14:49] mgmccarthy commented on #1579
@forestcheng @chinwobble  @stevegordon

cc @tonysurma

in order to unit test GoogleOptimizeRouteService, we need a way to mock HttpClient. The reason is we're making an HttpClient call, then based on the return from that call, doing work:
[code]

off the top of my head, there are two approaches we can take:

1. call `var response = await _httpClient.GetAsync(GenerateGoogleAPIUrl(criteria));`, then

[2017-01-03 17:53] stevejgordon commented on #1579
@mgmccarthy - A while back I had a similar issue and ended up with a IHttpClientWrapper exposing the Send/GetAsync methods. I could then moq that for testing. I then had a couple of implementations of this, holding a static HttpClient each (that was for a requirement that was better met using different clients). This is essentially a slight variant on the factory idea.

You can also construct a Ht

[2017-01-03 17:57] stevejgordon commented on #1647
Update - We have agreed this can be re-prioritised to a lower level and probably backlogged while we focus on other more pressing v1 items. This does need doing but is no longer crucial to the SMS handling work.

@tonysurma - I'll leave you to judge where to put this, as it partly depends on whether a history of sent messages as well as potentially calling Twilio for failed/delivered statuses is u

[2017-01-03 18:05] mgmccarthy commented on #1603
ping @lhughesbrighton are you still working on this?

[2017-01-03 18:08] mgmccarthy commented on #1579
@stevejgordon I just searched the AllReady project for `IHttpClientWrapper` and didn't find anything. Was it something you did for this project or something you did at work?

I'm fine with either solution. Thanks

[2017-01-03 18:09] mgmccarthy commented on #1545
@tonysurma / @EmilyLuijbregts can we please close this Issue?

[2017-01-03 18:10] mgmccarthy commented on #1522
@tonysurma did you find anything with the live environment config/error logs that would shed some light on this?

[2017-01-03 18:13] mgmccarthy commented on #1305
@sandygarcia can you please include a screegrab(s) and steps you took that shows the error? We need some more detail to help us investigate.

[2017-01-03 18:14] mgmccarthy commented on #1134
@tonysurma @stevejgordon

the real question here is if we decide to implement this policy, who does the user contact to unlock their account? That answer should determine whether or not we even need this.

[2017-01-03 18:15] #1033 closed

[2017-01-03 18:23] stevejgordon opened #1680 "Validate Request Phone Numbers on Creation"
Breakout from #1405

To ensure that phone numbers are both valid and also stored in the correct E.164 format we should utilise the Twilio lookup API during request creation (API, CSV and Manual). To do this we will need to utilise the Twilio Lookup Tool at https://www.twilio.com/lookup.

We need to do this to ensure we can properly match SMS responses to the originating request. As the returned SM

[2017-01-03 18:24] stevejgordon commented on #1405
Added a new issue to get this finalised with support for ensuring we have valid phone numbers in the system when requests are created. I believe we will then be in reasonable shape for v1 and initial deployments.

[2017-01-03 18:26] stevejgordon commented on #1522
Related question - Is there a way to "run" and debug the webjobs locally? I've not messed with them before.

cc @MisterJames

[2017-01-03 18:29] stevejgordon commented on #1579
@mgmccarthy - It was a work thing :-)

[2017-01-03 18:33] mgmccarthy commented on #1579
let me play around with some code and I'll see what I come up with. Thanks for the input and feedback.

[2017-01-03 18:38] mgmccarthy commented on #1680
@stevejgordon

I'm ready when you are. Based on the API and CSV, we might be able to take different approaches since the API allows more of an async update back to GASA, but the CSV needs to enforce all data on posting to the site.

[2017-01-03 18:40] mgmccarthy commented on #1522
good question. The only webjobs we have now are the sms and email senders, and for dev implementations, we have them dump the output to the console. No real services are being invoked.

[2017-01-03 18:54] stevejgordon commented on #1362
@tonysurma - I'll try to start breaking this into sub issues this week and perhaps work on the first item to begin with to get a feel for the structure etc.

[2017-01-03 18:55] stevejgordon commented on #1411
@dcbrewster - Did you start working on this in the end?

[2017-01-03 18:59] stevejgordon commented on #1585
@tonysurma - I know @pmarshallandrew is on vacation until the NDC London code-a-thon event. I also know he'd made some progress with this. I'm happy to jump in and resolve this issue if you think it will be needed before NDC London? If not @pmarshallandrew is joining me there so could finish off at that point?

[2017-01-03 19:08] stevejgordon commented on #1506
@schuback - I'm struggling to replicate this either locally or on the test site.

I go to an event and volunteer for a task

![image](https://cloud.githubusercontent.com/assets/3669103/21619506/e25807d0-d1e7-11e6-9f5c-e137b46c238f.png)

after add comments I hit volunteer - this is the result

![image](https://cloud.githubusercontent.com/assets/3669103/21619480/c4746100-d1e7-11e6-9bbd-abf743aee200.

[2017-01-03 19:22] stevejgordon commented on #1637
I have this underway in a branch which I'll work on around higher priority issues

[2017-01-03 19:42] dcbrewster commented on #1411
Yes. It is done. Just need the other pull request (#1676) to be implemented before I commit these changes\

Dave

From: Steve Gordon [mailto:notifications@github.com]
Sent: Tuesday, January 03, 2017 1:56 PM
To: HTBox/allReady <allReady@noreply.github.com>
Cc: Dave Brewster <dave.brewster@forestcitysoftware.com>; Mention <mention@noreply.github.com>
Subject: Re: [HTBox/allReady] Validation is not w

[2017-01-03 19:48] stevejgordon commented on #1637
Might be a bigger job than I appreciated as quite a few libraries (as @VishalMadhvani's link highlights) are not .net core ready.

We can potentially work around some of that by wrapping the APIs (Twilio/SendGrid etc) directly and not using their c# libraries. For the features we need, this might be fine.

I'll continue digging as I need to research each dependency and see what can be used and for

[2017-01-03 19:49] stevejgordon commented on #1411
@dcbrewster - Great! Thanks for the swift reply too.

[2017-01-03 19:57] joro550 commented on #1646
I must admit I'm a little confused, I'm going to lay out what I see the logic doing and hope someone can help me out a little.

When adding a request to an Itinerary item there is a button to mark the request as ```Incomplete``` however this seems to changed the status of the request to ```Assigned```, which changes the interface:
![assigned request](https://cloud.githubusercontent.com/assets/1705

[2017-01-03 21:11] mgmccarthy commented on #1646
@joro550, you don't have to change any existing functionality, only add new functionality. The behavior you're seeing above is correct.

You'll need to add code like this to Areas\Admin\Views\Itinerary\Details.cshtml:
[code]

in between this existing code:
[code]

then you'll need to create two new action methods:
[code]

which sends the `ChangeRequestStatusCommand` with the correct new status.

l

[2017-01-04 00:35] mgmccarthy commented on #1579
@stevejgordon, this is what I came up with:

`IHttpClient` and `StaticHttpClient`:
[code]

in Startup.cs:
[code]

This is a bare-bones implementation and it a good place to start, but will not scale well for code that needs a static HttpClient instance for a POST that needs to add security tokens to its http headers ([SendRequestStatusToGetASmokeAlarm](https://github.com/HTBox/allReady/blob/229432

[2017-01-04 02:30] tonylambert commented on #1505
@tonysurma, @schuback  - This likely isn't helpful but I cannot reproduce this on my dev machine nor can I on http://allready-d.azurewebsites.net/

However, I do see some errors in the console (both on my dev machine and on the http://allready-d.azurewebsites.net/ site):

![javscript console errors](https://cloud.githubusercontent.com/assets/688221/21630075/c0017cfc-d1fb-11e6-99a4-4210bfb4410c.gif

[2017-01-04 06:08] dchristensen commented on #1501
I can work on this, however I would like some clarification on where this feature is required.  Is this going to be added to the Event Add/Edit screen in the Admin section?  The Task screen was mentioned earlier as well, but I don't see an address associated with a Task.

@tonysurma @stevejgordon

[2017-01-04 13:55] stevejgordon opened #1684 "Campaign Details Page (Public) Design"
This issue will be used to discuss requirements and review potential designs - specifically for the campaign details page (public/volunteer facing). Once we have refined the requirements and design we can work with front and back end developers in new issue(s) to implement the design.

Requirement Gathering:

The details page is visited by public (non signed in users) who are potential volunteers

[2017-01-04 14:37] EmilyLuijbregts commented on #1575
@joro550  - thanks for picking this one up! Just wanted to check in and see if you had any update? or if you needed any support?

[2017-01-04 14:41] EmilyLuijbregts commented on #1647
Assigned to Tony as per the comment from Steve

[2017-01-04 14:43] EmilyLuijbregts commented on #1667
Hi @stevejgordon - just doing a quick follow up. Do you have an update for us? or need any support?

[2017-01-04 14:44] stevejgordon commented on #1667
@EmilyLuijbregts - Yep, PR is in for this - so once that's accepted, this is done :smile:

[2017-01-04 18:41] joro550 commented on #1575
@EmilyLuijbregts There was a pull request that was merged a few days ago #1575

[2017-01-04 18:42] joro550 commented on #1646
Apologies, think I was just getting a little confused, thanks for the feedback.

[2017-01-04 20:04] mgmccarthy commented on #1680
@stevejgordon, looks like the mobile phone number validation is more important than we thought.

@cecilia-donnelly just [said that GASA is not validating that the phone numbers on Requests that are collected by them (and then passed onto us)](https://github.com/redcross/smoke-alarm-portal/issues/196#issuecomment-270429433) are mobile numbers.

[2017-01-04 20:05] mgmccarthy commented on #1680
on a side note, can someone from GitHub please move the "Close and comment" button to the RIGHT of the Comment button. Thanks! :man_facepalming:

[2017-01-05 07:59] stevejgordon commented on #1680
@mgmccarthy - Important to know for sure. I'll try to start off the basic work need to perform the lookups.

@tonysurma - Would making the initial decision to reject requests via API that do not have a valid phone number be suitable? Do we need to log them / store with a specific status though so we can see them somewhere inside allReady?

[2017-01-05 13:33] mgmccarthy commented on #1680
@stevejgordon @tonysurma

This is a great question. If we end up saving these "bad" requests somewhere, what is our course of action to correct the phone numbers? Would we have org admins (or other users) trying to reach out to the source of the request and asking them if they have a mobile number?

IMHO, my guess is that we don't really have a compensating action that makes sense, or will be real

[2017-01-05 13:55] mgmccarthy commented on #1680
@stevejgordon let me know if you need some help with any of this...

[2017-01-05 14:03] stevejgordon commented on #1680
@mgmccarthy - I think for v1 timescale rejecting them is best course with a suitable HTTP error is best course of action for now. We could potentially add a log table on our end so during initial use of the application we can at least get an idea for how often a number is bad. Logging rather than a table would be better really, but we've yet to cover logging for allReady. AppInsights might give us

[2017-01-05 15:06] #1667 closed

[2017-01-05 15:07] #1678 closed

[2017-01-05 16:54] mgmccarthy commented on #1579
cc @stevejgordon

@forestcheng and @chinwobble, now that PR #1682 is merged (aka, we have a testable IHttpClient), can either one of you take another shot at writing unit tests for GoogleOptimizeRouteService?

Thanks

[2017-01-06 13:46] mgmccarthy opened #1688 "Finish unit tests for ManageController"

[2017-01-06 13:48] #1596 closed

[2017-01-06 13:51] mgmccarthy commented on #1688
currently @Chris-Wooder is working on these.

[2017-01-06 15:15] niwrA commented on #1545
Hi,

I would say that regardless of context, there is currently nothing done to prevent concurrency issues from taking place. There is also not a functional analysis showing that concurrency issues are not likely to happen. In that context, and until a better solution has been provisioned, I would suggest implementing the basic timestamp solution as a low-cost security measure, until something bet

[2017-01-06 15:24] stevejgordon opened #1689 "Closed Featured Campaign is returned on homepage"
It's possible for the site to blow (as it did for me locally) if a campaign is set as featured but has passed it's end date. The campaign is returned but not found in the active campaigns list and the removal throws an error.

We should filter the search to include only featured campaigns which are active.

[2017-01-06 17:58] dchristensen opened #1691 "Task Signup migrations failing"
The EF migrations are failing on my local machine.  I believe this is related to PR #1681 (@mgmccarthy)

Also looks like http://allready-d.azurewebsites.net/ is failing.

The error I get when the migration fails is:

[2017-01-06 18:10] mgmccarthy commented on #1691
@dchristensen, we're aware of the issue and working with project owners to figure out what we want to do.

Drop your db on your local machine and allow it to be recreated when you hit F5. The live site will be down until we figure out what we want to do.

cc @tonysurma

[2017-01-06 23:54] tonysurma commented on #1691
Thanks @dchristensen
from that info and what I found it looks like the migration doesn't work with existing data @mgmccarthy ?

I will drop and recreate the db for live when I get a moment. Thanks all.

[2017-01-07 00:03] mgmccarthy commented on #1691
@tonysurma, yes, unfortunate, that's the case. 100% my fault. I was probably switching branches too quickly and was dropping the db instead of using Update-Database after the migration. I'm sure if I had done that, I would have known about the problem before pushing my changes.

I will not let that happen again.

[2017-01-07 00:17] tonysurma commented on #1691
No worries I just get happy we actually know what the problem is and what caused it. at this point migrations are kind of extra anyhow tho soon that'll be a different story, thanks

[2017-01-07 03:43] forestcheng commented on #1579
I'm sorry that I'm still a beginner of ASP.NET and I have many things to learn. Could @chinwobble or someone help writing the unit test so that I can learn from you?

Thanks a lot.

[2017-01-07 06:34] chinwobble commented on #1579
@mgmccarthy, sure I can write the unit tests for this service class.
Please asssign to me.

[2017-01-07 07:26] chinwobble commented on #1579
@forestcheng I've starting writing the unit tests here
https://github.com/chinwobble/allReady/commit/5fc62e847c9ba2166842046bb83834af5770c4f5
Perhaps you could help write the others to learn. Let me know if anything is unclear.

[2017-01-07 18:30] #1689 closed

[2017-01-08 11:11] Chris-Wooder commented on #641
@mgmccarthy I am looking at the tests for the POST ResendEmailConfirmation() and have a couple of questions.

For test ResendEmailConfirmationInvokesFindByIdAsyncWithCorrectUserId()
I'm not sure which method 'InvokesFindByIdAsync' is referring to.  I am assuming it's something to do with retrieving the ApplicationUser object...

The method calls UserManager.GetUserAsync(ClaimsPrincipal), is it ref

[2017-01-08 12:09] #1688 closed

[2017-01-08 12:51] mgmccarthy commented on #641
@Chris-Wooder that unit test stub name is probably old. We used to name all our method/messages that used the async API for MediatR with "async" in the name, then moved away from that convention b/c it was too noisy. Please update the name of those tests to (and write the code) to test the following scenarios:

- _userManager.GetUserAsync(User)
- await _userManager.GenerateEmailConfirmationTokenAs

[2017-01-08 16:20] stevejgordon commented on #1691
Resolved on live. For local dev, either:

1) Drop the DB and let it recreate
2) Clear all existing TaskSignup Records and let the DB Migrate
3) Adjust the Status for each Signup Record to use the numeric enum value as appropriate. Then the DB should migrate the column successfully from a nvarchar to int column type.

[2017-01-08 16:20] #1691 closed

[2017-01-08 16:29] stevejgordon commented on #1637
Update - Spent a little more time with this today and slowly progressing it. I've managed to update / remove a few problem dependencies. There are a few that will require a little more review though.

[2017-01-08 16:56] stevejgordon commented on #1637
I believe the remaining dependencies that cause problems are the GeoCoding.net library and the LinqToTwitter library.

We already have discussed GeoCoding.net since we're using it just to get lat/long from addresses. As we don't take advantage of anything else the library offers, it will be best to create our own wrapper around the Google API to handle any address geocoding we need to do. I'm curr

[2017-01-08 19:28] mgmccarthy commented on #1637
@stevegordon, don't bother. I already have a working invocation of google maps using HttpClient removing IGeoCoder on a local branch!

[2017-01-08 19:29] mgmccarthy commented on #1637
@stevegordon, I can look into getting rid of Linq2Twitter and invoicing API directly. It's only used to support sign-on the site using Twitter external auth provider.

[2017-01-08 21:33] VishalMadhvani commented on #1637
ohhhh this sounds very promising @stevejgordon

[2017-01-08 21:41] stevejgordon commented on #1637
@mgmcarthy I have the bare bones code to allow removal of linqtotwitter started.

[2017-01-09 10:54] YannickMeeus commented on #1497
I believe a previous (pull request (1602))[https://github.com/HTBox/allReady/pull/1602] already added full coverage to the EditItineraryCommandHandlerShould test cases, but you might want to make sure.

[2017-01-09 12:07] stevejgordon commented on #1637
@mgmccarthy - It's not tested but I have initial code for both. I'll try to get a WIP PR in soon and we can chat around what I've included. As I have replaced the dependencies that couldn't be used I'm now compiling a bit further and have found a few more code areas to change due to differences in API surface in .net core. So I'll look to tweak those also before putting in an initial PR. I might g

[2017-01-09 12:16] mgmccarthy commented on #1637
ok... sounds like you've done most of the work. If you need 2nd set of eyes or want to chat about anything around IGeoCoder or Linq2Twitter, I'm around all day today

[2017-01-09 13:01] mgmccarthy opened #1694 "Upgrade to MediatR 3.0"
I've been doing some research into what it will take to upgrade the project to MediatR 3.0. There are breaking API changes that cause a lot of code to have to change, plus an annoying default parameter that was added to each method on IMediator which makes any mocked call to .Send or Publish non-compilable in our unit tests.

Here is what we get with version 3.0 of MediatR:
- new, simplified API w

[2017-01-09 15:21] tonysurma commented on #1497
Thanks @YannickMeeus

@stevejgordon please close this if it looks complete to you. Thanks to you both

[2017-01-09 19:59] chris-sargood commented on #1597
@tonysurma @stevejgordon

Could one of you assign this issue to me and I'll pick it up?

[2017-01-09 20:03] tonysurma commented on #1597
Done and thanks!

[2017-01-10 13:43] #1497 closed

[2017-01-10 15:57] stevejgordon opened #1696 "Request (store country)"
Currently our request model does not hold a country property. While we start in US this is not a major issue, but if we get any non US usage, then holding this would be useful as we need to know a requests country in order to call the Twilio API correctly.

By default we use a US country code for the Twilio validation, but this will cause any non US requests to fail phone number validation (or ret

[2017-01-11 00:47] mgmccarthy commented on #1680
@stevejgordon, I have all my Twitter values set in my user secrets file that correspond to the Twitter values in config.json:

[code]

and the code is not throwing any errors, but I'm getting a null back for name and email. I know we already discussed email, and we're giving up on it b/c Twitter makes it impossible, but in your testing, could you at least retrieve the name of the user?

[2017-01-11 14:09] EmilyLuijbregts commented on #1573
@OhMcGoo and @schuback - any chance that you're able to answer this question?

[2017-01-11 14:09] EmilyLuijbregts commented on #1575
Great- thanks - i'll close this issue.

[2017-01-11 14:09] #1575 closed

[2017-01-11 14:10] EmilyLuijbregts commented on #1586
@MisterJames - Just checking in as this is a P1 bug. Any chance you could give us an update?

[2017-01-11 14:11] EmilyLuijbregts commented on #1609
@tonysurma - Would you have the time to look at the question from @mgmccarthy ? Thanks!

[2017-01-11 14:12] EmilyLuijbregts commented on #1646
Hi @joro550  - just checking to see if this issue can be closed? I see that you've referenced it with a merged ticket so wanted to check.

[2017-01-11 14:14] EmilyLuijbregts commented on #1680
Hi Steve - just doing a quick follow up to see if there's any update on this ticket?

[2017-01-11 14:20] mgmccarthy commented on #1646
@EmilyLuijbregts, yes this issue can be closed.

[2017-01-11 14:21] schuback commented on #1573
Morning.

I will look up the issue number and see.

pascal

On Wed, Jan 11, 2017 at 6:09 AM, EmilyLuijbregts <notifications@github.com>
wrote:

--

Pascal Schuback
pascal@schuback.com
206.414.8799
@schuback

[2017-01-11 14:21] stevejgordon commented on #1680
Hi @EmilyLuijbregts - Yes, I think this will be closed out soon. The PR was in as WIP and has been checked over. So after some final tweaking I've removed the WIP tag so it can be reviewed and merged.

[2017-01-11 14:22] EmilyLuijbregts commented on #1675
@stevejgordon - just wanting to follow up on the next steps for this task. Can you let me know? Thanks!

[2017-01-11 14:24] #1646 closed

[2017-01-11 14:28] stevejgordon commented on #1675
@mgmccarthy - What are your thoughts? I think the current code and behaviour matches the v1 requirements so imagine this is okay for now?

[2017-01-11 14:32] mgmccarthy commented on #1675
@stevejgordon cc @EmilyLuijbregts

I agree with Steve. The v1 code/UI does not allow a single Request to be assigned to multiple Itineraries, but the table relationships defined via EF seems to suggest that this type of assignement is possible.

To be honest, this is more a business/requirements decision, not a technical one.

until we get an answer to this:

then any further action from a technic

[2017-01-11 15:01] tonysurma commented on #1609
Thanks, we won't know this until we finalize who/where it is being used at deployment so maybe we can make it a config value @mgmccarthy ?

THanks

[2017-01-11 15:04] mgmccarthy commented on #1609
@tonysurma, I'll have to take a look at the code. I figured we'd just stick the approved region list directly into code, but sounds like we'll have to do some type of configuration work here.

[2017-01-11 15:05] tonysurma commented on #1675
One request can only be tied to one itinerary at any one point.  That is a core requirement.

[2017-01-11 16:07] mgmccarthy commented on #1675
@stevejgordon, based on @tonysurma's [comment](https://github.com/HTBox/allReady/issues/1675#issuecomment-271891776), is there something we can change in the EF mapping code/class models that will make this core requirement explicit in the code?

[2017-01-11 16:12] mgmccarthy opened #1697 "Add ValidatePhoneNumberRequest to UI Request Creation"
Tied to #1680

For whoever ends up working on this, please reach out to me with any questions

[2017-01-11 16:15] mgmccarthy opened #1698 "Add ValidatePhoneNumberRequest to Import CSV Request Creation"
Tied to #1680

look into potentially throttling the calls made to the Twilio API for each request we're processing so we're not exceeding the threshold.

Details [here](https://github.com/HTBox/allReady/pull/1693#issuecomment-271602049) and [here](https://github.com/HTBox/allReady/pull/1693#issuecomment-271603686)

[2017-01-11 16:20] mgmccarthy opened #1699 "Make List Of Approved Regions for API Request Config-based"
Tied to [this comment](https://github.com/HTBox/allReady/issues/1609#issuecomment-271890591) on Issue #1609

[2017-01-11 16:23] mgmccarthy opened #1700 "Change EF mapping/model class(es) to make one Request tied to one Itinerary and any one point in time explicilt"
tied to conversations in #1675

[2017-01-11 16:42] stevejgordon commented on #1700
looking at this now @mgmccarthy

[2017-01-11 18:52] OhMcGoo commented on #1573
@stevejgordon, @schuback, @EmilyLuijbregts, @tonysurma: No and here's why. Many events with itineraries will likely be created with the address of a Red Cross facility (like our headquarters at 2200 W Harrison St, Chicago, IL 60612). However, depending on how the itinerary is created and where the homes are relative to the facility, it may be determined that volunteers meet at a staging area, inst

[2017-01-11 20:04] #1700 closed

[2017-01-11 20:14] #1680 closed

[2017-01-11 21:01] mgmccarthy commented on #1680
@stevejgordon, question for you on the Twilio configuration.

in Startup, you're checking if `Configuration["Authentication:Twilio:Sid"]` and `Configuration["Authentication:Twilio:Token"]` are not empty, if so, you're wiring up the real TwilioPhoneNumberLookupService.

The problem I'm seeing is those two config calls pull back the "default" values config.json, and automatically use the real Twilio

[2017-01-12 07:57] stevejgordon commented on #1680
@mgmccarthy Absolutely agree! I think I had that in my todo notes on my desk somewhere. Good catch! I agree that a more explicit enable/disable setting would be better and clearer.

[2017-01-12 07:59] stevejgordon opened #1702 "Add an enable/disable setting for Twilio API calls"
Following on from #1680 we should add a setting to control whether Twilio API is enabled (or not). This will allow developers to use the fake service when they do not have Twilio credentials.

This can be similar to the setting used for the GeoCoding Google Maps API

[2017-01-12 11:12] chinwobble commented on #1694
@mgmccarthy  hey this is a good write up on some cool features in the next version of MediatR. Is the any documentation on how the interfaces for the pipelining will work? I didn't see anything about it on mediatR wiki or samples section?

[2017-01-12 13:47] mgmccarthy commented on #1694
@chinwobble, this is a great question and I should have inclded some links in the intial comment of this Issue.

Here is the official release page for MediatR 3.0:
https://github.com/jbogard/MediatR/releases/tag/v3.0.0

Here is a description on how the built in pipeline behaviors work and how you can wire up your own:
https://github.com/jbogard/MediatR/wiki/Behaviors

and here is a great blog abou

[2017-01-12 15:32] #1702 closed

[2017-01-13 01:03] ExoltenOne commented on #861
Could I take this one?

[2017-01-13 01:54] dchristensen commented on #1501
I have got the javascript working in a local branch to be able to move a point on the map and bind the lat/lon to a pair of hidden fields on a form.  I just need to know which screens need this functionality.

Right now the only place we're tracking Lat/Lon in the DB is on the request, so anything else will need to have changes made to the EF models.  @stevejgordon can you advise as to where this

[2017-01-13 02:10] mgmccarthy commented on #861
@ExoltenOne, please do. I just looked at the latest code and it looks like there was never a test written. Thanks

[2017-01-13 04:07] rayhiker commented on #861
Yes, please do. I got too busy to finish this up.
Thanks,
Ray

On Jan 12, 2017 6:03 PM, "Krzysztof Madej" <notifications@github.com> wrote:

[2017-01-13 07:20] stevejgordon commented on #1501
@dchristensen I think the request add/edit page is most relevant to this requirement.

We also store the start and (optionally) end address lat/long for Itineraries. This is only on the edit view where the address(es) can be set. The flow is a little complex there though. Neither are required. You can optionally choose to one once location as the start and end of a itinerary route. Or you can sele

[2017-01-13 07:21] stevejgordon commented on #1501
@tonysurma @schuback - Do you think we need map address selection for the campaign, event etc? We don't lat/long lookup those at the moment and simple display the address details on the UI.

[2017-01-13 11:05] chinwobble commented on #1694
@mgmccarthy . Thanks for providing the links.

Regarding #1579 I haven't heard anything from @forestcheng. I'm okay to finish them if needed.

[2017-01-13 11:35] mgmccarthy commented on #1694
@chinwobble, thanks!

[2017-01-13 12:07] chinwobble commented on #1579
@mgmccarthy  as others have identified, when the GoogleOptimizeRouteService fails, nothing is logged or reported to users. Should making updates such as introducing more logging be a separate PR from the PR for the unit tests?

[2017-01-13 12:39] stevejgordon commented on #1405
@tonysurma If you agree I think we can close this issue with the v1 functionality we have now included?

[2017-01-13 12:43] mgmccarthy commented on #1579
@chinwobble, don't worry about logging for now. If GoogleOptimizeRouteService fails, it will throw an exception (which is fine, b/c that service failing is exceptional) and the user will be shown our generic 404 message.

In the future, we will be using Polly to execute retry policies for outgoing web service calls like this one, but that's not part of the v1 deliverable.

Also, we don't really ha

[2017-01-13 12:44] mgmccarthy commented on #1405
@stevejgordon I agree.

[2017-01-13 13:39] mgmccarthy commented on #1699
@stevejgordon, I need to get through the code review for PR #1705, do you think you could take this task?

[2017-01-13 13:41] mgmccarthy commented on #1699
most likley, it sounds like we'll need to have a hard-coded or database/table seeded list of approved regions which can be turned on via some type of config setting.

I prefer the hard-coded region list approach.... UNLESS it's something we need to add after deploying to live, unless we can redeploy the site to update the hard-coded list.

putting it in a table it a bit more flexible as we can wri

[2017-01-13 13:56] stevejgordon commented on #1699
@mgmccarthy Sure, I can got onto this pretty soon. Will digest the requirement and think it through a little.

[2017-01-13 14:05] mgmccarthy commented on #1699
@stevejgordon definitely reach out to @tonysurma with questions on this one... he's the one that requested it be config-based in some way

[2017-01-13 14:12] tonysurma commented on #1405
Agree

[2017-01-13 14:12] #1405 closed

[2017-01-13 16:59] stevejgordon commented on #1699
@tonysurma I have a few questions after mulling this over which may guide the direction we go for this.

1. Do we know roughly how many regions we expect to manage?
2. How often will this list of regions change?

As Mike has suggested we have a few options to store the mappings. A Db table is an option. I'm not sure I like it since we're them putting in org specific database tables. I suspect this

[2017-01-14 13:47] stevejgordon opened #1707 "Incomplete social login for Twitter results in 404"
If you don't fully complete the social login registration (test with Twitter but may affect other services) it's possible to get into a position where you cannot use that provider any longer.

Steps to reproduce:

- Ensure you have user-secrets setup for Twitter with a valid key and secret
- On the login page choose to login with Twitter
- On redirect you will be taken to a page to complete your n

[2017-01-14 13:55] stevejgordon opened #1708 "Add Polly library for HttpClient retries (OptimizeRoute)"
We have discussed adding in the Polly retry library to allReady to support fluent retry logic. We will implement this in areas were we perform Http calls that could experience transient errors/delays.

We will need to review in each case, how many retries and under what delay is acceptable for the user in each given scenario. @mgmccarthy  and I have discussed and believe that the optimize route se

[2017-01-14 13:57] stevejgordon opened #1709 "Improved UI notification for OptimizeRoute failures"
Currently if the optimize route process fails (lack of connection to Google / some other error) we do not feed this information back to the end user. We simply return the requests in their original order (un-optimized but do not notify the user that no optimization occurred)

We should ensure that we include a response type that allows us to display an appropriate on screen message to the user in

[2017-01-14 16:40] #1637 closed

[2017-01-14 17:03] stevejgordon opened #1710 "Breadcrumb is incorrect in Edit Request page"
On the edit request page we have a breadcrumb menu at the top of the page. The second to last item is the name of the request but clicking this link tried to take you to a task details page which blows due to a missing ID.

[2017-01-14 17:12] stevejgordon opened #1712 "Event Details / Volunteer Page (Public) Design"
This issue will be used to discuss requirements and review potential designs - specifically for the event details page (public/volunteer facing). This page also serves a a list of tasks and allows volunteers to volunteer for those tasks. Once we have refined the requirements and design we can work with front and back end developers in new issue(s) to implement the design.

**Requirement Gathering:

[2017-01-14 18:38] HamidMosalla commented on #1697
@mgmccarthy You want to do the same thing you did in `RequestApiController` with `ImportController` am I correct? if so, what should I do about not having the `CountryCode`? I assumed I should validate against `List<ImportRequestViewModel>` and I only have `Phone` in `ImportRequestViewModel`, I saw @stevejgordon's todo for converting country to country code, should I wait for that or do it myself

[2017-01-14 20:11] tonysurma commented on #1697
@HamidMosalla I am sure @mgmccarthy will have something more/better to say here but in short you can assume CountryCode is 1 (US) for this initial release, note that in the PR and then post this initial release we will fix/adapt that to support additional countries.  I recall this being an approach we used somewhere else ( @stevejgordon @mgmccarthy might remember where)

[2017-01-14 20:12] tonysurma commented on #1697
Also no apologies for asking questions @HamidMosalla it's awesome you care to know what is wanted!

[2017-01-14 23:19] #1698 closed

[2017-01-15 01:11] ExoltenOne commented on #661
If no one is working on this issue I could take it.

[2017-01-15 01:26] chinwobble commented on #1709
hi @stevejgordon. I was wondering if this is issue is dependent on #1708 (retry logic for http). Should the UI surface whether the app is trying its first or second attempt to optimise the route?

[2017-01-15 01:32] chinwobble commented on #1578
Is the intended use for caching the result for a scenario such as:
1. the database has bad addresses /coordinates for the waypoints
2. the optimise route criteria with the bad addresses / coordinates is sent to google which is unable to resolve a route
3. The results are cached so that the UI does not repeatedly attempt to optmise and unresolvable path
4. Users or admin should be prompted  somehow

[2017-01-15 08:58] stevejgordon commented on #661
Thanks for jumping in @ExoltenOne. If you have any questions as you progress, please just let us know. I have invited you to the repo so you should have an email from GitHub. It's not necessary to begin working but once you have accepted it will allow us to assign you to this issue formally. What you've done here is perfect though to let others know you are working on this issue. Thanks again!

[2017-01-15 09:34] stevejgordon commented on #1709
@chinwobble Good question. I wasn't thinking that way when I put the issue in. It might be a nice enhancement but I presume we'd need to be using something like websockets/Signalr to notify the UI mid flow.

I started stubbing this out yesterday as I plan to be working on it during the NDC code-a-thon. We trigger the optimize route from a modal box which fire off to the post action and onto the Op

[2017-01-15 09:34] ExoltenOne commented on #661
I got the email and obviously accepted the invitation. Please, assign me to this issue.

[2017-01-15 09:35] stevejgordon commented on #661
@ExoltenOne You're assigned. 😄

[2017-01-15 09:41] stevejgordon commented on #1578
@chinwobble - II'd forgotten I already logged this when I put in #1709! In this case it's more around the flow as I've just commented on #1709. So we cache the result of the optimization so that in the UI we can advise the user of the that result. Rather than loading the page and giving no information back to the end user.

We now have code which geocodes an address to lat/long coordinates when we

[2017-01-15 16:14] HamidMosalla commented on #1697
@tonysurma Thank you, I can go ahead with the current info, but it would've been better if I had more detail, for example in the `RequestApiController` we have only one phone number, we validate it, and if it wasn't valid we return `BadRequest();`, but in the case of the current issue we have a list of phone numbers, should I return with an error message and do nothing else even if one of them was

[2017-01-15 16:31] HamidMosalla commented on #1697
@tonysurma Looks like this issue has been fixed even before I made a comment, I should've paid more attention ():

[2017-01-15 16:51] mgmccarthy commented on #1697
@hamidmosalla, I already have PR  #1706 done and waiting to be merged for this issue.

[2017-01-16 10:03] stevejgordon commented on #1710
Closed in PR #1711

[2017-01-16 10:03] #1710 closed

[2017-01-16 10:14] pmarshallandrew commented on #1585
Picking this back up today after coming back off holiday.

[2017-01-16 10:20] shahiddev commented on #1506
I've just tried to repro this and get same result as @stevejgordon

[2017-01-16 11:06] BillWagner commented on #1586
@MisterJames We've got someone here in London at the NDC event who is starting to look at this. Can you add a comment with any progress to date?  /cc @recumbent

[2017-01-16 11:14] BillWagner commented on #1097
@digitaldrummerj If there's work in progress, can you share it? We're at an event in London, and some folks are looking to help on this.

[2017-01-16 11:16] BillWagner commented on #1084
@tonysurma Is there discrete tasks that you can break off here for folks in London? We've had a great turnout and folks are looking for issues.

[2017-01-16 11:23] BillWagner commented on #1707
Adding ready issues to the Dec V1 milestone.

[2017-01-16 11:25] BillWagner commented on #1708
@stevejgordon Can you share the code and have someone here at NDC bring this to completion?

[2017-01-16 11:26] BillWagner commented on #1709
@stevejgordon Is this another we can throw someone at here in London?

[2017-01-16 11:26] shahiddev commented on #1707
@BillWagner I'll take a look at this

[2017-01-16 12:28] BillWagner commented on #1507
Here at NDC, I'll make the recommendation that we say:

"This Task requires the following skills. Check the box to indicate that you have those skills."

@OhMcGoo If you prefer other language, let us know.

[2017-01-16 12:31] BillWagner commented on #1284
@digitaldrummerj Do we still need this, now that we have the "squash and merge" button? Or does this reference when there are conflicts in a PR and that needs to be rebased before it can be merged?

[2017-01-16 13:33] russdaygh commented on #1699
I'm looking at this one currently.

[2017-01-16 13:34] DavidArno commented on #641
I shall take a look at (and hopefully even do something with) this issue during the NDC London codeathon.

[2017-01-16 13:46] shahiddev commented on #1707
FYI for anyone trying to setup twitter auth for testing, you need to provide a url for callback in the twitter app page - localhost doesn't work but any url should work. Without this you'll run into a 401 error before you even see the consent screen

[2017-01-16 13:54] stevejgordon commented on #1709
@BillWagner Working on this currently as finished off the slightly related retry logic which was easier to get in first.

[2017-01-16 14:01] #1586 closed

[2017-01-16 14:03] #1708 closed

[2017-01-16 14:06] recumbent opened #1716 "Visibility of "manage keys" option in Site Admin is not correct"
In order to manage keys for a user that user has to have been given API access but in the UI for site admin when you click "edit" for a user that does not have API access you see the following:

![image](https://cloud.githubusercontent.com/assets/1500642/21985653/a83aa02e-dbf3-11e6-808e-024496e9e6bb.png)

If you click on the "Manage Keys" button you get a bad request - because the user has to have

[2017-01-16 14:31] mipre100 commented on #1506
I have been able to reproduce an issue here. When I volunteered, I got a number of System.InvalidOperationException exceptions, but I also get a slightly different screen from @stevejgordon
<img width="713" alt="screen shot 2017-01-16 at 14 05 28" src="https://cloud.githubusercontent.com/assets/4063056/21985913/e52f1fe0-dbf4-11e6-92f3-8e2c03153c3f.png">
Example exception: [here](https://gist.githu

[2017-01-16 14:46] mjmilan opened #1717 "Make "Limit volunteers to tasks" more granular."
At the moment, when editing an event, we have the option to limit the number of volunteers to those specified on the tasks assigned to that event. I suggest consideration is also given to allowing this to be applied on a task by task basis as well...

It seems to me likely that there would be some tasks (perhaps organisational) which naturally require a small number of volunteers, where as you mig

[2017-01-16 14:47] mjmilan opened #1718 "Editing a task with invalid data disables the Cancel button."
Create an Itinerary event
Create an associated task that has a end date not on the same day as the start date.
When you try to save the task you will be given a helpful validation warning message - but if you now click the "Cancel" button, nothing happens...

We should be able to cancel out of the edit operation on the task regardless of the information on the task, valid or not.

[2017-01-16 14:49] mjmilan opened #1719 "Can organization admins add new skills?"
Can an organization admin add new skills to the system, and if not, should they be able to?

As new organizations come to use the system, they will want skills to be available that are relevant to the particular domains they work under. So, someone fitting a smoke alarm for example could, conceivably, have a skill of "Ladder Operation".

I am unable to confirm this directly as I cannot verify a ne

[2017-01-16 14:50] erangell commented on #1324
The sample data is in this file:
AllReadyApp\Web-App\AllReady\DataAccess\SampleDataGenerator.cs(66)

This is a good issue for people who are new to Github and want to practice the pull request workflow.  An instructor can have students fork their copy of the repository to their own github accounts, have them edit the sample data in Visual Studio, commit their changes locally, push to their persona

[2017-01-16 14:57] tonysurma commented on #1719
Org admins can create new skills at an org level to do as you describe, not sure off top of my head how much is complete or open issues but that is desired functionality and at least built into object model

[2017-01-16 15:34] OhMcGoo commented on #1719
I agree with Tony. This creates a potential problem of "category creep" meaning some Orgs may create skills so detailed that they may only apply to a single person (Smith County Left-Handed Power Drill Operators) but that's a user issue, not a coding issue.

[2017-01-16 15:41] OhMcGoo commented on #1507
This works for me. Down the road, we may want to consider the option of only showing volunteers tasks for which they have had skills pre-assigned by the Org.

[2017-01-16 15:54] Diana380 commented on #1507
i can take this one

[2017-01-16 16:02] naeemsarfraz commented on #1411
I've just submitted PR #1723 which adds a required attribute to the input elements which should stop an empty form being posted.

Looking into providing feedback to the user about what's gone wrong.

[2017-01-16 16:47] mjmilan commented on #1719
I'm happy to close this to prevent anyone attempting code changes if you guys are...

[2017-01-16 17:00] DavidArno commented on #641
Looking at this file in more detail, it is already 1400+ lines long and has dozens of stubbed tests in it, so will grow hugely when finished. Should it therefore be split up into a number of separate test classes, eg separate test classes for email, phone, password tests, etc?

[2017-01-16 17:07] shahiddev commented on #1707
@stevejgordon I can't seem to reproduce this exactly as you've described. If I cancel or navigate away from the twitter consent screen and then return to AllReady login screen and try Twitter again it works as expected.

However if/when I press the cancel button it gives me an option to return back to AllReady page, that currently fails.
![image](https://cloud.githubusercontent.com/assets/11890711

[2017-01-16 17:23] Chris-Wooder commented on #641
Note, to prevent duplication, I am currently working on the SetPassword tests, but haven't created a PR yet

[2017-01-16 20:49] DavidArno commented on #641
@Chris-Wooder,

Whilst I'm really unlikely to cover all the missing tests here, that's handy to know. Luckily I'm focusing on the telephone number tests, so we shouldn't clash.

[2017-01-16 23:53] mgmccarthy commented on #641
@DavidArno, splitting up the unit tests into separate classes sounds like a good idea.

[2017-01-17 00:04] mgmccarthy commented on #1697
@HamidMosalla, it's my fault about the confusion. I never assigned this Issue to myself  and I should have. Sorry about that.

[2017-01-17 09:11] DavidArno commented on #641
@mgmccarthy,
OK, thanks.

@Chris-Wooder,
I'll split out all the test methods that mention PhoneNumber in their names only, so as not to affect you.

[2017-01-17 11:08] stevejgordon commented on #34
Initial discussion in the room here at NDC with @RichardCampbell and the team is to bring this forward now.

At a high level we are proposing implementing Identity Server 4 as our HTbox auth solution which can support single sign-on across HTbox products. This would become the central auth solution.

This will likely spin out into sub issues but bumping this to kick start the discussion.

cc/ @ton

[2017-01-17 11:17] stevejgordon commented on #38
We currently have the concept of a single campaign goal. This requirement would see us adding staged goals for campaigns and perhaps also at the event level.

We would need to add supporting tables to store multiple goals against a campaign with a way to set the bounds of that goal.

[2017-01-17 11:19] stevejgordon commented on #107
@tonysurma Good question. We've just popped #34 back to the top of the stack per discussions here with @RichardCampbell so this might become a related item.

[2017-01-17 11:21] stevejgordon commented on #186
@MisterJames Would be good to chat about this one when you have some time and see what is needed around notifications. I think perhaps a few things have changed as notifications generally have come forward. We have the basis of the SMS flow in, but nothing for emails for requesters as far as I know.

cc/ @mgmccarthy

[2017-01-17 11:31] recumbent commented on #783
This looks like its intended for NotifyVolunteerForTaskUnenrollHandler (there is no NotifyVolunteerForUserUnenrolls or near equivalent) in which case its covered by tests and this could be closed /cc @stevejgordon @mgmccarthy

[2017-01-17 11:33] stevejgordon commented on #783
@recumbent Thanks, looks like this is correct so I will close this issue.

[2017-01-17 11:33] #783 closed

[2017-01-17 11:37] Diana380 commented on #1507
this change has been applied in PR https://github.com/HTBox/allReady/pull/1733

[2017-01-17 11:49] stevejgordon commented on #209
This flow is now in place. I will validate each client and raise new issues should any fail

[2017-01-17 11:49] #209 closed

[2017-01-17 11:53] stevejgordon opened #1734 "Google Sign In Failure"
After signing in using my Google credentials I am taken back to allReady but the page errors:

![image](https://cloud.githubusercontent.com/assets/3669103/22019387/56491594-dcab-11e6-861f-fd35e51a7d23.png)

Expected Result:

The Account/ExternalLoginCallback view should load allow collection of user details and completion of registration.

System.Net.Http.HttpRequestException: Response status code

[2017-01-17 11:57] shahiddev commented on #1734
I've encountered this and its a setup issue, you have to enabled Google + API, have just tested this otherwise as part of fix  #1707 and it worked fine once I enabled that.

[2017-01-17 12:02] recumbent commented on #863
Reviewing this at NDC London will add more tests /cc @stevejgordon

[2017-01-17 12:12] stevejgordon commented on #1734
Thanks @shahiddev

[2017-01-17 12:12] #1734 closed

[2017-01-17 12:17] mipre100 commented on #38
This is related to #254: Design needed for goals and reporting

[2017-01-17 12:26] stevejgordon commented on #249
NDC note - Looks like this isn't completed and we need to expose a way to copy the contact information for the Org when adding a new campaign.

My proposal would be to load the org contact info into the view model and render it near the campaign Primary Contact fields. Add a checkbox to use Org info which is selected hides the specific fields in the UI.

![image](https://cloud.githubusercontent.co

[2017-01-17 13:26] stevejgordon commented on #38
@mipre100 Might be able to start with a basic dev created UI. So we first add the ability via this issue to create interim goals in the admin area. i.e. By date xyz we want to have completed X requests. We'll then need to figure out how to determine the progress towards the goal. I have a story around adding more details request history logging which will likely help with tracking actual progress

[2017-01-17 13:28] mipre100 commented on #38
OK, I'll start the work to allow adding multiple goals based on the current text and numeric goals. We can then extend it for date based goals.

[2017-01-17 13:28] stevejgordon commented on #468
I think this can be closed out now as the controllers/actions have been updated in nearly all cases.

[2017-01-17 13:28] #468 closed

[2017-01-17 13:31] stevejgordon commented on #521
@shahiddev do you think that change you made earlier should have fixed this?

[2017-01-17 13:35] DavidArno opened #1736 "Move unfinished/skipped phone number unit tests in ManageControllerTests to new class and implement those tests"
With reference to #641, it has been agreed with @mgmccarthy that we should split this class up into a number of separate classes, focused on email, phone number, password etc tests, respectively.

This issue relates specifically to the phone number tests:

1. Split out the phone number tests into a new `ManageControllerPhoneNumberTests` class,
2. Implement those tests.

@stevejgordon could you tag

[2017-01-17 13:36] stevejgordon commented on #1736
@DavidArno done 😄

[2017-01-17 13:37] stevejgordon commented on #752
I think this can be closed out now.

[2017-01-17 13:37] #752 closed

[2017-01-17 13:37] recumbent opened #1737 "Unable to explicitly revoke API keys or remove API Access"
We have the ability to grant API access to a user and to then issue that user with an API access key.

However there's no way that I can see to then revoke API access nor to _explicitly_ revoke an access key (although the lack of an explicit revoke method for the key/token is also true of the underlying UserManager).

An access key can be implicitly revoked by simply creating a new one and then fo

[2017-01-17 13:37] stevejgordon commented on #740
Closing as we're picking up any left over skipped tests in specific issues

[2017-01-17 13:37] #740 closed

[2017-01-17 13:38] recumbent commented on #863
Upon reflection - and having read enough code now - I'm not sure I can add much in the way of value here. Probably ought to be closed @stevejgordon @mgmccarthy

[2017-01-17 14:03] stevejgordon opened #1738 "Investigate Progressive Web Application"
Initial discussion around thoughts on implementing a PWA approach to the application so that we can support more offline scenarios, install icon on the phone and use phone features where applicable.

The current Cordova app has not been developed in some time and the tooling is now fairly unsupported.

We need a solution to build out volunteer management pages to view work items and mark progress

[2017-01-17 14:09] stevejgordon commented on #996
Closing this as we have done away with ConfigureAwait

[2017-01-17 14:09] #996 closed

[2017-01-17 14:09] stevejgordon commented on #913
Linked to #1663 once we have designs

[2017-01-17 14:11] stevejgordon commented on #1305
Closing this as we have validated the social logins here at NDC and made some small changes to handle some issues we were seeing. In this case it sounds like Facebook dev setup issue?

[2017-01-17 14:11] #1305 closed

[2017-01-17 14:12] stevejgordon commented on #1299
Closing as this was completed

[2017-01-17 14:12] #1299 closed

[2017-01-17 14:12] naeemsarfraz commented on #1387
So I've been looking at this during the codeathon at NDC and it's challenging. I won't get through it today but I'm happy to continue to look at it after today.

I would like to ask: what's the thinking behind renaming `AllReadyTask` to `Task`? It causes plenty of collisions because of `System.Threading.Tasks.Task`, which @mgmccarthy saw in the screen shot that was provided.

After a quick chat wi

[2017-01-17 14:13] shahiddev commented on #521
@stevejgordon Possibly, it depends on exactly what point of auth flow was cancelled. I'll test it to be sure so we can close this out if not required.

[2017-01-17 14:14] stevejgordon commented on #1578
Closing this duplicate. Completing under #1709

[2017-01-17 14:14] #1578 closed

[2017-01-17 14:17] stevejgordon commented on #1508
@bwood2 You might be able to consider the register button when working on any design items for the site in general?

[2017-01-17 14:24] shahiddev commented on #521
@stevejgordon Yes works as expected after fix #1707 and returns user to login screen so we can close this one off

[2017-01-17 14:31] shahiddev commented on #1738
Are the thoughts that it would be separate web app focused on the use cases required for the field user e.g. itinerary, appointment management, task completion. This might be easier to manage and develop rather than bundling all this logic into the existing web app?

[2017-01-17 14:40] stevejgordon commented on #873
cc/ @BillWagner per our conversation at NDC

[2017-01-17 14:48] dpaquette commented on #562
Yeah we should do this but I would consider it fairly low priority. It should be relatively easy to do but we have to consider that it will require changes to any deployed environments and any local user secrets that existing developers have setup.

[2017-01-17 14:51] stevejgordon commented on #479
Having checked this - It looks done so I'm closing this. UI and design will be covered in other issues

[2017-01-17 14:51] #479 closed

[2017-01-17 14:54] stevejgordon commented on #1738
@shahiddev All up for discussion I think as I must confess I'm not sure how PWAs are best designed. Certainly the bits we most need don't yet exist and need to be added around volunteers closing tasks etc.

[2017-01-17 15:01] RichardCampbell commented on #34
I'm going to advocate for IdentityServer (http://identityserver.io/) for a few reasons:
- Supports federating with a variety of identity sources (including active directory) so that we don't have to store credentials at all
- Has no dependency on Azure, you can run on prem, in a VM or as an Azure Web App
- Library is part of the .NET Foundation, so well defined, protected open source library
- Dom

[2017-01-17 15:01] Diana380 commented on #249
I have started looking into this.

[2017-01-17 15:01] shahiddev commented on #1522
@stevejgordon Yes you can run and debug webjobs locally, happy to add to wiki with instructions and useful tools for working with the webjobs

[2017-01-17 15:02] stevejgordon commented on #1576
Closing as I've added Polly to cover this off already.

[2017-01-17 15:02] #1576 closed

[2017-01-17 15:46] stevejgordon commented on #555
This no longer appears to be an issue.

![image](https://cloud.githubusercontent.com/assets/3669103/22027543/18798c96-dccc-11e6-86ff-98a736a714fa.png)

[2017-01-17 15:46] #555 closed

[2017-01-17 15:53] #1716 closed

[2017-01-17 16:03] BillWagner commented on #1507
Closed. I merged PR #1733

[2017-01-17 16:03] #1507 closed

[2017-01-17 16:14] recumbent commented on #1351
As at NDC London the field has an input type of url which means that its the browser (strictly the user agent) that validates the input and this fires before the MVC validation.

Testing on both chrome and edge shows equivalent behaviour in requiring the http:// in order for the entry to be "valid" and in showing an error when you click the create button

Edge:
![image](https://cloud.githubusercon

[2017-01-17 16:17] BillWagner commented on #1506
Fixed in PR #1724

[2017-01-17 16:17] #1506 closed

[2017-01-17 16:18] BillWagner commented on #1411
Fixed in PR #1723

[2017-01-17 16:18] #1411 closed

[2017-01-17 16:20] BillWagner commented on #1699
Fixed in PR #1726

[2017-01-17 16:20] #1699 closed

[2017-01-17 16:49] DavidArno commented on #1736
One test remains marked as "skip" and fails if enabled. Needs a further PR to fix this.

[2017-01-17 17:14] mgmccarthy commented on #186
@MisterJames @stevejgordon

Yeah, not too sure what SendGrid is an how it works. James, you mention putting message on "the bus" directly. I'm assuming this means Azure queues? I'm confused, b/c IEmailSender and ISmsSender are just abstractions that use Azure queues

[2017-01-17 17:16] #863 closed

[2017-01-17 17:18] mgmccarthy commented on #1736
@DavidArno can this issue be closed seeing as PR #1740 was merged?

[2017-01-17 17:21] mgmccarthy commented on #1387
@naeemsarfraz, my thoughts are unless we name this entity to something other than `Task` (like you mentioned), we might be stuck with the `AllReadyTask` name for now.

@tonysurma @MisterJames @stevejgordon what do you guys think? not too sure if `Job` is the way to go here...

[2017-01-17 19:49] shahiddev commented on #34
I think the comment you made @RichardCampbell is also worth highlighting, whatever the solution agree on we don't want to introduce a barrier (or at least a significant one) for a new developer to get started with the solution. If they have to provision some azure services before they can start contributing then that will be a a hurdle that is probably not desirable.

[2017-01-17 21:16] DavidArno commented on #1736
@mgmccathy,

Unfortunately it needs to stay open for a little longer as I made a mistake and another small PR is needed to fix that. I'm aiming to create that PR tomorrow lunchtime (GMT) so ought to be ready for when you come online.

[2017-01-18 01:13] mgmccarthy opened #1743 "Remove any "Returns(Task.FromResult(() => ))" calls in unit tests used in conjunction with "mediator.SendAsync()" and instead use ".ReturnsAsync()""
Remove any "Returns(Task.FromResult(() => ))" calls used in conjunction with "mediator.SendAsync()" from unit tests and instead use ".ReturnsAsync()"

- the syntax is nicer and easier to understand
- we're utilizing Mock's async API to its fullest
- for MediatR 3.0 upgrade, "SendAsync" is going away and so is "Returns", so this is a refactoring step towards that eventual upgrade
- re-wrote some un

[2017-01-18 09:11] recumbent commented on #1737
May not be relevant given #1738

Depending on the choices made in terms of "where" to implement the event client we may still need the API but if using a progressive web application we're not then going to be handing out API keys on a per user basis.

[2017-01-18 09:31] stevejgordon commented on #1387
@naeemsarfraz - A while back we had these called Activities within the domain but they where changed to tasks to align with the Red Cross language so I'd want @tonysurma's input on this really.

What this actually represents is a resourcing requirement as part of the event which can be time bounded. So essentially we're saying we need 2 ladder holders on the 20th of January. Users can then volunte

[2017-01-18 09:35] stevejgordon commented on #186
@mgmccarthy SendGrid is the email service, much like Twilio is for SMS. You fire a representation of an email you want to send into SendGrid and they handle the actual delivery and logging etc of the message.

As you say, we're putting messages onto Azure Queue and the webjobs handle sending so that part I believe is covered.

My guess what that this was around defining pre-made email templates (c

[2017-01-18 09:38] stevejgordon commented on #1351
My guess was that this issue was more around explaining to the user what is expected (i.e. protocol required) so that the invalid URL message is more easy to understand. It might just be some UI hints we need.

[2017-01-18 11:17] stevejgordon commented on #1717
Good suggestion @mjmilan - thanks for raising it.

@tonysurma @OhMcGoo @Schuback - Are you able to help us determine if this is something that would be needed in our scnerarios?

[2017-01-18 12:25] mgmccarthy commented on #186
@stevejgordon, I see... now the template thing makes sense. That gets us out of building up any style or content in the handlers and puts that into a separate area using the templates

[2017-01-18 12:28] DavidArno commented on #641
@Chris-Wooder,

Just to check, are you only working on the SetPassword tests, or have you worked on the email ones too? If just the password ones, then I'll raise another new issue to split the email ones out to a new class and will implement them.

[2017-01-18 13:05] recumbent commented on #1351
@stevejgordon happy to agree - the biggest issue here is that the browser validation pre-empts the rest of the validation - so it is, at the very least, inconsistent with the other MVC validation.

I suppose that leads to a broader question of UI hints / help / documentation.

[2017-01-18 13:20] neonboxx commented on #1283
Does this issue need closing?

[2017-01-18 14:26] stevejgordon commented on #1283
@neonboxx Yes it does, thanks.

[2017-01-18 14:26] #1283 closed

[2017-01-18 14:34] mgmccarthy commented on #1737
@recumbent, you might want to check out Issue #1586, which is an open issue for getting our token working/recognized on post-back.

[2017-01-18 14:37] DavidArno commented on #1743
@mgmccarthy,

There only appear to be 19 occurrences of this pattern, so I'll take on this task to change them.

[2017-01-18 14:48] mgmccarthy commented on #1743
@DavidArno I've already submitted a pull request for this, so please do not work on it.

[2017-01-18 14:49] DavidArno commented on #1743
@mgmccarthy

Oh yeah, missed that PR amongst all your title renames! 😝

[2017-01-18 15:43] recumbent commented on #1737
@mgmccarthy I picked #1586 up at NDC London, fixing that (and the UI) is what led me to ask about this.

[2017-01-18 15:55] recumbent commented on #1737
@mgmccarthy I think the more important bit is to be able to remove the API access role (as in "I clicked this by mistake, how do I reverse the action?). Its by no means critical, but it will make for a better experience.

[2017-01-18 17:30] OhMcGoo commented on #1717
I think it makes sense to have the option to set both a maximum number of volunteers AND a minimum number of volunteers required to complete a task. Can it be an option that can be toggled on and off as a setting at either the Organizational or Event level?

[2017-01-18 18:11] stevejgordon commented on #1717
Thanks @OhMcGoo

So if an event is set to enforce any task volunteer limits those are enforced for every task. Should every task require that limits are provided i.e. you can only save the task if you provide a min and max value? Or should we allow those fields to be left blank in which case we assume no max limit for that particular task?

In my understanding so far, in cases where the limit is e

[2017-01-18 18:27] OhMcGoo commented on #1717
@stevejgordon: No, setting volunteer limits shouldn't be a requirement for saving a task. Instead, by setting a minimum or maximum, the task can display how many volunteers are still needed, how many spots are left or that a task is filled. And for some tasks, an organization may want to simply get as many bodies as they can. Thus, they'd choose not to set any limits (except maybe a minimum needed

[2017-01-18 18:53] stevejgordon commented on #1717
Thanks again @OhMcGoo - Let me double check what's in our current code now vs. your clarifications above and see if we need some issues to close the gaps.

[2017-01-18 18:58] schuback commented on #1717
I would second @OhMcGoo.  Being able to set a limit or keep it open will be
very helpful.  I can see in the future the ability to use previous
campaigns data to identify possible volunteers and being able to reach out
to them when we have a similar task with a gap in volunteers.

On Wed, Jan 18, 2017 at 10:53 AM, Steve Gordon <notifications@github.com>
wrote:

--

Pascal Schuback
pascal@schuback.c

[2017-01-19 06:12] naeemsarfraz commented on #1387
How does `VolunteerTask` sound to everyone?

[2017-01-19 22:22] #1707 closed

[2017-01-19 22:22] #1736 closed

[2017-01-19 22:27] #861 closed

[2017-01-20 03:17] mgmccarthy opened #1748 "Change the route on RequestApiController to the correct route for token protected middleware"
Now that #1586 has been fixed (our generated tokens are recognized on post-back), RequestApiController can truly be secured using a route that token protected middleware will intercept and verify.

[2017-01-20 13:29] stevejgordon commented on #1387
@naeemsarfraz Works for me but would want input from projects owners as well

cc/ @tonysurma @MisterJames

[2017-01-20 13:35] tonysurma commented on #1387
VolunteerTask Works for me.  I would not suggest activities return.

[2017-01-20 21:56] premsai opened #1750 "tsc.exe exit with error for web project"
Hi.
Getting error tsc.exe exited with code 1 when trying to run compile the project in VS2015 Enterprise edition

<VsTsc
      ToolPath="$(TscToolPath)"
      ToolExe="$(TscToolExe)"
      TSConfigFile="%(ConfigFiles.Identity)"
      YieldDuringToolExecution="$(TscYieldDuringToolExecution)"
      ProjectDir="$(ProjectDir)"
      ToolsVersion="$(TypeScriptToolsVersion)"
      TypeScriptCompileBlock

[2017-01-20 22:10] chinwobble commented on #1558
@mgmccarthy hi I was wondering if you had a chance to work on this. I was keen to see what you came up with.

[2017-01-20 23:00] chinwobble opened #1751 "Unable to resolve nuget packages"
after rebasing onto commit 84e97bd I get the following errors in Visual Studio.

[code]

Any thoughts. I doubt its unlikely that nuget is down. Perhaps I am having trouble connecting to it?

[2017-01-20 23:01] #1751 closed

[2017-01-20 23:42] stevejgordon commented on #1750
Hi @premsai

We've seen some issues with the latest versions of typescript. I believe version 2.0.6 should be okay. In addition if your're running VS 2017 RC I've found the early versions of that caused me issues compiling the site in VS 2015.

[2017-01-21 15:04] mgmccarthy commented on #1558
@chinwobble, too busy doing code reviews/writing code for v1 release to get to this yet, bit I do know what iwant to write.

[2017-01-21 15:52] #1697 closed

[2017-01-21 15:52] #1743 closed

[2017-01-21 17:05] #1748 closed

[2017-01-21 17:06] MisterJames opened #1753 "Investigate use of built\local folder"
There seem to be some artifacts from a year or so ago, I'm going to verify they're not in use in either of the projects.

[2017-01-21 17:29] #1753 closed

[2017-01-21 18:34] tonysurma opened #1755 "include config.json in publishing"
add to this section (causes error in live production deploy)
https://github.com/HTBox/allReady/blob/master/AllReadyApp/Web-App/AllReady/project.json#L99

[2017-01-21 18:47] tonysurma opened #1756 "Verify production deployment configuration is accurate"
Here is the 'fields' we have configured currently

![image](https://cloud.githubusercontent.com/assets/5067595/22176800/8613b82c-dfd7-11e6-82d3-074c4c184ade.png)

@stevejgordon @mgmccarthy @MisterJames what else am I missing?

I want to document this and am also creating a new deploy for -d as I think there is too much cruft in there from a million deploys since first beta of .net core that is cre

[2017-01-21 20:42] mgmccarthy opened #1757 "Should we still record an ApiRequest in our db when the ApiRequest is not in the list of supporeted regions?"
@billwagner @OhMcGoo @tonysurma  cc @stevejgordon @MisterJames

I'm looking at the code for [this closed PR now](https://github.com/HTBox/allReady/pull/1726) which has to do with the "approved" list of regions that we service based on incoming requests from GASA (at least for v1 launch).

Based on the implementation of this PR, it looks like we're still writing the Request to our db but then repor

[2017-01-23 12:08] mgmccarthy commented on #1609
Closing this b/c Issue #1699 is closed.

[2017-01-23 12:09] #1609 closed

[2017-01-23 13:09] stevejgordon commented on #1757
@mgmccarthy Your understanding matches how I'd interpreted the requirement also but we need this validated by the project owners.

[2017-01-23 13:17] mgmccarthy commented on #1757
thanks for taking a look @stevejgordon.

[2017-01-23 13:21] stevejgordon commented on #1755
@tonysurma - Just noticed you're assigned. I have code for this. Did you want a PR?

[2017-01-23 13:56] tonysurma commented on #1755
Sure!

[2017-01-23 14:32] #1755 closed

[2017-01-23 14:48] stevejgordon commented on #1756
Looks like we're missing a couple we need for Google social login

Authentication:Google:ClientId
Authentication:Google:ClientSecret

We also need

Mapping:EnableGoogleGeocodingService set to true
Mapping:GoogleMapsApiKey set with a valid API key for google so we can geocode addresses and optimize routes.

There's also a setting missing for ApplicationInsights:InstrumentationKey

There's a new set

[2017-01-23 15:05] tonysurma commented on #1756
per @stevejgordon and @mgmccarthy I will also review config.json for missing ones.  There are some 'enableX' settings that may explain why we aren't getting txt messages and such sent

[2017-01-23 17:42] stevejgordon opened #1763 "Login via Twitter Fails"
After an initial successful login via twitter if you logout and then try logging in the next time we get an application error.

AllReady.Features.Login.ApplicationUserQueryHandler+<Handle>d__2.MoveNext() in ApplicationUserQueryHandler.cs
            var normalizedUserName = message.UserName.ToUpperInvariant();
System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
System.Runtime

[2017-01-23 17:53] premsai commented on #1750
@stevejgordon Thanks a lot ver 2.0.6 worked. !!!!

[2017-01-23 17:53] #1750 closed

[2017-01-23 17:53] premsai commented on #1750
Issue fixed

[2017-01-23 22:38] ricky68 opened #1764 "tsconfig.json in Allready web app"
File seems to require a script file to compile.
If no typescript is to be used in this project I suggest removing the tsconfig.json file, otherwise app will need a dummy file until it is used.

I've just installed the web application for the first time and run into this problem so perhaps not an issue for existing devs?

Ricky

C:\projects\allReady\AllReadyApp\Web-App\AllReady.UnitTest\error CS000

[2017-01-23 23:33] shahiddev commented on #1763
@stevejgordon  Happy to pick this up tomorrow if you have other issues to deal with? I presume the twitter account being used to register the app has requested email permissions from Twitter?

[2017-01-24 00:17] tonysurma commented on #1763
Including @mgmmccarthy

[2017-01-24 00:17] tonysurma commented on #1763
And @mgmccarthy :)

[2017-01-24 06:06] stevejgordon commented on #1763
@shahiddev - Sure, please do. I will be unlikely to get to it until later today at the earliest.

We don't currently get the email back from Twitter. I believe @mgmccarthy has tried a few permissions and even on our API call to get the user info it's not available in the returned data.

That certainly is the issue, since upon login it's expecting to have the email in order to match up the login to

[2017-01-24 09:50] stevejgordon commented on #1764
HI @ricky68

I suspect you're running into the same as in #1750

VS 2017 RC had also broken VS 2015 typescript for me so I removed that.

[2017-01-24 12:49] ricky68 commented on #1764
Hi Steve,
I have installed 2017 RC. Did you remove the whole thing or a specific part?
Probably don't need 2017 just yet.

Thanks,
Ricky

[2017-01-24 13:04] stevejgordon commented on #1764
@ricky68 - In my case I gave up and removed the whole thing. I didn't spent too long working out the exact cause of the problem.

[2017-01-24 13:21] ricky68 commented on #1764
The two suggestions I've given seem to work for me. I'm going to need 2017 soon for work, so I'm tempted to leave it on.
Richard Campbell suggested I look into one of the HTBox projects at the NDC as I was wanting to get some experience in using core. If you have any suggestions of a good starting point I could help with in the project, that would be great.

[2017-01-24 13:31] mgmccarthy commented on #1763
@shahiddev cc @tonysurma @stevejgordon

[I wrote a blog post about my experiences trying to pull email from Twitter](http://www.michaelgmccarthy.com/2016/07/07/asp-net-core-retrieving-a-users-email-and-name-from-the-twitter-external-login-provider/). The nitty-gritty of what I had to go through is in that blog post.

The code at for the Twitter provider at the point used LinqToTwitter to make a ca

[2017-01-24 14:46] mgmccarthy commented on #1757
pint @tonysurma, have you had a  chance to look at this yet?

[2017-01-24 15:03] tonysurma commented on #1757
Correct we should only record a request if we will do anything with it. So for ones we won't service we should not store it in the DB.

[2017-01-24 15:10] mgmccarthy commented on #1757
Okay, I'm going to work on fixing this next.

[2017-01-24 16:11] ricky68 commented on #1764
@stevejgordon - Sorry new to github, I'll look at the jump-in stuff.

[2017-01-24 16:11] #1764 closed

[2017-01-24 16:13] shahiddev commented on #1763
Thanks for the info @mgmccarthy
Just investigating at the moment, initial thoughts are its not directly related to the Twitter API because the user is required to complete the additional information when registering. It looks like that additional information isn't being retrieved correctly. Will dig further...

[2017-01-24 16:16] mgmccarthy commented on #1763
@shahiddev, thanks for taking a look. Do you mind if we assign this issue to you?

@tonysurma @stevejgordon can either of you add @shahiddev to the project so we can assign this issue to him?

[2017-01-24 16:21] stevejgordon commented on #1764
@ricky68 - No problem. Any questions, let us know and we can help, but yes, any unclaimed jump-ins would be a good place to start.

[2017-01-24 16:24] stevejgordon commented on #1763
@shahiddev - You should have an invite waiting which will then allow me to assign to you directly.

The issue is that on login we still hit the ExternalLoginCallback which expects to be able to check for the existing user by email, retrieved from the externalUserInformationProvider. As this returns no email for Twitter the lockup failed and we have a null user.

When I looked quickly last night I

[2017-01-24 16:28] shahiddev commented on #1763
I've accepted now so please assign.

@stevejgordon yes that's the gist of it, basically we need to be able to retrieve the registered user based on the information that twitter has given us (which is very little!).

[2017-01-24 16:32] mgmccarthy commented on #1763
I'd just like to say one more time how much Twitter sucks. rant over.

[2017-01-24 16:32] shahiddev commented on #1763
I guess the only other thing to bear in mind on this is that we potentially want to go down the route of identifyserver  then AllReady will no long contain any of the authentication code instead relying on OpenIdConnect/OAuth2 middleware.

I we intend to go to V1 with the current authentication approach then its worth fixing, otherwise it may be better to focus energy on relying externalising the

[2017-01-24 17:04] mgmccarthy opened #1765 "Write unit tests for SendInProgressStatusToGetASmokeAlarmHandler"

[2017-01-24 18:28] shahiddev commented on #1763
@stevejgordon (I tried to accept the invitation - not sure if it worked?)

[2017-01-24 18:41] stevejgordon commented on #1763
@shahiddev - Looks good. You're now assigned.

I think realistically if the go live is end of the month then having IdentityServer fully thought out and implemented will be unlikely for v1. If we can do the minimum required to tweak the flow here I think it will be worth doing so that the first use can take place.

[2017-01-24 18:49] shahiddev commented on #1763
@stevejgordon - thanks, yes understood and agreed.

Ok I think I've got this working in principle with minimal code changes, infact probably can remove a chunk of code (my favourite thing!).

To retrieve the email address now from Twitter is simpler than it would appear to have been before. You have to just tick the request email address option and it appears to be enabled automatically, no more m

[2017-01-24 19:04] mgmccarthy commented on #1763
@shahiddev this is definitely the non-greedy profile. Most people would agree to this. Nice work!

[2017-01-24 19:15] mgmccarthy opened #1766 "Write unit tests for SendRequestStatusToGetASmokeAlarmHandler"

[2017-01-25 11:26] chinwobble opened #1769 "Add httpClient abstractions SendRequestStatusToGetASmokeAlarm"
At the moment we are missing proper abstractions `SendRequestStatusToGetASmokeAlarm` class.

[2017-01-25 11:55] mgmccarthy commented on #1769
@chinwobble, the problem with using the IHttpClient abstraction on this one (and why I haven't moved to it yet) is b/c of the http headers involved in putting the auth token onto the POST request. At least that was my reasoning when I wrote it.

I just did a quick search around and it looks like TwitterService uses the IHttpClient static instance in a POST scenario. Instead of attaching the http h

[2017-01-25 12:24] stevejgordon opened #1770 "Update GoogleGeocodeService - URL building"
Currently the GoogleGeocodeService uses a UrlEncoder to encode the address data we're sending - After reading a few posts it seems that the preferred way to do this is actually using Uri.EscapeUriString

A small update is required to change this.

[2017-01-25 12:24] stevejgordon commented on #1770
I'm on it

[2017-01-25 12:49] mgmccarthy commented on #873
ping @BillWagner @stevejgordon  cc @MisterJames @tonysurma

I've spent about a half-hour this morning playing around with [Elmah.IO](https://elmah.io/), which is a cloud-based logging solution built off the code the made the original [ELMAH](https://github.com/elmah/Elmah) so successful.

[It took about five minutes to get up and running](http://docs.elmah.io/logging-to-elmah-io-from-aspnet-core/)

[2017-01-25 13:12] stevejgordon commented on #873
Hey @mgmccarthy - I was thinking on this last night also. I've briefly looked at Elmah.io myself and it looked pretty good. I didn't pull it in or test with it though.

I'm open to whatever gives us the best diagnostic tools and ways to react to exceptions etc that are captured. I was wondering if we should be looking more at AppInsights since this is part of Azure (and we get a lot of Azure credi

[2017-01-25 13:18] mgmccarthy commented on #873
@stevejgordon, unfortunately, I have no experience with AppInsights and how that relates or doesn't relate to Azure. I'm not too sure if some one else wants to pick that up and have a go at it running locally.

I'm not too sure if we would lose some info or other valuable information that AppInsights gives us if were to use Elmah.IO.

Just figured I'd mention Elmah.IO b/c I've been using Elmah for

[2017-01-25 13:20] stevejgordon commented on #873
@mgmccarthy I'm planning to hook up the site to my Azure and have a bit of a play with what we get.

[2017-01-25 13:25] stevejgordon opened #1772 "Replace usages of UrlEncoder"
Following on from #1770 I figure we may as well update all encoding for calls to external REST services

I'm working on this

[2017-01-25 13:27] stevejgordon opened #1773 "Add tests for OptimizeRouteCriteria"
I've started this to validate the behaviour

[2017-01-25 14:51] ExoltenOne commented on #1572
@stevejgordon , is this one ready to go? If yes, could I take it?

[2017-01-25 16:30] stevejgordon commented on #1572
Yeah this is up for grabs. I've got a small job planned in the same files but I can finish that after.

[2017-01-25 20:53] shahiddev commented on #1763
There is an edge case where we may not be able to retrieve the user email address, this may occur for 1 of 2 reasons
1. We've not configured the Twitter application to request email address
2. User does not have an email address configured or it is unverified

If we are unable to retrieve the email address its not possible to determine who the user is (we don't persist any twitter id or related in

[2017-01-26 07:34] stevejgordon commented on #1763
@shahiddev - I'm all for getting the majority of cases sorted first as it will facilitate the testing.

However I think I see a way we can cope with the 10% case also. On the ExternalLoginCallback we get a providerKey along with the name of the provider. Within allReady there is a IdentityUserLogin table from ASP.NET Core identity. That should store the registered provider(s) for a user.

So I thi

[2017-01-26 09:23] ExoltenOne commented on #1572
Cool, so I'm taking it.

[2017-01-26 11:58] shahiddev commented on #1763
@stevejgordon I was looking at the ApplicationUser table which is general Identity fields and therefore was reluctant to modify this to deal with Twitter specifically but the table you mention does work so yes.
I'll open a new issue to cater for this edge case so we can get the rest of the fix reviewed.
Thanks

[2017-01-26 12:02] shahiddev opened #1779 "Ensure Twitter users with no verified email can still login with Twitter login"
Follows on from conversation in #1763
Handle case where twitter user doesn't have email address (or not verified).
Use the twitter Id from IdentityUserLogin<string> table to identify registered user who has just logged in

[2017-01-26 12:02] shahiddev commented on #1779
Happy to tackle this given its a follow on from the other issue

[2017-01-26 13:47] mgmccarthy commented on #1763
@stevejgordon as long as we're sure exposing `IdentityUserLogin` table to EF context is a good idea. It will fix the two edge cases @shahiddev found, but I want to make sure we're not accidentally opening this table up to query against/write to when it's really a "framework-owned" table.

[2017-01-27 07:16] mjmilan commented on #1769
Forgive me if this is already taken care of architecturally, but that sounds like a very campaign specific method name to me.

Should we be placing such campaign specific code in the application, and if so, should we be treating it as a campaign specific add-in?

I would check, but I am using a mobile phone at the moment...

[2017-01-27 10:39] ExoltenOne commented on #284
Any news?

[2017-01-27 12:53] mgmccarthy commented on #1769
@mjmilan  cc @stevejgordon @tonysurma

Yes, it is campaign specific, but until we examine some real world usage, and b/c the launch of v1 is presumably going to happen this month, we had to create the first delivery accepting some Red Cross/GetASmokeAlarm-specific code/verbiage.

As we better understand usage of the system, we'll be able to start to generisize some of this functionality, but make

[2017-01-28 07:52] chinwobble commented on #1769
Could someone please assign this to me?

[2017-01-29 11:03] NRKirby commented on #1603
I'm new to this project & looking for a first issue to pick up.

I can't find `GetMyEventsQueryHandler` in the project? Could someone advise if this issue still needs a unit test & point me where if so?

[2017-01-29 11:19] chinwobble commented on #1603
@NRKirby If you open up the "AllReadyWebOnly" solution, you can find the `GetMyEventsQueryHandler` class under `Web/AllReady/Features/Volunteers/GetMyEventsQueryHandler`

where `Web` is the solution folder and `AllReady` is the c# project.

[2017-01-29 11:47] NRKirby commented on #1603
Thanks @chinwobble, I was indeed in the wrong project.

Just trying to fix a .NET Core error I'm getting & then I'll take a look at this...

[2017-01-29 11:58] chinwobble commented on #1603
@NRKirby have you installed the .net core v1.0.x LTE sdk https://go.microsoft.com/fwlink/?LinkID=836281
and the visual studio 2015 .net core tooling?

[2017-01-29 12:03] NRKirby commented on #1603
I had an old version..

FYI @shahiddev had the same error & pointed me to the correct source here: https://github.com/dotnet/cli/releases

[2017-01-29 12:15] chinwobble commented on #1603
@mgmccarthy I guess its okay on this since the assignee hasn't responded in a while?

[2017-01-29 14:28] mgmccarthy commented on #1603
@chinwobble, you guess what is ok? That @NRKirby works on this issue?

[2017-01-29 14:30] mgmccarthy commented on #1769
@chinwobble, assign what? I need feedback from project owners first as to when we're officially launching v1 so we don't start to refactor/change code to something more generic. We first need to figure out what that actually means.

cc @tonysurma @MisterJames

[2017-01-29 14:42] NRKirby commented on #1603
If you're happy for me to do so I would like to take this on....

A quick question: what format should the names of test classes take? Looking in the unit test project some end `Should` and some end `Tests`?

[2017-01-29 16:04] mgmccarthy commented on #1603
@NRKirby, any unit tests that are not controller unit tests should end in "Should"

[2017-01-29 16:07] NRKirby commented on #1603
Thanks @mgmccarthy

I'm new to this project and just trying to fix some build errors- once I've done this I will try writing the test & submit a PR

[2017-01-29 19:15] #661 closed

[2017-01-29 19:16] #1763 closed

[2017-01-29 19:17] #1770 closed

[2017-01-29 19:18] #1773 closed

[2017-01-29 22:18] #1757 closed

[2017-01-30 13:19] #1772 closed

[2017-01-30 14:19] #1709 closed

[2017-01-31 13:48] #1579 closed

[2017-01-31 20:05] EmilyLuijbregts commented on #1756
@tonysurma - Just wanted to check in. Are there any further ones to be added?

[2017-01-31 20:05] EmilyLuijbregts commented on #1737
@recumbent - Just wanted to check in and see how you were getting on? Do you have an update?

[2017-01-31 20:06] EmilyLuijbregts commented on #1696
@mgmccarthy and @tonysurma - Just checking in on Steve's question. Is there any update or reply to his question?

[2017-01-31 20:17] #1756 closed

[2017-01-31 20:18] tonysurma commented on #1696
I agree with adding this and have added it to the next milestone

[2017-01-31 20:39] mgmccarthy commented on #1696
@stevejgordon GASA does send us the country in their request API calls. They assume all numbers are US numbers, so the country code would always be "1".

Please see [this comment](https://github.com/redcross/smoke-alarm-portal/issues/196#issuecomment-272015035)

[2017-01-31 22:06] DavidArno commented on #1766
I'll grab this one, if I may.

[2017-01-31 22:06] DavidArno commented on #1765
I'll grab this one, if I may.

[2017-02-01 00:08] mgmccarthy commented on #1766
@DavidArno, please do. There are other unit tests that show how to mock/test IBackgroundJobClient, let me know if you have any questions.

[2017-02-01 00:08] mgmccarthy commented on #1765
@DavidArno yours

[2017-02-01 08:00] DavidArno commented on #1766
OK, will do. Thanks.

[2017-02-01 10:22] recumbent commented on #1737
@EmilyLuijbregts oh...

Ok, this is straightforward to address, should be able to add "remove role" (which will also invalidate the key) over the weekend if not before.

[2017-02-01 17:21] stevejgordon commented on #284
While we have a tsconfig.json and a few .ts files. At the moment the config doesn't look to actually build them. In fact, we're getting the error "TS18003: Build:No inputs were found in config file" when this runs with VS2017 installed. My assumption is that it's updated something in TypeScript that is more strict about there actually being files to build. At the moment our config includes/exclude

[2017-02-02 09:24] chinwobble commented on #1769
I think this can be closed now that #1776 has been merged.

[2017-02-02 13:32] #1769 closed

[2017-02-02 15:38] mgmccarthy commented on #1737
@recumbent, if you want to submit a WIP PR for this, please do. We probably should have something that explicitly invalidates a accidentally generated key or in the case where we need to invalidate the key for some other reason.

[2017-02-02 15:46] mgmccarthy opened #1782 "Rename all instances of "Zip" or "ZipCode" to "PostalCode""
A "Zip" or "ZipCode" is very specific to the USA. allReady can be run anywhere. "PostalCode" is a bit more generic on locale than "ZipCode", so I'm thinking it makes more sense internationally.

@stevejgordon this one is for you ;)

[2017-02-02 19:30] shahiddev commented on #1782
Happy to pick this up if Steve doesn't want it :)

[2017-02-02 19:59] mgmccarthy commented on #1782
all yours @shahiddev

[2017-02-04 12:50] mgmccarthy commented on #873
@stevejgordon @tonysurma @MisterJames @BillWagner

Looks like we would qualify for ELAMH.IO's free Small Business license: https://elmah.io/pricing/ if we decided to go with this logging solution.

and on this page: https://elmah.io/pricing/ at the bottom:

"Free for Open Source
We love open source at elmah.io. Apply for a free Small Business subscription for your project."

I know v1 launch is co

[2017-02-04 14:00] shahiddev commented on #873
I've used application insights for some time so happy to chip in.  It works well as a sink for dumping logging/telemetry to and using it for proactive alerting however the "issue" with it is that you're primarily using the Azure portal to inspect/diagnose issues and sometimes this isn't ideal for exposing to the relevant audience. The alerts can trigger emails or webhooks so you have quite a few o

[2017-02-04 15:07] stevejgordon commented on #873
@shahiddev Sounds like it get us most of what we want. Agree the access element needs consideration and comes down to how the site gets supported post deployment.

@tonysurma
a) Would you be happy with app insights?
b) Do we collect anything in Azure currently?
c) Any thoughts on whether access can be temporarily granted and limited to just the relevant app insights part of the Azure portal?

[2017-02-04 18:52] tonysurma commented on #873
A y
B some of what comes out of box or is easily turned on
C I need to test but I am pretty sure I can create a resource Group that app insights it's inside of and give account access only to that

[2017-02-04 19:27] hodorswit commented on #1257
I've had some success in other projects dealing with this issue by leveraging ActionFilters and ExceptionFilters. The ActionFilter would return a NotFoundResult if a controller action returns a null IActionResult, and the ExceptionFilter(s) would convert domain-specific exceptions into HTTP status codes. This got rid of most of the conditional checks in the controller.

The drawback to this approa

[2017-02-05 16:10] mgmccarthy commented on #1257
@hodorswit, thanks for the input.

cc @stevejgordon @tonysurma @shahiddev @BillWagner @MisterJames

This is something we definitely can deal with using ActionFilters and ExceptionFilters, but like you said, if might not be apparent to new developers that this "magic" is happening in the filters, event though most .net developers are familiar with the framework-supplied filters that we see decorate

[2017-02-05 23:45] shahiddev commented on #1782
@mgmccarthy  For the data import would you expect the field name in the CSV data to remain being called "Zip" as this is the format of data expected from the 3rd party system or should we expect this to be called PostalCode too?

We are already mapping the imported fields from the CSV files so we can easily cope with the external data being called "Zip" and mapping this to PostalCode for AllReady

[2017-02-06 12:24] mgmccarthy commented on #1782
@shahiddev, that is a great question. My answer to that is I would expect the import to be named PostalCode as well.

Please translate the 3rd-party Zip into AllReady's PostalCode so when users are importing data, they're seeing Postal Code on the column.

Thanks!

[2017-02-06 12:33] stevejgordon opened #1783 "Campaign Information / Resources"
In order to support linking to additional campaign related information - e.g. "What to do in an emergency" we need to allow org admins to manage such content.

For v1 we believe including the ability to add 1 or more "resources" to a campaign will meet the initial requirement.

Propose for now, we add some UI to enable creation of zero or more resources for a campaign. We will need a model for the

[2017-02-06 12:37] stevejgordon opened #1784 "Printable list of tasks and their volunteer fulfilment"
For the post v1 time-frame it would be useful to provide a way for an org admin to be able to print out a summary of the task fulfilment. Exact requirements of what we should include will be defined at a later date.

[2017-02-06 13:33] stevejgordon opened #1785 "Request - Add a "Notes" Property"
Add a notes property to requests so that any special requirements or request specific information can be stored against the request.

This will need to be added to the data model, db migration and the UI for managing requests.

@schuback - We don't receive special instructions from the 3rd party (GetASmokeAlarm.org) integration. There I presume we consider this an org admin function to update a sp

[2017-02-06 13:37] stevejgordon opened #1786 "Org Admin - Message all Organization Volunteers"
We have a requirement to enable org admins to send a message out to all volunteers for their organization. This would include volunteers for tasks from all campaigns and events.

It might be useful to include a way to refine the scope of the message by allowing the org admin to choose a specific campaign to target as well.

cc/ @schuback for any additional input

[2017-02-06 13:39] stevejgordon opened #1787 "Itinerary Team Lead"
We need to include the concept of a team lead for an itinerary. This will be one team member, marked as the team lead. We will need to track this in the database and provide a UI method to assign a team lead, change the assignment and potentially remove the assignment.

To be scoped out further ASAP