[2015-07-20 12:09] tonysurma opened #1 "Replace PrepOps with allReady"
During initial dev 'PrepOps' was a codename and it has gotten into just about everywhere from folder names to namespaces to variables etc.  This will touch just about everything but we need to move over to 'allReady' going forward.

[2015-07-20 12:12] tonysurma opened #2 "update domainurl in service.js of mobile app"
For now there is a soon to be - if not already - dead url for domainurl in service.js of the mobile app.

We need to make this configurable/changeable for devs to set to local urls and for us to set as we package the apps for testing and production

[2015-07-20 12:13] tonysurma opened #3 "Build and document strategy for testing with identity providers"
as mentioned in the readme the keys for the identify providers will be secrets that are configured in deployment for testing and production.

We need a strategy for how individual contributors can test with identity providers without sharing the 'secret' codes from deployment in production.

[2015-07-20 12:15] tonysurma opened #4 "Responsive image on home page of web app"
At the moment the main hero image on the homepage of the web app crops on mobile instead of responsive resizing.

[2015-07-20 12:25] tonysurma opened #5 "Meta Issue: Need more issues"
During this first week of dev release, there is a backlog of new features and issues (and certainly ones that will come up from the community) that we need to document and log here to support broad contribution by the community.

[2015-07-20 12:26] tonysurma opened #6 "Meta Issue: Need milestones"
Our planning document has a set of aspirations, feature/functional areas and milestone groupings.  We need to document those in the milestone section

[2015-07-20 12:49] tonysurma opened #7 "Add filtering to most views"
Currently there isn't filtering for, say, Activites / Tasks /Campaigns whose end dates are in the past.

Implement past due filtering to fix the bug and additional filters for user functionality.

[2015-07-20 12:50] tonysurma opened #8 "add assigned volunteer to tasks lists"
it'd be awesome to show either 1) assigned user or 2) a button that takes you to the assignment page for the activity, if there no assigned user, in the same column.

[2015-07-20 12:51] tonysurma opened #9 "Non-hover Link color for logged in, non-admin user is the same color as background"
There's a log off and Hello <user>!  link there, but until hovered over they are the same/nearly the same shade as the background.

[2015-07-20 12:51] tonysurma opened #10 "Activity Detail page should list description of Tasks, and sort tasks in time / name order"
Tasks should be in order and have the description property.

Ideally, also make them have a link to the Task details.

[2015-07-20 12:53] tonysurma opened #11 "Add styling and proper responsive collapse to navigation menu on global top"
The navigation (especially when logged in as user or admin) is unstyled and doesn't responsively collapse as well as it could.

[2015-07-20 12:55] tonysurma opened #12 "Need full user management via Admin for tenant/organization admins"
Will need to document more but this functionality needs to be enhanced to have admin add more admin users via oauth and not for tenants

[2015-07-20 12:57] tonysurma opened #13 "Need to enrich Admin username and password handling"
At the moment the username and password for the global admin is primarily via config.json.

This needs to be enriched to store it elsewhere securely, have a means to add other admins, change password etc.

[2015-07-20 12:59] tonysurma opened #14 "As an administrator, I want to be able to manage a campaign for organizations, so potential volunteers can see it"
Will be fleshed out more but looking for full campaign management (CRUD)

This user story covers the following:
•Creating the campaign
•Modifying the campaign
•Deleting the campaign

[2015-07-20 13:02] tonysurma opened #15 "As an user, I can register on the site using my social network accounts"
Related to #3 we need to fully document this requirement and decide what bugs/enhancements are needed to fully complete the story in all environments

[2015-07-20 13:03] tonysurma opened #16 "As an administrator, I want to be able to define actionable items for a given campaign, so people can volunteer for those items"
This needs to be fully documented out and split into multiple enhancement issues for what is not yet implemented fully.

This user story covers both the definition of activities and tasks.

Each campaign is split into a set of activities that are tied to a certain geographical location. Each activity, in turn, is split into a set of tasks that the administrator can assign to volunteer that have ap

[2015-07-20 13:04] tonysurma opened #17 "As an anomyous user, I want to be able to volunteer for an activity, so I can help the overall campaign"
Needs to be fully documented and then issues logged for any gaps

[2015-08-06 13:21] #1 closed

[2015-08-06 14:32] tonysurma opened #20 "Update to work with latest dnx beta6 build"
Make this change on the web project as below and fix/update to build and run with the newest build.
[Should now be beta7]

<img width="483" alt="dnxbeta6" src="https://cloud.githubusercontent.com/assets/5067595/9114151/f9b6b2fc-3c1d-11e5-883c-a304443f8922.png">

[2015-08-06 16:26] tonysurma opened #21 "staging database needs to be setup and set for migrations"
currently staging runs off of in memory database which is fine for now

[2015-08-06 18:53] BillWagner commented on #6
@tonysurma and I filled in the milestones and started on issues.

[2015-08-06 18:56] BillWagner opened #22 "Automated Tests must be loaded in main solutions"
The projects that contain all the automated tests must be loaded and run in the main solution. We need to make it easy for our new volunteers to find and run all the tests

And, we want to encourage all new developers to run those tests.

[2015-08-08 06:18] tonysurma opened #23 "5.1.1.1.1 Allow citizens to access the web application anonymously w/o requiring authentication"

[2015-08-08 06:18] tonysurma opened #24 "5.1.1.1.2 Allow citizens to search for campaigns by organization, keyword(s), and geography covered"
zipcode for now

[2015-08-08 06:19] tonysurma opened #25 "5.1.1.1.3 Allow citizens to view campaign details as entered by organization as well as deliver to date vs goals information and targets"
e.g. 1500 / 39000 smoke detectors installed & plan to install ~2K per week until end of 2016

[2015-08-08 06:19] tonysurma opened #26 "5.1.1.1.4 Allow citizens to click through to links to other websites with related information as provided by organization"
[later functionality will include direct ‘request/decline’ interaction]

[2015-08-08 06:20] tonysurma opened #27 "5.1.1.1.5 Allow citizens to share campaign information via email, txt, twitter and facebook"

[2015-08-08 06:20] tonysurma opened #28 "5.1.1.2.1 Allow volunteers to act as citizens per 5.1.1.1"
References Issue #23

[2015-08-08 06:21] tonysurma opened #29 "5.1.1.2.2 Allow volunteers to “offer to help” with volunteer needs shown on campaign pages by choosing one or more skills/resources needed and providing contact information to share with organization admin"
Name, Email, Phone, Additional Information

[2015-08-08 06:23] tonysurma opened #30 "5.1.1.2.3 Volunteer contact information is stored along with the skills/resources needed they selected within the system and a link is provided via email to campaign organization owner and recorded in system"
As a volunteer, when I offer my help to a campaign:
 - [ ] My contact details and the skills I select are stored in the system.
 - [ ] The campaign organizer is notified that there is a new volunteer registered, with a link in the email to view the list of volunteers on the site.

[2015-08-08 06:24] tonysurma opened #31 "5.1.1.2.4 Allow volunteers to register on the site with social media/third party logins (twitter, facebook, linkedin, google, Microsoft account) to stay connected to the campaign"
and with later functionality and/or mobile app be able to receive task assignment ‘missions’ and record delivery data

[2015-08-08 06:28] tonysurma opened #32 "5.1.1.3.1 Allow organization ‘admins’ to register on the web application with social media/third party logins (twitter, facebook, linkedin, google, microsoft account)"
and register with name, email, organization and organization contact info including name, email, phone, website
[later functionality will allow initial admin to grant other users ‘admin’ or other perms for organization]

[2015-08-08 06:29] tonysurma opened #33 "5.1.1.3.2 Allow organization ‘admins’ to register with username and password on AllReady site as well"

[2015-08-08 06:29] tonysurma opened #34 "5.1.1.3.3 Allow organization ‘admins’ to register with Office365/Azure AD authenticated logins as well"

[2015-08-08 06:31] tonysurma opened #35 "5.1.1.3.4 Organization admins can create campaigns with landing page content"
This feature incorporates a number of tasks:
 - [x] Basic model: Name, Description [Rich Text Multi Paragraph with images etc.], Campaign contact info, links to campaign web pages
 - [ ] #246 simplify Logo/Image upload
 - [ ] #247 create keyword container/UI (some kind tag library)
 - [ ] #248 Geography Coverage (zipcode list, city list, state list) be able to select neighborhoods or define a boun

[2015-08-08 06:32] tonysurma opened #36 "5.1.1.3.5 Organization admins can list multiple volunteer skills/resources needed"
including optional date ranges and locations {‘skill/resource A’ needed [from ‘x’ to ‘y’ date range] [in ‘z’ location scope]}.  This listing will allow volunteers to later connect to the organization and offer to volunteer in delivery of the campaign as well as potentially be a data feed consumed by other third party apps that display volunteer needs.

[2015-08-08 06:32] tonysurma opened #37 "5.1.1.3.6 Organization admins can save campaign info revisions, update them, preview before publishing, publish and publish updates over time"
[later functionality (or in V1 if possible) would be to allow citizens to ‘report campaigns as spam/inappropriate’ and then allow admins to take them down and/or ban org admins]

[2015-08-08 06:33] tonysurma opened #38 "5.1.1.3.7 Organization admins can provide impact updates against the impact target and interim goals"
by updating {‘x’ ‘things’ delivered by ‘y’ date} as well as checking off interim goals achieved per 5.1.1.3.4 #35

[2015-08-08 06:34] tonysurma opened #39 "5.1.1.4.1 Allow AllReady admins to unpublish campaigns published by organization admins"
[later functionality or in V1 if possible would be to ban org admin accounts]

[2015-08-08 06:38] tonysurma opened #40 "5.1.2.1.1 Allow volunteer to see tasks assigned to them"
As an authenticated volunteer, I can:
 - [ ] See the list of tasks assigned to me
 - [ ] I can navigate to or make use of the task accept/reject feature #41

[2015-08-08 06:38] tonysurma opened #41 "5.1.2.1.2 Allow volunteer to accept/reject task assignment"
_Requires completed implementation of #40_

As a volunteer I can:
 - [ ] Accept a task assignment
 - [ ] Reject a task assignment

[2015-08-08 06:39] tonysurma opened #42 "5.1.2.1.3 Allow volunteer to mark task completed or ‘unable to be completed’ with reason/additional text information"

[2015-08-08 06:39] tonysurma opened #43 "5.1.2.2.1 Allow org admin to create a task and assign to one or more volunteers"
[later functionality to allow variance by volunteer aka these 5 addresses to be completed by 5 volunteers; have multiple volunteers asked and the first to accept gets it; have task matched by skill in system and/or use machine learning to predict best volunteer etc.]

[2015-08-08 06:39] tonysurma opened #44 "5.1.2.2.2 Allow org admin to view status (accepted, rejected, completed, incomplete) and reassign tasks to new volunteers."
As an organization administrator:
 - [ ] I am able to view a list of the current task assignment status
 - [ ] I can navigate from the current task assignment list through to the assignment page

[2015-08-08 06:40] tonysurma opened #45 "5.1.2.2.3 Communicate to volunteers via email and txt when assignment requests are made with link to website (which ideally provides link to launch/install app) to interact with request"

[2015-08-08 06:54] tonysurma commented on #23
closed as completed in initial code commit

[2015-08-08 06:54] #23 closed

[2015-08-08 14:30] mheggeseth commented on #22
Dibs

[2015-08-08 14:37] DevUnit1 commented on #36
I'll try this one

[2015-08-08 14:43] TimHess commented on #3
I'd like to help with this one

[2015-08-08 15:28] DevUnit1 commented on #36
The skills/resources being listed - are they associated with a campaign, activity, or task?

[2015-08-08 16:14] tonysurma commented on #36
Thanks, at the activity level
________________________________
From: John Strobel<mailto:notifications@github.com>
Sent: ‎8/‎8/‎2015 8:28 AM
To: HTBox/allReady<mailto:allReady@noreply.github.com>
Cc: Tony Surma<mailto:tony@surmafamily.com>
Subject: Re: [allReady] 5.1.1.3.5 Organization admins can list multiple volunteer skills/resources needed (#36)

The skills/resources being listed - are they as

[2015-08-08 16:35] DevUnit1 commented on #36
I discussed this feature with Jim and Richard.  For now, we're going to defer the resource part of this feature.  Below is my understanding of the skill system we'll be implementing - please feel free to comment on, correct, question, or add to any part of it!

* Skills will be hierarchical (i.e. Medical -> MD -> surgeon, Medical -> CPR Certified)
* Skills will exist in pre-defined templates
 * Th

[2015-08-08 16:57] jonatwabash commented on #2
Two points of clarification:
1) Is the file with the bad url AllReadyApp/www/app/services.js?
2) Where is configuration currently supposed to go?

[2015-08-08 19:05] BillWagner commented on #22
Close in pull request #46

[2015-08-08 19:05] #22 closed

[2015-08-08 19:16] mheggeseth commented on #7
Dibs. Gonna create child issues: one for each view.

[2015-08-08 19:22] mheggeseth opened #47 "Unit tests: Result of ActivityApiControllerTest.GetAllActivities is unreliable"
After fixing #22, ActivityApiControllerTest.GetAllActivities sometimes passes or fails because of a race condition (depending on whether it gets run before or after ActivityApiControllerTest.PostSingleActivity). Since ActivityApiControllerTest.PostSingleActivity adds a record to the database, the count of activity records will not be consistent.

[2015-08-08 19:26] DevUnit1 opened #48 "Bombs on activity image upload if no file selected"
On the Admin Edit Activity screen, if I load an activity with no image file and click the Upload button, the application throws a null reference exception.  It should instead ignore or not allow an image upload with no file selected.

[2015-08-08 19:47] #47 closed

[2015-08-08 19:47] mheggeseth opened #50 "Filter old tasks from Activity (single) view"
By default, the Activity view should hide tasks whose end date is in the past. Optionally, the user should be able to easily view those tasks.

[2015-08-08 19:53] mheggeseth opened #51 "Filter old activities from Campaign view"
By default, the Campaign view should hide activities whose end date is in the past. Optionally, the user should be able to easily view those activities.

[2015-08-08 19:56] mheggeseth opened #52 "Filter old campaigns from tenant view"
By default, hide campaigns whose end date is in the past in the tenant view. Optionally, the user should be able to easily view those campaigns.

[2015-08-08 19:56] mheggeseth commented on #7
Child Tasks:
#50 Filter old tasks from activity view
#51 Filter old activities from campaign view
#52 Filter old campaigns from tenant view

[2015-08-08 20:04] mheggeseth opened #53 "Filter old activities from Activities (multi) view"
By default, hide old activities from the Activity/Activities view and allow the user to see them.

[2015-08-08 21:11] binaryjanitor commented on #10
Work on this. Added Order and Description property. Added task detail drill into

[2015-08-08 22:00] BillWagner commented on #10
Fixed in Pull Request #10

[2015-08-08 22:00] #10 closed

[2015-08-08 22:02] binaryjanitor commented on #24
Working on this.

[2015-08-08 22:49] mheggeseth commented on #50
I'm working on this

[2015-08-08 22:57] #53 closed

[2015-08-09 00:54] #50 closed

[2015-08-09 01:26] #52 closed

[2015-08-09 01:26] #51 closed

[2015-08-09 01:28] BillWagner commented on #7
Leaving open to check List views just to make sure we found anyone.

Ping @tonysurma

[2015-08-09 14:32] mheggeseth opened #59 "Unit Tests: Improve Unit Test Coverage"
The unit test project AllReady.UnitTest only has a 3 tests and only tests the ActivityApiController. Write more tests and improve the robustness of existing tests.

[2015-08-09 14:36] mheggeseth opened #60 "Add free-text filtering to detail and list views"
For views that already have "old item" filtering (Activities list, activity detail, tenant detail, campaign detail), add free text filtering.

Child issue of #7

[2015-08-09 14:53] mheggeseth commented on #60
Doing this

[2015-08-09 15:39] gftrader commented on #33
I'll give this one a shot.

[2015-08-09 17:21] #7 closed

[2015-08-09 17:21] #60 closed

[2015-08-09 18:10] mheggeseth commented on #14
Working on this

[2015-08-09 19:53] binaryjanitor commented on #26
Working on this.

[2015-08-09 20:58] #14 closed

[2015-08-09 22:39] #33 closed

[2015-08-09 23:20] #26 closed

[2015-08-11 17:52] mheggeseth opened #72 "Campaign Index: Two "campaigns" ViewModel Properties"
campaigns.js: There are two "campaigns" observable arrays in the Knockout view model in the Campaign index view (one for the table list and one for the results of a zip code search). This causes the page to break after executing a search. Rename the search results property to "campaignsNearZip".

[2015-08-19 07:10] sJhonny-e opened #73 "getting started - can't figure out how to log in as a regular user"
(disclaimer: not sure if opening an issue is the right way to get help here; if not- I apologize in advance, and please direct me to the correct channel of communication. thanks :) )

I'm trying to get started contributing to this repository.

I was able to get the website up on my local machine with no problem, and I'm able to log in as the default administrator, but I've no idea how to go about

[2015-08-21 15:55] BillWagner commented on #73
Bump to @tonysurma

[2015-08-21 18:30] BillWagner commented on #20
I updated a smaller project to Beta 6 and found both of these resources to be very helpful:

http://www.elanderson.net/2015/08/migration-from-asp-net-5-beta-5-to-beta-6/

http://stackoverflow.com/questions/31745539/how-to-upgrade-asp-net-5-vnext-from-beta5-to-beta6

[2015-08-24 21:50] nicolastarzia commented on #9
May I try this one?

[2015-08-25 02:28] BillWagner commented on #9
Please do!

[2015-08-27 07:17] sJhonny-e commented on #73
guys this seems like a very worthy cause, and i'm interested in contributing, but if you're not going to respond here at all I simply can't do that :(

[2015-08-27 14:13] tonysurma commented on #73
Hello, apologies for delays.  We have a few open issues that are blocking allowing login as regular users as integration with those providers require app keys etc as you noted and there's no good solution (that we and our community has yet found at least) to support this in development by many individuals.  There are a couple of folks working on those issues like #3, #15 and #31

In the meantime t

[2015-08-28 15:25] #9 closed

[2015-09-02 19:36] tonysurma commented on #20
Updated title and we are now looking at beta7 as it was just released today

http://blogs.msdn.com/b/webdev/archive/2015/09/02/announcing-availability-of-asp-net-5-beta7.aspx

[2015-09-05 02:13] nicolastarzia commented on #27
I see a reference to ShareAHolic, so I include them.

See my checkin: d448881905f10a535637580efc6c57deeb972bb6

We need more share buttons?

[2015-09-14 01:05] mheggeseth commented on #72
Fixin' it.

[2015-09-15 01:24] #72 closed

[2015-09-21 17:42] joelhulen commented on #20
I forked and cloned the project the other day. On launch, it threw an error about DNX Beta 5 being unavailable. I ran `dnvm list`, and saw I only had Beta 7.

It may be helpful to note for others that you can install a specific version of DNX on your system via this command line expression via a PowerShell console:

    dnvm install -r clr 1.0.0-beta5

[2015-09-21 17:47] BillWagner commented on #20
One thing I've found: updating 1 version at a time (beta 5 -> beta 6 -> beta 7) is *much* easier.

@joelhulen Are you going to take this on?

[2015-09-21 17:53] joelhulen commented on #20
@BillWagner - happy to help however I can. Do you mean take on noting to others how to install the DNX version, or help with getting it to work on Beta 7?

If the former, would it make sense to post these instructions on the project's readme file?

[2015-09-21 17:58] BillWagner commented on #20
@joelhulen The latter. I like to make sure the core team knows who's working on any issue: There's plenty of work without volunteers each taking the same tasks.

I'll update the readme. MOst of that will be pointers to the asp.net vNext Home

[2015-09-21 18:04] joelhulen commented on #20
@BillWagner I'll take on this issue. Is there a process I should follow to indicate that I am working an issue, or is that just communicated internally?

[2015-09-21 19:29] BillWagner commented on #20
@joelhulen Just adding the comment here, as you've done above.

[2015-09-24 08:07] shawnwildermuth commented on #20
@joelhulen - are you taking this on? If not, i'll do it. Please let me know and I'll get started if needed...

[2015-09-24 08:27] shawnwildermuth commented on #4
Fixed in Pull Request: https://github.com/HTBox/allReady/pull/77

[2015-09-25 02:15] BillWagner commented on #4
Fixed and merged in PR #77

[2015-09-25 02:15] #4 closed

[2015-09-25 04:14] shawnwildermuth commented on #20
This is inprogress, I don't think I have rights to mark it as such. I'll drop a pull request soon with it.

[2015-09-25 04:18] shawnwildermuth opened #78 "Remove MobileViewModels"
I don't see what this project is for and it isn't referenced by the rest of the projects. Mixing a .NET app and a DNX app can cause a lot of reference issues and unless someone can explain what the project is for, I'm happy to remove it (at least for now).

[2015-09-25 05:55] shawnwildermuth commented on #20
Updated to Beta 7 via Pull Request https://github.com/HTBox/allReady/pull/79

[2015-09-25 06:53] shawnwildermuth commented on #24
Was this completed? (Pull requests were merged but issue wasn't closed)

[2015-09-25 13:06] joelhulen commented on #11
I'll take this one.

[2015-09-25 13:48] BillWagner commented on #20
Closed via PR #79

[2015-09-25 13:48] #20 closed

[2015-09-25 13:49] BillWagner commented on #24
Thanks for finding that. The PR didn't use the text for GitHub to pick it up.
Fixed in PR #63

[2015-09-25 13:49] #24 closed

[2015-09-28 03:14] #11 closed

[2015-10-07 14:38] mheggeseth commented on #36
I'll take over ownership of this issue.

[2015-10-07 15:55] mheggeseth commented on #36
Can somebody clarify the difference (if any) in this context between a skill and a resource? In @DevUnit1's comment, "resources" are not mentioned. I want to make sure I'm not missing something.

[2015-10-07 16:53] joelhulen commented on #35
I'll take this one on.

Might be good to take a few minutes to discuss some of the finer details.

[2015-10-07 17:31] mheggeseth commented on #26
I think this issue should be clarified and reconciled (and probably re-opened). PR #26 implements this as a list of external references (called Resources) to be displayed in the Campaign detail view `Views\Campaign\Details.cshtml` however, it's somewhat unclear how some things in the implementation align with the original issue:
* A resource is not currently associated with a campaign or any other

[2015-10-07 17:51] tonysurma commented on #36
@mheggeseth - per discussion we are focusing on skills only and delaying any work on resources to a later date.  Therefore you are not missing anything and the clarification from @DevUnit1 is complete (until we bring resources back into it at a later date).  Thanks.

[2015-10-07 18:41] bcbeatty commented on #3
Do you need to provide the secretKey for a facebook login? On another app I'm working on I'm not using the secretKey just the AppId, which is public. But I'm still running on local emulators.
Ionic has OpenId Providers as part of its framework.

[2015-10-07 18:44] bcbeatty commented on #3
Here's javascript code snip it for facebook login using cordovaOauth

[code]

[2015-10-08 13:27] MisterJames commented on #45
@tonysurma I can take this one. Here's what I'd like to suggest for path:

1. Command executes which iterates over the list
1. Queue is populated (Azure Service Bus?) with contact tasks
1. Service/webjob/something pulls from queue and processes tasks

I'll get the plumbing in place and won't make assumptions about who we'd use for providers. If we want to see it in action, I've worked with Twilio

[2015-10-08 13:30] MisterJames commented on #3
@tonysurma I think an easy strategy here would be to include a quick readme for setting this up. UserSecrets is pretty easy to get going. I could write this.

They would need to, of course, create their own apps/app secret keys to make this work, but that isn't an insurmountable task.

[2015-10-08 15:21] tonysurma commented on #45
@MisterJames It is safe to assume we will use twilio and sendgrid as those are the two we have and will plan on using (good guesses!)

and yes mobile app is just the get app installed potential link etc.

Thanks!

[2015-10-08 15:21] tonysurma commented on #3
great thanks!

[2015-10-08 16:35] joelhulen commented on #45
@MisterJames As for watching the Azure queue, while I was thinking about taking this one on earlier (you beat me to the punch :), I thought that a webjob would make most sense for processing the contact tasks within the queue. The primary reason I think this is better than, say, a worker role, is because the webjob rides on top of the existing website, thus not requiring an additional service to b

[2015-10-10 23:12] MisterJames commented on #45
@joelhulen Agreed, and I'll go the webjob route on that side of things. Thanks!

[2015-10-12 20:26] MKSessions commented on #2
Completed.

[2015-10-12 20:26] #2 closed

[2015-10-14 16:36] joelhulen commented on #35
Could you please clarify some things:

1. Geography coverage
    * Do we want to focus on US states right now, or global?
    * If US only for now, I assume we want to capture the country code for future expandability
2. Campaign web pages
    * Are these links to external pages?
    * If not, is there an area within allReady that makes up the campaign web pages?
3. Would like to flesh out the imp

[2015-10-15 15:11] tonysurma commented on #35
Some initial notes and I will add more in a few
1) US only and country code for expansion would be good
2) the goal is for the campaign entity to have all the information above so it can be displayed on the campaign 'landing page' which right now is just a view with like the name and dates.  One of the items is links to external pages so that they can have a click over to a page on their website.

[2015-10-15 15:27] joelhulen commented on #35
Thanks for the clarification.

As per point #3, it almost sounds like milestones with an integer for the stated goal, and related data with an integer for denoting progress. Do you foresee a case where the goal would not be numeric, but perhaps a boolean or some other data type instead? I'm excluding text from this scenario since that's already been listed as a simplified goal.

[2015-10-15 17:05] tonysurma commented on #35
that could be a case but I think integral progress would be a good focus for now.  Thanks @joelhulen

[2015-10-17 18:14] MisterJames opened #84 "Data Access Concerns"
I have a few reservations about how we're doing our data access. I think it would be great if we could switch to something like MediatR and use commands/queries, for example, but coming down the stretch we're going to run into trouble with merge conflicts on our `DataAccess` class.

I was just talking with @dpaquette and we're thinking a reasonable interim fix would be to split the class into part

[2015-10-17 18:18] dpaquette commented on #84
I will submit a PR for this later today

[2015-10-18 00:33] dpaquette opened #88 "Upgrade to Beta 8"
Beta 8 was released this week.

Breaking Changes to be aware of  -> https://github.com/aspnet/Announcements/milestones/1.0.0-beta8

[2015-10-18 01:30] dpaquette commented on #88
I can take this one on

[2015-10-18 01:55] tonysurma commented on #88
Thx for posting the issue and taking it @dpaquette I was going to post it like we did for 6 & 7

[2015-10-18 05:19] joelhulen commented on #35
I am working on the campaign landing page, and have added a "Full Description" WYSIWYG field. One of the feature requests is to have images as part of this content. Out of the box, WYSIWYG controls such as TinyMCE insert images in the form of a URI to the image path somewhere on the internet. Does this satisfy the scope of this requirement, or should we add a way for the end user to upload one or

[2015-10-18 07:02] joelhulen commented on #35
As I dig deeper into campaigns and their associated activities, I see where locations come into play IRT geography coverage. Currently, only activities have locations. Since activities are assigned to campaigns, the only location data for a campaign are inferred by the location(s) of its activity(ies).

Do we want to now specify a location or range of locations for a campaign? If so, to what end?

[2015-10-19 14:49] MisterJames commented on #45
Awesome, thanks @BillWagner. I'll get on the queue processing this evening.

[2015-10-19 16:30] tonysurma commented on #35
@joelhulen : (re: images) Adding in links to existing uri's for images is good for now.  We don't need to do image mgmt now and later we may do that from something/where else anyways as we probably want them via cdn etc. anyways

@joelhulen : (re: locations) activities typically have specific points ('hand out flyers during the blah blah event at Clark and Lasalle in Chicago') campaigns are focuse

[2015-10-19 23:00] shawnwildermuth commented on #88
Sorry, I just added a pull request for this upgrade. Should have checked the issues first. Feel free to reject the PR if you need.

[2015-10-20 00:32] mheggeseth commented on #36
@tonysurma can you clarify what "Skills will exist in pre-defined templates" means? Is this like having "skill presets"? E.g. My organization runs a campaign each semester during finals to deliver pizza and wings to hungry college students and each time we need the same skill sets to populate that from a template.

Or does "template" mean something else in this case? Can you give an example of how

[2015-10-20 00:58] mheggeseth commented on #36
Also, does associating skills to Activities and Tasks still include the "optional date ranges and locations {‘skill/resource A’ needed [from ‘x’ to ‘y’ date range] [in ‘z’ location scope]}" requirement? Or is that more of a "resource" thing?

[2015-10-20 05:21] joelhulen commented on #35
Thanks for the clarification, @tonysurma.

For the campaign location, I think it would be best to use SQL Spatial types to identify geographical boundaries in the form of multiple zip codes (union), or political (city, county, state, etc.). I assume that the location serves two primary purposes (please correct me if I'm wrong): Informational and discoverability from searching by the user's zip cod

[2015-10-20 21:10] shawnwildermuth commented on #21
I'll take this if someone would assign it.

[2015-10-20 21:10] shawnwildermuth commented on #15
I'll take this if someone would assign it.

[2015-10-20 21:10] shawnwildermuth commented on #13
I'll take this if someone would assign it.

[2015-10-20 21:13] bcbeatty commented on #15
I can help out too. I just finished an app that has a Facebook login using ngCordova

[2015-10-20 21:15] shawnwildermuth commented on #15
BC, since you've done this before, why don't you take it and i'll focus on the password management and the database stuff.

[2015-10-20 21:26] dpaquette commented on #21
I noticed while testing the beta8 upgrade that a few things aren't working when connected to a SQL Server database. For example, the SampleData crashes with a "Cannot insert explicit value because IDENTITY_INSERT is OFF"

[2015-10-20 21:33] BillWagner commented on #21
@shawnwildermuth we can't assign issues to anyone that isn't part of the core commit team. Of the issues you commented on, just add a comment to say "I've got this", and that helps us track it.

If you are working on all three, just edit your comments :)

[2015-10-20 21:36] shawnwildermuth commented on #21
Will do.

[2015-10-20 21:36] shawnwildermuth commented on #15
BC is doing this, not me.

[2015-10-20 21:46] tonysurma commented on #36
@mheggeseth "date ranges and locations" that is more of a resource thing so ignore

@mheggeseth the skills templates is referencing the same idea from the crisischeckin project meaning that the goal is to have 'classification hierarchies' like the UN has the cluster system etc so an admin can say this campaign uses the blahblah hieararchy break down and then pick from there
I think for this timefr

[2015-10-21 00:34] dpaquette opened #94 "Add Continuous Integration builds"
Would be nice if we could have a CI build setup to automatically compile and run unit tests on each pull request. This would make it easier for those merging pull requests since they would know automatically if a particular pull request has broken the build.

Suggest using App Veyor for this. http://www.appveyor.com/.

[2015-10-21 00:35] dpaquette commented on #94
I can help with the setup but this will require someone with admin access to the repo.

[2015-10-21 00:58] #88 closed

[2015-10-22 01:44] #84 closed

[2015-10-22 01:47] dpaquette commented on #78
Would be great if we could remove this one

[2015-10-22 01:55] dpaquette commented on #16
I am going to start looking in to the 'Activities' portion of this. Any additional information you can provide @tonysurma

[2015-10-22 02:12] bcbeatty commented on #15
Followed the following steps on https://docs.asp.net/en/latest/security/sociallogins.html to create a Facebook app using the name **"All Ready"** and a test app **"All Ready - Test1"**
I'm unable to get the FB user's email address, even though I'm adding the email scope in Startup.cs

[2015-10-22 16:58] tonysurma commented on #94
I can help with that as I have admin and have done similar for other repos

FYI we currently direct deploy from repo to azure website at http://allready-d.azurewebsites.net/ so just let me know what you want changed to use AppVeyor (which I have used before but not yet for htbox and I am there)

Lastly I can start an htbox account there and give you access as it is free for open source etc but won

[2015-10-22 17:09] dpaquette commented on #94
Deployment from Repo to azure website is great. I don't think we need to change that.  What I would like to enable is a workflow we trigger a CI build (compile and run unit tests) for each pull request. That way we would have more confidence that the code being merged to master isn't breaking something. Setting this up involves creating an App Veyor account, configuring the App Veyor build and ena

[2015-10-22 17:15] tonysurma commented on #94
Yep makes snese, I was trying to type out that response while in the middle of something else so thank you.  You should be connected to our AppVeyor account now

[2015-10-22 21:38] bcbeatty commented on #21
I'm running into this when 'upgrading' to Azure.
The issue come in that we're trying to set the Id Property which i is an Identity.
A work around for this is surround the SaveChanges method with a SQL Statement that turns on and off identity_insert.
[code]

The other alternative is not to set the Value for Resource.Id

[2015-10-22 23:01] shawnwildermuth commented on #21
The whole DB generation/migration stuff is a bit of a mess with some mixed metaphors (and sample data includes keys for example). I need to see how much of it will work with InMemory store (which may just complicate matters) before I rip it all out, but I'm definitely going to remove Schema attributes (e.g. [key] since we're already specifying them in the Context schema generation. I may need to r

[2015-10-22 23:10] dpaquette commented on #21
Please do simplify. I think everyone is using InMemory right now (including the staging site on Azure) so having to rebuild the migration shouldn't be an issue. Now is the time to clean it up IMO

[2015-10-23 03:10] mheggeseth commented on #36
I've got some working bits and a plan for knocking the rest of this one out (at least at the limited scope we have defined). Quick sanity check:
* Skill model just has a name and references a single parent skill (if applicable)
* Skills will have CRUD views
* A many-to-many model will be created for each skill association. These models do nothing more than associate entities but could be extended

[2015-10-23 21:32] bcbeatty commented on #15
Most of this task is setting configuration settings to match the app id and secret keys. These will be different for each developer and the Azure sites.
There are some gotchas when using the different oath providers:

1. Facebook isn't returning email, even though it is scoped and exists for user. http://stackoverflow.com/questions/25069816/facebook-email-field-return-null-even-if-the-email-permis

[2015-10-24 20:24] dpaquette opened #104 "Simplify Permissions Checks"
Permissions checks can be simplified by checking against the ClaimsUser instead of requiring multiple calls to the UserManager. The ClaimsUser is always available from every controller and should have the information we need in order to check permissions. In general, very few controllers should have a dependency on the UserManager<ApplicationUser>.

[2015-10-24 20:25] dpaquette commented on #104
Going to tackle this one now

[2015-10-25 04:04] SteveStrong opened #106 "Campaign details view not binding to resources attribute"
![resource not found](https://cloud.githubusercontent.com/assets/500861/10714001/a86a19a8-7aab-11e5-92c0-e80ea4dbf66c.PNG)

I do not thing the ko. view model is complete,  it is missing the field resources,  I am not sure where to go to correct this.

[2015-10-25 15:24] mheggeseth commented on #106
Yup, it's broken. I think in campaigns.js you might find a reference to resources that isn't actually hooked up to anything. This is from work done for #26 that wasn't really functional or complete. At the very least, the issue should be reopened but I'll leave it up to @tonysurma whether to consider it in scope for November MVP.

[2015-10-26 02:25] dpaquette commented on #94
Will extend as needed. Basics builds are in place now

[2015-10-26 02:25] #94 closed

[2015-10-26 02:26] dpaquette commented on #78
This issue can be closed

[2015-10-26 02:27] BillWagner commented on #78
Yes it can. I did not catch that PR #99 did not explicitly reference that it fixed this issue.

[2015-10-26 02:27] #78 closed

[2015-10-26 12:36] MisterJames opened #107 "Convert Custom UserType Claims to Built-in Role Claim Types"
Through refactoring in #105 it was discovered that we were using custom claims to represent user roles. This could be further simplified through the use of the built in role claim types.

[2015-10-26 12:54] tonysurma commented on #107
Is tenant admin the admin for a specific tenant our the admin of tenants (all of them) in the system as a whole in the code? Before we add direction I want to make sure we are on same page with names.

[2015-10-26 13:00] MisterJames commented on #107
I would think that the ability to administer any given tenant is a question of role, whereas the ability to administer a specific tenant is a question of row-level security. @dpaquette would that be in line with what you've seen in the code?

There may be another role required, something in the vain of "SystemTenantAdmin" that would be for a site-level administrator to act on behalf of any tenant.

[2015-10-26 13:41] tonysurma commented on #107
@MisterJames Ok gotcha.

From a requirements point of view we need (using names that in no way need to be what is in the code):
"AllReady Admins" that have power to CRUD organizations aka tenants and do everything on the site
"Organization Admins" they have scope within an Organization (imagine HTBox was an organization provisioned by an AllReady Admin) to create/edit campaigns, activities, tasks,

[2015-10-26 13:46] MisterJames commented on #107
Great, and with claims that is all doable. For example, in the future the only "role" that would be allowed to administer volunteer mgmt would be someone with "VolunteerManager" as a claim, not "OrganizationAdmin" or any other role. But since users can have multiple role claims, we would grandfather in anyone from org admin to volunteer mgmt.

There's a lot of ways to skin this one, but most of th

[2015-10-26 13:48] tonysurma commented on #107
@MisterJames as long as it satisfies the requirements and seems logical/not overly complex we are on board and this fits all those :+1:

[2015-10-26 14:08] tonysurma commented on #36
quick review tells me this all looks good from a requirements point of view @mheggeseth

[2015-10-26 19:58] #104 closed

[2015-10-27 21:27] bcbeatty commented on #40
I'll start this

[2015-10-28 01:11] mheggeseth opened #111 "Skills CRUD views"
Skills (see #36) need CRUD views
* [x] Skill CRUDs should only be visible/editable by SiteAdmins
* [x] Create/Edit views should prevent circular references (child cannot be an ancestor of its parent skill)
* [x] Parent skill dropdown should have an "empty" option to denote that the skill has no parent
* [x] Warn when deleting a skill with children

[2015-10-28 01:21] dpaquette commented on #16
I'm working on the Create / Edit Activities views right now. Currently, we have a single page that lists out all Activities for all Campaigns and all Organizations. From a UX perspective, this seems a little clumsy. I would expect that a user would start by selecting a particular Campaign before trying to Create or Edit an activity.

I propose removing the page that lists *all* activities and move

[2015-10-28 01:28] mheggeseth opened #112 "Assign Skills to Users"
Spinoff from #36
* [x] Create and associate UserSkill many-to-many table
* [x] Allow users to self-assign skills on ~/Manage
* [x] Create view where SiteAdmins can assign skills to users

[2015-10-28 02:01] tonysurma commented on #16
@dpaquette absolutely right.  CRUD of activities is scoped within an organization and tasks within activities for that matter.

A logical example that is made up is like this:
Organization A has a campaign to lessen the impact of fire related disasters in individual homes.  They run 3 activities: an awareness fair/booth/whatever on a given set of days at a given spot, a canvassing activity to get

[2015-10-28 02:29] dpaquette commented on #16
Okay great. I will start by scoping activities to a particular campaign. Once that is done we can tackle scoping tasks to a particular activity instead of a single list of all tasks.

[2015-10-29 00:14] dpaquette opened #115 "Review how dropdown data is handled"
Not urgent but I would like to review the pattern we are using for handling dropdown data. I like the idea of using Services for this as it would greatly simplify our controllers.

Reference:
http://jameschambers.com/2015/06/rethinking-our-practices-with-the-mvc-framework/
http://blog.simontimms.com/2015/06/09/getting-lookup-data-into-you-view/

[2015-10-29 00:18] dpaquette opened #116 "Decide on a pattern/approach for Javascript files"
We are using knockout for some of our views which means we will likely have a fair bit of javascript in this project. Longer term this will be easier to maintain if we use a consistent approach in terms of the structure and location of our javascript.

Personally, I like the approach outlined in this post (http://blogs.msdn.com/b/cdndevs/archive/2015/06/09/evolving-asp-net-apps-javascript.aspx). T

[2015-10-29 00:45] joelhulen commented on #115
Wow, I did not realize that you can now inject services directly into views in MVC 6! I read through James' and Simon's posts, and it makes a lot of sense to me to do it this way. As you observed, it takes away the responsibility of handling lists away from the controllers, where they're irrelevant, and allows the views to call that data, in a way that still prevents from directly calling into the

[2015-10-29 00:47] joelhulen commented on #116
I agree with the approach outlined in that post. I've taken that approach as well as a dot-naming convention (views.home.index.js) along with namespacing. I think the method in that post is easier to keep track of which js files coincide with which view via a mirrored tree structure.

[2015-10-29 04:07] SteveStrong commented on #116
I am cool with any mvvm JavaScript client approach.  so the . naming convention is cool with me.   I would also be interested in using TypeScript, it would give me a real application to try it on.  However I find it odd that this application projects all the client side data into the page as it renders, and then has knockout filter what is shown.   Are we doing this to simplify our web API surface

[2015-10-29 04:28] SteveStrong opened #117 "Can I do some UI labeling changes to help me understand the PR workflow"
Hey Guys,  after reviewing the code base/application for a few days, I find things to be a little confusing to a new user.  Software that maps the business model you have in your head, to screens and labels is easy to use.

At first glance I was confused with the name Tenants and the button Show Old.
![tenants](https://cloud.githubusercontent.com/assets/500861/10809935/0603b370-7dd2-11e5-9db7-f0b1

[2015-10-29 04:31] SteveStrong commented on #117
I also see the words 'Campaign Organizer' referring to the Tenants,  Organization and Organizer would make things consistant

[2015-10-29 12:37] dpaquette commented on #117
Go for it!

I believe that Tenant should be Organization and Tenant Admin should be Organization Admin. @tonysurma and/or @BillWagner can confirm.

[2015-10-29 13:25] mheggeseth commented on #116
@SteveStrong There's no good reason for dumping the JSON in the page to do KO things with it other than it was fast and easy to implement (no extra AJAX request, no separate ApiController, Model already had the data, etc). I, too, would prefer the view (at least the index views) to be more or less plain HTML and then pull their data in by AJAX. That would also make scalability easier.

[2015-10-29 13:35] dpaquette commented on #116
Dumping the JSON to the page isn't that uncommon, especially when we are doing a mix of server side and client side rendering. For now I would say leave that as is and tackle it later / separately.

[2015-10-29 14:40] tonysurma commented on #117
Yep .  If for admin if it is the admin in the scope of an org then it is org admin.  If it is the global scope - meaning admin across all orgs then something like already admin would be good.  Tenant should be stricken from the books :)

[2015-10-30 13:47] ksk100 opened #119 "Date validation in non-US cultures"
Hi everyone,

I'm new to the project; I've enjoyed investigating the source so far, and I hope I'll be able to contribute something useful.

I recently came across an issue with the date pickers on the website: the server side validation occurs according to the culture that the web server runs in.

However, the jQuery UI date picker used across the site is currently hard coded to use US date forma

[2015-10-30 13:52] dpaquette commented on #119
In general, we need to review how we handle dates in the app.

Date formatting is part of it although I think we are likely limited to the US for this first version.

I don't think we are using the jQuery UI date picker. I think we are using a bootstrap date picker.

 Timezones is a bigger issue I think. I recommend some variation of the approach outlined here: https://weblog.west-wind.com/posts/2

[2015-10-30 14:33] ksk100 commented on #117
Hi @SteveStrong, there is also a use of 'tenants' in a code block at the top of `Index.cshtml` in `Areas\Admin\Views\Tenant` :)

[2015-10-30 14:43] ksk100 opened #120 "Tenant/organization name is not displayed instead when logoUrl is empty"
Hi,

On the admin page which lists active organizations the logo is displayed under in the 'name' column.

If they don't have a logo, the name is not printed instead - it's just blank.

If no one objects I'll go ahead and make the small fix,

Simon

[2015-10-30 15:03] bluechrometouch opened #121 "Add setup details to prerequisites documentation section"
It took me a couple of hours to set up the web app due to a missing instruction on updating the dnx to 1.0.0-beta8 after installing WebToolsExtensionsVS14.

Without it, it was showing reference errors to the new changes from Context to HttpContext and SignOut() to await SignOutAsAsync().

The following commands need to be run in package manager console to update dnx:
1. dnx use 1.0.0-beta8
2. dnu

[2015-10-30 15:22] ksk100 opened #122 "NullReferenceException thrown on invalid model state on Admin/Activity/Edit"
If you post with bad data to the Admin/Activity/Edit page a `NullReferenceException` is thrown.

Here is what I think is happening:

On submission of an edit, the `Activity` object is populated by the ModelBinder and not read from the DB.  As a result it's `Campaign` property is not filled in.

On success, `ActivityAdminController.Edit` redirects to admin's list of activities, so this doesn't matt

[2015-10-30 15:23] ksk100 commented on #122
Oh, and I'm happy to take this on if people think my assessment above sounds accurate enough.

[2015-10-30 15:25] dpaquette commented on #122
Correct, the Campaign property should be repopulated when the model state is invalid. The Create method does this properly but the Edit method does not. Feel free to submit a PR.

[2015-10-30 15:46] dpaquette commented on #121
I'm not sure I see a lot of value in us re-documenting the process for setting up aspnet5.  Perhaps a link to the asp.net docs for those who don't know where to find them.

https://docs.asp.net/en/latest/getting-started/installing-on-windows.html

[2015-10-30 15:49] ksk100 commented on #119
Thanks for the Strahl reference, that was a useful read.  And yep, my mistake on which datepicker is being used.

The issue isn't so much date formatting, though, or even date storage.  At least as far as I can gather, the problem is that if the server is run in a non-US context then it's not possible to submit dates to the site which have a day-in-the-month value greater than 12.  E.g. if I use t

[2015-10-30 16:14] bluechrometouch commented on #121
Adding the two package console command above should be enough. The instructions were very straight forward besides this.

The above link could also suffice for the upgrading to Beta8 of the documentation as it has all the details.

[2015-10-30 17:12] bluechrometouch commented on #115
The one small drawback I can think of is that you wouldn't need a service to retrieve static data like states. One can simply switch to using a public static list. This would still be close to the same thing as the above.

[2015-10-31 03:03] dpaquette commented on #16
Taking a look at Task Admin now

[2015-10-31 08:27] bluechrometouch opened #125 "NullReferenceException thrown on Index for SiteAdminControllers"
When visiting the Admin/Site page and searching for an invalid email, you will get a null reference error.

The error seems to be located in the Index [Post] method of the SiteAdmin controller.

var user = await _userManager.FindByEmailAsync(model.Email);

One way to fix this is to have a custom validation attribute along the lines of....
https://stackoverflow.com/questions/12552687/get-error-mess

[2015-10-31 14:36] ksk100 opened #126 "Unhandled InvalidOperationException when bad data submitted to Create Activity form"
When creating an activity for some campaign (at `/Admin/Activity/Create/[someCampaignIdHere]`), if the validation checks fail, then an unhandled `InvalidOperationException` is produced.

This is because it can't find the appropriate view, because the create page is now using the edit view, but the action which handles the post doesn't specify this.  Just needs `"Edit"` adding as first parameter wh

[2015-10-31 14:49] dpaquette commented on #125
I can fix this today

[2015-10-31 14:49] dpaquette commented on #126
I can fix this today

[2015-10-31 14:59] ksk100 commented on #126
Cool.  I noticed another couple of things in that action method too, one of which becomes visible after the "Edit" fix is made: if you submit bad data (e.g. a bad date which fails validation) and also don't create any required skills, then when the create page is reloaded an `ArgumentNullException` is thrown by line 138:

`@Json.Serialize(Model.RequiredSkills.Select(rs => new { Id = rs.SkillId }))

[2015-10-31 15:06] dpaquette commented on #126
Yeah a lot of these problems are because we are binding directly to the model class. I'm going to clean that up to avoid these types of issues

[2015-10-31 15:42] ksk100 commented on #122
I just pushed this, for the interim fix.  It's attached itself to the already open PR, as I didn't use a separate branch - sorry about that.

[2015-10-31 15:43] ksk100 commented on #122
For review: https://github.com/ksk100/allReady/commit/a878fb139c0dfba2be9d82797b64b4281141ca5b

[2015-10-31 15:52] mheggeseth commented on #122
@ksk100 Can you add "Closes #120 and closes #122" as a comment to PR #123 . That will ensure these issues are autoclosed when the PR is merged.

[2015-10-31 15:56] ksk100 commented on #122
Of course

[2015-10-31 16:42] bcbeatty opened #127 "Change Skill.ParentSkillId to allow null"
With out ParentSkillId being nullable you are unable to add the first record.

[2015-10-31 16:44] bcbeatty commented on #111
I have a EF upgrade script that will allow skill parent id to be null. This will allow for a parent skill dropdown to have an empty option

[2015-10-31 17:02] MisterJames commented on #31
@tonysurma is the goal here just to be on a notification list?

[2015-10-31 17:04] ksk100 commented on #48
For me this is breaking whether or not a file is selected.  I think it's because there is no `Route` attribute specified, but there are also some other issues, like typos in some of the IDs in the `<form>` element.

I'll take a look at this, unless it isn't needed for the November MVP and other things should be prioritized?

[2015-10-31 17:05] tonysurma commented on #31
Yeah it is two parts (one is register via social media covered by other issue) and the other is to be able to be saying effectively 'I want to be a volunteer for this campaign'.  The idea being that you can raise your hand for a campaign so to speak before there is a specific task assignment for you.  So when an admin is looking for volunteers to assign they can see those who have already 'raised'

[2015-10-31 17:06] MisterJames commented on #30
@tonysurma would these bullet points work as deliverables? (updated the comment)

[2015-10-31 17:07] MisterJames commented on #36
@mheggeseth Is this one complete then?

[2015-10-31 17:07] tonysurma commented on #30
Yes they would and this is related to the previous one so now that I think about it, if you complete this one you complete the other we just discussed #31 (given that social media logins should already be complete)

[2015-10-31 17:12] MisterJames commented on #43
@tonysurma There is already a mechanism to assign tasks to users as an admin, but the process is right now to show all volunteers in each of the task assignment drop downs.

For the MVP, is this form of one-to-one mapping sufficient? Should we suggest volunteers based on skill sets/skill requirements?

[2015-10-31 17:14] MisterJames commented on #40
@bcbeatty Sounds good, this one is all yours!

[2015-10-31 17:14] mheggeseth commented on #111
@bcbeatty  I'll add nullable ParentSkillId to the PR this afternoon

[2015-10-31 17:16] tonysurma commented on #43
In order of priority:
Pick from volunteers that have raised their hand like in #31
Allow admin to add a volunteer to pick (either near drop down or somewhere else) as they may have volunteer relationships and not require existing relationship volunteer to have to go 'do work' just to be on the list
Pick from volunteers and filter/highlight those matching skills (assuming skills are set for the tas

[2015-10-31 17:18] mheggeseth commented on #127
I'll get this done with #124

[2015-10-31 17:24] mheggeseth commented on #36
@MisterJames Technically no. Waiting on #112

[2015-10-31 17:25] #120 closed

[2015-10-31 17:37] #111 closed

[2015-10-31 17:59] BillWagner commented on #126
Fixed in PR #128

[2015-10-31 17:59] #126 closed

[2015-10-31 18:09] MisterJames commented on #37
Marking as P3 because MVP is to target a private preview with known organizations.

[2015-10-31 18:11] bcbeatty commented on #127
It's also a part of PR130 https://github.com/HTBox/allReady/pull/130

[2015-10-31 18:57] mheggeseth commented on #127
Sounds good. #124 got merged anyway.

[2015-11-01 15:29] dpaquette opened #136 "Admin Edit Activity crashes on save"
Getting the following error when saving changes to an activity.

`InvalidOperationException: The instance of entity type 'AllReady.Models.Activity' cannot be tracked because another instance of this type with the same key is already being tracked. For new entities consider using an IIdentityGenerator to generate unique key values.`

[2015-11-01 15:29] dpaquette commented on #136
Looking in to this now

[2015-11-01 15:30] dpaquette commented on #125
I think this can be closed

[2015-11-01 15:30] dpaquette commented on #122
this can be closed

[2015-11-01 17:03] dpaquette commented on #136
I have a fix ready for this but waiting on PR #135 to be merged

[2015-11-01 18:52] #125 closed

[2015-11-01 19:37] #136 closed

[2015-11-02 07:59] #122 closed

[2015-11-02 10:56] ksk100 commented on #48
This upload form is using `RedirectToRoute` (to the Activity edit page) on both success and failure of image upload.  Ignoring a couple of typos which are currently breaking the form (it doesn't use `Html.BeginForm` but is hand generated), this means that `ModelState` will be lost upon failure, such that no error appears.  In actual fact, because the `Edit` page is using the `Activity` class as it

[2015-11-02 14:27] ksk100 opened #140 "Create / edit activity page error message showing 'EndDateTimeUtc' and not 'End date'"
Very minor thing, as per the title and shown here:

![image](https://cloud.githubusercontent.com/assets/6615834/10883907/e72927fc-816c-11e5-8389-8cb33ff747e1.png)

Given the data annotation is set correctly and the pretty name is showing in the `<label asp-for="EndDateTimeUtc" ...>` but not the `<span asp-validation-for="EndDateTimeUtc" ...>` element, this might be a framework bug?

[2015-11-02 23:56] shawnwildermuth commented on #21
@dpaquette is the simplification allowing for Azure hosting easier?

[2015-11-03 02:16] bluechrometouch commented on #140
Was able to replicate the problem with both new MVC 6 tag helper and the old html helper for validation

The bug also occurs in other fields as well.

Tried testing with different alternative display attributes and with async removed from the controller. Same results and not sure where the bug occurs. Thinking of trying again later with an activity input viewmodel.

The validation message typicall

[2015-11-03 18:01] dpaquette commented on #140
I am reviewing the date/time pickers anyway right now so I might address this as part of that

[2015-11-03 18:02] dpaquette commented on #21
@shawnwildermuth sorry I don't understand the question. Let's chat in person if we happen to be in the same room today

[2015-11-03 21:19] ksk100 commented on #48
I think I have this basically working now, having converted the create/edit/activity image upload page to use two different ViewModels rather than the simply the `Activity` object as its model.  This enables each of the forms to be separately validated.

It's successfully uploading images to Azure.

I'll test everything more thoroughly tomorrow morning and push it for review.

[2015-11-03 22:28] mheggeseth commented on #127
This can be closed.

[2015-11-03 22:30] BillWagner commented on #127
I missed hand closing this. (Note to all: Explicitly marking a PR with "Fixes" and the issue # means it will close on the merge. (I'll keep looking when we forget.)

[2015-11-03 22:30] #127 closed

[2015-11-03 22:56] bluechrometouch opened #142 "Powered by Humanitarian Toolbox link does not work"
As you can see on the shared layout page.

[2015-11-03 23:08] bluechrometouch opened #143 "Activity sections does not display skills detail"
/Admin/Activity/Details
/Activity
Does not show skills for activity
Does not show skills for tasks listed

[2015-11-03 23:12] bluechrometouch opened #144 "Activity and task validation needed for time"
/Activity/Edit
/Activity/Create
Default Start date and end date comes with extraneous time
Allows null name
End date can be < Start date

/Task/Edit
/Task/Create
Starting time and ending Time date picker does not include time
End time can be < Start time

[2015-11-03 23:17] bluechrometouch opened #145 "Campaign bugs and issues"
Campaign/Edit
Campaign/Create
Null name causes ongoing crashes in Admin Campaign tab
Managing Tenant → Managing Organization
Picture URL not accepting pictures
End date can be < Start date

[2015-11-03 23:26] joelhulen commented on #145
I'll take this on since it relates to the issue I'm currently working.

[2015-11-03 23:26] bluechrometouch opened #146 "Manage view has duplicate Phone Number fields"
![qwe](https://cloud.githubusercontent.com/assets/14866579/10924934/f6d67e6e-824f-11e5-9021-b1423268f5dd.JPG)

[2015-11-03 23:44] mheggeseth commented on #146
I think I fixed this today in #141. Update and test again.

[2015-11-04 00:17] bluechrometouch commented on #146
Closed

[2015-11-04 00:17] #146 closed

[2015-11-04 00:25] bluechrometouch commented on #144
I can start working on this one.

[2015-11-04 01:54] bcbeatty opened #147 "Edit Activities, Javascript Error"
I get the following JavaScript error on the Edit Activities page

[code]

IE11, Windows 8, In Memory and SQL databases.
http://localhost:33310/Admin/Activity/Edit/4

[2015-11-04 01:58] mheggeseth commented on #147
Does the error come from browser link? If so, it doesn't break any functionality.

[2015-11-04 01:59] bcbeatty commented on #147
No, not from a direct link. I put that in for a reference.

[2015-11-04 02:01] bcbeatty commented on #147
Similar issues happens with Admin Task Edit

[2015-11-04 02:05] mheggeseth commented on #147
What I mean is: what file throws the error? If it's browserLink.js, then the error only affects Visual Studio's integration with the view, not the main function of the view. In other words, running the app in prod should produce no such error.

[2015-11-04 02:07] bcbeatty opened #148 "As an Admin editing tasks, I need navigation back to the activities list"
Perhaps changing the Activity Title to a link

[2015-11-04 02:24] bcbeatty commented on #147
Javascript throwing the error in knockout.js, but because of an invalid binding. knockout can't find RequiredSkills, or RequiredSkills[].SkillId or similar property.
But if I continue after the error, a Select does get populated on the form and it doesn't block the save. It could be a timing/sequence of events issue.
I get the same error with F12 tools being my debugger and not VS.

[2015-11-04 02:50] #117 closed

[2015-11-04 04:40] bluechrometouch commented on #144
aec2e48ea35a915091112b32ca1fe0586d9cb6dc Should fix most of the issues.

dpaquette is reviewing the date time picker. This will tie into the date picker not including time for tasks.

Not sure it's proper to place data annotation validation in the activity model instead of a activity view model.

[2015-11-04 11:50] ksk100 opened #151 "Admin Organization CRUD pages improvements"
I couldn't find an open issue covering these (although perhaps partially covered with #145?):

* Remaining references to 'tenant' on list/create pages
* Create page shows ID label
* No validation on create / edit pages
* No pretty names for fields

Happy to take this on if indeed it's not covered by anything anyone else is doing.

[2015-11-04 15:14] dpaquette commented on #151
We will be reviewing our requirements and doing some planning on Friday.

[2015-11-04 21:32] dpaquette commented on #148
Currently working on this as part of #16 right now

[2015-11-04 21:34] dpaquette commented on #147
Strange. I can't reproduce this. @mheggeseth are you seeing this error?

[2015-11-04 21:35] dpaquette commented on #143
I'm working on a redesign of the Admin/Activity/Details that will address this.
Reference #16

[2015-11-04 21:38] dpaquette commented on #144
Yes, looking at the whole time thing. Anyone have a good suggesting for a time picker control?

[2015-11-04 21:50] dpaquette commented on #119
Ah so this is getting into the globalization side of things. That's a tough one, especially since those features of MVC 6 are not well documented yet.

@tonysurma @BillWagner Are we targeting non-US cultures for this November MVP?

[2015-11-04 21:58] dpaquette commented on #16
I have some ideas for restructuring the admin pages a little for better flow. Rather than having a grid of Campaigns with all the actions at the end, I am envisioning a grid of campaigns where you click on the campaign to see the details. From that details page you would see all the details and a list of Activities. You would then be presented with options to Edit the details, Add Activities, etc.

[2015-11-04 21:59] dpaquette commented on #16
Looking at the screenshots I think it might also make sense to move the delete action out of the grids and on to the Details pages.

[2015-11-04 22:00] dpaquette commented on #16
Pinging @tonysurma and @BillWagner for feedback

[2015-11-04 22:06] bcbeatty commented on #16
Are we worrying about mobile experience for this? A delete could be a swipe-left.
Clicking on the name could goto detail
A swipe right could be give you additional actions.
Apple's mail app follows this flow, Google's Inbox is similar

[2015-11-04 22:22] dpaquette commented on #16
@bcbeatty That would be pretty cool. Maybe for a the next version? I'm not sure we can pull that off for the November MVP

[2015-11-04 22:52] BillWagner commented on #16
@dpaquette I like this. It does make the list view more-or less read-only. You would have to explicitly enter "edit" mode to start modifying items.

@tonysurma Thoughts?

[2015-11-04 22:58] dpaquette commented on #16
Okay cool. I also added a breadcrumb which really helps with the navigation and visibility of 'where you are'.

[2015-11-05 00:55] dpaquette commented on #16
Got this done for Campaigns and Activities.  Working on the Tasks section now.

Activity Details:
![Activity Details](https://github-cloud.s3.amazonaws.com/assets%2F2531875%2F10956958%2Fcbd78bfc-8314-11e5-9015-60c48179d338.png)

[2015-11-05 01:54] mheggeseth commented on #147
I get an error, but it comes from browserLink, not Knockout. If I move the string-concat into a function on the view model, everything is 200 OK.
![image](https://github-cloud.s3.amazonaws.com/assets%2F775229%2F10957758%2Fe38d6d1c-832c-11e5-98eb-b2d3a0b4d254.png)

[2015-11-05 02:00] mheggeseth commented on #16
I like it. Especially the addition of the breadcrumbs.

[2015-11-05 07:38] ksk100 commented on #140
I suspect a framework bug (the problem occurs with a single form on a brand new project), and raised an issue for it here: https://github.com/aspnet/Mvc/issues/3476

[2015-11-05 07:42] ksk100 commented on #119
Yes, partly at least.

But note that as it stands the application has inconsistent behaviour: parts of the app derive the culture from the execution environment, run in that culture and so then behave (e.g. with respect to the handling of dates) accordingly.  Other parts have US date format hard-coded.

If the decision is made to be US-only, this inconsistency should be ironed out so that at least

[2015-11-05 10:51] tonysurma commented on #119
Target is us only

[2015-11-05 10:57] tonysurma commented on #16
Like it a lot, this is not a list like email that has a lot of triage and deletes so moving it in detail is better

[2015-11-05 11:44] ksk100 commented on #119
Okay.  Is it alright to go ahead and push the change needed to ensure US culture server side?

[2015-11-05 13:06] tonysurma commented on #119
from my perspective yes, but I would defer to @dpaquette for the call

[2015-11-05 13:51] #147 closed

[2015-11-05 16:05] dpaquette commented on #119
Yeah that sounds safe. I assume you will just force the Culture to US for now?

[2015-11-05 17:20] ksk100 commented on #119
Yes

[2015-11-05 18:08] BillWagner opened #154 "Implement Queue processing for SMS and Send Mail"
This task is the only one remaining for Issue #45

See the discussion under that issue for notes on the design, and the code that implemented the other portions of that task.

[2015-11-05 18:09] BillWagner commented on #45
The two commits referenced above finish much of this. We still need the code that implements the queue processing as referenced above. That's in #154.

To simplify the list and work, I've closed this issue. Please reference #154 in the PR to finish this implementation.

[2015-11-05 18:09] #45 closed

[2015-11-05 18:13] BillWagner commented on #13
@shawnwildermuth Are you still working on it?

[2015-11-05 18:18] BillWagner commented on #36
@mheggeseth Are you still working on #112?

[2015-11-05 18:20] BillWagner commented on #36
Closing this, as the only remaining task is detailed in #112, which references this issue.

[2015-11-05 18:20] #36 closed

[2015-11-05 18:44] dpaquette commented on #16
Cool, I will finish this off tonight then.

[2015-11-05 18:53] shawnwildermuth commented on #13
I am now. Didn't realized I signed up for it. With the Summit and all. I'll dig in tonight.

[2015-11-06 05:03] shawnwildermuth commented on #13
Is this about site admin only or also tenant admit? I am looking at the way we're creating the initial site admin and wanting to do it on first launch but disabling that account once you create the first non-default site admin. Just trying to understand the real requirement here. Can we sit down on Saturday and get this hammered out so I understand what the need is. (e.g. I know we want to secure

[2015-11-06 06:58] #112 closed

[2015-11-06 12:55] ksk100 commented on #140
They confirmed a framework bug which is (very probably) causing this; it's fixed in RC1.

[2015-11-06 13:53] #119 closed

[2015-11-06 19:45] rynowak opened #159 "Possible forgery of campain.ManagingTenantId"
This check is used in several places in the app for determining if the current user is allowed to administrate a given campaign:

[code]

`campaign` is populated from model binding, and would allow a malicious user to specify `ManagingTenantId`. A more secure approach would be to retrieve the `ManagingTenantId` from the DB (based on `campaign.Id`) to verify privileges.

I'd also recommend using `[

[2015-11-06 19:52] bcbeatty opened #160 "View Activities: Geo Location -- lookupAddress isn't always set when attempting to display map."
IE11 I sometimes gets a javascript error when attempting to display the map.
The lookupAddress is an empty address which causes the geocodeRequest return an empty result.resourceSets throwing a javascript error when attempting to read resourceSets[0].

As a work around I added to the getGeoCoordinates method in site.js for my next PR
    if (lookupAddress.trim() == "") {
        return;
    }

[2015-11-06 20:32] rynowak commented on #44
I'm taking a look at this

[2015-11-06 20:42] bcbeatty opened #162 "As an Administrator I need to assign a task to multiple users"
This is an extension for #16
The current data model has Tasks and Users as a 1:1
This need to be a 1:M  to allow 1 task to be assigned to multiple users.

[2015-11-06 22:27] ksk100 commented on #159
I'll take this if no one else is working on it, and it doesn't clash with other work being done.

[2015-11-06 22:36] dpaquette commented on #159
We are working in this area so best to hold off for now.

[2015-11-06 22:40] ksk100 commented on #159
Okay

[2015-11-06 23:15] bcbeatty opened #165 "As a Mobile user I need to logout"
The application does not have the ability to logout of the app.

[2015-11-06 23:16] bcbeatty commented on #165
#15

[2015-11-07 00:18] dpaquette opened #167 "Create Database / Migrations workflow broken for developers"
The AllReadyContext is create the database from the snapshot in the constructor of the context.

This is bad because it means developers are unable to run migrations or create new migrations.

[2015-11-07 00:51] shawnwildermuth commented on #21
These changes were merged. Is this open on purpose?

[2015-11-07 00:56] BillWagner commented on #21
I think staging still runs off the in memory version.

[2015-11-07 01:00] shawnwildermuth commented on #21
Are we staging directly in an AzureWebsite? If so, we'll need third connection string for that server. I'll need to work with whomever is deploying it to make sure that they're overriding the EnvironmentVariables with the Azure connection strings. We don't want this to use the 'in-memory db' IMO.

[2015-11-07 01:03] BillWagner commented on #21
@shawnwildermuth Staging and Production are two different websites and two different SQL DBs.

And yes, we want staging running of a server.

@tonysurma and I will be getting that setup tomorrow morning, and then this issue can be closed (as you say, all the code has been merged.)

[2015-11-07 02:00] #44 closed

[2015-11-07 02:14] schuback opened #172 "Error - Login in with MS button"
Tried logging in using MS button (http://allready-d.azurewebsites.net/Admin/Register) and got this.

An unhandled exception occurred while processing the request.

SmtpException: Only absolute directories are allowed for pickup directory.
System.Net.Mail.SmtpClient.GetFileMailWriter(String pickupDirectory)

Stack Query Cookies Headers
SmtpException: Only absolute directories are allowed for pickup

[2015-11-07 18:00] ResaWildermuth opened #174 "No text on the About page"
About page has no descriptor of the app.

![image](https://cloud.githubusercontent.com/assets/15706343/11016427/391ac5f8-8536-11e5-8720-bffcc4409199.png)

[2015-11-07 18:03] tonysurma opened #175 "Refactor Email Sending in Web Project"
Allready.Services.MessageServices needs to be refactored (away?) and replaced/reuse/integrate with logic and config of the similar sending logic in NotificationsProcessor in the WebJobs Project.

This will close out email related issue #172

[2015-11-07 18:04] ResaWildermuth opened #176 "Activities Description needed"
The activities description box shows "ActivityViewModel.cs: Needs a Description"
If no description, maybe it should be blank instead, or require a description in the form before moving forward.

![image](https://cloud.githubusercontent.com/assets/15706343/11016442/c597c922-8536-11e5-95ab-59163770aee9.png)

[2015-11-07 18:09] MisterJames commented on #175
On it :)

[2015-11-07 18:14] ResaWildermuth opened #178 "On smaller views, buttons become invisible."
Changed my browser to typical mobile size, buttons are not visible but am able to click on them. Home button and hamburger menu both not visible. Also, home button is to the left by the logo, hamburger is justified right.

![image](https://cloud.githubusercontent.com/assets/15706343/11016507/8f0602c8-8538-11e5-8f59-993aa59229fa.png)

![image](https://cloud.githubusercontent.com/assets/15706343/110

[2015-11-07 18:19] resafabulous opened #179 "Powered by Humanitarian Toolbox link does not direct to a page."
At the bottom of the page, link 'Humanitarian Toolbox' doesn't go anywhere. Tried on all available pages.

![image](https://cloud.githubusercontent.com/assets/15706343/11016522/e33c66f2-8538-11e5-8e1a-6fd34a99c61d.png)

[2015-11-07 18:21] dpaquette commented on #179
Duplicate of #142

[2015-11-07 18:21] ResaWildermuth opened #180 "Blog page does not show up."
When clicked, the Blog link at the top does nothing.

![image](https://cloud.githubusercontent.com/assets/15706343/11016529/350a3e46-8539-11e5-88a1-47cd0df30857.png)

[2015-11-07 18:29] #179 closed

[2015-11-07 18:31] #172 closed

[2015-11-07 18:31] #175 closed

[2015-11-07 18:40] bcbeatty opened #183 "When a Registered User Unvolunteers, what to do with their assigned tasks"
When a volunteer un-volunteers/un-registers
what happens to their tasks if they're accepted, completed or rejected?

Will the user still see the list of tasks?
Does the admin get a notification?

Linked to #43

[2015-11-07 18:42] MisterJames opened #185 "Queued Email Messages do Not Have Subject"
`ActivityAdminController` was not updated to include a subject.

[2015-11-07 18:48] MisterJames opened #186 "Improve Messaging for Notifications"
Messages need to be consistent from wherever they are sent in the app. All messages should use post a message to the bus (directly) or use the `IEmailSender` or `ISmsSender` interfaces to push messages to users.

We need to do the following:

 - [ ] Get a list of all notifications
 - [ ] Create templates for each notification type on SendGrid
 - [ ] Expand config so that template IDs are known and

[2015-11-07 18:55] #185 closed

[2015-11-07 19:20] ResaWildermuth opened #188 "Social media buttons at bottom of screen don't go anywhere."
The buttons don't do anything.

![image](https://cloud.githubusercontent.com/assets/15706343/11016830/257cbc62-8541-11e5-85aa-d71a825d67b1.png)

[2015-11-07 19:23] dpaquette opened #189 "Specify number of volunteers required for tasks and activities"
Administrators should have an option to specify number of volunteers required for an activity and for a task.

Relates to the larger issue #16

[2015-11-07 19:26] peteraritchie commented on #59
I'm doing this

[2015-11-07 19:33] ResaWildermuth opened #190 "Unclear language on signing in via twitter page."
Page says create a user name, but the form is labeled as and requires an email address.

![image](https://cloud.githubusercontent.com/assets/15706343/11016884/0277dea2-8543-11e5-8068-e51d053a9ca1.png)

[2015-11-07 19:38] rynowak commented on #29
I'll start on this

[2015-11-07 19:39] ResaWildermuth opened #192 "Login with Twitter also lets me set a password."
I'm able to use login with Twitter (yay!). But when I look at my profile settings, it has a password function that allows me to set a password. I never have an opportunity to use that password since I'm using Twitter to login-- yet I also can't delete the password.

![image](https://cloud.githubusercontent.com/assets/15706343/11016921/fab899bc-8543-11e5-8fd4-2c66d65b84da.png)

[2015-11-07 19:40] rockfordlhotka commented on #59
I'm also working on this

[2015-11-07 19:42] ResaWildermuth opened #193 "Zip code field on home page doesn't do anything."
I'm able to input a zip code, but it doesn't respond to hitting enter or clicking the search button.

![image](https://cloud.githubusercontent.com/assets/15706343/11016942/6facb76c-8544-11e5-9ce6-b083cb49d8a9.png)

[2015-11-07 20:02] shawnwildermuth opened #195 "ApplicationInsights is Dev-only"
In the startup.cs we're only adding Application insights in dev branch, we need to add AppInsights to staging/release too.

[2015-11-07 20:33] tonysurma opened #198 "Put placeholders for all config in config.json"
Audit config needed (like by sendgrid and twilio components etc.) and ensure an placeholder is in config.json so devs have one place to update and deployers (aka me :smile: ) have one place to reference to setup config

[2015-11-07 20:54] mheggeseth commented on #29
I'm taking this over from @rynowak

[2015-11-07 20:56] MisterJames commented on #154
Closed with #45.

[2015-11-07 20:56] #154 closed

[2015-11-07 21:04] mheggeseth commented on #29
Requirements
* [ ] "Offering to help" is for a logged in user. Viewing can be anonymous
* [ ] Activity shows "skills needed" - skills that match up with user skills should be highlighted
* [ ] Volunteering for an activity will allow you to associate one of the many tasks associated with the activity

[2015-11-07 21:11] Harmonym opened #203 "After logging in via Twitter there is no indication of log-in status"
After logging in via Twitter and authorizing the app, the use is brought to the home page, but there is no indication that the user is logged in or what to do next to access the site content for users.

<img width="909" alt="image" src="https://cloud.githubusercontent.com/assets/8798159/11017352/25e240b8-8551-11e5-8500-0d00c6a385fe.png">

[2015-11-07 21:16] Harmonym opened #204 "Remove Blog Page Link"
Update: Issue is now to remove the blog link altogether

The Blog link in the nav does not appear to link to anything/even a placeholder page like the About page.  On hover the mouse will point as if it is a live link, but nothing happens.

I assume this still needs to be built or set to redirect to whatever blog engine they want to use.
![image](https://cloud.githubusercontent.com/assets/8798159/

[2015-11-07 21:18] bcbeatty commented on #40
After talking with @tonysurma, Scope for P1:
A Volunteer will only see the tasks are assigned to them from an Administrator. Anonymous users will not see tasks.
If an admin views is on the volunteer view(non admin area) in P1 they will be treated like a normal user.

[2015-11-07 21:20] #180 closed

[2015-11-07 21:23] #198 closed

[2015-11-07 21:24] Harmonym opened #205 "User access level-specific top nav"
The top nav should show options specific for the user-type.  For example Tenant should not be show as an option for a regular user.

![image](https://cloud.githubusercontent.com/assets/8798159/11017406/c6c2b944-8552-11e5-89a9-0cf0c974eace.png)

[2015-11-07 21:28] Harmonym opened #206 "Powered By Humanitarian Toolbox link does not work"
Powered by HTBox link which appears under the social media buttons on many pages does not link to anything.  On hover, the mouse points as though it can be selected, but nothing happens.

![image](https://cloud.githubusercontent.com/assets/8798159/11017425/5ab3e376-8553-11e5-8bb5-c0689b397bd3.png)

[2015-11-07 21:32] Harmonym opened #208 "Social Media Button placement on the home page"
The positioning of the social media buttons on the home page (being as high as they are) make it look like they are offering methods of logging in or registering, which is confusing.  I would recommend moving this down so that it is more clear that these are to connect with the organizations (similar to a standard social media footer).

![image](https://cloud.githubusercontent.com/assets/8798159/1

[2015-11-07 21:45] Harmonym opened #209 "User first time profile development workflow needed"
There does not appear to be a first time user registration workflow beyond connecting to Twitter, FB, et al for authentication.  There should be a prompt and workflow for users to submit basic information such as name and e-mail information.  There also needs to be a more in depth user profile workflow for registering zip code for activity/task location filtering, skills, et al.

[2015-11-07 21:47] Harmonym opened #210 "Logged-in user shows Hello [e-mail]! at the top right corner"
The Hello or Welcome should show the user's first name or full name instead of e-mail address.  This will be contingent upon issue #209 being completed to request the users name during registration.

![image](https://cloud.githubusercontent.com/assets/8798159/11017511/feabc8d4-8555-11e5-8695-12dca0c80448.png)

[2015-11-07 21:52] ResaWildermuth commented on #206
This is a duplicate of issue #142

[2015-11-07 21:56] Harmonym opened #212 "Display location on the activities page for a campaign"
Recommend displaying the location (at least the city & state detail in text - or ideally neighborhood if that field is included in the activity setup page for admins) next to the Map link on the activities summary page for a campaign to allow users to identify applicable locations with a minimum number of clicks.

![image](https://cloud.githubusercontent.com/assets/8798159/11017732/07fdef18-855e-1

[2015-11-07 21:58] Harmonym opened #213 "Add a "neighborhood" or "community" text field in the activity & task set-up for admins"
Recommend including a "neighborhood" or "community" text field in the activity & task set-up for admins to allow organizations to distinguish neighborhood or community-specific location labels for activities and tasks.

[2015-11-07 22:03] ResaWildermuth commented on #204
There was a suggestion with #194 that this has been fixed, but I don't see the fix on testing.

[2015-11-07 22:06] Harmonym opened #214 "Social Share Buttons for Campaigns do not work"
It looks like the social share button functionality for a campaign has not yet been set up.
![image](https://cloud.githubusercontent.com/assets/8798159/11017743/3cbb8c2e-855e-11e5-9031-c806188b2ff6.png)

[2015-11-07 22:12] Harmonym opened #215 "Activity summary page for campaigns should have a campaign description summary field"
On the activity summary page for a campaign, above the activities, there should be a field that pulls a campaign summary description if the admin setting up the campaign provides one during set-up.  Should not be required, but would be helpful for users to be able to see descriptions of the campaign as a whole.

Placement recommendation: below the campaign name & date and above the "Activities for

[2015-11-07 22:13] Harmonym opened #216 ""Activities for this Campaign" header capilatization"
"Campaign" should be capitalized for the header

[2015-11-07 22:22] #40 closed

[2015-11-07 22:27] Harmonym commented on #208
fixed in the latest build design.

[2015-11-07 22:27] #208 closed

[2015-11-07 22:54] Harmonym opened #220 "Nomenclature for completed or archived Activities or Tasks"
There should be a standard naming convention for completed tasks or activities associated with an activity or campaign.  Currently "Show Old" is used on the Activity detail page and "Show Completed Activities" is used on the Campaign Activities summary page.

![image](https://cloud.githubusercontent.com/assets/8798159/11017776/50d456d6-855f-11e5-9d96-b4a91181f543.png)

![image](https://cloud.githu

[2015-11-07 23:03] peteraritchie opened #221 "EditActivityCommandHandler.Handle fails when no matching activity"
For example, in the following snippet from `EditActivityCommandHandler.Handle`, when `activity` is null a new `Activity` is created with an `Id` of 0; but the assignment to `TenantId` is executed, there is no match with `Id`; because any objects in `Campaigns` have `Id` values of 1 or greater and an `InvalidOperationException` is raised.

[code]

[2015-11-07 23:09] SherryRitchie opened #223 "Cannot log into allReady as Administrator, or using Twitter, or Facebook"

[2015-11-07 23:19] bcbeatty commented on #16
I'm going to start on #162

[2015-11-07 23:49] Harmonym opened #229 ""Show completed activities" button in activities summary page not functioning"
I assume the functionality of the "Show completed activities" button is to show activities that have been completed or are expired (if event-based), but currently the button does not appear to do anything.  There is a "(2)" next to the button, which makes me think that is indicating the number of archived activities.

![image](https://cloud.githubusercontent.com/assets/8798159/11017960/2261120a-85

[2015-11-08 00:13] Harmonym opened #232 "Zip code to street address references"
The search for activities from the home page is based upon zip code, but the campaigns, tasks, & activities may have location indicated by a street address w/ city & state without a zip code. Should add geocode capabilities that would be able to pull results for a zip code-based request from the street addresses.

[2015-11-08 00:15] Harmonym opened #233 ""Zipcode" should be "zip code" - home page search instructions"
![image](https://cloud.githubusercontent.com/assets/8798159/11018036/9de4d814-856a-11e5-874a-8a322d9aed55.png)

Please update here and anywhere it exists without a space.

[2015-11-08 00:22] Harmonym opened #234 "Zip code field for campaign, activity, and task admin set-up"
There should be a zip code field included in the admin workflow for setting the location of campaign, activity, and task.  There does not appear to be any location fields, but I assume those are WIP and wanted to ensure that zip code is part of that.

[2015-11-08 00:25] Harmonym commented on #229
Appears to be resolved in the latest test.

[2015-11-08 00:25] #229 closed

[2015-11-08 00:27] rockfordlhotka opened #235 "Rename "viewmodel" types to be model types"
As an example, `ActivityDetailViewModel` is really a DTO that is used to flow data from the view/controller to the `EditActivityCommandHandler` where the values are used to update EF entity objects (and thus the database).

That pattern is used in several places, and the use of the term _viewmodel_ is somewhat confusing because these objects are really just DTO _models_.

This request is to change

[2015-11-08 00:31] Harmonym opened #236 "Cannot unenroll from a task"
There is an "unenroll" link, but it does not appear to do anything yet.  When I backed out to the activity and selected the task again, it appears that it has unenrolled me, but that is not clear for the user.  There should be a confirmation for the user that unenroll is completed.

![image](https://cloud.githubusercontent.com/assets/8798159/11018086/03a404e8-856d-11e5-8b74-f4c570890c30.png)

[2015-11-08 01:17] MisterJames commented on #15
@tonysurma I think we can close this one based on our conversation.

I think that we can create a few other issues to talk about volunteer on-boarding and when to prompt for things like email an sms

[2015-11-08 01:17] Harmonym opened #237 ""All registered campaigns" header capitalization"
Header capitalization should be "All Registered Campaigns"

![image](https://cloud.githubusercontent.com/assets/8798159/11018204/61e71378-8573-11e5-9f8e-690bf66e42ad.png)

http://allready-mvp.azurewebsites.net/Campaign

[2015-11-08 01:19] Harmonym opened #238 "Social Media Button footer placement"
Social media button footer should be floated to the bottom on all pages.

![image](https://cloud.githubusercontent.com/assets/8798159/11018209/a6d853e8-8573-11e5-8cd5-2ac6a3897922.png)

[2015-11-08 01:42] bluechrometouch commented on #143
I will close this ass this will be solved in #16

[2015-11-08 01:42] #143 closed

[2015-11-08 01:46] bluechrometouch commented on #144
Were you looking for anything other features in a time picker?

The bootstrap time picker can be customized. Here is are some examples that show controls for time and date by themselves.

https://eonasdan.github.io/bootstrap-datetimepicker/

[2015-11-08 02:00] bluechrometouch commented on #174
As you can see, your layout appears much different then the current version layout. Maybe you have an older version?

![12](https://cloud.githubusercontent.com/assets/14866579/11018321/c1aebfc0-8589-11e5-9fb9-38553e3756ce.JPG)

[2015-11-08 02:11] bluechrometouch commented on #176
Hmmm, you might have an earlier version of allReady. Be sure to update and test again.

[2015-11-08 03:13] bluechrometouch commented on #235
"ViewModel in ASP.NET MVC practice is the same as the DTO, however ViewModel in MVVM pattern is different from DTO because ViewModel in MVVM has behaviors but DTO does not have."

https://stackoverflow.com/questions/1982042/dto-viewmodel

[2015-11-08 05:07] bluechrometouch commented on #28
What is the difference between a volunteer and citizen?

[2015-11-08 05:11] bluechrometouch commented on #39
Would the campaign info still be there, but not in public view? Also, anyone a lead when it comes to adding or changing models?

[2015-11-08 06:41] shawnwildermuth opened #240 "Eliminate Bootstrap Button hack in site.css"
By coloring the .btn class to the brown, it takes over on all themed buttons (e.g. btn-primary). We need to:

- Override btn-primary for the brown button
- Replace non-themed buttons to btn-primary
- Make sure all the rest of the buttons that are using btn-* are working

(I'm going to do this mid-week), Feel free to make it a P1

[2015-11-08 06:48] shawnwildermuth opened #241 "Eliminate usage of GlyphIcon"
We're using Glyphicon from bootstrap, but it's going away in Bootstrap 4 and FontAwesome looks so much better (and we're already using so the icons are mixed).

(I'm taking this one)

[2015-11-08 16:56] BillWagner commented on #5
@tonysurma I believe this can be closed now. Please re-open if I'm incorrect.

[2015-11-08 16:56] #5 closed

[2015-11-08 16:58] BillWagner commented on #3
I believe this has been addressed by the work where we implemented the 3rd party OAuth work. Can @MisterJames or @tonysurma re-open if I'm mistaken.

[2015-11-08 16:58] #3 closed

[2015-11-08 16:58] BillWagner commented on #6
I will call this done.

[2015-11-08 16:58] #6 closed

[2015-11-08 17:04] BillWagner opened #245 "Registration using the Microsoft account is not implemented"
The current error message is returned in the URL:

https://login.live.com/err.srf?lc=1033#error=invalid_request&error_description=The+provided+value+for+the+input+parameter+'redirect_uri'+is+not+valid.+The+expected+value+is+'https://login.live.com/oauth20_desktop.srf'+or+a+URL+which+matches+the+redirect+URI+registered+for+this+client+application.&state=CfDJ8KDKGBQpwThNmiIGCRNSeBw1tQ1N4Tn00mDPku2ME

[2015-11-08 17:04] BillWagner commented on #15
@bcbeatty Both Twitter and Facebook work fine. I'm getting an error on the Microsoft account. I'll open a new issue for that, and close this one. See Issue #246 for the Microsoft account issue.

[2015-11-08 17:04] #15 closed

[2015-11-08 17:05] MisterJames opened #246 "Simplify Logo/Image upload on Campaign Edit page"
This is already WIP, tracking it seperately now (from #35).

[2015-11-08 17:07] MisterJames opened #247 "Create keyword container/UI on Campaign Edit page"
We can use some kind tag library to make the experience better (like use known existing tags for auto-completion).

NOT to be as complex as StackOverflow, but that kind of idea. (from #35)

[2015-11-08 17:10] MisterJames opened #248 "Geography Coverage Data for Campaign Edit page"
Need to come up with a selection and storage mechanism for geo spatial data (zipcode list, city list, state list). From #35.

Should be able to:
 - [ ] select neighborhoods
 - [ ] define a boundary with zip codes
 - [ ] define a boundary with city or state
 - [ ] define a boundary with state

[2015-11-08 17:11] MisterJames opened #249 "Add button to populate contact info from organization on Campaign Edit page"
The page should load with contact information from the organization. A button should allow users to easily populate the contact details with that data. From #35.

[2015-11-08 17:12] tonysurma commented on #12
@shawnwildermuth is working on this one as of yesterday, may be a duplicate if he has an issue he is working on for this already

[2015-11-08 17:12] BillWagner commented on #16
@dpaquette I think this one is ready to close, in that any additional work is defined in #162 and #189. Please re-open if I'm wrong.

[2015-11-08 17:12] #16 closed

[2015-11-08 17:12] MisterJames opened #250 "Add thermometer rendering based on current and target values"
Two aspects to this:
 - [ ] data entry on the Campaign Edit page
 - [ ] rendering the thermometer on the public campaign page (for numeric impact types)

From #35.

[2015-11-08 17:13] tonysurma commented on #21
in the last two days between me, @shawnwildermuth, @dpaquette and I am sure others we got this solved

[2015-11-08 17:13] #21 closed

[2015-11-08 17:14] tonysurma commented on #13
Per our conversations with @shawnwildermuth he is on this and we have a strategy and a plan in progres

[2015-11-08 17:14] tonysurma commented on #12
@shawnwildermuth is covering this in #13 so considering this a duplicate and closed

[2015-11-08 17:14] #12 closed

[2015-11-08 17:15] dpaquette commented on #189
I think this can be closed.

[2015-11-08 17:15] dpaquette commented on #189
Done in PR #201

[2015-11-08 17:15] #189 closed

[2015-11-08 17:16] tonysurma commented on #28
This requires no work now so closed!

[2015-11-08 17:16] #28 closed

[2015-11-08 17:17] dpaquette opened #251 "Add option to message all volunteers for activities and tasks"
As an administrator, need to ability to send a specific message to all the volunteers for an activity or all the volunteers who have been assigned to a task.

This came out of reviewing #16 with users

[2015-11-08 17:21] BillWagner commented on #8
Verified on the staging site 11/8. Closing.

[2015-11-08 17:21] #8 closed

[2015-11-08 17:26] BillWagner commented on #31
Closing with a forward pointer to #245.

This works for Twitter and Facebook, but needs Microsoft Account support.

[2015-11-08 17:26] #31 closed

[2015-11-08 17:28] MisterJames opened #254 "Design needed for goals and reporting"
Tagging @tonysurma, @BillWagner and @OhMcGoo in on this one, originally on #35.

[2015-11-08 17:30] BillWagner commented on #32
This is tied to #13 and should be closed in the same PR that will close #13

[2015-11-08 17:46] MisterJames commented on #30
I am working on this one.

[2015-11-08 18:45] BillWagner commented on #73
@sJhonny-e There has been quite a bit of work here, and the volunteer logins work for Twitter and Facebook integration. The Microsoft Integration is in progress, and noted in issue #245

[2015-11-08 18:45] #73 closed

[2015-11-08 18:50] Harmonym opened #258 "Add workflow to enable automatic reminder notification for upcoming tasks"
Add workflow to enable an admin to set up an automatic reminder message (e-mail &/or SMS depending upon user contact preferences) about an upcoming task that they have signed up for.  Allow the admin to set the date and text for the reminder. Automatically include a link/short link to the task.

[2015-11-08 18:51] BillWagner commented on #106
@mheggeseth @SteveStrong Looks like this is done. Closing.  If I'm wrong, please re-open.

[2015-11-08 18:51] #106 closed

[2015-11-08 18:55] BillWagner opened #260 "Our appveyor build should precompile the razor views"
This is waiting on some new support from asp.net 5, but when that is supported, we should build the razor views as part of the cheks on PRs.

[2015-11-08 18:58] Harmonym opened #261 "New User Registration Workflow - Name, e-mail, sms"
Prompt, but don't require, new users to supply additional profile information either after they have set up initial log-in through FB, Twitter, MSFT account.

Request:
Name
E-mail
Phone number
Phone number type (drop-down)

Note: mobile numbers will be used for SMS notifications.

[2015-11-08 19:04] Harmonym opened #262 "Profile Set-up Prompt"
If a user has not set up a profile (name, e-mail, phone#, phone# type drop-down), add a symbol prompt (exclamation icon nag or similar) to the top right near the "Hello [username]" to prompt users to complete their profile.  Perhaps with a text prompt on hover.

[2015-11-08 19:05] BillWagner commented on #140
Adding the Framework label so we can close this upon upgrade to RC 1 and the fix for https://github.com/aspnet/Mvc/issues/3476

[2015-11-08 19:07] BillWagner commented on #206
closing as duplicate of #142

[2015-11-08 19:07] #206 closed

[2015-11-08 19:08] MisterJames opened #263 "Contributing Information Should Include Workflow Tips"
Per our stand-up, we should give our recommendation on practices for avoiding PR merge conflicts and build errors regarding EF migration date stamps. (del and re-create after rebasing from htbox/master).

[2015-11-08 19:08] BillWagner commented on #145
@joelhulen I can't find a pull request that references this. Let me know if it's already done.

[2015-11-08 19:09] BillWagner commented on #148
@dpaquette I think this was addressed under the work for #16. Please reopen if that's not accurate.

[2015-11-08 19:09] #148 closed

[2015-11-08 19:10] BillWagner commented on #151
@dpaquette It looks like this was also addressed in #16. If not, can you please reopen.

[2015-11-08 19:10] #151 closed

[2015-11-08 19:12] #162 closed

[2015-11-08 19:14] Harmonym opened #265 "New User Registration Workflow - Skills and Location"
As part of new user registration/profile development include an optional section w/ prompt:

"Please provide additional information, which will help match you with potential opportunities."

Requested information:
City & State
or
Zip code

Radius willing to travel (in miles) drop-down.

Skills (to match the UX on the admin side)

[2015-11-08 19:15] smille1834 opened #266 "Editing Campaigns through the Admin side."
The time function when creating/editing campaigns isn't working when I tried to edit times for the Pillowcase campaign I created. Since campaigns can run weeks, months, or years, do we even need times at that level? Time specificity seems most useful at the activity and task levels.

[2015-11-08 19:15] BillWagner commented on #167
This was fixed in #168, but was not closed at that time.

[2015-11-08 19:15] #167 closed

[2015-11-08 19:18] BillWagner commented on #174
Closing as @ResaWildermuth was testing on the July public site. As mentioned above, the iconography of the ants is explained here.

[2015-11-08 19:18] #174 closed

[2015-11-08 19:19] bcbeatty commented on #25
What is the definition of a citizen?

[2015-11-08 19:20] BillWagner commented on #176
Closing. This was also found against the July public preview.

[2015-11-08 19:20] #176 closed

[2015-11-08 19:21] #30 closed

[2015-11-08 19:26] tonysurma commented on #25
citizen = unauthenticated users and this was before we had campaign pages that someone can see.  Once we can show campaigns this is done and requires no separate work (see @joelhulen 's work)

[2015-11-08 19:26] BillWagner commented on #178
Closing, fixed since the July public preview.

[2015-11-08 19:26] #178 closed

[2015-11-08 19:30] smille1834 opened #268 "Unable to edit times for activities"
When creating an activity, when I try to edit the start/stop times, it won't accept the changes.

[2015-11-08 19:30] BillWagner commented on #190
This was implemented on Nov 7. Verified on Nov 8.

[2015-11-08 19:30] #190 closed

[2015-11-08 19:33] BillWagner commented on #192
This was fixed Nov 7, but the PR did not mention this issue. Verified and closed Nov 8

[2015-11-08 19:33] #192 closed

[2015-11-08 19:35] Harmonym commented on #232
Similar to #193

[2015-11-08 19:39] BillWagner commented on #203
Fixed on Nov 7

[2015-11-08 19:39] #203 closed

[2015-11-08 19:44] BillWagner commented on #204
If you are logged in as Admin, it goes to the htbox.org/blog page (which is close. @tonysurma will supply the correct URL for all-ready specific blog posts.

The volunteer and public (anonymous) pages go to the allready home page. These should also go to the htbox/blog page that is specific to the allready posts.

[2015-11-08 19:44] Harmonym opened #270 "Enable admins to set/edit time for tasks"
Admin should be able to set and edit the start and end time for tasks.

[2015-11-08 19:48] BillWagner commented on #205
Fixed on Nov 7, verified Nov 8

[2015-11-08 19:48] #205 closed

[2015-11-08 19:52] schuback opened #272 "Adding user Phone number and SMS verification error"
After I enter my number and hit verify, I get this error.

An unhandled exception occurred while processing the request.

FormatException: No valid combination of account information found.
Microsoft.WindowsAzure.Storage.CloudStorageAccount.<>c.<Parse>b__87_0(String err)

DependencyResolutionException: An exception was thrown while invoking the constructor 'Void .ctor(Microsoft.Framework.OptionsMo

[2015-11-08 19:58] BillWagner commented on #235
Fixed in PR #253

[2015-11-08 19:58] #235 closed

[2015-11-08 19:58] schuback opened #273 "User name/Manager Your Account page/name"
When you enter your name in the name section on the manage your account page, it should use that as on the top right corner section saying hello to you rather than your email address.

[2015-11-08 21:04] Harmonym opened #275 "Activities should inherit date range boundries of the Campaign"
The start and end date for the activity should be within range of the campaign it is associated with.  The date and time of the activity can be edited by the admin within the range.

[2015-11-08 21:06] Harmonym opened #276 "Tasks should inherit date range boundries of the Activity"
The start and end date for the tasks should be within range of the activity it is associated with.  The date and time of the activity can be edited by the admin within the range.

 - [ ] Default the dates on tasks to the dates of the activity
 - [ ] Display a warning to the user (an exclamation indicator, for instance) if the dates are out-of-range of the activity, but allow saving

[2015-11-08 21:10] Harmonym opened #277 "404 error on log-off"
In the -d deployment, I received a 404 error when I clicked to Log-off as a user.

![image](https://cloud.githubusercontent.com/assets/8798159/11022706/0da410ac-861a-11e5-92e5-5b0298ed363c.png)

[2015-11-08 21:28] Harmonym opened #278 "Admin Edit Activity - Image Upload vs URL"
For the admin edit activity form, the Image field is labeled as "ImageURL", but the field is actually a Browse to upload file. This should be browse and upload across all image fields.

![image](https://cloud.githubusercontent.com/assets/8798159/11022775/70991336-861c-11e5-937f-9af65cabc8bc.png)

[2015-11-08 21:29] BillWagner commented on #248
Separating out lower priority tasks from the MVP.

[2015-11-08 21:40] Harmonym opened #280 "Images for Campaigns do not show up on Campaign page"
There is not an image displayed on the campaign page when I added an ImageURL in the admin campaign set-up.

![image](https://cloud.githubusercontent.com/assets/8798159/11022799/058a37ae-861d-11e5-971d-cda14eba75ac.png)

[2015-11-08 21:47] Harmonym opened #281 "Image upload for Activity page"
In my first attempt to upload an image to the Activity page as an admin, I received a 500 error.

![image](https://cloud.githubusercontent.com/assets/8798159/11022870/300e41c6-861f-11e5-8cf0-8b7231313240.png)

In my second attempt, I received an untangled exception error.
An unhandled exception occurred while processing the request.

FormatException: No valid combination of account information fou

[2015-11-08 22:01] Harmonym commented on #280
Appears to be resolved now.

[2015-11-08 22:01] #280 closed

[2015-11-08 22:04] MKSessions commented on #59
We know we don't have the test coverage that we want.  We'd welcome anyone adding more unit test coverage.

[2015-11-08 22:11] BillWagner opened #284 "Up for Discussion: TypeScript?"
Currently, all our client side code is written in JavaScript.

Do we want to switch to use TypeScript?

Comments?

[2015-11-08 22:12] BillWagner commented on #116
Closing this, as we've set our patterns for JavaScript. Opened Issue #284 to discuss migrating to TypeScript

[2015-11-08 22:12] #116 closed

[2015-11-08 22:23] rockfordlhotka commented on #41
By way of documentation, the task sign-up status can be set to the following values:

* Assigned (assigned by an admin to a volunteer)
* Accepted (accepted by a volunteer - assumed to now be in-progress)
* Rejected (rejected by a volunteer)
* Completed (completed by a volunteer)
* CanNotComplete (marked by a volunteer as a task that can't be completed)

[2015-11-08 22:43] BillWagner commented on #251
Done for activities.

Tasks is still coming.

[2015-11-08 23:07] MKSessions commented on #183
Can @OhMcGoo or @smille1834 answer @bcbeatty 's questions above?

[2015-11-08 23:35] OhMcGoo commented on #183
@bcbeatty, are you suggesting a scenario where a volunteer is 'unregistering' from the allReady altogether or simply choosing not to volunteer to complete certain tasks?

[2015-11-08 23:38] dpaquette commented on #284
My vote is that we do move to TypeScript. TypeScript will help us to add some structure to our javascript. It will also give us IntelliSense support for both our javascript and for popular libraries (like jQuery and Knockout) using definition files from Definitely Typed. In my experience having the strong typing and IntelliSense support makes it a lot easier for new developers to jump in and be pr

[2015-11-09 01:48] mheggeseth commented on #284
I support this, too. This will help us get nice intellisense in places that JS can't like parameters to callback functions. And because TS is a superset of JS, you can always drop down to raw JS if you need to be "clever".

[2015-11-09 01:53] bcbeatty commented on #183
We actually need both. But my original thought was unregistering from an activity

[2015-11-09 04:09] #29 closed

[2015-11-09 04:12] #265 closed

[2015-11-09 04:41] Harmonym opened #294 "Add privacy policy statement."
Need to create a privacy statement, which needs to be linked from all pages in the footer.

[2015-11-09 04:42] Harmonym commented on #294
Tony - I think Pasquale mentioned he was going to craft/find boilerplate language for this, but wanted to make sure we note it before it goes live for users & he doesn't appear to be a user I can tag.

[2015-11-09 04:48] Harmonym opened #295 "User Preferences Workflow - notifications"
Need to add a workflow that enables users to opt-out of e-mail, SMS, or all notifications.  Perhaps as a settings drop-down from the username at the top right.

[2015-11-09 04:50] Harmonym opened #296 "User profile - Make email editable or remove/add like phone number"
The user should be able to access the profile form after initial set-up to make edits.  Perhaps as part of a drop-down from the username on the top right.

![image](https://cloud.githubusercontent.com/assets/8798159/11026158/5ba63a74-865a-11e5-83f2-a7c6bd88a167.png)

[2015-11-09 04:53] BillWagner commented on #294
@Harmonym @tonysurma This might be more complicated. HTBox should have a privacy statement that addressed what HTBox will / won't do with any information. In addition, each organization (tenant) should also be required (or able?) to have its own privacy statement. After all, each org admin will also be able to see private information.

[2015-11-09 04:58] Harmonym commented on #294
Totally agree. I thought Pascale had motioned something, but you're right, makes sense to have the orgs supply one. I mostly just want to make sure it is noted & we are not taking any liability for the information handling.

Sent from my Windows Phone
________________________________
From: Bill Wagner<mailto:notifications@github.com>
Sent: ‎11/‎8/‎2015 8:53 PM
To: HTBox/allReady<mailto:allReady@no

[2015-11-09 05:54] dpaquette commented on #115
We have introduced this in the Admin controllers.

[2015-11-09 05:54] #115 closed

[2015-11-09 06:36] bluechrometouch commented on #142
I got this.

[2015-11-09 07:16] bluechrometouch commented on #220
I'd like to take this as it's similar to the bugs I'm working on. As some tasks or activities can be cancelled, Closed will be used.

[2015-11-09 07:19] bluechrometouch commented on #237
I can fix this.

[2015-11-09 07:20] bluechrometouch commented on #233
I can fix this.

[2015-11-09 07:21] bluechrometouch commented on #216
I can fix this.

[2015-11-09 07:25] bluechrometouch commented on #238
I can fix this.

[2015-11-09 07:27] bluechrometouch commented on #275
I can add the validation for this area.

[2015-11-09 07:28] bluechrometouch commented on #276
I can add the validation for this area.

[2015-11-09 11:09] ksk100 commented on #281
This might be a configuration issue: if you run with `UseDevelopmentStorage` (it might be `DevelopmentStorage`) as `true` and attempt to access Azure storage I think this is the message you get.  But it might also arise if `AzureStorage` is misconfigured in other ways?

Running the site locally, I can successfully upload an image to Azure.

[2015-11-09 11:28] ksk100 commented on #278
I'll do this.

@Harmonym, did you mean that the prompt should be 'Browse and upload' across all image upload fields on the site?

[2015-11-09 12:15] ksk100 opened #298 "Admin Campaign Details page: page Title not being populated"
As per the issue title.

I'll submit a fix; it's just a missing assignment from the Razor view.

[2015-11-09 12:40] ksk100 commented on #193
To give a bit more info:

Hitting enter or pressing the search button both successfully submit a search to the API.  However the search API gives an error.

The problem is with `AllReadyDataAccessEF7.ActivitiesByPostalCode` which is throwing an `InvalidOperationException` with the message:

`InvalidOperationException: The Include operation is not supported when calling a stored procedure.`

The re

[2015-11-09 12:43] ksk100 commented on #193
I'll take a look at this.

[2015-11-09 14:17] #298 closed

[2015-11-09 14:17] #13 closed

[2015-11-09 14:44] Harmonym commented on #278
I meant the field type vs image URL. When I was testing there was variance in the field types across the site.

Sent from my Windows Phone
________________________________
From: Simon Kittle<mailto:notifications@github.com>
Sent: ‎11/‎9/‎2015 3:28 AM
To: HTBox/allReady<mailto:allReady@noreply.github.com>
Cc: Harmonym<mailto:harmonymabrey@outlook.com>
Subject: Re: [allReady] Admin Edit Activity - I

[2015-11-09 14:52] ksk100 commented on #278
Okay no problem; I was just checking whether you were specifying a particular prompt - 'Browse and upload' - that you wanted as a replacement for `ImageURL`.

[2015-11-09 14:53] bluechrometouch commented on #121
Closing as suggestion received too few feedback.

[2015-11-09 14:53] #121 closed

[2015-11-09 14:55] mheggeseth commented on #17
I think this could piggyback nicely on the work I did for #29 if you want to assign it to me @BillWagner. What would be pretty simple would be to collect the Name, Email, Phone, and an optional string comment of an not-logged in user who wants to volunteer. It would work the same as a logged-in user volunteering just without a reference to a user record.

Optional goodies (please comment on whethe

[2015-11-09 14:59] tonysurma commented on #17
Thanks @mheggeseth In retrospect the missing detail was that an anonymous user should see the option volunteer but it should then require them to login etc.  I believe that is what you already did.

The only potential open item for this issue or another related one would be making sure that registering/logging in via username & password on our site (not with a social media login) is an additional

[2015-11-09 15:21] mheggeseth commented on #17
Sounds good. Then this issue can probably be closed and split off into a separate "site user registration" issue. If that's required for the MVP, you could assign that to me.

[2015-11-09 15:43] tonysurma commented on #17
Agree.  @BillWagner and @shawnwildermuth can you coordinate with @mheggeseth to see if there is an issue for this already and if anyone is working on it?

[2015-11-09 15:43] #17 closed

[2015-11-09 17:06] smille1834 commented on #183
If a volunteer had accepted a task, but then decides not to participate, that task needs to free up and the Activity lead on the Admin side needs to be notified via e-mail that a task they thought was filled is now open again.

If the volunteer is leaving the activity all together, I don't see why they need to see the tasks, but I don't think it hurts anything for them to. If they are just rejecti

[2015-11-09 17:14] tonysurma commented on #183
To add what @smille1834 I would agree and add once they 'unregister' (either way) they fall back to being the same as before they volunteered which means they can no longer see tasks as one of our 'rules' is that a user can see campaigns and activities for all but can only ever see any task if they are assigned to it.

However they become unassigned they lose visibility to the task via that rule

[2015-11-09 17:32] ksk100 opened #302 "Activity and Campaign admin edit pages both calling UploadActivityImageAsync"
The image upload code for both activities and campaigns is calling the same `UploadActivityImageAsync` method on the image service.

This means that both are storing images to a path* of the form:

`/tenantId/entityId/imageFilename`

Where `entityId` is either `activityId` or `campaignId`.  This means that campaign images might overwrite activity images or vice versa: if the activity and campaign

[2015-11-09 17:44] ksk100 commented on #48
This problem also exists for the Campaign Admin Edit page: it too crashes when no file is selected.

The issue is as described above.

@dpaquette, what would you suggest as the best way for fixing this?  If your refactorings of all the admin pages is now complete, the solution I committed last week could perhaps be reimplemented on top of those modifications (i.e., we could have two models, one fo

[2015-11-09 18:42] bluechrometouch opened #303 "Would tasks allow for time?"
I noticed that the start and end dates for campaign and activity only include the dates. This seems reasonable. However for tasks, I'd imagine that it could use the time part.

We could have an activity that takes place in one day with several tasks. Any thoughts?

[2015-11-09 20:19] smille1834 commented on #303
I agree that yes, we would like to have times for tasks as some tasks may start/finish before others.

From: bluechrometouch [mailto:notifications@github.com]
Sent: Monday, November 9, 2015 12:42 PM
To: HTBox/allReady <allReady@noreply.github.com>
Subject: [allReady] Would tasks allow for time? (#303)

I noticed that the start and end dates for campaign and activity only include the dates. This se

[2015-11-09 21:12] bcbeatty commented on #249
I take this.

[2015-11-09 21:13] bcbeatty commented on #249
This is the workflow I'm thinking

Contact Fields
* First
* Last
* Phone
* Email
* Mailing Address -- stored in Location table

- [ ] Organization Edit - Editable
- [ ] Organization Details - read only
- [ ] Campaign Edit - When the button is pressed copy Organization Contact fields into Campaign data entry fields, do not save automatically
- [ ] Campaign Detail - Read only view

[2015-11-10 02:20] dpaquette commented on #48
Touch base with @joelhulen. I think he was doing something related to images. Just want to make sure you 2 are not overlapping on tasks.

[2015-11-10 02:23] dpaquette commented on #303
The intention is for tasks to specify time parts. We have some work to do on the design of that to make sure we don't get time zones confused.

[2015-11-10 02:44] joelhulen commented on #48
Yes, that's true. I wasn't finished with the changes since I was rushing to
get it up for testing toward the end of the hackathon. Feel free to make
any necessary adjustments, however.

On Monday, November 9, 2015, David Paquette <notifications@github.com>
wrote:

[2015-11-10 03:06] #278 closed

[2015-11-10 03:18] bluechrometouch commented on #303
Question answered. Closing.

[2015-11-10 03:18] #303 closed

[2015-11-10 04:45] bcbeatty opened #304 "Does the Location table have to a FK GeoCodes table?"
There's a FK from location to GeoCodes.
I'm adding contact information to Tenant and Campaigns for #249. I would like to reuse the location table, but the FK would prevent data entry of postal code we do not have in the database.

[2015-11-10 07:40] ksk100 commented on #48
Ah okay, I'll leave it for now if you're doing stuff on this @joelhulen.  I hope my PR #301 didn't overlap with anything image-related you were doing.

My main question for the above, which maybe of interest for whoever ends up working on it, concerns the design decision of whether to split the viewmodel so that the file upload form can be validated in the normal way, or whether to simply do the e

[2015-11-10 07:49] ksk100 commented on #302
@joelhulen, is this related to or covered by any of the image related work you're doing?

[2015-11-10 08:42] ksk100 opened #306 "What is the status of the GeoLocation table?"
Hi,

I'm investigating #193 and I've got stuck in my investigation/testing because some code in `AllReadyDataAccessEF7.Activity.cs` calls a stored procedure which appears to reference a table, `GeoLocation`, that is not created as part of the database setup (at least as created on my dev machine).  The `SELECT` statement in the stored procedure in question (`GetClosestActivitiesByPostalCode`) is:

[2015-11-10 09:20] ksk100 commented on #188
Where should these buttons go?  Should they be share buttons or should they link to the project's pages on these networks?

The `img` alt text suggests the latter, but I couldn't find URLs for Instagram/Youtube.

(Relevant URLs: FB: `https://www.facebook.com/allReadyApp/`, Twitter: `https://twitter.com/htbox`).

[2015-11-10 14:02] joelhulen commented on #302
Yes. This item is part of what I was working on to complete the related
task. It was a partial commit.
On Nov 9, 2015 11:49 PM, "Simon Kittle" <notifications@github.com> wrote:

[2015-11-10 14:19] ksk100 commented on #302
Okay no problem, I won't do anything with it.

[2015-11-10 15:57] dpaquette commented on #251
This is done for tasks now too

[2015-11-10 15:57] #251 closed

[2015-11-10 19:53] tonysurma commented on #249
Organizations have contact info close to your list:
* Name (maybe first last maybe "operations support" who knows)
* Phone
* Email
* Address
and then that flows down to campaigns as you stated (workflow wise)

[2015-11-10 20:00] MisterJames commented on #250
Starting this.

[2015-11-10 21:35] mheggeseth commented on #42
Dibs on this. Somebody assign me.

[2015-11-10 22:02] mheggeseth commented on #41
Taking this over from @rockfordlhotka. Please switch assignments @BillWagner / @tonysurma

[2015-11-10 22:14] MisterJames commented on #250
@joelhulen Is there any reason I can't change the CampaignImpactType to an enum?

[2015-11-10 22:19] joelhulen commented on #250
@MisterJames Absolutely no reason not to. In fact, I was going to do that after creating a class to hold those types of objects (enums and structs). I had brought it up at one point, but it was tabled while we were working through other issues.

I also like getting rid of magic strings. I think a static class named something like "EnumsAndStructs" or "WellKnownNames" would be clear as to its inten

[2015-11-10 22:32] MisterJames commented on #250
Beauty, thanks @joelhulen. I'll do the enum part here as part of this issue.

[2015-11-11 01:26] dpaquette commented on #260
Experimented with this a little today and could not get the build to fail when there were errors on a razor page. I will revisit once the next version of aspnet5 is released.

[2015-11-11 03:00] #41 closed

[2015-11-11 14:17] OhMcGoo opened #311 "Red Cross user getting an error message when attempting to login using Facebook"
A Red Cross user is getting the following error message when attempting to login using Facebook:

Error
Given URL is not allowed by the Application configuration: One or more of the given URLs is not allowed by the App's settings. It must match the Website URL or Canvas URL, or the domain must be a subdomain of one of the App's domains.

[2015-11-11 14:20] tonysurma opened #312 "Error when attempting to login via Microsoft Account"
Just click Login, Click Microsoft Account and get this url:

https://login.live.com/err.srf?lc=1033#error=invalid_request&error_description=The+provided+value+for+the+input+parameter+'redirect_uri'+is+not+valid.+The+expected+value+is+'https://login.live.com/oauth20_desktop.srf'+or+a+URL+which+matches+the+redirect+URI+registered+for+this+client+application.&state=CfDJ8KDKGBQpwThNmiIGCRNSeBxW2NOG9G3

[2015-11-11 14:20] tonysurma commented on #312
@bcbeatty this happens on both -d and -mvp and several builds.  Any ideas?

[2015-11-11 14:22] tonysurma opened #313 "Cannot register with local username & password - must use social media"
I know we have the code + db support for this but can we add UI support to login via creating a local user name and password?  Many volunteers do not want to/trust the connecting to social media accounts to log in.

[2015-11-11 14:24] dpaquette commented on #313
I was wondering about this. It sure would make local testing easier if we had an option to create local accounts.   I will take this on.

[2015-11-11 14:24] tonysurma opened #314 "some indication of which commit current build is from?"
I have done this on other projects where part of the build script is generating a file with the commit hash in it that is shown in the user interface of the app so that you know which build you are working on when you have an issue.  Anyone have a quick idea how to do that in our Kudu/asp.net5 beta environment?

Labelled it lower priority as we only have two builds (-d and -mvp urls for now) but w

[2015-11-11 14:32] BillWagner commented on #245
This is a duplicate of #312

[2015-11-11 14:32] #245 closed

[2015-11-11 14:39] #275 closed

[2015-11-11 14:39] joelhulen commented on #248
@OhMcGoo ultimately wants the ability to select Chicago neighborhoods in this manner: http://uw-mc.org/community-map/

This will require obtaining boundary/shape files. The selection and boundary entry options should be adaptive based upon state/city selection, and whether we have this information for that combination.

[2015-11-11 14:40] BillWagner commented on #238
Fixed in PR #310

[2015-11-11 14:40] #238 closed

[2015-11-11 14:40] BillWagner commented on #237
Fixed in PR #310

[2015-11-11 14:40] #237 closed

[2015-11-11 14:40] BillWagner commented on #233
Fixed in PR #310

[2015-11-11 14:40] #233 closed

[2015-11-11 14:40] BillWagner commented on #220
Fixed in PR #310

[2015-11-11 14:40] #220 closed

[2015-11-11 14:40] BillWagner commented on #216
Fixed in PR #310

[2015-11-11 14:40] #216 closed

[2015-11-11 14:41] BillWagner commented on #142
Fixed in PR #310

[2015-11-11 14:41] #142 closed

[2015-11-11 14:59] bcbeatty commented on #311
Separate Test Apps are need for urls, -d vs -mvp.
They _may_ also have to be declared as testers in the Roles section of the app properties page.

[2015-11-11 15:12] bcbeatty commented on #312
It may have something to do with registering the proper RedirectUrl in the apps' settings:
https://account.live.com/developers/applications/

A walk through is posted here: http://www.benday.com/2014/02/25/walkthrough-asp-net-mvc-identity-with-microsoft-account-authentication/
More information can be found here: http://stackoverflow.com/questions/12619532/the-provided-value-for-the-input-parameter

[2015-11-11 15:17] OhMcGoo commented on #311
How do we get all potential users (the list is growing as I'm seeing our initial invite forwarded to others) assigned at testers?

[2015-11-11 15:34] bcbeatty commented on #311
If we switch the app on facebook to the 'production' and be live. It won't require testers to be pre-defined. On the flip side it would allow anyone in with a social account, which is no different than the twitter and microsoft logins.

[2015-11-11 15:36] bcbeatty commented on #311
But I'm not sure if it would allow for -d and -mvp sites to share the same app Ids, as well as when we do go in to production. We will need the test appIds.

[2015-11-11 16:38] #42 closed

[2015-11-11 17:27] tonysurma commented on #311
@bcbeatty fine with flipping to production like you stated.  As App Ids are generated (really only need it for -mvp if it is a lot of work) I will update the deployment configuration once you get them (and share them in a non-public way with me :smile:)  Thanks

[2015-11-11 17:28] tonysurma commented on #312
@bcbeatty okay I will look into it.  What url did you test this with your own deployment to azure?  Hopefully I can just take that and change the host name or something similar.

[2015-11-11 17:31] tonysurma commented on #313
thank you @dpaquette we already have it in some ways given the administrator@test.com sample user so hoping its just UI mostly.  Thanks again

[2015-11-11 17:44] mheggeseth opened #315 "Font size of login-status links should not change on click"
The links in the "login status" section of the header (upper right corner) change font size when you click on them, and should not.

Hover:
![image](https://cloud.githubusercontent.com/assets/775229/11097993/d2477814-8867-11e5-9237-4cd0b25ff6f7.png)

Click:
![image](https://cloud.githubusercontent.com/assets/775229/11098008/e82a4c74-8867-11e5-96f2-be03dc23e6b8.png)

This is because we are not bein

[2015-11-11 17:48] tonysurma commented on #312
thanks @bcbeatty

problem solved

The issue was that we were entering this url as approved redirect and it actually needs to be
http://allready-mvp.azurewebsites.net/account/externallogincallback
http://allready-mvp.azurewebsites.net/signin-microsoft

Fixed on -mvp and when I get a moment I will create as separate app and fix it on -d

[2015-11-11 17:48] #312 closed

[2015-11-11 17:56] tonysurma commented on #312
also just fixed on -d, I had to create another app.  so it is done and live

[2015-11-11 17:56] bcbeatty commented on #312
:+1:

[2015-11-11 18:01] smille1834 opened #316 "New Skills Loading"
When creating an Activity, I realized I needed to add new skills to the drop down for that activity. I opened a new tab, went to skills and added skills I needed, but they didn't translate back to the Activity tab. I had to hit refresh and lost all the information I had input. Could we make it so the skills become available w/out refreshing, and/or create an option to add new skill in drop down in

[2015-11-11 18:18] mheggeseth commented on #316
I'm not sure the app would actually need something like this. Skills can only be maintained by site admins whereas activities will be managed almost exclusively by org admins. So I suspect that jumping from activity edit to skill edit would not be a common user workflow.

[2015-11-11 18:53] mheggeseth commented on #43
Anybody working on this? I'd be happy to.

[2015-11-11 19:33] tonysurma commented on #316
@mheggeseth this brings out a latent requirement that is okay for now but will be a rapid priority soon after private preview.  Skills will be primarily started as site admins as you said but what I discovered talking to @smille1834 and @OhMcGoo and thinking it through is each org has the potential to want to add additional skills on top of the common ones as different orgs and types of orgs will

[2015-11-11 19:34] tonysurma opened #317 "Organizations can add and maintain library of skills in addition to site wide skills"
Referenced in #316 we will also need organization level skills given variances across orgs.

[2015-11-11 19:46] mheggeseth commented on #317
So is the idea that we'd merge the org skill list with the site skill list (or at least give org admins the option of which skill list to use)?

[2015-11-11 19:47] mheggeseth commented on #316
Ah, I see. Thanks, @tonysurma.

[2015-11-11 20:03] tonysurma commented on #317
great q.  Idea would be that we would merge the 'pick list' from the site list + org list.  So XYZ can 'extend' standard list to also include hand to hand combat :facepunch: or sushi making skills :sushi: as they need

[2015-11-11 21:46] stimms commented on #314
I can do this.

[2015-11-11 21:47] tonysurma commented on #311
@bcbeatty do you still have perms to create these?

[2015-11-11 21:54] bcbeatty commented on #311
Yes, I renamed "AllReady Test 1" to be "AllReady D", Created an "All Ready - MVP" and I changed the production to go to https://allready-mvp.azurewebsites.net/

[2015-11-12 00:37] MisterJames commented on #250
Update...first rev will look something like this:

![image](https://cloud.githubusercontent.com/assets/1197383/11107407/26ce8720-88a3-11e5-89bc-44bb381053d1.png)

This will just be a temp thing until we get a better thermometer control in place.

[2015-11-12 01:06] stimms commented on #250
It you want to open a new issue on improving the look of that and assign it to me I'll d3 up something

[2015-11-12 03:12] tonysurma opened #321 "Enhance progress against goal visualization to look like a thermometer type goal chart"
Related to #250 this would add a nice visualization of the progress as a thermometer that someone can 'd3 up' :smile:

[2015-11-12 03:13] tonysurma commented on #250
@stimms done.  Feel free to d3 the heck out of it :alien:

[2015-11-12 03:15] #315 closed

[2015-11-12 03:15] #313 closed

[2015-11-12 04:33] bluechrometouch commented on #247
This seems interesting. I'd like to work this.

[2015-11-12 05:14] OhMcGoo commented on #311
We've had a second Red Cross user state that they can't login using Facebook. They were successful, however, logging in with Microsoft.

[2015-11-12 11:37] MisterJames opened #327 "Create Embeddable Components to Integrate AllReady onto Other Websites"
The sharing buttons are important but we should also have a way to integrate with people's blogs and sites more deeply.

A couple examples of this might be to have "join me" banners or "thermometer" boxes that could be added to someone's site. Effectively, these are a form of advertising or encouragement to participate and help spread the word.

[2015-11-12 14:08] dpaquette commented on #277
I couldn't reproduce this on my local machine. Is anyone else able to reproduce?

[2015-11-12 14:34] ksk100 commented on #277
No.

Could it be that somehow the browser has made a `GET` request to /Account/LogOff, and that's the source of the problem, because there is only a `LogOff` action for the Post method?

(If manually navigate to that URL I see nothing at all; no error, but nothing rendered, and I'm not logged off).

[2015-11-12 14:48] ksk100 opened #328 "Campaign Create/Edit requires image to be chosen and uploaded for each save"
I don't know whether this is desired behaviour, but I thought I'd post in case not: an image is now required for creating campaigns, such that they can't be created unless an image is uploaded.

A similar thing happens for editing the campaign, so that in order to update the campaign an image must be uploaded (even if the campaign already has one).

[2015-11-12 14:58] ksk100 opened #329 "Logging in using Administrator login form, but with standard user credentials, shows error but still logs user in"
To reproduce, just use one of the sample standard users on the admin login form.

You'll see "Invalid login attempt" but you will still be logged in and if you refresh you'll see standard menus.

[2015-11-12 15:00] dpaquette commented on #329
I will fix this

[2015-11-12 15:16] ksk100 commented on #193
This issue is pending on an answer to #306.

[2015-11-12 15:19] bcbeatty commented on #306
Also see #304

[2015-11-12 15:21] bcbeatty commented on #306
Also see #183

[2015-11-12 15:22] bcbeatty commented on #236
Also see #183

[2015-11-12 15:34] joelhulen commented on #328
This is not desired behavior. I missed that aspect during my testing.
Should be an easy fix.
On Nov 12, 2015 6:48 AM, "Simon Kittle" <notifications@github.com> wrote:

[2015-11-12 17:18] ksk100 commented on #48
@joelhulen are your changes with respect to images complete now?  Shall I go ahead and fix up the activity edit page in a manner similar to how you simplified the campaign one, or are you handling this one too?

[2015-11-12 17:27] joelhulen commented on #48
@ksk100 yes, my changes with respect to images on the campaign edit page are complete. Please go ahead and follow a similar pattern for the activity edit page. I wouldn't be able to get to it until late tonight.

One thing to look for is the issue you brought up about the image being required. If you fix that for activities, please also apply the fix to campaigns.

[2015-11-12 18:12] ksk100 commented on #48
Okay no problem.
On 12 Nov 2015 17:27, "Joel Hulen" <notifications@github.com> wrote:

[2015-11-12 18:33] ksk100 commented on #48
One question: as it stands the Create Activity page doesn't show the image upload form; that only becomes accessible via the Edit page once the activity has been created.  Was there a reason for that behaviour and should it be retained?

(Incidentally, as it's already getting late here I probably won't get this finished and tested tonight; but it'll be finished off first thing tomorrow, with the f

[2015-11-12 18:38] joelhulen commented on #48
I don't know why it was set up that way, to be honest. If you mimic the image behavior I've set up in the Campaign edit form, then you'll be able to upload the image on create as well as edit.

[2015-11-12 18:51] mheggeseth commented on #248
Interestingly enough: http://www.georeference.org/doc/zip_codes_are_not_areas.htm

[2015-11-12 18:54] joelhulen commented on #248
Great. As if this stuff isn't already complicated enough!

On Thu, Nov 12, 2015 at 10:51 AM, Mike Heggeseth <notifications@github.com>
wrote:

[2015-11-12 19:04] ksk100 commented on #48
Okay will do.
On 12 Nov 2015 18:38, "Joel Hulen" <notifications@github.com> wrote:

[2015-11-12 21:17] OhMcGoo commented on #311
Users numbers three and four have expressed that they can't login using their Facebook credentials.

[2015-11-12 21:21] OhMcGoo opened #330 "Red Cross beta testers are wary of using their social media accounts to login to allReady and would prefer a 'direct' login option"

[2015-11-12 21:21] dpaquette commented on #330
This should be available already. Was fixed as part of #319

[2015-11-12 21:23] dpaquette commented on #330
See also #313

[2015-11-12 21:51] BillWagner commented on #330
Depends on which host. It should be deployed on -d. @tonysurma would know if it's deployed on -mvp

[2015-11-12 22:37] tonysurma commented on #330
Later today

[2015-11-12 22:40] bcbeatty commented on #311
I attempted to login and I get the following error:

[2015-11-12 22:45] bcbeatty commented on #311
Is MVP linking to Prod's Api key or the Test for MVP ?

[2015-11-12 22:59] bcbeatty commented on #311
In the app Settings/Advanced Valid OAuth redirect URIs needed the base url (http and https)

[2015-11-13 02:36] tonysurma commented on #311
@OhMcGoo so according to us devs this should be fixed, can you confirm?

[2015-11-13 02:36] tonysurma commented on #330
deployed

[2015-11-13 04:03] #250 closed

[2015-11-13 04:03] dpaquette commented on #270
Related to #268

[2015-11-13 04:04] dpaquette commented on #270
Can someone assign this to me?

[2015-11-13 04:22] Harmonym commented on #277
I'll test it again tomorrow & see if I can repo it  and provide more detail. I was able to trigger it twice within a few minutes during the event Sunday, but it wasn't 100% consistent.

Sent from my Windows Phone
________________________________
From: Simon Kittle<mailto:notifications@github.com>
Sent: ‎11/‎12/‎2015 6:34 AM
To: HTBox/allReady<mailto:allReady@noreply.github.com>
Cc: Harmonym<mailto

[2015-11-13 04:55] tonysurma commented on #321
forgot to assign it to @stimms

[2015-11-13 05:05] OhMcGoo commented on #311
This feature isn’t quite there. My password was rejected on my first attempt:

NOTE: This phrasing is confusing:  Passwords must have at least one non letter and non digit character.

My second attempt:

[2015-11-13 05:12] tonysurma commented on #311
@OhMcGoo Looks like we missed some of what you typed.  However are you commenting on facebook login working or the direct username and password issue?  This is for facebook login and #330 is for 'regular' non social media logins

[2015-11-13 05:14] tonysurma commented on #330
@dpaquette we may need to reopen this or make a new issue around password rules, I am a kinda smart tech guy and I can't figure out how to make a password that works for it and @OhMcGoo said others were having confusion as well.  What are the rules currently?

[2015-11-13 05:18] OhMcGoo commented on #311
Let me try again.

The direct login feature isn’t quite there. My password was rejected on my first attempt (see Create account - 1st attempt).

NOTE: This phrasing is confusing:  Passwords must have at least one non letter and non digit character. A non later non digit is a symbol, right?

My second attempt brought about quite an astonishing display of characters! (see Create account - 2nd attemp

[2015-11-13 05:21] tonysurma commented on #330
I think I just successfully set a password but then I got this error

![snip_20151112232022](https://cloud.githubusercontent.com/assets/5067595/11139366/078ad8f4-8994-11e5-8ce6-7762c55ced95.png)

[2015-11-13 05:28] OhMcGoo commented on #330
Still learning to get my comments in the RIGHT issue:

Let me try again.

The direct login feature isn’t quite there. My password was rejected on my first attempt

![create account - 1st attempt](https://cloud.githubusercontent.com/assets/4147733/11139335/acce4ed2-8993-11e5-8830-7c92debfecdd.png)

NOTE: This phrasing is confusing:  "Passwords must have at least one non letter and non digit charact

[2015-11-13 05:31] OhMcGoo commented on #311
Still getting 'App Not Setup' error message when attempting to login via Facebook.

![app not setup](https://cloud.githubusercontent.com/assets/4147733/11139481/67f3b3f4-8995-11e5-8d98-2f67b9e2a3cd.png)

[2015-11-13 05:36] bcbeatty commented on #311
This is because the app is still in test/development mode. We need your Facebook's profile Url to register you as a tester. Then Facebook will authenticate your login.

[2015-11-13 05:38] OhMcGoo commented on #311
What about all our volunteers? Should we tell them NOT to use the Facebook option?

[2015-11-13 06:05] stimms opened #333 "Phone numbers could use an input mask"
![screen shot 2015-11-12 at 10 59 00 pm](https://cloud.githubusercontent.com/assets/153912/11139877/c2abec7a-8991-11e5-80b3-811412dc2a7c.jpg)

No idea how to do that for international phone numbers but I bet it is a solved problem.

[2015-11-13 10:02] ksk100 commented on #328
Noticed another issue whereby because the image is uploaded before the `Campaign` object is saved, it is always stored with a URL of form `/tenantId/0/filename`.  I'll roll the fix into the work I'm doing on this at the moment.

[2015-11-13 10:15] joelhulen commented on #328
Good catch. As you can see, it wasn't yet fully tested. Glad you're able to
go through it in detail, as I have not had time since Wednesday evening.

On Fri, Nov 13, 2015 at 2:02 AM, Simon Kittle <notifications@github.com>
wrote:

[2015-11-13 12:04] tonysurma commented on #311
@bcbeatty @billwagner can we flip it to live please in Facebook?

[2015-11-13 12:35] ksk100 opened #336 "Default campaign start/end dates on Create page are 1/1/0001"

[2015-11-13 12:41] ksk100 commented on #145
There's a mention of 'tenant' in `Areas\Admin\Views\Tenant\Create.cshtml`

[2015-11-13 12:47] ksk100 commented on #328
I realise this was assigned to Joel, but these were small fixes as I was dealing with #48; I think they're both addressed in the pending PR.

[2015-11-13 12:52] ksk100 opened #337 "Creating/updating campaign with a postcode: SqlException"
I couldn't find an outstanding issue which explicitly covered this, and wasn't sure if it's covered by any related WIP.

But if you try to add an address with a postcode that doesn't exist in `PostalCodeGeo` you violate an FK constraint:

[code]

Relates to #304

[2015-11-13 12:54] ksk100 opened #338 "There's currently no way for admins to remove an image from Campaign, Event"

[2015-11-13 13:00] ksk100 opened #339 "Missing title on view campaign page (/Campaign/ID)"

[2015-11-13 13:12] BillWagner opened #340 "Introduce constants for 'magic strings'"
Throughout the code, we use a number of literal string constants.
It would be great to replace those globally with defined string constants. See comments on PR #332 for the start of the conversation.

[2015-11-13 13:13] #329 closed

[2015-11-13 13:18] BillWagner commented on #311
@bcbeatty Ping me on slack when you have time. Let's get this working today.

[2015-11-13 13:22] #48 closed

[2015-11-13 13:22] #302 closed

[2015-11-13 13:22] #328 closed

[2015-11-13 13:36] dpaquette commented on #330
pinging @MisterJames
Is something not configured for email notifications to work on this server?

[2015-11-13 15:01] bcbeatty commented on #337
What's happining is If the PostalCode doesn't exist then a FK violation is thrown. Tied to #304

[2015-11-13 15:08] bcbeatty commented on #340
I've used https://github.com/T4MVC/T4MVC in the past for MVC projects. It works great for getting rid of magic strings of controllers and views. Not sure if it's been updated to support tag helpers

[2015-11-13 15:33] joelhulen commented on #340
@MisterJames and I had this conversation a couple of times. We discussed creating a static class named something like "EnumsAndStructs" or "WellKnownStrings", something along those lines. The idea is that some of these once-magic strings may be useful in other areas besides just views.

[2015-11-13 15:48] dpaquette commented on #330
Maybe re-open this as the queue storage issue is still outstanding

[2015-11-13 15:53] tonysurma commented on #311
just used a facebook account on -mvp and it all worked perfectly.  So unless @OhMcGoo sees anyone else with an error I think we can consider this closed and working.  Thanks @bcbeatty , @BillWagner , @dpaquette et al.

[2015-11-13 15:53] #311 closed

[2015-11-13 15:57] OhMcGoo commented on #311
Success on my end. Thank you!

Sent from my iPhone

[2015-11-13 18:06] dpaquette commented on #340
Don't forget about the new `NameOf` operator in C#6. This can sometimes be used to avoid magic strings for View names in Controller.

[2015-11-13 20:59] OhMcGoo opened #343 "When assigning tasks, Message All does not distribute an e-mail assignment to volunteers"
I began assigning tasks to volunteers (including myself). I checked the boxes next to the names of the three interested volunteers, clicked Save, clicked Message All and then sent a message (including instructions for next actions). No e-mail messages were received from the app.

![message all](https://cloud.githubusercontent.com/assets/4147733/11157460/1e2664ce-8a17-11e5-960b-43c9862a94f4.png)

[2015-11-13 21:02] dpaquette commented on #343
Likely related to the queue-storage issues seen in #330

[2015-11-13 21:35] tonysurma commented on #343
@dpaquette good point, I wonder if the errors are eaten and not seen.  I will check the sendgrid logs to verify if anything is sent

[2015-11-13 21:38] tonysurma commented on #343
Verified, no emails made it to sendgrid

[2015-11-13 22:52] tonysurma commented on #330
@MisterJames said he will look at queue later today.

[2015-11-14 02:50] MisterJames commented on #343
@OhMcGoo @tonysurma @dpaquette The code that would actually send out the notifications is currently commented out. I'm investigating and should have a patch tomorrow AM. Dave, you were right in that it's the same block of code currently under investigation in #330, but it doesn't get quite that far as the queue bits are not enabled.

[2015-11-14 13:49] mheggeseth commented on #314
@stimms So does the version only get replaced on AppVeyor? The "GITVERSION" string literal is still showing up on http://allready-d.azurewebsites.net/

[2015-11-14 14:28] mheggeseth commented on #248
http://geojson.io/ Fun tool for generating geoJson

[2015-11-14 17:18] MisterJames commented on #246
@joelhulen and @BillWagner it looks like this was completed and merged in via #246. Joel, can you please confirm that this is the case and we can close this off?

[2015-11-14 17:46] MisterJames commented on #25
Already implemented as part of #250 (thermometer and display of goals).

[2015-11-14 17:46] #25 closed

[2015-11-14 17:48] MisterJames commented on #330
@tonysurma this one should close with the merge of #343. Once that's confirmed, feel free to close this out.

[2015-11-14 17:55] joelhulen commented on #246
This is closed.

I know Simon Kittle was working on a couple of enhancements, so don't know
where he is in the process.
On Nov 14, 2015 9:19 AM, "James Chambers" <notifications@github.com> wrote:

[2015-11-14 18:14] MisterJames commented on #263
@BillWagner I'm closing this as I've added this page:

https://github.com/HTBox/allReady/wiki/Entity-Framework-7-Migration-Workflow

[2015-11-14 18:14] #263 closed

[2015-11-14 18:19] #246 closed

[2015-11-14 18:21] tonysurma commented on #35
@joelhulen @MisterJames I am going to mark this closed.  Please create any issues and reference back if you believe there is something still open but not covered by one of the sub issues up above

[2015-11-14 18:21] #35 closed

[2015-11-14 18:23] tonysurma commented on #330
@MisterJames yep will close once deployed and confirmed

[2015-11-14 18:26] tonysurma commented on #277
@Harmonym thanks I will prioritize this after you see if it is reproducible

[2015-11-14 18:27] tonysurma commented on #272
@schuback or others, lets see if this is still happening?

[2015-11-14 18:28] Harmonym commented on #277
Thanks! I just tested it again on -d w/ a couple of different login methods and couldn't repo it, so we can probably close it for now.

Sent from my Windows Phone
________________________________
From: Tony Surma<mailto:notifications@github.com>
Sent: ‎11/‎14/‎2015 10:26 AM
To: HTBox/allReady<mailto:allReady@noreply.github.com>
Cc: Harmonym<mailto:harmonymabrey@outlook.com>
Subject: Re: [allReady]

[2015-11-14 18:29] tonysurma commented on #266
The decision was to remove times.  I can't recall if this was covered by another issue.

[2015-11-14 18:31] tonysurma commented on #210
Duplicated of #273

[2015-11-14 18:31] #210 closed

[2015-11-14 18:32] tonysurma commented on #223
fixed with several updates recently

[2015-11-14 18:32] #223 closed

[2015-11-14 18:35] #277 closed

[2015-11-14 19:09] ksk100 commented on #246
All the stuff I was doing was merged with PR #335

[2015-11-14 19:10] ksk100 commented on #336
I'll sort this out; shall I go with current date for start plus one month for end?

[2015-11-14 19:22] tonysurma commented on #336
Sounds good

[2015-11-14 19:25] ksk100 commented on #281
I can duplicate the second error above.

Can anyone confirm the form of the connection string that is used for `Data:Storage:AzureStorage` on `http://allready-d.azurewebsites.net/`?

On my local machine I have a string of the form:

`DefaultEndpointsProtocol=https;AccountName=simonkittle;AccountKey=<removed>`

No other items, no whitespace.  And it works okay.

[2015-11-14 19:53] schuback commented on #272
@tonysurma I just tried again and the following came up

An unhandled exception occurred while processing the request.

FormatException: No valid combination of account information found.
Microsoft.WindowsAzure.Storage.CloudStorageAccount.<>c.<Parse>b__87_0(String err)

DependencyResolutionException: An exception was thrown while invoking the constructor 'Void .ctor(Microsoft.Framework.OptionsMode

[2015-11-14 20:07] tonysurma commented on #281
My goodness.  There was a space between the ; and 'A' in AccountName that was causing this :-1:

Fixed now.  Thanks all.

[2015-11-14 20:07] #281 closed

[2015-11-14 20:13] tonysurma commented on #330
between an extra config fix and #343 per @MisterJames I am pretty sure this will be closed out today.

[2015-11-14 20:14] tonysurma commented on #272
@schuback this appears fixed per a config update I made from #281

Before I close can you verify?

[2015-11-14 20:46] tonysurma commented on #330
Reopening as there are no webjobs to process the queues :cry: showing up in azure websites cc @MisterJames @dpaquette

[2015-11-14 20:46] tonysurma commented on #343
Reopening as there are no webjobs to process the queues :cry: showing up in azure websites cc @MisterJames @dpaquette

[2015-11-14 21:16] tonysurma commented on #330
For now this works with manual deployment to -mvp.  So closing this but opening an issue in UAT to get it working with kudu deployment

[2015-11-14 21:16] #330 closed

[2015-11-14 21:18] tonysurma opened #348 "WebJobs not deployed by Kudu due to asp.net 5 trickery or some other business"
Simply put the Kudu deployment does not deploy webjobs.  I currently manually deploy to -mvp and it works but this is not sustainable as I tend to sleep and do other things from time to time :smile:

[2015-11-14 21:18] tonysurma commented on #348
pinging @dpaquette and @mheggeseth as one worked on the Kudu with @BillWagner and I and the other has some history with webjobs

[2015-11-14 21:20] tonysurma opened #349 "Sms Messages Not Sent for Phone # Verfication"
It appears from the webjob logs that it actually is entered as an email msg on the cue and then the web job errors in processing it repeatedly and eventually puts it on the poison queue.

Have to test in manual deploy on -mvp due to #348

[2015-11-14 21:49] schuback commented on #272
@tonysurma I was able to enter the number (503-781-4430) and get to the verification data entry form.  I am still waiting for the verification code to be sent. It's been about 15 minutes since I hit submit.  I am back online for a bit.

[2015-11-14 22:14] tonysurma commented on #272
I just verified there is an issue with the SMS being sent.  So closing this the error is fixed and opened another for the SMS sending #349

[2015-11-14 22:14] #272 closed

[2015-11-14 22:15] schuback commented on #272
Thanks.

[2015-11-15 01:27] dpaquette commented on #32
@shawnwildermuth are you still working on this? If not I can take a look at it tomorrow

[2015-11-15 01:30] dpaquette commented on #32
I see now this isn't tagged as a Priority issue so I will focus on something else for now

[2015-11-15 01:37] tonysurma commented on #32
closed when #13 was closed

[2015-11-15 01:37] #32 closed

[2015-11-15 01:38] tonysurma commented on #39
@bluechrometouch it would still be there just not public.

[2015-11-15 01:38] tonysurma commented on #43
This is done now that we have the volunteer workflow working

[2015-11-15 01:38] #43 closed

[2015-11-15 03:30] MisterJames commented on #348
@tonysurma I have done a deep dive into the world of web jobs. There's actually a lot less magic going on than I assumed! :)

TLDR: the fix is just a file copy to a well-known location.

    wwwroot/app_data/jobs/continuous/web_job_name

First off, I'm not sure what you were doing to manually deploy it (upload via portal, perhaps?), but you were onto the right track. :heavy_check_mark: After deplo

[2015-11-15 03:36] MisterJames commented on #343
@tonysurma  I think we can close this as it will resolve with #348...or at least close with that one.

[2015-11-15 03:38] #349 closed

[2015-11-15 03:42] MisterJames commented on #276
@Harmonym Should this be a hard rule or a warning?

For example, if an activity is set up from 6-10 pm it makes sense that most tasks are in that range. But say the organizer wanted to also have a "clean up" task or a "postmortem" task, manager meeting, etc?

Would it make sense just to put a little exclamation mark (client-side validation) during entry? And perhaps that same mark beside the list

[2015-11-15 03:46] MisterJames commented on #247
@bluechrometouch sounds good, assigning you now. Before starting on this, can you find a few samples/links of what you're thinking of?

The keywords can be stored in a new field on the `Campaign` entity class.

[2015-11-15 05:33] tonysurma commented on #343
Still don't have proof it is working, I suspect it is due to no volunteers with verified emails

[2015-11-15 05:37] tonysurma opened #351 "No campaign activities are showing on the site"
This campaign should show up 'publicly' and it only shows on admin:

Is in the admin list:
https://allready-mvp.azurewebsites.net/Admin/Campaign/Details/8

Should be in this list:
https://allready-mvp.azurewebsites.net/Campaign/8

That is just one example but no activities are showing up at all

[2015-11-15 05:39] tonysurma opened #352 "No means to re-verify your email after initial login"
This is particularly tough for us in testing as there is no way to send emails to unverified users and all users don't have verified emails because it wasn't working until just now.

Alternatively and supplementally we could create the ability for site admins to delete users so we can at least remove users so they can go through login again.  We will need this functionality soon anyways so whichev

[2015-11-15 05:40] tonysurma opened #353 "Need the ability to delete users as a site admin"
Either this or #352 is needed for testing so I put both as P1.  Whichever can get done sooner is better.

[2015-11-15 05:51] tonysurma commented on #348
@MisterJames that is exactly what my quick research showed we could 'hack' to make it work for now.

What do you mean by "My only hesitation is whether or not we need the  site\wwwroot  components in the target path; this will have to be tested/verified." ?  Those files are already created by the publish and there to be synched by kudu so if we copy our items to the app_data/jobs path after the dn

[2015-11-15 05:53] tonysurma commented on #276
@MisterJames of course I let @Harmonym and @smille1834 chime in but I think what you are proposing is right on as it isn't a hard limit.  That being said the activity will probably include setup and teardown times so when the volunteers are volunteering they know the possible timeframes for all tasks in that activity.

[2015-11-15 05:59] MisterJames commented on #348
Yes, we're on the same page. I just don't know from the current cmd what the relative path is for the kudu script. So, can't confirm if we need site\ in the target path, \wwwroot or both.

I can confirm the order is dnu publish the site, msbuild the web job, copy all files from WJ to WS, then finally let kudu sync take over.

[2015-11-15 06:02] OhMcGoo commented on #343
As an Administrator, I attempted to Message All (I am one of the volunteers also) but have not received an e-mail.

<img width="706" alt="message all" src="https://cloud.githubusercontent.com/assets/4147733/11167544/0ddd1458-8b2c-11e5-900f-af2eac6b19ea.png">

[2015-11-15 06:29] tonysurma commented on #348
Gotcha, Yep.  @BillWagner can test that out in his test deployment site.  I think it is deploying to \site so we don't need site but need wwwroot (if memory serves correctly)

[2015-11-15 06:31] tonysurma commented on #343
Yep @OhMcGoo same here.  I am 99% sure the issue is the code (properly) only emails to users with verified emails (so you don't type someone else's email and spam them) and long story short we don't have users with verified emails.  I create a few issues to fix that (either allow us to have users reverify from account page so they can do it themselves if something doesn't work the first time (like

[2015-11-15 11:48] BillWagner commented on #348
@MisterJames What is WJ and WS? Not familiar with those acronyms . (Or just tired and haven't had coffee yet).

[2015-11-15 12:47] dpaquette commented on #352
I can do this today

[2015-11-15 13:17] mheggeseth commented on #351
I'm on this.

[2015-11-15 15:16] MisterJames commented on #348
Web job and web site :coffee: :)

[2015-11-15 19:00] Harmonym commented on #276
@MisterJames I agree with your recommendation and Tony's feedback.  The only thing I would add is that I think it would be nice if the calendar selector for the task starts on the month that reflects the start month for the activity.  So for example if an activity was set to run from December through February, when the admin selects to add a task the start date calendar would default to December,

[2015-11-15 23:05] #352 closed

[2015-11-16 00:28] aliiftikhar commented on #339
Fixed this in Commit 2e19dd5d. Added Campaign Name as Page Title.

[2015-11-16 01:45] tonysurma commented on #352
Verified now working

[2015-11-16 01:45] tonysurma commented on #349
Verified it is now working

[2015-11-16 01:46] tonysurma commented on #330
verified working

[2015-11-16 01:47] tonysurma commented on #314
This looks like it needs build support to actually put commit hash in the json file

[2015-11-16 01:47] tonysurma commented on #313
Verified working

[2015-11-16 01:57] tonysurma opened #359 "Link not clickable in confirm email message sent"
![email blech](https://cloud.githubusercontent.com/assets/5067595/11172826/4598f68c-8bc2-11e5-9f94-e8eb372439bf.png)

Also guessed @MisterJames is likely one to fix given he worked on emails

[2015-11-16 02:55] dpaquette commented on #359
This is likely because our email sending service is not setup to send HTML email.

[2015-11-16 03:11] mheggeseth commented on #248
@BillWagner @tonysurma Assign this to me when you get a chance, though I'm looking for something higher priority to work on.

[2015-11-16 03:15] mheggeseth commented on #316
@tonysurma @BillWagner You can assign this and #317 to me.

[2015-11-16 04:15] #351 closed

[2015-11-16 04:28] tonysurma commented on #351
Excellent!  I have been able to now test full cycle and it worked.  Once we have a confirmed email and text message the message all functionality worked.  Thank you everyone

[2015-11-16 04:31] tonysurma commented on #343
Confirmed this works! Houston we have contact!  I have been able to now test full cycle and it worked.  Once we have a confirmed email and text message the message all functionality worked.  Thank you everyone.  @OhMcGoo anyone who registered as a user needs to login again, click on their name in the top right and confirm their email - which requires hitting the link on that page and then copying

[2015-11-16 04:31] #343 closed

[2015-11-16 06:16] bluechrometouch commented on #247
jQuery Tag-it appears to be a commonly used and supported tagging framework.

The source page has an autocomplete example. There would need to be JSON source list.
https://github.com/aehlke/tag-it

More Samples
http://webspirited.com/tagit/

[2015-11-16 09:14] ksk100 opened #361 "Managing logins page crashes"
Important for #296.

    An error occurred during the compilation of a resource required to process this request. Please review the following specific error details and modify your source code appropriately.

    Generated Code

    'AuthenticationDescription' does not contain a definition for 'Caption' and no extension method 'Caption' accepting a first argument of type 'AuthenticationDescription

[2015-11-16 09:30] ksk100 commented on #296
Are there any aspects of the user's profile which need to be editable, but which aren't already editable via the standard manage screen (the one you get if you click on the user's email)?

[2015-11-16 14:31] #339 closed

[2015-11-16 14:32] #336 closed

[2015-11-16 14:33] #361 closed

[2015-11-16 14:34] MisterJames commented on #353
I'll plunk away at this one after I get the email sorted.

[2015-11-16 14:35] MisterJames commented on #262
@dpaquette Did I see you working on a feature related to this one?

[2015-11-16 18:04] joelhulen commented on #247
Guys, I had already started this a week ago. My changes somehow got blown away, probably with all of that merge mess I was mired in. Anyway, you should see a reference to the "bootstrap-tagsinput" library within the bower.json file, which I added. I had created a textbox on the Campaign edit page which was tagged with the appropriate class for the tags helper. I found this library to be good in th

[2015-11-16 18:39] dpaquette commented on #262
Yes, I was working on something like this. The trick is doing this without adding huge overhead to every request.

[2015-11-16 21:52] bluechrometouch commented on #247
Good thing I haven't worked on this as I was waiting for the top response.

[2015-11-16 23:56] tonysurma commented on #296
Now that that is all working I think everything is editable that needs to be (some day we have to deal with email changes) but there may be some value in adding a UX addition like a drop down arrow or some indication that your name is clickable / takes you to the page to edit them.

Maybe a small menu might be good and this can be 'Profile' as soon we will have other items for a user as well (like

[2015-11-17 02:46] dpaquette commented on #270
Working on a solution for this and #268 that uses bootstrap datetime picker.

Would everyone be okay with the following? Maybe not indefinitely but at least to get us through this milestone.
![DateTimePicker](https://cloud.githubusercontent.com/assets/2531875/11201341/594660b8-8cab-11e5-95b6-a5e2adbbe00d.png)

[2015-11-17 02:55] OhMcGoo commented on #270
It's not going to bother our volunteers as we use the same one in our incident management application, DCSOps:

<img width="620" alt="date-time picker" src="https://cloud.githubusercontent.com/assets/4147733/11201488/50be80b2-8ca4-11e5-9636-0fe20453a760.png">

[2015-11-17 03:33] #359 closed

[2015-11-17 03:36] tonysurma commented on #270
Yeah I'm all good with it altho you have me intrigued to what you have up your sleeve that makes this so passé :smile:

[2015-11-17 04:34] tonysurma commented on #270
@dpaquette when you are fixing this can you verify you are also fixing #268 I think that is basically a duplicate of this one but keeping both so we make sure both scenarios work

[2015-11-17 04:36] tonysurma opened #365 "Enable resetting of passwords for not verified users"
So if you create an account and never click the link (or for some reason lose that email) and also forget your password the admin cannot reset your password

![nopwdreset](https://cloud.githubusercontent.com/assets/5067595/11202848/8c84625e-8ca1-11e5-9d9b-db072bb7d978.png)

Can we unbreak this chain either by allowing for deleting of users (nuclear option) #353 or by allowing (maybe with a second

[2015-11-17 04:42] tonysurma opened #366 "Resetting Password From Admin Does Not Send Email"
Before I tag this to a milestone can you peek at it James?

I deployed changes and couldn't login as a user to verify an email so I tried to hit reset password for one of my users.  I got no error, I see it in the web job log as processing the message but nothing shows up in my inbox or in the sendgrid activity page?

UPDATE: I verified that verify email messages get out but not reset password.  M

[2015-11-17 04:48] tonysurma commented on #296
Definitely need a way to edit email if I typo it when creating my account then I can never change it.  We can do it with phone number currently.

[2015-11-17 04:52] MisterJames commented on #366
Investigating now.

[2015-11-17 05:03] MisterJames commented on #366
It looks good from my standpoint @tonysurma. I got the conf email and was able to reset my password. Mail flows through the queue correctly and the HTML is properly set, the link in the email works.

We display a "honey pot" if you type in a bad email, so it will always tell you it sent it. Can you double-check your email address and submit again?

[2015-11-17 05:13] tonysurma commented on #366
Our updates crossed... I updated to point to the fact it was via admin resetting a password not the other way around

[2015-11-17 05:17] tonysurma commented on #366
Lowered priority as you can just as easily do this via login screen - clunky but effective

[2015-11-17 07:08] WilliamBerryiii opened #369 "Update Use of Local Server Time to UTC"
Given the possible distributed nature of this application, date times should likely be done in UTC and converted to local time as needed.  See this as a sample of DateTime.Now that should be updated: https://github.com/HTBox/allReady/blob/abe6054f3a177cf8fb0227981c40bf2acec586f4/AllReadyApp/Web-App/AllReady/Areas/Admin/Controllers/CampaignController.cs#L60-L61

[2015-11-17 12:30] bcbeatty commented on #369
During the code-a-thin I asked Ryan from
Microsoft about DateTime vs DateTimeOffset. He said to always use DateTimeOffset because it stores the time zone.

[2015-11-17 12:45] BillWagner commented on #296
@tonysurma How would that scenario (mis-typed email) work when the email addr isn't confirmed? Delete user and re-create? Admin only?

[2015-11-17 12:47] #273 closed

[2015-11-17 13:21] dpaquette commented on #369
Using DateTimeOffset alone doesn't solve all our problems. We still need to understand what timezone each event is hosted in. Once we have established the correct timezone for the event, a decision would also need to be made regarding what timezone the time should be displayed in. Do we display the time in the current user's local timezone or do we display the time in the timezone of the event?

[2015-11-17 13:36] MisterJames commented on #296
So, the email address is currently being used as the username. We'll need to have a think through on this to make sure that the impact here is understood.

 1. If the user changes their email, we would need to reconfirm it
 1. We probably shouldn't change the primary email until they've confirmed the new one (to prevent accidental lock outs or mal-intent)
 1. We should likely consider a preferred

[2015-11-17 13:39] MisterJames commented on #369
Yes, the correct approach is to use DateTimeOffset and consider the bits that @dpaquette added.

I think both, if there's a mismatch. For instance, "This event is at 3:00pm Eastern (2:00pm your time)", but only have that second bit if it's not aligned.

[2015-11-17 13:48] MisterJames commented on #276
@bluechrometouch I've added a couple of notes from this thread to the description, please feel free to run with it!

[2015-11-17 13:52] MisterJames commented on #348
@BillWagner perhaps later this week we can work on this together. For now, @tonysurma will have to manually deploy the web job updates that we have made.

[2015-11-17 14:06] BillWagner commented on #348
@MisterJames It's on my list for today. I'll work on it this afternoon, and ping you if I need help.

[2015-11-17 14:06] dpaquette commented on #369
Hadn't considered displaying both. That's a great idea!

[2015-11-17 16:32] cecilia-donnelly opened #370 "Register: list password requirements"
On the "Register" page, list requirements for the password (e.g. must include a digit), so that users don't have to guess.

I would label this as an "enhancement" and maybe "jump in" -- it's not strictly necessary, but it would avoid some minimal frustration and should be easy to add.

See also #209.

[2015-11-17 16:34] cecilia-donnelly opened #371 "Change/update jokey tooltip text?"
Some of the text in the "?" tooltips under "Needed Skills" seems a little too informal for production use -- I expect that those will be updated, but wanted to flag it anyway.  It might be that you intend the app to have a casual voice, which would be fine, of course.

Possible labels: "question," "jump in."  (I would add labels myself but GitHub doesn't let non-team-members take actions like labe

[2015-11-17 16:36] cecilia-donnelly opened #372 "Email after volunteering or unenrolling"
The app should send the user a confirmation email after they volunteer for and/or unenroll from an event.

Labels: "question" (do we want to send people lots of emails, @OhMcGoo?), "enhancement."

[2015-11-17 16:39] cecilia-donnelly opened #373 "Event searching and viewing enhancements"
It would be nice to have a page called "my events" that shows what the logged-in user has already volunteered for.  Similarly, maybe the app could show a calendar of all events so that users can search for events by date instead of just by zipcode.  These could even be the same calendar page, and users could filter by "events I've signed up for," "events near me," and "all events."

This is probab

[2015-11-17 16:42] cecilia-donnelly commented on #193
+1 on this.  The search now returns "There was an error.  Please try again later!" for valid and invalid zipcodes (at least all the ones I tested).  Thanks for investigating, @ksk100.

[2015-11-17 16:45] cecilia-donnelly commented on #236
Agreed with @Harmonym.  At the very least, clicking Unenroll should immediately redisplay "Volunteer," without waiting for the user to manually refresh the page.  I don't _think_ this is blocked on #183, since "Unenroll" does seem to have some effect already.  This issue is just a display / UI problem.

[2015-11-17 16:48] cecilia-donnelly commented on #232
+1 on this and #234.

[2015-11-17 17:19] dpaquette commented on #270
@tonysurma  Yup, working on both

[2015-11-17 17:41] tonysurma commented on #371
Thanks for working with us and posting issues Cecilia.  Those are just items inside the 'sample data' entered by devs etc.  It can/will be cleaned out by our and the red cross admins and replaced with real data :)

and yeah I wish GitHub had more flexibility in perms to issues but not yet.

[2015-11-17 17:41] #371 closed

[2015-11-17 17:43] tonysurma commented on #236
Thanks I triaged this for our next release

[2015-11-17 17:44] tonysurma commented on #373
Great points and was thinking similar.  We will likely break down to multiple tasks when we get to working on it.

[2015-11-17 17:45] #268 closed

[2015-11-17 17:45] #270 closed

[2015-11-17 17:45] tonysurma commented on #370
Thanks

[2015-11-17 17:47] tonysurma commented on #193
As a temp workaround can we remove the search box from view for this upcoming release as searching isn't key for private preview?  I will create a separate issue for that

[2015-11-17 19:03] mheggeseth commented on #193
I think we could pretty easily replace the search box with a map of all the campaigns (Even relative to the user location).

[2015-11-17 19:20] OhMcGoo commented on #372
I think you allow the user to set their own 'communication' preferences: For what do they want to be e-mailed (or texted) and how often (and how soon before an event).

[2015-11-17 20:29] #348 closed

[2015-11-17 21:23] cecilia-donnelly commented on #372
Yes, that makes sense.

[2015-11-18 00:38] dpaquette commented on #266
Is there anything to do here?

[2015-11-18 00:52] dpaquette commented on #365
I can take this one on. Please assign to moi

[2015-11-18 01:36] MisterJames commented on #373
I'm splitting this down into other tasks now.

[2015-11-18 01:36] MisterJames opened #376 "Create "My Events" Page For Volunteers"
Create a listing of events for which the logged-in user has volunteered for.

From #373.

[2015-11-18 01:39] MisterJames opened #377 "Create a Calendar of Events"
See all events that are in the system in a calendar display.  Allow for filtering by zip code, within a certain distance, or all events.

From #373.

[2015-11-18 01:41] MisterJames opened #378 "Allow Calendar of Events to By Filtered by Logged in User"
Augment the calendar of events to use the logged in user (and possibly their preferences) to provide additional filtering capabilities such as "my events" or events based on skills the user has indicated they have.

Dependent on #377.
From #373.

[2015-11-18 02:10] joelhulen commented on #377
I think we should use a library like: http://mvc.daypilot.org/daypilot-lite-for-asp-net-mvc-1-3/

What are the views that should be displayed? Month, week, work week, day...

[2015-11-18 02:13] mheggeseth commented on #376
There already exists a MyActivities view but it doesn't do much. This view should replace/augment that one.

[2015-11-18 05:41] tonysurma commented on #373
Thank you @MisterJames

[2015-11-18 05:43] stimms commented on #377
Where were you thinking this would go? As part of the campaign list page? Perhaps we could have a list view (current) and a calendar view with a little toggle in the top right.

A fully featured calendar control seems kind of heavy weight to me. I would think that for most of the campaigns a monthly view would be sufficient. Certainly for our example project it is.

[2015-11-18 05:45] tonysurma commented on #266
If campaigns only have dates to enter (not times) then we are good. I can verify later/tomorrow

[2015-11-18 05:46] tonysurma commented on #266
confirmed it's done

[2015-11-18 05:46] #266 closed

[2015-11-18 11:58] #321 closed

[2015-11-18 12:00] #366 closed

[2015-11-18 15:13] #365 closed

[2015-11-19 00:26] aliiftikhar commented on #370
Questions:

1. Password length should be 10 (as specified while configuring Identity service in Startup.cs) or 6 (as specified in RegisterViewModel) ?

2. Password requirements according to Identity service configuration in Startup.cs is:
'Password should be at least 10 characters long, containing at least one 1 lowercase character and 1 number.'
Can this text be added on the page as password requ

[2015-11-19 00:50] aliiftikhar opened #386 "Incorrect Password minimum length validation on ViewModels"
The Password minimum length validation in ResetPasswordViewModel and RegisterViewModel is set to 6.

The actual password length has been changed from 6 to 10: #341

Therefore Password minimum length validation in ResetPasswordViewModel and RegisterViewModel also needs to be update accordingly (i.e. set to 10).

[2015-11-19 11:10] MisterJames commented on #386
Thanks @aliiftikhar!

[2015-11-19 11:25] MisterJames commented on #186
@MKSessions I had to remove the "jump in" flag here as the SendGrid bits will require assistance from someone with the appropriate permissions to make changes. These elements will likely be broken down further in a future set of requirements.

[2015-11-19 11:41] MisterJames opened #389 "Proposal: Notification Framework"
We have an existing notification mechanism that has served the immediate needs of the MVP. I would like to propose that we augment that and build out a framework for rich notifications that improves the experience for the end user, supports self-directed levels of notifications from the user, visible notifications for logged in users as well as opt-out lists.

## New User Experience
A user would s

[2015-11-19 15:02] bcbeatty commented on #389
Are you thinking the UI could work similar to GitHub's notifications?

- an icon on the header with an indicator of unread notifications, which links to:
- a notification page that list a title of the notification
 -  clicking on the title sends a user to a more detailed page (which marks it read),
 -  content of the notification with the ability to unsub from the subject
- actions on the list
 -

[2015-11-19 19:32] joelhulen commented on #389
Along the lines of notifications, we may want to think about implementing a scheduled task (via WebJob or similar) that sends out aggregated notification emails (as you mentioned) as well as reminder-type notifications. For instance, if someone has volunteered for an activity that occurs on Saturday, you may send them a reminder on Wednesday about that activity.

For displaying notifications, I th

[2015-11-19 19:34] bcbeatty commented on #389
This also could tie into the Cordova app to receive notifications, *Finally a use case for the app vs mobile web*

[2015-11-20 03:23] mheggeseth commented on #389
Why wouldn't we want to store notification instances and their statuses in SQL? Would handling them via some medium other than the SQL DB present any dev/test challenges?

[2015-11-20 04:39] stimms commented on #389
A scheduled task is certainly an approach for sending out messages but I would posit that it isn't how most of these large messaging/notification type applications work. I don't get notified at midnight or some arbitrary time that there are notifications for me instead I get them after some period of time has passed since the first notification. This is largely better because then we aren't seeing

[2015-11-20 04:41] stimms commented on #389
On a related note did you know there is no stop sign in font awesome?

[2015-11-20 07:13] joelhulen commented on #389
I agree about not sending notifications at an arbitrary time. The scheduled job would run at regular intervals and check against some data store for messages that need to be added to the queue. The messages would be either aggregated ones, or reminders of some sort. This means that we would need some logic to set the send time, whether it's x minutes since the first message in an aggregate, as you

[2015-11-20 09:26] ksk100 commented on #236
I'll do this if no one else is working on it?

[2015-11-20 11:39] BillWagner commented on #236
@ksk100 I assigned it to you. Thanks!

[2015-11-20 11:40] #236 closed

[2015-11-20 11:41] #386 closed

[2015-11-21 13:50] dpaquette commented on #369
I can start working on this and tackle the whole timezone thing. Here is what I am thinking.
- Users will need a timezone associated with them. We will guess their timezone based on where they are but this would be a setting they can change in their user profile.
- A campaign will need a timezone associated with it. This would be part of the campaign setup. We could potentially have a timezone for

[2015-11-21 13:54] dpaquette commented on #144
I think this can be closed

[2015-11-21 14:18] mheggeseth commented on #369
Suggestion: only show one time (with TZ) if the entity and user time zone are the same.

[2015-11-21 20:18] BillWagner commented on #144
Yes, it can. I missed closing it when merging #149

[2015-11-21 20:18] #144 closed

[2015-11-22 21:40] MisterJames commented on #389
@stimms and @joelhulen I like the timeout pattern and I think that we would also need something of the "high priority" variety of message as well. I spoke with @tonysurma at the code-a-thon about this...for example, if the timeout hadn't yet passed, but an SMS needed to go out to say "this has been cancelled due to radioactivity, don't go under any circumstance" it would be bad if it sat in a hold

[2015-11-23 02:05] stimms commented on #389
I would hesitate to pollute your high priority items with trivia from the general message stream.

`There is a huge radiation leak, you must flee for your life. Also: Daisy had puppies!`

There is no reason that there couldn't be a high and low priority message stream. In my mind the timeout simply handles triggering the sending of a summary rather than actually holding the messages. I would put m

[2015-11-23 03:02] dpaquette commented on #369
Can someone assign this to me?

Making some good progress so far. I am able to display in both the campaign and the user's local time zone:
![Event time vs Local User Time](https://cloud.githubusercontent.com/assets/2531875/11329076/952f8ca4-9164-11e5-9d6b-8ec8006b1e04.png)

I just need to improve formatting and do a lot of testing.

[2015-11-23 03:28] BillWagner commented on #369
assigned to @dpaquette

[2015-11-23 19:23] joelhulen commented on #389
I think "immediate" was always on the table. I imagine that would just go into a specialized Azure queue that fires on receipt to send the notification.

One thing I was thinking that would be slick is if we made use of SignalR to have notices appear on the site in real time without the user needing to refresh. I know there are ways to do this without SignalR, but it does have a nice standard way

[2015-11-24 22:34] JesseLiberty opened #396 "Duplicate social media code in layout and layout main page"
We should create a partial view to refactor this duplication

[2015-11-24 23:04] BillWagner commented on #188
Assigned to @JesseLiberty  based on email conversation.

[2015-11-24 23:12] dpaquette commented on #396
I don't think that _LayoutMainPage.cstml is used anywhere. If that is the case it should just be removed

[2015-11-24 23:14] dpaquette commented on #396
Ah never mind. I see that it is used by Home\Index.cshtml.  I wonder if this is necessary. Would be nice if we could get down to a single layout

[2015-11-25 02:32] BillWagner commented on #188
Fixed in PR #397

[2015-11-25 02:32] #188 closed

[2015-11-25 04:07] dpaquette commented on #262
Assign this one to me. I will tackle this task next

[2015-11-25 04:16] MisterJames commented on #262
@dpaquette Let's touch base on this one (DM on Slack is fine)...I had a couple of ideas here.

[2015-11-25 16:15] dpaquette commented on #369
This was resolved by #395. Forgot to tag it to close

[2015-11-25 16:23] BillWagner commented on #369
Thanks for the comment @dpaquette Closing now.

[2015-11-25 16:23] #369 closed

[2015-11-25 23:39] stevejgordon commented on #370
I've had a crack at this in Pull Request #398 with a view to making life easier in the future by having a single class where these are set. We could also use a config file perhaps to avoid hard coding these as constants. Architecturally I'd love feedback if this is a sensible approach!

[2015-11-27 23:46] JesseLiberty commented on #214
Duplicate of issue #188 (closed)

[2015-11-29 02:18] BillWagner commented on #214
@JesseLiberty is right. Duplicate. Closed.

[2015-11-29 02:18] #214 closed

[2015-12-01 05:20] bluechrometouch commented on #376
I'd like to augment this existing view.

[2015-12-01 08:19] bluechrometouch opened #400 "Campaign Data Samples Error"
The sample campaigns cannot have a null value for TimeZoneId. This causes a break when loading sample data.

[2015-12-01 17:22] ksk100 opened #402 "Crash when creating task: TimeZoneNotFoundException"
On `http://allready-d.azurewebsites.net/` or when running locally I get the following error when trying to create an activity:

![image](https://cloud.githubusercontent.com/assets/6615834/11508064/c36617a0-984e-11e5-8570-ad80100f4772.png)

Looks like it might just be that the `Create` method in `TaskController.cs` needs updating to set a value for `TimeZoneId` on the view model.

[2015-12-01 22:56] bluechrometouch commented on #276
Back from Thanks giving. I agree that there should not be a hard limit as people might always need more time on a task or campaign. Thanks, will work on this.

[2015-12-01 23:04] bluechrometouch opened #403 "Null Campaign data in MyActivities Error"
When a user has volunteered for activities and visits their MyActivities page, a null Campaign error will be thrown.

Campaign data needs to be included in the Activity SIgnup model that the view depends on.
".Include(x=> x.Activity.Campaign)" needs to be added to the ActivitySignup linq methods.

This is found in AllReadtDataAccessEF7.Activity.cs.

[2015-12-02 03:30] #400 closed

[2015-12-02 13:17] dpaquette commented on #402
I will take a look at this.

[2015-12-02 16:15] stevejgordon opened #405 "EF Practices - Async"
I had a couple of observations / queries around the EF code in the project currently. I'm not sure if they are actual issues but will raise them for discussion.

I see that the EF async methods are not currently being used. Is there a reason for this? I've been using these in my own projects as I understood that to be a preferred practice going forward?

[2015-12-02 16:17] stevejgordon opened #406 "EF Practices - ToArray Use Prior to Where Clause"
On the linq EF queries I see ToArray being called before the where clauses,,,

Example from **AllReadyDataAccessEF7.Activity.cs**
[code]
My understanding was that one should call ToList / ToArray after the where and orderby clauses to reduce the data being returned from SQL by the query. The above seems to suggest to me we only need the data for a single user but the above would request all of the

[2015-12-02 16:48] dpaquette commented on #406
The ToArray here definitely looks like it is in the wrong place.

On a related note, I think we are trying to replace queries like this in the AllReadyDataAccessEF7 class with Query objects like we did in the Admin area.

[2015-12-02 21:31] bluechrometouch commented on #403
Closed

[2015-12-02 21:31] #403 closed

[2015-12-02 21:38] bluechrometouch commented on #276
![capture](https://cloud.githubusercontent.com/assets/14866579/11545047/b8d95146-990a-11e5-8168-17c78f8d1ba3.JPG)

[2015-12-02 22:24] stevejgordon commented on #406
I'm happy to go through and make some basic fixes to the linq queries as a stage one if that's the right approach here? I'd also be interested in giving time to working on the any changes to the structure of the data access as per the admin area if that's deemed a change the project is looking to make? I'm new to contributing to GitHub projects so will take guidance on what I should do and whether

[2015-12-02 22:41] BillWagner commented on #403
@bluechrometouch Please wait to close issues until the code that fixes it is merged. (As a normal practice, I close issues when I accept the pull request.)

[2015-12-03 01:53] mheggeseth commented on #317
Here's what I'm thinking on this one.
* Extend Skill model with an OwningOrganizationId property. Default value is null which would mean the Skill is a site-wide skill (available to all orgs; editable by site admins).
* Add OwningOrganization drop down to Skill edit view (editable by site admins; hidden for org admins).
* Make Skill CRUD views available to org admins. They can view/add/edit/delete

[2015-12-03 03:28] tonysurma commented on #317
As they say at Coldstone Creamery: Like it. Love it! Gotta Have it!!!

Looks perfect to me and not worried about what it prevents, in fact good with that.  Thanks!

[2015-12-03 18:17] dpaquette opened #410 "Consolidate DateTimeOffset conversion to a single place"
We are converting DateTimeOffset values to the Campaign timezone in a few different places. Would be nice to avoid the duplication of code here.

[2015-12-03 18:18] dpaquette commented on #410
Examples in [TaskController.cs](https://github.com/HTBox/allReady/blob/master/AllReadyApp/Web-App/AllReady/Areas/Admin/Controllers/TaskController.cs), [ActivityEditCommandHandler.cs](https://github.com/HTBox/allReady/blob/master/AllReadyApp/Web-App/AllReady/Areas/Admin/Features/Activities/EditActivityCommandHandler.cs) and [EditTaskCommandHandler.cs](https://github.com/HTBox/allReady/blob/master/A

[2015-12-03 18:18] dpaquette commented on #410
Assign to me please

[2015-12-03 21:09] BillWagner commented on #402
Fixed in PR #407

[2015-12-03 21:09] #402 closed

[2015-12-03 21:12] BillWagner commented on #406
@stevejgordon Let's start with looking at the LINQ queries. I do believe we likely have other similar issues here

I think it would be advisable to submit a PR for each fix, so we don't get too far out of sync. That way, as we start moving in the direction @dpaquette points out, we can have you involved in that work, and not doing parallel changes that won't necessarily get picked up.

We recently

[2015-12-04 00:05] bluechrometouch commented on #376
Meetup.com has a convenient webpage for their member activities. As you can see, it lists the activities in a calendar possibly addressing #377 and #378 when members are logged in.

![capture](https://cloud.githubusercontent.com/assets/14866579/11578025/68e800aa-99e7-11e5-8108-d0bbb23b00db.JPG)

[2015-12-04 00:11] bluechrometouch commented on #377
I posted this Meetup.com demo for #376. I think it would cover the needs here. What do you guys think?
![capture](https://cloud.githubusercontent.com/assets/14866579/11578247/3da8c56c-99e9-11e5-850c-db7fd569dea1.JPG)

[2015-12-04 07:14] stevejgordon commented on #406
Thanks @BillWagner. I'll try that and hopefully do things correctly. As a starter for 10 I've put in a small PR #411 for the two queries I originally noticed.

For any further PRs should they still reference this same issue or would it be better to create issues for each to keep it clear what is being addressed?

Thanks for the link as well. That was useful to read. I'm still a little unsure of th

[2015-12-04 07:19] stevejgordon opened #412 "TimeTagHelper Test Failure"
When running the tests on my local machine I get the following test failure. Perhaps because I'm in the UK.

Perhaps @dpaquette can advise?

Test Name:	TimeTagHelperTests.ValueShouldBeFormattedUsingDefaultFormat
Test FullName:	AllReady.UnitTest.TagHelpers.TimeTagHelperTests.ValueShouldBeFormattedUsingDefaultFormat
Test Source:	E:\Software Development\Projects\AllReady\AllReadyApp\Web-App\AllReady.

[2015-12-04 12:25] dpaquette commented on #412
@stevejgordon  this is definitely related to regional settings. You can safely ignore this for now and I will submit a PR to fix it today.

[2015-12-04 12:26] dpaquette commented on #412
Please assign to me

[2015-12-04 13:41] #406 closed

[2015-12-04 23:06] tonysurma opened #414 "misspelled 'adddress' on user manage page"
login and go to your user page '/manage'

See one more *d* than you should

[2015-12-05 10:09] stevejgordon commented on #414
I'll get this one

[2015-12-05 15:03] tonysurma commented on #333
For now an input mask for us phone numbers would be sufficient

[2015-12-05 15:06] tonysurma opened #416 "Step one to fixing home page: remove zip code search box"
First step in fixing #193 is lets remove the search box for now and users will just have click campaigns on the header (again this is interim)

[2015-12-05 15:08] tonysurma opened #417 "Step two to fixing home page: add campaigns list"
Step two for fixing #193 after #416 add to the home page a list of 'active/upcoming' campaigns (duplicate from campaigns page)

[2015-12-05 15:09] tonysurma opened #418 "Step three to fixing home page: have working search and map/list of campaigns"
after #416 and #417 we can really solve #193 by putting search back and having it work along with a list/map of campaigns

[2015-12-05 15:12] tonysurma opened #419 "Deemphasize the large youtube etc social media icons on bottom of pages"
We could use a smaller, cleaner footer that doesn't make the icons so large and prominent - implies that they are for the content of your page and not the footer

[2015-12-05 15:13] tonysurma opened #420 "Remove blog from main nav and place in footer"
Perhaps in the footer with #419 we can move the blog as it doesn't deserve top billing

[2015-12-05 15:14] tonysurma opened #421 "Deemphasize About in main nave"
Can we move this off to the left, or down in the new footer from #419 or something that doesn't make it the first thing you want to click?

[2015-12-05 15:16] tonysurma opened #422 "Remove zip code search on campaigns page"
until we get it working via #193 it should be removed as search campaigns is already there

[2015-12-05 15:20] mheggeseth opened #423 "Death to Tenants! Long live Organizations!"
The initial rev of allReady referred to humanitarian organizations using the site as "tenants" which is a wonky, non-obvious term. It makes more sense to refer to them as "organizations" or "orgs" for short where appropriate.
* At the very least, the word "tenant" should not appear anywhere in the UI. Currently it shows up on `/Admin/Login`.
* As a bonus, change "tenant" code identifiers to "organ

[2015-12-05 15:38] mheggeseth opened #424 "Home Page: Move link to /Home/Aesop to /Home/About"
Learning about the the origin of the allReady logo is fun, but should probably not be the result of clicking just about anywhere on the home page (`_LayoutMainPage.cshtml`). Right now the clickable surface area of the link to `/Home/Aesop` currently spans the whole width of the page so somebody clicking in what they think is empty page space (like I do all the time) gets a folktale lesson, but may

[2015-12-05 15:45] mheggeseth opened #425 "Remove unused files in AllReady solution"
The following non-compiled files are not needed/used in the allReady app.
* AllReadyApp/Web-App/AllReady/Project_Readme.html
* AllReadyApp/Web-App/AllReady/data.json
* AllReadyApp/Web-App/AllReady/wwwroot/images/ASP-NET-Banners-01.png
* AllReadyApp/Web-App/AllReady/wwwroot/images/ASP-NET-Banners-02.png
* AllReadyApp/Web-App/AllReady/wwwroot/images/Banner-01-Azure.png
* AllReadyApp/Web-App/AllReady

[2015-12-05 17:10] tonysurma commented on #425
Thanks @mheggeseth for finding that!

[2015-12-05 17:11] mheggeseth opened #426 "Death to Tenants! Long live Organizations! (Database Edition)"
After the simpler renaming changes listed in #423, completing the renaming of "Tenant" to "Organization" includes renaming database entities as well. Though this will be an involved change from a testing coordination perspective, the pain of the change increases significantly the longer we put it off so let's rip this band-aid off as soon as we can.

This issue is intended to start the conversatio

[2015-12-05 17:15] tonysurma commented on #426
Sooner than later is key as right now we don't have live data we need to keep and if coordinated we can do this in the next few weeks but soon after it will be much, much, much more difficult

[2015-12-05 17:56] stevejgordon opened #427 "EF Query Efficiency in ActivitySignup"
As per Issue #406 the ActivitySignup has an unnecessary ToArray call in one of the queries.

I have a fix for this I will submit PR for shortly.

[2015-12-05 18:01] stevejgordon commented on #426
I can take a look at this as I go through the data access files? Would look at renaming the entity classes, column / table names and I presume any code generating the sample data. Not sure if this would run as a migration though. In theory it should work!

[2015-12-05 18:17] mheggeseth commented on #426
My guess is that migrations would just drop and recreate the tables/columns, which is probably what we want anyway for the sake of simplicity.

[2015-12-05 18:53] tonysurma commented on #426
@mheggeseth my assumption as well and that is fine for now and I am still manually triggering deployment to mvp site (updating branch or whatever) so it won't happen and be a surprise

[2015-12-05 19:18] dylan-smith commented on #425
I'm on it

[2015-12-05 19:19] MisterJames commented on #425
I got this one!

[2015-12-05 19:39] #425 closed

[2015-12-05 19:41] dylan-smith commented on #416
I'm on it!

[2015-12-05 19:47] shanecharles commented on #424
I got this.

[2015-12-05 20:01] stevenschroeder commented on #333
I've got this one

[2015-12-05 20:07] mheggeseth opened #430 "Refactor Skills Admin to use Command/Query Pattern"
Database access for skills admin (under `/Areas/Admin`) is currently using the repository pattern with an instance of `IAllReadyDataAccess` (specifically the `AllReadyDataAccessEF7` partial class  in `AllReadyDataAccessEF7.Skill.cs`) injected into `SkillAdminController`.

In general, we are moving from the repository pattern towards the command/query pattern for data access. This has some nice adv

[2015-12-05 20:25] kylebcooke commented on #422
On this.

[2015-12-05 20:27] #276 closed

[2015-12-05 20:27] #412 closed

[2015-12-05 20:28] #414 closed

[2015-12-05 20:29] #427 closed

[2015-12-05 20:55] #424 closed

[2015-12-05 21:13] MisterJames commented on #422
Fixed via #431

[2015-12-05 21:13] #422 closed

[2015-12-05 21:38] bluechrometouch commented on #378
Since this ties in to what I have for 376, I'd like to work this.

[2015-12-05 21:42] #416 closed

[2015-12-05 21:51] stevejgordon commented on #426
Sounds good. If it's okay I can try to look at this early next week?

[2015-12-07 12:16] junderhill commented on #421
Would it make sense to move this across perhaps after 'Campaigns' and 'Organizations'? Personally I think it should remain on the nav bar although I agree that it shouldn't be the first option on there.

[2015-12-07 13:27] stevejgordon commented on #423
Out of curiosity I searched the code for tenant and it's used 924 times across 127 files. This includes js files also. That would likely make one very large commit. I can start with the UI items and look at the other bits at some stage when time permits. Do we want to go all the way and rename the js level as well? It feels like the time to make this change if it needs to happen and would avoid co

[2015-12-07 13:32] stevejgordon commented on #423
Forgot to mention that also there is the TenantAdmin claim type. If we were to rename this then any user with that claim in the DB currently would need to be updated.

[2015-12-07 14:14] stevejgordon opened #435 "Create Tenant (Organization) not working"
When trying out the current Tenant Admin area I found that creating a Tenant (Organization) currently fails. This is due to using the TenantEditModel for the Create page with the hidden field for id being rendered. This id will never be populated for a new Tenant and therefore the model state is always invalid when posting the form.

I will submit a quick fix for this for now. However I see on som