[2017-08-11 12:30] stevejgordon commented on #2049
@jonatwabash Hi, did you need some assistance to get up and running? You might find it easiest to drop the allReady database from (localdb)\mssqllocaldb and let it recreate/seed at startup.

[2017-08-11 12:38] stevejgordon commented on #2049
@EmilyLuijbregts re. the question above and the requirement.

@MisterJames re. your comment. Is the idea to show these to any logged in user? Once logged in (any user can register for an account as volunteer) those events will then become visible.

cc/ @OhMcGoo @Schuback

[2017-08-11 12:55] stevejgordon commented on #2040
@MisterJames The following EPICs also overlap on this requirement #1802 and #1804

The work to define a table to record campaign manager + a bunch of authorization logic is in place already to support the concept of the campaign manager. I'll need to double check how much is in place but I think the core of this may be very close/done.

[2017-08-11 18:24] EmilyLuijbregts commented on #2049
Great. Thanks @stevejgordon

[2017-08-12 04:04] markvdesign commented on #1509
Hi @tonysurma and @schuback, I was talking to @RichardCampbell on Tuesday at a .NET meet up in Brisbane, Australia and was hoping to help out on the project. I'm currently working as a UI/UX Engineer and have knocked up a design that you maybe interested in. I've taken the basic layout and just made some small tweaks to the desktop version and I'm still working on a small screen version.

I'm curr

[2017-08-12 08:27] stevejgordon commented on #1509
@markvdesign Welcome to allReady! That link 404's for me?

[2017-08-12 10:23] markvdesign commented on #1509
Thanks @stevejgordon, I think it must have been a permissions thing, try this one and let me know how you go.

-> https://www.figma.com/file/aII9KT0GDH34BPbpWrUAqIE1/Home-Page-Mock

[2017-08-12 16:13] stevejgordon commented on #1820
@chinwobble Did you manage to progress on this at all?

[2017-08-12 16:20] stevejgordon commented on #1992
I'll take a look at this one.

[2017-08-12 18:48] stevejgordon commented on #1992
Update: Correctly forbidden by the current authorization code. Just requires an update to hide the team management UI when not authorized. Working on that now.

[2017-08-12 19:53] stevejgordon opened #2071 "Team Lead - Lister page to list any itineraries a signed in user manages"
Breakout from #1787.

We need to provide a page that provides quick access to the itineraries a user is the team lead for.

These should be grouped by Campaign/Event.

[2017-08-12 19:55] stevejgordon opened #2072 "Team Lead - Provide menu/UI to provide access the managed itineraries lister page"
Breakout from #1787. To be completed after #2071

There should be a menu item which is visible to logged in users, only when they are a team lead for one or more itineraries.

This should link to the managed itineraries lister page

[2017-08-12 19:58] stevejgordon commented on #2071
Will be working on this next.

[2017-08-12 20:03] stevejgordon commented on #1899
@wmay1991 Just checking in to see if you had managed to complete anything for this or if we can open it up again for contributors?

[2017-08-13 01:07] chinwobble commented on #1820
@stevejgordon I have not begun this. Could you please assign this to me and I'll start it as soon as I can.

[2017-08-14 00:17] BillWagner commented on #1427
Closing per @mgmccarthy

[2017-08-14 00:17] #1427 closed

[2017-08-14 00:18] BillWagner commented on #1439
Closing per @mgmccarthy

[2017-08-14 00:18] #1439 closed

[2017-08-14 00:18] BillWagner commented on #1766
Closing per @YannickMeeus

[2017-08-14 00:18] #1766 closed

[2017-08-14 00:20] BillWagner commented on #1603
Fixed in PR #2000

[2017-08-14 00:20] #1603 closed

[2017-08-14 00:20] BillWagner commented on #785
Closed in PR #1168

[2017-08-14 00:20] #785 closed

[2017-08-14 00:38] BillWagner commented on #784
Looking through history and code, it looks like this is now part of NotifyVolunteerForVolunteerTaskSignupHandler and NotifyVolunteerForVolunteerTaskUnenrollHandler.

Both of those have unit tests, so closing.

Let's open a new issue if some of the code moved into a different class.

[2017-08-14 00:38] #784 closed

[2017-08-14 00:54] BillWagner commented on #1886
closed per #2009

[2017-08-14 00:54] #1886 closed

[2017-08-14 01:11] BillWagner commented on #1893
@stevejgordon Looking at the code today, this looks like it has been implemented in other earlier changes. Can you verify, or add a comment on what's not there yet?

[2017-08-14 01:28] BillWagner commented on #1436
closing per earlier discussions.

[2017-08-14 01:28] #1436 closed

[2017-08-14 06:30] stevejgordon commented on #1893
@BillWagner Will spin it up later and double check what's there now.

[2017-08-14 06:54] IanOfOz commented on #2045
@OhMcGoo how much of the existing Task should be duplicated? In particular, should the skills and attachments come across?
CC @BillWagner

[2017-08-14 07:14] stevejgordon commented on #1820
Have sent you an invite to become a collaborator so that we can assign you directly. For now, assigning myself to hold this on your behalf.

[2017-08-14 18:24] #1852 closed

[2017-08-15 01:14] anobleperson commented on #340
I'd like to pick up removing the Admin area magic strings (as part of the NDC Sydney event and learning the codebase), please let know of any concerns with that.

[2017-08-15 02:49] OhMcGoo commented on #2017
Initially, I think the most desirable report that can be run from allReady is one that summarizes the impact of a campaign or event. While it should be something that organizers can use to evaluate results, the report should primarily be donor and public facing in that it will share outcomes and that both validate and solicit support.

The report should summarize the following data points:

- # of

[2017-08-15 04:56] JingWendyLiu opened #2075 "Question about emailing volunteers on a deleted volunteer task"
After delete a upcoming task or event with volunteers enrolled, should the volunteers be emailed about the deletion?

[2017-08-15 06:13] anobleperson opened #2076 "Details action on Campaign controller passes wrong ViewModel to DetailsView"
The code below (from CampaignController.cs) returns a CampaignViewModel, however the Details view expects CampaignDetailViewModel
[code]

I haven't analysed the difference in properties between the two view models to see how serious the problem is.

[2017-08-15 16:38] OhMcGoo commented on #866
An Organization should be able to have more than one POC but, perhaps, we should put a cap of, say, three?

[2017-08-17 20:59] mk0sojo commented on #2076
Looking at the Details view it looks like it expects a CampaignViewModel.
There is however a Details view in the Admin area that expects a CampaignDetailViewModel which it looks like it is getting from the CampaignController in the admin area.

[2017-08-21 05:04] MisterJames opened #2079 ".NET Summer Hackfest - Signup Here!"
Our project is participating in the .NET Foundation's Summer Hackfest.

If you'd like more information about our event, check out our [Hackfest Primer](/HTBox/allReady/blob/master/dotnetSummer.md).

If you would like to join in, please **add a comment on this issue** so that we can better keep track of our contributors.  You can also use this issue to request to join our Slack channel.

Thanks for

[2017-08-22 12:17] #1838 closed

[2017-08-22 12:17] MisterJames commented on #1836
Thanks @DanKline!

[2017-08-22 12:17] #1836 closed

[2017-08-22 12:18] #2053 closed

[2017-08-22 12:18] MisterJames commented on #2053
Thanks @DanKline!

[2017-08-22 13:24] stevejgordon opened #2083 "Post 2.0 production error"
http://allready-d.azurewebsites.net/ is showing an exception not seen locally.

ComponentNotRegisteredException: The requested service 'Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet' has not been registered. To avoid this exception, either register a component to provide the service, check for service registration using IsRegistered(), or use the ResolveOptional() method to resolve an

[2017-08-22 13:33] #2083 closed

[2017-08-22 14:36] MisterJames opened #2086 "Create Azure Functions Project and Configure Build/Deployment Pipeline"
This issue is to track the progress on moving from WebJobs to Azure Functions.

In the mix:

- [ ] Create new Functions App project
- [ ] Update AppVeyor build script
- [ ] Add appropriate deployment targets in Azure
- [ ] Configure automatic deployment on successful builds

[2017-08-23 21:54] BlueNinjaSoftware commented on #2079
I'm interested in contributing! I'd be glad to chat on Slack or via another means to get up to speed and have a way to ask any questions I run into. Thanks!

[2017-08-24 13:30] Pothulapati commented on #2079
I would like to contribute. 👍

[2017-08-24 16:34] marigerr commented on #2079
I would like to contribute!  Would be great to join Slack channel.

[2017-08-24 17:56] VenkateshSrini commented on #2079
I would like to contribute

[2017-08-24 18:03] VenkateshSrini commented on #2079
is there a place where I can see a running instance of this app to understand the functionality

[2017-08-24 18:22] VenkateshSrini opened #2087 "Unable to setup upstream connection after"
Hi,
When I try to setup upstream connection I get this error
![untitled](https://user-images.githubusercontent.com/1167152/29682036-39fb258e-8927-11e7-9a0a-7e8ee74fdf8e.png)
Please help with the same

[2017-08-24 18:23] VenkateshSrini commented on #2087
I had used Vs 2017 to clone from VenkateshSrini/already which is my fork

[2017-08-24 18:25] dchristensen commented on #2087
You need to be in the directory that the repo is cloned into in order to use any of the git commands.

[2017-08-24 18:42] VenkateshSrini commented on #2087
Thanks resolved

[2017-08-24 18:42] #2087 closed

[2017-08-25 10:20] stevejgordon opened #2089 "Investigate issue with TimeTagHelper"
After 2.0.0 upgrade the TimeTagHelper was presenting strange issues and appeared to be invoked for the head and body tags which led to malformed output.

A workaround was put in to prevent this - see https://github.com/HTBox/allReady/blob/master/AllReadyApp/Web-App/AllReady/TagHelpers/TimeTagHelper.cs#L35

We should investigate the root cause and look to fix this. Copying the tag helper code into

[2017-08-25 10:22] stevejgordon commented on #2079
@VenkateshSrini - Please see our live site which updates with master builds - http://allready-d.azurewebsites.net/ - You can find the admin login details which will be seeded in there from the appsettings.json file.

[2017-08-25 10:22] stevejgordon commented on #2079
cc @BillWagner for Slack additions

[2017-08-26 11:00] sneh1 commented on #2079
I would like to contribute. Please add me to Slack channel.

[2017-08-26 15:11] BlueNinjaSoftware commented on #2056
I'm interested in taking this issue. Let me know if I should post a couple follow-up questions here, or in the Slack channel. Thanks!

[2017-08-27 16:18] tomkerkhove opened #2091 "Provide Azure Architecture Diagram"
The Solution Architecture gives a nice overview on what technologies it uses but would be interesting to have an architecture diagram showing how all the components are connected with each other.

This would help onboarding new people more quickly.

Are there plans to provide this?

[2017-08-28 16:16] BillWagner commented on #2079
I added those whose email addresses are listed in their GitHub profiles.

@Pothulapati  @marigerr @VenkateshSrini @sneh1 Please send me an email at Bill.Wagner <at> htbox.org and I'll add you to the slack channel

[2017-08-28 18:10] stevejgordon commented on #2056
@BlueNinjaSoftware Usually best to include the questions here so they are more public.

[2017-08-28 18:46] BlueNinjaSoftware commented on #2056
No problem, thanks. My interpretation of the bullet points suggests that this parameter would not just reset test data, but would completely wipe and re-create the db (and test data). If that's incorrect, please let me know.

1. Do we want `-PurgeRefreshSampleData` to do the refresh and exit without building the web host, or do we want the web app to run regardless of this parameter?
2. If this pa

[2017-08-28 19:54] BlueNinjaSoftware commented on #2056
Two quick follow-up questions:

3. Should this respect SampleData:InsertSampleData, or override it - e.g., if that value is false, should the presence of this arg wipe & recreate the db but without sample data? Or should it populate the sample data anyway?
4. Should this act any differently if env.IsProduction(), or should that be ignored?

[2017-08-29 15:07] BillWagner commented on #2079
invites sent to all those who emailed me.

[2017-08-30 01:22] waiholiu opened #2093 "Where can new contributors start?"
Hi,

I would like to start helping with this project. I've got the project running and debugging on my local machine, I've spent some time understanding the code base and architecture and had a look at the documentation and issues.

I know .Net fairly well but I'm unfamiliar with working on open source projects so I want to contribute but I'm not sure where to start. I notice that almost all of th

[2017-08-30 06:36] anil-kk commented on #2093
Same here ;) a newbie

[2017-08-30 14:18] stevejgordon opened #2094 "Investigate issue with TimeZoneNameTagHelper being matched on head / body"
As with TimeTagHelper this is being matched for head and body tags resulting in some odd errors.

For now we have null check TimeZoneId which will be null when matched for head and body tags and result in an error if we attempt to use a null Id in the FindSystemTimeZoneById method.

Ideally we need to understand this behaviour to avoid the temporary fix.

Related to issue #2089

[2017-08-30 14:22] dpaquette commented on #2094
This is really strange

[2017-08-30 16:32] sdekok commented on #2079
I would like to contribute.  I have emailed @BillWagner for access to the slack channel

[2017-08-31 01:23] BillWagner commented on #2093
Great Question.

I'd start with any issues in the current milestone: https://github.com/HTBox/allReady/milestone/21

We also tagged quite a few issues with the 'dotnetsummer' tag. Those are listed here: https://github.com/HTBox/allReady/issues?q=is%3Aopen+is%3Aissue+label%3Adotnetsummer

If any of those interest you, add a comment to say you are working on it.

If not, just let me know and we'll f

[2017-08-31 02:13] waiholiu commented on #2093
Thanks Bill I'll take a look tonight and see how I can contribute.

On Aug 31, 2017 11:23 AM, "Bill Wagner" <notifications@github.com> wrote:

[2017-08-31 12:56] waiholiu commented on #2079
Hi, I would like to contribute. Please add me to the slack channel.
cheers

[2017-08-31 12:58] waiholiu commented on #1897
Hi, would I be able to take this task?

[2017-08-31 18:42] ryanEcomp commented on #2060
will do asap

[2017-08-31 20:03] ryanEcomp commented on #2060
I added pull request #2096

[2017-08-31 22:19] sdekok opened #2097 "Start and end date validations and datepicker broken in edit campaign view"
it's showing as a datetime field when it should be a date and showing both the bootstrap datepicker and what looks like a built in asp.net one

![image](https://user-images.githubusercontent.com/16673555/29947674-2657567e-8e68-11e7-9ec6-12a1ba487951.png)

[2017-09-01 14:13] waiholiu opened #2100 "bug - the URL in the Resend confirm email is not correct"
To reproduce
1. create a new user and go to their account
2. there should be a "Send me a new confirmation email" button, press it.
3. Debug the ResendEmailConfirmation action in the ManageController and see the CallbackUrl.

It will be something like this

http://localhost:48408/Account/ConfirmNewEmail?userId=8ee77c4e-29e3-48c8-ab03-ffb221ef5a6a&code=CfDJ8InsLoZApY1CsaP0nVIOclKis%2FlWS6I5LM11M2an

[2017-09-01 14:15] waiholiu commented on #2100
#2101 I have created this Pull Request to fix this bug

[2017-09-01 17:17] AdamAlinauskas commented on #2045
Hi @BillWagner @EmilyLuijbregts and @stevejgordon   It seems like this task is still open. I would like to complete the duplicate task feature. I have already started on the task and have been able to duplicate the basic information. For my initial go at It I have created an action that given a event Id will duplicate the task append "Duplicate" to the name and redirect the user to the details vie

[2017-09-04 01:18] maulikk2000 commented on #2079
hi,
 I'd also like to contribute. Please add me to the slack channel.
cheers,
Maulik

[2017-09-05 13:27] BillWagner commented on #2079
@waiholiu @maulikk2000 Can you email me with the email address I should invite to Slack?  I'm bill.wagner <at > htbox org

[2017-09-05 14:34] #2060 closed

[2017-09-05 14:39] #1889 closed

[2017-09-05 14:39] #2097 closed

[2017-09-05 14:42] #1992 closed

[2017-09-06 20:41] mk0sojo commented on #2089
Tried to have a look at this and it appears to be a problem with Autofac and more precisely:

containerBuilder.RegisterAssemblyTypes(typeof(Startup).GetTypeInfo().Assembly).AsImplementedInterfaces();

To test this create a new Asp.net core 2.0 web app. Create the tag helper and register it. Then add the following code to the end of ConfigureServices in Startup.cs:

            var containerBuilder

[2017-09-07 02:03] BillWagner commented on #2045
Pinging @MisterJames Can you answer Adam's question above?

[2017-09-11 14:23] #2100 closed

[2017-09-13 11:54] #2065 closed

[2017-09-13 11:54] stevejgordon commented on #2067
Completed

[2017-09-13 11:54] #2067 closed

[2017-09-13 12:01] stevejgordon commented on #2055
Request tags sounds like a really nice feature which can be used in a lot of places. A possibility is that we add a date tag to requests when they added to an itinerary (which defines the date for the install). We could do this in response to a request scheduled event in Mediatr. We would also need to remove the date tag if the request is later removed.

We could just as easily query for all itine

[2017-09-13 12:06] stevejgordon commented on #2075
Sounds like a good idea that I think we need to include.

@OhMcGoo @MisterJames @EmilyLuijbregts - Do you agree?

[2017-09-13 12:13] stevejgordon commented on #2047
Presumably this needs to be limited to showing users who have volunteers for a previous task in the organisation? In a multi-org system, would we want to expose users details that may have signed up but whom have only volunteered against another Org?

[2017-09-13 12:16] stevejgordon opened #2103 "Legal/Compliance for GDPR"
In EU we have an upcoming regulation tightening the protection of data for any EU citizens which will extend to those registering on non-EU sites.

Currently the first use case with Red Cross presumably doesn't run into this issue, but should we start to consider how we are compliant in the future?

It's quite complex and not all the regulations are clear but here is the overview:
https://ico.org.

[2017-09-13 16:15] OhMcGoo commented on #2075
I'm thinking that you shouldn't be able to delete a task if volunteers are assigned to it. Thus, a volunteer should be unassigned (or reassigned) which would then trigger an e-mail or text stating the what action has been taken. Once all volunteers have been removed from the task, then it can be deleted.

[2017-09-14 12:59] stevejgordon commented on #2075
Thanks @OhMcGoo. Sounds good. I suggest for this issue then we first verify that this isn't already the case (i.e. we prevent delete if volunteers are assigned). If we are allowing the delete we should update the flow to prevent this and add a UI message for the user.

[2017-09-14 13:04] stevejgordon commented on #2103
cc @tonysurma @BillWagner

[2017-09-14 13:09] stevejgordon commented on #2042
I'm picking this up.

[2017-09-16 11:17] jgauffin opened #2104 "Make radio buttons and checkboxes great again"
The `.form-control` class is not intended to be used on radio buttons and checkboxes.
Thus they look not so great when the class is used.

[2017-09-16 11:27] jgauffin commented on #2104
Pull request: #2105

[2017-09-16 11:55] misael86 commented on #1306
Hi! Can't see that any one has solved this one yet so i'm taking it, the example only shows special characters like ()(&&^^%%$ so that's what i've coded for, numerical characters will be allowed, easy to add later on if those are not supposed to be valid.

[2017-09-16 12:41] misael86 commented on #1306
Pull request #2106

[2017-09-16 12:46] jgauffin commented on #2048
working on this one

[2017-09-16 13:12] jgauffin commented on #2048
PR in #2107

[2017-09-16 13:35] jgauffin commented on #1887
Should this one be closed? Since #2029 exists? @stevejgordon

[2017-09-16 14:46] jgauffin commented on #1890
My second contribution: #2108. Anything missing?

[2017-09-16 15:03] jgauffin commented on #1806
To clarify, show organization admins be able to remove those listed in the `CampainManager` and `EventManager` tables?

[2017-09-17 02:58] #2048 closed

[2017-09-17 08:22] jgauffin commented on #2052
Is this completed but not closed?

[2017-09-17 08:57] iloabn commented on #2011
Last comment says that this is closed, but it still seems open.
I tried to install the project yesterday and noticed a slight difference between the short and longer installation instructions as well as a missing step.

The [short](https://github.com/HTBox/allReady/wiki/Developer-Setup) instructions doesn't mention .NET Core 2 SDK or the `F# language support`.

The [longer](https://github.com/HTBo

[2017-09-17 09:07] csharpfritz commented on #2056
This appears to have been merged, and appears to be complete

[2017-09-17 09:13] nathanchere opened #2109 "Date picker on event page broken in responsive layout"
Example from {rootUrl}/Event/9

![Screenshot](https://i.imgur.com/EnLU6Yw.png)

[2017-09-17 09:13] jgauffin commented on #2047
working on this one.

[2017-09-17 09:14] csharpfritz opened #2110 "dotnet watch"
Please add the dotnet watch command-line feature so that we can run at the command-line and get quick rebuilds as code is changing

[2017-09-17 09:33] csharpfritz opened #2112 "Web Accessibility"
Let's revisit the accessibility of the links and icons used in the application.

As a new developer on the project, I'm not familiar with what the icons and buttons lead to.  Let's ensure that appropriate link text is added to all buttons and links

[2017-09-17 09:53] nathanchere opened #2113 "Time zone handling inconsistency breaks unit tests on Linux"
[code]

There is a library [TimeZoneConverter](https://github.com/mj1856/TimeZoneConverter) which looks like it might be relevant, but need to look into it further.

[2017-09-17 09:57] nathanchere commented on #2113
Have created a [.NET Fiddle example demonstrating this](https://dotnetfiddle.net/N3gdUu):

[code]

[2017-09-17 10:04] csharpfritz commented on #2112
I don't think the tota11y plugin is accurately detecting "unclear text" in our application

[2017-09-17 10:10] nathanchere opened #2115 "Non-Windows build instructions out of date"
Looking at the wiki page for [contributing on Linux](https://github.com/HTBox/allReady/wiki/Running-on-Linux) , the instructions were significantly outdated. Main things needed for the Linux instructions:

[X] Add .NET Core SDK installation instructions for Arch and Fedora
[ ]  Update .NET Core SDK installation instructions for Ubuntu
[ ] Add SQL Server and sqlcmd installation instructions for Arc

[2017-09-17 10:47] nathanchere commented on #2113
Related issue from dotnet core:

https://github.com/dotnet/corefx/issues/11897

[2017-09-17 11:39] nathanchere commented on #2113
This basically boils down to converting time zone descriptions to a `TimeZoneInfo` and back again. This is easy with the TimeZoneConverter library, basically by replacing calls to `TimeZoneInfo.FindSystemTimeZoneById` with `TZConvert.GetTimeZoneInfo`. Going back the other way should 'just work' as-is so long as all the `string`->`TimeZoneInfo` conversions are covered, but it's sloppy and ideally s

[2017-09-17 11:40] iloabn commented on #1842
I think documentation is suuuper interesting so I've started to try and write some for this project.

I'd love to receive feedback including if I'm doing something completely wrong 😋

[2017-09-17 11:49] MisterJames opened #2117 "Use azure-functions to port legacy Web Jobs code"
The new functions project can be used to house the existing web jobs. The intent here is to deprecate the web jobs project and use the new functions project going forward.

PRs for this should be targeted to `azure-functions`.

We will need to move:
 - `ProcessSmsQueueMessage`
 - `ProcessEmailQueueMessage`

This can be done independently of the build/deployments steps in #2086

[2017-09-17 11:50] MisterJames commented on #2110
Closed via #2111

[2017-09-17 11:50] #2110 closed

[2017-09-17 12:14] nathanchere commented on #2113
Closed by PR #2118

[2017-09-17 12:14] #2113 closed

[2017-09-17 12:16] MisterJames commented on #1887
@jgauffin you bet, closing. Thanks!

[2017-09-17 12:16] #1887 closed

[2017-09-17 12:27] csharpfritz commented on #1900
I'm investigating this issue and building out the query for the page, and want to verify exactly which credentialed users you'd like to see:
  * The explicit managers for the selected event
  * The campaign organizers for the campaign managing the event?
  * The organization administrators?
  * The site administrators?

Should a lower level administrator reviewing the list of Event Managers be abl

[2017-09-17 12:31] #1888 closed

[2017-09-17 12:38] jgauffin commented on #2047
Added PR #2120

[2017-09-17 12:52] #2047 closed

[2017-09-17 12:54] MisterJames commented on #2115
@nathanchere thanks for your work here. I'm going to add this one to the up for grabs label to get it finished off.

If anyone out there has ubuntu and would like to close this out, it would be greatly appreciated!

[2017-09-17 12:56] #2104 closed

[2017-09-17 12:56] MisterJames commented on #2104
Closed via #2105

[2017-09-17 13:15] #2016 closed

[2017-09-17 13:29] jgauffin commented on #2046
It's possible to volunteer for tasks as a regular user. You get a message saying:

[2017-09-17 13:34] jgauffin commented on #2049
There is no `hide`  attribute on events, should it be added (to hide events for not logged on users)?

[2017-09-17 14:57] CristianCson opened #2121 "When generating Sample data it generating invalid Itinerary items"
All the Campaigns that are created with the EventType Itinerary is getting VolunteerTask that is not valid.

The length of the Itinerary is longer than one day, so you can't edit the event in the app.

[2017-09-19 08:01] iloabn commented on #1842
@stevejgordon What more work is required on this before you can consider this issue closed? 🙂

[2017-09-19 08:01] iloabn commented on #2011
@stevejgordon What more work is required on this before you can consider this issue closed? 🙂

[2017-09-22 11:17] darrylsk commented on #1820
Is anyone working on issue 1820 right now?  I think I am close to a candidate solution and would like to submit it for review.  Going by the CampaignManagerInvited and AddTeamMember commands as examples, I created new classes ItineraryTeamLeadAssigned and ItineraryTeamLeadAssignedHandler under the Notifications folder and added the line _mediator.PublishAsync(new ItineraryTeamLeadAssigned); to Set

[2017-09-26 06:44] stevejgordon commented on #1842
I'd say that your documentation covers this requirement for now. Thanks!

[2017-09-26 06:44] #1842 closed

[2017-09-30 18:37] dchristensen commented on #2115
I have run through the Linux instructions (at least for Ubuntu 16.04) and made the necessary updates.  @MisterJames  I think this issue can be closed now, unless we want to focus on more comprehensive instructions for other distros.

[2017-09-30 18:43] dchristensen opened #2127 "Discussion: Remove Bower dependency"
Currently when running `npm install` for the first time, we are getting the following warning:

[code]

I think it would make sense to remove the additional Bower dependency and just use npm to manage client side dependencies.  This should remove a couple of steps from the initial project setup and in general make it easier for new contributors to get started.

[2017-10-02 03:12] SteveStrong commented on #2127
this is the right thing to do.

[2017-10-04 17:46] robsab1960 opened #2129 "STARWEST USABILITY - Unhandled Exception when Selecting my organisation on main tab"
When selecting the My Organization tab in the main page an unhandled exception is generated which leads to a stack trace and confusing error message.

The consequence of leaving this behaviour in the live system is that operators may be distracted and loose their focus or confidence in trying to confirm they are associated with the correct organization.
[RS001_2017-10-04_10-34-52.pdf](https://gith

[2017-10-04 17:54] polinav12 opened #2130 "Registration - Organization Issue"
When registering, organization is not marked as mandatory, even though it is. Cannot register without organization.

[2017-10-04 17:58] polinav12 opened #2131 "Mandatory Fields on Home Screen Issue"
Home Screen (once logged in) >> Make New Commitment >> Fill In All Fields and Click Volunteer >> fields under "Report New Data" is marked even though it is a separate field and you cannot make a new commitment. Even if you fill in the description field, it still shows an error.

[2017-10-04 17:59] cjl5319 opened #2132 "A person cannot belong to more than one organization."
An unhandled exception occurred during the execution of the current web request. Please review the stack trace for more information about the error and where it originated in the code.

An unhandled exception was generated during the execution of the current web request. Information regarding the origin and location of the exception can be identified using the exception stack trace below.
--

[2017-10-04 18:06] cjl5319 opened #2133 "Unable to successfully remove an item from "My Organizational Resources" table on the Crisis Check-In Page #STARWEST #FUNCTIONAL"
Clicked on the Remove button on the "My Organizational Resources" table, get a notification prompt requesting that I make an entry in the "New Report Data" form.

[2017-10-04 18:34] cjl5319 opened #2134 "Field formatting issue on"

[2017-10-04 18:37] cjl5319 opened #2135 "Field formatting issue on Available Resources Table #STARWEST #USABILITY"
Resources Tab -> Available Resources Table -> Location Field formatted to appear at the bottom of the field as opposed to the top, as with the other fields.

[2017-10-04 18:49] #2134 closed

[2017-10-04 18:53] cjl5319 opened #2136 "Invalid email accepted on "Change Contact Info" tab #STARWEST #USABILITY"
Able to enter "88888888888" or "-" or any other set of characters, except the null set, as an email address on the "Change Contact Info" tab.

[2017-10-04 18:56] cjl5319 opened #2137 "Incorrect date shown on Field Data tab, Field Reported Data table#STARWEST #USABILITY"
Field Data Tab -> Field Reported Data table -> Entry Made field shows 6:15 PM entry date, actual time should be 11:15 AM Pacific Time

[2017-10-04 19:41] polinav12 opened #2138 "Campaign Manager can't create new Goals under "Manager Campaign" page"
Login as campaign manager. Click the "Manage Campaign" button and select a campaign. Click on the "Create New" button under Goals. You will see "Access denied due to insufficient permissions" on the page

[2017-10-04 19:43] robsab1960 opened #2139 "CAMPAIGN MANAGER UNABLE TO EDIT EXISTING CAMPAIGN #STARWEST #FUNCTION"
using AllReady Version: 1.0.0.0 c3ea2f2

Logged in as campaign manager: (campaignmanager@example.com)
- select campaigns
- select manage campaigns
- select an existing campaign
- select edit
- change data in name field (we appended the text with one character)
- select save
- an unhandled exception takes place
- change has not been saved
[Gmail - Blowups happen.pdf](https://github.com/HTBox/allRea

[2017-10-04 19:45] polinav12 opened #2140 "Create Event form should have fields marked as mandatory"
When the campaign manager creates a new event, it helps to know what fields are mandatory. Currently the form doesn't mark any fields as mandatory.

[2017-10-04 21:04] #2140 closed

[2017-10-04 21:07] polinav12 opened #2141 "SCROLLING ON CAMPAIGN PAGE - Scrolls Map #StarWest"
On any campaign's individual page (EX: Ballard Fire Prevention Day), if you attempt to scroll using up/down arrows, which should be expected, it scrolls the map.

[2017-10-04 21:19] jc-d opened #2142 "Youtube link goes to application architecture video"
1. Go to http://allready-test.azurewebsites.net/ and log in as campaignmanager@example.com
2. Scroll to the bottom of the page.
3. Click on the youtube button.

Expected: A youtube video explaining either this particular feature or a list of videos explaining all the features appears.

Actual: YouTube page https://www.youtube.com/watch?v=BgV9jUJduwE&index=3&list=PLReL099Y5nRfJCkJtGFHZlVCvx2t8OWdA

[2017-10-04 21:42] polinav12 opened #2143 "#Starwest- Issue with Security Code"
When you fill out the form it sends you to the security code screen and then puts you back to the form and invalidates your email, city, state and zip

[2017-10-04 21:47] jc-d opened #2144 "My skills are very limited and don't appear verifiable. #starwest #usability"
1. Go to http://allready-test.azurewebsites.net and log in as campaignmanager@example.com
2. Mouse over the user's email and click on My Account.
3. Go to My Skills and click add.
4. Click dropdown and note the skills provided.
5. Select a skill and mouse over question mark.

Expected: A giant list of skills, like those listed here: http://apply.mercyships.org/?_ga=2.36023456.1292600266.1507152580

[2017-10-04 21:48] robsab1960 opened #2145 "Campaign Manager Cannot Create a Campaign #STARWEST #Usability"
There is no capability available through the manage campaign tab to allow a campaign manager to create a campaign.

It looks like you must have MORE priv than a campaign manager to create a campaign.

User was campaignmanager@example.com

[2017-10-04 21:54] robsab1960 opened #2146 "Campaign Manager Cannot add goals to a campaign STARWEST FUNCTIONALITY"
Campaign manager cannot add goals to a campaign.

Attempting to add a goal to a campaign by a campaign manager generates an error message:

Access denied due to insufficient permissions.

Rob

[2017-10-04 22:02] robsab1960 opened #2147 "Campagin Manager can create multiple tasks with the same name STARWEST FUNCTIONAL USABILITY"
Using the manage campaign tab the campaign manager can create several tasks with exactly the same name.  This can lead to considerable confusion.

[2017-10-05 17:27] sofilibi opened #2148 "Some validations issues at Form"
1.- Go to http://allready-test.azurewebsites.net/Account/Register
2.- Complete the form
![evidence_defect_form_validation_chrome](https://user-images.githubusercontent.com/4973956/31241074-61207878-a9c8-11e7-83dc-3d5ab49bf264.jpg)

3.- There are some missing validations, like: Name/last name should allow only alpha values
4.- Phone number text should allow only numbers

[2017-10-05 17:34] sofilibi opened #2149 "Privacy Policy missing Content"
1.- Go to llready-test.azurewebsites.net/Home/PrivacyPolicy
2.- There is no content for PrivacyPolicy setting

![evidence_defect_privacypolicy_chrome](https://user-images.githubusercontent.com/4973956/31241437-77b91c92-a9c9-11e7-8b35-8e6556d30b09.jpg)

[2017-10-05 18:55] atilabayat opened #2150 "Safety Kit Assembly Volunteer Day menu 404 error"
1) Select - Safety Kit Assembly Volunteer Day
2) Select - Humanitarian toolbox
Result:  404 error with the following message

"404 :(

We went off the rails and couldn’t find your page!
Don’t worry. We’ll get back on track."

Virtual

[2017-10-05 19:23] userstar00 opened #2151 "StarWest Usability - Safety Kit Distribution Weekend - Add Time Zone change"
When logged in as a user under Safety Kit Distribution Weekend, allow for changing the time zone under the title and for the task descriptions.
This accounts for people wanting to help from other locations.  Understanding when and where they need to be.

[2017-10-05 19:24] userstar00 opened #2152 "StarWest Usability - Safety Kit Distribution Weekend - Campaign Info expand on load"
As a User in the - Safety Kit Distribution Weekend - the Campaign Info field at the top should be expanded on load, to allow for visibility of where the user is in the site.

[2017-10-05 19:26] userstar00 opened #2153 "StarWest Usability - Safety Kit Distribution Weekend - Breadcrumbs needed"
When logged in as a user in Safety Kit Distribution Weekend, recommend adding more transparent breadcrumbs at the top.  When I clicked under Campaign Info on the Safety Kit Building, I could not easily get back to the Safety Kit Distribution Weekend signup.  Had to use the back button to go back to the volunteering view

[2017-10-05 19:29] userstar00 opened #2154 "StarWest Usability - Safety Kit Distribution Weekend - Tasks"
Under tasks, recommend including the skills that are needed for each activity.  The "Match" icon is helpful to note the match level of skills, but it would be helpful to understand what skills are being requested per task before volunteering.

[2017-10-05 19:34] userstar00 opened #2155 "StarWest Usability - Safety Kit Distribution Weekend - Task - Calendar filtering reset"
As a User in the - Safety Kit Distribution Weekend - Task sections - After filtering using the calendar by a specific date, there was not an option to reset the calendar to see all the tasks.

Additionally allow for the ability to filter the calendar by a series of dates.  For example, allow for selecting a weekend to check for tasks to volunteer for when available.

[2017-10-06 11:20] stevejgordon commented on #2149
@BillWagner I remember way back you were looking into the content for allReady privacy policy. Relevant also to #2103

[2017-10-06 11:28] stevejgordon commented on #2147
Need to define the business case rules here so cc @MisterJames and @OhMcGoo

I can see this being confusing, however my assumption is that it's entirely possible to need the same task, but defined across different dates. Could the argument be made for protecting duplicate task names on the same day here though?

Additionally, if we do allow duplicate task names, should our UI be updated to output

[2017-10-06 11:30] stevejgordon commented on #2146
@schuback based on our earlier discussion regarding access I would assume we expect a campaign manager to be able to add goals. Just checking that you agree here?

[2017-10-06 11:32] stevejgordon commented on #2145
@robrich I believe this is correct. Only an Org or Site Admin can create new campaigns. A campaign manager can simply manage 1 or more campaigns after being granted access to them.

[2017-10-06 11:32] #2145 closed

[2017-10-06 11:34] stevejgordon commented on #2142
@BillWagner - Any plans to provide a video for this? Or should we hide this link for now?

[2017-10-06 11:38] stevejgordon commented on #2138
Closing as duplicate of #2146

NOTE: this was raised first but have started discussion on #2146 already for validation of the permissions

[2017-10-06 11:38] #2138 closed

[2017-10-06 11:40] stevejgordon commented on #2133
Is this intended for https://github.com/HTBox/crisischeckin?

[2017-10-06 11:41] stevejgordon commented on #2132
@cjl5319 Are you able to provide more details of how to replicate this?

[2017-10-07 09:52] mk0sojo commented on #1891
Can pick up this one

[2017-10-11 00:30] VishalMadhvani commented on #2150
I also noticed the "Campaigns" breadcrumb is unnecessary.
One would expect it to only show Campaigns for the given organisation, which is achieved by clicking on the Organisation.

[2017-10-11 01:33] VishalMadhvani commented on #2139
This was due to a the organisation dropdown not being populated as the CampaignManager user is not a Site or Organisation Admin.
In this case, it will now display the Organisation Name, instead of allowing the user to select an Organisation in a dropbox.

[2017-10-12 13:31] #2139 closed

[2017-10-12 13:31] #2109 closed

[2017-10-12 13:37] #1820 closed

[2017-10-12 13:45] MisterJames commented on #2150
This one is fixed/closed with #2156.

[2017-10-12 13:45] #2150 closed

[2017-10-12 13:51] MisterJames commented on #2151
This is a great suggestion for down the road. For the time being we'll leave this as-is, though, as we can work under the assumption that folks should know that if they're jumping timezones that they will have to adjust times.

One other approach to this would be to let folks to set their own timezone on their profile. This would allow them to see everything on the site in their own timezone, when

[2017-10-12 13:59] MisterJames commented on #2121
Closed with #2122

[2017-10-12 13:59] #2121 closed

[2017-10-12 13:59] MisterJames commented on #2117
Closed with #2123

[2017-10-12 13:59] #2117 closed

[2017-10-13 00:29] SteveKennedy commented on #2031
I am still working on this

[2017-10-13 13:47] SteveKennedy opened #2159 "Slack Channel Access Request"
How active is the slack channel? When contributors have questions, it might be easier to get quick Q/A on Slack vs. opening an GitHub Issue.  Just my two cents.  I've sent a number of emails asking for access, but haven't gotten a reply. Can someone please add me?

[2017-10-13 18:44] tonysurma commented on #2159
I believe I found your email sent recently and added you just now, my apologies for any delays and thanks for reaching out and contributing!

[2017-10-13 19:17] dchristensen commented on #2159
@tonysurma can I get an invite as well?

[2017-10-13 19:59] tonysurma commented on #2159
email me at tony  dot   surma    at htbox.org  Thanks

[2017-10-13 20:06] SteveKennedy commented on #2159
This worked out great for me. Thank you. I think this issue can be closed, if @dchristensen thinks so too?

[2017-10-13 21:33] joro550 commented on #2148
Raised https://github.com/HTBox/allReady/pull/2160 for this issue

[2017-10-17 15:05] VishalMadhvani commented on #2153
I think the current behaviour is correct.

"Safety Kit Distribution Weekend" is an Event within the "Safety Kit Building" Campaign.
By click on the "Safety Kit Building" link under Campaign Info, you are effectively going back.
So in this case, you either click the back button, or click on the "Safety Kit Distribution Weekend" Event again.

Maybe I've misunderstood?

[2017-10-18 12:12] #2127 closed

[2017-10-18 12:46] #2152 closed

[2017-10-18 13:00] #2159 closed

[2017-10-18 13:00] MisterJames commented on #2159
Thanks all!

[2017-10-18 13:02] MisterJames commented on #2112
@csharpfritz Is it fair to say that we can close this one per #2114 and perhaps organize an accessibility sweep across the UX?

[2017-10-18 13:03] MisterJames commented on #2093
We also use the tags "Good First Issue" and "Help Wanted", hope those can give you some leads!

[2017-10-18 13:03] #2093 closed

[2017-10-19 01:01] jonparker commented on #2011
Hi @iloabn  & @stevejgordon. Just an FYI, @SteveKennedy has upgraded the Mobile project as part of #2031  so these instructions will need to be updated once this gets merged.

[2017-10-19 18:05] csharpfritz commented on #2112
Agreed...  folks who are more familiar with accessibility could be focused on that sweep and help set some guidelines for future development

[2017-10-23 13:29] jonparker commented on #1097
I think we can assume that any work done on this will need to be redone after #2031
I am happy to work on this ticket basing it off the work @SteveKennedy has done on #2031.

[2017-10-24 03:36] chezuma opened #2166 "Fix Linux/Mac documentation"
Hi,

I did a fast scan of the issues, so forgive me if it's already on the agenda.

I forked the repo and hoped I could help out with some issues, only to find out that this project only works on windows platform due to the dependency of the full dotnet framework.

Is there an easy way to get it to run on linux / mac os x? Or do you have dependencies that make it hard to go full crossplatform?

I

[2017-10-24 04:25] dchristensen commented on #2166
@chezuma The web application has been moved to .NET Core 2.0.  I would recommend going through the getting started guide for [Mac](https://github.com/HTBox/allReady/wiki/Running-on-Mac-OS-X) or [Linux](https://github.com/HTBox/allReady/wiki/Running-on-Linux), which should help you get all of the dependencies setup and your environment configured correctly.  Feel free to respond with and specific i

[2017-10-24 06:26] chezuma commented on #2166
Hi,

I couldnt follow the instructions because I couldn't do a dotnet restore in a directory with multiple solutionfiles. I had to go into allReady/AllReadyApp/Web-App/ to do the restore and the build to get it to work.

The rest of the instructions was correct as far as I experienced.

Should I update the wiki? or maybe create a bash script for macOS ?

Thanks for your time.

[2017-10-24 13:15] jonparker commented on #2166
Hi @chezuma,

I managed to get the website to build on my Mac by running: dotnet restore AllReadyWebOnly.sln

[2017-10-24 18:10] chezuma commented on #2166
@jonparker, ofc that is an option, but the documentation states otherwise and should be fixed so that others don't have to fumble around with that for 10 minutes :)

[2017-10-25 02:12] jonparker commented on #2166
@chezuma Yes I agree. Not having done much dotnetcore I didn't know that you can pass an sln file as a parameter to dotnet restore. The reason I mentioned it to you was because I wasn't sure if you knew about it either.
I already did a PR which has been merged to include the link to the Mac setup instructions as it wasn't easy to find.
I think the current devs on this project are all running Windo

[2017-10-26 17:49] VishalMadhvani commented on #2166
I've been developing on a mac and while the experience isn't quite as nice as VS on windows, it does work. Feel me to ping me if you run into any issues.

As for updating the wiki's, I think it would definitely be appreciated.

[2017-10-27 16:35] VishalMadhvani opened #2169 "AllReady.ScenarioTest"
This doesn't seem to be used.
Can someone shed some light on it?
Might be best to delete it if it is dead code.

[2017-10-31 13:46] MisterJames commented on #2169
Yeah, it's looking like it's been a while since we revved on this. We might need to re-evaluate.  We'll chat about this in the coming days. Thanks @VishalMadhvani !

[2017-11-02 11:14] jonparker commented on #2153
Hi @VishalMadhvani
Yes, that's true but it may be helpful to users to make it easier to keep some kind of record of where they came from in order to show them how to get back to the event from the campaign.

Does anyone know if this issue from @userstar00 is from a real user?

[2017-11-02 13:33] userstar00 commented on #2153
Hello. I was part of the StarWest conference group doing Ad Hoc UAT on the application.

On Nov 2, 2017, at 6:14 AM, Jonathan Parker <notifications@github.com> wrote:

Hi @VishalMadhvani
Yes, that's true but it may be helpful to users to make it easier to keep some kind of record of where they came from in order to show them how to get back to the event from the campaign.

Does anyone know if this

[2017-11-03 02:47] dchristensen commented on #2153
I believe @VishalMadhvani is correct, that this is the expected behavior.  Based on the following screenshot:

![Screenshot](https://user-images.githubusercontent.com/427494/32358829-b7398522-c00e-11e7-8c46-3db7aa7a31ce.png)

Clicking on the links under "Campaign Info" would take you up the to either the campaign or the organization, both of which are higher up the breadcrumb stack, so I would not

[2017-11-03 03:00] dchristensen commented on #2142
If anything I would think we would want to link to the [HTBox YouTube channel](https://www.youtube.com/channel/UCMHQ4xrqudcTtaXFw4Bw54Q) from this link since the other social icons are linking to the HTBox social media pages.

[2017-11-03 04:18] dchristensen commented on #2137
I believe this issue was intended for the Crisis Checkin project.

[2017-11-03 04:21] dchristensen commented on #2136
@MisterJames this can be closed based on the PR @joro550 submitted.

[2017-11-03 04:22] dchristensen commented on #2135
Looks like this issue should be moved to the Crisis Checkin project.

[2017-11-03 04:48] dchristensen commented on #2132
@stevejgordon I'm thinking this is probably supposed to go to https://github.com/HTBox/crisischeckin since users can't be associated with orgs, other than the org admins.

[2017-11-03 04:49] dchristensen commented on #2131
This issue should be moved to https://github.com/HTBox/crisischeckin

[2017-11-03 04:52] dchristensen commented on #2130
This issue should be moved to https://github.com/HTBox/crisischeckin

[2017-11-03 04:53] dchristensen commented on #2129
This issue should be moved to https://github.com/HTBox/crisischeckin

[2017-11-03 06:39] dchristensen commented on #2169
I think these were originally removed from the AppVeyor builds due to them causing the builds to take too long and therefore timing out.  I know I did some work to get them updated a couple months ago.  I took a couple minutes tonight to look at them and got the the project upgraded to the .NET Core style project files and got the tests running, although several were failing.  If I get a few minut

[2017-11-08 22:08] #2149 closed

[2017-11-09 04:07] c0g1t8 commented on #2011
Anyone working on this?  If not, I'd like to _refactor_ the developer documentation.  Some of the information is out of date and need to be re-validated.

[2017-11-09 19:17] MisterJames commented on #2011
@c0g1t8 This one is yours to pick up if you like!

It _was_ to be closed, but tools continue to evolve and updates are likely required from time to time. ...and this could be a time!

[2017-11-10 19:33] bcbeatty commented on #1391
This is no longer an option in VS 2017 15.4.3
![image](https://user-images.githubusercontent.com/1178347/32675195-a95703a4-c61b-11e7-9884-3bd3e2866797.png)

[2017-11-10 21:27] #1891 closed

[2017-11-11 10:58] mk0sojo commented on #2155
It is possible to clear the filter with "Recycle Bin" icon at the bottom of the date picker.
If we want to use a range using something like this http://www.daterangepicker.com/ would look good I think or we can use two pickers of the one we are currently using like this (http://eonasdan.github.io/bootstrap-datetimepicker/#linked-pickers), but doesn't look as nice I think.
<img width="768" alt="dat

[2017-11-12 07:37] mk0sojo commented on #2154
We do actually show a list of needed skills when there are any.
However, I'm not sure if the logic for showing the "Match" icon is quite right when no skills are specified for a task.
In this case the Match button will show but no required skills are listed.

We could handle this by showing "No specific skills required" if no skills are required for a task.

Another issue with the Match icon is th

[2017-11-12 11:46] mk0sojo commented on #1505
Tried this quickly and can't reproduce

[2017-11-12 13:33] stevejgordon commented on #2131
I've raised an issue in crisischecking - closing this as not correct repository

[2017-11-12 13:33] #2131 closed

[2017-11-12 13:48] stevejgordon commented on #2129
Opened in crisis checking - closing here as not the correct repo

[2017-11-12 13:48] #2129 closed

[2017-11-14 14:48] MisterJames opened #2178 "Restore Menu Highlighting Removed in #2172"
PR #2172 removed some highlighting functionality that should be restored.

[2017-11-14 14:59] #2169 closed

[2017-11-14 15:04] MisterJames opened #2179 "Fix build script to include integration tests"
Pull request #2176 updated some old dependencies and fixed some failing tests in our (small!) integration suite. We would like to get the tests running as part of the build again.

[2017-11-14 17:19] kevinliu6102 commented on #2178
First timer but I'm interested in taking this!

[2017-11-16 07:08] dchristensen opened #2181 "Duplicate Log Entries"
When running the web application all of the log entries are written to the console twice.  I had something like this in an application at work, and if I remember correctly this happened after upgrading to .NET Core 2.0 and the console logger was being added twice, once by the default web host, and then again in `Startup.cs`.

Sample log:
[code]

[2017-11-23 09:02] CliffAgius commented on #2178
Hi,

I am new to helping out on Open Source project and spoke with the .NetRocks guys at Progressive.Net and they said find an issue and dive in so here I am.  Happy to start with this one as it looks simple enough and learn the ropes from there.

Have forked the project and looking over the code while I await a reply.

Cliff.

[2017-11-23 10:34] CliffAgius opened #2183 "Setup Prerequisite Apache Cordova VS2017 use sandbox checkbox no longer exists."
I am new to the project and running through the Project Prerequisites for setting up and first build and on the Configure Visual Studio External Web Tools -> (Step 5) Uncheck "Use a sandboxed version of NodeJs" this checkbox is no longer present in the current VS2017 release.

[2017-11-23 12:28] thomfresn opened #2184 "moment javascript package contains security issues according to Node Security Platform"
Hi,

I'm new on this project and while looking at the Web-App package.json file I noticed that, according to [https://nodesecurity.io/advisories/55](url), _moment is vulnerable to regular expression denial of service when user input is passed unchecked into moment.duration() blocking the event loop for a period of time._

It is suggested to update to version 2.11.2 or greater.

I'm note sure that

[2017-11-23 12:54] thomfresn opened #2185 "hammerjs referenced in the Web-App package.json but doesn't seem to be used"
Hi,

While looking at the solution architecture documentation and the source code, I noticed that the package hammerjs is only referenced in the Web-App package.json file but doesn't seem to be used.
I was wondering if it is still needed or if it could be removed from the dependencies and from the documentation.

Regards,

Thom

[2017-11-23 19:05] c0g1t8 commented on #2183
@CliffAgius  Are you following the prerequisite_install_guide.md? Specifically https://github.com/HTBox/allReady/blob/master/docs/prerequisite_install_guide/prerequisite_install_guide.md#visual-studio.

I'm currently updating documentation #2011.  And found it a bit confusing since there are multiple versions of very similar things.  Some which should have been deprecated because is no longer appl

[2017-11-25 07:18] mk0sojo commented on #2181
Yes, in asp.net 2 the console logging is added by default and adding it again appears to have created duplicates of all log messages. Removing the logging config fixes it.

[2017-11-27 11:16] jonparker commented on #2184
Hi Tom,

Welcome to HTBox.
Thanks for creating this issue. I believe the vulnerability is only in the case where moment is running on a server and accepting multiple requests from clients.
An attacker could then bring down the server with a denial of service attack.
However allReady doesn't have any nodejs running on the server side so this vulnerability shouldn't be an issue.
But thanks for raisi

[2017-11-27 11:23] jonparker commented on #2183
@CliffAgius Which version of VS2017 are you using? We should keep that step in the instructions but add a note that it only applies to VS2017 15.x or earlier.

[2017-11-27 11:27] jonparker commented on #2178
@CliffAgius That's great. Go for it and let us know if you have any questions or issues. Are you on the slack channel?
@misterjames should be able to invite you.

[2017-11-28 01:56] dylanwooters commented on #2178
@CliffAgius I started to look into this issue, and I found this [blog post](http://techiejourney.com/custom-taghelper-to-highlight-current-selected-menu-in-mvc-6) that might be helpful. Thought I'd pass it along.

[2017-11-28 12:03] bharathbs commented on #2130
Hello Team,

I would like to work on this issue.I am a newbie.Can anyone let me know whether I can pick this issue?

[2017-11-28 14:53] thomfresn commented on #2184
Thanks for clarifying Jon.

[2017-11-28 14:53] #2184 closed

[2017-11-28 15:33] dchristensen commented on #2130
@bharathbs as I mentioned in my previous comment this issue actually belongs as part of the crisis checkin project, not AllReady.

[2017-11-28 15:42] thomfresn commented on #641
I'd like to start contributing on the project and thought it might be a good idea to start by writing some unit tests.
Is anybody working on this issue too or can I implement any of the tests with the Skip attribute?

[2017-11-28 15:43] bharathbs commented on #2130
@dchristensen I understood it.But I dont see this issue in the issue tracker for crisis project.Am I missing anything?

[2017-11-28 17:05] CliffAgius commented on #2183
@c0g1t8 The instruction worked I was just highlighting that the last step

Uncheck "Use a sandboxed version of NodeJs"

Was not an option in my version of VS2017.

@jonparker my version of VS2017 is 15.4.4 so the latest stable as of last week, so I agree the instructions should just state to check if the box exists and if so uncheck but on the later versions of VS the box may be missing and it's n

[2017-11-28 17:07] CliffAgius commented on #2178
@jonparker I am not on the slack channel any chance of an invite please @MisterJames

@dylanwooters did you get anywhere other than research I don't want to step on anyone's toes or repeat any work that may already have been done.

[2017-11-28 17:08] dchristensen commented on #2130
@bharathbs No, you are not missing anything. I had originally hoped that the project admins could move the issue, but that doesn't seem to be possible, so it will just need to be submitted on the Crisis Checkin issue tracker and this one closed.

[2017-11-28 18:18] bharathbs commented on #2130
@dchristensen ..Sorry to bother you..Can I submit it to Crisis Checkin Issue tracker or can anyone of the other participants do it?Would like to work on this item.

[2017-11-28 19:55] dylanwooters commented on #2178
@CliffAgius I didn't get any farther than research. Feel free to take it! I'll grab another one.

[2017-11-29 12:11] mgmccarthy commented on #641
@thomfresn try to take unit tests with the Skip attribute. Although I haven't been actively contributing for a while now, I believe there were a good amount marked with Skip (and maybe some classes that have no unit tests at all)

[2017-11-29 17:43] dchristensen commented on #2130
@bharathbs You can submit it, I would just reference this issue when submit it.

[2017-11-29 20:46] bharathbs commented on #2130
I have created a pull request for this issue in crisischeckin branch.Please feel free to close the issue.

https://github.com/HTBox/crisischeckin/pull/713

[2017-11-30 08:35] thomfresn commented on #641
Ok I will start with the `ManageControllerTests `which contains quite a few tests with the `Skip` attribute.

[2017-12-04 07:21] tomkerkhove commented on #2091
Any updates on this?

[2017-12-05 20:32] mk0sojo commented on #972
This is on by default in asp.net core 2.
When we publish the app AllReady.PrecompiledViews.dll is created.

https://docs.microsoft.com/en-us/aspnet/core/mvc/views/view-compilation?tabs=aspnetcore2x

[2017-12-06 10:35] stevejgordon commented on #972
@mk0sojo yes you are correct. I think we can close this now that it's on by default.

[2017-12-06 10:35] #972 closed

[2017-12-07 10:12] #2130 closed

[2017-12-07 13:39] #2181 closed

[2017-12-08 12:04] stevejgordon opened #2188 "moment.js version has a critical vulnerability"
The current moment.js version in use has a reported vulnerability. It is recommended that this be updated.

https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2016-4055

[2017-12-08 12:05] stevejgordon commented on #2188
I will work on a PR for this shortly

[2017-12-10 06:22] CliffAgius commented on #2178
@jonparker @dylanwooters Ok so I have finally found some time (Work sim check got in the way!) and built the solution locally to have a good look around the project. The problem is that looking on my local build the menu highlighting is working so I can't see what the issue is and believe this should be closed unless I am missing something...
![2017-12-10_li](https://user-images.githubusercontent.

[2017-12-11 16:01] #2188 closed

[2017-12-12 08:03] stevejgordon opened #2190 "Add C# based Integration Tests"
I have recently been trying with some integration testing on a demo project using the TestServer. This supports firing up the application in memory and hitting endpoints using a client to validate the responses.

I know we have some Scenario tests written using F#, however I have never run those personally. I know for some they do not load since the F# components need to be installed also. Having

[2017-12-12 11:45] stevejgordon commented on #247
Hi @naeemsarfraz - Just checking in to see if this is something you're still able to work on?

[2017-12-12 11:51] stevejgordon commented on #516
Currently available as I never started this!

[2017-12-12 11:56] stevejgordon commented on #2166
I agree, if the wiki is not quite right for Mac/Linux users it would be good to tweak it.

[2017-12-12 11:58] stevejgordon commented on #2148
Closing as a PR was merged for this issue.

[2017-12-12 11:58] #2148 closed

[2017-12-12 11:59] stevejgordon commented on #2147
Paging @MisterJames :-D

[2017-12-12 12:06] stevejgordon commented on #2079
Closing as this has finished now.

[2017-12-12 12:06] #2079 closed

[2017-12-12 12:15] stevejgordon commented on #2076
I've taken a look and everything appears in order.

@anobleperson I think I can see the issue though. VS 2017 intellisense is currently warning of the model mismatch because it seems confused on which view (admin vs normal) will be returned. I've stepped through and despite this incorrect warning in VS, the site seems to function as expected and the correct view is returned.

I'll try to investiga

[2017-12-12 12:15] #2076 closed

[2017-12-12 12:17] stevejgordon opened #2191 "Invalid Home/Index links in some breadcrumbs"
Since the move of some pages to Razor Pages I've identified some of the breadcrumb links are still using the Controller & Action specification which is incorrect.

They still seem to work, however I will get these updated.

[2017-12-12 13:14] stevejgordon commented on #2040
I've tested the site and this functionality is completed. Marking as closed.

[2017-12-12 13:14] #2040 closed

[2017-12-12 18:44] #2191 closed

[2017-12-12 20:07] #641 closed

[2017-12-13 12:43] stevejgordon commented on #1830
Initial thoughts (WIP). Once confirmed and finalised I will break these out into specific issues so that work can begin.

- [ ] Add flag to campaign to enable/disable allReady request creation (non logged in users) as this is a feature that we may not require on all campaigns.
- [ ] Add a status or flag on requests that identity the source - we may want to treat this as un-validated for example.
-

[2017-12-13 13:11] stevejgordon commented on #2042
Work restarted as I somehow lost my branch for this!

[2017-12-13 18:27] anobleperson commented on #2076
Okay, thanks @stevejgordon for the detailed investigation and explanation.

[2017-12-14 11:25] thomfresn commented on #2155
Hi,

I've started adding a [Date Range Picker](http://www.daterangepicker.com/).

![image](https://user-images.githubusercontent.com/31652551/33989870-58e24564-e0c9-11e7-906f-091bec357867.png)

I have a few questions regarding the current implementation using knockout.js. Would that be possible to be added to the Slack channel to see if these points were already adressed?

Thanks,

Thom

[2017-12-14 16:08] #2071 closed

[2017-12-14 16:09] #2179 closed

[2017-12-18 15:30] GProulx commented on #2146
Hi @stevejgordon and @schuback

I started working on fixing unit tests as mention on #2164 but I checked the original bug before going to far. Can you confirm that it's really the the expected behavior?

[2017-12-30 10:38] mk0sojo commented on #2144
Looks a bit odd.
What are the actual requirements for the skills list?

[2017-12-30 10:42] mk0sojo commented on #2143
Is this really for allReady or is it for crisischeckin?

[2018-01-02 16:31] stevejgordon opened #2194 "Hardcoded date in FeaturedCampaignQueryHandlerShould no longer works"
FeaturedCampaignQueryHandlerShould uses hardcoded dates and this causes an issue since the test data is no longer valid.

The test needs to be updated so it's uses a relative end date that will always return an expected result.

I'm working on this now!

[2018-01-02 16:56] #2194 closed

[2018-01-02 17:17] stevejgordon opened #2197 "UX Review (General Discussion)"
As the project has matured and evolved to meet the requirements and feedback from testing, the flows have become quite complex. Most specifically, the design of the UI/UX has been very form based and may not suit non technical users.

Therefore we are starting a site wide UX review. This issue will act as a master point where larger, general discussions can be had, requirements verified and ideas

[2018-01-03 07:54] stevejgordon commented on #2143
I've opened in the appropriate repo so this can be closed.

[2018-01-03 07:54] #2143 closed

[2018-01-03 08:04] stevejgordon commented on #2089
Thanks for tracking this down @mk0sojo. I figured it was something to do with the change in 2.0 around the head injection, but for the life of me couldn't work out why. Hadn't considered this global DI registration even existed.

I'll take your PR for a spin locally but this sounds like a good fix. I'm also curious to expand on why we need to register everything this way. I prefer more controlled

[2018-01-04 07:38] stevejgordon commented on #2197
Let me introduce my friend @PracticalUX (aka Chris) a UX designer who is kindly helping to review the site and provide recommendations. We spent an initial 2 hours recently walking through some of the functionality which was extremely useful. In doing so we identified a number of quick wins regarding UX changes we could make.

Chris also has some wider recommendations that we can begin to build on

[2018-01-04 10:03] stevejgordon commented on #2112
I've opened a new high level UX discussion issue at #2197. Based on the above I'll close this one.

[2018-01-04 10:03] #2112 closed

[2018-01-04 17:41] MisterJames commented on #2089
Yeah...I think this just dates back to perhaps what was available when the project was conceived. Remember that the roots here predate most IoC containers coming over to Core, much less being mature.  This is solved in PR #2198 so we can close this out. Thanks folks!

[2018-01-04 17:41] #2089 closed

[2018-01-04 19:24] PracticalUX commented on #2197
Hello!

It's hard to make concrete recommendations for user journeys without concrete data about how users interact with the website (which would ideally be in the form of observations of and conversations with actual target users of the website, ideally users from the organisations who will end up using the website). Having that data would inform our design decisions with much more accuracy and c

[2018-01-05 14:07] tomkerkhove commented on #2091
Any updates on this?

[2018-01-06 11:40] jonparker commented on #2197
@PracticalUX Great work Chris, thanks for your help.

[2018-01-06 15:35] jonparker commented on #1694
Ok, this is an old issue! MediatR 4.0 is now out https://github.com/jbogard/MediatR/releases/tag/v4.0.1

I thought there might be a few tricks to help with the refactoring. These would be temporary changes to allow for doing VS refactoring changes instead of poor man's Find & Replace.

1. Create extension methods to shim between SendAsync and Send and PublishAsync and Publish. Then the package can

[2018-01-06 15:42] jonparker commented on #2166
@stevejgordon I've updated the wiki to include the sln file in the dotnet restore command. So I think this issue can be closed.

[2018-01-06 16:03] jonparker commented on #2155
Hi Tom @MisterJames should be able to add you.

[2018-01-06 19:45] gparlakov commented on #340
Hello, I want to tackle the Controller names magic strings issue. I found 3 use cases:
1. Need the name from the context of the Controller itself
2. Need the name for another Controller from the context of a Controller
3. Need the name for a Controller from a general context

Suggest adding a method for the general context use case and a couple of convenience methods for use from within a controll

[2018-01-07 20:46] MisterJames commented on #2146
Yeah, I feel like either more is needed now to explain the original report (desired, intended, current behavior) else we should just close these out. Any thoughts here @robsab1960 or @stevejgordon ?

[2018-01-08 09:36] mk0sojo commented on #1694
Is there anything stopping us from doing a "find/replace" solution?
The thing with creating temporary solution and then upgrading progressively can be that the temporary solution becomes permanent (or maybe it says more about some of the projects I've been working on...).

[2018-01-08 14:16] thomfresn commented on #2155
Ok I had also sent an email to @tonysurma.

Thanks.

[2018-01-09 01:39] darcehess commented on #2197
I would be happy to help with the UI/UX piece of the project

[2018-01-09 05:14] shaunluttin commented on #1890
Did merge d0e07e5 resolve this issue?

[2018-01-09 05:45] shaunluttin commented on #1871
Given that the last comment was March 18, 2017, I am assuming that no other developers are working on this issue. Is that right?

Also, if I understand correctly, this issue would like to have the skills appear on a separate tab.

![capture](https://user-images.githubusercontent.com/2066637/34706491-e99e1e28-f4bc-11e7-8ad9-87878bc9e8a3.PNG)

This seems like a good first issue for me, because I hav

[2018-01-10 15:57] #2094 closed

[2018-01-10 15:58] stevejgordon commented on #2091
Hi @tomkerkhove. This is probably something we can investigate doing, although we are about to change some of the services in use so it may be best to revisit once those are merged in.

[2018-01-10 16:00] #1940 closed

[2018-01-11 12:04] jonparker commented on #2197
Actually I'd be happy to help too but I was wondering if there's any plans to add SASS to the project?

[2018-01-11 13:50] jonparker commented on #2197
What do people think about changing the colour to this orange. I find it a lot nicer.

![Brighter orange](https://i.imgur.com/jX7bd0W.png)

[2018-01-11 15:56] jonparker opened #2202 "Admin Forgotpassword view is missing"
http://allready-d.azurewebsites.net/Admin/ForgotPassword

An unhandled exception occurred while processing the request.
InvalidOperationException: The view 'ForgotPassword' was not found. The following locations were searched:
/Views/Admin/ForgotPassword.cshtml
/Views/Shared/ForgotPassword.cshtml
Microsoft.AspNetCore.Mvc.ViewEngines.ViewEngineResult.EnsureSuccessful(IEnumerable<string> originalLoc

[2018-01-11 16:02] stevejgordon commented on #2202
Reserved for codeathon

[2018-01-12 06:19] stevejgordon opened #2203 "This is a demo issue"
Move the link for the MacOSX instructions above General Install Steps

[2018-01-12 16:07] stevejgordon commented on #2203
I'd like to work on this.

[2018-01-12 16:22] stevejgordon commented on #2203
Closing this demo issue

[2018-01-12 16:22] #2203 closed

[2018-01-12 16:23] stevejgordon opened #2204 "Duplicate text in install guide"
In the On an Android Device section, second paragraph the word "have" has been duplicated.

[2018-01-12 16:24] stevejgordon commented on #2204
I'll work on this one.

[2018-01-13 14:32] valdisiljuconoks opened #2205 "Question about localization"
Does it make sense to do support for localization (views, data annotations, services, etc)?

I would love to contribute. Looking at library that would give "editorial" access to the translations. No .resx files.

[2018-01-14 01:29] jonparker commented on #2205
Hi @valdisiljuconoks and welcome.

I believe the intention is definitely to support localization.

Here's a couple of good resources:

Localisation with .NET core: https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization

Localisation with .NET core and EF: https://github.com/aspnet/Entropy/tree/dev/samples/Localization.EntityFramework

@MisterJames Is there a ticket you know of for

[2018-01-14 06:32] valdisiljuconoks commented on #2205
Hi,

Thanks for links. I had [another library](https://github.com/valdisiljuconoks/LocalizationProvider) in mind - that supports all sort of stuff and plus strongly-typed interface to the resources.

Would be cool if I can show sample fragment of how it might look. Will look into this soon..

[2018-01-14 09:58] stevejgordon commented on #2204
I'll work on this.

[2018-01-14 19:12] stevejgordon commented on #2204
I'll work on this.

[2018-01-15 12:45] stevejgordon opened #2206 "Create Organization - Form changes (Part 1)"
When logged in as a site admin, the user can create new organizations in allReady.

Having reviewed the UX of this form a few basic changes are suggested.

- [ ] The "Name" field label should be renamed to "Organization Name"
- [ ] The "Address1" label should be renamed to "Address Line 1"
- [ ] The "Address2" label should be renamed to "Address Line 2"
- [ ] Move the "Organization Name" field to

[2018-01-15 12:49] stevejgordon opened #2207 "Create Organization - Form changes (Part 2)"
**_NOTE: To be picked up after #2206 is completed and merged._**

When logged in as a site admin, the user can create new organizations in allReady.

Having reviewed the UX of this form we should add a visual clue (probably an asterisk) to required fields. Currently a user cannot identify these fields until they submit a form with any incomplete, required fields.

The following fields are currentl

[2018-01-15 12:49] stevejgordon commented on #2207
Reserved for the .NET South East codeathon

[2018-01-15 12:50] stevejgordon commented on #2206
Reserved for the .NET South East codeathon

[2018-01-15 12:53] stevejgordon opened #2208 "Create Organization - Form changes (Part 3)"
**_NOTE: To be picked up after #2207 is completed and merged._**

When logged in as a site admin, the user can create new organizations in allReady.

Currently we have a requirement to provide either a URL to a privacy policy or the actual privacy policy text. We require that one of these be provided and not both of them. Is there a better UI/UX that we can implement (perhaps a Vue.js component) t

[2018-01-15 12:53] stevejgordon commented on #2208
Reserved for the .NET South East codeathon

[2018-01-15 13:14] stevejgordon opened #2209 "Create Organization - Logo URL"
Currently we only allow a logo URL via the create organization UI. In other areas of the site we allow upload of images. Should we also allow an upload option here?

[2018-01-15 13:20] stevejgordon opened #2210 "Create Organization - County for Org Location"
Should this be a pre-populated dropdown of countries to avoid discrepancies of user input?

[2018-01-15 13:22] stevejgordon commented on #2178
@CliffAgius Do you have the latest copy of the master branch? I'm still seeing the issue.

[2018-01-15 13:27] stevejgordon opened #2211 "Create Campaign - Form changes (Part 1)"
When logged in as a site admin or organization admin, the user can create new campaigns in allReady.

Having reviewed the UX of this form a few basic changes are suggested.

- [x] The "Name" field label should be renamed to "Campaign Title"
- [x] The "External Link Text" might not be very obvious to a non technical user. Could we add some help text that explains "This is the text that will be disp

[2018-01-15 13:30] stevejgordon opened #2212 "Create Campaign - Form changes (Part 2)"
**_NOTE: To be picked up after #2211 is completed and merged._**

When logged in as a site admin or organization admin, the user can create new campaigns in allReady.

Currently the Time Zone drop down defaults to the "(UTC-12:00) International Date Line West". We should default to the time zone set against the currently logged in user. If the user does not have a time zone set then we should defa

[2018-01-15 13:30] stevejgordon commented on #2212
Reserved for .NET South East codeathon

[2018-01-15 13:30] stevejgordon commented on #2211
Reserved for .NET South East codeathon

[2018-01-15 13:32] stevejgordon opened #2213 "Create Campaign - Campaign Preview"
**_NOTE: To avoid merge conflicts this will need to be managed carefully around #2211 and #2212_**

When logged in as a site admin or organization admin, the user can create new campaigns in allReady.

It would be nice if the preview shown by clicking the preview tab reflected how the campaign will look when rendered through the public campaign view page.

[2018-01-15 13:33] stevejgordon commented on #2213
Reserved for .NET South East codeathon

[2018-01-15 13:37] stevejgordon opened #2214 "Create Campaign - Featured Toggle when Org Admin"
We have a checkbox attached to the bool property of a campaign which marks it as "featured". When selected the campaign will appear with priority on the homepage.

I suspect that this is intended as a "Site Admin" only function in the multi-org scenario; however this currently appears to Org Admins when creating/editing a campaign.

Should this be hidden in that case?

[2018-01-15 13:50] stevejgordon opened #2215 "Application / Install Modes"
Currently there are a few options that have been discussed about how the allReady application will be used. The mains ones I can think of are:

1. Hosted as a allReady/HTBox branded site, used by multiple orgs that have fewer privacy/data concerns. That's pretty much what the test site does at the moment, but it does require htbox admins to setup the orgs and manage the users etc.
2. Hosted but we

[2018-01-15 14:31] jonparker commented on #2178
@CliffAgius and @stevejgordon I just logged into http://allready-d.azurewebsites.net/ and the current page is not highlighted in the menu. Screenshots for chrome and firefox: https://imgur.com/a/Rlfv9

[2018-01-15 14:33] stevejgordon commented on #2178
@CliffAgius If you still want to grab this and take a look, please do. Otherwise I can turn it over to our team at a codeathon we're hosting this weekend.

[2018-01-15 15:50] stevejgordon commented on #2153
We're looking at a wider UX review around the navigation and how the hierarchy of the various elements come together. It might be worth consider this part of the UX review.

[2018-01-15 15:54] stevejgordon commented on #2054
Reserved for .NET South East codeathon

[2018-01-15 15:59] stevejgordon commented on #2045
@AdamAlinauskas Sorry for the delay. The later option sounds better from a user experience flow.

[2018-01-15 15:59] #2020 closed

[2018-01-15 16:02] #1890 closed

[2018-01-15 16:03] stevejgordon commented on #1505
Looks like this cannot be reproduced

[2018-01-15 16:03] #1505 closed

[2018-01-15 18:01] stevejgordon commented on #2042
I've submitted a partial PR for this. Once merged this can be considered available for the codeathon. There's still a fair amount of work left to do and possibly we can break into smaller pieces. I can advise further in person.

[2018-01-15 18:05] stevejgordon opened #2217 "Campaign Details (Admin) - Preview image should be limited to a thumbnail"
When logged in as a site admin or org admin and viewing the campaign details page (in the admin area), the preview image may be very large if the uploaded image is big. We should limit the size of the image displayed to a much smaller scale so that it doesn't fill the page and push the main UI too far down.

See http://allready-d.azurewebsites.net/Admin/Campaign/Details/8

![image](https://user-im

[2018-01-15 18:05] stevejgordon commented on #2217
Reserved for the .NET South East codeathon

[2018-01-15 18:08] stevejgordon opened #2218 "Campaign Details (Admin) - Edit button Not Clear"
When logged in as a site admin or org admin and viewing the campaign details page (in the admin area), the edit button currently uses an icon but it's not very obvious from a UX perspective what this means.

We'll review the wider UX improvements but short term, recommend we at least adjust this to make the button say "Edit" rather than showing an icon.

[2018-01-15 18:08] stevejgordon commented on #2218
Reserved for the .NET South East codeathon

[2018-01-15 18:12] stevejgordon opened #2219 "Create Campaign - Image Upload Limits"
When logged in as a site admin or organization admin, the user can create new campaigns in allReady.

Currently there is an image upload option but we do not limit the size of the upload or scale the uploaded image. This may lead to unneccesarily large images being uploaded and affecting page load times.

We should do at least one of the following:
1) Limit the max dimension on the long edge for t

[2018-01-15 18:12] stevejgordon commented on #2219
Reserved for .NET South East codeathon

[2018-01-15 18:14] stevejgordon opened #2220 "Campaign Details (Admin) - Delete button Not Clear"
When logged in as a site admin or org admin and viewing the campaign details page (in the admin area), the delete button currently uses an icon but it's not very obvious from a UX perspective what this means.

We'll review the wider UX improvements but short term, recommend we at least adjust this to make the button say "Delete" rather than showing an icon.

[2018-01-15 18:14] stevejgordon commented on #2220
Reserved for .NET South East codeathon

[2018-01-15 18:21] stevejgordon opened #2221 "Create Event - Display Campaign Date Range"
When logged in as a site admin, org admin or campaign manager, you can create events in allReady.

The current rule is that the date on which the event occurs must be within the date range of the parent Campaign. Therefore, it would be better from a UX perspective to display the campaign start and end dates above the "Start Date" form field so that a user knows the allowed date range. This may hel

[2018-01-15 18:21] stevejgordon commented on #2221
Reserved for .NET South East codeathon

[2018-01-15 18:26] stevejgordon opened #2222 "Campaign Details (Admin) - Hide Create New Event button when Campaign in Past"
When logged in as a site admin or org admin or campaign manager, you can create events in allReady.

This is initiated from the admin campaign details page (e.g. http://allready-d.azurewebsites.net/Admin/Campaign/Details/1)

Above the events list there is a "Create New" button. It makes sense to hide this button when the end date of the campaign is in the past. This will avoid someone trying to cr

[2018-01-15 18:27] stevejgordon commented on #2222
Reserved for .NET South East codeathon

[2018-01-15 18:31] stevejgordon opened #2223 "Create Event - Enforce volunteer limit on tasks"
During our phase one UX review we noticed that when creating an event for a campaign, there is a checkbox on the form to "Enforce volunteer limit on tasks". This flows to set the IsLimitVolunteers property on the model.

This option may seem confusing for some users and we also pondered whether this should in fact be set on a task by task, rather than for all tasks on an event. This would also put

[2018-01-15 18:33] stevejgordon opened #2224 "Create Event - Form changes (Part 1)"
When logged in as a site admin, organization admin or campaign manager, the user can create new events in allReady.

Having reviewed the UX of this form a few basic changes are suggested.

- [x] The "Name" field label should be renamed to "EventTitle"
- [x] The "Address1" label should be renamed to "Address Line 1"
- [x] The "Address2" label should be renamed to "Address Line 2"

[2018-01-15 18:33] stevejgordon commented on #2224
Reserved for .NET South East codeathon

[2018-01-15 18:36] stevejgordon opened #2225 "Create Event - Form changes (Part 2)"
_**NOTE: To be picked up after #2224 is completed and merged.**_

When logged in as a site admin, org admin or campaign manager, the user can create new events in allReady.

Having reviewed the UX of this form we should add a visual clue (probably an asterisk) to required fields. Currently a user cannot identify these fields until they submit a form with any incomplete, required fields.

The follo

[2018-01-15 18:36] stevejgordon commented on #2225
Reserved for .NET South East codeathon

[2018-01-15 18:40] stevejgordon opened #2226 "Create Campaign - Form changes (Part 3)"
**_NOTE: To be picked up after #2212 is completed and merged._**

When logged in as a site admin, the user can create new campaigns in allReady.

Having reviewed the UX of this form we should add a visual clue (probably an asterisk) to required fields. Currently a user cannot identify these fields until they submit a form with any incomplete, required fields.

The following fields are currently co

[2018-01-15 18:40] stevejgordon commented on #2226
Reserved for .NET South East codeathon

[2018-01-15 18:42] stevejgordon opened #2227 "Create Event - Form changes (Part 3)"
**_NOTE: To be picked up after #2225 is completed and merged._**

When logged in as a site admin, organization admin or campaign manager, the user can create new campaigns in allReady.

Currently, there are fields to provide the primary location for the event. It would be nice to add functionality to allow this to be copied from the parent campaign to save the user having to retype the information

[2018-01-15 18:42] stevejgordon commented on #2227
Reserved for .NET South East codeathon

[2018-01-15 18:45] stevejgordon opened #2228 "Create Event - Image Upload Limits"
When logged in as a site admin, organization admin or campaign manager, the user can create new events in allReady.

As per #2219

Currently there is an image upload option but we do not limit the size of the upload or scale the uploaded image. This may lead to unneccesarily large images being uploaded and affecting page load times.

We should do at least one of the following:

Limit the max dimen

[2018-01-15 18:46] stevejgordon commented on #2228
Reserved for .NET South East codeathon

[2018-01-15 18:52] stevejgordon opened #2229 "Create Goal - Form Changes"
When logged in as a site admin, organization admin or campaign manager, the user can create new goals against a campaign in allReady.

The form needs a minor change to improve the UX.

We should rename the label for Campaign Goal to "Goal Title" and move it to the first field in the form.

[2018-01-15 18:52] stevejgordon commented on #2229
Reserved for .NET South East codeathon

[2018-01-15 18:54] stevejgordon opened #2230 "Homepage - Fix gap on logo banner"
The banner at the top of the homepage renders with a gap in Chrome

![image](https://user-images.githubusercontent.com/3669103/34957406-6ebcab66-fa25-11e7-9180-90286d671a0a.png)

[2018-01-15 18:54] stevejgordon commented on #2230
Reserved for .NET South East codeathon

[2018-01-16 12:55] stevejgordon opened #2233 "Create Resource - Form changes (Part 1)"
When logged in as a site admin, organization admin or campaign manager, the user can create new resources against a campaign in allReady.

Having reviewed the UX of this form we should add a visual clue (probably an asterisk) to required fields. Currently a user cannot identify these fields until they submit a form with any incomplete, required fields.

The following fields are currently considere

[2018-01-16 12:55] stevejgordon commented on #2233
Reserved for .NET South East

[2018-01-16 12:59] stevejgordon opened #2234 "Send Campaign Manager Invite - Form changes"
When logged in as a site admin, organization admin or campaign manager, the user can invite people to become Campaign Managers for a campaign in allReady.

Having reviewed the UX of this form we should add a visual clue (probably an asterisk) to required fields. Currently a user cannot identify these fields until they submit a form with any incomplete, required fields.

We should make the followin

[2018-01-16 12:59] stevejgordon commented on #2234
Reserved for .NET South East

[2018-01-16 13:02] stevejgordon opened #2235 "Send Campaign Manager Invite - Missing cancel button"
_**NOTE: To be picked up after #2234 is completed and merged.**_

When logged in as a site admin, organization admin or campaign manager, the user can invite people to become Campaign Managers for a campaign in allReady.

Currently if you navigate to the send invite page, there is no way to cancel and return. The breadcrumbs allow navigating back but this might not be obvious for a user. Can we ad

[2018-01-16 13:02] stevejgordon commented on #2235
Reserved for .NET South East codeathon

[2018-01-16 13:07] stevejgordon opened #2236 "Create Event - Form changes (Part 4)"
**_NOTE: To be picked up after #2227 is completed and merged._**

When logged in as a site admin, organization admin or campaign manager, the user can create new campaigns in allReady.

We should move the "Browse for image" field to the bottom of the form for now.
We should also rename it's label to "Upload event image"

We may later consider alternative layouts for this form after the larger UX r

[2018-01-16 13:07] stevejgordon commented on #2236
Reserved for .NET South East codeathon

[2018-01-16 13:10] stevejgordon opened #2237 "Event Details (Admin) - Edit button Not Clear"
When logged in as a site admin or org admin and viewing the event details page (in the admin area), the edit button currently uses an icon but it's not very obvious from a UX perspective what this means.

We'll review the wider UX improvements but short term, recommend we at least adjust this to make the button say "Edit" rather than showing an icon.

[2018-01-16 13:10] stevejgordon commented on #2237
Reserved for .NET South East codeathon

[2018-01-16 13:23] stevejgordon opened #2238 "Event Details (Admin) - Delete Button Not Clear"
When logged in as a site admin or org admin and viewing the event details page (in the admin area), the delete button currently uses an icon but it's not very obvious from a UX perspective what this means.

We'll review the wider UX improvements but short term, recommend we at least adjust this to make the button say "Delete" rather than showing an icon.

[2018-01-16 13:23] stevejgordon commented on #2238
Reserved for .NET South East codeathon

[2018-01-16 13:25] stevejgordon opened #2239 "Create Task - Form Changes"
When logged in as a site admin, organization admin, campaign manager or event manage, the user can create new tasks against an event in allReady.

Having reviewed the UX of this form we should add a visual clue (probably an asterisk) to required fields. Currently a user cannot identify these fields until they submit a form with any incomplete, required fields.

Please make the following changes:

[2018-01-16 13:26] stevejgordon commented on #2239
Reserved for .NET South East codeathon

[2018-01-16 13:29] stevejgordon opened #2240 "Create Task - Display Event Date Range"
When logged in as a site admin, org admin, campaign manager or event manager, you can create tasks for an event in allReady.

The current rule is that the date on which the task occurs must be within the date range of the parent Event. Therefore, it would be better from a UX perspective to display the event start and end dates above the "Start Date" form field so that a user knows the allowed date

[2018-01-16 13:29] stevejgordon commented on #2240
Reserved for .NET South East codeathon

[2018-01-16 13:32] stevejgordon opened #2241 "Event Details (Admin) - Hide Create New Task button when Event in Past"
When logged in as a site admin or org admin, campaign manager or event manager, you can create Tasks for Events in allReady.

This is initiated from the admin campaign details page (e.g. http://allready-d.azurewebsites.net/Admin/Event/Details/18)

Above the tasks list there is a "Create Task" button. It makes sense to hide this button when the end date of the event is in the past. This will avoid

[2018-01-16 13:32] stevejgordon commented on #2241
Reserved for .NET South East codeathon

[2018-01-16 13:51] stevejgordon opened #2242 "Event Details - Assign volunteers"
We need to consider how the assignment of volunteers works. Currently it allows any user from the system to be assigned with no verification from the person being assigned.

Would this system work better as an invite so that you can invite a volunteer who gets a link to confirm (or SMS). Once confirmed we can finalise the assignment and mark that person as a confirmed volunteer.

[2018-01-16 14:03] stevejgordon opened #2243 "Task Details - Message All Volunteers model required fields"
When logged in as a site admin, org admin, campaign manager or event manager, you can view the details of tasks for an event in allReady. Once in the task details page you can then click a button to "Message All" volunteers.

This displays a modal which includes two fields. Both are required.

Having reviewed the UX of this form we should add a visual clue (probably an asterisk) to required fields

[2018-01-16 14:03] stevejgordon commented on #2243
Reserved for .NET South East

[2018-01-16 14:10] stevejgordon opened #2244 "Task Details - Add button to assign users"
When logged in as a site admin, organization admin, campaign manager or event manage, the user can view the details of a task against an event in allReady.

e.g. http://allready-d.azurewebsites.net/Admin/VolunteerTask/Details/72

From the task details page we do not have a way to assign a volunteer. We have this functionality on the task lister on the event details page. We should replicate this b

[2018-01-16 14:10] stevejgordon commented on #2244
Reserved for .NET South East codeathon

[2018-01-16 14:12] stevejgordon commented on #2230
Closed in #2232

[2018-01-16 14:12] #2230 closed

[2018-01-16 14:15] stevejgordon commented on #2242
I need to review the behaviour further by looking at the code since we may have the concept of "accepting" an assignment but I'm not clear on how it is implemented at the moment.

[2018-01-16 14:27] stevejgordon commented on #1899
Reserved for .NET South East codeathon

[2018-01-16 14:41] stevejgordon commented on #1900
@csharpfritz Sorry for the long delay here. I'm trying to get some time on the issues here.

I think we need to list all of the bullets you listed except site admins (last one). I think we can consider those implicit and not something we expose in the UI.

Based on the earlier feedback; let's allow any manager/admin level to see the whole list for now. We'll expose their name and "role" only in th

[2018-01-16 15:09] stevejgordon opened #2245 "Event Details (Public) - Add Social Share Buttons"
We have publicly facing events in the allReady site which can be browsed by users, including public, unauthenticated users.

e.g. http://allready-d.azurewebsites.net/Event/1

It would be nice to include social share buttons on the event details page to allow people to easily share the event. We have this behaviour on the campaign details page currently so can hopefully replicate it for events.

[2018-01-16 15:09] stevejgordon commented on #2245
Reserved for .NET South East codeathon

[2018-01-16 15:32] stevejgordon commented on #378
I believe we have the basic functionality of this in place. The UX is poor but I suggest we close this and augment under the main UX discussion, breaking out enhancements as new issues.

[2018-01-16 15:32] #378 closed

[2018-01-16 15:32] stevejgordon commented on #373
Closing as the initial iteration of this is in place. UX review and enhancements can follow as new issues,

[2018-01-16 15:32] #373 closed

[2018-01-16 15:34] stevejgordon commented on #466
We have some basic F# tests in place which do still function. We also have a proposal in for C# Integration Tests and an issue to track that. Will close this and we can track in the new issues.

[2018-01-16 15:34] #466 closed

[2018-01-16 15:46] stevejgordon commented on #2045
We'll possibly look to pick this up during the codeathon

[2018-01-16 15:52] stevejgordon commented on #553
We have this functionality now for the tasks listed in an event

[2018-01-16 15:52] #553 closed

[2018-01-16 15:52] #521 closed

[2018-01-16 16:00] stevejgordon commented on #530
At the moment we don't enforce a check any long against the postcodegeo table. I think that may be retired but would have to double check that. Either way, we don't blow up at the moment. We may need to review how this affects mapping etc as you can pass in any text right now and it is accepted. Will close this particular issue.

[2018-01-16 16:00] #530 closed

[2018-01-16 18:45] csharpfritz commented on #1900
I like the idea of working on this for a live stream, lets confirm how we
want to update the UI so that we can focus on those changes during a live
stream.

Jeff

On Tue, Jan 16, 2018 at 9:41 AM, Steve Gordon <notifications@github.com>
wrote:

[2018-01-16 19:20] stevejgordon commented on #1900
Sure. I'm at NDC for the next few days and then straight into the HTbox codeathon Saturday. Perhaps we can figure out a plan of the work sometime early next week and take it from there?

[2018-01-16 19:27] MisterJames commented on #1523
Closing as retro/scoped-out.

[2018-01-16 19:27] #1523 closed

[2018-01-16 19:32] MisterJames commented on #1573
**Decision**  Have a checkbox to allow defaulting the address through from the event to the itinerary.  We can then allow those who opt out to add the address per the current flow.

[2018-01-16 19:33] MisterJames commented on #1134
**Decision** There are two parts to this, and the second will be created in a secondary issue.  We should proceed and enable this.

[2018-01-16 19:38] MisterJames opened #2246 "Provide Administrative Controls to Unlock Users"
Per the issue logged in #1134 we are going to need the ability for organization admins (by role) to unlock users through the administrative controls. There is an existing list of users at http://localhost:[YOUR PORT]/Admin/Site that would work for this.

![image](https://user-images.githubusercontent.com/1197383/35008525-6bd09848-fac2-11e7-9273-de26bd7da6d8.png)

This issue will be considered comp

[2018-01-16 19:39] MisterJames commented on #1134
This issue would be completed by locking users out after X attempts (perhaps stored in config with a default value of 3).  Locked out users should see a screen letting them know they can contact the organization administrator.

[2018-01-17 14:00] jonparker commented on #2178
Hi, I did some research on this and there's a tag helper you can create to add an active css class to the active link: https://benjii.me/2017/01/is-active-route-tag-helper-asp-net-mvc-core/

[2018-01-18 02:57] MisterJames opened #2247 "Investigate (and Create?) Container Images with Requisite Tools to Contribute"
We have had a couple of requests that the start-up process can be a bit intimidating.

For those who live in a containerized world, having a Docker image or Azure VM that was prepped to go would be a handy way to jump into a pre-configured world of allReady.

Admittedly, I'm not well enough versed in this area to know how big this task is.  We are looking for an SME that would be willing to offer

[2018-01-18 04:19] jonparker commented on #2247
There's instructions for using a docker image for sql server for Linux / Mac. This could be used for devs running Windows too who don't have sql or are not wanting to install it. For the nodejs and other tools it is a bit more complicated. I started a box starter script for installing the pre reqs on a new machine. I'll try and find the link and post it here.

[2018-01-18 06:51] mk0sojo commented on #1893
I will work on this one

[2018-01-18 09:32] jonparker commented on #2247
I'm wondering if providing a linux docker image with Nodejs, Rider and SQL server pre-installed would help... I'm wondering if people are finding it difficult due to not being familiar with Node/Git/Visual Studio/MS SQL Server.

[2018-01-18 09:40] dracan opened #2248 "Missing npm install instruction in the setup guide"
Just setting this up for the first time ready for the [dotnetsoutheast codeathon](https://www.meetup.com/dotnetsoutheast/events/246326635/) on Saturday. The web project wouldn't build without me doing a manual `npm install` in the `AllReadyApp\Web-App\AllReady` folder. This isn't mentioned in the [setup documentation](https://github.com/HTBox/allReady/blob/master/docs/prerequisite_install_guide/pr

[2018-01-18 09:49] jonparker commented on #2248
Thanks @dracan did you have any other issues with your install? I hope you enjoy the codeathon.

[2018-01-18 09:51] dracan commented on #2248
@jonparker I only tried the web project, but other than having to do the `npm install`, it worked well :) Thanks - really looking forward to it :)

[2018-01-18 15:08] MisterJames commented on #2247
@jonparker I know for sure that would have helped at a few of our code-a-thons.

As far as distribution goes, we'd likely want to set such images up through a CDN or similar, right? Should I start getting some accounts together? If so, who are the popular hosts/registries?

[2018-01-18 15:18] jonparker commented on #2247
hub.docker.com account would be good for docker images. For boxstarter you don't need an image as it's a script that downloads everything for you.

Potentially we could do a azure image too but it's probably not worth it unless there's a need for people to develop in a VM.

I think we should solve the problem of setting up a local/container environment first.

[2018-01-18 15:22] jonparker commented on #2247
Here's the link to the boxstarter script for setting up an environment for the mobile app development.

https://gist.github.com/jonparker/3f45edbd7eb17ba02c783d9e3b91bb23

[2018-01-18 15:34] mk0sojo commented on #2247
Wouldn't something like this help https://docs.docker.com/compose/aspnet-mssql-compose/

Workflow for a user would be something like this:
1. Clone the allready repo
2. Run docker "docker-compose up" and that should set everything up to run the the Allready Web app.

I haven't worked on the mobile app so I'm not that familiar with that.

[2018-01-18 17:22] valdisiljuconoks commented on #2205
any updates here? is there an issue to work under?

[2018-01-19 06:57] jonparker commented on #2205
Hi @valdisiljuconoks I've only been involved in the project for a couple of months so definitely check with James or Stephen before you get going on this. Alternatively you can pick up one of the existing issues.

[2018-01-19 19:36] dracan opened #2249 "First and last name validation"
When trying to register a new user, the registration form fails ...

![image](https://user-images.githubusercontent.com/567988/35168015-61fa5996-fd4f-11e7-8daa-ed4a2312fa0f.png)

Looking at the code, the `AllReady.ViewModels.Account.RegisterViewModel` has this regular expression ... `(.*?)\s([\wáâàãçéêíóôõúüÁÂÀÃÇÉÊÍÓÔÕÚÜ]+\-?\'?\w+\.*?$)`, which seems to have been added in #2148. Not sure this is

[2018-01-19 19:48] dracan opened #2250 "Potential deadlocks due to .Result calls?"
Scanning through the code ready for the codeathon tomorrow, I've spotted a few `.Result` calls. One example is in `SendRequestStatusToGetASmokeAlarm.Send`, where it does this: `_httpClient.SendAsync(request).Result`. There are a few more examples though. This can cause deadlocks and should be avoided. I've lost countless hours in the past due to someone using `.Result`, and causing random deadlock

[2018-01-20 09:38] morcs commented on #2224
I can take this?

[2018-01-20 09:40] Paul-Hadfield commented on #2228
I'll take a look at this one.

[2018-01-20 09:42] dracan commented on #2245
I'll take this one.

[2018-01-20 09:42] djhmateer commented on #2239
Working on this

[2018-01-20 09:44] redware commented on #2249
I am getting this error too.

[2018-01-20 09:49] jamesatgreymetis commented on #2244
I'll take this one.

[2018-01-20 09:52] thelem commented on #2233
I'll pick this up

[2018-01-20 09:55] Michael-Marshall commented on #2211
I will pick this one up.

[2018-01-20 09:56] thelem commented on #2249
I'll pick this up

[2018-01-20 09:59] redware commented on #2243
I will have a look here if that is OK.

[2018-01-20 10:00] jamesatgreymetis opened #2251 "Error on the Admin Event Details View"
Error cannot find View "/Areas/Admin/Views/Task/_List.cshtml"

This just needs the path changing to VolunteerTask

[2018-01-20 10:04] thelem commented on #2148
This has been implemented differently to what is described above, see #2160 for details (the pull request mentioned looks to be a followup rather than the main changes)

[2018-01-20 10:19] morcs commented on #2224
PR #2252

[2018-01-20 10:27] stevejgordon commented on #2224
Closed in #2224

[2018-01-20 10:27] #2224 closed

[2018-01-20 10:27] morcs commented on #2225
Grabbing this.

[2018-01-20 10:28] Paul-Hadfield commented on #2228
Regarding last comment, the code base for creating and editing events does restrict down to jpg, png, gif.

<img width="1267" alt="screen shot 2018-01-20 at 10 27 08" src="https://user-images.githubusercontent.com/732223/35182424-8cf5b17c-fdcc-11e7-9ac6-587b91155bd2.png">

[2018-01-20 10:34] thelem commented on #2249
The regular expression above looks for: any character, followed by whitespace, followed by at least one letter or number including accented letters, followed by some special characters, followed by white space, followed by one or more periods.

I've changed it so that it looks for at least one letter (including the same accented letters), number or a small list of special characters and made sure

[2018-01-20 10:36] duncangoodall commented on #2202
I will assign this to me

[2018-01-20 10:38] Paul-Hadfield commented on #2228
@stevejgordon Limiting on file size is a quick fix for this one, is there a project standard for where to put these values.  Web.config good enough?   Allow size to be specified in MB, or KB good enough?

[2018-01-20 10:43] Michael-Marshall commented on #2211
Rename of Address1 -> Address Line 1 is being picked up by Issue/2224

[2018-01-20 10:49] MartinDigon commented on #2237
I'm looking at this one. Are we talking about this icon?
![image](https://user-images.githubusercontent.com/205956/35182572-9498c8c6-fdcf-11e7-9dae-96b974c06425.png)

[2018-01-20 11:09] redware commented on #2243
Steve - the solution you proposed was to hard code the div containing the required field as follows and (elsewhere) modify the CSS:
 <div class="form-group required">

This might not be optimal as it is not working from the dataannotations but in my case here where the modal attributes do not seem to be in the model - ideal.

[2018-01-20 11:10] dracan commented on #2206
I'll take this one.

[2018-01-20 11:11] stevejgordon commented on #2211
@Michael-Marshall That change in #2224 was on the Create Event form so will need to be done for this issue also as it's a campaign

[2018-01-20 11:13] Michael-Marshall commented on #2211
It's a shared view

[2018-01-20 11:17] Michael-Marshall commented on #2211
I have merged HTBox master into my branch - this will now show the location changes made in #2224

[2018-01-20 11:17] stevejgordon commented on #2211
Ah! Got ya!

[2018-01-20 11:22] stevejgordon commented on #2237
@MartinDigon - It's actually the button on a URL such as http://allready-d.azurewebsites.net/Admin/Event/Details/1

[2018-01-20 11:34] redware commented on #2241
I will look at this if that is OK.

[2018-01-20 11:35] samsonprojects commented on #2222
I will work on this

[2018-01-20 11:41] MartinDigon commented on #2237
That icon is in use in 9 places; do we want it change to text "Edit" in all of them, or just the Event details page?
![image](https://user-images.githubusercontent.com/205956/35183012-e027d50a-fdd6-11e7-9eda-93bb556c48d7.png)

[2018-01-20 11:44] Michael-Marshall commented on #2212
I'll pick this one up

[2018-01-20 11:57] chdbdm commented on #2238
I will work on this

[2018-01-20 12:04] Paul-Hadfield commented on #2219
I'll pick this up after #2228 as code has been created for that issue

[2018-01-20 12:05] #2206 closed

[2018-01-20 12:13] jamesatgreymetis commented on #2218
I'll take this

[2018-01-20 12:13] i-hardy commented on #2208
I'll take this one! I think a good solution for this would be a block above with buttons that allow the user to select which one they want to fill out, and then show that form element. Any particular guidance on wording?

[2018-01-20 12:17] redware commented on #2235
I will look at this.

[2018-01-20 12:19] redware commented on #2234
I will look at this.

[2018-01-20 12:27] jamesatgreymetis commented on #2240
I'll take this one

[2018-01-20 12:34] Paul-Hadfield opened #2263 "Implement UnitTest builder pattern for AllReady.Areas.Admin.Controllers.EventController"
Whilst working on #2228 adding the image size validator to the constructor caused many of the unit tests to fail building.  Implementing the Builder pattern for the constructor of the controller should help stop this being a problem in the future.

[2018-01-20 12:34] Paul-Hadfield commented on #2263
I'll work on this one as part of cleaning up after #2228

[2018-01-20 12:42] #2218 closed

[2018-01-20 12:44] MartinDigon commented on #2240
May be worth you doing #2221 at the same time, sounds very similar.

[2018-01-20 12:49] #2237 closed

[2018-01-20 13:03] chdbdm commented on #2220
I am working on this

[2018-01-20 13:19] redware commented on #2229
I can do this.

[2018-01-20 13:20] Michael-Marshall commented on #2212
https://github.com/HTBox/allReady/pull/2269

[2018-01-20 13:33] morcs commented on #2236
Taking this.

[2018-01-20 13:43] duncangoodall opened #2273 "AdminController with redundant code should be removed"
AdminController appears to have redundant code and is not required.

Under closer inspection it appears AdminController is only used for 2FA sendcode and verfiycode actions for 2FA and these should really live in the AccountController so not to have any dependency on the AdminController.

Suggestion is to move the 2FA code needed by the AccountController to the AccountController and remove AdminCo

[2018-01-20 13:44] duncangoodall commented on #2273
Picking this up

[2018-01-20 13:52] stevejgordon commented on #2227
PR merged

[2018-01-20 13:52] #2227 closed

[2018-01-20 13:55] thelem commented on #2217
I'm working on this

[2018-01-20 13:56] dracan opened #2277 "404 for system.js"
Chrome dev tools shows a 404 for `lib\system.js\dist\system.js`. This is because it should be `lib\systemjs\dist\system.js` (not the lack of `.`.

The first path _does_ exist in the deployed version, which is weird. We're thinking that it might still exist in Azure from a legacy deployment. All these files are copied by Gulp from the `node_modules` folder, where the path name doesn't have the `.`.

[2018-01-20 13:56] dracan commented on #2277
I'm working on this.

[2018-01-20 13:59] stevejgordon commented on #2239
PR Merged

[2018-01-20 13:59] #2239 closed

[2018-01-20 14:00] dracan commented on #2277
Note that this issue breaks the preview tabs in things like the edit campaign page.

[2018-01-20 14:02] dracan commented on #2213
I'll take this one.

[2018-01-20 14:04] GoverR commented on #2045
I will have a look at this one

[2018-01-20 14:28] thelem commented on #2217
Before:
![image](https://user-images.githubusercontent.com/526619/35184476-16cd7616-fdee-11e7-9cfe-d751aee469b7.png)

[2018-01-20 14:39] Paul-Hadfield opened #2283 "Implement UnitTest builder pattern for AllReady.Areas.Admin.Controllers.CampaignController"
Before working on #2219, I will implement the Builder pattern for the constructor of the controller in relevant unit tests.  This is taking what was learnt from working on  #2228, which lead to #2263

[2018-01-20 14:39] thelem commented on #2217
After:
![image](https://user-images.githubusercontent.com/526619/35184594-c3fa8c2e-fdef-11e7-88e2-d8fe3130701b.png)

[2018-01-20 14:40] #2229 closed

[2018-01-20 14:41] Paul-Hadfield commented on #2283
I'll pick this one up

[2018-01-20 15:15] Michael-Marshall commented on #2207
I will do this.

[2018-01-20 15:20] thelem commented on #1899
Picking this up

[2018-01-20 15:30] morcs opened #2287 "Re-use component for editing Locations"
In Campaign\Edit.cshtml the location fields are rendered using

`@Html.EditorFor(m => m.Location)`

In Event\Edit.cshtml the markup is inline. It looks like we could just re-use the EditorFor here. The only differences I can see are:

`if (Model.EventType == EventType.Rally)` it sets the "Address 1" field to have `data-val-required`, but I think we might be requiring an address on all events anywa

[2018-01-20 15:34] #2277 closed

[2018-01-20 15:39] Michael-Marshall commented on #2207
https://github.com/HTBox/allReady/pull/2288

[2018-01-20 15:50] jamesatgreymetis commented on #2221
I'll take this one

[2018-01-20 15:57] jamesatgreymetis commented on #2251
Ignore me

[2018-01-20 15:57] #2251 closed

[2018-01-20 16:00] stevejgordon commented on #2217
PR merged

[2018-01-20 16:00] #2217 closed

[2018-01-20 16:02] #2220 closed

[2018-01-20 16:03] morcs commented on #1895
Taking a look into this.

[2018-01-20 16:05] thelem commented on #1895
@morcs Check out #1899, which I've just opened a PR for

[2018-01-20 16:15] stevejgordon opened #2291 "Campaigns Lister Page (Admin) Update button to use text rather than an icon"
On the Administrator Campaigns Lister Page (e.g. http://allready-d.azurewebsites.net/Admin/Campaign) we have a publish button which is shown if the campaign is in draft.

This uses a very unclear icon. We should replace the icon with the text "Publish" instead. Here is the current button...

![image](https://user-images.githubusercontent.com/3669103/35185478-0c987fa6-fdfd-11e7-9aae-0018e654dd40.pn

[2018-01-20 16:20] thelem commented on #2291
I'll do this

[2018-01-20 16:24] djhmateer commented on #2291
Working on this too

[2018-01-20 16:54] chdbdm commented on #2222
EventViewModel.IsClosed parameter can be used for checking visibility

[2018-01-21 19:04] Paul-Hadfield commented on #2219
I think this was has been fixed and waiting to be merged into main code base.

[2018-01-23 13:24] Jackyckyau commented on #2210
Agreed. We should populate a list of countries, which can help to keep the same format

[2018-01-23 15:51] thomfresn commented on #2210
There's a [REST API](https://github.com/fayder/restcountries) that provides a list of countries. Or the list can be hardcoded based on the [ISO country code list](https://www.iso.org/obp/ui/#search).

[2018-01-25 16:20] stevejgordon opened #2295 "Update publish button in Campaign Details page"
In issue #2291 we are updating the publish icon on the Campaign Lister page. This button also appears in the Campaign details page (e.g. Campaign/Details/1) when that campaign is not marked as published.

Once #2291 is complete, we should update this button on the campaign details page as well.

[2018-01-25 16:24] #2245 closed

[2018-01-25 16:29] stevejgordon commented on #2208
Closed in PR #2271

[2018-01-25 16:29] #2208 closed

[2018-01-25 16:35] #2240 closed

[2018-01-25 16:36] stevejgordon commented on #2221
Closed in #2289

[2018-01-25 16:36] #2221 closed

[2018-01-25 16:48] stevejgordon commented on #2212
Closed in #2269

[2018-01-25 16:48] #2212 closed

[2018-01-25 16:50] stevejgordon opened #2296 "Set Default TimeZoneId claim when a new user registers"
It looks like when register a new user we don't set a default TimeZoneId claim. Since the claim only gets updated if the user then changes it in their My Account page (only updated if the value actually changed from the model originally rendered) it means quite often a user doesn't get a claim for this.

We should set a default for new users since we don't offer this on the registration form.

[2018-01-25 16:59] stevejgordon commented on #2225
Closed in #2281

[2018-01-25 16:59] #2225 closed

[2018-01-25 16:59] stevejgordon commented on #2236
Closed in #2281

[2018-01-25 16:59] #2236 closed

[2018-01-27 21:56] mk0sojo commented on #2247
Had a go at creating docker support for debugging. Any feedback welcome.

[2018-01-28 08:15] stevejgordon commented on #1900
@csharpfritz Sorry for the delay...

I'm thinking what we probably want is a button on the Event details (admin) page (e.g. http://allready-d.azurewebsites.net/Admin/Event/Details/1) called "Permissions".

Clicking that would take you to a page view which lists the users with permissions and their role. Maybe all we need is something like...

![20180128_075937](https://user-images.githubuserconten

[2018-02-01 18:38] bernard-chen commented on #2250
Are you suggesting that each case be fixed by propagating the async to all callers or did you have a different solution in mind?

[2018-02-01 18:54] valdisiljuconoks commented on #2250
Async all the way down would be ideal. But it's bad habit to run sync over async :)
One of the workaround could be:

[code]

[2018-02-02 12:58] dracan commented on #2250
@bernard-chen Yes, if possible, async top to bottom is the ideal. And in _most_ cases nowadays, this is the norm. Obviously, in some cases this isn't possible - but without me going through the code and seeing how it all works, I don't know if it is possible or not in these cases. But if you can't do top to bottom - it's important that the consequences and how synchronisation contexts work are und

[2018-02-02 17:11] bernard-chen commented on #2250
I agree with async from top to bottom. In those cases where it isn't possible, I think more careful work should be done and maybe those cases should be separated from the more straightforward ones.

[2018-02-02 18:10] valdisiljuconoks commented on #2250
@dracan , @bernard-chen I've used AsyncHelper in cases when async is not possible due to framework, platform, library, whatever - and it does its job. Agree that those special cases have to isolated and treated very special - more like an exceptional situation and not normal one.

[2018-02-06 15:02] #2204 closed

[2018-02-06 16:24] #2155 closed

[2018-02-06 16:33] #2202 closed

[2018-02-08 03:40] GoneFishern commented on #1574
can I have a go at this one please.

[2018-02-10 17:16] manojattal commented on #2178
As I tested this issue on local and azurewebsite, issue looks to be fixed.

[2018-02-18 14:47] NRKirby commented on #2296
I see claims are set in the Register POST action [here](https://github.com/HTBox/allReady/blob/5364d7fbbd39f2cefded10d98884742a345d7abe/AllReadyApp/Web-App/AllReady/Controllers/AccountController.cs#L156) and there is a `TimeZoneId` claim type

- What should it be set to?
- Once this is set, where else in the app should this claim should be used?

If you could give me a broad idea of what's involve

[2018-02-21 21:15] #2213 closed

[2018-02-21 21:18] #2146 closed

[2018-02-21 21:21] MisterJames opened #2300 "Update jQuery Libraries to Current Stable Version"
We need someone to assess the web project for a bump to a stable, compatible version of jQuery in the UI.

[2018-02-22 14:17] stevejgordon commented on #2296
@NRKirby Sorry for the delay.

I've just tried to replicate this and not been able to. I'm therefore going to close this out for now.

[2018-02-22 14:17] #2296 closed

[2018-02-22 14:19] stevejgordon commented on #2250
I agree that this should be fixed. If there are rare places we can't do async all the way, we should record those and decide what the options are in each case.

Therefore I'd suggest the scope of this is to properly await any async calls wherever .Result or .GetAwaiter().GetResult() calls are made.

Good spot @dracan

[2018-02-22 14:20] #2249 closed

[2018-02-22 17:24] MisterJames commented on #2291
Closed via #2292

[2018-02-22 17:24] #2291 closed

[2018-02-22 17:39] MisterJames commented on #2295
I'll put my hand up on this one?

Where is the best place to start looking?

[2018-02-22 17:40] stevejgordon commented on #2295
Sure thanks for helping out.

You should be able to find this code in the "Admin" area folder > Views folder

[2018-02-22 18:09] #2295 closed

[2018-02-25 12:36] jonparker commented on #2300
This kind of front end update is a great reason for having automated UI tests which would allow you to upgrade jQuery and then take a screenshot of each screen as part of the tests and then review them for any layout/styling issues with the new version. Obviously maintaining a suite of UI tests adds overhead to each feature but it does have its advantages.

[2018-03-01 16:36] berthertogen commented on #2246
I can take this one

[2018-03-06 00:38] #2246 closed

[2018-03-06 01:03] #2241 closed

[2018-03-06 01:20] stimms commented on #2238
This looks to have been merged. Safe to close?

[2018-03-06 01:25] #2243 closed

[2018-03-06 02:27] stevejgordon commented on #2238
@stimms yep!

[2018-03-06 02:27] #2238 closed

[2018-03-06 17:35] #2250 closed

[2018-03-06 17:56] stimms commented on #2219
@stevejgordon or @MisterJames can you confirm that this issue is resolved?

[2018-03-06 19:24] #2222 closed

[2018-03-06 19:25] #2263 closed

[2018-03-06 20:00] dpaquette commented on #1865
I see a few usages of `IMemoryCache` in the app but I don't see any usages of `IDistributedCache`. Can you point me to where we are using a distributed cache?

[2018-03-06 22:33] MisterJames commented on #1134
Closed via #2311.

[2018-03-06 22:33] #1134 closed

[2018-03-06 22:47] dpaquette commented on #2141
I can't reproduce this but I'm not sure I am testing on the right page. I don't see an map on the Campaign page

[2018-03-06 22:51] stimms commented on #2228
This also looks like it might be done @stevejgordon and @MisterJames

[2018-03-07 00:16] #2283 closed

[2018-03-09 14:18] manojattal commented on #2207
I can take this issue if it not done yet. I see a merged pull request for the issue, but issue is still open

[2018-04-13 20:31] mk0sojo commented on #2226
This has been implemented
![image](https://user-images.githubusercontent.com/15338483/38756596-025f7296-3f62-11e8-9477-5a60a78e442e.png)

[2018-04-16 12:50] stevejgordon commented on #2226
Thanks @mk0sojo - I'll close this out

[2018-04-16 12:50] #2226 closed

[2018-04-16 12:51] stevejgordon commented on #2300
Looks like this is closed with #2303

[2018-04-16 12:51] #2300 closed

[2018-04-16 12:52] stevejgordon commented on #2287
Looks like this can be closed

[2018-04-16 12:52] #2287 closed

[2018-04-16 12:54] stevejgordon commented on #2244
@jamesatgreymetis How did you get on with this?

[2018-04-16 12:58] stevejgordon opened #2314 "Upgrade to ASP.NET Core 2.1"
I've completed an initial test in a local branch against 2.1 preview 2 which seems to work.

@MisterJames I presume we want to wait until RC / RTM before we take this step? If we do it early we can start to use the new shiny but contributors would need VS 2017 15.7 preview 3 + the preview 2 SDK etc so we add a barrier of entry.

[2018-04-16 13:46] #2235 closed

[2018-04-16 13:46] #2234 closed

[2018-04-16 13:50] #982 closed

[2018-04-16 13:59] #2211 closed

[2018-04-16 14:03] #2233 closed

[2018-04-16 14:05] #2137 closed

[2018-04-16 14:06] #2133 closed

[2018-04-16 14:06] #2135 closed

[2018-04-16 14:06] #2136 closed

[2018-04-16 14:07] stevejgordon commented on #2142
@dchristensen Agreed! :-)

[2018-04-16 14:08] stevejgordon commented on #2151
I think a combination of storing dates via nodeatime and then adding moment.js might be a good option here.

[2018-04-16 14:10] #2166 closed

[2018-04-16 14:11] stevejgordon commented on #2178
Still seems to be an issue for me locally and on azure

[2018-04-16 14:32] stevejgordon commented on #1515
This functionality now exists

[2018-04-16 14:32] #1515 closed

[2018-04-16 14:37] #1350 closed

[2018-04-16 14:46] #1338 closed

[2018-05-02 17:58] DanniRiggin opened #2319 "STAREast: Urgent: Cannot Log In"
*Observed Behavior*
Attempted to log in as user, organization, eventmanager, and campaignmanager@example.com and am currently unable to log in.
Attempted both typing the password in the box, and typing the password on another screen for copy paste to make sure to check spelling.
Was unable to log in.

*Expected Behavior*
Should be able to log in. 😭

[2018-05-08 12:35] stevejgordon commented on #2319
Hi @DanniRiggin - Sorry for the delay. Is this on the live test site (http://allready-d.azurewebsites.net) or locally? I've just tested on the live site and been able to login for that user.

[2018-05-08 14:51] DanniRiggin commented on #2319
Hi @stevejgordon we were unable to log onto the test site at STAREast. I also just checked now and was able to log on. Not sure what happened!

[2018-05-12 21:07] mk0sojo commented on #2178
I implemented the solution @jonparker suggested.

[2018-05-17 16:06] dzoech opened #2321 "Microservices Proof of Concept"
Not sure what's the best way to contact you, so I just post here.

I did a project for university regarding microservices and used allReady foundation for it. The focus was on transforming the application into a microservices architecture. Communication is based on RabbitMQ and leverages the Polly library for fault-tolerance. As you can see in the attached diagram, I extracted some services and al

[2018-05-28 06:29] mk0sojo commented on #2321
That looks interesting. I think @stevejgordon was doing some work on using identity server as well

[2018-05-28 06:30] mk0sojo commented on #2273
@duncangoodall any update on this?

[2018-05-28 06:35] mk0sojo commented on #2319
Can be closed?

[2018-05-29 14:04] DanniRiggin commented on #2319
@mk0sojo I believe this can be closed

[2018-07-19 15:17] BillWagner opened #2323 "[HTBox outreach]Seeking blog posts from contributors"
Have you contributed to AllReady? If so, do you want to write a blog post for HTBox about your experience?

If so, comment on this issue and let us know.

[2018-08-04 19:03] jimholmes opened #2324 "Create Powershell script to install prereqs"
Ease on-boarding pain by automating as much of the prereq install as possible.

[2018-08-13 14:27] vbearn commented on #2323
Hi!

I have been tracking and reviewing this project for a couple of days now and became very interested in contributing to the code.

I have run the project and was very excited to finally find a project with enough work to be done as I have a couple of weeks free for doing some voluntary work. But tracking the commitment records of the project, they became abruptly stopped at March this year.

I

[2018-09-13 15:40] #2319 closed

[2018-10-04 02:42] testingguru2018 opened #2326 "Server Error in '/' Application while navigation"
virtual (STARWEST)

Getting server error during following navigation steps:

from Checkin screen, Click on 'Register' link.
on next form page, enter all information and click on create new account.

A confirmation page is displayed. 'Registration was successful'

follow link 'My Organization' from red ribbon on top of the screen.
![error](https://user-images.githubusercontent.com/43835756/46450108

[2018-10-04 02:52] testingguru2018 opened #2327 "Incorrect search result for incorrect date format"
Checked in as testingguru2018.
on 'List Field Data' screen - select 'Hurricane' and date as '10/04/2017' and click on Search:

3 rows are correct displayed.

now enter date as '010/04/2017' and search.

4 rows are displayed. **4th row is incorrectly fetched.

also system should not allow to enter and search using incorrect date format**

[2018-10-04 02:55] dchristensen commented on #2326
@testingguru2018 This issue looks like it actually belongs in the crisischeckin repo:  https://github.com/HTBox/crisischeckin

[2018-10-04 07:56] bhavanirdckap opened #2328 "Virtual - Resources - when selecting Future date and clicked view resources - getting 500 console error"
Steps to reproduce:
1. Login in the application.
2. Click Resources tab.
3. Select future date as 11/08/2018 and click view resources.

Actual result:

No action is happened. When inspecting the console, showing 500 error.

Expected result:
The application should show appropriate alert messages and it should not show 500 error.
![selecting_future date_getting console error](https://user-images.git

[2018-10-04 14:52] KHari1984 opened #2329 "Virtual - registration phone number Check not given for 5 digit number"
![image](https://user-images.githubusercontent.com/17125777/46482467-e1ba7700-c7b2-11e8-8063-d6deda782a27.png)

[2018-10-04 17:01] rainingviolets opened #2330 "Virtual- Home/Assign page Location Needs Data Validation"
https://crisischeckin-d.azurewebsites.net/Home/Assign - generated an error

Browser:  chrome

After logging in as an event manager with a newly created account.  On the Volunteer Home page  I entered the following data in the fields:

Disaster:  Selected Test Disaster
Activity: blank
Start date 10/04/1000
End date 10/04/1000
Location <script>alert('me')</script>

Then I clicked the Volunteer butto

[2018-10-04 17:05] rainingviolets commented on #2330
The same happens on the bottom of the page when I enter <script>alert('me')</scrpt> in the description box or the location box at the bottom of the page.

[2018-10-04 17:11] rainingviolets opened #2331 "Virtual-Remove Button on Volunteer Page"
Chrome browser
Logged in as an event manager

When I click on the Remove buttons I keep getting an error that says description field is required.  That doesn't really make sense, I am just trying to remove an item from the My Organization Resources list.  Below is a link to a Jing video if you need to see what is happening.

https://www.screencast.com/t/rjqcecJtc

[2018-10-04 17:29] rainingviolets opened #2332 "Virtual-Volunteer Home-Description Text"
Consider only allowing a certain number of characters for the description field.  I entered a lot of text.  See Below:
Testing testingTesting testingTesting testingTesting testingTesting testingTesting testingTesting testingTesting testingTesting testingTesting testingTesting testingTesting testingTesting testingTesting testingTesting testingTesting testingTesting testingTesting testingTesting tes

[2018-10-04 17:37] rainingviolets opened #2333 "Virtual-Change Contact Info"
Consider validating the phone numb er on the Contact Info page and setting a text limit.

I was able to enter an invalid phone number:
999999999999999999999999999999999999999999999999999999999999999999999999999 - allowed me to change it to that.

<script>alert('me')</script> - resulted in an error

aaaaa bbb ccc ddd eee aaaaa bbb ccc ddd eeeaaaaa bbb ccc ddd eeeaaaaa bbb ccc ddd eeeaaaaa bbb ccc d

[2018-10-04 17:50] rainingviolets opened #2334 "Virtual-My Organization page - Location Field"
Under resources if I enter the following, it does not appear to save the checkin and doesn't tell me what I did wrong:

Disaster:    Test Disaster
Description:  adfdf
Quantity: 3
Type: Water
Start Date 10/4/2018
End date: 10/4/2018
Location: test testtest testtest testtest testtest testtest testtest testtest testtest testtest testtest testtest testtest testtest testtest testtest testtest testtest

[2018-10-04 17:57] rainingviolets opened #2335 "Virtual-Register A New organization"
Entering the information below for the organization name results in the following server error:

An unhandled exception was generated during the execution of the current web request. Information regarding the origin and location of the exception can be identified using the exception stack trace below.

Browser:  chrome

Text entered into the Organization Name Field: 12314234134123
I also tried to

[2018-10-04 19:23] ChrisStar opened #2336 "Virtual - Server Error in '/' Application - A person cannot belong to more than one organization. - happens when Register New Organization with 'test' in Organization Name and all the other fields empty"
1. Login at https://crisischeckin-d.azurewebsites.net/Account/Login?ReturnUrl=%2f
2. Go to: https://crisischeckin-d.azurewebsites.net/Organization/ProcessNewOrganization
3. Just fill in **test** in the field below Organization Name and leave all the other fields empty
4. Scroll down and click the **Register**-button

**Result:** url: https://crisischeckin-d.azurewebsites.net/Organization/ProcessNe

[2018-10-04 19:34] ChrisStar opened #2337 "Virtual - Server Error in '/' Application - Logged-in person not found or is an administrator - happens when Register New Organization with ´ in Organization Name and all the other fields empty"
1. Login at https://crisischeckin-d.azurewebsites.net/Account/Login?ReturnUrl=%2f
2. Go to: https://crisischeckin-d.azurewebsites.net/Organization/ProcessNewOrganization
3. Just only fill in **´** in the field below Organization Name
4. Scroll down and click the Register-button

**Result:** url: https://crisischeckin-d.azurewebsites.net/Organization/ProcessNewOrganization
Server Error in '/' Appli

[2018-10-04 20:09] ChrisStar opened #2338 "Virtual - CheckinResource - Many chars in Quantity gives an error messages that stretches the webpage a long way to the right"
1. https://crisischeckin-d.azurewebsites.net/Organization/CheckinResource
2. Choose any Disaster
3. Fill in something in Description
4. Fill in the following in Quantity:
5. lwknwlkgnwgklngwlkgnwglkwngwlkgnwglwkngwlgkwngwklgnwglkwngwklgnwgklwngwlkgnwglwknwgklwngwlkgnwglkwnlwknwlkgnwgklngwlkgnwglkwngwlkgnwglwkngwlgkwngwklgnwglkwngwklgnwgklwngwlkgnwglwknwgklwngwlkgnwglkwnlwknwlkgnwgklngwlkgnwglkwngw

[2018-10-18 19:05] Simon-Carr commented on #2338
This is crisischeckin project, not allReady?

[2018-10-18 20:10] Simon-Carr commented on #2337
This is crisischeckin project, not allReady?

[2018-10-18 20:11] Simon-Carr commented on #2336
This is crisischeckin project, not allReady?

[2019-02-03 20:13] djillucid commented on #2324
I may be interested in assisting with this item. Is there any additional information about what is desired?

[2019-02-16 19:42] c0g1t8 opened #2343 "Build Issues with 37833fcf2ea4d1f54d0e846c78ff79b307509809"
It's been a while since I've worked on this project and I wanted to get back into it.  I started with a fresh development system with only **git version 2.20.1.windows.1** and **Visual Studio Community 2017 15.9.7** installed.  I wanted to approach it as if I was a newbie.

I've encountered a series of problems with a clean build.  I'm going to use this issue as a way of tracking the individual pr

[2019-02-16 19:45] c0g1t8 opened #2344 "NETSDK1059 warning"
Opening  **AllReadyWebOnly.sln** from a fresh clone in VS2017 will produce warnings in **Error List** window.
![image](https://user-images.githubusercontent.com/23250332/52904221-e28dfb80-31dd-11e9-983a-5c70801f3008.png)

[2019-02-16 21:02] c0g1t8 opened #2345 "AllReady.ScenarioTest dependence on 4.6.2"
.net framework 4.6.1 is the last default version of the framework installed with **Visual Studio Community 2017 15.9.7**.  **AllReady.ScenarioTest** is looking for 4.6.2.

![image](https://user-images.githubusercontent.com/23250332/52905122-76fe5b00-31ea-11e9-8829-b1e908232ab7.png)

Unless there is a very specific reason for using 4.6.2, I would suggest returning to 4.6.1.

[2019-02-16 21:06] c0g1t8 commented on #2345
@dchristensen - thoughts?  I see that you were the last one to touch _AllReady.ScenarioTest.fsproj_.

[2019-02-16 21:18] c0g1t8 commented on #2345
Found another issue related to **AllReady.ScenarioTest** project.  It is missing a dependency on the **allReady** project.

Fixed - PR to come.

[2019-02-16 21:54] c0g1t8 opened #2346 "Gulp 3.9.1 Issues with Node 10"
I got everything to build after fixing #2344 and #2345 but the website did not render correctly.
![image](https://user-images.githubusercontent.com/23250332/52905545-98fadc00-31f0-11e9-9d36-ac5fc3ec7bb3.png)
There were no build errors.  Finally spotted
![image](https://user-images.githubusercontent.com/23250332/52905607-803ef600-31f1-11e9-8bf6-a0a6edceba69.png) indicating that not all the npm depe

[2019-02-16 22:17] c0g1t8 commented on #2346
It turns out this is related to [Dependency of Gulp 3.9.1 causes error in Node 10](https://github.com/userfrosting/UserFrosting/issues/882).

I applied the fix as suggested in the link above to resolve.  This appeared to have work but did get the following
![image](https://user-images.githubusercontent.com/23250332/52905856-23453f00-31f5-11e9-9f00-40c890d8ef40.png)

The web pages _appear to be ren

[2019-02-17 03:17] dchristensen commented on #2345
@c0g1t8 I don't know that its worthwhile to spend a lot of time working on the AllReady.ScenarioTest project.  They are not well maintained and there isn't really anyone who is actively working on the project who is familiar with F# or canopy.   I know @stevejgordon  was working to replace them with tests written in C# at one point, but I don't know how far the effort got.

[2019-02-17 03:23] jonparker commented on #2345
I'm not sure if having no tests is a better option than converting them to
c# or learning how f# work. Just something to weigh up.

On Sun., 17 Feb. 2019, 2:17 pm Derek Christensen, <notifications@github.com>
wrote:

[2019-02-17 04:43] c0g1t8 commented on #2345
@dchristensen I agree with you.  My primary goal right now is simply to get the web part of the solution building and passing unit tests.  I messaged @stevejgordon on Slack a little over a week ago.  He indicated that he and @MisterJames were working on some new plans.

[2019-02-17 04:50] c0g1t8 commented on #2343
In addition to #2344, #2345 and #2346, there were some minor issues such as having the js files generated from ts files checked in to source control.

[2019-02-22 20:51] c0g1t8 commented on #2345
I've changed the description of this issue so it encompasses all the issues I've discovered.  I was initially just having issues getting **AllReady.ScenarioTest** to build consistently.

1. **AllReady.ScenarioTest** built before **AllReady** was built
- added a dependency in _AllReadyWebOnly.sln_
2. Was unable to build since 4.6.2 is not installed by default by VS2017 Community
- changed to use 4.

[2019-02-22 21:14] valdisiljuconoks commented on #2323
have similar thoughts..

[2019-02-22 23:03] c0g1t8 opened #2348 "Campaign Start/End Date does not appear correctly on Admin/Event/Create page"
Encountered this while working on #2345.

The **Admin/Event/Create** page shows
![image](https://user-images.githubusercontent.com/23250332/53276027-44ed6d00-36b2-11e9-9f67-a4d3f3309061.png)

While **Admin/Campaign/Details** shows
![image](https://user-images.githubusercontent.com/23250332/53276205-fa202500-36b2-11e9-9455-fe5dae6fb8b9.png)

[2019-02-22 23:48] jonparker commented on #2348
Have approved the PR

[2019-02-23 01:22] c0g1t8 commented on #2345
Attempted to isolate a fix for this issue alone - PR #2350.

Build test showed
![image](https://user-images.githubusercontent.com/23250332/53279464-8b989280-36c5-11e9-8426-0b9c8c840e92.png)

The initial error is a timeout.  This did not occur when the test was run locally.  Did get the two test case failures as noted above locally.

Could it be that the build server needs more time to warm up?

[2019-02-23 04:56] c0g1t8 commented on #2345
Temporarily disabled the two broken tests and committed -https://github.com/HTBox/allReady/pull/2350/commits/3bec7257809fd0d88d85e5aba68e0551bb2d6588.  The [results](https://ci.appveyor.com/project/HTBox/allready/builds/22590585) still show a timeout at line 646.

Now looking into [extending the timeouts in Canopy](https://lefthandedgoat.github.io/canopy/configuration.html).

[2019-02-24 15:26] djonphillips commented on #2346
I am experiencing a similar issue with node v10.15.1. The Website does not render correctly and the Visual Studio Task Runner Explorer reports that Gulpfile.js failed to load and the following information was in the output window:
Failed to run "C:\Users\Phillips' PC\source\repos\allReady\AllReadyApp\Web-App\AllReady\Gulpfile.js"...
cmd.exe /c gulp --tasks-simple
gulp --tasks-simple[664]: src\node

[2019-02-24 17:35] c0g1t8 commented on #2346
I've spent quite a few hours over the last couple of days looking at this issue.  [I thought I had it resolved](https://github.com/HTBox/allReady/pull/2347/commits/9bf2fe750da0960390eb68dd0ee9240e0adcb335).  The fix did _appear to resolve_ the rendering problem.

I've been working on #2345 as well.  There may be some linkage with that issue as well.

[2019-02-24 17:43] c0g1t8 commented on #2345
After multiple trial an error, I was able to reproduce the problem found in AppVeyor.  The cause appears to be because a critical NPM package was not being restored in the AppVeyor build - jquery.

On AppVeyor it's always a clean build straight from the repository and is done through the command line.  It appears that the cause of the problem is due some javacript libraries are not being restored.

[2019-02-27 19:26] c0g1t8 commented on #2345
I thought I would provide an update on this issue.

- I can confirm that one of the primary reasons for **ScenarioTest** not passing is that the client side packages are not being restored fully on the AppVeyor build server.  I believe this is all related to using Node 10 by default. Moving forward this will be addressed #2346 - see notes there.
- On the two repeatable failure cases, the root caus

[2019-02-28 02:48] c0g1t8 commented on #2345
Finally figured it out.
![image](https://user-images.githubusercontent.com/23250332/53537833-18758e80-3ac0-11e9-9fc1-3accc9bd7463.png)
Will create a PR with the fix.

[2019-03-13 19:12] c0g1t8 commented on #2346
Did some investigation of the AppVeyor build server since this error message did not appear there - see #2351.  The build server is using Node 8.15.

Installing Node 8.15 solved this problem - installed [https://nodejs.org/download/release/v8.15.0/node-v8.15.0-x64.msi](https://nodejs.org/download/release/v8.15.0/node-v8.15.0-x64.msi).

In order to ensure that _Node 8.15_ was being used instead of

[2019-03-20 17:20] c0g1t8 commented on #2346
Did some [future proofing to support _Gulp 4_ ](https://github.com/HTBox/allReady/pull/2352/commits/16834681f15cd28e1c8c2d2ab34eca84089b9e13)which works in both _Node 10_ and _Node 8.15_.

Removed knockout-bootstrap - including cause the integration test to fail intermittently.  This needs to be researched further.

[2019-03-20 17:23] c0g1t8 commented on #2348
Fixed in #2352 in this [commit](https://github.com/HTBox/allReady/pull/2352/commits/ce202d16fbe8dcd3445c4091ba1ba411a60016b4).

[2019-03-20 17:31] c0g1t8 commented on #2344
Fixed in PR #2352 in this [commit ](https://github.com/HTBox/allReady/pull/2352/commits/228ae129f851a8a47376d51beb064a4f6175a817).

[2019-03-20 17:44] c0g1t8 commented on #2345
I've abandoned a possible fix in PR #2350 and closed.  I did learn a few things and included the fix as part of PR #2352.
- Upgraded the _Scenario.Test_ project to Canopy 2 and Core 2.1.
- Fixed a fewer minor bugs in the tests themselves

The tests are now passing.

After spending many hours on this issue, I think moving the testing to a testing framework with C#/Selenium would be a better long te

[2019-04-02 19:12] oneolddev commented on #2190
I've started implementing a browser based testing project implemented in C#/Selenium/XUnit/Core 2.1.  I'm hoping it will address the issues in the AllReady.ScenarioTest project - please see #2345.  The project takes no dependencies from any other projects in the AllReady solution.

[2019-04-02 19:30] oneolddev commented on #2345
I've done some further testing.  The underlying issue with this implementation appears to be _timing_.  An action on a browser page may not be complete before the next action on the browser page is executed.

In PR #2352, I had removed _knockout-bootstrap_ to address a warning caused by some jQuery version conflict.  It was suppose to be a temporary fix.
![image](https://user-images.githubusercont

[2019-07-20 09:03] Amathlai-softs commented on #1313
@stevejgordon I think there is a small thing which hasn't been discussed about.

When I create a .net core project(webpi) for exsmple , it runs under a console application :
![image](https://user-images.githubusercontent.com/2842123/61576738-3b8ff180-aae6-11e9-80f9-2964afe6c7e7.png)

And console apps doesn't have synchronization context.

So should I or shouldn't I use configureAwait in my webapi

[2019-10-18 10:21] ajaychoudhary16 commented on #340
Is this till open? I can try to fix it this weekend.

[2019-10-18 15:52] oneolddev commented on #340
@ajaychoudhary16 This project has been inactive for almost a year :).  It looked like there was a possibility that it would be revived by the project leads but I haven't seen anything announced.

**Note**: I've forked this repository because there were issues building the web app.  Take a look at https://github.com/c0g1t8/allReady/tree/BrowserTests. You'll find a buildable and testable version the

[2020-01-30 15:12] sidvenkat1988 commented on #1574
Can I work on this?

[2020-02-27 20:31] munna00mkv commented on #2242
i'll work on this issue

[2020-04-15 12:33] p0onage opened #2361 "Error when signing up to the mail list"
I was hoping to get added to the mail list and look out for any work I could support around COVID-19 and brining awareness but I was got an internal error when trying to sign up

![image](https://user-images.githubusercontent.com/6472111/79337527-8fb4ee80-7f1d-11ea-9129-43d6d6fe9eea.png)

[2020-04-15 12:57] jonparker commented on #2361
Hi @p0onage,
The allready project hasn't been active for quite a few months (at least new development hasn't been happening)

If you contact Richard Campbell directly via twitter he may be organising something that he needs help with.

[2020-04-15 12:59] jonparker commented on #2361
His Twitter is (@richcampbell): https://twitter.com/richcampbell?s=09

[2020-04-21 19:51] p0onage commented on #2361
Thanks @jonparker i'll drop a message

[2020-04-21 19:51] #2361 closed, assigned to nobody

[2020-04-28 15:59] Chibuikekenneth opened #2362 "Is This Repository still maintained??"

[2020-04-28 17:40] oneolddev commented on #2362
Sadly - no.

[2020-05-26 12:45] raina02 commented on #2115
I will work on this.

[2020-05-26 12:55] jonparker commented on #2115
Hi @raina02, this project is no longer active.

[2020-06-26 22:08] AbisoyeAlli commented on #1286
I can take this one

[2020-07-17 01:16] Code-Ebullient commented on #1445
Hi.. is this issue still open, i'll like to contribute to it. I'm asking because the last contribution was in 2018

[2020-07-31 16:41] oneolddev commented on #1445
This project is inactive 🙁

[2020-10-08 19:09] leoolessa opened #2368 "Visual studio problems to run C/C++"
Hi all,
Im facing a problem to run C and C++, I already installed the necessary extensions within Visual Studio Code and mingw I already made the path path and even then this error appears when I try to run the code this message appears
,, '"undefined"' is not recognized as an internal or external command, an operable program or a batch file.
`#include <stdio.h>
#include<stdlib.h>
int main(){
prin

[2020-10-12 21:32] #2368 closed, assigned to nobody

[2021-01-21 11:00] valdisiljuconoks commented on #2362
Who is last known maintainer of the project? I see potential in this project, but would be awesome to be sure that changes made are going to be considered at least for the merge ;)

Any chance to take over this?

[2021-01-21 12:14] jonparker commented on #2362
You could try contacting Richard Campbell on twitter.
https://twitter.com/richcampbell

On Thu, 21 Jan 2021, 10:00 pm valdis iljuconoks, <notifications@github.com>
wrote:

[2021-01-22 04:44] oneolddev commented on #2362
@valdisiljuconoks

The project was not buildable when I took a look at it in 2019. It took a while but I was able to get a successful build - see #2356. I was able to get a buildable system that passed the integration tests.  I learned a lot on this project 🙂.

The problem that this application intended to address likely still exists.   If the need still exists, I believe a _rethink_ of the implem

[2021-08-30 09:19] Ashish-BITS commented on #1345
I am working on this issue.

[2021-08-30 09:20] ashish-kj commented on #1345
Can I be assigned to work on this issue, it would be really great!!

[2021-08-30 10:02] ashish-kj commented on #1345
Issue 1345 has been addressed, please go through it and let me know.

[2021-10-27 05:37] aathil1231 commented on #1324
@erangell  yes... it's great!!!

[2021-10-27 07:44] aathil1231 opened #2373 "Is this repo maintain so far?"
Can anyone help :)

[2022-02-25 18:30] saerosV commented on #2362
I would also like to help, in case anyone intends to work on it again.

[2022-02-25 18:32] saerosV commented on #2373
@aathil1231 Unfortunately, no. See #2362.

[2022-02-25 18:59] RichardCampbell commented on #2362
At the moment, we don't have an organization that needs this particular app - if you know of someone who needs it, I'm happy to talk to them.

The most active project at the moment is TwoWeeksReady if you're looking to donate your time!

[2022-02-25 19:09] saerosV commented on #2362
I see. I'll do that, thanks for clarifying Richard!